.select-kustom {
	position: relative;
}

.select-kustom * {
	box-sizing: border-box;
	outline: none;
	font-family: sans-serif;
}

.select-kustom ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	width: 100%;
}

.select-kustom img {
	width: 100%;
}


/* item holder */

.select-kustom .item-holder {
	border: 1px solid #666666;
	padding: 4px 70px 4px 5px;
	overflow: hidden;
	height: 35px;
	position: relative;
	background-color: #ffffff;
}

.select-kustom label {
	position: absolute;
	top: 8px;
	left: 10px;
	font-size: 14px;
	color: #999;
}

.select-kustom .item-holder:before {
	content: "";
	position: absolute;
	color: #666666;
	right: 7px;
	top: 15px;
	width: 6px;
	height: 0px;
	border: 1px solid #999999;
	-ms-transform: rotate(-40deg);
	/* IE 9 */
	-webkit-transform: rotate(-40eg);
	/* Safari */
	transform: rotate(-40deg);
	/* Standard syntax */
}

.select-kustom .item-holder:after {
	content: "";
	position: absolute;
	color: #666666;
	right: 12px;
	top: 15px;
	width: 6px;
	height: 0px;
	border: 1px solid #999999;
	-ms-transform: rotate(40deg);
	/* IE 9 */
	-webkit-transform: rotate(40deg);
	/* Safari */
	transform: rotate(40deg);
	/* Standard syntax */
}

.select-kustom .item-holder li {
	float: left;
	padding: 5px 8px;
	background-color: #dddddd;
	font-size: 12px;
	margin-bottom: 15px;
	margin-right: 5px;
	display: block;
}

.select-kustom .item-holder .btn-close {
	color: #aaaaaa;
	font-size: 12px;
	margin-left: 5px;
	cursor: pointer;
}

.select-kustom .item-counter {
	padding: 5px 8px;
	background-color: #dddddd;
	font-size: 12px;
	position: absolute;
	top: 5px;
	right: 30px;
	cursor: pointer;
}

.select-kustom .show-less {
	cursor: pointer;
}

.select-kustom .show-less:after {
	content: none !important;
}


/* item list */

.select-kustom .item-list {
	border: 1px solid #cccccc;
	position: absolute;
	z-index: 1;
	top: 45px;
	bottom: 48px;
	left: 0;
	width: 100%;
	background: #ffffff;
	overflow: hidden;
	height: 360px;
}

.select-kustom .active-item {
	background-color: #eeeeee;
	position: relative;
	cursor: no-drop;
	color: #ccc;
}

.select-kustom .item-list li {
	padding: 10px;
	border-bottom: 1px solid #cccccc;
	border-top: none;
	border-left: none;
	border-right: none;
	display: inline-block;
	width: 100%;
	font-size: 14px;
}

.select-kustom .item-list li:last-child {
	padding: 10px;
	border: none;
}