.filter-setion{
    margin-top: 28px;

    @media (max-width:767px){
        margin-top: 14px;
    }

    .bootstrap-select{
        float:left;
        width:308px !important;
        margin:0 0 0 7px !important;
        font-size: 16px;
        font-family: 'lato', sans-serif;

        @media (max-width:979px){
            float:none;
            width:100% !important;
        }

        > .btn,
        > .btn:focus,
        > .btn:active,
        > .btn:hover,
        > .btn:visited,
        &.open > .btn,
        &.open > .btn:focus,
        &.open > .btn:active,
        &.open > .btn:hover,
        &.open > .btn:visited{
            font-size: $s25;
            min-height: 56px;
            padding-left: 20px;
            padding-right: 67px;

            @media (max-width:767px){
                font-size: $s15;
                min-height: 38px;
                padding-left: 10px;
                padding-right: 35px;
            }
        }

        &.btn-group {
            .btn {
                .caret {
                    width:27px;
                    height:17px;
                    background-image: url(images/ui/pages/company/list/icon_select.png);
                    background-size: 27px auto;
                    margin-top: -8px;
                    right: 20px;

                    @media (max-width:767px){
                        width:15px;
                        background-size: 15px auto;
                        right: 10px;
                    }
                }
            }
        }

        .dropdown-menu {
            font-size: 16px;

            > li{
                font-size: $s25;

                @media (max-width:767px){
                    font-size: $s15;
                }
            }
        }
    }

    .select-category{
        margin-left:0 !important;
    }

    .select-full{
        width:100% !important;
        margin-left:0 !important;
    }
}
