.filter-setion{
    .bootstrap-select{
        float:left;
        width:308px !important;
        margin:0 0 0 7px !important;
    }
    .select-category{
        margin-left:0 !important;
    }
    .select-full{
        width:100% !important;
        margin-left:0 !important;
    }
    .bootstrap-select > .btn,
    .bootstrap-select > .btn:focus,
    .bootstrap-select > .btn:active,
    .bootstrap-select > .btn:hover,
    .bootstrap-select > .btn:visited,
    .bootstrap-select.open > .btn,
    .bootstrap-select.open > .btn:focus,
    .bootstrap-select.open > .btn:active,
    .bootstrap-select.open > .btn:hover,
    .bootstrap-select.open > .btn:visited{
        font-size: $s25;
        height: 56px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width:979px){
    .filter-setion .bootstrap-select{float:none;width:100% !important;margin:10px 0 0 0 !important;}
}
