.link-social{
    margin:6px 0 0;
    padding:0;
    list-style: none;
    text-align: right;
    line-height: 0;

    li{
        display: inline-block;
        margin-left: 3.6%;

        &:first-child{
            margin-left: 0;
        }

        @media (min-width: 980px){
            margin-left: 3.1%;
        }

        @media (max-width:979px) {
            margin-left: 2%;
        }
    }

    .icon{
        display: inline-block;
        width: 37px;
        height: 37px;
        background: url(images/ui/pages/company/list/icon_socials.png) no-repeat;
        background-size: 37px;

        &.icon-facebook{
            background-position: 0 0;
        }
        &.icon-twitter{
            background-position: 0 -37px;
        }
        &.icon-linkedin{
            background-position: 0 -74px;
        }
        &.icon-instagram{
            background-position: 0 -111px;
        }
        &.icon-pinterest{
            background-position: 0 -148px;
        }
    }
}
