.link-social{
    margin:6px 0 0;
    padding:0;
    list-style: none;
    text-align: right;
    line-height: 0;

    li{
        display: inline-block;
        margin-left: 3.6%;

        &:first-child{
            margin-left: 0;
        }
    }

    .icon{
        display: inline-block;
        width: 37px;
        height: 37px;
        background: center center no-repeat;
        background-size: 37px;

        &.icon-facebook{
            background-image: url(images/ui/pages/company/list/icon_facebook.png);
        }
        &.icon-twitter{
            background-image: url(images/ui/pages/company/list/icon_twitter.png);
        }
        &.icon-linkedin{
            background-image: url(images/ui/pages/company/list/icon_linkedin.png);
        }
        &.icon-instagram{
            background-image: url(images/ui/pages/company/list/icon_instagram.png);
        }
        &.icon-pinterest{
            background-image: url(images/ui/pages/company/list/icon_pinterest.png);
        }
    }
}
