.modal-appointment{
    width: 428px;
}
.modal-appointment .modal-header{
    padding-top: 31px;
    padding-bottom: 20px;
}
.modal-appointment .modal-header .modal-title{
    font-size: $s21;
    line-height: 28px;
    color: #333232;
}
.modal-appointment .modal-header .modal-title span{
    color: $negative;
}
.modal-appointment .modal-body{
    padding-bottom: 9px;
    text-align: center;
}
.modal-appointment .btn-form,
.modal-appointment .btn-form:focus{
    height: 34px;
    margin-bottom: 13px;
    width: 75%;
    font-size: $s15;
}

@media(max-width: 767px){
    .modal-appointment{
        width: auto;
    }
    .modal-appointment .modal-content{
        border-radius: 5px;
    }
    .modal-appointment .modal-header{
        padding-top: 35px;
    }
    .modal-appointment .modal-body{
        padding-bottom: 0;
    }
    .modal-appointment .modal-footer{
        padding-bottom: 9px;
    }
}

@media(max-width: 374px){
    .modal-appointment .modal-content{
        border-radius: 2px;
    }
    .modal-appointment .modal-header{
        padding-top: 29px;
    }
    .modal-appointment .modal-header .modal-title{
        font-size: $s19;
        line-height: 25px;
    }
    .modal-appointment .btn-form,
    .modal-appointment .btn-form:focus{
        font-size: $s13;
        height: 30px;
        margin-bottom: 11px;
    }
    .modal-appointment .modal-footer{
        padding-bottom: 5px;
    }
}