.modal-boarding .txt-required {
    color: $negative;
    font-family: "Lato",sans-serif;
    font-weight: 700;
}
/* .btn */
.modal-boarding .btn-form:hover {
    color: $base;
    background: $white;
    border-width: 2px;
    font-weight: 700;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.11) !important;
}
.modal-boarding .btn-form,
.modal-boarding .btn-form:active,
.modal-boarding .btn-form:visited,
.modal-boarding .btn-form:focus {
    font-size: $h6;
    background: $white;
    font-family: Lato, sans-serif;
    font-weight: 400;
    width: 100%;
    height: 40px;
    border: 1px solid $base;
    color: $base;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none !important;
}
.modal-boarding .btn-agree:hover {
    color: $positive;
    background: $white;
    font-weight: 700;
    border-width: 2px;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.11) !important;
}
.modal-boarding .btn-agree,
.modal-boarding .btn-agree:active,
.modal-boarding .btn-agree:visited,
.modal-boarding .btn-agree:focus {
    border: 1px solid $positive;
    background: $white;
    color: $positive;
    box-shadow: none !important;
}
.modal-boarding .btn-neutral:hover {
    color: $neutral;
    background: $white;
    font-weight: 700;
    border-width: 2px;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.11) !important;
}
.modal-boarding .btn-neutral,
.modal-boarding .btn-neutral:active,
.modal-boarding .btn-neutral:visited,
.modal-boarding .btn-neutral:focus {
    border: 1px solid $neutral;
    background: $white;
    color: $neutral;
    box-shadow: none !important;
}
.modal-boarding .btn-disagree:hover {
    background: $negative;
    color: $white;
    font-weight: 700;
    box-shadow: 0 6px 4px 0 rgba(255, 80, 80, 0.11) !important;
}
.modal-boarding .btn-disagree,
.modal-boarding .btn-disagree:active,
.modal-boarding .btn-disagree:visited,
.modal-boarding .btn-disagree:focus {
    border: 1px solid $negative;
    background: $white;
    color: $negative;
    box-shadow: none !important;
}
.modal-boarding .btn[disabled],
.modal-boarding .btn[disabled]:hover,
.modal-boarding .btn[disabled]:active,
.modal-boarding .btn[disabled]:visited,
.modal-boarding .btn[disabled]:focus {
    background: $disabled;
    color: $white;
    font-weight: 700;
    box-shadow: none !important;
}

/* .bootstrap-select */
.modal-boarding .bootstrap-select {
    font-size: 16px;
}
.modal-boarding .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.modal-boarding .bootstrap-select.btn-group .no-results {
    margin: 0;
    padding: 10px;
}
.modal-boarding .bootstrap-select > .btn,
.modal-boarding .bootstrap-select > .btn:focus,
.modal-boarding .bootstrap-select > .btn:active,
.modal-boarding .bootstrap-select > .btn-default.disabled,
.modal-boarding .bootstrap-select > .btn-default.disabled:focus,
.modal-boarding .bootstrap-select > .btn-default.disabled:active {
    padding-left: 10px;
    text-align: left;
    outline: 0 none !important;
    font-size: $h6;
    border-radius: 0 !important;
    font-family: "Lato",sans-serif;
}
.modal-boarding .bootstrap-select.btn-group .btn .filter-option {
    color: $base;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
}
.modal-boarding .bootstrap-select > .dropdown-toggle {
    padding-right: 40px;
}
.modal-boarding .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
.modal-boarding .bootstrap-select.open > .dropdown-toggle.btn-default:focus {
    background: $white;
    border-color: $border;
}
.modal-boarding .bootstrap-select .btn-default.disabled,
.modal-boarding .bootstrap-select .btn-default.disabled:hover,
.modal-boarding .bootstrap-select .btn-default.disabled:focus,
.modal-boarding .bootstrap-select .btn-default.disabled:active {
    cursor: text;
}
.modal-boarding .bootstrap-select .dropdown-menu {
    margin-top: -1px;
    padding: 0;
    font-size: 16px;
    max-width: 100%;
    min-height: inherit !important;
    border-radius: 0;
}
.modal-boarding .bootstrap-select .dropdown-menu.inner {
    max-height: 175px !important;
}
.on-nicescroll .modal-boarding .bootstrap-select .dropdown-menu.inner {
    min-height: inherit !important;
    overflow-y: hidden !important;
    max-height: 100% !important;
}
.modal-boarding .bootstrap-select.dropup .dropdown-menu {
    margin-top: inherit;
    margin-bottom: -1px;
}
.modal-boarding .bootstrap-select .dropdown-menu > li > a {
    padding: 8px 10px;
    font-size: $h6;
    line-height: 120%;
}
.modal-boarding .dropdown-menu > li > a:hover,
.modal-boarding .dropdown-menu > .selected > a,
.modal-boarding .dropdown-menu > .selected > a:hover,
.modal-boarding .dropdown-menu > .selected > a:focus,
.modal-boarding .dropdown-menu > .active.selected > a,
.modal-boarding .dropdown-menu > .active.selected > a:hover,
.modal-boarding .dropdown-menu > .active.selected > a:focus {
    background-color: transparent;
    color: $positive;
}
.modal-boarding .bootstrap-select.btn-group .dropdown-menu li a span.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.modal-boarding .bootstrap-select .dropdown-menu.open {
    border-color: $border;
    box-shadow: none;
}
.modal-boarding .bootstrap-select.btn-group .btn .caret {
    border: 0 none;
    margin-top: -5px;
    width: 16px;
    height: 10px;
    background: url(images/boarding/icon-down-blue.png) center center no-repeat;
    background-size: 16px auto;
}
.modal-boarding .bootstrap-select.btn-group.open .btn .caret {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.modal-boarding .bootstrap-select.btn-group.dropup .btn .caret,
.modal-boarding .bootstrap-select.btn-group.dropup.open .btn .caret {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.modal-boarding .bootstrap-select.btn-group .btn.disabled .caret {
    background-image: url(images/icon_next_grey.png);
}
.on-nicescroll .modal-boarding .bootstrap-select .dropdown-menu {
    display: block;
    background-clip: padding-box;
    opacity: .3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -ms-transform-origin: top;
    -moz-transform-origin: top;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    max-height: none !important;
    min-height: auto !important;
    overflow: hidden !important;
}
.on-nicescroll .modal-boarding .bootstrap-select.open .dropdown-menu {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.on-nicescroll .modal-boarding .wrap-dropdown-menu-inner {
    max-height: 175px;
    overflow: hidden;
    margin-right: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
}
.modal-boarding .form-select .bootstrap-select > .btn,
.modal-boarding .form-select .bootstrap-select > .btn:focus,
.modal-boarding .form-select .bootstrap-select > .btn:active,
.modal-boarding .form-select .bootstrap-select > .btn-default.disabled,
.modal-boarding .form-select .bootstrap-select > .btn-default.disabled:focus,
.modal-boarding .form-select .bootstrap-select > .btn-default.disabled:active,
.modal-boarding .form-select .bootstrap-select.open > .dropdown-toggle.btn-default,
.modal-boarding .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
.modal-boarding .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:focus {
    background: $white;
    border-color: $border;
    height: 44px;
    border-radius: 0 !important;
    box-shadow: none;
}
.modal-boarding .form-select-readonly .bootstrap-select .bs-searchbox {
    height: 0;
    overflow: hidden;
    padding: 0;
}
.modal-boarding .form-select .bootstrap-select .dropdown-menu.open {
    border-color: $border;
}
.modal-boarding .form-select .bootstrap-select div.dropdown-menu {
    margin-top: -1px;
}
.modal-boarding .bootstrap-select .dropdown-menu.inner {
    max-height: 175px !important;
}

/* .modal-boarding */
.modal-boarding {
    color: $base;
}
.modal-boarding .modal-dialog {
    margin-top: 114px !important;
}
.modal-boarding .btn,
.modal-boarding .btn:hover,
.modal-boarding .btn:focus,
.modal-boarding .btn:visited,
.modal-boarding .btn:active {
    border-radius: 3px !important;
}
.modal-boarding .form-control,
.modal-boarding .form-control:focus {
    border-color: $border;
    font-size: $s15;
    color: $base;
    height: 44px;
    border-radius: 0 !important;
    box-shadow: none;
}
.modal-boarding textarea.form-control {
    height: 114px !important;
}
.modal-boarding .form-placeholder {
    position: relative;
    margin-bottom: 11px;
}
.modal-boarding .form-placeholder .form-control {
    background: transparent none repeat scroll 0 0;
    position: relative;
    z-index: 2;
}
.modal-boarding .form-placeholder .form-control:focus {
    background: $white;
}
.modal-boarding .form-label {
    font-size: $s17;
    font-weight: 400;
    color: #303030;
    margin-bottom: 10px;
    padding-top: 7px;
}
.modal-boarding .form-placeholder label {
    font-family: Lato,sans-serif;
    font-size: $s15;
    font-weight: 400;
    color: #9b9b9b;
    left: 0;
    line-height: 44px;
    padding: 0 12px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: 0;
}
.modal-boarding .modal-content {
    border-radius: 5px;
    box-shadow: none;
    border: 0 none;
}
.modal-boarding .modal-header {
    border-bottom: 0;
    text-align: center;
}
.modal-boarding .modal-footer {
    border-top: 0;
}
.modal-boarding .modal-footer .btn {
    height: 43px;
}

@media (max-width: 767px) {
    body.modal-open.boarding-open {
        padding-right: 0 !important;
        overflow-y: auto;
    }
    body.modal-open .modal-boarding{
        overflow-y: hidden;
    }
    .boarding-open .wrapper {
        position: fixed;
        top: 0;
        width: 100%;
        display: none;
    }
    .modal-boarding {
        position: relative;
        overflow: hidden;
    }
    .modal-boarding {
        padding: 0 !important;
        color: #303030;
        overflow-x: hidden;
    }
    .modal-boarding .hidden-xs {
        display: none !important;
    }

    .modal-boarding .visible-xs {
        display: block !important;
    }
    .modal-boarding .modal-dialog {
        width: inherit;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0 !important;
        margin-bottom: 0;
    }
    .modal-boarding .modal-content {
        border-radius: 0;
    }
    .modal-boarding .modal-header {
        height: 47px;
        border-top: 1px solid #c7c7c7;
        border-bottom: 1px solid #c7c7c7;
        background: #f5f5f5;
        padding: 0;
    }
    .modal-boarding .modal-title {
        font-size: $s15;
        line-height: 44px;
        font-weight: 400;
    }
    .modal-boarding .modal-footer .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .modal-boarding .modal-footer div[class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
    .modal-boarding .form-label {
        font-size: $h6;
        padding-top: 6px;
        margin-bottom: 7px;
    }
    .modal-boarding .form-control,
    .modal-boarding .form-control:focus {
        font-size: $s14;
        height: 39px;
    }
    .modal-boarding .chosen-container-single .chosen-single,
    .modal-boarding .chosen-container-multi .chosen-multiple,
    .modal-boarding .inner_input {
        font-size: 14px;
        height: 39px;
        line-height: 37px;
    }
    .modal-boarding textarea.form-control {
        height: 101px !important;
    }
    .modal-boarding .form-placeholder {
        margin-bottom: 9px;
    }
    .modal-boarding .form-placeholder label {
        font-size: $s14;
        line-height: 39px;
    }
    .modal-boarding .bootstrap-select.btn-group .btn .caret {
        right: 10px;
        background-image: url(images/boarding/icon-down-blue.png);
        background-size: 16px auto;
    }
    .modal-boarding .chosen-container-single .chosen-single div b,
    .modal-boarding .chosen-container-multi .chosen-multiple div b {
        right: 10px;
        background: url(images/boarding/icon-down-blue.png) no-repeat 8px center;
        background-size: 16px auto;
    }
    .modal-boarding .chosen-container-active.chosen-with-drop .chosen-single div b,
    .modal-boarding .chosen-container-active.chosen-with-drop .chosen-multiple div b {
        background-position: 10px center;
    }
    .modal-boarding .form-select .bootstrap-select > .btn,
    .modal-boarding .form-select .bootstrap-select > .btn:focus,
    .modal-boarding .form-select .bootstrap-select > .btn:active,
    .modal-boarding .form-select .bootstrap-select > .btn-default.disabled,
    .modal-boarding .form-select .bootstrap-select > .btn-default.disabled:focus,
    .modal-boarding .form-select .bootstrap-select > .btn-default.disabled:active,
    .modal-boarding .form-select .bootstrap-select.open > .dropdown-toggle.btn-default,
    .modal-boarding .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
    .modal-boarding .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:focus {
        height: 39px;
    }
    .modal-boarding .bootstrap-select .dropdown-menu > li > a {
        font-size: $s14;
    }
    .modal-boarding .modal-footer .btn {
        height: 39px;
    }
}

@media (max-width: 374px) {
    .modal-boarding {
        padding: 0 !important;
        color: #303030;
    }
    .modal-boarding .modal-content {
        border-radius: 0;
    }
    .modal-boarding .modal-header {
        height: 41px;
        border-top: 1px solid #c7c7c7;
        border-bottom: 1px solid #c7c7c7;
        background: #f5f5f5;
        padding: 0;
    }
    .modal-boarding .modal-title {
        font-size: $s13;
        line-height: 39px;
        font-weight: 400;
    }
    .modal-boarding .modal-footer .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .modal-boarding .modal-footer div[class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
    .modal-boarding .form-label {
        font-size: $s13;
        padding-top: 4px;
        margin-bottom: 4px;
    }
    .modal-boarding .form-control,
    .modal-boarding .form-control:focus {
        font-size: $s14;
        height: 33px;
    }
    .modal-boarding .chosen-container-single .chosen-single,
    .modal-boarding .chosen-container-multi .chosen-multiple,
    .modal-boarding .inner_input {
        font-size: 12px;
        height: 33px;
        line-height: 31px;
    }
    .modal-boarding textarea.form-control {
        height: 85px !important;
    }
    .modal-boarding .form-placeholder {
        margin-bottom: 8px;
    }
    .modal-boarding .form-placeholder label {
        font-size: $p;
        line-height: 33px;
    }
    .modal-boarding .bootstrap-select > .btn,
    .modal-boarding .bootstrap-select > .btn:focus,
    .modal-boarding .bootstrap-select > .btn:active,
    .modal-boarding .bootstrap-select > .btn-default.disabled,
    .modal-boarding .bootstrap-select > .btn-default.disabled:focus,
    .modal-boarding .bootstrap-select > .btn-default.disabled:active {
        font-size: $p;
    }
    .modal-boarding .bootstrap-select.btn-group .btn .caret {
        right: 8px;
        background-size: 12px auto;
    }
    .modal-boarding .chosen-container-single .chosen-single div b, .chosen-container-multi .chosen-multiple div b {
        background-size: 12px auto;
        background-position: 12px center;
    }
    .modal-boarding .chosen-container-active.chosen-with-drop .chosen-single div b,
    .modal-boarding .chosen-container-active.chosen-with-drop .chosen-multiple div b {
        background-position: 11px center;
    }
    .modal-boarding .chosen-container .chosen-results li,
    .modal-boarding .chosen-container-multi .chosen-choices li.search-choice {
        font-size: 12px;
    }
    .modal-boarding .form-select .bootstrap-select > .btn,
    .modal-boarding .form-select .bootstrap-select > .btn:focus,
    .modal-boarding .form-select .bootstrap-select > .btn:active,
    .modal-boarding .form-select .bootstrap-select > .btn-default.disabled,
    .modal-boarding .form-select .bootstrap-select > .btn-default.disabled:focus,
    .modal-boarding .form-select .bootstrap-select > .btn-default.disabled:active,
    .modal-boarding .form-select .bootstrap-select.open > .dropdown-toggle.btn-default,
    .modal-boarding .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
    .modal-boarding .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:focus {
        height: 33px;
    }
    .modal-boarding .bootstrap-select .dropdown-menu > li > a {
        font-size: $p;
    }
    .modal-boarding .modal-footer .btn {
        height: 33px;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px) {
    .modal-boarding .bootstrap-select.btn-group .btn .caret {
        background-image: url(images/boarding/icon-down-blue@2x.png);
    }
    .modal-boarding .bootstrap-select.btn-group .btn.disabled .caret {
        background-image: url(images/icon_next_grey@2x.png);
    }
    .modal-boarding .chosen-container-single .chosen-single div b,
    .modal-boarding .chosen-container-multi .chosen-multiple div b {
        background-image: url(images/boarding/icon-down-blue@2x.png);
    }
}
