.modal-boarding-profile {
    width: 544px;
    text-align: center;
}
.modal-boarding-profile .modal-header p {
    font-size: $h6;
    font-weight: 400;
}
.modal-boarding-profile .modal-body {
    padding-left: 0;
    padding-right: 0;
}
.modal-boarding-profile .modal-body div[class*="col-"] {
    width: 100%;
}
.modal-boarding-profile .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .79);
    transition: visibility 2s, opacity 2s;
    display: none;
}
.modal-boarding-profile .has-image .caption {
    display: block;
    visibility: hidden;
    opacity: 0;
}
.modal-boarding-profile .boarding-avatar .unit-loading .caption,
.modal-boarding-profile .boarding-avatar .unit-loading .edit,
.modal-boarding-profile .boarding-avatar .animated .caption {
    display: none;
}
.modal-boarding-profile .has-image:hover .caption {
    visibility: visible;
    opacity: 1;
}
.modal-boarding-profile .has-image:hover .edit {
    background: none;
}
.modal-boarding-profile .caption ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: 50%;
    margin-top: -36px;
}
.modal-boarding-profile .caption li {
    padding: 5px 0;
}
.modal-boarding-profile .caption a.link {
    font-weight: 700;
    font-size: $p;
    text-decoration: none;
}
.modal-boarding-profile .caption .link-change {
    color: $white;
}
.modal-boarding-profile .caption .link-remove {
    color: #ff6666;
}
.modal-boarding-profile .boarding-avatar {
    padding-bottom: 41px;
}
.modal-boarding-profile .boarding-avatar.crop-show {
    padding-bottom: 22px;
}
.modal-boarding-profile .boarding-avatar h2 {
    color: #3d3d3d;
    font-size: $s19;
    font-weight: 300;
    margin-bottom: 21px;
}
.modal-boarding-profile .boarding-avatar .frame {
    width: 183px;
    height: 183px;
    background: center center no-repeat;
    background-size: cover;
    border: 1px solid #f7f7f7;
    margin: 0 auto;
    position: relative;
}
.modal-boarding-profile .boarding-avatar .avatar.invisible {
    height: 0;
    overflow: hidden;
}
.modal-boarding-profile .boarding-avatar .default {
    width: 100%;
    height: 100%;
    /*background: url(images/boarding/img-upload-avatar.png) center center no-repeat;
    background-size: 133px auto;*/
    position: relative;
    cursor: pointer;
}
.modal-boarding-profile .boarding-avatar .default:before {
    background: url(images/boarding/icon_add.png) center top no-repeat;
    background-size: 30px auto;
    content:'Upload an image';
    display: block;
    padding: 38px 0;
    font-size: $s19;
    font-weight: 300;
    color: $positive;
    position: absolute;
    width: 100%;
    top:50%;
    margin-top: -30px;
    text-align: center;
}
.modal-boarding-profile .boarding-avatar .edit {
    width: 65px;
    height: 65px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(images/boarding/bg-edit.png) center center no-repeat;
    background-size: 65px auto;
}
.modal-boarding-profile .boarding-avatar .icon-edit {
    display: inline-block;
    margin-top: 38px;
    margin-left: 38px;
    width: 17px;
    height: 17px;
    background: url(images/boarding/icon-edit.png) center center no-repeat;
    background-size: 17px auto;
}
.modal-boarding-profile .boarding-avatar .has-image .default {
    display: none;
}
.modal-boarding-profile .boarding-avatar .croppie-section.invisible {
    height: 0;
}
.modal-boarding-profile .boarding-avatar .croppie-section footer .link {
    font-size: $p;
    text-decoration: none;
    margin: 0 15px 0 10px;
}
.modal-boarding-profile .boarding-avatar .croppie-section footer .link-cancel {
    color: #7a7a7a;
}
.modal-boarding-profile .boarding-avatar .croppie-section footer .link-crop {
    color: #21a3ea;
}
.modal-boarding-profile .boarding-banner .banner {
    width: 100%;
    height: auto;
}
.modal-boarding-profile .boarding-banner h2 {
    color: #3d3d3d;
    font-size: $s19;
    font-weight: 300;
    margin-bottom: 26px;
}
.modal-boarding-profile .boarding-banner .frame {
    height: 176px;
    background: center center no-repeat;
    background-size: cover;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    position: relative;
}
.modal-boarding-profile .boarding-banner .default {
    width: 100%;
    height: 100%;
    /*background: url(images/boarding/img-upload-avatar.png) center center no-repeat;
    background-size: 133px auto;*/
    position: relative;
    cursor: pointer;
}
.modal-boarding-profile .boarding-banner .default:before {
    background: url(images/boarding/icon_add.png) center top no-repeat;
    background-size: 30px auto;
    content:'Upload an image';
    display: block;
    padding: 38px 0;
    font-size: $s19;
    font-weight: 300;
    color: $positive;
    position: absolute;
    width: 100%;
    top:50%;
    margin-top: -30px;
    text-align: center;
}
.modal-boarding-profile .boarding-banner .has-image .default {
    display: none;
}
.modal-boarding-profile .modal-footer {
    padding-bottom: 31px;
    padding-right: 31px;
    padding-left: 33px;
}

@media (min-width: 768px){
    .modal-boarding-profile .modal-header {
        padding-top: 23px;
        padding-bottom: 20px;
    }
    .modal-boarding-profile .boarding-banner {
        margin-bottom: 30px;
    }
    .modal-boarding-profile .modal-title {
        font-size: $s27;
        font-weight: 300;
        line-height: 38px;
    }
}

@media (max-width: 767px){
    .modal-boarding-profile .modal-header {
        line-height: 100%;
    }
    .modal-boarding-profile .modal-title {
        line-height: 100%;
        margin-top: 6px;
        margin-bottom: 3px;
    }
    .modal-boarding-profile .modal-header p {
        font-size: $s13;
        font-weight: 300;
    }
    .modal-boarding-profile .modal-body {
        padding-top: 18px;
    }
    .modal-boarding-profile .boarding-avatar {
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 29px;
        margin-bottom: 21px;
    }
    .modal-boarding-profile .boarding-avatar h2 {
        font-size: $h6;
        margin-bottom: 18px;
    }
    .modal-boarding-profile .boarding-avatar .frame {
        border-radius: 5px;
        width: 144px;
        height: 144px;
        border-color: #b3b3b3;
        overflow: hidden;
    }
    /*.modal-boarding-profile .boarding-avatar .default {
        background-size: 111px auto;
    }*/
    .modal-boarding-profile .boarding-avatar .default:before {
        background-size: 25px auto;
        font-size: $h6;
        padding: 30px 0;
        margin-top: -26px;
    }
    .modal-boarding-profile .boarding-banner h2 {
        font-size: $h6;
        margin-bottom: 21px;
    }
    .modal-boarding-profile .boarding-banner .frame {
        height: 144px;
    }
    /*.modal-boarding-profile .boarding-banner .default {
        background-size: 111px auto;
    }*/
    .modal-boarding-profile .boarding-banner .default:before {
        background-size: 25px auto;
        font-size: $h6;
        padding: 30px 0;
        margin-top: -26px;
    }
    .modal-boarding-profile .modal-footer {
        padding: 19px 16px 14px;
        height: 72px;
    }
}

@media (max-width: 374px){
    .modal-boarding-profile .modal-header {
        line-height: 100%;
    }
    .modal-boarding-profile .modal-title {
        line-height: 100%;
        margin-top: 5px;
        margin-bottom: 2px;
    }
    .modal-boarding-profile .modal-header p {
        font-size: $s11;
        font-weight: 300;
    }
    .modal-boarding-profile .modal-body {
        padding-top: 15px;
    }
    .modal-boarding-profile .boarding-avatar {
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 24px;
        margin-bottom: 16px;
    }
    .modal-boarding-profile .boarding-avatar h2 {
        font-size: $s14;
        margin-bottom: 16px;
    }
    .modal-boarding-profile .boarding-avatar .frame {
        border-radius: 5px;
        width: 123px;
        height: 123px;
        border-color: #b3b3b3;
    }
    /*.modal-boarding-profile .boarding-avatar .default {
        background-size: 111px auto;
    }*/
    .modal-boarding-profile .boarding-banner h2 {
        font-size: $s14;
        margin-bottom: 18px;
    }
    .modal-boarding-profile .boarding-banner .frame {
        height: 122px;
    }
    /*.modal-boarding-profile .boarding-banner .default {
        background-size: 111px auto;
    }*/
    .modal-boarding-profile .modal-footer {
        height: 59px;
        padding: 14px 16px 12px;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px) {
    .modal-boarding-profile .boarding-avatar .default:before {
        background-image: url(images/boarding/icon_add@2x.png);
    }
    .modal-boarding-profile .boarding-avatar .edit {
        background-image: url(images/boarding/bg-edit@2x.png);
    }
    .modal-boarding-profile .boarding-avatar .icon-edit {
        background-image: url(images/boarding/icon-edit@2x.png);
    }
    .modal-boarding-profile .boarding-banner .default:before {
        background-image: url(images/boarding/icon_add@2x.png);
    }
}
