.modal-intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: Lato,sans-serif;
    font-size: $s33;
    font-weight: 300;
    height: 58px;
    text-align: center;
    background: #fff;
}

.modal-intro img {
    width: 301px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .modal-intro {
        height: 46px;
        padding-top: 12px;
        position: relative;
    }

    .modal-intro img {
        width: 79px;
    }
}

@media (max-width: 374px) {
    .modal-intro {
        height: 37px;
        padding-top: 11px;
        position: relative;
    }

    .modal-intro img {
        width: 68px;
    }
}
