.modal-cancel .modal-header {
    background: #C74124;
    padding: 15px;
    color: $white;
    text-align: left;
}

.modal-cancel .modal-header .close {
    width: 25px;
    height: 25px;
    background-image: url(images/icons/btn_close_red.png);
    top: -13px;
    right: -13px;
}

.modal-cancel .modal-header .close span {
    display: none;
}

.modal-cancel .modal-header .modal-title {
    margin: 0;
}

.modal-cancel .modal-body h2 {
    font: 26px;
    line-height:30px;
    font-family: $primary;
    font-weight: 800;
    margin: 12px 0;
}

.modal-cancel .modal-body h4 {
    font: 16px/20px $primary;
    font-weight: 700;
    margin: 0 0 15px;
}

.modal-cancel .modal-body h4 time {
    display: inline-block;
    margin: 0 0 0 10px;
}

.modal-cancel .modal-body a.info-cancel {
    color: #ff6666;
}

.modal-cancel .modal-body .icon-cancel {
    margin: 0 5px -5px 0;
}

.modal-cancel .modal-body .btn-form,
.modal-cancel .modal-body .btn-form:hover {
    border: 0 none;
    width: auto;
    padding: 0 45px;
    font: 22px/44px $primary;
    font-weight: 500;
}

@media (max-width: 767px) {
    .modal-cancel .modal-header .close {
        width: 22px;
        height: 22px;
        background-image: url(images/icons/icon_close_white.png) !important;
        top: 22px;
        right: 20px;
    }
}

@media (max-width:480px) {
    .modal-cancel .modal-header .modal-title {
        font-size: 24px !important;
        font-family: $primary;
        font-weight: 500;
    }
    .modal-cancel .modal-body .btn-form,
    .modal-cancel .modal-body .btn-form:hover {
        padding: 0 15px;
    }
}