.modal-checkout {
    width: 760px;
}

.modal-checkout .modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.modal-checkout .modal-header {
    background: #ba337a;
    color: $white;
}

.modal-checkout .modal-header .modal-title {
    font-size: 26px;
    line-height:30px;
    font-family: $primary;
    font-weight: 500;
}

.modal-checkout .modal-header p {
    font-size: 16px;
    line-height:20px;
    font-family: $primary;
    font-weight: 500;
}

.modal-checkout .modal-header .close {
    background-image: url(images/icons/icon_close_purple.png);
}

.modal-checkout .modal-header .close span {
    display: none;
}

.modal-checkout .modal-body {
    font-size: 20px;
    line-height:24px;
    font-family: $primary;
    font-weight: 500;
}

.checkout-time-complete {
    float: right;
    font-size: 20px;
    line-height:38px;
    font-family: $primary;
    font-weight: 600;
    margin: -10px 0 0;
}

.checkout-time-complete time {
    display: inline-block;
    font: 34px/38px $third;
    margin: 0 0 0 10px;
    position: relative;
    bottom: -5px;
}

.checkout-fieldset {
    background: url(images/icons/icon_redarrow.png) no-repeat center 20px;
}

.checkout-col {
    float: left;
    width: 50%;
}

.checkout-title {
    min-height: 80px;
    text-align: center;
    padding: 0 40px 0 0;
}

.checkout-title h3 {
    font-size: 26px;
    line-height:30px;
    font-family: $primary;
    font-weight: 800;
}

.checkout-title address {
    margin: 5px 0 0;
}

.checkout-row {
    margin: 10px 0;
}

.checkout-info {
    min-height: 370px;
    border-right: 2px solid #ababab;
    padding: 0 20px 0 0;
}

.checkout-info h4 {
    font-size: 20px;
    line-height:24px;
    font-family: $primary;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.checkout-info .link-change {
    font-size: 14px;
    line-height:18px;
    font-family: $primary;
    font-weight: 500;
    color: #cccccc;
}

.checkout-info label {
    font-size: 16px;
    line-height:20px;
    font-family: $primary;
    font-weight: 500;
}

.checkout-info .form-control {
    width: 240px;
    border: 1px solid #ababab;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.checkout-confirm {
    margin: 20px 0;
}

.checkout-confirm .bootstrap-checkbox > button.btn {
    width: 24px;
    padding: 0;
    margin: -5px 0 0;
}

.checkout-confirm [class^="cb-icon-"],
.checkout-confirm [class*=" cb-icon-"] {
    background: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ba337a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.checkout-confirm .bootstrap-checkbox button.btn > span.cb-icon-check,
.checkout-confirm .bootstrap-checkbox.disabled button.btn:hover > span.cb-icon-check,
.checkout-confirm .bootstrap-checkbox.disabled button.btn:active > span.cb-icon-check {
    background: #ba337a;
}

.checkout-confirm-title {
    font-size: 20px;
    line-height:24px;
    font-family: $primary;
    font-weight: 500;
}

.checkout-user {
    margin: 20px;
}

.checkout-user label {
    color: #f06373;
}

.checkout-user .form-control {
    width: 240px;
    border: 1px solid #ababab;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.checkout-time-date {
    font-size: $s18;
    line-height: 20px;
    font-family: $primary;
    font-weight: 500;
}

.checkout-time-date time {
    display: inline-block;
    font-size: $s18;
    line-height:20px;
    font-family: $primary;
    font-weight: 800;
}

.checkout-select {}

.checkout-select .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.checkout-select .bootstrap-select > .btn {
    height: 42px;
    border: 1px solid #333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: $h6;
    line-height:20px;
    font-family: $primary;
    font-weight: 500;
    padding-left: 0;
}

.checkout-select .bootstrap-select.btn-group .btn .filter-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 93%;
    margin-left: 12px;
}

.checkout-select .bootstrap-select.btn-group .btn .caret {
    width: 23px;
    height: 13px;
    background: url(images/icons/icon_dropdown.png) center center no-repeat;
    border: 0 none;
    margin-top: -5px;
}

.checkout-time-left {
    padding: 25px 0;
    text-align: center;
}

.checkout-time-left .icon-time-left {
    margin: 0 5px -15px 0;
}

.checkout-time-left time {
    margin: 5px 0 0;
    font-size: $s26;
    line-height:41px;
    font-family: $primary;
    font-weight: 400;
}

.icon-time-left {
    display: inline-block;
    width: 41px;
    height: 41px;
    background: url(images/icons/icon_clock.png);
}

.checkout-price {
    min-height: 80px;
    font-size: $h5;
    line-height:24px;
    font-family: $primary;
    font-weight: 500;
    padding: 0 40px;
}

.checkout-price .table-css {
    width: 100%;
}

.checkout-price .table-cell {
    padding: 0 5px;
}

.checkout-price .price-details {
    width: 66%;
    text-align: right;
}

.checkout-price .price-total {
    text-align: right;
}

.checkout-price .price-total span {
    display: inline-block;
    padding: 0 0 0 10px;
    border-top: 1px solid #ababab;
}

.checkout-price .price-type {
    width: 34%;
    color: #cccccc;
}

.checkout-price h3 {
    font-size: 28px;
    line-height:32px;
    font-family: $primary;
    font-weight: 800;
}

.checkout-price p {
    margin: 0 0 10px;
}

.alert-error {
    color: #ff0000 !important;
}

.checkout-payment {
    padding: 10px 0 10px 15px;
}

.checkout-payment header {
    padding: 0 0 0 60px;
    margin: 0 0 5px;
    font-size: 16px;
    line-height:20px;
    font-family: $primary;
    font-weight: 500;
}

.checkout-method {
    padding: 0 0 0 60px;
    height: 44px;
    margin: 0 0 5px;
    position: relative;
}

.checkout-method .icon-method {
    display: inline-block;
    width: 48px;
    height: 44px;
    background: center center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.checkout-method .icon-promo {
    background-image: url(images/icons/icon_promo_black.png);
}

.checkout-method .icon-gift-card {
    background-image: url(images/icons/icon_giftcard_black.png);
}

.checkout-method .icon-credit {
    background-image: url(images/icons/icon_creditcard.png);
}

.checkout-method .icon-cash {
    background-image: url(images/icons/icon_payinperson_black.png);
}

.checkout-method .btn-method,
.checkout-method .btn-method:hover {
    height: 44px;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
}

.checkout-method .btn-credit {
    background: #4A90E2;
}

.checkout-method .form-control {
    height: 44px;
    border: 1px solid #ababab;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
    line-height:44px;
    font-family: $primary;
    font-weight: 500;
}

.checkout-method .txt-promo {
    padding-right: 87px;
}

.checkout-method .txt-giftcart {
    padding-right: 92px;
}

.checkout-method .btn-promo,
.checkout-method .btn-promo:hover{
    width: 75px;
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
}

.checkout-method .btn-giftcard,
.checkout-method .btn-giftcard:hover {
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
}

.checkout-method .discount-applied {
    height: 44px;
    line-height: 44px;
    border: 1px solid #ababab;
    text-align: center;
    color: #ababab;
}

.checkout-gift-card {
    padding: 25px 0 10px 15px;
}

.checkout-gift-card .checkout-method {
    padding: 0;
}

.method-confirm {
    padding: 0;
}

.checkout-balance {
    height: 85px;
    text-align: center;
}

.checkout-balance h3 {
    font-size: 20px;
    line-height:24px;
    font-family: $primary;
    font-weight: 400;
}

.checkout-balance p {
    margin: 5px 0 0;
}

.checkout-balance-use {
    padding: 10px 0 0;
}

.checkout-back {
    padding: 10px 0 0;
    text-align: center;
}

.checkout-back .link-back {
    color: $black;
}

.checkout-back .icon-back {
    margin: 0 5px -2px 0;
}

.checkout-back .link-nothanks {
    color: #96be3d;
}

.checkout-back .icon-nothanks {
    margin: 0 0 -2px 5px;
}

.icon-back {
    display: inline-block;
    width: 9px;
    height: 14px;
    background: url(images/icons/icon_goback.png);
}

.icon-nothanks {
    display: inline-block;
    width: 9px;
    height: 14px;
    background: url(images/icons/icon_nothanks.png);
}

.checkout-applied {
    padding: 30px 0 10px 15px;
}

.checkout-applied .icon-gift-card {
    background-image: url(images/icons/icon_giftcard_grey.png);
}

.checkout-promo-applied .icon-promo {
    background-image: url(images/icons/icon_promo_grey.png);
}

.checkout-promo-applied .txt-promo,
.checkout-promo-applied .btn-promo {
    display: none;
}

.checkout-rule {
    padding: 20px;
    font-size: 16px;
    line-height:20px;
    font-family: $primary;
    font-weight: 500;
    color: #969696;
}

.checkout-rule header {
    color: #F06373;
}

@media (max-width: 767px) {
    .modal-checkout {
        width: auto;
    }
    .checkout-fieldset {
        background: none;
    }
    .checkout-col {
        width: 100%;
    }
    .checkout-info {
        border: 0 none;
        padding: 0;
    }
    .checkout-select .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
    }
    .checkout-select .bootstrap-select.btn-group .btn .filter-option {
        width: 95%;
    }
    .checkout-confirm-title {
        display: block;
        padding: 0 0 20px;
    }
    .checkout-price {
        padding: 0;
    }
    .checkout-payment {
        padding: 10px 0 10px;
    }
    .checkout-gift-card {
        padding: 25px 0 10px;
    }
}
