.modal-details {
    width: 349px;
}
.modal-details .modal-content{
    border-radius: 0;
    border:1px solid #898989;
}
.modal-details .modal-header{
    border-bottom: 1px solid rgba(110, 110, 110, .4);
    padding:0;
}
.modal-details .modal-header button.close{
    background-image: url(images/ui/modals/details/icon_close.png);
    background-size: 19px auto;
}
.modal-details .modal-header .modal-title{
    font-size: $s17;
    font-family: $primary;
    line-height: 44px;
}
.modal-details .modal-body{
    padding-top: 11px;
    padding-left: 15px;
    padding-right: 15px;
}
.modal-details .modal-body h5{
    font-size: $h5;
    font-family: $primary;
    font-weight: 700;
    margin-bottom: 7px;
}
.modal-details .modal-body p{
    font-size: $p;
    line-height: 15px;
    margin-bottom: 14px;
    color: #282828;
}
.modal-details .modal-body p span + small{
    margin: 0;
}
.modal-details .modal-body p small{
    font-size: 10px;
    margin: 0 5px;
}
.modal-details .modal-body p .off{
    color: #ff6969;
}
.modal-details .modal-body p .price{
    color: #80bc1f;
}
.modal-details .modal-footer{
    padding-top: 7px;
    padding-bottom: 12px;
}
.modal-details .modal-footer .btn{
    width: 100%;
    font-size: $s17;
    height: 44px;
}

@media (max-width: 767px) {
    .modal-details {
        width: auto;
    }
    .modal-details .modal-header .modal-title{
        font-size: $h6;
        line-height: 41px;
    }
    .modal-details .modal-body{
        padding-top: 10px;
    }
    .modal-details .modal-body h5{
        font-size: $s19;
    }
    .modal-details .modal-body p{
        line-height: 14px;
    }
    .modal-details .modal-footer{
        padding-top: 0;
        margin-top: -5px;
        padding-bottom: 21px;
    }
    .modal-details .modal-footer .btn{
        height: 42px;
        font-size: $h6;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .modal-details .modal-header button.close{
        background-image: url(images/ui/modals/details/icon_close@3x.png);
    }
}
