.modal-form {
    width: 430px;
}
.modal-form .modal-header {
    text-align: center;
    border: 0 none;
    padding: 15px 25px 10px;
}
.modal-form .modal-header .modal-title {
    font-size: 30px;
    line-height:40px;
    font-family: $primary;
    color: #232323;
    font-weight: 300;
    margin: 15px 0;
}
.modal-form .modal-header h4 {
    font-size: 16px;
    line-height:22px;
    font-family: $primary;
    font-weight: 700;
    margin: 0 0 10px;
    color: #8ab21e;
}
.modal-form .modal-header .close {
    width: 33px;
    height: 33px;
    /*background-image: url(images/icons/btn_close_black.png);
    background-size: 33px auto;*/
    top: 5px;
    right: 5px;
    z-index: 1;
}
.modal-form .modal-header .close span {
    display: none;
}
.modal-form .modal-body {
    font: 16px/20px $primary;
    font-weight: 500;
    padding: 5px 25px 20px;
}
.modal-form .modal-body .btn-facebook,
.modal-form .modal-body .btn-facebook:hover {
    display: block;
    font: 16px/40px $primary;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}
.modal-form .modal-body .btn-green:hover {
    border-width: 1px;
}
.modal-form .modal-body .form-control {
    height: 40px;
    font-weight: 500;
    margin: 0 0 10px;
    border-radius: 3px;
    border: 1px solid $border;
    font-size: 14px;
    line-height:20px;
    font-family: $primary;
    color: #434343;
}
.modal-form .modal-body textarea.form-control {
    height: 65px;
    resize: none;
    line-height: 20px;
}
.modal-form .modal-body .form-read-only {
    border: 0 none;
    background: transparent;
    box-shadow: none;
}
.modal-form .modal-body .link-form {
    margin: 5px 0 15px;
    color: #ABABAB;
}
.modal-form .modal-body .link-form a {
    color: #96be3d;
}
.modal-form .modal-body .btn-form,
.modal-form .modal-body .btn-form:hover {
    font: 16px/40px $primary;
    font-weight: 400;
}
.modal-form .modal-body .alert-error {
    padding: 10px 0 0;
}
.modal-form .modal-footer {
    border: 0 none;
    font: 16px/20px $primary;
    font-weight: 500;
    position: relative;
    padding: 0px 0 20px;
    margin: 0 15px;
}
.modal-form hr {
    border: 0 none;
    border-top: 1px solid #ABABAB;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.modal-form .modal-footer .link-form {
    color: #ABABAB;
    color: #929292;
    font-size: $p;
}
.modal-form .modal-footer .link-form a {
    color: #96be3d;
    margin: 0;
    font-weight:900;
}
.modal-form .form-or {
    text-align: center;
    position: relative;
    padding: 20px 0;
}
.modal-form .form-or hr {
    border: 0 none;
    border-top: 1px solid #ABABAB;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 20px;
    left: 20px;
    z-index: 8;
}
.modal-form .form-or span {
    background: $white;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    z-index: 9;
    font: 16px/20px $primary;
    font-weight: 500;
}
.modal-form .modal-body .btn-facebook {
    display: block;
    font: 16px/40px $primary;
    color: #3c579d;
    text-decoration: none;
    background-color: $white;
    border: 1px solid #3c579d;
    border-radius: 3px;
    font-weight: 400;
}
.modal-form .modal-header .join-title {
    margin: 0;
}
.modal-form .form-or {
    padding: 15px 0;
}
.modal-form .facebook_icon_login {
    display: inline;
    position: relative;
    padding-left: 25px
}
.modal-form .facebook_icon_login:after {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    background-image: url(images/icons_2016/facebook_icon_login.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 2px;
    left: 0px;
}

@media (max-width: 767px) {
    .modal-form {
        width: auto;
    }
    .modal-form .modal-header .close {
        width: 33px;
        height: 33px;
        /*background-image: url(images/icons/btn_close_black.png) !important;*/
    }
    .modal-form .modal-footer .link-form a {
        margin: 0;
    }
}

@media (max-width: 480px) {
    .modal-form .modal-header .modal-title {
        font-size: 28px;
        line-height: 32px;
    }
    .modal-form .modal-header h4 {
        font-size: 18px;
        line-height: 22px;
    }
    .modal-form .modal-footer {
        font-size: 12px;
        line-height: 16px;
    }
    .modal-form .modal-body .form-control {
        font-size: 14px;
    }
    .modal-form .modal-body textarea.form-control {
        height: 100px;
    }
}
