.modal-notes{
    width: 370px !important;
}
.modal-notes .modal-header h4 span{
    display: block;
    font-size: 16px;
    font-weight: 400;
}
.modal-notes .row{
    margin-left: -8px;
    margin-right: -8px;
}
.modal-notes div[class*="col-"]{
    padding-left: 8px;
    padding-right: 8px;
}

@media(max-width: 767px){
    .modal-notes{
        width: auto !important;
    }
}