.modal-package .modal-header {
    background: #97BC47;
}

.modal-package .modal-header .close {
    background-image: url(images/icons/icon_close_green.png);
}

.modal-package .modal-header .close span {
    display: none;
}

.modal-package .modal-footer .btn-purchase {
    border: 0 none;
    width: auto;
    padding: 0 45px;
    font: 22px/44px $primary;
    font-weight: 500;
}

.modal-package .modal-footer .package-price {
    float: left;
}

@media (max-width: 767px) {
    .modal-package .modal-footer .package-price {
        float: none;
        margin: 0 0 20px;
        text-align: center;
    }
}

@media (max-width:540px) {
    .modal-package .modal-footer .package-price {
        font-size: 30px;
        line-height: 45px;
    }
}