.modal-repeat{
    width: 428px;
}
.modal-repeat .modal-header{
    padding-top: 31px;
    padding-bottom: 23px;
}
.modal-repeat .modal-header .modal-title{
    font-size: $s21;
    line-height: 28px;
    color: #333232;
}
.modal-repeat .modal-header .modal-title span{
    color: $negative;
}
.modal-repeat .modal-body{
    padding-bottom: 20px;
    text-align: center;
}
.modal-repeat .modal-body p{
    font-size: $h6;
    line-height: 19px;
    color: rgba(51, 50, 50, .7);
    margin-bottom: 47px;
}
.modal-repeat .btn-form,
.modal-repeat .btn-form:focus{
    height: 34px;
    margin-bottom: 15px;
    width: 75%;
    font-size: $s15;
}
.modal-repeat .panel-group{
    width: 75%;
    margin:0 auto 15px;
}
.modal-repeat .panel-group .panel{
    box-shadow: none;
    border: 1px solid $negative;
    border-radius: 4px;
}
.modal-repeat .panel-default > .panel-heading{
    background: transparent;
    border:0 none;
    padding: 0;
}
.modal-repeat .panel-title{
    font-size: 16px;
    font-family: $second;
}
.modal-repeat .panel-title > a{
    text-decoration: none;
    display: block;
    font-size: $s15;
    color: $negative;
    font-weight: 400;
    height: 34px;
    line-height: 32px;
    border-radius: 4px;
    position: relative;
}
.modal-repeat .panel-title > a:after{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 37px;
    height: 100%;
    background: url(images/ui/modals/appointment-repeat/icon_down@3x.png) center center no-repeat;
    background-size: 17px auto;
}
.modal-repeat .panel-title > a[aria-expanded="true"]:after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
}
.modal-repeat .panel-default > .panel-heading + .panel-collapse > .panel-body{
    border: 0 none;
}
.modal-repeat .collapse{
    display: block;
    visibility: hidden;
    height: 0;
}
.modal-repeat .collapse.in{
    visibility: visible;
    height: inherit;
}
.modal-repeat .panel-body{
    padding: 0 15px;
    text-align: left;
    line-height: 20px;
}
.modal-repeat .panel-body .cb-custom{
}
.modal-repeat .cb-mark:checked ~ .cb-label{
    font-weight: 700;
    color: $negative;
}
.modal-repeat .cb-mark ~ .cb-label{
    font-size: $s13;
    font-weight: 400;
    margin: 0;
}
.modal-repeat .cb-mark:checked ~ .cb-label:before {
    background-image: url(images/ui/modals/appointment-repeat/icon_checked@3x.png);
}
.modal-repeat .cb-mark ~ .cb-label:before {
    width: 21px;
    height:21px;
    background: url(images/ui/modals/appointment-repeat/icon_check@3x.png) center center no-repeat;
    background-size: 21px auto;
    top: 2px;
}
.modal-repeat .panel-body footer{
    text-align: right;
    padding: 3px 0 4px;
}
.modal-repeat .panel-body footer a{
    text-decoration: none;
    color: $negative;
    font-size: $p;
    font-weight: 700;
}

@media(max-width: 767px){
    .modal-repeat{
        width: 100%;
    }
    .modal-repeat .modal-header{
        padding-top: 35px;
        padding-bottom: 40px;
    }
    .modal-repeat .modal-body{
        padding-bottom: 0;
    }
    .modal-repeat .modal-body p{
        margin-bottom: 68px;
    }
    .modal-repeat .modal-footer{
        padding-bottom: 9px;
    }
}

@media(max-width: 374px){
    .modal-repeat .modal-header{
        padding-top: 29px;
        padding-bottom: 30px;
    }
    .modal-repeat .modal-header .modal-title{
        font-size: $s19;
        line-height: 25px;
    }
    .modal-repeat .modal-body p{
        margin-bottom: 57px;
        font-size: $s14;
    }
    .modal-repeat .panel-group{
        margin-bottom: 11px;
    }
    .modal-repeat .panel-title > a{
        font-size: $s13;
        height: 30px;
        line-height: 28px;
    }
    .modal-repeat .btn-form,
    .modal-repeat .btn-form:focus{
        font-size: $s13;
        height: 30px;
    }
    .modal-repeat .modal-footer{
        padding-bottom: 5px;
    }
}