
.modal-request {}

.modal-request {
    width: 490px;
}

.modal-request .modal-body {
    padding: 40px;
}

.checkout-request-title {
    font: 16px/20px $primary;
    font-weight: 400;
    color: #ba337a;
    text-align: center;
    padding: 0 0 20px;
}

.checkout-request-title p span {
    font: 14px/18px $primary;
    font-weight: 400;
    color: #f06373;
}

.modal-request .checkout-info {
    min-height: inherit;
    border: 0 none;
    padding: 0;
}

.modal-request .checkout-title {
    padding: 0;
}

.modal-request .checkout-gift-card {
    padding: 0;
}

.modal-request .checkout-back {
    padding: 10px 0;
}

.link-share {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.link-share li {
    display: inline-block;
    width: 37px;
    margin: 10px 15px;
}