.modal-service {
    width: 349px;
}
.modal-service .modal-content{
    border-radius: 0;
    border:1px solid #898989;
}
.modal-service .modal-header{
    border-bottom: 1px solid rgba(110, 110, 110, .4);
    padding:0;
}
.modal-service .modal-header button.close{
    background-image: url(images/ui/modals/service/icon_close.png);
    background-size: 19px auto;
}
.modal-service .modal-header .modal-title{
    font-size: $s17;
    font-family: $primary;
    line-height: 44px;
}
.modal-service .modal-body{
    padding-top: 11px;
    padding-left: 15px;
    padding-right: 15px;
}
.modal-service .modal-body h5{
    font-size: $h5;
    font-family: $primary;
    font-weight: 700;
    margin-bottom: 7px;
}
.modal-service .modal-body p{
    font-size: $p;
    line-height: 15px;
    margin-bottom: 14px;
}
.modal-service .modal-body p del{
    color: $disabled;
}
.modal-service .modal-body p span{
    color: $negative;
}
.modal-service .modal-footer{
    padding-top: 7px;
    padding-bottom: 12px;
}
.modal-service .modal-footer .btn{
    width: 100%;
    font-size: $s17;
    height: 44px;
}

@media (max-width: 767px) {
    .modal-service {
        width: auto;
    }
    .modal-service .modal-header .modal-title{
        font-size: $h6;
        line-height: 41px;
    }
    .modal-service .modal-body{
        padding-top: 10px;
    }
    .modal-service .modal-body h5{
        font-size: $s19;
    }
    .modal-service .modal-body p{
        line-height: 14px;
    }
    .modal-service .modal-footer{
        padding-top: 0;
        margin-top: -5px;
        padding-bottom: 21px;
    }
    .modal-service .modal-footer .btn{
        height: 42px;
        font-size: $h6;
    }
}