.modal-signout{
    width: 370px;
}
.modal-signout .modal-header h4 span{
    display: block;
    font-size: 16px;
    font-weight: 400;
}
.modal-signout .row{
    margin-left: -8px;
    margin-right: -8px;
}
.modal-signout div[class*="col-"]{
    padding-left: 8px;
    padding-right: 8px;
}

@media(max-width: 767px){
    .modal-signout{
        width: auto;
    }
}