.modal-terms {
    width: 700px;
}
.modal-terms .modal-content{
    border-radius: 10px;
    border:0 none;
    overflow: hidden;
}
.modal-terms .modal-header {
    padding: 0 0 20px;
    text-align: left;
}
.modal-terms button.close{
    z-index: 2;
}

.modal-terms .nav-tabs {
    padding: 0;
    border: 0 none;
    background: url(images/ui/modals/terms/bg_header_popup.jpg) right bottom no-repeat;
}

.modal-terms .nav-tabs > li {
    margin: 0;
    width: 33.33%;
    overflow: hidden;
    height: 76px;
}

.modal-terms .nav-tabs > li > a {
    float: none;
    display: block;
    padding: 10px 0 8px;
    text-align: center;
    font-size: $s13;
    line-height:28px;
    font-family: $primary;
    font-weight: 700;
    color: $white;
    margin: 0;
}
.modal-terms .nav-tabs > li > a,
.modal-terms .nav-tabs > li > a:hover{
    background: none transparent;
    border: 0 none;
}
.modal-terms .nav-tabs > li > a .icon{
    display: block;
    margin: 0 auto -15px;
    width: 42px;
    height: 47px;
    background: center center no-repeat;
}
.modal-terms .nav-tabs > li > a .icon-term {
    background-image: url(images/ui/modals/terms/header_icon_terms.png) ;
    background-size: 42px auto;
}
.modal-terms .nav-tabs > li > a .icon-privacy {
    background-image: url(images/ui/modals/terms/header_icon_privacy.png);
    background-size: 38px auto;
}
.modal-terms .nav-tabs > li > a .icon-service {
    background-image: url(images/ui/modals/terms/header_icon_services.png);
    background-size: 38px auto;
}
.modal-terms .nav-tabs > li.active > a,
.modal-terms .nav-tabs > li.active > a:hover,
.modal-terms .nav-tabs > li.active > a:focus {
    color: rgb(153, 189, 37);
    box-shadow: none;
    background: none transparent;
    border: 0 none;
}
.modal-terms .nav-tabs > li.active > a .icon-term {
    background-image: url(images/ui/modals/terms/header_icon_terms_hover.png) ;
}
.modal-terms .nav-tabs > li.active > a .icon-privacy {
    background-image: url(images/ui/modals/terms/header_icon_privacy_hover.png);
}
.modal-terms .nav-tabs > li.active > a .icon-service {
    background-image: url(images/ui/modals/terms/header_icon_services_hover.png);
}

.modal-terms .tab-content {
    margin: 0 15px;
    padding: 24px 10px 0;
    font-size: $s14;
    line-height:22px;
    font-family: $primary;
    font-weight: 400;
    color: #313131;
}

.modal-terms .tab-content h3 {
    font-size: $s14;
    line-height:24px;
    font-family: $primary;
    font-weight: 700;
    margin: 0 0 20px;
}
.modal-terms .tab-content p {
    margin-bottom: 15px;
}

.modal-terms .tab-pane {
    position: relative;
    height: 418px;
    overflow: hidden;
}

.on-nicescroll .modal-terms .tab-pane .wrap-dropdown-menu-inner{
    height: 418px;
}
.on-nicescroll .modal-terms .tab-content{
    padding-right: 0;
}
.on-nicescroll .modal-terms .tab-pane .scroll-content{
    padding-right: 10px;
}

.modal-terms .ui-tabs-panel h3 {
    font-size: $h5;
    line-height:24px;
    font-family:$primary;
    font-weight: 800;
    margin: 20px 0 15px;
}

.modal-terms .ui-tabs-panel p {
    margin: 0 0 15px;
}

.modal-terms .ui-tabs-panel p a {
    color: Blue;
}

@media (max-width: 767px){
    .modal-terms {
        width: auto;
    }

    .modal-terms .tab-content {
        border: 0 none;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .modal-terms .nav-tabs > li > a .icon-term {
        background-image: url(images/ui/modals/terms/header_icon_terms@2x.png) ;
    }
    .modal-terms .nav-tabs > li > a .icon-privacy {
        background-image: url(images/ui/modals/terms/header_icon_privacy@2x.png);
    }
    .modal-terms .nav-tabs > li > a .icon-service {
        background-image: url(images/ui/modals/terms/header_icon_services@2x.png);
    }
    .modal-terms .nav-tabs > li.active > a .icon-term {
        background-image: url(images/ui/modals/terms/header_icon_terms_hover@2x.png) ;
    }
    .modal-terms .nav-tabs > li.active > a .icon-privacy {
        background-image: url(images/ui/modals/terms/header_icon_privacy_hover@2x.png);
    }
    .modal-terms .nav-tabs > li.active > a .icon-service {
        background-image: url(images/ui/modals/terms/header_icon_services_hover@2x.png);
    }
}