.modal-terms-offer .modal-body {
    height: 365px;
    padding: 20px;
    overflow-y: auto;
}

.modal-terms-offer .modal-footer {
    text-align: center;
    border: 0 none;
}

.modal-terms-offer .modal-footer a {
    font: 24px/28px $primary;
    font-weight: 500;
    color: #333;
}