.modal-terms {
    width: 700px;
}

.modal-terms .modal-header {
    padding: 0;
    text-align: left;
}

.modal-terms .ui-tabs {
    padding: 0;
    border: 0 none;
    background: none transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.modal-terms .ui-tabs-nav {
    padding: 0;
    border: 0 none;
    background: none #333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.modal-terms .ui-tabs .ui-tabs-nav li {
    margin: 0;
    width: 33.33%;
}

.modal-terms .ui-tabs .ui-tabs-nav .ui-state-default,
.modal-terms .ui-tabs .ui-tabs-nav .ui-state-hover,
.modal-terms .ui-tabs .ui-tabs-nav .ui-state-active {
    background: none transparent;
    border: 0 none;
}

.modal-terms .ui-tabs .ui-tabs-nav .ui-state-default .ui-tabs-anchor {
    float: none;
    display: block;
    padding: 30px 0;
    text-align: center;
    font: 24px/28px $primary;
    font-weight: 800;
    color: #ABABAB;
}

.modal-terms .ui-tabs .ui-tabs-nav .ui-state-default .ui-tabs-anchor span {
    /*  display: block;
                height: 32px;
                background: url(images/icons/arrow_down_2.png) center center no-repeat;
                margin: 10px 0 0; */
}

.modal-terms .ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor {
    color: $white;
}

.modal-terms .ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor span {
    /*  display: block;
                height: 32px;
                background: url(images/icons/arrow_down_3.png) center center no-repeat;
                margin: 10px 0 0;*/
}

.modal-terms .ui-tabs-panel {
    margin: 0 15px;
    padding: 20px 10px;
    border: 2px solid #ABABAB;
    font: 20px/24px $primary;
    font-weight: 500;
    overflow-y: auto;
}

.modal-terms .ui-tabs-panel h3 {
    font: 20px/24px $primary;
    font-weight: 800;
    margin: 20px 0 15px;
}

.modal-terms .ui-tabs-panel p {
    margin: 0 0 15px;
}

.modal-terms .ui-tabs-panel p a {
    color: Blue;
}

.modal-terms .ui-tabs-panel .scroll-bar {
    height: 310px;
    overflow-y: auto;
}

.modal-terms .modal-header .close {
    width: 35px;
    height: 35px;
    background-image: url(images/icons/btn_close_white.png);
    top: -15px;
    right: -15px;
}
.modal-terms .ui-tabs-panel {
    border: none;
}

.modal-terms .ui-tabs-nav {
    background-image: url(images/icons_2016/bg_header_popup.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 8px 8px 0 0;
    border: none;
}

.modal-terms .ui-tabs-panel {
    font: 14px/24px $primary;
}

.modal-terms .ui-tabs-panel h3 {
    font: 15px/24px $primary;
    font-weight: 800;
    margin: 20px 0 15px;
}

.modal-terms .ui-tabs .ui-tabs-nav .ui-state-default .ui-tabs-anchor {
    float: none;
    display: block;
    padding: 15px 0 5px;
    text-align: center;
    font: 14px/28px $primary;
    color: $white;
}
@media (max-width: 767px) {
    .modal-terms .ui-tabs-nav {
        background: transparent;
        border-top: 1px solid #333;
    }
    .modal-terms .ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor {
        color: #333;
    }
    .modal-terms .ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor span {
        /* background-image: url(images/icons/arrow_down.png); */
    }
    .modal-terms .ui-tabs-panel {
        border: 0 none;
    }
    .modal-terms .ui-tabs-panel .scroll-bar {
        height: auto;
    }
    .modal-terms .ui-tabs .ui-tabs-nav .ui-state-default .ui-tabs-anchor {
        font-size: 18px;
    }
}

@media (max-width:480px) {
    .modal-terms .ui-tabs .ui-tabs-nav .ui-state-default .ui-tabs-anchor {
        font-size: 12px;
        line-height: 16px;
    }
    .modal-terms .ui-tabs-panel h3,
    .modal-terms .ui-tabs-panel {
        font-size: 14px;
        line-height: 18px;
    }
}