.manage-invoices .form-control{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.invoices-table {
    display: none;
}

.invoices-table .btn-download {
    float: right;
    background: #b4b4b4;
    color: $white;
    width: 125px;
    height: 30px;
    font-family: $primary;
    font-weight: 600;
    font-size: $s15;
    padding: 0;
    text-transform: capitalize;
}

.invoices-table form {
    text-align: right;
    margin: 0 !important;
    height: 50px;
}

.invoices-table form legend {
    text-align: left;
    margin-bottom: 25px !important;
}

.invoices-table form .filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.invoices-table form .filter-list > li {
    float: left;
    margin: 0 0 10px 20px;
}

.invoices-table form .filter-list > li:first-child {
    margin-left: 0;
}
 .invoices-table form .filter-list > li:last-child {
    width:150px;
}

.invoices-table .form-label {
    margin: 9px 10px 9px 0 !important;
    float: left;
    font-weight: normal;
    font-family: $primary;
    font-weight: 400;
}

.invoices-table .form-timepicker {
    float: left;
    display: block;
    width: 171px;
}

.invoices-table .bootstrap-datetimepicker-widget {
    width: auto;
}

.invoices-table .fixed-table-toolbar .search {
    margin-bottom: 30px;
    width:220px;
}

.invoices-table .bootstrap-table {
    min-width: 1034px;
}

.invoices-table .bootstrap-table .form-control{
    background:url(../images/icon_search_black.png) 8px center no-repeat;
    background-size:19px auto;
    padding-left: 31px;
}

.invoices-table .table {
    border-color: #f0f0f0;
}

.invoices-table .table > thead > tr > th {
    background: #f0f0f0;
    font-weight: normal;
    border: 0 none;
    font-family: $primary;
    font-weight: 600;
    text-transform: uppercase;
    font-size: $s13;
}

.invoices-table .page-list {
    display: none;
}

.invoices-table .fixed-table-container {
    border: 0 none;
}

.invoices-table .table-hover > tbody > tr:hover {
    background: transparent;
}

.invoices-table .table > tbody > tr.odd {
    border-top: 1px solid #f0f0f0;
    background:$white;
}

.invoices-table .table > tbody > tr.even {
    background: #fafafa;
    border-top: 1px solid #f0f0f0;
}
.invoices-table .table > tbody > tr.odd td,
.invoices-table .table > tbody > tr.even td{
    line-height:100%;
    padding-top:2px !important;
    padding-bottom:2px !important;
}

.invoices-table .table > tbody > tr.detail-view td{
    padding:0 0 4px;
    border:0 none;
    line-height:100%;
}
.invoices-table .table > tbody > tr.detail-view td.cols-print{
    vertical-align:bottom;
    padding-bottom:4px;
}
.invoices-table .table > tbody > tr.detail-view table{
    width:100%;
}
.invoices-table .table > tbody > tr.detail-view table th{
    width:12%;
    padding:0 8px;
}
.invoices-table .table > tbody > tr.detail-view table  td{
    padding:0 8px;
}
    .invoices-table .table > tbody > tr.even + .detail-view {
        background: #fafafa;
    }

.invoices-table thead th .both {
    background-image: url(../images/icon_sort.png);
    background-size: 36px auto;
}

.invoices-table thead th .asc {
    background-image: url(../images/icon_asc.png);
}

.invoices-table thead th .desc {
    background-image: url(../images/icon_desc.png);
}

.invoices-table tbody td {
    border: 0 none;
}

.invoices-table td[class*="cols-"] > span {
    font-size: $s14;
    font-family: $primary;
    font-weight: 400;
    border: 0 none;
}

.invoices-table tbody td small {
    display: block;
    font-size: $p;
    font-family: $primary;
    font-weight: 400;
}

.invoices-table .cols-datetime {
    width: 12%;
}

.invoices-table .cols-client {
    width: 22%;
}

.invoices-table .cols-service {
    width: 22%;
}

.invoices-table .cols-staff {
    width: 22%;
}

.invoices-table .cols-amount {
    width: 11%;
}

.invoices-table .cols-status {
    width: 11%;
}

.invoices-table .glyphicon {
    float: right;
    width: 20px;
    height: 20px;
    background: url(../images/icon_next_black.png) center center no-repeat;
    background-size: 7px auto;
}

.invoices-table .glyphicon-minus {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

    .invoices-table .glyphicon-minus:before {
        content: '';
    }

.invoices-table .glyphicon-plus {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

    .invoices-table .glyphicon-plus:before {
        content: '';
    }

.invoices-table .detail-view table {
}

    .invoices-table .detail-view table th {
        font-size: $p;
        font-family: $primary;
        font-weight: 600;
        font-weight: normal;
    }

    .invoices-table .detail-view table td > span {
        font-size: $p;
        font-family: $primary;
        font-weight: 400;
    }

.invoices-table .detail-view .btn-print {
    background: #b4b4b4;
    font-size: $p;
    font-family: $primary;
    font-weight: 500;
    color:$white;
}

.invoices-table .detail-view .icon {
    position: relative;
    bottom: -1px;
}

.invoices-table .pagination-info {
    font-size: $s14;
    font-family: $primary;
    font-weight: 500;
}

.invoices-table .fixed-table-pagination .pagination a {
    font-size: $s14;
    font-family: $primary;
    font-weight: 500;
    color: $base;
}

    .invoices-table .fixed-table-pagination .pagination .disabled a,
    .invoices-table .fixed-table-pagination .pagination .disabled a:hover{
        opacity: .5;
        background:transparent;
    }

.invoices-table .pagination > li > a {
    border: 0 none;
    padding: 0 6px;
    margin: 0 0 0 5px;
}

.invoices-table .pagination > .active > a,
.invoices-table .pagination > .active > span,
.invoices-table .pagination > .active > a:hover,
.invoices-table .pagination > .active > span:hover,
.invoices-table .pagination > .active > a:focus,
.invoices-table .pagination > .active > span:focus {
    background: #dcdcdc;
}

@media (max-width: 1023px) {
    .invoices-table form {
        height: auto;
    }

    .invoices-table form .filter-list {
        float: none;
    }
}