.manage-invoices .kuyam-content .kuyam-form{
    padding: 1px 0;
}
.manage-invoices .form-control{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.manage-invoices .btn-download {
    float: right;
    background: transparent;
    color: $positive;
    width: auto;
    height: 30px;
    font-family: $primary;
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    box-shadow: none;
}
.manage-invoices .btn-download .text{
    font-size: $s15;
}
.manage-invoices .btn-download .icon{
    background-image: url(../images/dashboard/manage/icon-download.png);
    width: 11px;
    height: 11px;
    margin-right: 10px;
}
.manage-invoices .invoices-table{
    width: 100% !important;
}

.manage-invoices .legend {
    text-align: left;
    margin-bottom: 15px;
}

.manage-invoices .filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    text-align: right;
    height: 0;
}

.manage-invoices .filter-list > li {
    float: left;
    margin: 0 0 10px 38px;
}

.manage-invoices .filter-list > li.li-from {
    margin-left: 0;
}
.manage-invoices .filter-list > li.li-payment {
    width:169px;
    margin-left: 40px;
}
.manage-invoices .filter-list .li-search,
.manage-invoices .filter-list .li-btn{
    display: none;
}
.manage-invoices .filter-list .li-search .form-control{
    background:url(../images/dashboard/manage/icon-search.png) right center no-repeat;
    background-size:36px auto;
    padding-right: 36px;
}
.manage-invoices .bootstrap-select > .btn,
.manage-invoices .bootstrap-select > .btn:focus,
.manage-invoices .bootstrap-select > .btn:active,
.manage-invoices .bootstrap-select > .btn-default.disabled,
.manage-invoices .bootstrap-select > .btn-default.disabled:focus,
.manage-invoices .bootstrap-select > .btn-default.disabled:active{
    padding-left: 16px;
}

.manage-invoices .form-label {
    margin: 9px 10px 9px 0;
    float: left;
    font-weight: normal;
    font-family: $primary;
    font-weight: 400;
    font-size: $s15;
}
.manage-invoices .txt-date{
    background-image: url(../images/dashboard/manage/icon_calendar_blue_2.png);
    background-size: 35px auto;
}

.manage-invoices .form-timepicker {
    float: left;
    display: block;
    width: 150px;
}

.manage-invoices .bootstrap-datetimepicker-widget {
    width: auto;
}

.manage-invoices .fixed-table-toolbar .search {
    margin-bottom: 29px;
    width:305px;
    margin-top: 0;
}

.manage-invoices .bootstrap-table {
    min-width: 1034px;
}

.manage-invoices .bootstrap-table .form-control{
    background:url(../images/dashboard/manage/icon-search.png) right center no-repeat;
    background-size:36px auto;
    padding-right: 36px;
}

.manage-invoices .table {
    border-color: #f0f0f0;
    border-radius: 0;
}

.manage-invoices .table > thead > tr > th {
    background: #f0f0f0;
    font-weight: normal;
    border: 0 none;
    font-family: $primary;
    font-weight: 600;
    font-size: $s13;
}

.manage-invoices .table > thead > tr > th:first-letter{
    text-transform: uppercase;
}
.manage-invoices .table > thead > tr > th:first-child{
    border-radius:0;
}

.manage-invoices .page-list {
    display: none;
}

.manage-invoices .fixed-table-container {
    border: 0 none;
    border-radius: 0;
}

.manage-invoices .table-hover > tbody > tr:hover {
    background: transparent;
}

.manage-invoices .table > tbody > tr.odd {
    border-top: 1px solid #f0f0f0;
    background:$white;
}

.manage-invoices .table > tbody > tr.even {
    background: #fafafa;
    border-top: 1px solid #f0f0f0;
}
.manage-invoices .table > tbody > tr.odd td,
.manage-invoices .table > tbody > tr.even td{
    line-height:100%;
    padding-top:4px !important;
    padding-bottom:4px !important;
    vertical-align: middle;
}

.manage-invoices .table > tbody > tr.detail-view td{
    padding:0 0 4px;
    border:0 none;
    line-height:100%;
}
.manage-invoices .table > tbody > tr.detail-view td.cols-print{
    vertical-align:bottom;
    padding-bottom:4px;
}
.manage-invoices .table > tbody > tr.detail-view table{
    width:100%;
}
.manage-invoices .table > tbody > tr.detail-view table th{
    width:12%;
    padding:3px 8px 2px;
}
.manage-invoices .table > tbody > tr.detail-view table  td{
    padding:0 8px;
}
    .manage-invoices .table > tbody > tr.even + .detail-view {
        background: #fafafa;
    }

.manage-invoices thead th .both {
    background-image: url(../images/dashboard/manage/icon_sort.png);
    background-size: 36px auto;
}

.manage-invoices thead th .asc {
    background-image: url(../images/dashboard/manage/icon_asc.png);
}

.manage-invoices thead th .desc {
    background-image: url(../images/dashboard/manage/icon_desc.png);
}

.manage-invoices tbody td {
    border: 0 none;
}

.manage-invoices td[class*="cols-"] > span {
    font-size: $s14;
    font-family: $primary;
    font-weight: 400;
    border: 0 none;
}

.manage-invoices tbody td small {
    display: block;
    font-size: $p;
    font-family: $primary;
    font-weight: 400;
}

.manage-invoices .cols-datetime {
    width: 12%;
}

.manage-invoices .cols-client {
    width: 22%;
}

.manage-invoices .cols-service {
    width: 22%;
}

.manage-invoices .cols-staff {
    width: 22%;
}

.manage-invoices .cols-amount {
    width: 11%;
}

.manage-invoices .cols-status {
    width: 11%;
}

.manage-invoices .glyphicon {
    float: right;
    width: 20px;
    height: 20px;
    background: url(../images/dashboard/icon-select-blue.png) center center no-repeat;
    background-size: 13px auto;
}

.manage-invoices .glyphicon-minus {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.manage-invoices .glyphicon-minus:before {
    content: '';
}


.manage-invoices .glyphicon-plus:before {
    content: '';
}

.manage-invoices .detail-view table {
}

.manage-invoices .detail-view table th {
    font-size: $p;
    font-family: $primary;
    font-weight: 600;
    font-weight: normal;
}

.manage-invoices .detail-view table td > span {
    font-size: $p;
    font-family: $primary;
    font-weight: 400;
}

.manage-invoices .detail-view .btn-print {
    background: transparent;
    font-size: $s15;
    font-family: $primary;
    font-weight: 700;
    color:$positive;
    box-shadow: none;
}

.manage-invoices .detail-view .icon {
    position: relative;
    bottom: -1px;
    width: 11px;
    height: 11px;
    background-image: url(../images/dashboard/manage/icon-print.png);
    background-size: 11px auto;
    margin-right: 5px;
}

.manage-invoices .pagination-info {
    font-size: $s14;
    font-family: $primary;
    font-weight: 500;
}

.manage-invoices .fixed-table-pagination .pagination,
.manage-invoices .fixed-table-pagination .pagination-detail{
    margin-top: 88px;
}
.manage-invoices .fixed-table-pagination .pagination .pagination{
    margin-top: 6px;
}
.manage-invoices .pagination > li > a {
    padding: 0 6px;
    margin: 0 0 0 5px;
}

.manage-invoices .invoices-mobile{
    display: none;
}
.manage-invoices .invoices-mobile header > ul{
    margin:0;
    padding:0;
    list-style: none;
}
.manage-invoices .invoices-mobile header > ul > li:first-child{
    float: left;
    font-size: $s15;
    color:#303030;
    padding-top: 13px;
    padding-bottom: 10px;
}
.manage-invoices .invoices-mobile header > ul > li:last-child{
    float: right;
}
.manage-invoices .invoices-mobile header > ul > li .form-label{
    float: left;
    font-style: italic;
    font-size: $s11;
    color: #9b9b9b;
    margin: 15px 5px 0;
}
.manage-invoices .invoices-mobile .form-select{
    float: left;
    margin-top: 10px;
}
.manage-invoices .invoices-mobile .form-select .bootstrap-select > .btn,
.manage-invoices .invoices-mobile .form-select .bootstrap-select > .btn:focus,
.manage-invoices .invoices-mobile .form-select .bootstrap-select > .btn:active,
.manage-invoices .invoices-mobile .form-select .bootstrap-select > .btn-default.disabled,
.manage-invoices .invoices-mobile .form-select .bootstrap-select > .btn-default.disabled:focus,
.manage-invoices .invoices-mobile .form-select .bootstrap-select > .btn-default.disabled:active,
.manage-invoices .invoices-mobile .form-select .bootstrap-select.open > .dropdown-toggle.btn-default,
.manage-invoices .invoices-mobile .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
.manage-invoices .invoices-mobile .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:focus{
    border:0 none;
    padding-left: 0;
    padding-right: 22px;
    height: 30px;
    color: #1c1c1c;
    font-style: italic;
    font-weight: 700;
}
.manage-invoices .invoices-mobile .bootstrap-select.btn-group .dropdown-toggle .caret{
    background-image: url(../images/dashboard/manage/icon-select-sort.png);
    width: 17px;
    height:9px;
    margin-top: -4px;
    right: 0;
    background-size: 17px auto;
}
.manage-invoices .invoices-mobile .bootstrap-select.btn-group .dropdown-menu{
    max-width: 200px;
    left: inherit;
    right: 0;
    border: 0 none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.manage-invoices .invoices-mobile footer{
    text-align: center;
}

@media (max-width: 1023px) {
    .manage-invoices .kuyam-content .kuyam-form{
        padding: 0;
    }
    .manage-invoices .legend{
        text-align: center;
    }
    .manage-invoices p{
        text-align: center;
        font-size: $s13;
        font-weight: 400;
        color:#9b9b9b;
        margin-top: 22px;
        margin-bottom: 20px;
    }
    .manage-invoices .filter-form{
        padding-bottom: 16px;
        border-bottom: 4px solid #f5f5f5;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .manage-invoices .filter-list {
        float: none;
        margin-left: -4px;
        margin-right: -4px;
        height: auto;
    }
    .manage-invoices .filter-list > li{
        padding-left: 4px;
        padding-right: 4px;
        margin-left:0;
        margin-bottom: 7px;
        width: 50%;
        position: relative;
    }
    .manage-invoices .filter-list .form-label{
        position: absolute;
        left: 14px;
        color:#9b9b9b;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 39px;
    }
    .manage-invoices .txt-date{
        background-color: transparent;
        padding-left: 49px;
        padding-right: 49px;
        text-align: center;
    }
    .manage-invoices .filter-list > li.li-payment{
        margin-left:0;
        width: 50%;
    }
    .manage-invoices .filter-list .li-search{
        display: block;
        width: 100%;
        visibility: hidden;
    }
    .manage-invoices .filter-list .li-btn{
        display: block;
    }
    .manage-invoices .form-timepicker{
        width: 100%;
    }
    .manage-invoices .fixed-table-container{
        display: none;
    }
    .manage-invoices .fixed-table-toolbar .search{
        position: absolute;
        top:0;
        width: 100%;
    }

    .manage-invoices .invoices-mobile{
        display: block;
    }
    .manage-invoices .bootstrap-select .dropdown-menu > li > a{
        font-size: $s14;
    }
}

@media (max-width: 374px){
    .manage-invoices .filter-list .form-label{
        font-size: $s11;
        line-height: 33px;
    }
    .manage-invoices .txt-date{
        padding-left: 40px;
        padding-right: 40px;
    }
    .manage-invoices .bootstrap-select .dropdown-menu > li > a{
        font-size: $s11;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){

}