.manage-invoices .kuyam-content .kuyam-form{
    padding: 1px 0;
}
.manage-invoices .form-control{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.manage-invoices .btn-download {
    float: right;
    background: transparent;
    color: $positive;
    width: auto;
    height: 30px;
    font-family: $primary;
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    box-shadow: none;
}
.manage-invoices .btn-download .text{
    font-size: $s15;
}
.manage-invoices .btn-download .icon{
    background-image: url(../images/dashboard/manage/icon-download.png);
    width: 11px;
    height: 11px;
    margin-right: 10px;
}
.manage-invoices .invoices-table{
    display: none;
}

.manage-invoices .legend {
    text-align: left;
    margin-bottom: 15px;
}
.manage-invoices form {
    text-align: right;
    height: 0;
}

.manage-invoices form .filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.manage-invoices form .filter-list > li {
    float: left;
    margin: 0 0 10px 38px;
}

.manage-invoices form .filter-list > li:first-child {
    margin-left: 0;
}
.manage-invoices form .filter-list > li:last-child {
    width:169px;
    margin-left: 40px;
}
.manage-invoices .bootstrap-select > .btn,
.manage-invoices .bootstrap-select > .btn:focus,
.manage-invoices .bootstrap-select > .btn:active,
.manage-invoices .bootstrap-select > .btn-default.disabled,
.manage-invoices .bootstrap-select > .btn-default.disabled:focus,
.manage-invoices .bootstrap-select > .btn-default.disabled:active{
    padding-left: 16px;
}

.manage-invoices .form-label {
    margin: 9px 10px 9px 0 !important;
    float: left;
    font-weight: normal;
    font-family: $primary;
    font-weight: 400;
    font-size: $s15;
}
.manage-invoices .txt-date{
    background-image: url(../images/dashboard/manage/icon_calendar_blue_2.png);
    background-size: 35px auto;
}

.manage-invoices .form-timepicker {
    float: left;
    display: block;
    width: 150px;
}

.manage-invoices .bootstrap-datetimepicker-widget {
    width: auto;
}

.manage-invoices .fixed-table-toolbar .search {
    margin-bottom: 29px;
    width:305px;
    margin-top: 0;
}

.manage-invoices .bootstrap-table {
    min-width: 1034px;
}

.manage-invoices .bootstrap-table .form-control{
    background:url(../images/dashboard/manage/icon-search.png) right center no-repeat;
    background-size:36px auto;
    padding-right: 36px;
}

.manage-invoices .table {
    border-color: #f0f0f0;
}

.manage-invoices .table > thead > tr > th {
    background: #f0f0f0;
    font-weight: normal;
    border: 0 none;
    font-family: $primary;
    font-weight: 600;
    font-size: $s13;
}

.manage-invoices .table > thead > tr > th:first-letter{
    text-transform: uppercase;
}

.manage-invoices .page-list {
    display: none;
}

.manage-invoices .fixed-table-container {
    border: 0 none;
}

.manage-invoices .table-hover > tbody > tr:hover {
    background: transparent;
}

.manage-invoices .table > tbody > tr.odd {
    border-top: 1px solid #f0f0f0;
    background:$white;
}

.manage-invoices .table > tbody > tr.even {
    background: #fafafa;
    border-top: 1px solid #f0f0f0;
}
.manage-invoices .table > tbody > tr.odd td,
.manage-invoices .table > tbody > tr.even td{
    line-height:100%;
    padding-top:4px !important;
    padding-bottom:4px !important;
    vertical-align: middle;
}

.manage-invoices .table > tbody > tr.detail-view td{
    padding:0 0 4px;
    border:0 none;
    line-height:100%;
}
.manage-invoices .table > tbody > tr.detail-view td.cols-print{
    vertical-align:bottom;
    padding-bottom:4px;
}
.manage-invoices .table > tbody > tr.detail-view table{
    width:100%;
}
.manage-invoices .table > tbody > tr.detail-view table th{
    width:12%;
    padding:0 8px;
}
.manage-invoices .table > tbody > tr.detail-view table  td{
    padding:0 8px;
}
    .manage-invoices .table > tbody > tr.even + .detail-view {
        background: #fafafa;
    }

.manage-invoices thead th .both {
    background-image: url(../images/dashboard/manage/icon_sort.png);
    background-size: 36px auto;
}

.manage-invoices thead th .asc {
    background-image: url(../images/dashboard/manage/icon_asc.png);
}

.manage-invoices thead th .desc {
    background-image: url(../images/dashboard/manage/icon_desc.png);
}

.manage-invoices tbody td {
    border: 0 none;
}

.manage-invoices td[class*="cols-"] > span {
    font-size: $s14;
    font-family: $primary;
    font-weight: 400;
    border: 0 none;
}

.manage-invoices tbody td small {
    display: block;
    font-size: $p;
    font-family: $primary;
    font-weight: 400;
}

.manage-invoices .cols-datetime {
    width: 12%;
}

.manage-invoices .cols-client {
    width: 22%;
}

.manage-invoices .cols-service {
    width: 22%;
}

.manage-invoices .cols-staff {
    width: 22%;
}

.manage-invoices .cols-amount {
    width: 11%;
}

.manage-invoices .cols-status {
    width: 11%;
}

.manage-invoices .glyphicon {
    float: right;
    width: 20px;
    height: 20px;
    background: url(../images/dashboard/icon-select-blue.png) center center no-repeat;
    background-size: 13px auto;
}

.manage-invoices .glyphicon-minus {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.manage-invoices .glyphicon-minus:before {
    content: '';
}


.manage-invoices .glyphicon-plus:before {
    content: '';
}

.manage-invoices .detail-view table {
}

.manage-invoices .detail-view table th {
    font-size: $p;
    font-family: $primary;
    font-weight: 600;
    font-weight: normal;
}

.manage-invoices .detail-view table td > span {
    font-size: $p;
    font-family: $primary;
    font-weight: 400;
}

.manage-invoices .detail-view .btn-print {
    background: transparent;
    font-size: $p;
    font-family: $primary;
    font-weight: 500;
    color:$positive;
    box-shadow: none;
}

.manage-invoices .detail-view .icon {
    position: relative;
    bottom: -1px;
    width: 11px;
    height: 11px;
    background-image: url(../images/dashboard/manage/icon-print.png);
    background-size: 11px auto;
    margin-right: 5px;
}

.manage-invoices .pagination-info {
    font-size: $s14;
    font-family: $primary;
    font-weight: 500;
}

.manage-invoices .fixed-table-pagination .pagination a {
    font-size: $s14;
    font-family: $primary;
    font-weight: 500;
    color: $base;
    background:transparent;
}

.manage-invoices .fixed-table-pagination .pagination .disabled a,
.manage-invoices .fixed-table-pagination .pagination .disabled a:hover{
    opacity: .5;
    background:transparent;
}

.manage-invoices .pagination > li > a {
    border: 0 none;
    padding: 0 6px;
    margin: 0 0 0 5px;
}
.manage-invoices .pagination > li.page-pre a{
    display: block;
    height: 20px;
    width: 20px;
    font-size: 0;
    background: url(../images/dashboard/manage/icon-next.png) center center no-repeat;
    background-size: 10px auto;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.manage-invoices .pagination > li.page-next a{
    font-size: 0;
    display: block;
    height: 20px;
    width: 20px;
    font-size: 0;
    background: url(../images/dashboard/manage/icon-next.png) center center no-repeat;
    background-size: 10px auto;
}

.manage-invoices .pagination > .active > a,
.manage-invoices .pagination > .active > span,
.manage-invoices .pagination > .active > a:hover,
.manage-invoices .pagination > .active > span:hover,
.manage-invoices .pagination > .active > a:focus,
.manage-invoices .pagination > .active > span:focus {
    background:transparent;
    color: $positive;
    font-weight: 700;
}

@media (max-width: 1023px) {
    .manage-invoices .kuyam-content .kuyam-form{
        padding: 0;
    }
    .manage-invoices .legend{
        text-align: center;
    }
    .manage-invoices form {
        height: auto;
    }
    .manage-invoices form .filter-list {
        float: none;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){

}