.slide-feature-blog,
.slide-feature-blog .carousel,
.slide-feature-blog .carousel-inner{overflow:inherit !important;}
.slide-feature-blog .container{position:relative;}
.slide-feature-blog .carousel-indicators{display:block;width:auto;left:inherit;right:20px;}
.slide-feature-blog .carousel-caption{right:0;bottom:0;left:0;background-color:rgba(0, 0, 0, 0.5);text-align:left;padding-bottom:15px;}
.slide-feature-blog .carousel-caption-content{padding:0 21px;min-height:125px;}
.slide-feature-blog .carousel-caption h2{font:36px/40px ralewayextrabold, sans-serif;margin-bottom:10px;}
.slide-feature-blog .carousel-caption p{font:16px/20px ralewaymedium, sans-serif;margin-right:150px;}
.slide-feature-blog .carousel-caption p.ellipsis{font-size:18px;line-height:22px;}
.slide-feature-blog .carousel-caption p.ellipsis span{display:inline-block;max-width:75%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.slide-feature-blog .carousel-caption p.ellipsis a{display:inline-block;overflow:hidden;}
.slide-feature-blog .carousel-caption q{font:24px/28px ralewaymedium, sans-serif;}
.slide-feature-blog .carousel-caption q::before{content:"";}
.slide-feature-blog .carousel-caption q::after{content:"";}
.slide-feature-blog .carousel-caption a{color:#fff;text-decoration:none;}
.slide-feature-blog .carousel-caption q strong{font:20px/24px ralewaybold, sans-serif;display:inline-block;margin-bottom:5px;}
.slide-feature-blog .carousel-indicators li{height:22px;width:22px;border:2px solid #fff;background:transparent;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;}
.slide-feature-blog .carousel-indicators .active{border:2px solid #fff;background:#fff;}

.slide-feature-blog-details,
.slide-feature-blog-details .carousel,
.slide-feature-blog-details .carousel-inner{overflow:inherit !important;}
.slide-feature-blog-details .container{position:relative;}
.slide-feature-blog-details .carousel-caption{right:0;bottom:0;left:0;background-color:rgba(0, 0, 0, 0.5);text-align:left;}
.slide-feature-blog-details .carousel-caption-content{padding:0 21px;}
.slide-feature-blog-details .carousel-caption h2{font:34px/38px ralewaybold, sans-serif;margin-bottom:10px;}
.slide-feature-blog-details .carousel-caption q{font:26px/30px ralewaymedium, sans-serif;}
.slide-feature-blog-details .carousel-caption q::before{content:"";}
.slide-feature-blog-details .carousel-caption q::after{content:"";}
.slide-feature-blog-details .carousel-caption q a{color:#fff;text-decoration:none;}
.slide-feature-blog-details .carousel-caption q strong{font:26px/30px ralewaybold, sans-serif;}
.slide-feature-blog-details .carousel-caption q time{float:right;font:26px/30px ralewaybold, sans-serif;}

@media (max-width: 979px){
    .slide-feature-blog .carousel-caption p.ellipsis span{max-width:100%}
    .slide-feature-blog .carousel-caption p.ellipsis a{display:none;}
}

@media (max-width: 767px){
    .slide-feature-blog .carousel-caption h2{font:30px/34px ralewaybold, sans-serif;margin-bottom:10px;}
    .slide-feature-blog .carousel-caption p,
    .slide-feature-blog .carousel-caption q{font:20px/24px ralewaymedium, sans-serif;}
    .slide-feature-blog .carousel-caption q strong{font:20px/24px ralewayextrabold, sans-serif;}
    .slide-feature-blog #carousel-mobile .carousel-indicators{display:none;}
    .slide-feature-blog .carousel-caption p{margin-right:0;}

    .slide-feature-blog-details .carousel-caption h2,
    .slide-feature-blog-details .carousel-caption q{font:20px/24px ralewaymedium, sans-serif;}
    .slide-feature-blog-details .carousel-caption q strong{font:20px/24px ralewayextrabold, sans-serif;}
    .slide-feature-blog-details .carousel-caption q time{float:none;font:20px/24px ralewaymedium, sans-serif;}
}

/**/
.blog-comment{display:none;position:absolute;bottom:-131px;left:20px;right:20px;padding:21px 15px;border-top:5px solid #B5BFBE;-webkit-box-shadow:0 0 5px 0 #B5BFBE;-moz-box-shadow:0 0 5px 0 #B5BFBE;box-shadow:0 0 5px 0 #B5BFBE;margin-bottom:10px;font-size:18px;line-height:22px;color:#000;text-shadow:none;}
.blog-comment-content{/*padding-right:161px;*/min-height:44px;}
.blog-comment-content a{color:#000;font-family:ralewaybold, sans-serif;}
.blog-comment-total{position:absolute;right:0;width:140px;text-align:center;}
.blog-comment-total .icon-comment{display:inline-block;height:42px;width:42px;background:url(../images/assets/comment.png) center center no-repeat;}
.blog-comment-total .blog-comment-num{position:relative;top:-15px;color:#999;}

@media (max-width: 979px){
    .blog-comment{bottom:-153px;left:0;right:0;}
}

@media (max-width: 767px){
    .blog-comment{bottom:-131px;padding:10px;margin-bottom:20px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-bottom:1px solid #B5BFBE;height:92px}
    .blog-comment-content{padding-right:54px;height:69px;overflow:hidden;}
    .blog-comment-total{width:64px;padding:0 10px;}
    .blog-comment-total .blog-comment-num{top:inherit;}
    .slide-feature-blog .carousel-caption p{margin-right:0;}
}
