.blog-page{
    .container{
        @media (max-width: 767px){
            padding:0;
        }
    }

    .main-content{
        padding:3px 0;
    }

    .blog-category{
        background:#F2F6F9;

        @media (max-width: 767px){
            background:transparent;
        }
    }

    .blog-category-list {
        li {
            span{
                border-bottom-color:#F2F6F9;
            }

            &.active{
                span{
                    border-bottom-color:#f3472d;
                }
            }
        }
    }
}
