.tags-list{float:right;width:50%;margin:0 0 0 10px;color:#f3472d;font:16px/20px ralewaymedium, sans-serif;text-align:right;}
.tags-list .icon-tags{display:inline-block;width:23px;height:23px;background:url(../images/assets/tags.png) center center no-repeat;position:relative;bottom:-5px;margin-right:5px;}
.tags-list a{color:#f3472d;}

@media (max-width: 979px){
     .tags-list{width:100%;float:none;text-align:left;margin-bottom:20px;}
}
