<!-- #modal-confirmed -->
<div id="modal-confirmed" class="modal fade" role="dialog" aria-labelledby="confirmedModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-welcome modal-confirmed">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 id="confirmedModalLabel" class="modal-title">event confirmed!</h3>
                <h4>Amy's Hair Salon Grand Opening</h4>
                <h4><time>November 7th</time></h4>
                <p>you've completed your event customization! we will be sending you a confirmation to the contact email.</p>
            </div>
            <div class="modal-body">
                <dl class="social-icons clearfix">
                    <dt><button type="button" class="btn-orange btn-start" data-dismiss="modal">back to dashboard</button></dt>
                </dl>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- /#modal-confirmed -->
