<!-- #scheduleModal -->
<div id="shareModal" class="modal fade" role="dialog" aria-labelledby="shareModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-share">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="shareModalLabel" class="modal-title">Mailchimp campaign list</h4>
            </div>
            <div class="modal-body">
                <section id="shareList">
                    <div class="scroll-content">
                        <ul>
                            <li><a title="" href="#">Wednesday, February 3rd</a></li>
                            <li><a title="" href="#">Thursday, February 4th</a></li>
                            <li><a title="" href="#">Friday, February 5th</a></li>
                            <li><a title="" href="#">Saturday, February 6th</a></li>
                            <li><a title="" href="#">Sunday, February 7th</a></li>
                            <li><a title="" href="#">Monday, February 8th</a></li>
                            <li><a title="" href="#">Wednesday, February 3rd</a></li>
                            <li><a title="" href="#">Thursday, February 4th</a></li>
                            <li><a title="" href="#">Friday, February 5th</a></li>
                            <li><a title="" href="#">Saturday, February 6th</a></li>
                            <li><a title="" href="#">Sunday, February 7th</a></li>
                            <li><a title="" href="#">Monday, February 8th</a></li>
                            <li><a title="" href="#">Wednesday, February 3rd</a></li>
                            <li><a title="" href="#">Thursday, February 4th</a></li>
                            <li><a title="" href="#">Friday, February 5th</a></li>
                            <li><a title="" href="#">Saturday, February 6th</a></li>
                            <li><a title="" href="#">Sunday, February 7th</a></li>
                            <li><a title="" href="#">Monday, February 8th</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- /#scheduleModal -->
