<!-- #modal-social -->
<div id="modal-social" class="modal fade" role="dialog" aria-labelledby="socialsModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-social">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="socialsModalLabel" class="modal-title">Add / Edit your social media links</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li class="li-facebook active input-custom-container">
                        <label for="txtFacebook" class="input-custom input-url">
                            <span class="box">
                                <span class="text">https://www.facebook.com/</span>
                                <span id="txtFacebook" class="editable" contenteditable="true">pijons</span>
                            </span>
                            <span class="error">This URL is already taken</span>
                        </label>
                    </li>
                    <li class="li-twitter input-custom-container">
                        <label for="txtTwitter" class="input-custom input-url">
                            <span class="box">
                                <span class="text">https://www.twitter.com/</span>
                                <span id="txtTwitter" class="editable" contenteditable="true">pijons</span>
                            </span>
                            <span class="error">This URL is already taken</span>
                        </label>
                    </li>
                    <li class="li-linkedin input-custom-container">
                        <label for="txtLinkedin" class="input-custom input-url">
                            <span class="box">
                                <span class="text">https://www.linkedin.com/</span>
                                <span id="txtLinkedin" class="editable" contenteditable="true">pijons</span>
                            </span>
                            <span class="error">This URL is already taken</span>
                        </label>
                    </li>
                    <li class="li-instagram input-custom-container">
                        <label for="txtInstagram" class="input-custom input-url">
                            <span class="box">
                                <span class="text">https://www.instagram.com/</span>
                                <span id="txtInstagram" class="editable" contenteditable="true">pijons</span>
                            </span>
                            <span class="error">This URL is already taken</span>
                        </label>
                    </li>
                    <li class="li-pinterest input-custom-container">
                        <label for="txtPinterest" class="input-custom input-url">
                            <span class="box">
                                <span class="text">https://www.pinterest.com/</span>
                                <span id="txtPinterest" class="editable" contenteditable="true">pijons</span>
                            </span>
                            <span class="error">This URL is already taken</span>
                        </label>
                    </li>
                    <li class="li-google-plus input-custom-container">
                        <label for="txtGooglePlus" class="input-custom input-url">
                            <span class="box">
                                <span class="text">https://plus.google.com/</span>
                                <span id="txtGooglePlus" class="editable" contenteditable="true">pijons</span>
                            </span>
                            <span class="error">This URL is already taken</span>
                        </label>
                    </li>
                </ul>
                <input type="button" value="save" class="btn btn-positive" />
            </div>
        </div>
    </div>
</div>
<!-- /#modal-social -->
