<!-- #modal-thank-you -->
<div class="modal fade" id="modal-thank-you" role="dialog" aria-labelledby="thankYouModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-geo-location">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 id="thankYouModalLabel" class="modal-title">Thank you!</h3>
                <h4>We will now redirect you to the closet area.</h4>
            </div>
            <div class="modal-body">
                <input type="button" data-dismiss="modal" value="Enter the website" class="btn btn-orange" />
            </div>
            <div class="modal-footer">
             </div>
        </div>
    </div>
</div>
<!-- /#modal-thank-you -->
