{% extends './master/main-logged.html' %}

{% block title %}Kuyam - Appointments{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block banner %}{% endblock %}

{% block main %}
<!-- .appointments-section -->
<section class="appointments-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-3 col-md-6">

                <!-- .comfirm-section  -->
                <div class="comfirm-section">

                    <!-- .appointments-header  -->
                    <div class="appointments-header">
                        <span class="appointments-num hidden-xs">1</span> confirmed appointments
                        <hr class="hidden-xs" />
                    </div>
                    <!-- /.appointments-header  -->

                    <!-- .appointments-block  -->
                    <div class="appointments-block">

                        <!-- .appointments-type  -->
                        <div class="appointments-type">
                            confirmed
                        </div>
                        <!-- /.appointments-type  -->

                        <!-- .appointments-info  -->
                        <div class="appointments-info clearfix">
                            <div class="appointments-img" style="background-image:url(http://localhost:3000/content/images/upload/images/events/2.jpg);">
                            </div>
                            <div class="date-price hidden-xs">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                            <h3 class="iName"><a title="" href="book-details.html">Amy's Hair Salon</a></h3>
                            <h4 class="iAddress">Woodland Hills, CA</h4>
                            <p class="shortDes">spa service <a class="link-service" title="" href="javascript:void(0);" data-toggle="modal" data-target="#detailsModal">(details)</a></p>
                            <div class="date-price clearfix hidden-sm hidden-md hidden-lg">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                        </div>
                        <!-- /.appointments-info  -->

                        <!-- .appointments-control  -->
                        <div class="appointments-control clearfix">
                            <!--<a class="link-controls link-modify" title="" href="#"><span class="icon-modify"></span> modify</a>--><a class="link-controls link-cancel" title="" href="javascript:void(0);" data-toggle="modal" data-target="#modal-cancel"><span class="icon-cancel-1"></span> cancel</a>
                        </div>
                        <!-- /.appointments-control  -->

                    </div>
                    <!-- /.appointments-block  -->

                    <!-- .appointments-block  -->
                    <div class="appointments-block">

                        <!-- .appointments-type  -->
                        <div class="appointments-type">
                            confirmed
                        </div>
                        <!-- /.appointments-type  -->

                        <!-- .appointments-info  -->
                        <div class="appointments-info clearfix">
                            <div class="appointments-img" style="background-image:url(http://localhost:3000/content/images/upload/images/events/2.jpg);">
                            </div>
                            <div class="date-price hidden-xs">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                            <h3 class="iName"><a title="" href="book-details.html">Amy's Hair Salon</a></h3>
                            <h4 class="iAddress">Woodland Hills, CA</h4>
                            <p class="shortDes">spa class <a class="link-class" title="" href="javascript:void(0);" data-toggle="modal" data-target="#detailsModal">(details)</a></p>
                            <div class="date-price clearfix hidden-sm hidden-md hidden-lg">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                        </div>
                        <!-- /.appointments-info  -->

                        <!-- .appointments-control  -->
                        <div class="appointments-control clearfix">
                            <!--<a class="link-controls link-modify" title="" href="#"><span class="icon-modify"></span> modify</a>--><a class="link-controls link-cancel" title="" href="javascript:void(0);" data-toggle="modal" data-target="#modal-cancel"><span class="icon-cancel-1"></span> cancel</a>
                        </div>
                        <!-- /.appointments-control  -->

                    </div>
                    <!-- /.appointments-block  -->

                </div>
                <!-- /.comfirm-section  -->

                <!-- .proposed-section  -->
                <div class="proposed-section">

                    <!-- .appointments-header  -->
                    <div class="appointments-header">
                        <span class="appointments-num hidden-xs">1</span> proposed appointments
                        <hr class="hidden-xs" />
                    </div>
                    <!-- /.appointments-header  -->

                    <!-- .appointments-block  -->
                    <div class="appointments-block">

                        <!-- .appointments-type  -->
                        <div class="appointments-type">
                            proposed
                        </div>
                        <!-- /.appointments-type  -->

                        <!-- .appointments-info  -->
                        <div class="appointments-info clearfix">
                            <div class="appointments-img" style="background-image:url(http://localhost:3000/content/images/upload/images/events/2.jpg);">
                            </div>
                            <div class="date-price hidden-xs">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                            <h3 class="iName"><a title="" href="book-details.html">Amy's Hair Salon</a></h3>
                            <h4 class="iAddress">Woodland Hills, CA</h4>
                            <p class="shortDes">spa package <a class="link-service" title="" href="javascript:void(0);" data-toggle="modal" data-target="#detailsModal">(details)</a></p>
                            <div class="date-price clearfix hidden-sm hidden-md hidden-lg">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                        </div>
                        <!-- /.appointments-info  -->

                        <!-- .appointments-control  -->
                        <div class="appointments-control clearfix">
                            <a class="btn-green btn-book" title="" href="#">book</a>
                        </div>
                        <!-- /.appointments-control  -->

                    </div>
                    <!-- /.appointments-block  -->

                </div>
                <!-- /.proposed-section  -->

                 <!-- .spending-section  -->
                <div class="spending-section">

                    <!-- .appointments-header  -->
                    <div class="appointments-header">
                        <span class="appointments-num hidden-xs">1</span> spending appointments
                        <hr class="hidden-xs" />
                    </div>
                    <!-- /.appointments-header  -->

                    <!-- .appointments-block  -->
                    <div class="appointments-block">

                        <!-- .appointments-type  -->
                        <div class="appointments-type">
                            spending
                        </div>
                        <!-- /.appointments-type  -->

                        <!-- .appointments-info  -->
                        <div class="appointments-info clearfix">
                            <div class="appointments-img" style="background-image:url(http://localhost:3000/content/images/upload/images/events/2.jpg);">
                            </div>
                            <div class="date-price hidden-xs">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                            <h3 class="iName"><a title="" href="book-details.html">Amy's Hair Salon</a></h3>
                            <h4 class="iAddress">Woodland Hills, CA</h4>
                            <p class="shortDes">spa package <a class="link-service" title="" href="javascript:void(0);" data-toggle="modal" data-target="#detailsModal">(details)</a></p>
                            <div class="date-price clearfix hidden-sm hidden-md hidden-lg">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                        </div>
                        <!-- /.appointments-info  -->

                        <!-- .appointments-control  -->
                        <div class="appointments-control clearfix">
                            <a class="link-controls link-note" title="" href="javascript:void(0);" data-toggle="modal" data-target="#modal-note"><span class="icon-note"></span> note</a> <!--<a class="link-controls link-modify" title="" href="#"><span class="icon-modify"></span> modify</a>--><a class="link-controls link-cancel" title="" href="javascript:void(0);" data-toggle="modal" data-target="#modal-cancel"><span class="icon-cancel-1"></span> cancel</a>
                        </div>
                        <!-- /.appointments-control  -->

                    </div>
                    <!-- /.appointments-block  -->

                    <!-- .appointments-block  -->
                    <div class="appointments-block">

                        <!-- .appointments-type  -->
                        <div class="appointments-type">
                            spending
                        </div>
                        <!-- /.appointments-type  -->

                        <!-- .appointments-info  -->
                        <div class="appointments-info clearfix">
                            <div class="appointments-img" style="background-image:url(http://localhost:3000/content/images/upload/images/events/2.jpg);">
                            </div>
                            <div class="date-price hidden-xs">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                            <h3 class="iName"><a title="" href="book-details.html">Amy's Hair Salon</a></h3>
                            <h4 class="iAddress">Woodland Hills, CA</h4>
                            <p class="shortDes">spa package <a class="link-service" title="" href="javascript:void(0);" data-toggle="modal" data-target="#detailsModal">(details)</a></p>
                            <div class="date-price clearfix hidden-sm hidden-md hidden-lg">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                        </div>
                        <!-- /.appointments-info  -->

                        <!-- .appointments-control  -->
                        <div class="appointments-control clearfix">
                            <a class="link-controls link-note" title="" href="javascript:void(0);" data-toggle="modal" data-target="#modal-note"><span class="icon-note"></span> note</a> <!--<a class="link-controls link-modify" title="" href="#"><span class="icon-modify"></span> modify</a>--><a class="link-controls link-cancel" title="" href="javascript:void(0);" data-toggle="modal" data-target="#modal-cancel"><span class="icon-cancel-1"></span> cancel</a>
                        </div>
                        <!-- /.appointments-control  -->

                    </div>
                    <!-- /.appointments-block  -->

                    <!-- .appointments-block  -->
                    <div class="appointments-block">

                        <!-- .appointments-type  -->
                        <div class="appointments-type">
                            spending
                        </div>
                        <!-- /.appointments-type  -->

                        <!-- .appointments-info  -->
                        <div class="appointments-info clearfix">
                            <div class="appointments-img" style="background-image:url(http://localhost:3000/content/images/upload/images/events/2.jpg);">
                            </div>
                           <div class="date-price hidden-xs">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                            <h3 class="iName"><a title="" href="book-details.html">Amy's Hair Salon</a></h3>
                            <h4 class="iAddress">Woodland Hills, CA</h4>
                            <p class="shortDes">spa package <a class="link-service" title="" href="javascript:void(0);" data-toggle="modal" data-target="#detailsModal">(details)</a></p>
                            <div class="date-price clearfix hidden-sm hidden-md hidden-lg">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                        </div>
                        <!-- /.appointments-info  -->

                        <!-- .appointments-control  -->
                        <div class="appointments-control clearfix">
                            <a class="link-controls link-note" title="" href="javascript:void(0);" data-toggle="modal" data-target="#modal-note"><span class="icon-note"></span> note</a> <!--<a class="link-controls link-modify" title="" href="#"><span class="icon-modify"></span> modify</a>--><a class="link-controls link-cancel" title="" href="javascript:void(0);" data-toggle="modal" data-target="#modal-cancel"><span class="icon-cancel-1"></span> cancel</a>
                        </div>
                        <!-- /.appointments-control  -->

                    </div>
                    <!-- /.appointments-block  -->

                </div>
                <!-- /.spending-section  -->

                 <!-- .canceled-section  -->
                <div class="canceled-section">

                    <!-- .appointments-header  -->
                    <div class="appointments-header">
                        <span class="appointments-num hidden-xs">1</span> canceled appointments
                        <hr class="hidden-xs" />
                    </div>
                    <!-- /.appointments-header  -->

                    <!-- .appointments-block  -->
                    <div class="appointments-block">

                        <!-- .appointments-type  -->
                        <div class="appointments-type">
                            canceled
                        </div>
                        <!-- /.appointments-type  -->

                        <!-- .appointments-info  -->
                        <div class="appointments-info clearfix">
                            <div class="appointments-img" style="background-image:url(http://localhost:3000/content/images/upload/images/events/2.jpg);">
                            </div>
                            <div class="date-price hidden-xs">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                            <h3 class="iName"><a title="" href="book-details.html">Amy's Hair Salon</a></h3>
                            <h4 class="iAddress">Woodland Hills, CA</h4>
                            <p class="shortDes">spa package <a class="link-service" title="" href="javascript:void(0);" data-toggle="modal" data-target="#detailsModal">(details)</a></p>
                            <div class="date-price clearfix hidden-sm hidden-md hidden-lg">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                        </div>
                        <!-- /.appointments-info  -->

                    </div>
                    <!-- /.appointments-block  -->

                    <!-- .appointments-block  -->
                    <div class="appointments-block">

                        <!-- .appointments-type  -->
                        <div class="appointments-type">
                            canceled
                        </div>
                        <!-- /.appointments-type  -->

                        <!-- .appointments-info  -->
                        <div class="appointments-info clearfix">
                            <div class="appointments-img" style="background-image:url(http://localhost:3000/content/images/upload/images/events/2.jpg);">
                            </div>
                            <div class="date-price hidden-xs">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                            <h3 class="iName"><a title="" href="book-details.html">Amy's Hair Salon</a></h3>
                            <h4 class="iAddress">Woodland Hills, CA</h4>
                            <p class="shortDes">spa package <a class="link-service" title="" href="javascript:void(0);" data-toggle="modal" data-target="#detailsModal">(details)</a></p>
                            <div class="date-price clearfix hidden-sm hidden-md hidden-lg">
                                <p class="date-info">today Aug 31st</p>
                                <p class="time-info">10:00 am</p>
                                <p class="unit-info"><span>45 min</span> <span>$45</span></p>
                            </div>
                        </div>
                        <!-- /.appointments-info  -->

                    </div>
                    <!-- /.appointments-block  -->

                </div>
                <!-- /.canceled-section  -->

            </div>
        </div>
    </div>
</section>
<!-- /.appointments-section -->
{% endblock %}

{% block modal %}
{% include "./content/modals/notes68.html" %}
{% include "./content/modals/details.html" %}
{% include "./content/modals/cancel68.html" %}
{% endblock %}

{% block script %}{% endblock %}

