{% extends './master/main.html' %}

{% block title %}Kuyam - Spint 68{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <dl class="col-xs-12 col-md-4">
            <dd>&nbsp;</dd>
            <dt>Page</dt>
            <dd>
                <a title="" href="appointments.html" target="_blank">appointments</a>
            </dd>
        </dl>
        <dl class="col-xs-12 col-md-4">
            <dd>&nbsp;</dd>
            <dt>Popup</dt>
        </dl>
        <dl class="col-xs-12 col-md-4">
            <dd>&nbsp;</dd>
            <dt>mobile page</dt>
        </dl>
    </div>

</div>
{% endblock %}

{% block script %}{% endblock %}

