<link rel="stylesheet" type="text/css" href="content/css/libs/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="content/css/libs/bootstrap-select.css" />
<link type="text/css" rel="stylesheet" href="content/css/libs/bootstrap-datetimepicker.css" />
<link type="text/css" rel="stylesheet" href="content/css/libs/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="content/css/libs/jquery.countdown.css" />
<link type="text/css" rel="stylesheet" href="content/css/libs/iscroll.css" />
<link type="text/css" rel="stylesheet" href="content/css/libs/addtocalendar.css" />
<link type="text/css" rel="stylesheet" href="content/css/libs/croppie.css" />

