<link rel="stylesheet" type="text/css" href="content/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="content/bootstrap-select.css" />
<link type="text/css" rel="stylesheet" href="content/bootstrap-datetimepicker.css" />
<link type="text/css" rel="stylesheet" href="content/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="content/jquery.countdown.css" />
<link type="text/css" rel="stylesheet" href="content/iscroll.css" />
<link type="text/css" rel="stylesheet" href="content/addtocalendar.css" />
<link type="text/css" rel="stylesheet" href="content/croppie.css" />
<link type="text/css" rel="stylesheet" href="content/tooltipster.css" />
<link type="text/css" rel="stylesheet" href="content/chosen.css" />
<link type="text/css" rel="stylesheet" href="content/inputtime.min.css" />

