<script type="text/javascript" src="content/js/libs/modernizr.custom.js"></script>
<script type="text/javascript" src="content/js/libs/jquery-2.2.4.js"></script>
<script type="text/javascript" src="content/js/libs/css_browser_selector.js"></script>
<script type="text/javascript" src="content/js/libs/moment.js"></script>
<script type="text/javascript" src="content/js/libs/jquery-ui.js"></script>
<script type="text/javascript" src="content/js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="content/js/libs/bootstrap-select.js"></script>
<script type="text/javascript" src="content/js/libs/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="content/js/libs/iscroll.js"></script>
<script type="text/javascript" src="content/js/libs/jquery.plugin.js"></script>
<script type="text/javascript" src="content/js/libs/jquery.countdown.js"></script>
<script type="text/javascript" src="content/js/libs/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="content/js/libs/addtocalendar.js"></script>
<script type="text/javascript" src="content/js/libs/croppie.js"></script>
