<script type="text/javascript" src="content/js/libs/modernizr.custom.js"></script>
<script type="text/javascript" src="content/js/libs/jquery-1.9.1.js"></script>
<script type="text/javascript" src="content/js/libs/css_browser_selector.js"></script>
<script type="text/javascript" src="content/js/libs/jquery-ui.js"></script>
<script type="text/javascript" src="content/js/libs/bootstrap.js"></script>
<script type="text/javascript" src="content/js/libs/bootstrap-select.js"></script>
<script type="text/javascript" src="content/js/libs/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="content/js/libs/iscroll.js"></script>
<script type="text/javascript" src="content/js/libs/jquery.plugin.js"></script>
<script type="text/javascript" src="content/js/libs/jquery.countdown.js"></script>
<script type="text/javascript" src="content/js/libs/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="content/js/libs/addtocalendar.js"></script>
