{% extends './master/main-admin.html' %}

{% block title %}Kuyam - Home{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block css %}{% endblock %}

{% block banner %}{% endblock %}

{% block main %}
<div id="dialog-form" class="create-event rsvp-event">
    <h2 id="formTitle">Add single event special price</h2>
    <p class="validateTips"></p>
    <form>
        <section class="form">
            <table border="0" cellpadding="0" cellspacing="0" class="tbldata">
                <tbody>
                    <tr>
                        <td class="field">
                            <label for="selectCompany">
                                Company list(*)
                            </label>
                        </td>
                        <td>
                            <select id="selectCompany">
                                <option value="" selected="selected">Select company</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="img-upload" style="background-image: url(../../content/images/upload/images/events/2.jpg);">
                            </div>

                            <label class="btn btn-primary btn-upload btn-orange" for="inputEventImage" title="Upload image file">
                                <input id="inputEventImage" class="sr-only" name="file" type="file" />
                                <span class="docs-tooltip" data-toggle="tooltip" title="Import image">
                                    <span class="icon icon-upload">upload image</span>
                                </span>
                            </label>
                            <input type="button" class="btn btn-primary btn-upload btn-orange" value="delete image" />
                            <!-- ngIf: KalturaId != null -->
                            <p>3mb max file size</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="field">
                            <label for="txtName">
                                Name(*)
                            </label>
                        </td>
                        <td>
                            <input id="txtName" type="text" class="text" maxlength="80" />
                        </td>
                    </tr>
                    <tr>
                        <td class="field">
                            <label for="txtSlot">
                                Slot(*)
                            </label>
                        </td>
                        <td>
                            <input id="txtSlot" type="text" class="text" />
                        </td>
                    </tr>
                    <tr>
                        <td class="field"></td>
                        <td>
                            <input type="button" value="create url">
                        </td>
                    </tr>
                    <tr>
                        <td class="field">
                            <label for="txtEventUrl">
                                Event url(*)
                            </label>
                        </td>
                        <td>
                            <input id="txtEventUrl" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td class="field">
                            <label for="txtRuntimeEventUrl">
                                Runtime event url
                            </label>
                        </td>
                        <td nowrap="nowrap">
                            <input class="input-url" id="txtRuntimeEventUrl" type="text" value="http://dev.beautify.us/rsvp/" readonly="readonly">
                            <button id="d_clip_button" class="btn-url" title="Copy to clipboard.">Copy</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="field">
                            <label for="cbCompany">
                                Organized by(*)
                            </label>
                        </td>
                        <td>
                            <input type="radio" id="cbCompany" checked name="cbOrganized" /> <label for="cbCompany">Chanh Spa for Men</label><br />
                            <input type="radio" id="cbNew" name="cbOrganized" /> <label for="cbNew">New organizer</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="field"></td>
                        <td>
                            <input type="text" id="txtOrganizer" value="" class="text" />
                        </td>
                    </tr>
                    <tr>
                        <td class="field">
                            <label for="eventStartDate">
                                Start date(*)
                            </label>
                        </td>
                        <td>
                            <input type="text" value="05/15/2017 16:00" id="eventStartDate" class="hasDatepicker" />
                        </td>
                    </tr>
                    <tr>
                        <td class="field">
                            <label for="eventEndDate">
                                End date(*)
                            </label>
                        </td>
                        <td>
                            <input id="eventEndDate" type="text" value="05/15/2017 00:00" class="hasDatepicker" />
                        </td>
                    </tr>
                    <tr>
                        <td class="field">
                            <label>
                                Is Private
                            </label>
                        </td>
                        <td>
                            <input type="checkbox" id="isprivate" />
                        </td>
                    </tr>
                    <tr>
                        <td class="field">
                            <label for="eventStartDate">
                                Tag
                            </label>
                        </td>
                        <td class="iscroll-vertical">
                            <select data-placeholder="Search and select" class="chosen-select" multiple>
                                <option value="all">User list</option>
                                <option value="Admin">admin</option>
                                <option value="HotelAdmin">hoteladmin</option>
                                <option value="HotelStaff">hotelstaff</option>
                                <option value="Guest">guest</option>
                                <option value="Agent">agent</option>
                                <option value="Concierge">concierge</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="field">
                            <label>
                                Where this event?
                            </label>
                        </td>
                        <td>
                            <input type="radio" id="cbCompany" checked name="cbWhere" checked /> <label for="cbCompany">1901 Avenue of the Stars, Suite 1900, Los Angeles CA 90067</label><br />
                            <input type="radio" id="cbAlternative" name="cbWhere" /> <label for="cbNew">Alternative address</label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" class="tbldata">
                <tbody>
                    <tr>
                        <td class="field" rowspan="5">
                            <label for="eventStartDate">
                                Event Location Override
                            </label>
                        </td>
                        <td class="field-sub">
                            <label for="txtFacility">
                                Facility name
                            </label>
                        </td>
                        <td>
                            <input id="txtFacility" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td class="field-sub">
                            <label for="txtAddress">
                                Address
                            </label>
                        </td>
                        <td>
                            <input id="txtAddress" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td class="field-sub">
                            <label for="txtCity">
                                City
                            </label>
                        </td>
                        <td>
                            <input id="txtCity" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td class="field-sub">
                            <label for="selectState">
                                State
                            </label>
                        </td>
                        <td>
                            <select id="selectState">
                                <option>Alabama</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="field-sub">
                            <label for="txtZip">
                                Zip
                            </label>
                        </td>
                        <td>
                            <input id="txtZip" type="text" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" class="tbldata">
                <tbody>
                    <tr>
                        <td class="field">
                            <label for="txtServiceDescription">
                                Description
                            </label>
                        </td>
                        <td>
                            <textarea id="txtEventDescription" cols="20" rows="6" maxlength="300"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <center>
                                <button id="btnSave">create</button>
                                <button id="btnDelete" style="display: none">
                                    inactive
                                </button>
                                <button id="btnCancel">
                                    cancel
                                </button>

                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </form>
    <a id="lnkBack" href="javascript:void(0)">back to list</a>
</div>
{% endblock %}

{% block libsscript %}{% endblock %}

{% block script %}
<script type="text/javascript" src="../../content/js/pages/admin/ui-creat-rsvp-event.js"></script>
{% endblock %}

