{% extends './master/main-admin.html' %}

{% block title %}Kuyam - Admin{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <dl class="col-xs-12">
            <dd>&nbsp;</dd>
            <dt>Page</dt>
            <dd>
                <a title="" href="create-rsvp-event.html" target="_blank">create rsvp event</a>
            </dd>
            <dd>
                <a title="" href="create-ticket-event.html" target="_blank">create ticket event</a>
            </dd>
            <dd>
                <a title="" href="settings.html" target="_blank">settings</a>
            </dd>
        </dl>
        <dl class="col-xs-12">
            <dd>&nbsp;</dd>
            <dt>Popup</dt>
            <dd>
                <a title="" href="" target="_blank"></a>
            </dd>
        </dl>
        <dl class="col-xs-12">
            <dd>&nbsp;</dd>
            <dt>mobile page</dt>
            <dd>
                <a title="" href="" target="_blank"></a>
            </dd>
        </dl>
    </div>

</div>
{% endblock %}

{% block script %}{% endblock %}

