{% extends './master/main-admin.html' %}

{% block title %}Kuyam - Home{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="../../content/bootstrap-table.css" />
{% endblock %}

{% block banner %}{% endblock %}

{% block main %}

<div id="ownedAdd" class="owed-comp hide">
    <h2>add owned company</h2>
    <div class="boxsearch">
        <center>
            <table cellpadding="0" cellspacing="0" border="0" class="tbldata">
                <tr class="odd">
                    <td>
                        <label>
                            page name&nbsp;&nbsp;
                        </label>
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                    <td>
                        <label>
                            company&nbsp;&nbsp;
                        </label>
                    </td>
                    <td class="iscroll-vertical">
                        <select data-placeholder="Company list" class="chosen-single-select">
                            <option value="all">Company list</option>
                            <option value="Admin">admin</option>
                            <option value="HotelAdmin">hoteladmin</option>
                            <option value="HotelStaff">hotelstaff</option>
                            <option value="Guest">guest</option>
                            <option value="Agent">agent</option>
                            <option value="Concierge">concierge</option>
                        </select>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <label>
                            url&nbsp;&nbsp;
                        </label>
                    </td>
                    <td>
                        <label class="table-css custom-input" for="txtUrl">
                            <span class="tr">
                                <span class="td">https://beautify.us/</span>
                                <span class="td"><input id="txtUrl" type="text" /></span>
                            </span>
                        </label>
                    </td>
                    <td>
                        <label>
                            users&nbsp;&nbsp;
                        </label>
                    </td>
                    <td class="iscroll-vertical">
                        <select data-placeholder="Search and select" class="chosen-select" multiple>
                            <option value="all">User list</option>
                            <option value="Admin">admin</option>
                            <option value="HotelAdmin">hoteladmin</option>
                            <option value="HotelStaff">hotelstaff</option>
                            <option value="Guest">guest</option>
                            <option value="Agent">agent</option>
                            <option value="Concierge">concierge</option>
                        </select>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <label>
                            logo&nbsp;&nbsp;
                        </label>
                    </td>
                    <td>
                        <input type="file" />
                    </td>
                    <td>
                        <label>
                            twitter script&nbsp;&nbsp;
                        </label>
                    </td>
                    <td>
                        <textarea cols="" rows=""></textarea>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <label>
                            header image&nbsp;&nbsp;
                        </label>
                    </td>
                    <td colspan="3">
                        <input type="file" />
                    </td>
                </tr>
                <tr class="odd">
                    <td colspan="4">
                        <ul id="headerImgList" class="row header-image-list">
                            <li class="col-xs-4"><img alt="" src="../../content/images/welcome.jpg" /><button class="close"></button></li>
                            <li class="col-xs-4"><img alt="" src="../../content/images/welcome.jpg" /><button class="close"></button></li>
                            <li class="col-xs-4"><img alt="" src="../../content/images/welcome.jpg" /><button class="close"></button></li>
                        </ul>
                    </td>
                </tr>
                <tr class="even">
                    <td colspan="4" style="text-align: center;">
                        <input class="button" value="add" type="button" />
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <div>
        <a href="#" id="linkBack">back</a>
    </div>
</div>
<div id="ownedList" class="owed-comp">
    <h2>owned company <a id="linkAdd" title="" href="" class="pull-right">Add new</a></h2>
    <div id="listOwned" class="owned-list">
        <table id="tblServices">
            <thead>
                <tr>
                    <th data-field="name" data-sortable="true" class="col-name">
                        name
                    </th>
                    <th data-field="company" data-sortable="true" class="col-company">
                        company
                    </th>
                    <th class="col-url">
                        url
                    </th>
                    <th class="col-users">
                        users
                    </th>
                    <th class="col-action">
                        action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-name">
                        CS
                    </td>
                    <td class="col-company">
                        New Year company
                    </td>
                    <td class="col-url">
                        <a title="" href="#" target="_blank">https://beautify.us/chanhspa/community</a>
                    </td>
                    <td class="col-users">
                        User list, admin, hoteladmin
                    </td>
                    <td class="col-action">
                        <a title="" href="#" class="link-edit">Edit</a> | <a title="" href="#">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td class="col-name">
                        CS
                    </td>
                    <td class="col-company">
                        New Year company
                    </td>
                    <td class="col-url">
                        <a title="" href="#" target="_blank">https://beautify.us/chanhspa/community</a>
                    </td>
                    <td class="col-users">
                        User list, admin, hoteladmin
                    </td>
                    <td class="col-action">
                        <a title="" href="#" class="link-edit">Edit</a> | <a title="" href="#">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td class="col-name">
                        CS
                    </td>
                    <td class="col-company">
                        New Year company
                    </td>
                    <td class="col-url">
                        <a title="" href="#" target="_blank">https://beautify.us/chanhspa/community</a>
                    </td>
                    <td class="col-users">
                        User list, admin, hoteladmin
                    </td>
                    <td class="col-action">
                        <a title="" href="#" class="link-edit">Edit</a> | <a title="" href="#">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" class="tbldata">
            <tr class="odd">
                <td>
                    <div class="fLeft mt4" style="float: left; padding-left: 0px;">
                        <span>1 - 5 of </span>
                        <span><strong>5 results</strong></span>
                    </div>
                </td>
                <td class="paging" style="text-align: right; width: 50%;">
                    <div class="paging">
                        <span class="active" title="1">1</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block libsscript %}
<script type="text/javascript" src="../../content/js/libs/bootstrap-table.js"></script>
{% endblock %}

{% block script %}
<script type="text/javascript" src="../../content/js/pages/admin/ui-owned-comp.js"></script>
{% endblock %}

