.intro-content{padding:40px 0;}
.intro-content .section-header{padding-bottom:18px;}
.intro-content .section-header h2{margin-bottom:9px;font-family:ralewaybold, sans-serif;}
.intro-content .section-header p{text-align:left;font:26px/30px ralewaysemibold, sans-serif;}
.intro-content p{text-align:justify;}
.intro-content .link-request{width:300px;display:inline-block;margin-top:42px;padding:8px 0;font-size:24px;line-height:35px;color:#333;border:1px solid #333;text-decoration:none;}
.intro-content .link-request span{display:inline-block;width:35px;height:35px;margin:0 0 -10px 10px;background:url(images/assets/icon_arrow_right_black1.png) center right no-repeat;background-size:contain;}

@media (max-width: 767px){
    .intro-content{padding:22px 0;}
    .intro-content .section-header h2{font-family:ralewayextrabold, sans-serif;}
    .intro-content .section-header p{font-size:20px;line-height:24px;}
    .intro-content .link-request{width:100%;margin-top:22px;}
}

@media (max-width:320px){
    .intro-content .link-request{display:block;}
}
