.how-event-works-content{}
.how-event-works-content p{font:18px/24px ralewaymedium, sans-serif;}
.how-event-works-content .section-header{padding:0 0 22px;}
.how-event-works-content .section-header h2{margin-bottom:10px;font-family:ralewaybold, sans-serif;color:#333;}
.how-event-works-content .section-header p{font:28px/32px ralewaysemibold, sans-serif;}
.how-event-works-content .section-header h4 a{color:#333;}
.how-event-works-content .section-header .icon{display:inline-block;width:42px;height:42px;background:url(images/assets/icon_arrow_right_black.png) center center no-repeat;background-size:contain;margin-bottom:-12px;}
.how-event-works-content .section-header .icon-view{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
.how-event-works-content .section-header .icon-show{}

.howboxcontent{z-index:1;position:relative;}
.howboxcontent ul{list-style-type:none;margin:0px;padding:0px;}
.howboxcontent ul li{height:275px;}
.howboxcontent ul li.tabs{width:64px;float:left;margin-left:11px;overflow:hidden;}
.howboxcontent ul li.tabs:first-child{margin:0;}
.howboxcontent ul li.tabs .headtab{float:left;width:64px;height:275px;position:relative;overflow:hidden;border:1px solid #ababab;cursor:pointer;}
.howboxcontent ul li.tabs .headtab span{width:275px;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg);position:absolute;left:-106px;bottom:124px;font:28px/64px ralewaymedium, sans-serif;}
.howboxcontent ul li.tabs .headtab1 span{}
.howboxcontent ul li.tabs .headtab2 span{}
.howboxcontent ul li.tabs .headtab3 span{}
.howboxcontent ul li .contenttab{float:left;width:716px;height:275px;border:1px solid #ababab;border-left:0 none;}
.howboxcontent ul li .contenttab .slidecontent{padding:30px 22px 25px;font:22px/26px ralewaymedium, sans-serif;}
.howboxcontent ul li .contenttab .slidecontent h2{font-size:24px;font-family:ralewayextrabold, sans-serif;margin-bottom:10px;}
.howboxcontent ul li .contenttab .slidecontent .slidetext{min-height:158px;max-height:158px;border:1px solid #fff;}
.howboxcontent ul li.active{width:780px;}
.howboxcontent ul li.active .headtab{background:#f3472d;border:1px solid #f3472d;color:#fff;}
.howboxcontent ul li .slidecontent .slidearrow{position:relative;}
.howboxcontent ul li .slidecontent .slidearrow .arrow{display:inline-block;height:48px;padding-right:75px;text-decoration:none;position:absolute;right:0;color:#000;font-size:22px;line-height:48px;background:url(images/assets/icon_arrow_right.png) no-repeat right center;background-size:contain;margin-right:12px;}
.howboxcontent ul li .slidecontent .slidearrow .link-sign-up{display:inline-block;font:24px/58px ralewaymedium, sans-serif;color:#f3472d;}
.howboxcontent ul li .slidecontent .slidearrow a:hover{text-decoration:none;}
.howboxcontent ul li.tab3 .slidecontent .slidearrow .link-sign-up{top:0;}

#accordion-business{margin-left:-15px;margin-right:-15px;}
.how-event-works-content .ui-accordion .ui-accordion-header{background:none #DFDFDF;border:0 none;padding:0;font:28px/65px ralewaybold, sans-serif;color:#333;text-align:center;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;margin:15px 0 0;}
.how-event-works-content .ui-accordion .ui-state-active{background:none #f3472d;border:0 none;color:#fff;}
.how-event-works-content .ui-accordion .ui-accordion-header .ui-accordion-header-icon{display:none;}
.how-event-works-content .ui-accordion .ui-accordion-content{background:none transparent;padding:15px;border:0 none;position:relative;}
.how-event-works-content .ui-accordion .ui-accordion-content h2{font-family:ralewayextrabold, sans-serif;margin-bottom:15px;}
.how-event-works-content .ui-accordion .ui-accordion-content .link-sign-up{display:inline-block;color:#f3472d;margin:26px 0;font-size:26px;line-height:30px;}
.how-event-works-content .ui-accordion .ui-accordion-content .icon-down{display:inline-block;height:45px;padding-right:65px;text-decoration:none;font-size:24px;line-height:45px;background:url(images/assets/mobile/icon_arrow_down1.png) no-repeat right center;background-size:contain;}

.business-details{}
.business-details .section-header{padding:20px 0 0;}
.business-details p{font:18px/22px ralewaymedium, sans-serif;margin:0;}

.business-details .section-note{padding:20px 0 0;}
.business-details .section-note p{margin:0 0 15px;}

@media (max-width: 767px){
    .how-event-works-content .section-header{padding-bottom:7px;}
    .how-event-works-content .section-header h2{font-family:ralewayextrabold, sans-serif;}
    .how-event-works-content .section-header p{font-size:20px;line-height:24px;}
}
