
.article-short-des{
    width:598px;
    max-height:44px;
    overflow:hidden;
    margin-bottom:10px;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.coming-section{background:#323232;margin:0 0 20px;padding:10px;}
.coming-section .section-header h4{font-size:24px;line-height:28px;}
.coming-section .article-list{padding:0 10px;}
.coming-section .article-list .section-header h4{margin:10px 0 -10px;}
.coming-section .article-short-des{max-height:36px;}
.coming-section .view-more{display:block;color:#fff;text-decoration:none;text-align:center;font-family:ralewaybold, sans-serif;padding:10px;font-size:20px;}
.coming-section .view-more .icon-angle-down{background:url(images/assets/icon_arrow_down.png);display:inline-block;height:13px;margin:0 0 -1px 10px;width:23px;}
.coming-section .article-intro .section-header h3,
.coming-section .article-intro .section-header h3 a{color:#fff;font-size:20px;line-height:24px;}
.coming-section .article-intro{font-size:14px;line-height:18px;}
.coming-section .article-intro *{color:#fff !important;}
.coming-section .article-intro q{color:#fff;}
.coming-section .back-section{padding:20px 0;text-align:center;}
.coming-section .back-section a{color:#fff;}
.coming-section .back-section .icon-back{background-image:url(images/assets/icon_arrow_right_white.png);}

.coming-section .section-header h4{font-family:ralewaybold, sans-serif;color:#fff;margin:0 0 10px;}

@media (max-width: 979px){
    .article-short-des{width:438px;}
}

@media (max-width: 767px){
    .coming-section{margin-left:-15px;margin-right:-15px;margin-bottom:0;}
    .coming-section .article-list{padding-left:0;padding-right:0;}
    .coming-section .article-list .article-block{border:0 none;}
    .article-short-des{width:100%;}
}
