<link rel="stylesheet" type="text/css" href="http://localhost:3000/content/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/bootstrap-select.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/datepicker3.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/croppie.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/chosen.css" />

