<link rel="stylesheet" type="text/css" href="http://localhost:3000/content/libs/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/libs/jquery-ui.css" />
<link type="text/css" rel="Stylesheet" href="http://localhost:3000/content/libs/responsiveslides.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/libs/jquery.carouFredSel.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/libs/bootstrap-select.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/libs/croppie.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/libs/chosen.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/style.css" />
