<link rel="stylesheet" type="text/css" href="http://localhost:3000/content/libs/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/libs/bootstrap-select.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/libs/datepicker3.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/libs/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/libs/croppie.css" />
<link type="text/css" rel="stylesheet" href="http://localhost:3000/content/libs/chosen.css" />

