<!-- http://www.favicon-generator.org/ -->
<link rel="apple-touch-icon" sizes="57x57" href="http://localhost:3000/content/favicon/apple-icon-57x57.png?v7" />
<link rel="apple-touch-icon" sizes="60x60" href="http://localhost:3000/content/favicon/apple-icon-60x60.png?v7" />
<link rel="apple-touch-icon" sizes="72x72" href="http://localhost:3000/content/favicon/apple-icon-72x72.png?v7" />
<link rel="apple-touch-icon" sizes="76x76" href="http://localhost:3000/content/favicon/apple-icon-76x76.png?v7" />
<link rel="apple-touch-icon" sizes="114x114" href="http://localhost:3000/content/favicon/apple-icon-114x114.png?v7" />
<link rel="apple-touch-icon" sizes="120x120" href="http://localhost:3000/content/favicon/apple-icon-120x120.png?v7" />
<link rel="apple-touch-icon" sizes="144x144" href="http://localhost:3000/content/favicon/apple-icon-144x144.png?v7" />
<link rel="apple-touch-icon" sizes="152x152" href="http://localhost:3000/content/favicon/apple-icon-152x152.png?v7" />
<link rel="apple-touch-icon" sizes="180x180" href="http://localhost:3000/content/favicon/apple-icon-180x180.png?v7" />
<link rel="icon" type="image/png" sizes="192x192" href="http://localhost:3000/content/favicon/android-icon-192x192.png?v7" />
<link rel="icon" type="image/png" sizes="32x32" href="http://localhost:3000/content/favicon/favicon-32x32.png?v7" />
<link rel="icon" type="image/png" sizes="96x96" href="http://localhost:3000/content/favicon/favicon-96x96.png?v7" />
<link rel="icon" type="image/png" sizes="16x16" href="http://localhost:3000/content/favicon/favicon-16x16.png?v7" />
<link rel="manifest" href="./favicon/manifest.json" />
<meta name="msapplication-TileColor" content="transparent" />
<meta name="msapplication-TileImage" content="http://localhost:3000/content/favicon/ms-icon-144x144.png?v7" />
<meta name="theme-color" content="transparent" />
<meta name="msapplication-config" content="http://localhost:3000/content/favicon/browserconfig.xml" />