<script type="text/javascript" src="http://localhost:3000/content/js/libs/modernizr.custom.js"></script>
<!-- === SCRIPTS === -->
<script type="text/javascript" src="http://localhost:3000/content/js/libs/jquery.js"></script>
<script type="text/javascript" src="http://localhost:3000/content/js/libs/jquery-ui.js"></script>
<script type="text/javascript" src="http://localhost:3000/content/js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="http://localhost:3000/content/js/libs/bootstrap-select.js"></script>
<script type="text/javascript" src="http://localhost:3000/content/js/libs/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="http://localhost:3000/content/js/libs/responsiveslides.js"></script>
<script type="text/javascript" src="http://localhost:3000/content/js/libs/css_browser_selector.js"></script>

<script type="text/javascript" src="http://localhost:3000/content/js/libs/jquery.carouFredSel.js"></script>
<script type="text/javascript" src="http://localhost:3000/content/js/libs/jquery.nicescroll.js"></script>
<script type="text/javascript" src="http://localhost:3000/content/js/libs/croppie.js"></script>
<script type="text/javascript" src="http://localhost:3000/content/js/libs/chosen.jquery.js"></script>

<script type="text/javascript" src="http://localhost:3000/content/js/ui-core.js"></script>
<script type="text/javascript" src="http://localhost:3000/content/js/ui-general.js"></script>
