.tooltipster-default {
    border-width: 2px;
    border-color: #737373;
    border-radius: 0 ;
    -webkit-border-radius: 0 ;
    -moz-border-radius: 0 ;
    -webkit-box-shadow: none;
    -moz-box-shadow: none ;
    box-shadow: none ;
}

.tooltipster-default .modal-header {
    z-index: 3;
}

.tooltipster-arrow-right span,
.tooltipster-arrow-right .tooltipster-arrow-border {
    border-bottom-width: 16px !important;
    border-right-width: 16px;
    border-top-width: 16px !important;
    left: -16px;
    margin-top: -16px;
}

.tooltipster-arrow-right .tooltipster-arrow-border {
    border-bottom-width: 18px !important;
    border-right-width: 18px;
    border-top-width: 18px !important;
    margin-top: -18px;
}

.tooltipster-arrow-left span,
.tooltipster-arrow-left .tooltipster-arrow-border {
    border-bottom-width: 16px !important;
    border-left-width: 16px;
    border-top-width: 16px !important;
    right: -16px;
    margin-top: -16px;
}

.tooltipster-arrow-left .tooltipster-arrow-border {
    border-bottom-width: 18px !important;
    border-left-width: 18px;
    border-top-width: 18px !important;
    margin-top: -18px;
}
