.modal-bullettin{width:760px;}
.modal-bullettin .modal-body .btn-post{border:0 none;font:20px/44px ralewaymedium, sans-serif;width:180px;margin-top:20px;}
.modal-bullettin .modal-body .form-control{margin-bottom:10px;height: 38px;padding:0 12px;}
.modal-bullettin .modal-body textarea.form-control{
    height: 145px;
}
.modal-bullettin .modal-body .btn-save{margin-top:0;}
.modal-bullettin .modal-body .link-edit{display:inline-block;color:#f3472d;margin-bottom:10px;}
.modal-bullettin .settings-image{padding:0 0 20px;}
.modal-bullettin .settings-image > p{margin-bottom:10px;}
.modal-bullettin .col-left{border:0 none;}
.modal-bullettin .col-left textarea{height:114px;}
.modal-bullettin .col-right{border:0 none !important;min-height:inherit !important;padding:0 !important;}
.modal-bullettin .col-right .btn-save{width:180px;}
.modal-bullettin .frame-scrop{border:1px solid #ddd !important;}
.modal-bullettin .btn-section{border-bottom:2px dashed #ddd;padding-bottom:20px;}
.modal-bullettin footer{padding-top:20px;}
.modal-bullettin footer > h3{margin-bottom:10px;font-family:ralewaybold, sans-serif;color:#000;}
.modal-bullettin footer > p{margin-bottom:20px;}
.modal-bullettin footer > p a{color:#f3472d;}
.modal-bullettin footer .btn-settings{width:300px;margin-bottom:20px;}
.modal-bullettin footer .btn-settings .icon-next{margin-bottom:-5px;margin-left:7px;}
