@media (max-width: 767px){
	.modal-checkout-term .modal-header{padding-right:60px;}

    .ticket-fieldset .table-cell{padding-bottom:0;}
    .ticket-fieldset .table-total{border-top:2px dashed #ddd;}
    .ticket-fieldset .table-total .table-cell{padding-bottom:10px;}
    .ticket-fieldset .td-price{vertical-align:top;}
}

@media (max-width: 480px){
    .ticket-fieldset .td-price{width:40%;}
}
