.modal-confirm .modal-header{border:0 none;padding:0;}
.modal-confirm .modal-body{text-align:center;font-size:16px;}
.modal-confirm .section-header img{width:62px;}
.modal-confirm .section-header h2{font:32px/36px ralewaybold, sans-serif;color:#f3472d;margin:20px 0;}
.modal-confirm .modal-body > p{margin-bottom:20px;}
.modal-confirm .ticket-calendar{margin:0 auto;width:390px;}
.modal-confirm .ticket-calendar .ticket-back h4{font:20px/24px ralewaybold, sans-serif;}
.modal-confirm .btn-orange{border:0 none;display:inline-block;font:20px/44px ralewaymedium, sans-serif;text-decoration:none;width:100%;margin:30px 0;}

@media (max-width: 767px){
    .modal-confirm .ticket-calendar{width:90%;}
    .modal-confirm .section-header h2{font-size:24px;line-height:28px;}
}
