.modal-create{}
.modal-create .section-header{margin-bottom:30px;}
.modal-create .section-header h2{margin-bottom:15px;}
.modal-create label{font-weight:normal;}
.modal-create .btn-submit{width:235px;border:0 none;line-height:44px;}

.table-date{}
.table-date .table-cell{padding-right:10px;}
.table-date .col-num{vertical-align:top;}
.table-date .col-date{padding-bottom:15px;}
.table-date .col-date .form-control{width:120px;background:#fff;}

.bulletin-num{width:34px;height:34px;line-height:30px;background:#333;color:#fff;text-align:center;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;}


@media (max-width:767px){
	.modal-create .section-header h2{font:22px/28px ralewayextrabold, sans-serif;}
    .modal-create .section-header p{font-size:16px;line-height:20px;}
    .modal-create label{font-size:14px;line-height:18px;}
}
