.modal-details{width:485px;}
.modal-details .modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-details .modal-header{height:64px;color:#fff;}
.modal-details .modal-header .modal-title{font:26px/30px ralewaymedium, sans-serif;}

.modal-details .modal-footer{border:0 none;margin:0;}
.modal-details .modal-footer .package-price{font:30px/45px ralewayextrabold, sans-serif;text-align:left;}
.modal-details .modal-footer .package-price dt{color:#f3472d;}
.modal-details .modal-footer .package-price dd{float:left;width:25%;}
.modal-details .modal-footer .package-price .package-time{}
.modal-details .modal-footer .package-price .package-price{text-align:right;margin:0 10% 0 0;}
.modal-details .modal-footer .package-price .package-price del{display:block;color:#ABABAB;}
.modal-details .modal-footer .package-price .package-discount{color:#f3472d;}
.modal-details .modal-body{color:#333;font:20px/28px ralewaymedium, sans-serif;}
.modal-details .modal-body h3{font:26px/32px ralewayextrabold, sans-serif;}
.modal-details .modal-body h4{font:22px/26px ralewayextrabold, sans-serif;}

@media (max-width:767px){
	.modal-details{width:auto;}
    .modal-details .modal-footer{text-align:center;}
    .modal-details .modal-footer .package-price{margin:0 0 20px;}
}

@media (max-width:540px){
    .modal-details .modal-footer .package-price{font-size:18px;line-height:22px;}
    .modal-details .modal-footer .package-price dd{width:30%;}
}