.modal-request{width:650px;}
.modal-request .modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-request .modal-header{text-align:center;border:0 none;padding:55px 25px 10px;}
.modal-request .modal-header .modal-title{font:36px/40px ralewaybold, sans-serif;margin:16px 0 10px;}
.modal-request .modal-header h4{font:26px/30px ralewaymedium, sans-serif;margin:0 0 10px;}
.modal-request .modal-body{padding:15px 35px 12px;font:15px/18px ralewaymedium, sans-serif;}
.modal-request .modal-footer{border:0 none;}
.modal-request .social-icons{float:none;text-align:center;}
.modal-request .social-icons dt{font:22px/26px ralewaymedium, sans-serif;color:#000;padding:10px 0 15px;}
.modal-request .social-icons dd{margin:0 10px;}
.modal-request .btn-done{width:50%;background:#F3472D;border:1px solid #F3472D;font:20px/44px ralewaymedium, sans-serif;color:#fff;margin-top:20px;}

@media (max-width: 767px){
	.modal-request{width:auto;}
    .modal-request .btn-done{width:100%;}
}
