.modal-service .modal-header{background:#f3472d;}
/*.modal-service .modal-header .close{background-image:url(images/assets/btn_close_red.png);}*/
.modal-service .modal-footer .btn-book{border:0 none;width:auto;padding:0 45px;font:22px/44px ralewaymedium, sans-serif;}
