.company-event-page {
    background: #323232;

    .back-section {
        a {
            position: relative;
            font-size: $s14;
            line-height: 47px;
            font-weight: 700;
            display: inline-block;
            padding-left: 24px;
            color: $white;
            text-decoration: none;

            &:before{
                content: '';
                display: inline-block;
                width: 16px;
                height: 100%;
                position: absolute;
                top:0;
                left: 0;
                background: url(../images/ui/pages/company/event/icon_back.png) center center no-repeat;
                background-size: 16px auto;
            }
        }
    }
}
