.company-event-page {
    .bulletin-guide{
        font-size: 16px;

        p {
            font-family: $primary;
            font-size: $s13;
            line-height: 16px;
        }

        .btn-create{
            font-size: $h6;
            line-height: 34px;
            font-family: $primary;
            margin-top: 18px;
            margin-bottom: 4px;
        }

        + .bulletin-block{
            margin-top: 15px;
        }
    }

    .bulletin-block{
        margin:0;
        font-size: 16px;

        + .bulletin-block{
            margin-top: 10px;
        }

        .bulletin-header {
            .bulletin-title {
                font-size: $s13;
                font-family: $primary;
                font-weight: bold;
            }
        }

        .bulletin-content{
            font-size: $s13;
            font-family: $primary;
        }

        .bulletin-footer {
            time{
                font-size: $s13;
                font-family: $primary;
                line-height: 17px;
            }

            .btn-edit{
                font-size: $h6;
                line-height: 34px;
                font-family: $primary;
            }
        }
    }
}
