.company-event-page {
    font-size: 16px;
    line-height: 150%;
    font-family: $primary;

    .main-content{
        padding:0;
    }

    .content{
        width: 549px;
        float: left;
        padding:24px 0 20px 38px;
        border-left: 1px solid rgba(50, 50, 50, .2);

        @media (max-width: 1269px){
            width: calc(100% - 109px);
        }

        @media (max-width: 767px){
            border-left: 0 none;
            float: none;
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }

        header{
            h3{
                font-size: $s27;
                line-height: 34px;
                font-family: $primary;
                color: #f2472d;
                margin:0 0 21px;
            }
        }

        p{
            font-size: $h5;
            line-height: 25px;
            font-family: $primary;
            color: rgba(51, 51, 51, .3);
            text-shadow: 0 1px 0 rgba(51, 51, 51, 0.3);
            margin:0 0 19px;
        }

        .row{
            margin-left: -12px;
            margin-right: -12px;
        }

        div[class*="col-"]{
            padding-left: 12px;
            padding-right: 12px;
        }

        .section{
            margin-top: 16px;
            border-top: 1px solid rgba(50, 50, 50, .1);

            &:first-child{
                border-top: 0 none;
            }
        }

        .bootstrap-select {
            font-size: 16px;
            font-family: 'lato', sans-serif;

            > .btn,
            > .btn:focus,
            > .btn:active,
            > .btn:hover,
            > .btn:visited,
            &.open > .btn,
            &.open > .btn:focus,
            &.open > .btn:active,
            &.open > .btn:hover,
            &.open > .btn:visited{
                font-family: 'lato', sans-serif;
                font-size: $h5;
                min-height: 40px;
                height: 40px;
                padding-left: 15px;
                padding-right: 35px;
                border-color: $border;

               /*@media (max-width:767px){
                    padding-left: 10px;
                    padding-right: 35px;
                }*/
            }

            &.btn-group {
                .btn {
                    .caret {
                        width:21px;
                        height:15px;
                        background-image: url(../images/ui/pages/company/settings/icon_select.png);
                        background-size: 21px auto;
                        margin-top: -7px;
                        right: 10px;

                        /*@media (max-width:767px){
                            width:15px;
                            background-size: 15px auto;
                            right: 10px;
                        }*/
                    }
                }
            }

            .dropdown-menu {
                font-size: 16px;

                > li {
                    font-size: $h5;

                    > a {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }

        .label-form{
            display: block;
            font-family: $primary;
            font-size: $h5;
            line-height: 25px;
            color: $base;
            margin-top: 18px;
            margin-bottom: 6px;

            small {
                font-style: italic;
                color:#9b9b9b;
            }
        }

        .form-control{
            height: 40px;
        }

        .input-countdown.inner .form-control{
            height: 85px;
        }

        label.placeholder-custom .form-control,
        div.placeholder-custom .form-control{
            height: 38px;
        }
        .input-custom .table-css input[type="text"]{
            height: 37px;
        }

        footer{

            @media (max-width: 767px){
                margin:0 -10px;

                &:after{
                    content:'';
                    display: block;
                    clear:both;
                }
            }

            .btn {
                width: 146px;
                height: 44px;
                margin-right: 16px;
                font-size: $h5;
                font-family: $primary;
                border-radius: 0;

                &.btn-positive{
                    &:after{
                        content:'';
                    }
                }

                &.btn-negative{
                    &:before{
                        content:'';
                    }
                }

                @media (max-width: 767px){
                    float: left;
                    width: calc(50% - 20px);
                    margin:0 10px;
                }
            }
        }
    }
}
