.company-event-page {
    .link-social{
        margin-top: 18px;

        @media (min-width: 1270px){
            width: 218px;
        }

        li{
            + li{
                @media (min-width: 1270px){
                    margin-left: 5px;
                }
            }
        }
    }

    .affix {
        .coming-section{
            margin-top: 0;
        }
    }

    .coming-section{
        margin-top: 20px;

        @media (min-width: 1270px){
            width: 218px;
        }

        .section-header{
            h4{
                text-align: center;
                font-size: $s21;
                font-family: $primary;
                font-weight: 700;
                margin:5px 0 10px;
            }
        }
    }
}
