.company-event-page {
    .share-event{
        p{
            font-size: $h5;
            font-family: $primary;
            color: rgba(51, 51, 51, .6);
            position: relative;
            top: -4px;
            margin:0 0 16px;
        }

        .share-section{
            border-top:0 none;

            .share{
                width: 422px;
                margin-bottom: 14px;

                @media (max-width: 767px){
                    width: 100%;
                }
            }
        }
    }
}
