.company-event-page {
    .share-event{
        p{
            font-size: $h5;
            font-family: $primary;
            color: rgba(51, 51, 51, .6);
            position: relative;
            top: -4px;
            margin:0 0 16px;

            @media (max-width: 767px){
                font-size: $s15;
            }
        }

        .share-section{
            border-top:0 none;
            width: 422px;

            @media (max-width: 991px){
                width: 100%;
            }

            .share{
                margin-bottom: 14px;

                .cb-mark {
                    ~ .cb-label{
                        @media (max-width: 767px){
                            margin:0;
                            font-size: $s15;
                        }
                    }
                }

                > .btn {
                    font-family: $four;
                    font-weight: 600;
                    font-size: $s13;
                    color: #323232;
                    border-radius: 4px;
                    position: relative;
                    padding: 0 33px 0 56px;
                    height: 40px;
                    width: 100%;
                    display: block;
                    text-align: left;
                    position: relative;

                    @media (max-width: 767px){
                        height: 36px;
                        padding-left: 46px;
                    }

                    @media (max-width: 359px){
                        height: 31px;
                    }

                    &:before{
                        content: '';
                        display: inline-block;
                        width: 26px;
                        height: 26px;
                        background: url(images/ui/pages/company/settings/icon_share.png) no-repeat;
                        background-size: 26px auto;
                        position: absolute;
                        top:6px;
                        left:14px;

                        @media (max-width: 767px){
                            top: 7px;
                            left: 10px;
                            width: 21px;
                            height: 21px;
                            background-size: 21px auto;
                        }

                        @media (max-width: 359px){
                            top: 4px;
                            left: 6px;
                        }

                        @media
                        only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
                        only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
                        only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
                        only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
                        only screen and (              min-resolution:120dpi)      and (min-width:320px),
                        only screen and (               min-resolution:2dppx)      and (min-width:320px){
                            background-image: url(images/ui/pages/company/settings/icon_share@3x.png);
                        }
                    }

                    &.btn-facebook:before{
                        background-position: center 0;
                    }

                    &.btn-twitter:before{
                        background-position: center -26px;

                        @media (max-width: 767px){
                            background-position: center -21px;
                        }
                    }

                    &.btn-linkedin:before{
                        background-position: center -52px;

                        @media (max-width: 767px){
                            background-position: center -42px;
                        }
                    }

                    &.btn-mailchimp:before{
                        background-position: center -78px;

                        @media (max-width: 767px){
                            background-position: center -63px;
                        }
                    }

                    &.btn-constant:before{
                        background-position: center -104px;

                        @media (max-width: 767px){
                            background-position: center -84px;
                        }
                    }

                    &.btn-email:before{
                        background-position: center -130px;

                        @media (max-width: 767px){
                            background-position: center -105px;
                        }
                    }
                }

                .bootstrap-select {
                    > .btn {
                        padding-left: 46px;

                        @media (max-width: 767px){
                            padding-left: 36px;
                        }

                        @media (max-width: 359px){
                            padding-left: 32px;
                        }

                        &:before {
                            content: '';
                            display: inline-block;
                            width: 26px;
                            height: 26px;
                            background: url(images/ui/pages/company/settings/icon_share.png) no-repeat;
                            background-size: 26px auto;
                            position: absolute;
                            top:6px;
                            left:14px;

                            @media (max-width: 767px){
                                top: 7px;
                                left: 10px;
                                width: 21px;
                                height: 21px;
                                background-size: 21px auto;
                            }

                            @media (max-width: 359px){
                                top: 4px;
                                left: 6px;
                            }

                            @media
                            only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
                            only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (              min-resolution:120dpi)      and (min-width:320px),
                            only screen and (               min-resolution:2dppx)      and (min-width:320px){
                                background-image: url(images/ui/pages/company/settings/icon_share@3x.png);
                            }
                        }
                    }
                }

                .select-mailchimp {
                    .bootstrap-select {
                        > .btn {
                            &:before {
                                background-position: center -78px;

                                @media (max-width: 767px){
                                    background-position: center -63px;
                                }
                            }
                        }
                    }
                }

                .select-constant-contact {
                    .bootstrap-select {
                        > .btn {
                            &:before {
                                background-position: center -104px;

                                @media (max-width: 767px){
                                    background-position: center -84px;
                                }
                            }
                        }
                    }
                }
            }
        }

        footer {
            .btn {
                &.btn-positive{
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
}
