<!-- #appointmentModal -->
<div id="appointmentModal" class="modal fade" role="dialog" aria-labelledby="appointmentModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-appointment">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 id="appointmentModalLabel" class="modal-title">You are sure you want to<br /> <span>cancelling</span> all Eternal yogo appointment?</h3>
                <!--<h3 id="appointmentModalLabel" class="modal-title">You are sure you want to<br /> <span>cancelling</span> Eternal yogo appointments<br /> for <strong>Jul. 15th and Jul. 16th</strong>?</h3>-->
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-form btn-disagree">I'm sure, cancel it</button>
                <button type="button" class="btn btn-form btn-neutral">No, keep the appoinment</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- /#appointmentModal -->