<!-- #boardingPlanModal -->
<div id="boardingPlanModal" class="modal modal-boarding fade" role="dialog" aria-labelledby="boardingPlanModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-intro hidden-xs">
        <img class="img-normal" alt="" src="../../content/images/boarding/img-welcome.png" />
        <img class="img-retina" alt="" src="../../content/images/boarding/img-welcome@2x.png" />
    </div>
    <div class="modal-dialog modal-boarding-plan">
        <div class="modal-content">
            <div class="modal-intro visible-xs">
                <img class="img-normal" alt="" src="../../content/images/boarding/mobile/img-logo.png" />
                <img class="img-retina" alt="" src="../../content/images/boarding/mobile/img-logo@2x.png" />
            </div>
            <div class="modal-header">
                <h4 id="boardingPlanModalLabel" class="modal-title">One last thing</h4>
            </div>
            <div class="modal-body">
                <p>Now, we will activate your <strong>30 days free trial</strong>.<br />Once the free period ends, your account will shift<br /> to a paid Premium Membership.</p>
                <p class="hidden-xs">Please choose the plan that works best for you:</p>
                <p class="visible-xs">Please choose a plan:</p>
                <section class="plan-option">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <span class="radio-custom">
                                <input id="radioMonthlyPlan" class="radio-mark" name="radioPlan" type="radio">
                                <label class="radio-label" for="radioMonthlyPlan">
                                    <span class="plan">
                                        <span class="price"><span class="unit">$</span><span class="num">10</span><sup>99</sup></span>
                                        <span class="name">MONTHLY PLAN</span>
                                        <span class="save"></span>
                                    </span>
                                </label>
                            </span>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <span class="radio-custom">
                                <input id="radioAnnualPlan" class="radio-mark" name="radioPlan" type="radio">
                                <label class="radio-label" for="radioAnnualPlan">
                                    <span class="plan">
                                        <span class="price"><span class="unit">$</span><span class="num">99</span><sup>00</sup></span>
                                        <span class="name">ANNUAL PLAN</span>
                                        <span class="save"><span class="text">SAVE 25%</span></span>
                                    </span>
                                </label>
                            </span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <input type="button" class="btn btn-form btn-neutral" value="Back" />
                    </div>
                    <div class="col-xs-6">
                        <input type="button" class="btn btn-form btn-agree" value="Next" />
                    </div>
                </div>
            </div>
            <footer class="site-footer visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <p>Copyright © 2014 Kuyam Companies, Inc. All rights reserved. Patent pending.</p>
                        </div>
                        <div class="col-xs-4">
                            <ul class="link-socials clearfix">
                                <li><a target="_blank" href="#" title="Comment"><span class="footer_icon_comment off "></span></a></li>
                                <li><a target="_blank" href="https://twitter.com/mykuyam" title="Twitter"><img alt="" src="../../content/images/icons_2016/footer_icon_facebook.png" /></a></li>
                                <li><a target="_blank" href="https://www.facebook.com/mykuyam" title="Facebook"><img alt="" src="../../content/images/icons_2016/footer_icon_twitter.png" /></a></li>
                                <li class="hidden-xs"><a target="_blank" href="#" title="Terms of use and privacy"><p>Terms of use and privacy</p></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<!-- /#boardingPlanModal -->
