<!-- #boardingTimeModal -->
<div id="boardingTimeModal" class="modal modal-boarding fade" role="dialog" aria-labelledby="boardingTimeModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-intro hidden-xs">
        <img class="img-normal" alt="" src="../../content/images/boarding/img-welcome.png" />
        <img class="img-retina" alt="" src="../../content/images/boarding/img-welcome@2x.png" />
    </div>
    <div class="modal-dialog modal-boarding-time">
        <div class="modal-content">
            <div class="modal-intro visible-xs">
                <img class="img-normal" alt="" src="../../content/images/boarding/mobile/img-logo.png" />
                <img class="img-retina" alt="" src="../../content/images/boarding/mobile/img-logo@2x.png" />
            </div>
            <div class="modal-header">
                <h4 id="boardingTimeModalLabel" class="modal-title">Your company business hours</h4>
            </div>
            <div class="modal-body">
                <!-- .working-hours -->
                <div class="working-section">
                    <section class="table-css">
                        <div class="tr">
                            <div class="td working-day">
                                <div class="relative">
                                    <hr />
                                    <span class="cb-custom">
                                        <input class="cb-mark" type="checkbox" id="cbDay1" name="cbDay" />
                                        <label class="cb-label" for="cbDay1">monday</label>
                                    </span>
                                </div>
                            </div>
                            <div class="td working-time">
                                <div class="table-css">
                                    <div class="tr">
                                        <div class="td td-from">
                                            From
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="td td-to">
                                            to
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td working-day">
                                <div class="relative">
                                    <hr />
                                    <span class="cb-custom">
                                        <input class="cb-mark" type="checkbox" id="cbDay2" name="cbDay" />
                                        <label class="cb-label" for="cbDay2">tuesday</label>
                                    </span>
                                </div>
                            </div>
                            <div class="td working-time">
                                <div class="table-css">
                                    <div class="tr">
                                        <div class="td td-from">
                                            From
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="td td-to">
                                            to
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td working-day">
                                <div class="relative">
                                    <hr />
                                    <span class="cb-custom">
                                        <input class="cb-mark" type="checkbox" id="cbDay3" name="cbDay" />
                                        <label class="cb-label" for="cbDay3">wednesday</label>
                                    </span>
                                </div>
                            </div>
                            <div class="td working-time">
                                <div class="table-css">
                                    <div class="tr">
                                        <div class="td td-from">
                                            From
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="td td-to">
                                            to
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td working-day">
                                <div class="relative">
                                    <hr />
                                    <span class="cb-custom">
                                        <input class="cb-mark" type="checkbox" id="cbDay4" name="cbDay" />
                                        <label class="cb-label" for="cbDay4">thursday</label>
                                    </span>
                                </div>
                            </div>
                            <div class="td working-time">
                                <div class="table-css">
                                    <div class="tr">
                                        <div class="td td-from">
                                            From
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="td td-to">
                                            to
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td working-day">
                                <div class="relative">
                                    <hr />
                                    <span class="cb-custom">
                                        <input class="cb-mark" type="checkbox" id="cbDay5" name="cbDay" />
                                        <label class="cb-label" for="cbDay5">friday</label>
                                    </span>
                                </div>
                            </div>
                            <div class="td working-time">
                                <div class="table-css">
                                    <div class="tr">
                                        <div class="td td-from">
                                            From
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="td td-to">
                                            to
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td working-day">
                                <div class="relative">
                                    <hr />
                                    <span class="cb-custom">
                                        <input class="cb-mark" type="checkbox" id="cbDay6" name="cbDay" />
                                        <label class="cb-label" for="cbDay6">saturday</label>
                                    </span>
                                </div>
                            </div>
                            <div class="td working-time">
                                <div class="table-css">
                                    <div class="tr">
                                        <div class="td td-from">
                                            From
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="td td-to">
                                            to
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="td working-day">
                                <div class="relative">
                                    <hr />
                                    <span class="cb-custom">
                                        <input class="cb-mark" type="checkbox" id="cbDay7" name="cbDay" />
                                        <label class="cb-label" for="cbDay7">sunday</label>
                                    </span>
                                </div>
                            </div>
                            <div class="td working-time">
                                <div class="table-css">
                                    <div class="tr">
                                        <div class="td td-from">
                                            From
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="td td-to">
                                            to
                                        </div>
                                        <div class="td">
                                            <ul class="clearfix">
                                                <li>
                                                    <input type="text" value="10 : 00" />
                                                </li>
                                                <li class="form-select form-select-time">
                                                    <select>
                                                        <option>AM</option>
                                                        <option>PM</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- /.working-hours -->
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <input type="button" class="btn btn-form btn-neutral" value="Back" />
                    </div>
                    <div class="col-xs-6">
                        <input type="button" class="btn btn-form btn-agree" value="Next" />
                    </div>
                </div>
            </div>
            <footer class="site-footer visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <p>Copyright © 2014 Kuyam Companies, Inc. All rights reserved. Patent pending.</p>
                        </div>
                        <div class="col-xs-4">
                            <ul class="link-socials clearfix">
                                <li><a target="_blank" href="#" title="Comment"><span class="footer_icon_comment off "></span></a></li>
                                <li><a target="_blank" href="https://twitter.com/mykuyam" title="Twitter"><img alt="" src="../../content/images/icons_2016/footer_icon_facebook.png" /></a></li>
                                <li><a target="_blank" href="https://www.facebook.com/mykuyam" title="Facebook"><img alt="" src="../../content/images/icons_2016/footer_icon_twitter.png" /></a></li>
                                <li class="hidden-xs"><a target="_blank" href="#" title="Terms of use and privacy"><p>Terms of use and privacy</p></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<!-- /#boardingTimeModal -->
