<!-- #categoryChosenModal -->
<div id="categoryChosenModal" class="modal modal-chosen fade" role="dialog" aria-labelledby="boardingCompleteModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-boarding-chosen">
        <div class="modal-content">
            <select id="chosen-select1" data-placeholder="Your Favorite Types of Bear" style="width: 100%" multiple class="form-control chosen-select" tabindex="8">
                <option value=""></option>
                <option>American Black Bear</option>
                <option>Asiatic Black Bear</option>
                <option>Brown Bear</option>
                <option>Giant Panda</option>
                <option selected>Sloth Bear</option>
                <option disabled>Sun Bear</option>
                <option selected>Polar Bear</option>
                <option disabled>Spectacled Bear</option>
            </select>
        </div>
        <button class="btn btn-form btn-agree btn-ready"><span class="icon icon-ready"></span> Ready</button>
    </div>
</div>
<!-- /#categoryChosenModal -->
