<!-- #checkoutModal -->
<div id="checkoutModal" class="modal fade" role="dialog" aria-labelledby="checkoutModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-checkout">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="checkoutModalLabel" class="modal-title"><span class="checkout-time-complete hidden-xs"><span>Time to complete booing:</span> <time>09:39</time></span>Checkout</h4>
            </div>
            <div class="modal-body">

                <!-- .col -->
                <div class="col">
                    <div class="appointment">
                        <h3>Yoga for adults</h3>
                        <time><strong>Wed, Jul 20th</strong> at 4:00 pm - 4:20 pm</time>
                        <address><strong>Yoga Temple</strong><br />2-1 E. Delaware Pl. 2nd floor.<br />Los Angeles, CA.</address>
                    </div>

                    <div class="employee">
                        <label>Width</label>
                        <p>Kourosh Gohar</p>
                        <label>For</label>
                        <p>Alfonso Medeiros</p>
                    </div>

                    <div class="contact">
                        <label>Confirmation method:</label>
                    </div>

                </div>
                <!-- /.col -->

                <!-- .col -->
                <div class="col">

                    <div class="code">
                        <div>
                            <input type="text" class="form-control" placeholder="Promo Code/Gift Card" />
                            <input type="button" class="btn btn-green" value="Apply" />
                        </div>
                        <div class="txt-required">please enter a valid code</div>
                    </div>

                    <div class="bill">
                        <h5>Total due</h5>
                        <div class="table-css">
                            <div class="tr">
                                <div class="td td-name"><span>SUMMER</span></div>
                                <div class="td td-price">-$10.00</div>
                            </div>
                            <div class="tr">
                                <div class="td td-name"><span>x6773</span> <small>($0.00 remaining)</small></div>
                                <div class="td td-price"></div>
                            </div>
                            <div class="tr">
                                <div class="td td-name"><span>x5561</span> <small>($10.00 remaining)</small></div>
                                <div class="td td-price">-$9.00</div>
                            </div>
                            <div class="tfoot">
                                <div class="tr">
                                    <div class="td td-name"></div>
                                    <div class="td td-price">$0.00</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="method">
                        <label>Checkout Method</label>
                        <input type="button" class="btn btn-green" value="Book Appointment" />
                        <input type="button" class="btn btn-disagree" value="Credit Card" />
                        <input type="button" class="btn btn-green" value="Pay in person" />
                    </div>

                    <!-- .rule -->
                    <div class="rule">
                        <header>Cancellation policy:</header>
                        <p>this appointment have a 24-hours cancellation policy.<br /> if you modify or cancel 24 hours before this appointment<br /> or later, you will be charge 50% of total amount.</p>
                    </div>
                    <!-- .rule -->

                </div>
                <!-- /.col -->

            </div>
        </div>
    </div>
</div>
<!-- /#checkoutModal -->