<!-- #checkoutModal -->
<div id="checkoutModal" class="modal fade" role="dialog" aria-labelledby="checkoutModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-checkout">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="checkoutModalLabel" class="modal-title">Checkout<span class="time-complete"><span>Time to complete booing:</span> <time>09:39</time></span></h4>
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- .col -->
                    <div class="col-xs-12 col-sm-6">
                        <div class="appointment">
                            <h3>Yoga for adults</h3>
                            <time><strong>Wed, Jul 20th</strong> at 4:00 pm - 4:20 pm</time>
                            <address><strong>Yoga Temple</strong><br />2-1 E. Delaware Pl. 2nd floor.<br />Los Angeles, CA.</address>
                        </div>

                        <div class="employee">
                            <label class="form-label">Width</label>
                            <p>Kourosh Gohar</p>
                            <label class="form-label">For</label>
                            <p>Alfonso Medeiros</p>
                        </div>

                        <div class="contact">
                            <label class="form-label">Confirmation method:</label>
                            <div class="radio-custom contact-radio clearfix">
                                <input id="radioEmail" class="radio-mark" name="radioContact" type="radio">
                                <label class="radio-label" for="radioEmail">
                                    <span>Email to</span> <strong>kourosh@gohar.com</strong>
                                </label>
                                <div class="group hide">
                                    <input class="form-control" placeholder="Email" type="text" value="kourosh@gohar.com" />
                                    <input class="btn btn-green" value="Apccept" type="button" />
                                </div>
                                <a class="link-edit" title="" href="javascript:void(0);"></a>
                            </div>
                            <div class="radio-custom contact-radio clearfix">
                                <input id="radioSMS" class="radio-mark" name="radioContact" type="radio">
                                <label class="radio-label" for="radioSMS">
                                    <span>SMS to</span> <strong>555 666 777</strong>
                                </label>
                                <div class="group hide">
                                    <input class="form-control" placeholder="Phone" type="text" value="555 666 777" />
                                    <input class="btn btn-green" value="Apccept" type="button" />
                                </div>
                                <a class="link-edit" title="" href="javascript:void(0);"></a>
                            </div>
                        </div>

                    </div>
                    <!-- /.col -->

                    <!-- .col -->
                    <div class="col-xs-12 col-sm-6">

                        <div class="code">
                            <div class="group disabled">
                                <input type="text" class="form-control" placeholder="Promo Code/Gift Card" />
                                <input type="button" class="btn btn-green" value="Apply" />
                            </div>
                            <div class="txt-required">please enter a valid code</div>
                        </div>

                        <div class="bill null">
                            <h5>Total due</h5>
                            <section class="clearfix">
                                <div class="cols-name">
                                    <ul>
                                        <li class="promo" data-tr="1">
                                            <span class="text">SUMMER</span>
                                        </li>
                                        <li class="giftcard" data-tr="2">
                                            <span class="text"><span class="num">x6773</span> <small>($0.00 remaining)</small></span>
                                        </li>
                                        <li class="giftcard" data-tr="3">
                                            <span class="text"><span class="num">x5561</span> <small>($10.00 remaining)</small></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cols-price">
                                    <div class="table-css">
                                        <div class="tr" data-tr="1">
                                            <div class="td">
                                                -$
                                            </div>
                                            <div class="td">
                                                <span>10.00 <a class="link-delete" title="" href="javascript:void(0);"></a></span>
                                            </div>
                                        </div>
                                        <div class="tr" data-tr="2">
                                            <div class="td">
                                                -$
                                            </div>
                                            <div class="td">
                                                <span>9.00 <a class="link-delete" title="" href="javascript:void(0);"></a></span>
                                            </div>
                                        </div>
                                        <div class="tr" data-tr="3">
                                            <div class="td">
                                                -$
                                            </div>
                                            <div class="td">
                                                <span>9.00 <a class="link-delete" title="" href="javascript:void(0);"></a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <footer>
                                <span class="total"><span>$</span>0.00</span>
                            </footer>
                        </div>

                        <div class="method">
                            <label>Checkout Method</label>
                            <input type="button" class="btn btn-green" value="Book Appointment" />
                            <input type="button" class="btn btn-disagree" value="Credit Card" />
                            <input type="button" class="btn btn-green" value="Pay in person" />
                        </div>

                        <!-- .rule -->
                        <div class="rule">
                            <p>Cancellation policy:<br />this appointment have a 24-hours cancellation policy.<br /> if you modify or cancel 24 hours before this appointment<br /> or later, you will be charge 50% of total amount.</p>
                        </div>
                        <!-- .rule -->

                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#checkoutModal -->