<!-- #classModal -->
<div id="classModal" class="modal fade" role="dialog" aria-labelledby="classModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-details modal-class">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">class details</h4>
            </div>
            <div class="modal-body">
                <h3>spa:</h3>
                <p>
                    Take advantage of our wonderful spa designed to help you leave your hectic life at the door and close yourself in a world of relaxation and well-being.
                </p>
            </div>
            <div class="modal-footer clearfix">
                <span class="package-price">
                    <span>60 min</span>
                    <span>$75</span>
                </span>
                <button type="button" class="btn-pink btn-book">book now</button>
            </div>
        </div>
    </div>
</div>
<!-- /#classModal -->