<!-- #detailsModal -->
<div id="detailsModal" class="modal fade" role="dialog" aria-labelledby="detailsModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-details">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h6 id="detailsModalLabel" class="modal-title">Details</h6>
            </div>
            <div class="modal-body">
                <center>
                    <h5>Yoga for adults</h5>
                    <!--<p><del>$100</del> <small>with</small> <span class="off">sale off 50%</span> <small>-</small> <span class="price">$50.00</span><br />30 minutes</p>-->
                    <p><span>$50.00</span><br />30 minutes</p>
                </center>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
            <div class="modal-footer clearfix">
                <input type="button" class="btn btn-green" value="Select this Class" />
            </div>
        </div>
    </div>
</div>
<!-- /#detailsModal -->