<!-- #errorModal -->
<div id="errorModal" class="modal fade" role="dialog" aria-labelledby="errorModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-error">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 id="errorModalLabel" class="modal-title">Please enter a valid code<br />Maximum of one promo code<br />Maximum of two gift cards</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <button class="btn btn-form btn-agree">Ok</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<!-- /#errorModal -->