<!-- #newsletterModal -->
<div id="newsletterModal" class="modal fade" role="dialog" aria-labelledby="newsletterModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-newsletter">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 id="newsletterModalLabel" class="modal-title">Let's keep in touch!</h4>
            </div>
            <div class="modal-body">
                <p>Be the first to hear about new classes, services,<br /> promos, and much more!</p>
            </div>
            <div class="modal-footer">
                <ul class="clearfix">
                    <li class="col-xs-8">
                        <input type="email" class="form-control" placeholder="Your email address" />
                    </li>
                    <li class="col-xs-4">
                        <button class="btn btn-form btn-agree">Subscribe</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /#newsletterModal -->