<!-- #modal-note -->
<div id="modal-note" class="modal fade" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-form modal-note">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">appointment notes</h4>
                </div>
                <div class="modal-body">
                    <h2>Amy's Hair Salon</h2>
                    <h4>Friday, August 16th <time>10:00 am</time></h4>
                    <div class="notes-list">
                        <div class="notes-block">
                            <div class="notes-info clearfix">
                                <div class="user-avatar"><img alt="" src="../../content/images/ui/modals/notes/avatar_1.jpg" /></div>
                                <p>I am very sensitive to the shampoo you use. I will be bringing my own.</p>
                            </div>
                        </div>
                        <div class="notes-time">today, August 11th 9:40 am</div>
                        <div class="notes-block">
                            <div class="notes-info clearfix">
                                <div class="user-avatar"><img alt="" src="../../content/images/ui/modals/notes/avatar_2.jpg" /></div>
                                <p>I am very sensitive to the shampoo you use. I will be bringing my own.</p>
                            </div>
                        </div>
                        <div class="notes-time">today, August 11th 9:40 am</div>
                        <div class="notes-block">
                            <div class="notes-info clearfix">
                                <div class="user-avatar"><img alt="" src="../../content/images/ui/modals/notes/avatar_1.jpg" /></div>
                                <p>I am very sensitive to the shampoo you use. I will be bringing my own.</p>
                            </div>
                        </div>
                        <div class="notes-time">today, August 11th 9:40 am</div>
                        <div class="notes-block">
                            <div class="notes-info clearfix">
                                <div class="user-avatar"><img alt="" src="../../content/images/ui/modals/notes/avatar_2.jpg" /></div>
                                <p>I am very sensitive to the shampoo you use. I will be bringing my own.</p>
                            </div>
                        </div>
                        <div class="notes-time">today, August 11th 9:40 am</div>
                    </div>
                    <fieldset>
                        <textarea class="form-control" cols="" rows="" onblur="if (this.value == '') { this.value = 'add anything you think the business should know or any requests before your appointment...'; }" onfocus="if (this.value == 'add anything you think the business should know or any requests before your appointment...') { this.value = ''; }">add anything you think the business should know or any requests before your appointment...</textarea>
                        <div class="text-right">
                            <button type="button" class="btn-green btn-form btn-note">add note</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
<!-- /#modal-note -->