<!-- #notesModal -->
<div id="notesModal" class="modal fade" role="dialog" aria-labelledby="notesModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-notes">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 id="notesModalLabel" class="modal-title">Appointment notes</h3>
                <p>Eternal yoga Jul. 14th, 4:00 pm</p>
            </div>
            <div class="modal-body">
                <div class="item you">
                    <section>
                        <p>Hi guys! I just want to know how hard this class is. I really don´t want to end it like super tired!</p>
                        <time>July 15th 12:21 am</time>
                    </section>
                    <span class="avatar" data-name="you"></span>
                </div>
                <div class="item me">
                    <section>
                        <p>Hi guys! I just want to know how hard this class is. I really don´t want to end it like super tired!</p>
                        <time>July 15th 12:21 am</time>
                    </section>
                    <span class="avatar" data-name="me"></span>
                </div>
                <div class="item you">
                    <section>
                        <p>Hi guys! I just want to know how hard this class is. I really don´t want to end it like super tired!</p>
                        <time>July 15th 12:21 am</time>
                    </section>
                    <span class="avatar" data-name="me"></span>
                </div>
            </div>
            <div class="modal-footer">


             </div>
        </div>
    </div>
</div>
<!-- /#notesModal -->