<!-- #offerModal -->
<div id="offerModal" class="modal fade" role="dialog" aria-labelledby="offerModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-offer">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="close" data-dismiss="modal"></button>
                <a class="logo-offer" title="" href="">
                    <img src="content/images/header_BLA_logo.png" alt="" />
                </a>
                <div class="event">
                    Best beautify massage 2nd time
                    <br />
                    <span>Jun 01 - Jul 31</span>
                </div>
            </div>
            <div class="modal-body clearfix">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs clearfix" role="tablist">
                    <li class="active">
                        <a href="#tab1" role="tab" data-toggle="tab">
                            <i>$5.00</i>
                            <span title="gentle..."> gentle... </span>
                            <br />
                            <span title="yoga"> yoga </span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab2" role="tab" data-toggle="tab">
                            <i>$5.00</i>
                            <span title="back..."> back... </span>
                            <br />
                            <span title="body massage"> body massage </span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab3" role="tab" data-toggle="tab">
                            <i>$5.00</i>
                            <span title="back..."> back... </span>
                            <br />
                            <span title="body massage"> body massage </span>
                        </a>
                    </li>
                </ul>
                <!-- /Nav tabs -->

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div class="col-xs-12 col-sm-6">
                            <h3>the offer!</h3>
                            <h2><span class="new-price">$5.00</span></h2>
                            <h2 class="clearfix"><span class="regular-price"><del>$10.00</del><br /> regular price</span> <span class="saleoff">50% off</span></h2>
                            <a class="btn-availability" href="#">check for availability</a>
                            <h4>promotional offers subject to <a class="offer-terms" title="" href="javacript:void(0);" data-toggle="modal" data-target="#termsOfferModal">terms</a></h4>
                            <hr class="visible-xs" />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="offer-info">
                                <h3>description</h3>
                                <div class="offer-scroll">
                                    <p> In view of the special pricing for the Beautify LA event, all payments are nonrefundable unless written notice of cancellation is received by Kuyam within 24 hours after Kuyam confirms the appointment; provided that no refund will be given if the appointment is cancelled within 24 hours of the appointment time. </p>
                                    <p> In view of the special pricing for the Beautify LA event, all payments are nonrefundable unless written notice of cancellation is received by Kuyam within 24 hours after Kuyam confirms the appointment; provided that no refund will be given if the appointment is cancelled within 24 hours of the appointment time. </p>
                                    <p> In view of the special pricing for the Beautify LA event, all payments are nonrefundable unless written notice of cancellation is received by Kuyam within 24 hours after Kuyam confirms the appointment; provided that no refund will be given if the appointment is cancelled within 24 hours of the appointment time. </p>
                                    <p> In view of the special pricing for the Beautify LA event, all payments are nonrefundable unless written notice of cancellation is received by Kuyam within 24 hours after Kuyam confirms the appointment; provided that no refund will be given if the appointment is cancelled within 24 hours of the appointment time. </p>
                                    <p> In view of the special pricing for the Beautify LA event, all payments are nonrefundable unless written notice of cancellation is received by Kuyam within 24 hours after Kuyam confirms the appointment; provided that no refund will be given if the appointment is cancelled within 24 hours of the appointment time. </p>
                                    <p> In view of the special pricing for the Beautify LA event, all payments are nonrefundable unless written notice of cancellation is received by Kuyam within 24 hours after Kuyam confirms the appointment; provided that no refund will be given if the appointment is cancelled within 24 hours of the appointment time. </p>
                                    <p> In view of the special pricing for the Beautify LA event, all payments are nonrefundable unless written notice of cancellation is received by Kuyam within 24 hours after Kuyam confirms the appointment; provided that no refund will be given if the appointment is cancelled within 24 hours of the appointment time. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">...</div>
                    <div class="tab-pane" id="tab3">...</div>
                </div>
                <!-- /Tab panes -->
            </div>
        </div>
    </div>
</div>
<!-- /#offerModal -->