<div id="paypalModal" class="modal fade" role="dialog" aria-labelledby="paypalModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-paypal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Select your payment option</h4>
            </div>
                <div class="modal-body">
                    <div class="table-css">
                        <div class="tr">
                            <div class="td"><a title="" href="#"><img alt="" class="img-responsive" src="http://localhost:3000/content/images/ui/modals/paypal/paypal.png" /></a></div>
                            <div class="td"><a title="" href="#"><img alt="" class="img-responsive" src="http://localhost:3000/content/images/ui/modals/paypal/cards.png" /></a></div>
                        </div>
                    </div>
                </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>