<!-- #repeatModal -->
<div id="repeatModal" class="modal fade" role="dialog" aria-labelledby="repeatModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-repeat">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 class="modal-title">You are <span>cancelling</span><br />Eternal yogo appointment</h3>
            </div>
            <div class="modal-body">
                <p>This is a repeating appointment.<br />Please select what do you want to cancel:</p>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Specific appointment/s
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <section class="scroll-content">
                                    <div class="cb-custom">
                                        <input class="cb-mark" type="checkbox" id="cbA1" name="cbDay" />
                                        <label class="cb-label" for="cbA1">T Jul. 14th, 4:00 pm</label>
                                    </div>
                                    <div class="cb-custom">
                                        <input class="cb-mark" type="checkbox" id="cbA2" name="cbDay" />
                                        <label class="cb-label" for="cbA2">F Jul. 15th, 4:00 pm</label>
                                    </div>
                                    <div class="cb-custom">
                                        <input class="cb-mark" type="checkbox" id="cbA3" name="cbDay" />
                                        <label class="cb-label" for="cbA3">S Jul. 16th, 4:00 pm</label>
                                    </div>
                                    <div class="cb-custom">
                                        <input class="cb-mark" type="checkbox" id="cbA4" name="cbDay" />
                                        <label class="cb-label" for="cbA4">S Jul. 17th, 4:00 pm</label>
                                    </div>
                                    <div class="cb-custom">
                                        <input class="cb-mark" type="checkbox" id="cbA5" name="cbDay" />
                                        <label class="cb-label" for="cbA5">M Jul. 18th, 4:00 pm</label>
                                    </div>
                                    <div class="cb-custom">
                                        <input class="cb-mark" type="checkbox" id="cbA6" name="cbDay" />
                                        <label class="cb-label" for="cbA6">T Jul. 19th, 4:00 pm</label>
                                    </div>
                                </section>
                                <footer>
                                    <a title="" href="">Cancel selected</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-form btn-disagree">All future appointment</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- /#repeatModal -->