<!-- #confirmRequestModal -->
<div id="confirmRequestModal" class="modal fade" role="dialog" aria-labelledby="confirmRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-checkout modal-request">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="confirmRequestModalLabel" class="modal-title"><span class="hidden-sm hidden-md hidden-lg">checkout</span> <span class="hidden-xs">your request has been recieved!</span></h4>
                <p class="hidden-xs">we'll get back to you with an update.</p>
            </div>
            <div class="modal-body">
                <!-- .checkout-title -->
                <div class="checkout-request-title hidden-sm hidden-md hidden-lg">
                    <p>your request has been recieved!</p>
                    <p><span>we'll get back to you with an update.</span></p>
                </div>
                <!-- /.checkout-title -->

                <!-- .checkout-title -->
                <div class="checkout-title">
                    <h3>blow me away</h3>
                    <address>8223 W 3rd st.<br />Los Angeles, CA 90026</address>
                </div>
                <!-- /.checkout-title -->

                <!-- .checkout-info -->
                <div class="checkout-info">
                    <div class="checkout-row">
                        <h4>blowout</h4>
                        <div class="checkout-time-date"><time>Tue, Sept 9th</time> at 11:00 am - 11:45 am</div>
                    </div>
                    <div class="checkout-row checkout-select">
                        width George
                    </div>
                    <div class="checkout-row checkout-select">
                        for Brett
                    </div>
                </div>
                <!-- /.checkout-info -->

                <!-- /.checkout-giftcard -->
                <div class="checkout-payment checkout-gift-card">
                    <div class="checkout-back">
                        add this appointment to my...
                    </div>
                    <div class="checkout-method">
                       <input class="btn-dark-green btn-method btn-google-calendar" type="button" value="google calendar" />
                    </div>
                    <div class="checkout-method">
                        <input class="btn-brown btn-method btn-apple-calendar" type="button" value="apple calendar" />
                    </div>
                    <div class="checkout-method">
                        <input class="btn-light-blue btn-method btn-facebook-calendar" type="button" value="facebook calendar" />
                    </div>
                    <div class="checkout-back">
                        share this appointment to...
                    </div>
                    <ul class="link-share clearfix">
                        <li><a target="_blank" href="#" title="Twitter"><img alt="" src="content/images/icons/icon_twitter_2.png" /></a></li>
                        <li><a target="_blank" href="#" title="Facebook"><img alt="" src="content/images/icons/icon_facebook_2.png" /></a></li>
                        <li><a target="_blank" href="#" title="Google Plus"><img alt="" src="content/images/icons/icon_google_2.png" /></a></li>
                        <li><a target="_blank" href="#" title="Email"><img alt="" src="content/images/icons/icon_email_2.png" /></a></li>
                    </ul>
                    <div class="checkout-back">
                        <a class="link-nothanks" title="" href="javascript:void(0);">no thanks <span class="icon-nothanks"></span></a>
                    </div>
                </div>
                <!-- /.checkout-giftcard -->

            </div>
        </div>
    </div>
</div>
<!-- /#confirmRequestModal -->