<!-- #reviewModal -->
<div id="reviewModal" class="modal fade" role="dialog" aria-labelledby="reviewMultiModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-review-multi">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 id="reviewMultiModalLabel" class="modal-title">Thanks for booking with Kuyam!</h3>
            </div>
            <div class="modal-body">
                <div id="reviewList" class="list">
                    <div class="scroll-content">
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-7">
                                    <p><strong>Wish Salon &amp; Spa</strong><br />Foot massage<br /> with George<br />Web. March 15 at 5:00pm</p>
                                </div>
                                <div class="col-xs-12 col-sm-5">
                                    <div class="rating-section">
                                        <label for="reviewRating1">Please rate this appointment</label>
                                        <input type="hidden" id="reviewRating1" class="review-rating" value="4"/>
                                    </div>
                                    <a class="link-collapse collapsed" role="button" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">Share your experience</a>
                                </div>
                            </div>
                            <div id="collapse1" class="countdown-input collapse">
                                <textarea cols="" rows="" placeholder="Share your experience with other users" class="form-control"></textarea>
                                <div class="characters"><span class="num">300</span> characters left</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-7">
                                    <p><strong>Wish Salon &amp; Spa</strong><br />Foot massage<br /> with George<br />Web. March 15 at 5:00pm</p>
                                </div>
                                <div class="col-xs-12 col-sm-5">
                                    <div class="rating-section">
                                        <label for="reviewRating2">Please rate this appointment</label>
                                        <input type="hidden" id="reviewRating2" class="review-rating" value="4"/>
                                    </div>
                                    <a class="link-collapse collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">Share your experience</a>
                                </div>
                            </div>
                            <div id="collapse2" class="countdown-input collapse">
                                <textarea cols="" rows="" placeholder="Share your experience with other users" class="form-control"></textarea>
                                <div class="characters"><span class="num">300</span> characters left</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-7">
                                    <p><strong>Wish Salon &amp; Spa</strong><br />Foot massage<br /> with George<br />Web. March 15 at 5:00pm</p>
                                </div>
                                <div class="col-xs-12 col-sm-5">
                                    <div class="rating-section">
                                        <label for="reviewRating3">Please rate this appointment</label>
                                        <input type="hidden" id="reviewRating3" class="review-rating" value="4"/>
                                    </div>
                                    <a class="link-collapse collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">Share your experience</a>
                                </div>
                            </div>
                            <div id="collapse3" class="countdown-input collapse">
                                <textarea cols="" rows="" placeholder="Share your experience with other users" class="form-control"></textarea>
                                <div class="characters"><span class="num">300</span> characters left</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-sm-7">
                                    <p><strong>Wish Salon &amp; Spa</strong><br />Foot massage<br /> with George<br />Web. March 15 at 5:00pm</p>
                                </div>
                                <div class="col-xs-12 col-sm-5">
                                    <div class="rating-section">
                                        <label for="reviewRating4">Please rate this appointment</label>
                                        <input type="hidden" id="reviewRating4" class="review-rating" value="4"/>
                                    </div>
                                    <a class="link-collapse collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">Share your experience</a>
                                </div>
                            </div>
                            <div id="collapse4" class="countdown-input collapse">
                                <textarea cols="" rows="" placeholder="Share your experience with other users" class="form-control"></textarea>
                                <div class="characters"><span class="num">300</span> characters left</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-green" value="Next" data-target="#reviewCompleteModal" data-toggle="modal" />
             </div>
        </div>
    </div>
</div>
<!-- /#reviewModal -->