<!-- #reviewCompleteModal -->
<div id="reviewCompleteModal" class="modal fade" role="dialog" aria-labelledby="reviewCompleteModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-review-complete">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <img class="img-retina" alt="" src="http://localhost:3000/content/images/ui/modals/review/icon_complete@3x.png">
                <img class="img-normal" alt="" src="http://localhost:3000/content/images/ui/modals/review/icon_complete.png">
                <h3 id="reviewModalLabel" class="modal-title">Thanks for your review!</h3>
            </div>
            <div class="modal-body">
                <div class="countdown-input">
                    <textarea cols="" rows="" placeholder="(Optional If you want to share a private message with Kuyam, feel free to type it here)" class="form-control"></textarea>
                    <div class="characters"><span class="num">300</span> characters left</div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-green" value="Done" />
             </div>
        </div>
    </div>
</div>
<!-- /#reviewCompleteModal -->