<!-- #unlockModal -->
<div id="unlockModal" class="modal fade" role="dialog" aria-labelledby="unlockModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-unlock">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 id="unlockModalLabel" class="modal-title">Unlock your Dashboard</h4>
            </div>
            <div class="modal-body">
                <p class="hidden-xs">Please choose the plan that works best for you:</p>
                <p class="visible-xs">Please choose a plan:</p>
                <section class="plan-option">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <span class="radio-custom">
                                <input id="radioMonthlyPlan" checked class="radio-mark" name="radioPlan" type="radio">
                                <label class="radio-label" for="radioMonthlyPlan">
                                    <span class="plan">
                                        <span class="price"><span class="unit">$</span><span class="num">10</span><sup>99</sup></span>
                                        <span class="name">MONTHLY PLAN</span>
                                        <span class="save"></span>
                                    </span>
                                </label>
                            </span>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <span class="radio-custom">
                                <input id="radioAnnualPlan" class="radio-mark" name="radioPlan" type="radio">
                                <label class="radio-label" for="radioAnnualPlan">
                                    <span class="plan">
                                        <span class="price"><span class="unit">$</span><span class="num">99</span><sup>00</sup></span>
                                        <span class="name">ANNUAL PLAN</span>
                                        <span class="save"><span class="text">SAVE 25%</span></span>
                                    </span>
                                </label>
                            </span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <input type="button" class="btn btn-form btn-neutral" value="Cancel" />
                    </div>
                    <div class="col-xs-6">
                        <input type="button" class="btn btn-form btn-agree" value="Continue" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /#unlockModal -->