.lightbox{
    display: none;
    background: $rgba-black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-black-50 {
    background: $rgba-black;
}

.bg-white-50 {
    background: $rgba_white;
}