.pagination-container {
    width: 100%;
    padding: 25px 0 0;
    margin: 0;
    list-style: none;
    text-align: center;
    border-top: 2px solid #f4f4f4;
}

.pagination-container li {
    display: inline-block;
    margin: 0 5px;
}

.pagination-container li a {
    font: 14px/17px 'Lato', sans-serif;
    font-weight: 500;
    color: #999999;
    text-decoration: none;
}

.pagination-container li a:hover,
.pagination-container li a.active {
    color: #000000;
}

.pagination-container li a span {
    display: inline-block;
    width: 34px;
    height: 32px;
    background: no-repeat;
    margin-bottom: -10px;
}

.pagination-container li.PagedList-skipToPrevious,
.pagination-container li.PagedList-skipToNext {
    margin: 0 5px;
}

.pagination-container li.PagedList-skipToPrevious a .icon-prev {
    margin-right: 10px;
    background-image: url(images/icons/arrow_left.png);
}

.pagination-container li.PagedList-skipToPrevious a:hover .icon-prev {
    background-image: url(images/icons/arrow_left_black_hover.png);
}

.pagination-container li.PagedList-skipToNext a .icon-next {
    margin-left: 10px;
    background-image: url(images/icons/arrow_right.png);
}

.pagination-container li.PagedList-skipToNext a:hover .icon-next {
    background-image: url(images/icons/arrow_right_black_hover.png);
}

.book-more {
    color: #8aae54;
    font: 16px/19px 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.book-more:hover,
.book-more:focus,
.book-more:visited {
    color: #8aae54;
    text-decoration: none;
}

.book-more .icon-angle-down {
    display: inline-block;
    width: 19px;
    height: 11px;
    margin-top: 10px;
    background: url(images/icons/icon-angle-down.png);
}