.table-css{
    display:table;
}
.tr, .table-row{
    display:table-row;
}
.th{
    font-weight:700;
    display:table-cell;
}
.thead,
.tbody,
.tfoot{
    display: table-row-group;
}
.td, .table-cell{
    display:table-cell;
    word-wrap:break-word;
    word-break:break-word;
}