@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff2') format('woff2'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-light-webfont.eot');
    src: url('fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.woff') format('woff'),
         url('fonts/raleway-light-webfont.ttf') format('truetype'),
         url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('fonts/raleway-semibold-webfont.eot');
    src: url('fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('fonts/raleway-semibold-webfont.woff') format('woff'),
         url('fonts/raleway-semibold-webfont.ttf') format('truetype'),
         url('fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayheavy';
    src: url('fonts/raleway-heavy-webfont.eot');
    src: url('fonts/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-heavy-webfont.woff2') format('woff2'),
         url('fonts/raleway-heavy-webfont.woff') format('woff'),
         url('fonts/raleway-heavy-webfont.ttf') format('truetype'),
         url('fonts/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextralight';
    src: url('fonts/raleway-extralight-webfont.eot');
    src: url('fonts/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('fonts/raleway-extralight-webfont.woff') format('woff'),
         url('fonts/raleway-extralight-webfont.ttf') format('truetype'),
         url('fonts/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.eot');
    src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-thin-webfont.eot');
    src: url('fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('fonts/raleway-thin-webfont.woff') format('woff'),
         url('fonts/raleway-thin-webfont.ttf') format('truetype'),
         url('fonts/raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-medium-webfont.eot');
    src: url('fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('fonts/raleway-medium-webfont.woff') format('woff'),
         url('fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.eot');
    src: url('fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff'),
         url('fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('fonts/raleway-extrabold-webfont.eot');
    src: url('fonts/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('fonts/raleway-extrabold-webfont.woff') format('woff'),
         url('fonts/raleway-extrabold-webfont.ttf') format('truetype'),
         url('fonts/raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* =============================================================================
   HTML5 element display
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, time{display:block;}
audio[controls], canvas, video{display:inline-block;*display:inline;*zoom:1;}

/* =============================================================================
   Base
   ========================================================================== */
body{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6, p{padding:0;margin:0;}
a, a:hover, a:active{outline:0;}
img{border:0;width:100%;}
form, fieldset, legend{display:block;border:0;margin:0;padding:0;}

/* =============================================================================
   PRIMARY STYLES
   Author:bka Interactive Ltd.
   ========================================================================== */

   /* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection:www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */ 
@media print{	
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.clearer{clear:both;line-height:0;}
.clear{clear:both;display:block;line-height:0;height:0;}
.clear10{clear:both;display:block;line-height:0;height:10px;}

*, *:hover, *:visited, *:focus{outline:0 none;}

.on-device{display:none;}
.on-desktop{display:block;}

body{margin:0;padding:0;font:20px/24px ralewaymedium, sans-serif;color:#000000;}

.bg-white{background-color:#ffffff;}
.bg-black{background-color:#170E0C;}
.bg-black-50{background-color:rgba(0, 0, 0, 0.5);}

.relative{position:relative;}

.affix-content{margin-bottom:15px;}

.mh-0{min-height:0 !important;}

.loading{background:url(images/assets/progress.gif) center center no-repeat #000000;display:none;position:fixed;top:0;left:0;bottom:0;right:0;z-index:9999;opacity:0.5;filter:alpha(opacity=50);}
.light-box{display:none;background:#000000;position:fixed;top:0;left:0;right:0;bottom:0;opacity:0.5;filter:alpha(opacity=50);z-index:2;}

.error{font-size:12px;color:#cc0000;}

.btn-brown,
.btn-brown:hover,
.btn-brown:focus{text-align:center;display:block;border:1px solid #636061;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#000000;margin:5px 0 0;text-decoration:none;height:25px;background-color:#afb1b5;background-image:-webkit-gradient(linear, top, bottom, from(#feffff), to(#afb1b5));background-image:-webkit-linear-gradient(top, #feffff, #afb1b5);background-image:-moz-linear-gradient(top, #feffff, #afb1b5);background-image:-o-linear-gradient(top, #feffff, #afb1b5);background-image:linear-gradient(to bottom, #feffff, #afb1b5);text-decoration:none;}

.btn-black,
.btn-black:hover,
.btn-black:focus{text-align:center;display:block;border:1px solid #000000;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#ffffff;margin:5px 0 0;text-decoration:none;height:25px;background-color:#3c3a3c;background-image:-webkit-gradient(linear, top, bottom, from(#252122), to(#262324));background-image:-webkit-linear-gradient(top, #252122, #262324);background-image:-moz-linear-gradient(top, #252122, #262324);background-image:-o-linear-gradient(top, #252122, #262324);background-image:linear-gradient(to bottom, #252122, #262324);text-decoration:none;}

.btn-brown-gradient,
.btn-brown-gradient:hover,
.btn-brown-gradient:focus{text-align:center;display:block;border:1px solid #636061;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#000000;margin:5px 0 0;text-decoration:none;height:25px;background-color:#afb1b5;background-image:-webkit-gradient(linear, top, bottom, from(#feffff), to(#afb1b5));background-image:-webkit-linear-gradient(top, #feffff, #afb1b5);background-image:-moz-linear-gradient(top, #feffff, #afb1b5);background-image:-o-linear-gradient(top, #feffff, #afb1b5);background-image:linear-gradient(to bottom, #feffff, #afb1b5);text-decoration:none;}

.btn-white,
.btn-white:hover,
.btn-white:focus{display:inline-block;border:1px solid #ffffff;background-color:#ffffff;text-decoration:none;text-align:center;}

.btn-blue,
.btn-blue:hover,
.btn-blue:focus{display:inline-block;border:1px solid #3A5998;background-color:#3A5998;text-decoration:none;text-align:center;}

.color-white,
.color-white:hover,
.color-white:focus{color:#ffffff;}

.site-header{height:120px;background:#2a2a2a;}
.site-header .logo{display:block;float:left;margin:30px 0;}

.social-icons{float:right;margin:13px 0;padding:0;text-align:right;}
.social-icons dt{padding:10px 0;color:#ffffff;font:26px/30px ralewaysemibold, sans-serif;}
.social-icons dd{display:inline-block;margin:0 0 0 7px;}
.social-icons dd img{width:auto;}

.site-footer{background:#575757;padding:0 0 7px;}
.site-footer p{margin:15px 0 0;font:12px/14px ralewaymedium, sans-serif;color:#c0c0c0;}
.site-footer .link-socials li a img{width:25px;}

.link-socials{margin:0;padding:0;list-style:none;}
.link-socials li{float:left;width:23%;margin:11px 0 0 0;text-align:center;}
.link-socials li a img{width:auto;}
.link-socials li:first-child{width:15%;text-align:left;}
.link-socials li:last-child{width:15%;float:right;text-align:right;}

.site-contact{background:#2a2a2a;padding:90px 0 70px;font:14px/22px ralewaysemibold, sans-serif;color:#777777;}
.site-contact .link-terms{color:#96be3d;position:relative;top:-10px;left:10px;}
.site-contact .section-header{width:330px;}
.site-contact .section-header h4{color:#ffffff;font:26px/30px ralewaysemibold, sans-serif;margin:0 0 15px;}
.site-contact .section-header .logo{float:left;margin:0 0 20px;}
.site-contact p{margin:0 0 15px;}
.site-contact .register-form .btn_Join{padding:0;}
.site-contact .register-form .form-control{background:transparent;border-top:1px solid #777777;border-bottom:1px solid #777777;border-left:1px solid #777777;color:#777777;}
.site-contact .register-form .btn-facebook{width:100%;padding:0;}

.site-contact .site-address{}
.site-address ul{margin:0;padding:0;list-style:none;}
.site-address ul li{background:no-repeat left top;padding:0 0 0 29px;margin:21px 0 0;}
.site-address ul li.icon-location{background-image:url(images/assets/icon_location.png);}
.site-address ul li.icon-phone{background-image:url(images/assets/icon_phone.png);}
.site-address ul li.icon-email{background-image:url(images/assets/icon_email.png);background-position:left 3px;}
.site-address ul li.icon-email a{color:#777777;}
.site-address ul li.terms{padding:0;}
.site-address ul li.terms a{color:#96be3d;left:0;}

.section-header{}
.section-header h2{font:36px/40px ralewaysemibold, sans-serif;}
.section-header h3{font:30px/34px ralewaysemibold, sans-serif;}
.section-header h4{font:24px/28px ralewaysemibold, sans-serif;}
.section-header p{font:24px/28px ralewaymedium, sans-serif;}
.section-header p.no-ticket{font:20px/24px ralewaymedium, sans-serif;margin:6px 0;}
.section-header hr{border:0 none;border-top:1px solid #979797;margin:20px 0 0;}

.main-content{padding:40px 0 0;}

.event-new{height:212px;position:relative;margin:30px 0 0;background:center center no-repeat;background-size:cover;text-align:center;color:#ffffff;}
.event-new .event-content{padding:25px;position:absolute;top:0;right:0;bottom:0;left:0;}

.event-content h2{font:36px/40px ralewaybold, sans-serif;margin:0 0 8px;}
.event-content p{font:26px/30px ralewaymedium, sans-serif;margin:0 0 15px;}
.event-content .event-btn{position:relative;}
.event-btn .btn-happen{font:28px/62px ralewayextrabold, sans-serif;color:#F3472D;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:0 25px;}

.happen-date{text-align:right;}
.happen-date .section-header{padding:0 0 40px;}
.happen-date .section-header h2{color:#F3472D;font:36px/40px ralewaybold, sans-serif;}

.slide-feature{overflow:hidden;position:relative;}
#carousel-desktop{height:449px;overflow:hidden;}
#carousel-desktop .carousel-inner > .item{height:449px;background:center center no-repeat;background-size:cover;}
#carousel-mobile .carousel-inner > .item{height:517px;background:center center no-repeat;background-size:cover;}
.carousel-indicators{display:none;margin:0;width:100%;left:-10px;bottom:10px;text-align:right;}
.carousel-indicators li{width:12px;height:12px;border:0 none;margin:0;background:rgba(255, 255, 255, 0.5);}
.carousel-control{display:none;}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{width:100%;height:449px;}

#main-affix{width:630px;}
#nav-affix {width:290px;padding:0 0 0 60px;}

.skip-section{text-align:right;padding:0 0 20px;}
.skip-section a{color:#ffffff;font:26px/30px ralewayregular, sans-serif;}
.skip-section .icon-skip{display:inline-block;width:30px;height:30px;background:url(images/assets/icon_arrow_right_white.png) center center no-repeat;background-size:contain;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);margin-bottom:-6px;}

.register-section{color:#ffffff;position:relative;padding:15px 0 5px;position:absolute;bottom:0;left:0;right:0;z-index:11;}
.register-section .section-header h2{margin:0 0 5px;}
.register-section .section-header p{margin:0 0 15px;}
/*.register-section .section-header p span:hover{color:#E7078A;}*/
.register-section .register-form{}
.register-section .register-form .form-group{float:left;margin:0 25px 15px 0;}
.register-section .register-form .input-group{width:485px;}

.register-form .form-group{margin:0 0 15px;}
.register-form .input-group{width:100%;}
.register-form .txt_Email{width:70%;height:46px;border:1px solid #F3472D;padding:0 15px;color:#F3472D;font:20px/44px ralewaymedium, sans-serif;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.register-form .btn_Join{width:30%;background:#F3472D;border:1px solid #F3472D;padding:0 40px;font:20px/44px ralewaymedium, sans-serif;color:#ffffff;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.register-form .btn-facebook{float:left;display:inline-block;font:20px/44px ralewaymedium, sans-serif;padding:0 40px;color:#ffffff;margin:0 0 10px;}

.back-top-section{padding:30px 0 50px;text-align:center;}
.back-top-section a{font:28px/32px ralewaysemibold, sans-serif;padding:0 40px;color:#000000;}

/*social_twitter*/
.social_twitter{margin:0 0 30px;}
.social_twitter iframe{height:300px;}

/*category-list*/
.category-list{padding:15px 0 0;}
.category-list .section-header{padding:0 0 10px;}
.category-list .category-item{margin:0 0 15px;min-height:104px;}

.event-list{}
.event-list .section-header{padding:25px 0 0;}

.event-block{height:174px;border:2px solid #c9c9c9;margin-top:20px;position:relative;overflow:hidden;}
.event-block:hover{border:2px solid #999;}
.event-block .avatar{float:left;width:170px;height:170px;margin:0 10px 0 0;overflow:hidden;}
.event-block .offer{float:right;width:105px;height:104px;margin:10px;overflow:hidden;}
.event-block .iName{margin-bottom:8px;font:18px/22px ralewaymedium, sans-serif;}
.event-block .iName a{color:#333333;text-decoration:none;}
.event-block .iAddress{color:#96BE3D;font:16px/20px ralewaymedium, sans-serif;margin-bottom:8px;}
.event-block .shortDes{display:block;color:#777777;text-align:justify;font:16px/20px ralewaymedium, sans-serif;padding:0 10px;margin-bottom:7px;}
.event-block .titles{padding:10px 10px 0;}
.group_link a{width:104px;display:inline-block;text-align:center;text-decoration:none;background:#8c8c8c;color:#fff;font:18px/40px arial, sans-serif;margin-right:3px;}
.group_link a.bg-black{background:#333333;}
.group_link .shortDes{display:none;color:#777777;text-align:justify;font:400 14px/18px ralewayregular, sans-serif;}
.event-block .votes{margin-bottom:5px;min-height:24px;}
.votes span{display:inline-block;margin-right:3px;}
.votes .list-star{float:left;}
.votes .vote-icon{float:left;width:22px;height:21px;background:no-repeat center center;}
.votes .yellow-star{background-image:url(images/assets/icon_star_ful.png);}
.votes .gray-star{background-image:url(images/assets/icon_star_empty.png);}
.votes .total-review{float:left;font:14px/18px ralewayregular, sans-serif;color:#777777;}
.votes .icon-like{background-image:url(images/assets/like_1.png);}
.votes .icon-unlike{background-image:url(images/assets/unlike.png);}

.modal-offer{width:656px;}
.modal-offer .modal-content{border:3px solid #c1d82f;border-radius:0;}
.modal-offer .modal-header{min-height:100px;background:#000000;padding:0;position:relative;}
.modal-offer .modal-header .close{background:transparent;margin:0 10px 0 0;color:#ffffff;font:40px/40px ralewaymedium, sans-serif;opacity:0.5;filter:alpha(opacity=50);}
.modal-offer .logo-offer{float:left;margin:0 0 10px;}
.modal-offer .event{width:230px;max-height:90px;overflow:hidden;color:#F7941E;font:26px/30px ralewaysemibold, sans-serif;margin:15px;position:absolute;right:0;bottom:0;}
.modal-offer .modal-body{padding:0 0 10px;font:14px/18px ralewaymedium, sans-serif;}
.modal-offer .nav-tabs{width:100%;min-height:55px;background:#f2f2f0;margin:0;padding:0 0 4px;list-style:none;border:0 none;}
.modal-offer .nav-tabs li{float:left;width:214px;margin:0 0 0 4px;}
.modal-offer .nav-tabs li a{display:block;height:51px;padding:8px 10px;color:#000000;border:1px solid #cccccc;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;background-color:#E3E8EA;background-image:-webkit-gradient(linear, top, bottom, from(#EDF3F5), to(#E3E8EA));background-image:-webkit-linear-gradient(top, #EDF3F5, #E3E8EA);background-image:-moz-linear-gradient(top, #EDF3F5, #E3E8EA);background-image:-o-linear-gradient(top, #EDF3F5, #E3E8EA);background-image:linear-gradient(to bottom, #EDF3F5, #E3E8EA);}
.modal-offer .nav-tabs li i{float:right;font-size:22px;margin:2px 0;}
.modal-offer .nav-tabs li.active a,
.modal-offer .nav-tabs li a:hover{border:1px solid #ff6600;color:#ffffff;background-color:#131B1E;background-image:-webkit-gradient(linear, top, bottom, from(#3E4649), to(#131B1E));background-image:-webkit-linear-gradient(top, #3E4649, #131B1E);background-image:-moz-linear-gradient(top, #3E4649, #131B1E);background-image:-o-linear-gradient(top, #3E4649, #131B1E);background-image:linear-gradient(to bottom, #3E4649, #131B1E);}
.modal-offer .nav-tabs li:first-child{margin:0;}

.modal-offer .offer-info{max-height:220px;padding-left:15px;margin-top:10px;margin-left:-15px;border-left:4px solid #f2f2f0;overflow:auto;}
.modal-offer .offer-description{height:45px;background:url(images/assets/offer-description.png) center center no-repeat;margin:0 0 10px;}
.modal-offer h3{color:#f7941e;font:30px/34px ralewaybold, sans-serif;margin:10px 0;}
.modal-offer h4{font-size:24px;font-style:italic;font-weight:lighter;margin:20px 0;}
.modal-offer h4 .oldprice{color:#aaaaaa;display:inline;}
.modal-offer h4 .newprice{display:inline-block;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;background:#F7941E;color:#ffffff;padding:5px;}
.modal-offer h4 .saleoff{display:inline;}
.modal-offer .btn-brown-gradient{height:45px;font:18px/45px ralewaybold, sans-serif;margin:20px 0;}
.modal-offer .offer-terms{font-weight:bold;color:#000000;text-decoration:none;}
.modal-offer .offer-terms:hover{cursor:pointer;}

.modal-term{background:#000000;}
.modal-term .modal-content{border:3px solid #c1d82f;border-radius:0;background:transparent;}
.modal-term .modal-header{border:0 none;}
.modal-term .modal-header .close{margin:0 10px 0 0;color:#ffffff;font:40px/40px ralewaymedium, sans-serif;opacity:0.5;filter:alpha(opacity=50);}
.modal-term .modal-header h2{color:#fd620e;font-family:Didot,"Didot LT STD","Hoefler Text",Garamond,"Times New Roman",serif;text-decoration:underline;}
.modal-term .modal-body{margin:0 15px 15px;background:#ffffff;font:14px/18px ralewaymedium, sans-serif;}
.modal-term .modal-body h3{margin:0 0 15px;}
.modal-term .modal-body p{margin:0 0 15px;}
.modal-term a,
.modal-term a:hover,
.modal-term a:focus,
.modal-term a:visited,
.modal-term a:link{color:#7B7979;}

/*partners*/
.partners{}
.partners .section-header{margin:0 0 30px;}
.partners .section-header h3{width:300px;font:28px/34px ralewaysemibold, sans-serif;color:#333333;}
.partners .partner-item{display:block;margin:0 0 30px;text-align:center;text-decoration:none;color:#000000;font:20px/24px ralewaybold, sans-serif;}
.partners .partner-item span{display:block;margin:5px 0 0;}

.sponsor{width:253px;}
.sponsor .section-header hr{margin:0 0 20px;}

.sponsor-block{margin:0 0 15px;}
.sponsor-block hr{border:0 none;border-top:1px solid #777777;margin:0 0 20px;}
.sponsor-block .partner-item{margin:0 0 5px;}
.sponsor-block h4{font:16px/20px ralewaysemibold, sans-serif;margin:0 0 5px;}
.sponsor-block p{font:16px/20px ralewaymedium, sans-serif;color:#777777;margin:0 0 5px;}
.sponsor-block p a{font:16px/20px ralewaymedium, sans-serif;color:#000000;}

.exclusive-section{}
.exclusive-section .section-header{margin:0 0 15px;}
.exclusive-section .section-header h2{margin:0 0 10px;}
.exclusive-section .section-header h2 span{font:20px/24px ralewaybold, sans-serif;}
.exclusive-section .section-header h3{font:20px/24px ralewaymedium, sans-serif;}

.dropdown-category{}
.dropdown-category .dropdown > a{display:block;padding:0 40px 0 10px;height:42px;border:1px solid #333333;font:20px/42px ralewaymedium, sans-serif;color:#333333;text-decoration:none;position:relative;}
.dropdown-category .dropdown > a .dropdown-icon{display:inline-block;width:40px;height:44px;background:url(images/assets/icon_dropdown.png) center center no-repeat;position:absolute;right:0;}
.dropdown-category .dropdown-menu{width:100%;}

.modal-notify{width:650px;}
.modal-notify .modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-notify .modal-header{text-align:center;border:0 none;padding:55px 25px 10px;position:relative;}
.modal-notify .modal-header .modal-title{font:36px/40px ralewaybold, sans-serif;margin:16px 0 10px;}
.modal-notify .modal-header h4{font:26px/30px ralewaymedium, sans-serif;margin:0 0 10px;}
.modal-notify .modal-header .close{width:33px;height:33px;background:url(images/assets/icon_close.png) center center no-repeat;opacity:1;position:absolute;top:-16px;right:-16px;}
.modal-notify .modal-body{padding:15px 35px 12px;font:15px/18px ralewaymedium, sans-serif;}
.modal-notify .modal-footer{border:0 none;}
.modal-notify .social-icons{float:none;text-align:center;}
.modal-notify .social-icons dt{font:22px/26px ralewaymedium,sans-serif;color:#000000;padding:10px 0 15px;}
.modal-notify .social-icons dd{margin:0 10px;}

.branch-img{width:206px;height:61px;background:url(images/assets/Image_Banner.png) no-repeat;background-size:contain;}
.branch-text{font:20px/24px bebas_neueregular, sans-serif;padding:10px 0;margin-top:-63px;position:relative;z-index:2;color:#ffffff;text-decoration:none;}
.branch-early-open{position:absolute;right:-42px;top:10px;}
.branch-early-open:hover{text-decoration:none;}
.branch-early-open .branch-img{background-position:right center;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);position:relative;z-index:1px;}

.branch-ticket{position:absolute;left:-42px;top:10px;}
.branch-ticket:hover{text-decoration:none;}
.branch-ticket .branch-img{background-position:left center;z-index:1px;}

.modal-access{width:650px;}
.modal-access .modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-access .modal-header{text-align:center;border:0 none;padding:60px 25px 10px;position:relative;}
.modal-access .modal-header .modal-title{font:38px/40px ralewayextrabold, sans-serif;margin:16px 0 10px;}
.modal-access .modal-header h4{font:24px/30px ralewaymedium, sans-serif;margin:0 0 10px;}
.modal-access .modal-header .close{width:33px;height:33px;background:url(images/assets/icon_close.png) center center no-repeat;opacity:1;position:absolute;top:-16px;right:-16px;}
.modal-access .modal-body{padding:15px 35px 12px;font:15px/18px ralewaymedium, sans-serif;}
.modal-access .modal-footer{border:0 none;}
.modal-access .countdown{display:block;text-align:center;margin:0 0 35px;}
.modal-access .countdown-section{border:2px solid #f3472d;display:inline-block;}
.modal-access .register-form{width:380px;margin:0 auto;}
.modal-access .register-form .txt_Email{border:1px solid #000000;border-right:1px solid #f3472d;}
.modal-access .register-form .btn-facebook{width:100%;}

@media (min-width:980px) and (max-width:1024px){
	
}
@media (min-width:980px){
	.container{width:960px;}	
}
@media (max-width:979px){
	#main-affix{width:470px;}
	#nav-affix{width:220px;padding:0;}
	
	#carousel-desktop{height:320px;}
	#carousel-desktop .carousel-inner > .item{height:320px;}
	.carousel-inner > .item > img, 
	.carousel-inner > .item > a > img{width:100%;height:320px;}
	
	.event-block{height:163px;}
	.event-block .avatar{width:117px;height:117px;}
	.event-block .offer{width:115px;height:115px;margin:2px 10px;}
	.group_link{margin:0 0 0 5px;clear:both;}
	.group_link a{width:110px;font:14px/30px arial, sans-serif;margin:0 0 5px;}
	
	.partners .section-header h3{width:252px;}
	
	.branch-img{width:160px;height:47px;}
	.branch-text{font:14px/18px bebas_neueregular, sans-serif;margin-top:-52px;}
	.branch-early-open{right:-35px;top:5px;}
	
	.branch-ticket{left:-35px;top:5px;}
}
@media (min-width:768px) and (max-width:979px){	
}
@media (max-width:767px){
	.site-header{height:50px;}
	.site-header .logo{margin:9px 0;}
	
	#main-affix{width:100%;}
	#nav-affix{width:100%;padding:0;}
	
	.main-content{padding:15px 0 0;}
		
	body{font:14px/18px ralewaymedium, sans-serif;}
	
	.section-header h2{font:24px/30px ralewaysemibold, sans-serif;}	
	.section-header h3{font:20px/24px ralewaysemibold, sans-serif;}
	.section-header h4{font:16px/22px ralewaysemibold, sans-serif;}
	.section-header p{font:16px/22px ralewaymedium, sans-serif;}
	
	.site-contact{padding:60px 0 40px;}
	.site-contact .section-header{margin:0 0 7px;width:auto;}
	.site-contact .section-header h4{font:30px/34px ralewaysemibold,sans-serif;}
	.site-contact .section-header .logo{margin:0 0 17px;}
	.site-contact p{margin:0 0 20px;}
	.site-contact .register-form{margin:0 0 20px;}
	.site-contact .register-form .form-control{background:#ffffff;border-top:1px solid #2a2a2a;border-bottom:1px solid #2a2a2a;border-left:1px solid #2a2a2a;color:#2a2a2a;}
	
	.site-footer p{text-align:center;}
	
	.event-new{height:142px;margin:20px -15px 0;overflow:hidden;}
	.event-new .event-content{padding:20px;}
	.event-content h2{font:20px/24px ralewaybold, sans-serif;margin:0 0 6px;}
	.event-content p{font:18px/22px ralewaymedium, sans-serif;margin:0 0 10px;}
	.event-content .event-btn{}
	.event-btn .btn-happen{font:15px/42px ralewayextrabold, sans-serif;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;padding:0 17px;}
	
	.partners .section-header{margin:0 0 20px;}
	.partners .partner-item{margin:0 0 20px;}	
	
	.modal-offer{width:auto;}
	.modal-offer .logo-offer{float:none;}
	.modal-offer .event{position:relative;width:90%;margin:0 auto 15px;text-align:center;}
	.modal-offer .nav-tabs li{float:none;width:100%;margin:0;}
	.modal-offer .offer-info{margin:0;border:0 none;}
	.modal-offer .nav-tabs li{float:none;width:100%;margin:0;}	
	
	.group_link a{float:left;width:24%;margin:0 0.5%;}
	
	.partners .section-header h3{width:auto;}
	
	.happen-date .section-header{padding:0 0 20px;}
	
	.sponsor{width:auto;padding:0 0 30px;}
	.sponsor-block hr{border-color:transparent;}
	
	.modal-notify{width:auto;}
	.modal-notify .modal-header{padding:25px 25px 10px;}
	.modal-notify .modal-header .modal-title{font:34px/38px ralewaybold, sans-serif;margin:16px 0 25px;}
	.modal-notify .modal-header h4{font:22px/26px ralewaymedium, sans-serif;margin:0;}
	.modal-notify .modal-header .close{width:24px;height:24px;background-image:url(images/assets/mobile/icon_close.png);top:10px;right:10px;}
	.modal-notify .modal-body{padding:15px 0 12px;font:15px/18px ralewaymedium, sans-serif;}
	.modal-notify .modal-footer{border:0 none;}
	.modal-notify .social-icons{float:none;text-align:center;margin:0 0 13px;}
	.modal-notify .social-icons dt{font:22px/26px ralewaymedium,sans-serif;color:#000000;padding:0 0 15px;}
	.modal-notify .social-icons dd{margin:0 18px;}
	
	.branch-early-open{display:inline-block;position:relative;top:-5px;right:inherit;left:-10px;}
	.branch-ticket{display:inline-block;position:relative;top:-5px;left:inherit;right:-10px;}
	
	.modal-access{width:auto;}
	.modal-access .modal-header{padding:25px 25px 10px;}
	.modal-access .modal-header .modal-title{font:34px/38px ralewaybold, sans-serif;margin:16px 0 25px;}
	.modal-access .modal-header h4{font:22px/26px ralewaymedium, sans-serif;margin:0;}
	.modal-access .modal-header .close{width:24px;height:24px;background-image:url(images/assets/mobile/icon_close.png);top:10px;right:10px;}
	.modal-access .modal-body{padding:15px 20px 12px;font:15px/18px ralewaymedium, sans-serif;}
	.modal-access .modal-footer{border:0 none;}
	.modal-access .register-form{width:100%;}
}
@media (max-width:640px){
	.group_link a{width:23.8%;}
}
@media (max-width:568px){
	.branch-img{position:absolute;height:36px;}
	.branch-text{width:170%;font:12px/16px bebas_neueregular, sans-serif;margin-top:-44px;padding-left:20px;text-align:left;}
	.branch-early-open{width:20%;top:-2px;}
	.branch-ticket{width:20%;top:-2px;}
}
@media (max-width:530px){
	.register-section .register-form .form-group{float:none;margin:0 0 15px;}
	.register-section .register-form .input-group{width:100%;}
	.register-form .btn_Join{padding:0;}
	.register-form .btn-facebook{float:none;width:100%;padding:0;}
}
@media (max-width:526px){
}
@media (max-width:515px){
	.event-block{height:152px;}
	.event-block .avatar{width:102px;height:102px;margin:0 5px 0 0;}
	.event-block .offer{width:101px;height:101px;margin:2px 5px;}
	.event-block .titles{padding:5px 5px 0;}
	.event-block .iName{margin-bottom:5px;}
	.event-block .iAddress{margin-bottom:5px;}
	.event-block .votes{padding:5px;}
	.event-block .shortDes{padding:0 5px;}
	.group_link a{font:12px/30px arial, sans-serif;}
}
@media (max-width:480px){
	.event-block{height:149px;}
	.event-block .avatar{width:107px;height:107px;}
	.event-block .offer{width:106px;height:106px;}
	.event-block .titles{padding:2px 5px 0;}
	.event-block .iName{margin-bottom:0;font:14px/18px ralewaymedium, sans-serif;}
	.event-block .iAddress{font:12px/16px ralewaymedium, sans-serif;margin-bottom:0;}
	.votes .total-review{font:10px/14px ralewayregular, sans-serif;}
	.event-block .shortDes{font:12px/16px ralewaymedium, sans-serif;}
	.event-block .votes{min-height:inherit;padding:0 5px;margin-bottom:0;}
	.votes .list-star{float:none;}
	.votes .total-review{float:none;}
	.votes .vote-icon{width:12px;height:12px;background-size:contain;margin:0;}
}
@media (max-width:372px){
	.event-block{height:116px;}
	.event-block .avatar{width:67px;height:67px;}
	.event-block .offer{width:66px;height:66px;}
	
}
@media (max-width:320px){
}

.detech-devices .on-device{display:block;}
.detech-devices .on-desktop{display:none;}