#accordion{
	padding:15px;
	background:#EBF2F6;
}
#accordion .panel{
	box-shadow:none;
	border:0 none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
#accordion .panel + .panel{
	margin-top:10px;	
}
#accordion .panel-title img{
	width:49px;
	margin-right:20px;
}
#accordion .panel-title a{
	display:block;
	color:#fff;
	font-size:24px;
	padding:10px 15px;
	text-decoration:none;
	background:#f3472d;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	
}
#accordion .panel-title a.collapsed{
	background:#fff;
	color:#f3472d;
}
#accordion .panel-default > .panel-heading{
	padding:0;
	border:0 none;
	background:transparent;
}
#accordion .panel-default > .panel-heading .offer{
	font-family:ralewaybold, sans-serif;
	float:right;
	margin:10px 0 0 20px;
}
#accordion .panel-default > .panel-heading .icon-down{
	width:22px;
	height:12px;
	display:inline-block;
	background:url(images/assets/arrow_up_white.png) center center no-repeat;
	background-size:contain;

}
#accordion .panel-title .img-normal{
}
#accordion .panel-title .img-active{
	display:none;
}
#accordion .panel-title .collapsed .img-normal{
	display:none;
}
#accordion .panel-title .collapsed .img-active{
	display:inline-block;
}
#accordion .panel-title .collapsed .icon-down{
	background-image:url(images/assets/icon_arrow_red_down.png);
}
#accordion .panel-default > .panel-heading + .panel-collapse .panel-body{
	border:0 none;
}
#accordion .panel-body h2{
	text-align:center;
	font:28px/32px ralewaybold, sans-serif;
	color:#f3472d;
	
}

.book-page .happen-date{
	height:auto;
	min-height:40px;
	margin-top:23px;
}
.book-page .social-icons{
	margin-top:0;
}
.book-page .social-icons dt{
	font-size:20px;
	line-height:24px;
}
.book-page .site-calendar{
	margin-top:30px;
	margin-bottom:30px;
}
.book-page .slide-calendar .rslides_nav{
	height:20px;
}
.book-page .slide-calendar .rslides_nav.next{
	background-image:url(images/assets/icon_arrow_nextweek.png);
}
.book-page .slide-calendar .rslides_nav.prev{
	height:20px;
	background-image:url(images/assets/icon_arrow_preweek.png);
}

.panel-info{
	width:390px;
	margin:0 auto;
	padding-bottom:45px;
}
.panel-info .btn{
	font:20px/44px ralewaybold, sans-serif;
	margin-bottom:15px;
}
.panel-info p{
	font:16px/20px ralewaymedium, sans-serif;
	text-align:center;
}
.panel-info p a{
	color:#f3472d;
}
.price-info{
	width:100%;
	font:24px/28px ralewaybold, sans-serif;
	margin-bottom:20px;
}
.price-info .table-cell{
	padding:5px;
}
.price-info .table-cell:last-child{
	text-align:right;
}
.regular-price-row{
	color:#A0A0A0;
}
.new-price-row{
	color:#f3472d;
}
.savings-row{
	color:#B43320;
}
.panel-description{
	font:16px/20px ralewaymedium, sans-serif;
}
.panel-description h3{
	font:24px/30px ralewaymedium, sans-serif;
	margin-bottom:10px;
}
.booked-page .slide-calendar .rslides_nav{
	height:20px;
}
.booked-page .slide-calendar .rslides_nav.next{
	background-image:url(images/assets/icon_arrow_nextweek.png);
}
.booked-page .slide-calendar .rslides_nav.prev{
	height:20px;
	background-image:url(images/assets/icon_arrow_preweek.png);
}
.booked-page .skip-section{
	margin-top:30px;
	padding:30px 0 15px;
	border-top:2px dashed #ddd;
	text-align:center;
}

.booked-page .skip-section a{
	color:#f3472d;
	font-size:18px;
	line-height:22px;
	text-decoration:none;
}
.booked-page .skip-section .icon-next{
	display:inline-block;
	width:11px;
	height:17px;
	background:url(images/assets/icon_arrow_right_red.png) no-repeat center center;
	background-size:contain;
	position:relative;
	bottom:-3px;
}

.service-info{
	padding-bottom:30px;
	color:#333;
}
.service-info h5{
	font:22px/26px ralewaybold, sans-serif;
}
.service-info time{
	display:inline-block;
	margin-left:20px;
}

.modal-confirm .modal-header{
	border:0 none;
	padding:0;
}
.modal-confirm .modal-header .close{
	width:33px;
	height:33px;
	background:url(images/assets/icon_close.png) center center no-repeat;
	opacity:1;
	top:-16px;
	right:-16px;
}
.modal-confirm .modal-body{
	text-align:center;
	font-size:16px;
}
.modal-confirm .section-header img{
	width:62px;
}
.modal-confirm .section-header h2{
	font:32px/36px ralewaybold, sans-serif;
	color:#f3472d;
	margin:20px 0;
}
.modal-confirm .modal-body > p{
	margin-bottom:20px;
}
.modal-confirm .ticket-calendar{
	margin:0 auto;
	width:390px;
}
.modal-confirm .ticket-calendar .ticket-back h4{
	font:20px/24px ralewaybold, sans-serif;
}
.modal-confirm .btn-orange {
    border: 0 none;
    display: inline-block;
    font: 20px/44px ralewaymedium,sans-serif;
    text-decoration: none;
    width: 100%;
	margin:30px 0;
}

.booking-details{
	text-align:center;
	padding:0 0 20px;
	font:20px/24px ralewaysemibold, sans-serif;
}
.booking-details h3{
	font:24px/28px ralewaybold, sans-serif;
}

.modal-booked .table-steps{
	text-align:left;
}
.modal-booked .table-steps .col-img{
	width:103px;	
}
.modal-booked .table-steps h3{
	font:24px/28px ralewaybold,sans-serif;
}
@media (min-width:768px){	
	.booked-page .site-calendar{
		margin-left:0;
		margin-right:0;
	}
}
@media (max-width:767px){
	.book-page .book-tab{
		margin-left:-15px;
		margin-right:-15px;
	}
	.book-page .site-calendar{
		margin-left:-15px;
		margin-right:-15px;	
	}
	.panel-info{
		width:90%;
	}
	#accordion{
		padding-left:0;
		padding-right:0;
	}
	#accordion .panel-title a{
		font-size:16px;
		padding:10px;
	}
	#accordion .panel-title img{
		width:32px;	
		margin-right:10px;
	}
	#accordion .panel-default > .panel-heading .offer{
		margin:5px 0 0 10px;
	}
	.price-info{
		font-size:18px;
		line-height:22px;	
	}
	.col-controls .btn-book{
		width:100%;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
	}
	.service-steps .table-steps .col-img{
		width:85px;
	}
	.service-steps h2{
		font-size:20px;
		line-height:24px;
	}
	.booked-page .skip-section{
		margin-left:-15px;
		margin-right:-15px;
	}
	.modal-confirm .modal-header .close{
		width:60px;height:60px;background-image:url(images/assets/icon_close_black.png) !important;
		top:0;
		right:0;
		margin:0;
		background-size:auto;
		z-index:9;
	}
	.modal-confirm .ticket-calendar{
		width:90%;
	}
	.modal-confirm .section-header h2{
		font-size:24px;
		line-height:28px;	
	}
	.booking-details p{
		font-size:16px;
		line-height:20px;
	}
}