.scroller-wrapper {
	position: absolute;
	z-index: 1;
	top:0;
	right:0;
	left:0;
	bottom:0;
	overflow: hidden;
}

.scroll-bar {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;	
}
#tab-rule .scroll-bar
{
	padding:10px 20px 10px 10px;
}
#list-guest .scroll-bar
{
	padding:5px 15px 5px 5px;
}
.iScrollVerticalScrollbar
{
	width:9px !important;
	opacity:1 !important;
}
.iScrollIndicator
{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important; 
	border-radius: 0 !important; 
	border:#E4E3E3 !important;
	background:#E4E3E3 !important;
}
