body{overflow-x:auto;}
.settings-section{font-size:20px;line-height:24px;}
.settings-section,
.settings-section .container{min-width:960px;}
.settings-section .site-header .logo img{height:70px;}
.settings-section .nav-main{padding-bottom:20px;}
.settings-section .nav-main li img{margin-top:-20px;} .nav-main{padding-bottom:20px;}
.nav-settings .nav-main li img{margin-top:-20px;}
.settings-section #carousel-desktop,
.settings-section #carousel-desktop .carousel-inner > .item{height:449px;}
.settings-section .company-profile-info{padding:0 0 20px 280px;}
.settings-section .site-footer p{text-align:left;}
.settings-section .site-contact .section-header h4{font-size:24px;line-height:28px;}
.settings-section .modal-offerings{width:760px;}
.settings-section .modal-crop{width:600px;}
.settings-section .modal-terms-privacy{width:700px;}