.comment-section{padding:20px 0;}
.comment-section .section-header{margin-bottom:25px;}
.comment-section .section-header h3{color:#333;font-size:26px;line-height:30px;}
.comment-list{}
.comment-list .section-header{border-bottom:5px solid #e2e2e2;margin-bottom:15px;margin-top:20px;}
.comment-list .section-header .section-header h4{color:#333;}
.comment-list .section-header span{display:inline-block;border-bottom:5px solid #f3472d;position:relative;bottom:-5px;padding:0 15px 5px;}
.comment-list ._5yk1{margin-bottom:15px;}
.comment-item + .comment-item{border-top:1px solid #e2e2e2;}
.comment-block.comment-form{margin-bottom:20px;}
.comment-reply{margin-left:30px;}
.comment-content{padding:0;}
.comment-content .form-control{margin-top:15px;}
.comment-content ul{padding:0;margin:0;list-style:none;}
.comment-content li{display:inline-block;}
.comment-content .li-user{color:#f3472d;}
.comment-content .li-reply{color:#738899;}
.comment-content .li-reply span{}
.comment-content .li-time{color:#738899;font-size: 15px;}
.comment-content p{font-size:16px;line-height:20px;}
.comment-content a{color:#738899;text-decoration:none;font-size: 15px;}

@media (max-width: 480px){
    .comment-reply{margin-left:15px;}
}
