.comment-section {
    padding: 0 0 20px;
    font-size: 20px;
}
.comment-form {
    background: #e6e6e6;
    padding: 15px;
}
.comment-form .txt-comment {
    margin: 10px 0;
    height: 150px;
    resize: none;
}
.comment-form .btn-preview {
    background: #26a9e0;
    border: 1px solid $white;
    padding: 0 25px;
    color: $white;
    line-height: 44px;
}
.comment-form .btn-post {
    background: #26a9e0;
    border: 1px solid $white;
    padding: 0 25px;
    color: $white;
    line-height: 44px;
}
.comment-rely {
    background: #e3ffff;
}
.comment-list {
    padding: 15px 0 0;
}
.comment-block {
    margin: 0 0 15px;
    border-top: 1px solid #bebebe;
}
.comment-item {
    border: 1px solid #bebebe;
    border-top: 0;
}
.comment-item .row {
    padding: 15px;
    position: relative;
}
.comment-item .comment-avatar {
    width: 100px;
    height: 100px;
    background: center center no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}
.comment-item .btn-rely {
    display: inline-block;
    width: 41px;
    height: 28px;
    background: url(images/icons/btn-reply.png) center center no-repeat;
    position: absolute;
    bottom: 15px;
    right: 30px;
}
.comment-item .btn-post {
    background: #26a9e0;
    border: 1px solid $white;
    padding: 0 25px;
    color: $white;
    line-height: 44px;
}
.comment-item-rely {
    background: #e3ffff;
}
.comment-block-review .comment-item {
    background: #fdf690;
}
.comment-item-info {
    padding-bottom: 38px;
}

@media (max-width: 767px){
    .comment-item .comment-avatar {
        float: left;
        margin-right: 15px;
    }
}

@media (max-width:475px) {
    .comment-form .btn-preview,
    .comment-form .btn-post {
        width: 100%;
        text-align: center;
    }
    .comment-form .btn-preview {
        margin-bottom: 15px;
    }
}
