.donate-section {
    background: #f2f2f2;
    padding: 20px;
    margin: 0 0 10px;
}
.donate-section .donate-info {
    float: left;
    width: 60%;
}
.donate-section .donate-info span {
    color: #26a9e0;
}
.donate-section .btn-donate {
    float: right;
    display: block;
    width: 35%;
    height: 44px;
    background: #26a9e0;
    color: $white;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
}

@media (max-width:979px) {
    .donate-section .donate-info {
        float: none;
        width: 100%;
        margin: 0 0 10px;
    }
    .donate-section .btn-donate {
        float: none;
        width: 100%;
    }
}