.home-category .chosen-container{
    display: block;
}
.home-category .chosen-container-single .chosen-single,
.home-category .chosen-container-multi .chosen-multiple{
    line-height: 34px;
    height: 36px;
    background:#fff;
}
.home-category .inner_input{
    height: 36px;
    line-height: 36px;
	border-right-width:0;
}
.home-category ul{
    margin:0;
    padding:0;
    list-style: none;
}
.home-category .ul-list > li{
    float: left;
    display: block;
    padding:3px 12px;
    height: 45px;
    border-bottom: 1px solid #E5EFF8;
    border-left: 1px solid #E5EFF8;
    line-height: 39px;
}
.home-category .ul-list > li:last-child{
    border-right: 1px solid #E5EFF8;
}
.home-category .ul-list > li > a{
    color: #621c1e;
}

.home-category .ul-list > li > a:hover{
    color: #428bca;
}
.home-category .li-category{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home-category .li-company{
    width: 418px;
}
.home-category .li-action{
    width: 100px;
}
.home-category > .ul-list{
    border-top: 1px solid #E5EFF8;
    margin: 1em auto 0;
}
.home-category > .ul-list > li{
    background-color: #F4F9FE;
    color: #003765;
    height: 45px;
    font: bold 1.2em/39px "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
}
.home-category .ui-sortable > li{
    border:0 none;
    font-weight: 400;
    color: #353535;
}
.home-category .ui-sortable > li:nth-child(even){
    background:#F4F9FE;
}
.home-category .ui-sortable > li:nth-child(odd){
    background:#fff;
}
