.modal-access{width:650px;}
.modal-access .modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-access .modal-header{text-align:center;border:0 none;padding:60px 25px 10px;position:relative;}
.modal-access .modal-header .modal-title{font:38px/40px ralewayextrabold, sans-serif;margin:16px 0 10px;}
.modal-access .modal-header h4{font:24px/30px ralewaymedium, sans-serif;margin:0 0 10px;}
/*.modal-access .modal-header .close{width:33px;height:33px;background:url(images/assets/icon_close.png) center center no-repeat;opacity:1;position:absolute;top:-16px;right:-16px;}*/
.modal-access .modal-body{padding:15px 35px 12px;font:15px/18px ralewaymedium, sans-serif;}
.modal-access .modal-footer{border:0 none;}
.modal-access .countdown{display:block;text-align:center;margin:0 0 35px;}
.modal-access .countdown-section{border:2px solid #f3472d;display:inline-block;}
.modal-access .register-form{width:380px;margin:0 auto;}
.modal-access .register-form .txt_Email{border:1px solid #000;border-right:1px solid #f3472d;}
.modal-access .register-form .btn-facebook{width:100%;}
.modal-access .register-form .btn_Join{padding:0;}

@media (max-width: 767px){
	.modal-access{width:auto;}
    .modal-access .modal-header{padding:25px 25px 10px;}
    .modal-access .modal-header .modal-title{font:34px/38px ralewaybold, sans-serif;margin:16px 0 25px;}
    .modal-access .modal-header h4{font:22px/26px ralewaymedium, sans-serif;margin:0;}
    /*.modal-access .modal-header .close{width:62px;height:62px;background-image:url(images/assets/mobile/icon_close.png) !important;top:0;right:0;}*/
    .modal-access .modal-body{padding:15px 20px 12px;font:15px/18px ralewaymedium, sans-serif;}
    .modal-access .modal-footer{border:0 none;}
    .modal-access .register-form{width:100%;}
    .modal-access .register-form .txt_Email{font-size:19px;}
}