.modal-alert{width:650px;}
.modal-alert .modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-alert .modal-header{text-align:center;border:0 none;padding:5px 25px;}
.modal-alert .modal-header .modal-title{font:36px/40px ralewaybold, sans-serif;margin:16px 0 10px;}
.modal-alert .modal-header h4{font:26px/30px ralewaymedium, sans-serif;margin:0 0 10px;}
/*.modal-alert .modal-header .close{width:33px;height:33px;background:url(images/assets/icon_close.png) center center no-repeat;opacity:1;top:-16px;right:-16px;}*/
.modal-alert .modal-body{padding:5px 35px;font:15px/18px ralewaymedium, sans-serif;}
.modal-alert .modal-footer{border:0 none;padding:0;}

@media (max-width: 767px){
	.modal-alert{width:auto;}
    .modal-alert .modal-header{padding:25px 25px 10px;}
    .modal-alert .modal-header .modal-title{font:34px/38px ralewaybold, sans-serif;margin:16px 0 25px;}
    .modal-alert .modal-header h4{font:22px/26px ralewaymedium, sans-serif;margin:0;}
    /*.modal-alert .modal-header .close{width:44px;height:44px;background-image:url(images/assets/mobile/icon_close.png);top:0;right:0;}*/
    .modal-alert .modal-body{padding:5px 10px 20px;}
}