.modal-booked{width:760px;}
.modal-booked .modal-body{padding:15px 38px;}
.modal-booked h3{font:24px/28px ralewaybold, sans-serif;}
.modal-booked .error{font-size:inherit;}
.modal-booked .table-steps{text-align:left;}
.modal-booked .table-steps .col-img{width:103px;}
.modal-booked .img-calendar{display:block;width:39px;height:40px;background:url(images/assets/icon_calendar.png) no-repeat;font:22px/22px ralewaybold, sans-serif;text-align:center;color:#f3472d;}
.modal-booked .img-calendar span{position:relative;top:11px;}
.modal-booked .table-steps h3{padding-top:20px;color:#f3472d;}
.modal-booked .list-hours{padding:0 20px 20px;}
.modal-booked .list-hours > div{float:left;}
.modal-booked .list-hours input[type="text"]{
    width:130px;
    height:40px;
    font-size: 14px;
    border:1px solid #999;
}
.modal-booked .list-hours label{display:block;text-align:left;color:#999;}
.modal-booked .available-date .bootstrap-select{margin-left:5px;}
.modal-booked .start-date,
.modal-booked .end-date{float:left;}
.modal-booked .div-to{float:left;margin-left:10px;line-height:40px;color:#999;font-weight:bold;}
.modal-booked .bootstrap-select {
    > .btn,
    > .btn:focus,
    > .btn:active,
    > .btn:hover,
    > .btn:visited,
    &.open > .btn,
    &.open > .btn:focus,
    &.open > .btn:active,
    &.open > .btn:hover,
    &.open > .btn:visited{
        min-height:40px;
        height:40px;
       border:1px solid #999;
    }
}
.modal-booked .bootstrap-select.select-s:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:70px;}
.modal-booked .bootstrap-select.select-m:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:80px;}
.modal-booked .btn-orange{margin-bottom:10px;}
.modal-booked .use-la{margin-bottom:30px;font-size:20px;line-height:24px;}
.modal-booked .p-section{text-align:left;margin-bottom:30px;}
.modal-booked .icon-add{display:inline-block;width:17px;height:17px;background-image:url(images/assets/icon_add_red.png);position:relative;bottom:-3px;}
.modal-booked .btn-white{font:20px/44px ralewaymedium, sans-serif;text-align:center;border:1px solid #f3472d;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;color:#f3472d;width:100%;}
.modal-booked .ticket-calendar{width:280px;}

.table-steps{width:100%;margin-bottom:20px;}
.table-steps .col-img{width:85px;}
.table-steps .col-text{vertical-align:middle;}
.table-steps img{width:auto;}
.table-steps h2{font-family:ralewaybold, sans-serif;color:#f3472d;margin:0;}

.table-steps{height:50px;margin:0 0 20px;position:relative;}
.table-steps hr{position:absolute;top:50%;border:1px solid #ddd;left:0;right:0;margin:0;}
.table-steps .table-css{margin:0 auto;position:relative;width:100%;z-index:2;}
.table-steps .table-cell .num{display:inline-block;width:50px;height:50px;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:3px solid #f3472d;color:#f3472d;text-align:center;line-height:40px;background:#fff;}
.table-steps .table-cell.active .num{background:#f3472d;color:#fff;}


@media (max-width:780px){
    .modal-booked{width:auto;margin:10px;}
    .modal-booked .list-hours > div{float:none;margin-bottom:10px;}
}

@media (max-width: 767px){
	.modal-booked .modal-body{padding:15px;}
    .modal-booked .list-hours{padding:0 0 20px;}
    .modal-booked .list-hours input[type="text"]{margin:0 auto;}
    .modal-booked .list-hours label{text-align:center;}
    .modal-booked .start-date,
    .modal-booked .end-date{float:none;}
    .modal-booked .div-to{float:none;margin:10px;line-height:inherit;}
    .modal-booked .table-steps{width:inherit;margin:0 auto;}
    .modal-booked .table-steps .col-img{width:50px;}
    .modal-booked .table-steps h3{padding-top:0;}
}

@media (max-width: 767px){
	.modal-booked .table-steps h3{font-size:20px;line-height:24px;}
    .modal-booked .use-la{font-size:16px;line-height:20px;}
}
