.modal-booked-yet .modal-body{padding-left:70px;padding-right:70px;}
.modal-booked-yet .ticket-calendar{width:260px;}
.modal-booked-yet .error{font-size:inherit;margin:0 30px 30px;}
.modal-booked-yet .booking-details h3{font-family:ralewaylight, sans-serif;}
.modal-booked-yet .booking-details h3 .phone{display:block;text-decoration:none;color:#000;}
.modal-booked-yet .use-la{padding-bottom:30px;}

.use-la a{color:#f3472d;text-decoration:none;}

.checkout-term-section{border:1px solid #333;height:260px;position:relative;}
.checkout-term-section p{margin-bottom:15px;}
.checkout-term-section a{color:blue;text-decoration:none;}
.checkout-term-section .scroll-bar{padding:10px 20px 10px 10px;}

.modal-checkout-term .modal-footer{border:0 none;text-align:left;padding-top:0;}

.ticket-fieldset{}
.ticket-fieldset .table-border{background:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin-bottom:10px;}
.ticket-fieldset .table-css{width:100%;}
.ticket-fieldset .table-cell{padding:10px;}
.ticket-fieldset .td-info{word-break:break-all;}
.ticket-fieldset .td-price{width:100px;font-family:ralewaybold, sans-serif;text-align:right;vertical-align:middle;}
.ticket-fieldset .td-email{padding:0 10px 10px;word-break:break-all;}
.ticket-fieldset .table-total{}
.ticket-fieldset .table-total .td-info{font-family:ralewayextrabold, sans-serif;}

.icon-paypal{display:inline-block;width:48px;height:32px;background:url(images/assets/icon_creditcard_white.png) no-repeat center center;}

.btn-paypal .icon-paypal{position:relative;bottom:-7px;height:28px;background-size:contain;}

@media (max-width: 767px){
	.modal-booked-yet .modal-body{padding:20px;}
    .modal-booked-yet .section-header h2{font-size:22px;line-height:26px;margin-bottom:10px;}
    .modal-booked-yet .booking-details h3{font-family:ralewaymedium, sans-serif;}
    .modal-booked-yet .booking-details h3 .phone{padding:30px 0 10px;color:#4A90E2;}
    .modal-booked-yet .error{margin:0 0 30px;}
    .booking-details p{font-size:16px;line-height:20px;}

}
