.modal-change-password {
    font-size: 16px;
    line-height: 150%;
    font-family: $primary;

    .modal-content{
        box-shadow: none;
        border-radius: 0;
    }

    .modal-header {
        text-align: center;
        border: 0 none;
        padding-top: 25px;
        padding-bottom: 0;
        position: relative;

        .modal-title {
            font-size: 1.1875em;
            font-family: $primary;
            font-weight: 600;
            padding-bottom: 0;
        }

        .close {
            margin-top: 0;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .modal-body {
        padding-bottom: 0;
        font-size: 16px;
        line-height: 140%;

        @media (min-width: 1024px){
            padding-left: 25px;
            padding-right: 25px;
        }

        div[class*="col-"]{
            margin-bottom: 25px;
        }

        p {
            font-family: $primary;
            font-weight: 500;
            color: #242424;
        }

        .btn{
            width: 100%;
            font-size: $h6;
            font-family: $second;
            border-radius: 0;
        }
    }
}
