.modal-confirmed .modal-header h4 time{font-family:ralewaybold, sans-serif;color:#f3472d;}
.modal-confirmed  .modal-header p{margin-left:6%;margin-right:6%;}
.modal-confirmed  .social-icons{margin-top:0;}
.modal-confirmed  .social-icons dt{margin-top:0;padding-top:0}