.modal-dialog-crop-banner{
    width: 635px;
}
.modal-dialog-crop-banner .modal-content{
    background: var(--white);
}
.modal-dialog-crop-banner .modal-header{
    padding-top: 14px;
    padding-bottom: 11px;
}
.modal-dialog-crop-banner .modal-header .modal-title{
    font-size: var(--h4);
    margin-bottom: 12px;
}
.modal-dialog-crop-banner .modal-header p{
    font-size: var(--s18);
    font-weight: 400;
}
.modal-dialog-crop-banner .modal-header p a{
    text-decoration: underline;
}
.modal-dialog-crop-banner .modal-header p .link-upload{
    color: var(--base);
}
.modal-dialog-crop-banner .modal-header p .link-delete{
    color: var(--default);
}
.modal-dialog-crop-banner .modal-body{
    padding-top: 0;
    padding-left: 34px;
    padding-right: 38px;
}
.modal-dialog-crop-banner .modal-footer{
    width: 579px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 29px;
}
.modal-dialog-crop-banner :--button{
    height: 47px;
}
.modal-dialog-crop-banner .croppie-container{
    width: 549px;
}
.modal-dialog-crop-banner .croppie-container .croppie-title{
    font-weight: 300;
    font-size: 5em;
    line-height: 226px;
    color: #ddd;
}
.modal-dialog-crop-banner .croppie-container .cr-viewport{
    top: -4px;
    width: 86% !important;
}

@media (max-width: 767px){
    .modal-dialog-crop-banner{
        width: inherit;
    }
    .modal-dialog-crop-banner .modal-header{
        padding-top:7px;
        padding-bottom: 1px;
    }
    .modal-dialog-crop-banner .modal-header .modal-title{
        font-size: var(--h5);
        margin-bottom: 1px;
    }
    .modal-dialog-crop-banner .modal-header p{
        font-size: var(--h6);
    }
    .modal-dialog-crop-banner .modal-body{
        padding-left: 15px;
        padding-right: 15px;
    }
    .modal-dialog-crop-banner .modal-footer{
        width: inherit;
    }
    .modal-dialog-crop-banner .croppie-container{
        width: 100%;
    }
    .modal-dialog-crop-banner .croppie-container .croppie-title{
        font-size: var(--s49);
    }
    .modal-dialog-crop-banner :--button{
        height: 54px;
        font-size: var(--s19);
    }
}

@media (max-width: 374px){
    .modal-dialog-crop-banner{
        width: inherit;
    }
    .modal-dialog-crop-banner .modal-header{
        padding-top:6px;
        padding-bottom: 0;
    }
    .modal-dialog-crop-banner .modal-header .modal-title{
        font-size: var(--s17);
        margin-bottom: 0;
    }
    .modal-dialog-crop-banner .modal-header p{
        font-size: var(--s14);
        margin-bottom: 8px;
    }
    .modal-dialog-crop-banner .croppie-container .croppie-title{
        font-size: var(--s42);
    }
    .modal-dialog-crop-banner :--button{
        height: 46px;
        font-size: var(--h6);
    }
}
