.modal-crop{width:600px;}
.modal-crop .modal-body legend{font-family:ralewaybold, sans-serif;margin-bottom:5px;}
.modal-crop .modal-body .btn-upload,
.modal-crop .modal-body .btn-finished,
.modal-crop .modal-body .btn-done{border:0 none;font:20px/44px ralewaymedium, sans-serif;width:180px;}
.modal-crop .modal-body .btn-finished{position:absolute;right:20px;bottom:0;}
.modal-crop .settings-image{padding:20px 0 0;position:relative;}
.modal-crop .col-left{float:left;width:340px;}
.modal-crop .col-left .btn-orange{margin-top:20px;}
.modal-crop .crop-section{height:250px;background:url("images/assets/gallery_default.png") no-repeat center center #000;}
.modal-crop .col-right{float:right;width:200px;border:0 none;}
.modal-crop .col-right p{font-size:16px;}
.modal-crop .col-right a{color:#f3472d;margin:20px 0;font:20px/44px ralewaybold, sans-serif;}
.modal-crop label.btn-upload{padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-crop .button-small .btn-save{width:auto;padding:0 20px;}