.modal-form{width:510px;margin-left:auto;margin-right:auto;}
.modal-form .modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-form .modal-header{text-align:center;border:0 none;padding:15px 25px 10px;}
.modal-form .modal-header .modal-title{font:30px/34px ralewaybold, sans-serif;margin:16px 0 5px;}
.modal-form .modal-header h4{font:26px/30px ralewaymedium, sans-serif;margin:0 0 10px;}
.modal-form .modal-header p{font:20px/24px ralewaymedium, sans-serif;margin:10px 0;}
.modal-form .modal-body{width:430px;margin:0 auto;padding:5px 35px 20px;font:16px/20px ralewaymedium, sans-serif;}
.modal-form .modal-body .btn-facebook,
.modal-form .modal-body .btn-facebook:hover{display:block;font:16px/40px ralewaysemibold, sans-serif;color:#fff;text-decoration:none;}
.modal-form .modal-body .form-control{height:40px;font:16px/20px ralewaymedium, sans-serif;margin:0 0 10px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border:1px solid #ABABAB;}
.modal-form .modal-body textarea.form-control{height:65px;resize:none;line-height:20px;}
.modal-form .modal-body .form-read-only{border:0 none;background:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.modal-form .modal-body .link-form{margin:5px 0 15px;color:#ABABAB;}
.modal-form .modal-body .link-form a{color:#F3472D;}
.modal-form .modal-body .btn-form,
.modal-form .modal-body .btn-form:hover{border:0 none;font:16px/40px ralewaysemibold, sans-serif;}
.modal-form .modal-body .btn-confirm{background-image:url(images/assets/icon_check_white.png);background-position:center center;background-repeat:no-repeat;}
.modal-form .modal-body .alert-error{padding:10px 0 0;}
.modal-form .modal-footer{width:360px;border:0 none;margin:0 auto;padding:15px 0 20px;font:16px/20px ralewaymedium, sans-serif;position:relative;}
.modal-form hr{border:0 none;border-top:1px solid #ABABAB;border-bottom:1px solid #e5e5e5;margin:0;position:absolute;top:0;right:0;left:0;}
.modal-form .modal-footer .link-form{color:#ABABAB;}
.modal-form .modal-footer .link-form a{color:#F3472D;margin:0 0 0 25px;}

.form-or{text-align:center;position:relative;padding:20px 0;}
.form-or hr{border:0 none;border-top:1px solid #ABABAB;border-bottom:1px solid #e5e5e5;margin:0;position:absolute;top:50%;right:20px;left:20px;z-index:8;}
.form-or span{background:#fff;display:inline-block;padding:0 20px;position:relative;z-index:9;font:16px/20px ralewaymedium, sans-serif;}

@media (max-width: 767px){
    .modal-form,
    .modal-form .modal-body{width:auto;}

    .modal .modal-form{margin:10px;}
    .modal .modal-form .modal-footer{margin:0 35px;width:auto;}
}

@media (max-width:440px){
    .modal-form .modal-footer .link-form span{display:block;}
}
