.modal-gallery{width:470px;}
.modal-gallery .modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
/*.modal-gallery .modal-header .close{background-image:url(../images/assets/btn_close_black_1.png);z-index:9;}*/
.modal-gallery .modal-header .modal-title{font:26px/30px ralewaymedium, sans-serif;color:#fff;}
.modal-gallery .modal-header{min-height:0;padding:0;background:#F3472D;border:0 none;}
.modal-gallery .modal-body{padding:0;overflow:hidden;}
.modal-gallery .slide-feature,
.modal-gallery .carousel-inner{overflow:inherit;}

#carousel-view{}
#carousel-view .carousel-inner > .item{cursor:pointer;}
#carousel-view .carousel-indicators{display:block;text-align:left;top:256px;right:0;bottom:inherit;left:0;padding:15px;}
#carousel-view .carousel-indicators li{width:14px;height:14px;background:#333;border:1px solid #fff;}
#carousel-view .carousel-indicators li.active{width:14px;height:14px;background:#fff;border:1px solid #f3472d;}
#carousel-view .carousel-title{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background:#F3472D;padding:15px;font:26px/30px ralewaymedium, sans-serif;color:#fff;}
#carousel-view .carousel-image{height:250px;background:center center no-repeat;background-size:cover;}
#carousel-view .carousel-caption{text-shadow:none;position:relative;right:0;bottom:inherit;left:0;background:#fff;padding:15px;font-size:14px;color:#000;text-align:left;}

@media (max-width: 767px){
	.modal-gallery{width:auto;}
}
