.modal-geo-location{width:370px;}
.modal-geo-location .modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-geo-location .modal-header{border:0 none;padding:25px 20px 10px;}
.modal-geo-location .modal-header .modal-title{font:18px/30px ralewaybold, sans-serif;margin:16px 0 10px;color:#333;}
.modal-geo-location .modal-header h4{font:14px/20px ralewaymedium, sans-serif;margin:0 0 10px;color:#333;}
/*.modal-geo-location .modal-header .close{width:33px;height:33px;background:url(images/assets/icon_close.png) center center no-repeat;opacity:1;top:-16px;right:-16px;}*/
.modal-geo-location .modal-body{padding:15px 20px 12px;font:15px/18px ralewaymedium, sans-serif;}
.modal-geo-location .modal-footer{border:0 none;}
.modal-geo-location .register-form .txt_Email{font-size:14px;color:#333;}
.modal-geo-location .register-form .btn_Join{padding:0;font-size:16px;font-weight:700;}
.modal-geo-location .btn{-webkit-border-radius:0 !important;-moz-border-radius:0 !important;border-radius:0 !important;}

@media (max-width: 767px){
	.modal-geo-location{width:auto;}
}