.modal-notify{width:650px;}
.modal-notify .modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-notify .modal-header{text-align:center;border:0 none;padding:55px 25px 10px;}
.modal-notify .modal-header .modal-title{font:36px/40px ralewaybold, sans-serif;margin:16px 0 10px;}
.modal-notify .modal-header h4{font:26px/30px ralewaymedium, sans-serif;margin:0 0 10px;}
.modal-notify .modal-body{padding:15px 35px 12px;font:15px/18px ralewaymedium, sans-serif;}
.modal-notify .modal-footer{border:0 none;}
.modal-notify .social-icons{float:none;text-align:center;}
.modal-notify .social-icons dt{font:22px/26px ralewaymedium, sans-serif;color:#000;padding:10px 0 15px;}
.modal-notify .social-icons dd{margin:0 10px;}

@media (max-width: 767px){
	.modal-notify{width:auto;}
    .modal-notify .modal-header{padding:25px 25px 10px;}
    .modal-notify .modal-header .modal-title{font:34px/38px ralewaybold, sans-serif;margin:16px 0 25px;}
    .modal-notify .modal-header h4{font:22px/26px ralewaymedium, sans-serif;margin:0;}
    .modal-notify .modal-body{padding:15px 0 12px;font:15px/18px ralewaymedium, sans-serif;}
    .modal-notify .social-icons{float:none;text-align:center;margin:0 0 13px;}
    .modal-notify .social-icons dt{font:22px/26px ralewaymedium, sans-serif;color:#000;padding:0 0 15px;}
    .modal-notify .social-icons dd{margin:0 18px;}
}
