.modal-offerings{
    .modal-body {
        .form-control{
            border-radius:4px;
            height: 38px;
            padding: 0 12px;
        }

        .bootstrap-select {
            > .btn,
            > .btn:focus,
            > .btn:active,
            > .btn:hover,
            > .btn:visited,
            &.open > .btn,
            &.open > .btn:focus,
            &.open > .btn:active,
            &.open > .btn:hover,
            &.open > .btn:visited{
                border-radius:4px;
                min-height:38px;
                height:38px;
            }

            &.btn-group.open {
                > .btn{
                    border-radius: 4px 4px 0 0;
                }

                .dropdown-menu{
                    border-radius: 0 0 4px 4px;
                }
            }

            &.dropup {
                .btn{
                    border-radius: 0 0 4px 4px;
                }

                .dropdown-menu{
                    border-radius: 4px 4px 0 0;
                }
            }
        }
    }
    .form-row{margin-bottom:20px;}
    .form-row hr{border:1px dashed #ddd;margin:30px 0;}
    .span-or{background:#fff;position:absolute;top:-12px;left:10%;padding:0 10px;}
    .offering-col{float:left;margin-right:20px;}
    .list-header .offering-col{margin-left:10px;}
    .txt-s{width:180px;background:#fff;}
    .txt-l{width:250px;}
    textarea{height:250px;}
    .select-xs{width:140px;}
    .select-xs:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:140px;}
    .select-s{width:180px;}
    .select-s:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:180px;}
    .select-l{width:250px;}
    .select-l:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:250px;}
    .select-xl{width:350px;}
    .select-xl:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:350px;}
    .select-100{width:100%;}
    .select-100:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:100%;}
    .form-btn{margin:30px 0;}
    .btn-delete{width:auto !important;}
    .btn-popover{width:auto;}
    footer{border-top:2px dashed #ddd;padding-top:20px;margin-top:20px;}
    .time-section footer{margin-top:10px;}
    label{color:#999;}
    label .error{font-size:20px;}
    label.label-style{font-weight:normal;}
    .list-header .delete-section{float:right;}
    .list-header a{font-family:ralewaybold, sans-serif;color:#f3472d;}
    .list-header a.popover_disable{color:#ccc;}
    .list-header > label{display:block;margin-bottom:10px;color:#000;}
    .list div{padding:5px 10px;}
    .list div:nth-child(odd){background:#F8F8F8;}
    .time-class .list-hours .shift{margin-bottom:10px;margin-left:0;}
    .time-service .list-hours .shift{max-height:112px;}
    .time-service .list-hours .hour-item .popover-confirm{top:82px;}
}
.popover-confirm{left:inherit;right:0;top:20px;background:#f3472d;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border:0 none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;width:200px;}
.popover-confirm.bottom > .arrow{left:inherit;right:10px;border-bottom-color:#f3472d;}
.popover-confirm.bottom > .arrow::after{border-bottom-color:#f3472d;}
.popover-confirm .popover-title{background:#f3472d;border:0 none;color:#fff;font-size:20px;padding:8px;text-align:right;}

.list-hours{}
.list-hours .hour-item{padding-top:15px;margin-top:10px;border-top:2px dashed #ddd;}
.list-hours .hour-item:first-child{padding-top:0;margin-top:10px;border-top:0 none;}
.list-hours .hour-item > label{font-size:24px;color:#000;}
.list-hours .hour-item > label > span{display:inline-block;width:160px;}
.list-hours .hour-item > label a{color:#f3472d;font-size:16px;}
.list-hours .hour-item .popover-confirm{top:34px;right:-12px;width:230px;}
.list-hours .icon{display:inline-block;width:21px;height:21px;background:center center no-repeat;margin-bottom:-5px;}
.list-hours .icon-add{background-image:url(../images/assets/icon_add_red.png);}
.list-hours .hour-item-sub{}
.list-hours .shift{float:left;margin-left:20px;}
.list-hours .shift:first-child,
.list-hours .shift:nth-child(odd){margin-left:0;}
.list-hours .shift > div{float:left;margin-left:10px;}
.list-hours .shift > div:first-child{margin-left:0;}
.list-hours .shift > div.delete-section{width:1px;}
.list-hours .shift > div .label-style:before{top:10px;}
.list-hours .shift .shift-section{font-size:16px;}
.list-hours .list-label label{display:block;float:left;margin-left:10px;}
.list-hours .list-label label:first-child{margin-left:0;}
.list-hours .hour-item-row{margin-top:10px;}
.list-hours .hour-item-row:first-child{margin-top:0;}
.list-hours .label-time{width:140px;}
.list-hours .label-class{width:350px;}
.list-hours .label-instructor{width:180px;}

.list-time-operation .hour-item > label > span{color:#999;}
.list-time-operation .shift{float:none;margin-left:0;margin-bottom:10px;}

.cb-style{position:absolute;opacity:0;top:0;left:0;}
.cb-style ~ .label-style{position:relative;padding-left:25px;cursor:pointer;display:inline-block !important;color:#000 !important;}
.cb-style:checked ~ .label-style:before{background-image:url(../images/assets/icon_checkbox.png);border:0 none;}
.label-style:before{content:'';display:block;width:15px;height:15px;border:1px solid #ddd;border-radius:4px;vertical-align:middle;position:absolute;top:5px;left:0;cursor:pointer;color:#000 !important;}

@media (max-width:589px){
    .modal-offerings .time-service .list-hours .shift{margin-left:0;}
}

@media (max-width: 480px){
    .modal-offerings .btn-settings{width:116px;}
    .list-hours .hour-item > label > span{width:138px;}
}
