.modal-reminder {
    font-size: 16px;
    line-height: 150%;
    font-family: $primary;
    width: 523px;

    @media (max-width: 767px){
        width: auto;
    }

    .modal-content{
        box-shadow: none;
        border-radius: 0;
    }

    .modal-header {
        text-align: center;
        border-bottom: 1px solid rgba(44, 44, 46, .1);
        padding-top: 17px;
        padding-bottom: 20px;
        position: relative;

        @media (max-width: 767px){
            padding-top: 11px;
            padding-bottom: 11px;
        }

        .modal-title{
            font-size: $h5;
            font-family: $primary;
            font-weight: 400;
            padding-bottom: 0;
            color: $base;

            @media (max-width: 767px){
                font-size: $h6;
            }
        }

        .close {
            margin-top: 0;
            position: absolute;
            top: 16px;
            right: 23px;

            @media (max-width: 767px){
                top: 7px;
                right: 5px;
            }
        }
    }

    .modal-body {
        padding: 7px 34px 6px;
        font-size: 16px;
        line-height: 140%;
        text-align: center;

        @media (max-width: 767px){
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .icon-reminder {
            width: 65px;
            height: 65px;
            background: url(../images/ui/modals/reminder/icon_reminder.png) center center no-repeat;
            background-size: 65px auto;

            @media
            only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
            only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
            only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
            only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
            only screen and (              min-resolution:120dpi)      and (min-width:320px),
            only screen and (               min-resolution:2dppx)      and (min-width:320px){
                background-image: url(../images/ui/modals/reminder/icon_reminder@3x.png);
            }
        }

        p {
            font-family: $primary;
            font-size: $s18;
            font-weight: 400;
            line-height: 21px;
            color: $base;
            margin-top: -1px;
            margin-bottom: 18px;

            @media (max-width: 767px){
                font-size: $h6;
            }

            @media (max-width: 359px){
                font-size: $s14;
                margin-bottom: 8px;
            }
        }

        .form-control{
            height: 180px;
            padding-top: 9px;
        }

    }

    .modal-footer {
        padding-bottom: 23px;
        text-align: center;
        border:0 none;

        .btn{
            width: auto;
            min-width: 255px;
            height: 50px;
            border-radius: 0;
            font-size: $h5;
            font-family: $primary;
            font-weight: 700;
            padding:0 40px;

            @media (max-width: 767px){
                height: 32px;
                font-size: $h6;
                padding:0 20px;
                min-width: auto;
            }
        }
    }
}
