.modal-rsvp .modal-header{border:0 none;padding:0;}
.modal-rsvp .timer-form{}
.modal-rsvp .timer-form .timer-form-header{text-align:center;}
.modal-rsvp .timer-form .timer-form-header h2{font-family:bebas_neueregular, Arial, Helvetica, sans-serif;}
.modal-rsvp .timer-form .timer-form-header h3{font-family:ralewaybold, sans-serif;}
.modal-rsvp .timer-form .timer-form-header h3 .icon-down{display:inline-block;width:30px;height:30px;background:url(images/assets/icon_arrow_right_black.png) no-repeat center center;background-size:contain;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);margin-bottom:-5px;}
.modal-rsvp .timer-form .timer-form-header p{font-size:20px;line-height:24px;}
.modal-rsvp .timer-form .timer-form-header strong{font-family:ralewaybold, sans-serif;}
.modal-rsvp .timer-form .timer-form-header p span{font:16px/20px ralewaymedium, sans-serif;}
.modal-rsvp .timer-form fieldset{padding:15px;background:#f2f6f9;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.modal-rsvp .timer-form .timer-guest{margin:0 0 20px;}
.modal-rsvp .timer-form .timer-guest h4{font-size:20px;line-height:24px;}
.modal-rsvp .timer-form .col-timer{margin-top:20px;}
.modal-rsvp .timer-form .col-first-name{float:left;width:150px;margin-right:20px;}
.modal-rsvp .timer-form .col-last-name{float:left;width:240px;}
.modal-rsvp .timer-form .col-email{width:285px;}
.modal-rsvp .timer-form .col-email.disabled{color:#999;}
.modal-rsvp .timer-form label{display:block;font-weight:normal;font:16px/20px ralewaymedium, sans-serif;}
.modal-rsvp .timer-form .form-control{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-rsvp .timer-form .btn-timer{display:inline-block;width:145px;font:20px/44px ralewaymedium, sans-serif;border:0 none;text-decoration:none;}
.modal-rsvp .timer-form .btn-timer .icon-back{display:inline-block;width:12px;height:20px;background:url(images/assets/Icon_back_arrow_white.png) center center no-repeat;margin-bottom:-3px;}
.modal-rsvp .timer-form .select-guest:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:70px;}
.modal-rsvp .timer-form .select-glass:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:70px;}
.modal-rsvp .timer-form .select-gender1:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:150px;}
.modal-rsvp .timer-form .select-gender2:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:240px;}
.modal-rsvp .timer-form .select-kid:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:150px;}
.modal-rsvp .timer-form .select-food:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:240px;}
.modal-rsvp .timer-form .timer-note{font:14px/18px ralewaymedium, sans-serif;padding-top:10px;}
.modal-rsvp .timer-form .ticket-calendar{width:390px;margin:15px auto 50px;text-align:center;}
.modal-rsvp .timer-form .timer-error{margin-top:20px;}
.modal-rsvp .ticket-calendar .section-header{padding-top:50px;}
.modal-rsvp .ticket-calendar .ticket-back h4{font:20px/24px ralewaysemibold, sans-serif;}
.modal-rsvp .ticket-price{color:#999;padding:0 20px;min-height:auto;}

.rsvp-section{padding:15px;background:#f2f6f9;margin:0 0 50px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.rsvp-section .btn-RSVP,
.rsvp-section .btn-ticket{float:left;margin:0;}
.rsvp-section .social-icons{margin:0;text-align:right;}
.rsvp-section .social-icons dt{display:inline;padding:0;font-size:20px;line-height:44px;margin-right:20px;}
.rsvp-section .social-icons dd{width:auto;margin:5px 0 0 7px;}
.rsvp-section .spot-info{padding:10px 0;}
.rsvp-section .spot-info p{font:20px/24px ralewaymedium, sans-serif;}
.rsvp-section .spot-info strong{font:20px/24px ralewaybold, sans-serif;}

.modal-rsvp .timer-form .rsvp-header{text-align:left;}
.modal-rsvp .timer-form .rsvp-header h4{margin:15px 0 10px;font-size:20px;line-height:24px;font-family:ralewaybold, sans-serif;}

.rsvp-voucher{background:#f3472d;padding:10px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;color:#fff;text-align:center;}
.rsvp-voucher strong{font-weight:normal;font-family:ralewaybold, sans-serif;}

.modal-rsvp .progress{margin:15px 0;}
.modal-rsvp hr{border:0 none;border-top:1px solid #ccc;margin: 25px 0 0;}

.link-share{margin:0;padding:0;list-style:none;text-align:center;}
.link-share li{display:inline-block;width:37px;margin:10px 15px;}

@media (min-width:768px) and (max-width:979px){
    .rsvp-section .social-icons{clear:both;padding-top:10px;text-align:left;}
}

@media (max-width: 767px){
    .modal-rsvp .timer-form .col-first-name,
    .modal-rsvp .timer-form .col-last-name{float:none;}
    .modal-rsvp .timer-form .btn-controls{text-align:right;}
    .modal-rsvp .timer-form .btn-control-paypal{text-align:left;}
    .modal-rsvp .timer-form .btn-timer{width:48%;margin-right:1%;}
    .modal-rsvp .ticket-price.visible-xs{display:inline-block !important;}
    .modal-rsvp .timer-form .btn-paypal{width:100%;margin-top:10px;}

    .section-header-pink h2{color:#f3472d !important;}

    .modal-rsvp .timer-form .timer-form-header h3{font-size:22px;line-height:26px;}
    .modal-rsvp .timer-form .timer-form-header p{font-size:16px;line-height:20px;}
    .modal-rsvp .timer-form .rsvp-header h4{font-size:16px;line-height:20px;}

    .rsvp-section{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
    .rsvp-section .btn-RSVP{float:none;margin:0 auto 15px;display:block;}
    .rsvp-section .social-icons{float:none;text-align:left;}
    .rsvp-section .social-icons{margin-bottom:15px;}

}

@media (max-width: 480px){
	.modal-rsvp .timer-form .col-first-name,
    .modal-rsvp .timer-form .col-last-name,
    .modal-rsvp .timer-form .col-email,
    .modal-rsvp .timer-form .ticket-calendar{width:100%;}

    .rsvp-section .social-icons{text-align:center;}
    .rsvp-section .social-icons dt{float:none;display:block;}
    .rsvp-section .social-icons dd{width:20%;}

	.modal-rsvp .timer-form .btn-paypal{padding:0 10px;font-size:17px;}
    .icon-paypal{width:24px;background-size:contain;}
    .btn-paypal .icon-paypal{bottom:-10px;}
}
