.modal-settings{width:760px;}
.modal-settings .modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-settings .modal-header{min-height:64px;color:#fff;background:#f3472d;}
/*.modal-settings .modal-header .close{background-image:url(images/assets/icon_close.png);}*/
.modal-settings .modal-header .modal-title{font:26px/30px ralewaybold, sans-serif;}
.modal-settings .modal-header .icon-bulletin{display:block;width:42px;height:42px;background:url(images/assets/icon_bulletin.png) center center no-repeat;position:absolute;top:10px;right:15px;}
.modal-settings .modal-body{color:#333;font:20px/24px ralewaymedium, sans-serif;}
.modal-settings .modal-body fieldset{}
.modal-settings .modal-body legend{font:20px/24px ralewaymedium, sans-serif;margin-bottom:15px;}
.modal-settings .modal-body .request-cell{margin-bottom:15px;}
.modal-settings .modal-body .alert-error{font-size:14px;}
.modal-settings .modal-body .form-control{font:20px/24px ralewaymedium, sans-serif;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;cursor:text;}
.modal-settings .modal-body textarea{resize:none;height:145px;}
.modal-settings .modal-body .txt-description{height:270px;}
.modal-settings .modal-body .txt-message{height:270px;}
.modal-settings .modal-body .bulletin-des{border:1px solid #ababab;padding-bottom:10px;}
.modal-settings .modal-body .bulletin-des .form-control{margin-bottom:10px;}
.modal-settings .modal-body .bulletin-des time{float:left;color:#ababab;padding:0 15px;}
.modal-settings .modal-body .bulletin-des .btn-save{margin:0 15px;}
.modal-settings .modal-body .btn-save{width:170px;font:20px/44px ralewaymedium, sans-serif;border:0 none;margin:20px 0 10px;}

@media (max-width: 767px){
	.modal-settings{width:auto;}
    /*.modal-settings .modal-header .close{width:60px;height:60px;background-image:url(images/assets/icon_close_white.png);top:0;right:0;}*/
    .modal-settings .modal-header .icon-bulletin{display:none;}
}