.modal-social .modal-body .txt-socials{margin-top:10px;padding-left:35px;background:left center no-repeat;background-size:auto 24px;}
.modal-social .modal-body .txt-socials input{}
.modal-social .modal-body .txt-twitter{background-image:url(images/assets/icons_social/Twitter.png);}
.modal-social .modal-body .txt-facebook{background-image:url(images/assets/icons_social/facebook.png);}
.modal-social .modal-body .txt-google-plus{background-image:url(images/assets/icons_social/Google_Plus.png);}
.modal-social .modal-body .txt-email-share{background-image:url(images/assets/icons_social/Github_Shape_2.png);}
.modal-social .modal-body .txt-instagram{background-image:url(images/assets/icons_social/Instagram.png);}
.modal-social .modal-body .txt-pinterest{background-image:url(images/assets/icons_social/Pinterest.png);}
.modal-social .modal-body .txt-youtube{background-image:url(images/assets/icons_social/youtube.png);}