.modal-sold-out .timer-form .timer-form-header h3{margin-bottom:10px;}
.modal-sold-out .timer-form .timer-form-header p{margin-bottom:20px;}

.modal-rsvp .timer-form .btn-paypal{background:#4A90E2;width:auto;padding:0 30px;}
.modal-rsvp .addtocalendar{margin-top:30px;}