.modal-terms-privacy{width:700px;}
.modal-terms-privacy .modal-header .modal-title{font-family:ralewayextrabold, sans-serif;}
.modal-terms-privacy .modal-body{padding-top:0;}
.modal-terms-privacy .ui-tabs{padding:0;border:0 none;background:transparent;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-terms-privacy .nav-tabs{background:transparent;padding:0;border:0 none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-terms-privacy .nav-tabs li{margin:0;width:33.33%;}
.modal-terms-privacy .nav-tabs li.active{background:none transparent;border:0 none;}
.modal-terms-privacy .nav-tabs > li > a,
.modal-terms-privacy .nav-tabs > li > a:hover,
.modal-terms-privacy .nav-tabs > li > a:focus{background:transparent;text-align:center;font:24px/28px ralewayextrabold, sans-serif;color:#ccc;border:0 none;margin:0;}
.modal-terms-privacy .nav-tabs li span{display:block;height:32px;background:url(images/assets/icon_arrow_down_light_brown.png) center center no-repeat;margin:10px 0 0;}
.modal-terms-privacy .nav-tabs > li.active > a,
.modal-terms-privacy .nav-tabs > li.active > a:hover,
.modal-terms-privacy .nav-tabs > li.active > a:focus{color:#f3472d;border:0 none;background:transparent;}
.modal-terms-privacy .nav-tabs > li.active span{background-image:url(images/assets/icon_arrow_down_red.png);}
.modal-terms-privacy .tab-content .tab-pane{height:300px;padding:5px;border:2px solid #ABABAB;font:20px/24px ralewaymedium, sans-serif;position:relative;}
.modal-terms-privacy .tab-content .tab-pane h3{font:20px/24px ralewayextrabold, sans-serif;margin:20px 0 15px;}
.modal-terms-privacy .tab-content .tab-pane p{margin:0 0 15px;}
.modal-terms-privacy .tab-content .tab-pane p a{color:Blue;}
.modal-terms-privacy footer{padding-top:20px;}
.modal-terms-privacy footer .btn-done{border:0 none;font:20px/44px ralewaymedium, sans-serif;width:180px;}
