.modal-ticket{width:806px;}
.modal-ticket .modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-ticket .modal-header{height:161px;background:url(images/assets/BLA_buytickets_popup.png) no-repeat center top;color:#fff;border:0 none;text-align:center;padding-top:35px;}
.modal-ticket .modal-header .modal-title{font:36px/40px ralewaymedium, sans-serif;}
.modal-ticket .modal-header .modal-title span{font-family:ralewaybold, sans-serif;}
.modal-ticket .modal-header p{font:16px/20px ralewaymedium, sans-serif;}
/*.modal-ticket .modal-header .close{background-image:url(images/assets/icon_close.png);}*/
.modal-ticket .modal-body{font:20px/24px ralewaymedium, sans-serif;padding:15px 70px 55px;}

.ticket-title{min-height:80px;}
.ticket-title h3{font:34px/38px ralewaymedium, sans-serif;margin:0 0 15px;}
.ticket-title p{}

.ticket-info{padding:20px 0;}
.ticket-info h4{font:26px/30px ralewaybold, sans-serif;}

.ticket-form{border:1px solid #979797;padding:20px 45px 45px;}
.ticket-form .section-header{text-align:center;margin-bottom:45px;}
.ticket-form .section-header h2{color:#F3472D;}
.ticket-form .row div{margin-bottom:10px;}
.ticket-form .ticket-deal{color:#979797;line-height:44px;}
.ticket-form label{margin:0;line-height:44px;}
.ticket-form label .error{font-size:20px;}
.ticket-form .form-control{height:44px;border:1px solid #333;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}

.ticket-price{min-height:80px;font:20px/24px ralewaymedium, sans-serif;padding:0 40px;}
.ticket-price .table-css{width:100%;}
.ticket-price .table-cell{padding:0 5px;}
.ticket-price .price-details{width:66%;text-align:right;}
.ticket-price .price-total{text-align:right;}
.ticket-price .price-total span{display:inline-block;padding:0 0 0 10px;border-top:1px solid #ababab;}
.ticket-price .price-type{width:34%;color:#ccc;}
.ticket-price h3{font:28px/32px ralewayextrabold, sans-serif;}
.ticket-price p{margin:0 0 10px;}

.ticket-method{padding:0 0 0 60px;height:44px;margin:0 0 5px;position:relative;}
.ticket-method .icon-method{display:inline-block;width:48px;height:44px;background:center center no-repeat;position:absolute;top:0;left:0;}
.ticket-method .icon-credit{background-image:url(images/assets/icon_creditcard.png);}
.ticket-method .btn-method{height:44px;border:0 none;}
.ticket-method .btn-method1{display:block;height:44px;border:0 none;line-height:44px;text-decoration:none;}
.ticket-method .btn-credit{width:100%;background:#4A90E2;color:#fff;}
.ticket-method .form-control{height:44px;border:1px solid #ababab;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;font:16px/44px ralewaymedium, sans-serif;}

.ticket-method-calendar{padding:0;}

.ticket-select .bootstrap-select{float:left;width:75px !important;}

.ticket-back{padding:10px 0 0;text-align:center;}
.ticket-back .link-back{color:#000;}
.ticket-back .icon-back{margin:0 5px -2px 0;}
.ticket-back .link-nothanks{color:#96be3d;}
.ticket-back .icon-nothanks{margin:0 0 -2px 5px;}

.ticket-calendar .ticket-back{padding:10px 0;}
.ticket-calendar .link-share li{margin-left:2px;margin-right:2px;}

@media (max-width:979px){
    .modal-ticket{width:auto;}
}

@media (max-width: 767px){
	.modal-ticket .modal-header .modal-title{font-size:30px;}
    .modal-ticket .modal-body{padding:15px;}
    .ticket-form{border:0;padding:0;}
    .ticket-form label{font-size:16px;line-height:20px;}

    .ticket-title h3{font-size:30px;line-height:34px;}

    .ticket-info h4{font-size:20px;line-height:24px;}
}