.modal-welcome{width:650px;}
.modal-welcome .modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.modal-welcome .modal-header{text-align:center;border:0 none;padding:55px 25px 10px;}
.modal-welcome .modal-header .modal-title{font:36px/40px ralewaybold, sans-serif;margin:16px 0 10px;}
.modal-welcome .modal-header h4{font:24px/28px ralewaymedium, sans-serif;margin:0 0 10px;}
/*.modal-welcome .modal-header .close{width:33px;height:33px;background:url(images/assets/icon_close.png) center center no-repeat;opacity:1;top:-16px;right:-16px;}*/
.modal-welcome .modal-body{padding:15px 35px 12px;font:15px/18px ralewaymedium, sans-serif;}
.modal-welcome .modal-footer{border:0 none;padding:0;}
.modal-welcome .social-icons{float:none;text-align:center;}
.modal-welcome .social-icons dt{font:22px/26px ralewaybold, sans-serif;color:#f3472d;margin:30px 0 0;}
.modal-welcome .social-icons dd{margin:0 10px;}
.modal-welcome .social-icons dd img{width:102px;}
.modal-welcome .btn-start{width:290px;border:0 none;font:16px/40px ralewaysemibold, sans-serif;}

@media (max-width: 767px){
	.modal-welcome{width:auto;}
    .modal-welcome .modal-header{padding:25px 25px 10px;}
    .modal-welcome .modal-header .modal-title{font:34px/38px ralewaybold, sans-serif;margin:16px 0 25px;}
    .modal-welcome .modal-header h4{font:20px/24px ralewaymedium, sans-serif;margin:0;}
    /*.modal-welcome .modal-header .close{width:62px;height:62px;background-image:url(images/assets/mobile/icon_close.png) !important;top:0;right:0;}*/
    .modal-welcome .modal-body{padding:15px 15px 12px;}
    .modal-welcome .social-icons{float:none;text-align:center;margin:0 0 13px;}
    .modal-welcome .social-icons dt{margin:15px 0 0;}
    .modal-welcome .social-icons dd{margin:0 18px;}
}

@media (max-width:530px){
    .modal-welcome .social-icons{float:none;text-align:center;margin:0 0 13px;}
    .modal-welcome .social-icons dt{margin:15px 0 0;font-size:20px;line-height:24px;}
    .modal-welcome .social-icons dd{margin:0 10px;}
    .modal-welcome .social-icons dd img{width:51px;}
    .modal-welcome .btn-start{width:100%;}
}