.package-tab{}

.package-list{}
.package-block{margin:0 0 10px;min-height:352px;overflow:hidden;border:1px solid #999;}
.package-block .package-img{height:174px;background:center center no-repeat;background-size:cover;}

.package-block .package-info{padding:10px;}
.package-info h3{font:22px/30px ralewaymedium, sans-serif;color:#333;}

.package-block .package-purchase{padding:15px 0;}
.package-purchase .package-price{font:22px/36px ralewaymedium, sans-serif;color:#333;}
.package-purchase .btn-purchase{float:right;display:inline-block;width:auto;font:20px/36px ralewaymedium, sans-serif;color:#fff;padding:0 15px;text-decoration:none;}

.package-block .package-service{font:20px/28px ralewaymedium, sans-serif;color:#333;}
.package-service a{font:18px/33px ralewaymedium, sans-serif;color:#F3472D;text-decoration:underline;}

.no-package{font:20px/24px ralewaymedium, sans-serif;color:#999;margin:0 0 15px;}
