.reviews-tab{}
.reviews-tab .section-header .votes .vote-icon{width:27px;height:26px;}
.reviews-tab .section-header .votes .yellow-star{background-image:url(images/assets/yellow_star_2.png);}
.reviews-tab .section-header .votes .gray-star{background-image:url(images/assets/gray_star_2.png);}
.reviews-tab .section-header .votes .total-review{font:20px/26px ralewaymedium, sans-serif;}
.reviews-tab .review-content{}
.review-content .btn-book{display:inline-block;width:148px;font:20px/36px ralewaymedium, sans-serif;color:#fff;padding:0 15px;text-decoration:none;}

.review-accordion{margin:0 0 10px;max-height:300px;overflow-y:auto;}
.review-accordion .ui-accordion{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.review-accordion .ui-state-default,
.review-accordion .ui-state-active{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;padding:12px 40px 12px 10px;margin:0;font:20px/24px ralewaymedium, sans-serif;color:#333;background:none transparent;border:1px solid #ccc;}
.review-accordion .ui-state-default .text-read-full{display:block;text-align:right;font:14px/18px ralewayregular, sans-serif;color:#ccc;}
.review-accordion .ui-state-default .text-read-full span{display:inline-block;width:15px;height:7px;background:url(images/assets/icon-angle-down1.png) no-repeat;}
.review-accordion .ui-accordion .ui-accordion-header .ui-accordion-header-icon{width:21px;height:12px;background:url(images/assets/icon-accordion.png) no-repeat;left:inherit;right:10px;}
.review-accordion .ui-accordion .ui-accordion-content{background:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;padding:10px;font:20px/24px ralewaymedium, sans-serif;}
.review-accordion .ui-accordion .ui-accordion-content h4{font:20px/20px ralewayextrabold, sans-serif;color:#333;margin:10px 0;}
.review-accordion .ui-accordion .ui-accordion-content h4 time{display:inline-block;}

@media (min-width:980px){
    .book-detail-page .reviews-tab .row{margin-left:-20px;margin-right:-20px;}
    .book-detail-page .reviews-tab .col-xs-1,
    .book-detail-page .reviews-tab .col-sm-1,
    .book-detail-page .reviews-tab .col-md-1,
    .book-detail-page .reviews-tab .col-lg-1,
    .book-detail-page .reviews-tab .col-xs-2,
    .book-detail-page .reviews-tab .col-sm-2,
    .book-detail-page .reviews-tab .col-md-2,
    .book-detail-page .reviews-tab .col-lg-2,
    .book-detail-page .reviews-tab .col-xs-3,
    .book-detail-page .reviews-tab .col-sm-3,
    .book-detail-page .reviews-tab .col-md-3,
    .book-detail-page .reviews-tab .col-lg-3,
    .book-detail-page .reviews-tab .col-xs-4,
    .book-detail-page .reviews-tab .col-sm-4,
    .book-detail-page .reviews-tab .col-md-4,
    .book-detail-page .reviews-tab .col-lg-4,
    .book-detail-page .reviews-tab .col-xs-5,
    .book-detail-page .reviews-tab .col-sm-5,
    .book-detail-page .reviews-tab .col-md-5,
    .book-detail-page .reviews-tab .col-lg-5,
    .book-detail-page .reviews-tab .col-xs-6,
    .book-detail-page .reviews-tab .col-sm-6,
    .book-detail-page .reviews-tab .col-md-6,
    .book-detail-page .reviews-tab .col-lg-6,
    .book-detail-page .reviews-tab .col-xs-7,
    .book-detail-page .reviews-tab .col-sm-7,
    .book-detail-page .reviews-tab .col-md-7,
    .book-detail-page .reviews-tab .col-lg-7,
    .book-detail-page .reviews-tab .col-xs-8,
    .book-detail-page .reviews-tab .col-sm-8,
    .book-detail-page .reviews-tab .col-md-8,
    .book-detail-page .reviews-tab .col-lg-8,
    .book-detail-page .reviews-tab .col-xs-9,
    .book-detail-page .reviews-tab .col-sm-9,
    .book-detail-page .reviews-tab .col-md-9,
    .book-detail-page .reviews-tab .col-lg-9,
    .book-detail-page .reviews-tab .col-xs-10,
    .book-detail-page .reviews-tab .col-sm-10,
    .book-detail-page .reviews-tab .col-md-10,
    .book-detail-page .reviews-tab .col-lg-10,
    .book-detail-page .reviews-tab .col-xs-11,
    .book-detail-page .reviews-tab .col-sm-11,
    .book-detail-page .reviews-tab .col-md-11,
    .book-detail-page .reviews-tab .col-lg-11,
    .book-detail-page .reviews-tab .col-xs-12,
    .book-detail-page .reviews-tab .col-sm-12,
    .book-detail-page .reviews-tab .col-md-12,
    .book-detail-page .reviews-tab .col-lg-12{padding-left:20px;padding-right:20px;}
}

@media (max-width: 767px){
    .reviews-tab .section-header .votes{text-align:center;}
    .reviews-tab .section-header .votes .vote-icon{float:none;display:inline-block;}
    .reviews-tab .section-header .votes .total-review{float:none;display:block;}

    .review-content .btn-book{display:block;width:130px;margin:0 auto;}

    .review-accordion .ui-state-default,
    .review-accordion .ui-state-active{padding:12px 10px;font-size:14px;line-height:18px;}
    .review-accordion .ui-accordion .ui-accordion-header .ui-accordion-header-icon{display:none;}
    .review-accordion .ui-accordion .ui-accordion-content{font-size:14px;line-height:18px;}
    .review-accordion .ui-accordion .ui-accordion-content h4{font-size:14px;line-height:18px;}
}
