
.block-details {
    width: 330px;
}

    .block-details .modal-header {
        padding-top: 12px;
    }

        .block-details .modal-header .close {
            right: -10px;
            top: -10px;
        }

    .block-details .modal-body {
        padding-left: 5px;
        padding-right: 5px;
    }

    .block-details .table-css {
        width: 100%;
        display: block;
    }

    .block-details .tr {
        display: block;
        clear: both;
    }

    .block-details .td {
        display: block;
        padding-top: 4px;
        padding-bottom: 4px;
        word-wrap: break-word;
    }

    .block-details .col-title {
        text-align: right;
        white-space: nowrap;
        width: 38%;
        float: left;
    }

    .block-details .col-info {
        text-align: left;
        float: left;
    }

    .block-details .notes-section {
        border: 1px solid #dcdcdc;
        padding: 10px 15px;
        margin: 8px 0;
        text-align: left;
        clear: both;
    }

.block-details .notes-section .scroll-content {
    height: 88px;
    overflow: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
}
.on-nicescroll .block-details .notes-section .wrap-dropdown-menu-inner{
    height: 88px;
}

.on-nicescroll .block-details .notes-section .notes-text {
    height: inherit;
}

.block-details .modal-footer {
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

    .block-details .modal-footer a,
    .block-details .modal-footer a:hover,
    .block-details .modal-footer a:focus {
        text-decoration: underline;
        color: #949494;
    }

.block-details.modal-dialog .modal-header {
    padding-top: 25px;
}

    .block-details.modal-dialog .modal-header .close {
        right: 0;
        top: 0;
    }

.block-details.modal-dialog .modal-body {
    padding: 15px 15px 0;
}

.block-details.modal-dialog .modal-footer {
    padding-bottom: 25px;
}