
.block-personal {
    text-align: left;
    width: 300px;
}

    .block-personal .modal-header {
        padding-top: 0;
        min-height: 0;
        z-index: 9;
    }

    .block-personal .modal-body {
        padding: 12px 10px;
    }

        .block-personal .modal-body p {
            margin-bottom: 15px;
            font-family: $primary;
            font-weight: 500;
            font-size: $h6;
        }

            .block-personal .modal-body p:last-child {
                margin-bottom: 0;
            }

            .block-personal .modal-body p span {
                font-family: $primary;
                font-weight: 600;
            }

    .block-personal.modal-dialog .modal-body {
        padding: 15px;
    }