.block-attendee {
    width: 257px;
}

    .block-attendee .modal-header {
        padding-top: 12px;
        text-align: left;
    }

        .block-attendee .modal-header .close {
            right: -10px;
            top: -10px;
        }

    .block-attendee .modal-body {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 12px;
    }

    .block-attendee .attendee-list {
        height: 224px;
        overflow: hidden;
        position: relative;
    }

        .block-attendee .attendee-list ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: left;
        }

    .block-attendee.modal-dialog .modal-header {
        padding-top: 25px;
        text-align: left;
    }

        .block-attendee.modal-dialog .modal-header .close {
            right: 0;
            top: 0;
        }

    .block-attendee.modal-dialog .modal-body {
        padding: 15px 15px 0;
    }