/* =============================================================================
   Calendar page
   ========================================================================== */
.calendar-page {
    position: relative;
}

.calendar-select-staff {
    position: absolute;
    top: 9px;
    left: 15px;
}

    .calendar-select-staff .bootstrap-select.open {
        z-index: 9;
    }

    .calendar-select-staff .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 184px;
    }

    .calendar-select-staff .bootstrap-select.btn-group .btn .filter-option {
        font-size: $s13;
        line-height:20px;
        font-family: $primary;
		font-weight: 700;
        color: $base;
		text-transform: none;
    }

    .calendar-select-staff .bootstrap-select .dropdown-menu.inner {
        width: 180px;
    }

	.on-nicescroll .calendar-select-staff .bootstrap-select .dropdown-menu.inner {
		overflow-y: hidden !important;
		max-height: 175px !important;
    }

    .calendar-select-staff .bootstrap-select .dropdown-menu > li > a {
        font-family: $primary;
		font-weight: 500;
        font-size: $s13;
    }

    .calendar-select-staff .bootstrap-select .dropdown-menu > li.selected {
        display: block;
    }

    .calendar-select-staff .bootstrap-select .dropdown-menu > .selected > a,
    .calendar-select-staff .bootstrap-select .dropdown-menu > .selected > a:hover,
    .calendar-select-staff .bootstrap-select .dropdown-menu > .selected > a:focus,
    .calendar-select-staff .bootstrap-select .dropdown-menu > .active.selected > a,
    .calendar-select-staff .bootstrap-select .dropdown-menu > .active.selected > a:hover,
    .calendar-select-staff .bootstrap-select .dropdown-menu > .active.selected > a:focus {
        background-color: transparent;
        color: $positive;
    }

    .calendar-select-staff .bootstrap-select .dropdown-menu > .active > a,
    .calendar-select-staff .bootstrap-select .dropdown-menu > .active > a:hover,
    .calendar-select-staff .bootstrap-select .dropdown-menu > .active > a:focus {
        background-color: #f5f5f5;
        color: #262626;
    }

	.on-nicescroll .calendar-select-staff .wrap-dropdown-menu-inner{
		max-height: 160px;
	}

.calendar-select-status {
    margin-left: -12px;
    height: 38px;
}

    .calendar-select-status .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 110px;
    }
	.calendar-select-status .bootstrap-select.btn-group .btn .caret{
		background-image: url(../images/dashboard/calendar/icon-select-blue-2.png);
		background-size: 10px auto;
	}
    .calendar-select-status .btn-default.disabled .caret {
        display: none;
    }

.calendar-schedule .btn-add{
    width: 100%;
    height: 40px;
    border: 1px solid $positive;
	font-size: $s15;
    background: $white;
    color:$positive;
	border-radius: 4px;
}

.calendar-schedule .btn-add:hover{
    color: $positive;
    background: $white;
	font-weight:700;
	border-width:2px;
	box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.11);
}

.calendar-schedule .short-title {
    display: none;
}

.calendar-header {
	background: #f5f5f5;
    text-align: center;
    position: relative;
    padding-right: 215px;
    padding-left: 215px;
}

    .calendar-header > div {
        display: inline-block;
        position: relative;
        margin: 10px 0;
        padding: 0 34px;
    }

    .calendar-header .calendar-controls {
        position: absolute;
        display: inline-block;
        width: 34px;
        height: 34px;
    }

        .calendar-header .calendar-controls .icon {
            margin-top: 11px;
        }

    .calendar-header .calendar-next {
        right: 0;
    }

    .calendar-header .calendar-pre {
        left: 0;
    }

    .calendar-header .calendar-title {
        line-height: 34px;
		font-size: $s14;
        font-family: $primary;
		font-weight: 700;
    }

    .calendar-header .btn-today {
        background: $white;
		font-size: $s13;
		font-weight: 700;
        padding: 5px 10px;
        border: 1px solid #bc347c;
        color: #bc347c;
        position: absolute;
        left: -100%;
    }

        .calendar-header .btn-today[disabled] {
            border-color: #bababa;
            color: #bababa;
        }

    .calendar-header .btn-add {
        padding-left: 20px;
        padding-right: 20px;
        width: 75px;
        position: absolute;
        top: 7px;
        right: 15px;
        display: none;
    }

        .calendar-header .btn-add:hover,
        .calendar-header .btn-add:focus {
            width: 75px;
        }

.calendar-date-detials {
    text-align: center;
    color: #bc347c;
    padding: 10px 15px;
    display: none;
}

.calendar-day-title {
    display: -webkit-flex;
    display: flex;
}

.calendar-date-title {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-left: 1px solid transparent;
}

    .calendar-date-title div {
        padding: 5px 0;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        text-align: center;
    }

        .calendar-date-title div .full-title {
            font-family: $primary;
			font-size: $s14;
			font-weight: 700;
        }

            .calendar-date-title div .full-title span {
                display: block;
                font-family: $primary;
				font-weight: 600;
            }

        .calendar-date-title div .short-title span {
            display: block;
        }

    .calendar-date-title.active div {
        background: $positive;
        border-color: $positive;
        color:$white;
		font-family: raleway, sans-serif;
		font-weight: 600;
        margin-right: -1px;
        margin-left: -1px;
    }

.calendar-days-wrap {
    display: -webkit-flex;
    display: flex;
}

.calendar-date {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-left: 1px solid #e3e3e3;
    position: relative;
}

.calendar-day {
    height: 100%;
    padding: 3px;
    position: relative;
    z-index: 3;
    /*border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    margin-left: -1px;
	margin-right: -1px;*/
}

.calendar-details {
    display: none;
}

    .calendar-details,
    .calendar-details:hover,
    .calendar-details:focus {
        font-family: $primary;
		font-weight: 600;
        color: $base;
        text-decoration: underline;
        font-size: $s13;
    }

.calendar-block {
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 3px;
    color: $base;
    position: relative;
    line-height: 130%;
}

    .calendar-block .icon-user {
        margin-bottom: -3px;
        margin-right: 5px;
    }

    .calendar-block p {
        margin: 0;
    }

        .calendar-block p.calendar-user,
        .calendar-block p.calendar-with {
            font-size: $s14;
            font-family: $primary;
			font-weight: 500;
            text-shadow: 0.5px 0 0 #797979;
            letter-spacing: 0.05em;
        }

        .calendar-block p.calendar-user {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .calendar-block p.calendar-with {
            word-wrap: break-word;
        }

        .calendar-block p.calendar-time {
            font-size: $s13;
            font-family: $primary;
			font-weight: 700;
        }

        .calendar-block p.calendar-type {
            font-size: $s13;
            font-family: $primary;
			font-weight: 600;
            word-wrap: break-word;
            letter-spacing: 0.05em;
        }

    .calendar-block .calendar-control {
        text-align: right;
    }

    .calendar-block > .calendar-details {
        position: absolute;
        bottom: 25px;
        right: 15px;
    }

    .calendar-block .bootstrap-select.btn-group .btn .filter-option {
        font-size: $s11;
        line-height:20px;
        font-family: $primary;
		font-weight: 700;
    }

    .calendar-block .bootstrap-select.btn-group.open .btn .filter-option {
        font-family: $primary;
		font-weight: 600;
    }

    .calendar-block .bootstrap-select.btn-group .dropdown-menu.inner {
        text-transform: uppercase;
        font-size: $s11;
        font-family: $primary;
		font-weight: 600;
    }

.block-confirmed {
    border-color: #9eca35;
}

.block-pending {
    border-color: #ffca2c;
}

.block-blocker {
    border-color: #737373;
}

    .block-blocker .calendar-control {
        margin-top: -5px;
    }

    .block-blocker .calendar-details {
        margin-left: 10px;
        top: -2px;
        position: relative;
    }

.block-class {
    border-color: #737373;
    padding-bottom: 0;
}

    .block-class ul {
        margin: 15px -15px 0;
        padding: 0;
        list-style: none;
        background: #f5f5f5;
    }

        .block-class ul li {
            float: left;
            width: 33.33%;
            text-align: center;
            padding: 8px 5px;
            line-height: 115%;
        }

            .block-class ul li span {
                display: block;
                font-family: $primary;
				font-weight: 700;
            }

            .block-class ul li .calendar-num-title {
                font-size: $s13;
            }

            .block-class ul li .calendar-number {
                font-size: $s14;
            }

    .block-class .calendar-attendee {
        display: block;
        text-align: center;
        padding: 5px 15px;
        margin-right: -15px;
        margin-left: -15px;
        text-decoration: none;
        color: $positive;
        font-family: $primary;
		font-weight: 400;
        font-size: $s15;
    }

.block-overwrite {
    border: 0 none;
    border-bottom: 2px solid #737373;
}

    .block-overwrite:first-child {
        border-top: 2px solid #737373;
    }

.block-cancelled {
    border-color: #ca4026 !important;
}

    .block-cancelled .bootstrap-select.btn-group .btn .filter-option {
        color: #ca4026;
    }

    .block-cancelled .bootstrap-select.btn-group .btn.disabled {
        opacity: 1;
    }

    .block-cancelled .bootstrap-select.btn-group .btn .caret {
        background-image: url(../images/dashboard/calendar/icon-select-blue-2.png);
    }

    .block-cancelled .bootstrap-select.btn-group.open .btn .filter-option {
        color: $base;
    }

    .block-cancelled .bootstrap-select.btn-group.open .btn .caret {
        /*background-image: url(../images/icon-select-blue.png);*/
    }

.calendar-block.block-past {
    border-color: #f0f0f0;
    background: #f0f0f0;
    color: #797979;
}

    .calendar-block.block-past .calendar-attendee {
        color: #797979;
    }

    .calendar-block.block-past .bootstrap-select.btn-group .btn .filter-option {
        color: $base;
    }

.block-cancelled.block-past .bootstrap-select.btn-group .btn .filter-option {
    color: #ca4026;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .calendar-block {
        padding: 5px;
    }

    .block-class ul {
        margin-left: -5px;
        margin-right: -5px;
    }
}

@media (min-width: 1024px) {
    .calendar-date.active .calendar-border {
        border-left: 2px solid $positive;
        border-right: 2px solid $positive;
        position: absolute;
        top: 0;
        right: -1px;
        left: -1px;
        bottom: 0;
        z-index: 2;
    }

    .calendar-header .calendar-title {
        width: 150px;
    }
}

@media (max-width: 1023px) {
    .calendar-select-staff {
        left: 0;
        top: 0;
        width: 100%;
    }

        .calendar-select-staff .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: 30%;
        }

        .calendar-select-staff .bootstrap-select.open:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: 100%;
            margin-right: 0;
        }

        .calendar-select-staff .bootstrap-select > .dropdown-toggle.btn-default {
            padding-top: 14px;
            padding-bottom: 14px;
        }

        .calendar-select-staff .bootstrap-select.open > .dropdown-toggle.btn-default,
        .calendar-select-staff .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
        .calendar-select-staff .bootstrap-select.open > .dropdown-toggle.btn-default:focus {
            border-color: $base $base transparent;
        }

        .calendar-select-staff .bootstrap-select.btn-group.open .bs-caret {
            display: none;
        }

        .calendar-select-staff .bootstrap-select .dropdown-menu.open {
            border-color: transparent $base $base;
        }

    .calendar-select-status .bootstrap-select.btn-group .dropdown-menu li a {
        border-top: 2px solid #737373;
    }

    .calendar-header .btn-today,
    .calendar-date,
    .calendar-date .btn-add,
    .calendar-schedule .full-title {
        display: none;
    }

    .calendar-date {
        border-left: 0 none;
    }

        .calendar-date.active,
        .calendar-details,
        .block-class ul li,
        .calendar-schedule .short-title,
        .calendar-header .btn-add {
            display: block;
        }

    .calendar-date-title div {
        border-color: transparent;
        cursor: pointer;
    }

    .calendar-date-title.active div {
        color: #bc347c;
        background: transparent;
        border-color: transparent;
    }

    .calendar-date-detials {
        display: block;
        border-bottom: 1px solid #e6e6e6;
    }

    .calendar-header {
        padding-left: 30%;
        padding-right: 30%;
    }

    .calendar-day {
        margin-left: 0;
        margin-right: 0;
    }

    .calendar-date.active .calendar-day {
        border-color: transparent;
    }

    .calendar-block p.calendar-user {
        text-decoration: underline;
        margin-right: 30px;
    }

    .block-class .calendar-attendee {
        display: inline-block;
    }

    .calendar-block.block-class > .calendar-details {
        float: right;
        position: relative;
        right: inherit;
        bottom: inherit;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .block-blocker .calendar-control .icon-delete {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
    }
}

