

.working-section .col-xs-12 {
    padding-right: 5px !important;
}

.working-section .table-css {
    width: 100%;
}

.working-section .tr:first-child .td {
    border: 0 solid transparent;
    padding-top: 0;
    height: 60px;
}

.working-section .td {
    vertical-align: middle;
    height: 82px;
    padding: 20px 0;
    border-top: 2px solid #f0f0f0;
}

.working-section .working-day {
    text-transform: uppercase;
    font-family: $primary;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}
.working-section .working-day .cb-mark ~ .cb-label{
    font-size:$h6;
}
.working-section .working-time {
    padding-right: 10px;
    /*width:210px;*/
}
    .working-section .working-time .form-control {
        font-family: $primary !important;
        font-weight: 300;
        background-image:url(../images/icon_time_grey_3.png);
        background-size:auto 16px;
    }
    .working-section .working-time .form-timepicker {
        display: none;
    }

.working-section .active .working-time .form-timepicker {
    display: block;
}
.working-section .form-timepicker.dropdown .dropdown-section > footer{
    background:$white;
}