.manage-services .kuyam-form form{
    width: 634px;
}

@media (max-width: 1199px){
    .manage-services .kuyam-form form{
        width: auto;
    }
}

@media (min-width: 1024px){
    .manage-services .kuyam-main-content{
        min-height: 612px !important;
    }
}