.site-header {
    margin: 0;
    border: 0 none;
    background: #ffffff;
    height: 58px;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, .15);
}

.site-header .logo {
    margin: 16px 0 0;
    width: 103px;
    height: 28px;
    background: url(images/icons_2016/header_logo_kuyam@2x.png) center center no-repeat;
    background-size: 103px auto;
}

.site-header .logo img{
    display: none;
}

.site-header .search-form {
    margin: 10px 25px 0px 32px;
    float: left;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
}

.site-header .search-form ::-webkit-input-placeholder {
    color: #5f5f5f;
    font-style: italic;

}

.site-header .search-form :-moz-placeholder {
    color: #5f5f5f;
    font-style: italic;
    opacity: 1;
}

.site-header .search-form ::-moz-placeholder {
    color: #5f5f5f;
    font-style: italic;
    opacity: 1;
}

.site-header .search-form :-ms-input-placeholder {
    color: #5f5f5f;
    font-style: italic;
}

.site-header .search-form fieldset {
    width: 355px;
    padding: 0 48px 0 0px;
    margin: 0px 0 0 0px;
    height: 36px;
    border-radius: 3px;
    background: url("images/icons_2016/header_icon_search.png") no-repeat 325px center;
    background-size: 16px auto;
}

.site-header .search-form fieldset .btn-search {
    background: transparent;
    width: 45px;
}

.site-header .company-info {
    width: 750px;
    float: right;
    margin: 25px 0 0;
    text-align: right;
}

.site-header .company-info h1 {
    font: 38px/46px 'Lato', sans-serif;
    font-weight: 800;
}

.site-header .company-info h1 .company-name {
    display: block;
    max-width: 590px;
    float: right;
    height: 46px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    text-decoration: none;
}

.site-header .company-info .btnLiveChat {
    display: inline-block;
    margin: 0 25px;
}

.site-header .company-info address {
    font: 22px/30px 'Lato', sans-serif;
    font-weight: 500;
}

.site-header .company-info ul {
    float: right;
    margin: 0 0 0 20px;
    font: 22px/30px 'Lato', sans-serif;
    font-weight: 500;
}

.site-header .account-user {
    float: right;
    font: 13px/32px 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin: 8px;
}

.site-header .nav-account {
    display: none;
    position: absolute;
    top: 58px;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .95);
    height: 78px;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, .15);
    border: none;
    top: 58px;
}


.site-header .username-header {
    font-weight: bold;
    display: inline-block;
}

.site-header .navbar-nav {
    margin: -28px 0 0;
}

.site-header .navbar-nav li {
    padding: 0 10px 0 20px;
}

.site-header .navbar-nav > li > a,
.site-header .navbar-nav > li > a:focus,
.site-header .navbar-nav > li > a:visited {
    color: #5f5f5f;
}

.site-header .link-account-user .icon-down {
    background-image: url("images/icons_2016/header_icon_dropdown.png");
    margin: 0 -10px -3px 0px;
    background-size: 15px auto;
}

.site-header .link-account-user.open .icon-down {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.site-header .header-icon-sign-out {
    background-image: url("images/icons_2016/header_icon_sign_out.png");
    width: 10px;
    height: 10px;
    display: inline-block;
    background-position: center 2px;
    background-repeat: no-repeat;
}

.site-header .header-icon-mini-settings {
    background-image: url("images/icons_2016/header_icon_mini_settings.png");
    width: 10px;
    height: 10px;
    display: inline-block;
    background-position: center 1px;
    background-repeat: no-repeat;
}

.site-header .have-icon {
    position: relative;
}

.site-header .link-sign-out {
    position: absolute !important;
    top: 16px;
    right: 0px;
    font-size: 10px;
}

.site-header .link-settings {
    position: absolute !important;
    top: 16px;
    left: 20px;
    font-size: 10px;
}

.site-header .badge {
    position: absolute !important;
    top: -5px;
    left: 43px;
    font-size: 11px;
    border: 1px solid #ff6060;
    text-align: center;
    width: auto;
    height: 20px;
    line-height: 18px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ff6060;
    display: block;
    padding: 0 3px
}

.site-header .navbar-toggle,
.site-header .navbar-toggle:hover{
    background: transparent;
    border: 0 none;
    -webkit-appearance: none;
}
.navbar-collapse {
    background: #2a2a2a;
}

.navbar-nav {
    margin: -10px 0 0;
}

.navbar-nav li {
    vertical-align: top;
    padding: 0 10px;
}

.navbar-nav > li > a {
    position: relative;
    display: block;
    color: #ffffff;
    font: 14px/18px 'Lato', sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    margin: 0;
    padding: 0 2px;
}

.navbar-nav > li > a:hover {
    color: #96be3d;
    background: transparent;
}

.navbar-nav > li > a:focus,
.navbar-nav > li > a:visited {
    color: #ffffff;
    background: transparent;
}

.navbar-nav li.active a {
    color: #96be3d;
}

.navbar-nav li.active span {
    display: block;
    height: 7px;
    background: #96be3d;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -21px;
}

.navbar-nav .link-account-user {

    min-width: 100px;
}

.link-account-user span {
    display: inline-block;
    width: 19px;
    height: 17px;
    background: center center no-repeat;
}

.link-account-user .icon-user {
    background-image: url("images/icons/icon_user.png");
    margin: 0 10px -3px 0;
}

.link-account-user .icon-down {
    background-image: url("images/icons/icon_dashboard_dropdown.png");
    margin: 0 -10px -3px 10px;
}


.navbar-toggle,
.navbar-toggle:hover {
    background: transparent;
    border: 0 none;
    cursor:pointer;
    margin:0;
    padding: 15px;
}
.navbar-toggle .icon-bar {
    background: #96B84E;
}
.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar .navbar-toggle:visited .icon-bar {
    background: #96B84E;
}

.collapsed .icon-bar {
    background: #ffffff;
}

.detech-devices .site-header {
    height: 50px;
}

.detech-devices .site-header .container {
    width: 100%;
}

.detech-devices .navbar-header {
    float: none;
    margin-left: -15px;
    margin-right: -15px;
}

.detech-devices .site-header .logo {
    width: 117px;
    margin: 8px 0 0 15px;
}

.detech-devices .navbar-toggle {
    display: block;
    float: right;
}

.detech-devices .navbar-collapse {
    height: 1px;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}

.detech-devices .navbar-collapse.in {
    height: auto;
    overflow-y: auto;
}

.detech-devices .collapsing {
    height: 0;
    overflow: hidden;
}

.detech-devices .navbar-nav {
    padding: 16px 0 8px;
    margin: 0;
    float: none !important;
}

.detech-devices .navbar-nav li {
    float: left;
    margin: 0 0 15px;
    padding: 0 10px;
    width: 50%;
}

.detech-devices .navbar-nav li a {
    background: #333333;
    border: 1px solid #ffffff;
    margin: 0;
    padding: 12px;
    text-align: center;
}

.detech-devices .navbar-nav li a.bg-green,
.detech-devices .navbar-nav li a.bg-green:hover {
    background: #97BC47;
    color: #ffffff;
    border: 1px solid #97BC47;
}

.detech-devices .nav-account {
    border: 0 none;
    display: block;
    left: inherit;
    position: inherit;
    right: inherit;
    top: inherit;
}

.detech-devices .nav-account dd {
    padding: 15px 0;
}

.detech-devices .link-img a {
    width: auto;
    display: block;
}

@media (min-width: 768px) and (max-width: 980px) {
    .site-header .search-form fieldset {
        background: url("images/icons_2016/header_icon_search.png") no-repeat 195px center;
        width: 220px;
        padding: 0 25px 0 0px;
        background-size: 16px auto;
    }
}

@media (max-width:979px) {
    .site-header .company-info {
        width: 550px;
    }
    .site-header .company-info h1 {
        font-size: 32px;
    }
    .site-header .company-info ul,
    .site-header .company-info address {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .kuyam-header .navbar-nav > li > a {
        padding-left: 0;
        padding-right: 0;
    }
    .kuyam-header .navbar-nav > li > a span {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        border-left: 1px solid #fff;
    }
    .kuyam-header .navbar-nav > li:first-child > a span {
        border-left-color: transparent;
    }
    .detech-devices .navbar-collapse.collapse {
        height: 1px !important;
        overflow: hidden !important;
    }
    .detech-devices .navbar-collapse.in {
        height: auto !important;
        overflow-y: auto !important;
    }
    .detech-devices .navbar-nav {
        padding-left: 15px;
        padding-right: 30px;
    }
}

@media (max-width:767px) {
    .site-header {
        min-height: 43px;
        height: 43px;
    }
    .site-header .logo {
        width: 103px;
        margin: 8px 0 0 15px;
    }
    .site-header .logo {
        margin: 7px 0 0 15px;
    }
    .navbar-collapse.in {
        border-bottom: 1px solid #979797;
    }
    .navbar-nav {
        padding: 16px 19px 8px 0;
        margin: 0 -15px;
    }
    .navbar-nav li {
        float: left;
        width: 50%;
        margin: 0 0 15px;
    }
    .navbar-nav li a {
        margin: 0 0 0 14px;
        padding: 12px;
        background: #333333;
        border: 1px solid #ffffff;
        text-align: center;
    }
    .navbar-nav li a:hover {
        background: #cccccc;
        border: 1px solid #cccccc;
    }
    .navbar-nav li a.bg-green,
    .navbar-nav li a.bg-green:hover {
        background: #97BC47;
        color: #ffffff;
        border: 1px solid #97BC47;
    }
    .nav-account {
        display: block;
        border: 0 none;
        position: inherit;
        left: inherit;
        right: inherit;
        top: inherit;
    }
    .nav-account dl {
        padding-top: 0;
    }
    .nav-account dd {
        width: 100%;
        text-align: left;
        position: relative;
    }
    .nav-account .new-items {
        left: -30%;
    }
    .nav-account .icon-down {
        display: inline-block;
        width: 34px;
        position: absolute;
        top: 15px;
        right: 15px;
        margin: 0;
    }
    .site-header .search-form {
        margin: 0px auto 0px;
        float: left;
        border: 1px solid #c6c6c6;
        border-radius: 3px;
        background-color: white;
        width: 100%;
        -moz-box-shadow: 0px 4px 10px #aaa;
        -webkit-box-shadow: 0px 4px 10px #aaa;
        box-shadow: 0px 4px 10px #aaa;
        display: none;
    }
    .site-header .search-form fieldset {
        width: 100%;
        padding: 0 40px 0 0px;
        margin: 0px 0 0 0px;
        height: 36px;
        border-radius: 3px;
        background: url("images/icons_2016/header_icon_search.png") no-repeat 375px center;
        position: relative;
        background: none;
    }
    .site-header .search-form fieldset:before {
        width: 30px;
        height: 30px;
        background: url("images/icons_2016/header_icon_search.png") no-repeat center center;
        position: absolute;
        right: 4px;
        top: 3px;
        content: '';
        cursor: none;
    }
}

@media (max-width:480px) {
    .navbar-nav > li > a {
        font-size: 12px;
    }
}
@media (max-width:374px) {
    .site-header .logo{
        width: 65px;
        background-size: 65px auto;
    }
    .navbar-toggle, .navbar-toggle:hover{
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .site-header {
        min-height: 40px;
        height: 40px;
    }
}