.site-banner {
    position: relative;
    margin-top: 122px;
    background: #333333;
    margin-top: 58px;
}

.detech-devices .site-banner {
    margin-top: 50px;
}

.site-banner .btn-banner-green {
    border: 1px solid #bef221 !important;
    border-radius: 3px !important;
    background-color: rgba(190, 242, 33, .3) !important;
}

.site-banner .btn-banner-green:hover {
    border: 1px solid #ffffff !important;
    background-color: #87B140 !important;
}

.site-banner .btn-banner-transparent {
    border: 1px solid #ffffff !important;
    border-radius: 3px !important;
    background-color: rgba(95, 95, 95, .0) !important;
}

.site-banner .btn-banner-transparent:hover {
    background-color: rgba(95, 95, 95, 1) !important;
}

.site-banner .search-form {
    margin: 0 auto;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .92);
    width: 620px;
    -moz-box-shadow: 0px 7px 16px rgba(0, 0, 0, .092);
    -webkit-box-shadow: 0px 7px 16px rgba(0, 0, 0, .092);
    box-shadow: 0px 7px 16px rgba(0, 0, 0, .092);
}
.site-banner .search-form fieldset {
    position: relative;
    width: 100%;
    padding:0;
    margin:0;
    float: none;
    height: 61px;
}
.site-banner .search-form fieldset:before {
    width: 78px;
    height: 61px;
    background: url("images/icons_2016/icon_search_banner.png") no-repeat center center;
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    cursor: none;
    background-size: 28px auto;
}
.site-banner .search-form fieldset .form-control {
    background: transparent;
    border: 0 none;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 0 25px;
    color: #5f5f5f;
    box-shadow: none;
    height: 59px;
}
.site-banner .search-form fieldset .btn-search {
    background: transparent;
    width: 45px;
    height: 59px;
    border: 0 none;
    position: absolute;
    top: 0;
    right: 0;
    font: 14px/17px 'Lato', sans-serif;
    font-weight: 500;
    color: #000;
}
.site-banner .search-form .tt-menu{
    width: calc(100% + 2px);
}
.site-banner .lineBottom {
    z-index: 8;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 152px;
}
.site-banner .lineBottom .descriptionTitle {
    text-align: center !important;
}

.site-banner .lineBottom .descriptionTitle h2 {
    text-align: center;
    font: 36px/46px 'Lato', sans-serif;
    font-weight: normal;
    margin-bottom: 18px;
    color: #FFFFFF;
}

.site-banner .lineBottom .descriptionTitle h2 span {
    color: #96be3d;
}
.site-banner .lineBottom .descriptionTitle h4 {
    text-align: center !important;
    font: 30px/40px 'Lato', sans-serif;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 15px;
}

.site-banner .lineBottom .descriptionTitle p a {
    width: 166px;
    background-color: #96BE3D;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    font: 16px/44px 'Lato', sans-serif;
    font-weight: 500;
}

.site-banner .lineBottom .descriptionTitle p .itWork {
    background: #404040;
}

.site-banner .lineBottom .descriptionTitle p a:hover {
    background: #628020;
}

@media (max-width:767px) {
    .site-banner {
        margin-top: 43px;
    }
    .site-banner .search-form{
        border-radius: 0;
        width: auto;
    }
    .site-banner .search-form fieldset{
        height: 40px;
    }
    .site-banner .search-form fieldset:before{
        width: 42px;
        height: 40px;
        background-image: url("images/icons_2016/header_icon_search.png");
        background-size: 18px auto;
    }
    .site-banner .search-form fieldset .form-control {
        font-size: 17px;
        height: 38px;
        text-align: center;
    }
    .site-banner .search-form fieldset .btn-search {
        width: 45px;
        height: 38px;
    }
    .site-banner .search-form .tt-menu{
        text-align: center;
    }
    .site-banner .lineBottom {
        bottom: 57px;
    }
    .site-banner .lineBottom .descriptionTitle h2 {
        font-size: 27px;
        line-height: 28px;
        margin-bottom: 65px;
    }
    .site-banner .lineBottom .descriptionTitle h4 {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 12px;
    }
    .site-banner .lineBottom .descriptionTitle p {
        text-align: center;
    }
}

@media (max-width: 374px){
    .site-banner {
        margin-top: 40px;
    }
    .site-banner .search-form fieldset{
        height: 33px;
    }
    .site-banner .search-form fieldset:before{
        width: 34px;
        height: 33px;
        background-image: url("images/icons_2016/header_icon_search.png");
        background-size: 14px auto;
    }
    .site-banner .search-form fieldset .form-control {
        font-size: 14px;
        padding:0 22px;
        height: 33px;
    }
    .site-banner .search-form fieldset .btn-search {
        width: 45px;
        height: 33px;
    }
    .site-banner .lineBottom {
        bottom: 48px;
    }
    .site-banner .lineBottom .descriptionTitle h2 {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 55px;
    }
    .site-banner .lineBottom .descriptionTitle h4 {
        font-size: 22px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .site-banner .lineBottom .descriptionTitle p a {
        width: 40%;
        font-size: 14px;
    }
}