/*36*/
/*32*/
/*28*/
/*24*/
/*20*/
/*16*/
/*12*/
.settings-page {
  padding: 0; }

.settings-page .nav-tabs {
  display: none; }

.settings-page .nav-tabs > li {
  width: 50%; }

.settings-page .nav-tabs > li > a {
  border-radius: 0;
  text-align: center;
  color: #ddd;
  border: 1px solid #ddd;
  margin: 0; }

.settings-page .nav-tabs > li > a:hover,
.settings-page .nav-tabs > li > a:focus {
  background: none; }

.settings-page .nav-tabs > li.active > a,
.settings-page .nav-tabs > li.active > a:hover,
.settings-page .nav-tabs > li.active > a:focus {
  background: #f3472d;
  color: #fff;
  border: 1px solid #f3472d; }

.settings-page .tab-content {
  padding: 20px 10px 0; }

.settings-page .tab-content > .tab-pane > h2 {
  margin-bottom: 20px;
  font-family: ralewaybold, sans-serif;
  color: #333; }

.settings-page .settings-content > h2 {
  margin-bottom: 20px;
  font-family: ralewaybold, sans-serif; }

.settings-page header > h2 {
  margin-bottom: 20px;
  font-family: ralewaybold, sans-serif;
  line-height: 97px; }

.settings-page .tab-pane footer {
  border-top: 2px dashed #ddd;
  padding-top: 20px; }

.settings-page .tab-pane footer > h2 {
  margin-bottom: 20px;
  font-family: ralewaybold, sans-serif;
  color: #f3472d; }

.settings-page .tab-pane footer > h3 {
  margin-bottom: 20px;
  font-family: ralewaybold, sans-serif;
  color: #000; }

.settings-page .tab-pane footer > p {
  margin-bottom: 20px; }

.settings-page .tab-pane footer > p a {
  color: #f3472d; }

.settings-page .tab-pane footer .btn-settings {
  margin-bottom: 20px; }

.settings-page .section-upload .img-upload {
  margin-bottom: 20px;
  overflow: hidden; }

.settings-page .section-upload .img-upload img {
  max-width: 100%;
  width: inherit;
  max-height: 300px;
  cursor: pointer; }

.settings-page .section-upload p {
  margin-top: 5px !important; }

.settings-page .section-upload .btn-upload {
  display: block;
  width: 150px;
  border-radius: 0;
  font-size: 20px;
  line-height: 44px;
  color: #fff;
  padding: 0;
  border-color: #f3472d; }

.btn-settings {
  display: inline-block;
  width: 150px;
  font: 20px/44px ralewaymedium, sans-serif;
  text-decoration: none !important;
  color: #fff !important;
  border: 0 none; }

.btn-settings .icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: center center no-repeat;
  margin-bottom: -3px; }

.btn-settings .icon-next {
  background-image: url(../images/assets/Icon_back_arrow_white.png);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.btn-settings .icon-back {
  background-image: url(../images/assets/Icon_back_arrow_white.png); }

.btn-settings .icon-confirm {
  background-image: url(../images/assets/icon_circle_check.png);
  width: 32px;
  height: 32px;
  margin-bottom: -8px; }

.btn-settings .icon-edit {
  background-image: url(../images/assets/icon_edit.png); }

.btn-settings .icon-add {
  background-image: url(../images/assets/icon_add.png); }

.btn-settings .icon-delete {
  background-image: url(../images/assets/icon_delete.png) !important; }

.btn-settings .icon-yes {
  background-image: url(../images/assets/btn_check.png) !important; }

.btn-settings .icon-no {
  background-image: url(../images/assets/btn_close.png) !important; }

.btn-dashboard {
  width: 250px; }

.btn-200 {
  width: 200px !important; }

.settings-page .col-left {
  float: left;
  width: 220px;
  border: 1px solid #ddd;
  border-right: 0 none; }

.settings-page .col-left ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.settings-page .col-left li {
  margin: 20px 0; }

.settings-page .col-left li a {
  display: block;
  padding: 5px 12px;
  border-left: 10px solid #fff;
  color: #333;
  font-family: ralewaymedium, sans-serif;
  text-decoration: none;
  cursor: text; }

.settings-page .col-left li.active a {
  border-left: 10px solid #f3472d;
  color: #f3472d;
  font-family: ralewaybold, sans-serif;
  cursor: pointer; }

.settings-page .col-left ul li.has_cursor a {
  cursor: pointer; }

.settings-page .col-right {
  float: left;
  border: 1px solid #ddd;
  width: 690px;
  min-height: 500px;
  padding: 15px; }

.settings-page .tab-list li {
  margin-bottom: 9px; }

.settings-page .tab-list button {
  background: #fff;
  box-shadow: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  color: #000;
  border-radius: 3px; }

.settings-page .tab-list button.active {
  background: #f3472d;
  color: #fff;
  border: 1px solid #f3472d; }

.settings-page .form-row {
  margin-bottom: 20px; }

.settings-page .form-row p {
  margin-bottom: 5px; }

.settings-page .form-row label {
  color: #999; }

.settings-page .form-row label.black-color {
  color: #000; }

.settings-page .form-row label.label-close {
  font-weight: normal;
  color: #000; }

.settings-page .form-row .error {
  font-size: 20px; }

.settings-page .btn-delete,
.settings-page .btn-popover {
  width: auto; }

.settings-page .btn-settings .icon-delete {
  margin-top: 5px; }

.settings-page .hour-to {
  line-height: 32px;
  color: #999;
  font-weight: bold; }

.settings-page .form-control {
  box-shadow: none;
  font: 20px/24px ralewaymedium, sans-serif;
  color: #000;
  border-color: #797979;
  padding: 0 12px; }

.settings-page textarea.form-control {
  height: 100px; }

.settings-page textarea.txt-l {
  max-width: 600px; }

.settings-page .txt-100 {
  width: 100%; }

.settings-page .txt-xs {
  width: 100px; }

.settings-page .txt-s {
  width: 200px;
  background: #fff; }

.settings-page .txt-m {
  width: 250px; }

.settings-page .txt-l {
  width: 600px; }

.settings-page .bootstrap-select > .btn,
.settings-page .bootstrap-select > .btn:focus,
.settings-page .bootstrap-select > .btn:active,
.settings-page .bootstrap-select > .btn:hover,
.settings-page .bootstrap-select > .btn:visited,
.settings-page .bootstrap-select.open > .btn,
.settings-page .bootstrap-select.open > .btn:focus,
.settings-page .bootstrap-select.open > .btn:active,
.settings-page .bootstrap-select.open > .btn:hover,
.settings-page .bootstrap-select.open > .btn:visited {
  min-height: 38px;
  height: 38px; }

.settings-page .select-s {
  width: 95px; }

.settings-page .select-s:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 91px; }

.settings-page .select-m {
  width: 100px; }

.settings-page .select-m:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100px; }

.settings-page .select-l {
  width: 250px; }

.settings-page .select-l:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 300px; }

.settings-page .select-100 {
  width: 100%; }

.settings-page .select-100:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%; }

.popover-confirm {
  left: inherit;
  right: 0;
  top: 20px;
  background: #f3472d;
  box-shadow: none;
  border: 0 none;
  border-radius: 0;
  width: 200px; }

.popover-confirm.bottom > .arrow {
  left: inherit;
  right: 10px;
  border-bottom-color: #f3472d; }

.popover-confirm.bottom > .arrow::after {
  border-bottom-color: #f3472d; }

.popover-confirm .popover-title {
  background: #f3472d;
  border: 0 none;
  color: #fff;
  font-size: 20px;
  padding: 8px;
  text-align: right; }

.list-hours .hour-item {
  padding-top: 15px;
  margin-top: 10px;
  border-top: 2px dashed #ddd; }

.list-hours .hour-item:first-child {
  padding-top: 0;
  margin-top: 10px;
  border-top: 0 none; }

.list-hours .hour-item > label {
  font-size: 24px;
  color: #000; }

.list-hours .hour-item > label > span {
  display: inline-block;
  width: 160px; }

.list-hours .hour-item > label a {
  color: #f3472d;
  font-size: 16px; }

.list-hours .hour-item .popover-confirm {
  top: 34px;
  right: -12px;
  width: 230px; }

.list-hours .icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: center center no-repeat;
  margin-bottom: -5px; }

.list-hours .icon-add {
  background-image: url(../images/assets/icon_add_red.png); }

.list-hours .shift {
  float: left;
  margin-left: 20px; }

.list-hours .shift:first-child,
.list-hours .shift:nth-child(odd) {
  margin-left: 0; }

.list-hours .shift > div {
  float: left;
  margin-left: 10px; }

.list-hours .shift > div:first-child {
  margin-left: 0; }

.list-hours .shift > div.delete-section {
  width: 1px; }

.list-hours .shift > div .label-style:before {
  top: 10px; }

.list-hours .shift .shift-section {
  font-size: 16px; }

.list-hours .list-label label {
  display: block;
  float: left;
  margin-left: 10px; }

.list-hours .list-label label:first-child {
  margin-left: 0; }

.list-hours .hour-item-row {
  margin-top: 10px; }

.list-hours .hour-item-row:first-child {
  margin-top: 0; }

.list-hours .label-time {
  width: 140px; }

.list-hours .label-class {
  width: 350px; }

.list-hours .label-instructor {
  width: 180px; }

.list-time-operation .hour-item > label > span {
  color: #999; }

.list-time-operation .shift {
  float: none;
  margin-left: 0;
  margin-bottom: 10px; }

.cb-style {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0; }

.cb-style ~ .label-style {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block !important;
  color: #000 !important; }

.cb-style:checked ~ .label-style:before {
  background-image: url(../images/assets/icon_checkbox.png);
  border: 0 none; }

.label-style:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 0;
  cursor: pointer;
  color: #000 !important; }

.company-profile-info {
  padding: 0 0 20px 280px; }

.company-profile-info .site-address ul {
  margin: 10px 270px 0 0; }

.company-profile-info .site-address ul li {
  margin-top: 10px; }

.company-profile-info .site-address ul li.icon-location {
  background-image: url(../images/assets/icon_location_white.png); }

.company-profile-info .site-address ul li.icon-phone {
  background-image: url(../images/assets/icon_phone_white.png); }

/*------------------------------------------------------------------*/
body {
  overflow-x: auto; }

.settings-section {
  font-size: 20px;
  line-height: 24px; }

.settings-section,
.settings-section .container {
  min-width: 960px; }

.settings-section .site-header .logo img {
  height: 70px; }

.settings-section .nav-main {
  padding-bottom: 20px; }

.settings-section .nav-main li img {
  margin-top: -20px; }

.nav-main {
  padding-bottom: 20px; }

.nav-settings .nav-main li img {
  margin-top: -20px; }

.settings-section #carousel-desktop,
.settings-section #carousel-desktop .carousel-inner > .item {
  height: 449px; }

.settings-section .company-profile-info {
  padding: 0 0 20px 280px; }

.settings-section .site-footer .powered p {
  font-weight: 400;
  font-size: 16px; }

.settings-section .site-footer p {
  text-align: left;
  font-size: 12px; }

.settings-section .site-contact .section-header h4 {
  font-size: 24px;
  line-height: 28px; }

.settings-section .modal-offerings {
  width: 760px; }

.settings-section .modal-crop {
  width: 600px; }

.settings-section .modal-terms-privacy {
  width: 700px; }

.settings-section .cb-custom {
  position: relative; }

.settings-section .cb-mark {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0; }

.settings-section .cb-mark ~ .cb-label {
  position: relative;
  padding-right: 25px;
  cursor: pointer;
  display: inline-block !important;
  font-weight: 700; }

.settings-section .cb-mark ~ .cb-label:before {
  background: none;
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  vertical-align: middle;
  position: absolute;
  border: 1px solid #ddd;
  top: 4px;
  right: 0;
  cursor: pointer; }

.settings-section .cb-mark:checked ~ .cb-label:before {
  background: url(../images/assets/Check_mark@2x.png) center center no-repeat;
  background-size: 8px auto; }

.settings-section .cb-custom.left .cb-mark ~ .cb-label {
  padding-left: 25px; }

.settings-section .cb-custom.left .cb-mark ~ .cb-label:before {
  left: 0; }

.settings-section .radio-custom {
  position: relative; }

.settings-section .radio-mark {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0; }

.settings-section .radio-mark ~ .radio-label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block !important;
  font-weight: 700; }

.settings-section .radio-mark ~ .radio-label:before {
  background: none;
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  vertical-align: middle;
  position: absolute;
  border: 4px solid #fff;
  top: 5px;
  left: 2px;
  cursor: pointer; }

.settings-section .radio-mark ~ .radio-label:after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  vertical-align: middle;
  position: absolute;
  border: 2px solid #ddd;
  top: 3px;
  left: 0;
  cursor: pointer; }

.settings-section .radio-mark:checked ~ .radio-label:before {
  background: #F3472D; }

.settings-section ul.header-image-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none; }

.settings-section ul.header-image-list li {
  position: relative; }

.settings-section ul.header-image-list li img {
  width: 100%; }

.settings-section ul.header-image-list li .close {
  float: right;
  opacity: 1;
  margin-top: 0;
  z-index: 1;
  background: url(../images/ui/modals/icon_close.png) center center no-repeat;
  background-size: 14px auto;
  color: transparent;
  width: 33px;
  height: 33px; }

.settings-section .btn-stripe {
  font-size: 16px;
  width: 150px;
  height: 33px;
  line-height: 32px; }

.settings-section .span-stripe {
  font-size: 14px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 320px), only screen and (min-device-pixel-ratio: 1.25) and (min-width: 320px), only screen and (min-resolution: 120dpi) and (min-width: 320px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .settings-section .cb-mark:checked ~ .cb-label:before {
    background-image: url(../images/assets/Check_mark@2x.png); }
  .settings-section .radio-mark:checked ~ .radio-label:before {
    background-image: url(../images/assets/Check_mark@2x.png); }
  .settings-section ul.header-image-list li .close {
    background-image: url(../images/ui/modals/icon_close@3x.png); } }

/* Begin .tags-section*/
.tags-section a,
.tags-section .span-collapse {
  color: #F3472D;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: inherit; }

.tags-section a:hover,
.tags-section .span-collapse:hover {
  text-decoration: underline; }

.tags-section .tag-list {
  border: 1px solid #ccc;
  border-radius: 4px; }

.tags-section .tag-list ul {
  margin: 0;
  padding: 5px 0;
  list-style: none; }

.tags-section .tag-list li {
  position: relative;
  padding: 5px 10px; }

.tags-section .tag-list li .close {
  opacity: 1;
  position: absolute;
  margin-top: 0;
  z-index: 1;
  top: 0;
  right: 0;
  background: url(../images/ui/modals/icon_close.png) center center no-repeat;
  background-size: 14px auto;
  color: transparent;
  width: 33px;
  height: 33px; }

.settings-page .table-css.custom-input {
  width: 600px; }

.event-edit .table-css.custom-input {
  width: 100%; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 320px), only screen and (min-device-pixel-ratio: 1.25) and (min-width: 320px), only screen and (min-resolution: 120dpi) and (min-width: 320px), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .tags-section .tag-list li .close {
    background-image: url(../images/ui/modals/icon_close@3x.png); } }

/* End .tags-section*/
.alternative-form.disable {
  position: relative; }

.alternative-form.disable:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); }

.alternative-form .row {
  margin-left: -5px;
  margin-right: -5px; }

.alternative-form div[class*="col-"] {
  padding-left: 5px;
  padding-right: 5px; }

@media (max-width: 979px) {
  .settings-page .txt-l {
    width: 100%; } }

@media (max-width: 767px) {
  .company-profile-info {
    padding-left: 0; }
  .company-profile-section .back-section {
    position: relative;
    text-align: right; }
  .company-profile-section .section-header .back-section a.link-back {
    float: left; }
  .company-profile-section .section-header .back-section a.link-details {
    float: right; } }

@media (max-width: 640px) {
  .settings-page .txt-s,
  .settings-page .txt-m,
  .settings-page .txt-l {
    width: 100%; } }
