/* =============================================================================
   HTML5 element display
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, time {
    display: block;
}

audio[controls], canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* =============================================================================
   Base
   ========================================================================== */
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height:140%;
    font-family: $primary;
    font-weight: 500;
    color: $base;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

*, *:hover, *:active, *:focus, *:visited {
    outline: 0 none !important;
    outline-offset: inherit;
    /*border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;*/
}

input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

img {
    border: 0;
}

form, fieldset, legend {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    font-weight: normal;
}

.del {
    text-decoration: line-through;
}

body.pr0 {
    padding-right: 0 !important;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}

.relative{
    position: relative;
}

.visible-1023{
    display: none;
}

@media (max-width: 1023px){
    .visible-1023{
        display: block;
    }
    .hidden-1023{
        display: none;
    }
}