form div[class*="col-"] {
    margin-bottom: 25px;
}

.form-label {
    font-size: $h5;
    font-family: $primary;
    font-weight: 300;
}

.input-currency{
    position:relative;
}
.input-currency span{
    display:block;
    top:0;
    bottom:0;
    font-weight: 300;
    padding:0 13px;
    line-height:40px;
    font-size: $s17;
    position: absolute;
    color: $placeholder;
}
.input-currency .form-control{
    background:transparent;
    padding-left:23px;
}
.input-currency .form-control-percent{
    padding-left: 26px;
}

textarea.form-control,
textarea.form-control:focus {
    height: 115px;
    resize: none;
}

.txt-required {
    color: $negative;
    font-family: $primary;
    font-weight: 700;
}

.txt-note{
    font-size: $s11;
    font-style: italic;
    padding-top: 5px;
    color:#434343;
}

.txt-error {
    color: $negative;
}

.alert-error {
    color: #ff0000;
}

.invalid-forced.ng-invalid, .input-error {
    border-color: $negative !important;
}

.txt-date {
    background-image: url(../images/dashboard/calendar/icon_calendar_blue_2.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 37px auto;
    padding-right: 37px;
}

.txt-hour {
    background-image: url(../images/icon_time_grey_2.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 30px auto;
    padding-right: 30px;
}

.or-section {
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 0;
    z-index: 3;
}
.or-text {
    background: $white;
    border: 1px solid #979797;
    border-radius: 100%;
    color: $positive;
    font-family: $third;
    font-size: $s18;
    height: 36px;
    line-height: 34px;
    margin-left: -18px;
    text-align: center;
    width: 36px;
    font-weight: 400;
}

@media (max-width: 1023px) {
    .form-label{
        font-size: $s15;
        font-weight: 400;
    }
    form div[class*="col-"] {
        margin-bottom: 16px;
    }
    .input-currency span{
        font-size: $s14;
    }
}

@media (max-width: 767px) {
    .or-section{
        right: inherit;
        left: 50%;
        bottom: -13px;
    }
    .or-text{
        margin-left: -13px;
        line-height: 24px;
        height: 26px;
        width: 26px;
        font-size: $s15;
    }
    .input-option .form-label span.visible-xs{
        display: inline-block !important;
    }
    .input-option div[class*="col-"]:first-child{
        margin-bottom: 0;
    }
    .input-option div[class*="col-"]:first-child .form-control{
        border-bottom: 0 none;
    }
}

@media (max-width: 374px) {
    .form-label{
        font-size: $s13;
    }
    form div[class*="col-"] {
        margin-bottom: 16px;
    }
    .or-section{
        bottom: -10px;
    }
    .or-text{
        margin-left: -10px;
        line-height: 18px;
        height: 20px;
        width: 20px;
        font-size: $s13;
    }
    .input-currency span{
        font-size: $s11;
        line-height: 33px;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px) {
	.txt-date {
		background-image: url(../images/dashboard/calendar/icon_calendar_blue_2@2x.png);
	}

	.txt-hour {
		background-image: url(../images/icon_time_grey_2@2x.png);
	}
}