.icon {
    display: inline-block;
    background: center center no-repeat;
}

.icon-chat {
    width: 16px;
    height: 14px;
    background-image: url(../images/footer_icon_comment.png);

}

.active .icon-chat {
    background-image: url(../images/icon_chat_active.png);
}

.icon-user {
    width: 16px;
    height: 17px;
    background-image: url(../images/dashboard/calendar/icon_user_2.png);
    background-size: 16px auto;
}

.icon-facebook {
    width: 18px;
    height: 17px;
    background-image: url(../images/footer_icon_facebook.png);

}

.icon-twitter {
    width: 20px;
    height: 17px;
    background-image: url(../images/footer_icon_twitter.png);

}

.icon-next {
    width: 7px;
    height: 12px;
    background-image: url(../images/dashboard/calendar/icon_next_blue.png);
    background-size: 7px auto;
}

.disabled .icon-next {
    background-image: url(../images/dashboard/calendar/icon_next_grey.png);
}

.icon-delete {
    width: 15px;
    height: 15px;
    background-image: url(../images/dashboard/icon_trash_grey.png);
    background-size: 15px auto;
}

.disabled .icon-delete {
    background-image: url(../images/dashboard/icon_trash_grey.png);
}

.icon-pre {
    width: 7px;
    height: 12px;
    background-image: url(../images/dashboard/calendar/icon_next_blue.png);
    background-size: 7px auto;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.disabled .icon-pre {
    background-image: url(../images/dashboard/calendar/icon_next_grey.png);
}

.icon-down {
    width: 8px;
    height: 12px;
    background-image: url(../images/icon_next_black.png);
    background-size: 7px auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.icon-up {
    width: 8px;
    height: 12px;
    background-image: url(../images/icon_next_black.png);
    background-size: 7px auto;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.icon-collapse {
    width: 12px;
    height: 7px;
    background-image: url(../images/dashboard/icon-collapse.png);
    background-size: 12px auto;
}

.icon-mark {
    width: 14px;
    height: 11px;
    background-image: url(../images/icon_mark.png);
    background-size: 14px auto;
}

.icon-calendar {
    width: 20px;
    height: 22px;
    background-image: url(../images/icon_calendar_black.png);
    background-size: 20px auto;
}

.icon-lock {
    width: 14px;
    height: 11px;
    background-image: url(../images/icon_mark.png);
    background-size: 14px auto;
}

.icon-print-white {
    width: 14px;
    height: 14px;
    background-image: url(../images/icon_print_white.png);
    background-size: 14px auto;
}

.icon-move{
    display:inline-block;
    width:20px;
    height:20px;
    background:url(../images/icon_drag_drop.png) no-repeat center center;
    background-size:contain;
}

.icon-details {
    height: 20px;
    width: 20px;
    border: 1px solid #727272;
    color: $neutral;
    line-height: 18px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    font-size: $s27;
    font-family: $primary;
    font-weight: 300;
    text-align: center;
}

.header_icon_settings{
    background: url(../images/header_icon_settings.png) center center no-repeat;
    background-size: 8px auto;
}

.header_icon_sign_out{
    background: url(../images/header_icon_sign_out.png) center center no-repeat;
    background-size: 8px auto;
}

.txt-search {
    background: url(../images/dashboard/company/icon-search@2x.png) right center no-repeat;
    background-size: 33px auto;
    padding-right: 33px;
}

.txt-cart {
    background-image: url(../images/icon_cart_black.png);
    background-repeat: no-repeat;
    background-position: 0px 4px;
    background-size: 14px auto;
    padding-left: 20px;
}

.icon-back {
    width: 6px;
    height: 13px;
    background-image: url(../images/dashboard/icon-back.png);
    background-size: 6px auto;
}

.icon-upload{
    background-image:url(../images/dashboard/mobile/icon-upload.png);
    background-size: 13px auto;
}

.icon-purchase{
    background-image:url(../images/dashboard/mobile/icon-purchase.png);
    background-size: 16px auto;
}

.icon-cart{
    background-image:url(../images/dashboard/company/icon-cart.png);
    background-size: 15px auto;
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .icon-chat {
        background-image: url(../images/footer_icon_comment@2x.png);
    }

    .active .icon-chat {
        background-image: url(../images/icon_chat_active@2x.png);
    }

    .icon-user {
        background-image: url(../images/dashboard/calendar/icon_user_2@2x.png);
    }

    .icon-facebook {
        background-image: url(../images/footer_icon_facebook@2x.png);
    }

    .icon-twitter {
        background-image: url(../images/footer_icon_twitter@2x.png);
    }

    .icon-next {
        background-image: url(../images/dashboard/calendar/icon_next_blue@2x.png);
    }

    .disabled .icon-next {
        background-image: url(../images/dashboard/calendar/icon_next_grey@2x.png);
    }

    .icon-delete {
        background-image: url(../images/dashboard/icon_trash_grey@2x.png);
    }

    .disabled .icon-delete {
        background-image: url(../images/dashboard/icon_trash_grey@2x.png);
    }

    .icon-pre {
        background-image: url(../images/dashboard/calendar/icon_next_blue@2x.png);
    }

    .disabled .icon-pre {
        background-image: url(../images/dashboard/calendar/icon_next_grey@2x.png);
    }

    .icon-down {
        background-image: url(../images/icon_next_black@2x.png);
    }

    .icon-up {
        background-image: url(../images/icon_next_black@2x.png);
    }

    .icon-collapse {
        background-image: url(../images/dashboard/icon-collapse@2x.png);
    }

    .icon-mark {
        background-image: url(../images/icon_mark@2x.png);
    }

    .icon-calendar {
        background-image: url(../images/icon_calendar_black@2x.png);
    }

    .icon-lock {
        background-image: url(../images/icon_mark@2x.png);
    }

    .icon-print-white {
        background-image: url(../images/icon_print_white@2x.png);
    }

    .icon-move{
        background-image:url(../images/icon_drag_drop@2x.png);
    }

    .dashboard_icon_profile{
        background-image: url(../images/dashboard/company/icon_profile@2x.png);
    }
    .dashboard_icon_image_gallery{
        background-image: url(../images/dashboard/company/icon_gallery@2x.png);

    }
    .dashboard_icon_payment_booking{
        background-image: url(../images/dashboard/company/icon_payment@2x.png);
    }
    .dashboard_icon_notifications{
        background-image: url(../images/dashboard/company/icon_notifications@2x.png);

    }
    .dashboard_icon_calendars{
        background-image: url(../images/dashboard/company/icon_calendars@2x.png);

    }
    .dashboard_icon_settings{
        background-image: url(../images/dashboard/company/icon_settings@2x.png);
    }

    .header_icon_sign_out{
        background-image: url(../images/header_icon_sign_out@2x.png);
    }

    .txt-search {
        background-image: url(../images/dashboard/company/icon-search@2x.png);
    }

    .txt-cart {
        background-image: url(../images/icon_cart_black@2x.png);
    }

    .icon-back {
        background-image: url(../images/dashboard/icon-back@2x.png);
    }

    .icon-upload{
        background-image:url(../images/dashboard/mobile/icon-upload@2x.png);
    }

    .icon-purchase{
        background-image:url(../images/dashboard/mobile/icon-purchase@2x.png);
    }

    .icon-cart{
        background-image:url(../images/dashboard/company/icon-cart@2x.png);
    }
}
