.iscroll-vertical .nicescroll-rails{
    width: 1px !important;
    right: 3px !important;
}
.iscroll-vertical .nicescroll-rails div{
    right: -3px !important;
}

.chosen-select .nicescroll-rails{
    width: 1px !important;
    right: 3px !important;
}
.chosen-select .nicescroll-rails div{
    right: -3px !important;
}

.on-nicescroll .wrap-dropdown-menu-inner{
    overflow: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
}
/*.on-nicescroll .book-detail-page .wrap-dropdown-menu-inner:after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:calc(100% - 10px);
    height: 80px;
    background: $rgba_white;
    pointer-events: none;
    background: -webkit-linear-gradient(transparent, $rgba_white, $white);
    background: -o-linear-gradient(transparent, $rgba_white, $white);
    background: -moz-linear-gradient(transparent, $rgba_white, $white);
    background: linear-gradient(transparent, $rgba_white, $white);
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    opacity:1;
}
.on-nicescroll .book-detail-page .wrap-dropdown-menu-inner.end:after{
    opacity:0;
}*/

.iscroll-horizontal .nicescroll-rails{
    height: 1px !important;
    bottom: 3px !important;
}
.iscroll-horizontal .nicescroll-rails div{
    top: -3px !important;
}

@media (max-width: 1023px){
    .iscroll-vertical .nicescroll-rails div{
        width: 5px !important;
        right: -2px !important;
    }
    .iscroll-horizontal .nicescroll-rails div{
        height: 5px !important;
        top:-2px !important;
    }
}
