.event-section{
    padding-top: 20px;
}
.event-section .moreItems {
    text-align: center;
    padding-bottom: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.event-section .moreItems a {
    border-width: 1px;
    border-style: solid;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0;
    text-align: center;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    height: 40px;
    width: 200px;
    border-radius: 3px;
    margin-top: 50px;
    border-color: #7a7a7a;
    color: #7a7a7a;
}
.event-section .moreItems a:hover {
    -moz-box-shadow: 0px 4px 10px #aaa;
    -webkit-box-shadow: 0px 4px 10px #aaa;
    box-shadow: 0px 4px 10px #aaa;
    font-weight: 600;
}
.event-block {
    height: 142px;
    margin-bottom: 20px;
    position: relative;
    background: #fff;
    border: 1px solid #b5b5b5;
    border-radius: 3px;
    color: #87b400;
}
.event-block:hover {
    border: 1px solid #87b400;
    -moz-box-shadow: 0px 4px 10px #aaa;
    -webkit-box-shadow: 0px 4px 10px #aaa;
    box-shadow: 0px 4px 10px #aaa;
}
.event-block .avatar {
    float: left;
    width: 147px;
    height: 140px;
    margin: 0 18px 0 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.event-block .titles {
    padding: 12px 10px 0;
}
.event-block .iName {
    margin-bottom: 2px;
    font: 18px/22px $primary;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 232px);
}
.event-block .iName a {
    text-decoration: none;
    color: #99bd25;
    font-size: 18px;
    font-weight: 700;
}
.event-block .iAddress {
    font: 16px/20px $primary;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333232;
}
.event-block .shortDes {
    display: block;
    color: #777;
    text-align: justify;
    font: 14px/18px $primary;
    font-weight: 500;
    padding: 0 10px;
    margin-bottom: 3px;
}
.event-block .sale {
    position: absolute;
    top: 15px;
    right: 10px;
    line-height: 0;
}
.event-block .mark {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    left: -15px;
    padding:0;
    background: transparent;
}
.event-block .mark img{
    width: 100%;
}
.event-block .group_link a {
    width: 65px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background: #8c8c8c;
    color: #fff;
    font: 14px/22px arial, sans-serif;
    margin-right: 5px;
}
.event-block .group_link a.bg-green {
    position: relative;
    text-decoration: none;
    padding: 0 5px;
    background: white;
    color: #99bd25;
    font-size: 12px;
    font-style: italic;
    font-weight: 900;
}
.event-block .group_link a.bg-green:before {
    right: -10px;
    top: 3px;
    content: '';
    background-image: url(images/icons_2016/icon_green_more.png);
    width: 10px;
    height: 10px;
    position: absolute;
}
.event-block .group_link a.btn-availability {
    width: auto;
}
.event-block .group_link .shortDes {
    display: inline-block;
    padding: 0;
    font: 12px $primary;
    color: #333232;
    font-weight: 900;
}
.event-block .group_link {
    line-height: 2px;
}
.event-block .group_link a {
    width: auto;
    display: inline-block;
    text-align: center;
    text-decoration: underline;
    background-color: transparent;
    color: #4589ff;
    font: 12px $primary;
    margin-right: 5px;
}

@media (min-width: 980px) {
    .event-section .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .event-section .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    .event-section .col-xs-1,
    .event-section .col-sm-1,
    .event-section .col-md-1,
    .event-section .col-lg-1,
    .event-section .col-xs-2,
    .event-section .col-sm-2,
    .event-section .col-md-2,
    .event-section .col-lg-2,
    .event-section .col-xs-3,
    .event-section .col-sm-3,
    .event-section .col-md-3,
    .event-section .col-lg-3,
    .event-section .col-xs-4,
    .event-section .col-sm-4,
    .event-section .col-md-4,
    .event-section .col-lg-4,
    .event-section .col-xs-5,
    .event-section .col-sm-5,
    .event-section .col-md-5,
    .event-section .col-lg-5,
    .event-section .col-xs-6,
    .event-section .col-sm-6,
    .event-section .col-md-6,
    .event-section .col-lg-6,
    .event-section .col-xs-7,
    .event-section .col-sm-7,
    .event-section .col-md-7,
    .event-section .col-lg-7,
    .event-section .col-xs-8,
    .event-section .col-sm-8,
    .event-section .col-md-8,
    .event-section .col-lg-8,
    .event-section .col-xs-9,
    .event-section .col-sm-9,
    .event-section .col-md-9,
    .event-section .col-lg-9,
    .event-section .col-xs-10,
    .event-section .col-sm-10,
    .event-section .col-md-10,
    .event-section .col-lg-10,
    .event-section .col-xs-11,
    .event-section .col-sm-11,
    .event-section .col-md-11,
    .event-section .col-lg-11,
    .event-section .col-xs-12,
    .event-section .col-sm-12,
    .event-section .col-md-12,
    .event-section .col-lg-12 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 767px) {
    .event-section{
        padding-top: 20px;
    }
    .event-section .section-header {
        padding: 15px 0;
        text-align: center;
    }
    .event-section .moreItems{
        padding:0 15px 15px;
    }
    .event-section .moreItems a {
        margin-top: 15px;
        border-color: #7a7a7a;
        border-radius: 3px;
        color: #7a7a7a;
        width: 200px;
    }
    .event-block {
        height: 130px;
    }
    .event-block .avatar {
        width: 140px;
        height: 128px;
        overflow: hidden;
        margin: 0 14px 0 0;
    }
    .event-block .iName {
        font-size: 14px;
        line-height: 18px;
        width: calc(100% - 225px);
    }
    .event-block .iName a {
        color: #99bd25;
        font-size: 16px;
        font-weight: 700;
    }
    .event-block .iAddress {
        line-height: 18px;
        color: #333232;
        font-size: 14px;
    }
    .event-block .group_link {
        padding: 0 0.5% 10px;
    }
}

@media (max-width: 479px) {
    .event-block {
        height: 100px;
    }
    .event-block .avatar {
        width: 104px;
        height: 98px;
        overflow: hidden;
        margin: 0 12px 0 0;
    }
    .event-block .titles {
        padding: 6px 10px 0;
    }
    .event-block .iName{
        width: calc(100% - 180px);
    }
    .event-block .iName a {
        color: #99bd25;
        font-size: 13px;
        font-weight: 700;
    }
    .event-block .sale {
        position: absolute;
        top: 8px;
        right: 10px;
    }
    .event-block .shortDes {
        display: block;
        color: #777;
        text-align: justify;
        font: 11px $primary;
        font-weight: 500;
        padding: 0;
        margin-bottom: 3px;
    }
    .event-block .iAddress {
        color: #333232;
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 0px;
    }
    .event-block .group_link a.bg-green {
        background: white;
        color: #99bd25;
        font-size: 10px;
        font-style: italic;
        font-weight: 700;
        padding:0;
        margin: 0;
    }
    .event-block .group_link a {
        font: 11px $primary;
    }
}

@media (max-width:380px) {
    .event-block {
        height: 142px;
    }
    .event-block .shortDes {
        clear: both;
    }
    .event-block > .shortDes{
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .event-block .group_link{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }
    .event-block .group_link .shortDes{
        padding-left: 0 !important;
    }
}