#slide_feature.rslides li {
    height: 406px;
    background: no-repeat center center;
    background-size: cover;
    margin: 0;
}
.rslides_tabs {
    display: none;
    left: 10px;
    text-align: center;
}

.rslides_tabs li a {
    height: 8px;
    width: 30px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #dddddd;
}

.rslides_tabs li.rslides_here a {
    background: #96be3d;
}

@media (max-width: 767px){
    #slide_feature.rslides li {
        height: 282px;
    }
}

@media (max-width: 374px){
    #slide_feature.rslides li.banner-pilates {
        background-size: 150% 100%;
    }
    #slide_feature.rslides li{
        height: 240px;
    }
}