<!-- #billModal -->
<div id="billDonationModal" class="modal fade" role="dialog" aria-labelledby="billModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-bill">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="billModalLabel" class="modal-title">Confirm your spot</h4>
                <p>Amy's Hair Salon special offer event!Amy's Hair SaSaSaSaSaSSaSaSaaAmy's Hair Salon special offer</p>
            </div>
            <div class="modal-body">
                <section class="info">
                    <label class="label-form">Contact info</label>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <label for="txtFirstName" class="placeholder-custom validate-border">
                                <span class="placeholder">First Name<span class="required">∗</span></span>
                                <input id="txtFirstName" type="text" class="form-control" />
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label for="txtLastName" class="placeholder-custom">
                                <span class="placeholder">Last Name<span class="required">∗</span></span>
                                <input id="txtLastName" type="text" class="form-control" />
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input id="txtCellPhone" type="text" class="form-control" placeholder="Cell Phone" />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label for="txtEmail" class="placeholder-custom">
                                <span class="placeholder">Email<span class="required">∗</span></span>
                                <input id="txtEmail" type="text" class="form-control" />
                            </label>
                        </div>
                    </div>
                </section>
                <section class="bill donation">
                    <label class="label-form">Your donation</label>
                    <div class="table-css">
                        <div class="tr">
                            <div class="td td-name"><hr /><span>Lorem ipsum dolor sit amet</span></div>
                            <div class="td td-price">$150.00</div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-positive" value="Pay with credit card" data-dismiss="modal" data-target="#reminderModal" data-toggle="modal" />
            </div>
        </div>
    </div>
</div>
<!-- /#billModal -->
