<!-- #billModal -->
<div id="billModal" class="modal fade" role="dialog" aria-labelledby="billModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-bill">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="billModalLabel" class="modal-title">Confirm your spot</h4>
            </div>
            <div class="modal-body">
                <section class="info">
                    <label class="label-form">Contact info</label>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <label for="txtFirstName" class="placeholder-custom validate">
                                <div class="placeholder">First Name<span class="required">∗</span></div>
                                <input id="txtFirstName" type="text" class="form-control" />
                                <span class="error">Invalid</span>
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label for="txtLastName" class="placeholder-custom">
                                <div class="placeholder">Last Name<span class="required">∗</span></div>
                                <input id="txtLastName" type="text" class="form-control" />
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <input id="txtCellPhone" type="text" class="form-control" placeholder="Cell Phone" />
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label for="txtEmail" class="placeholder-custom">
                                <div class="placeholder">Email<span class="required">∗</span></div>
                                <input id="txtEmail" type="text" class="form-control" />
                            </label>
                        </div>
                    </div>
                </section>
                <section class="bill">
                    <label class="label-form">Contact info</label>
                    <div class="table-css">
                        <div class="tr">
                            <div class="td td-name"><hr /><span>Adults really long ticket name oh super long ($50) x2</span></div>
                            <div class="td td-price">$100.00</div>
                        </div>
                        <div class="tr">
                            <div class="td td-name"><hr /><span>Kids tickets ($25) x3</span></div>
                            <div class="td td-price">$75.00</div>
                        </div>
                        <div class="tr">
                            <div class="td td-name"><hr /><span>Dogs tickets ($10) x1</span></div>
                            <div class="td td-price">$10.00</div>
                        </div>
                    </div>
                    <ul class="clearfix">
                        <li>Total due:</li>
                        <li>$185.00</li>
                    </ul>
                </section>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-positive" value="Pay with credit card" data-dismiss="modal" data-target="#reminderModal" data-toggle="modal" />
            </div>
        </div>
    </div>
</div>
<!-- /#billModal -->
