<!-- #billModal -->
<div id="billModal" class="modal fade" role="dialog" aria-labelledby="billModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-bill">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="billModalLabel" class="modal-title">Confirm your spot</h4>
            </div>
            <div class="modal-body">
                <section class="info">
                    <label>Contact info</label>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6"></div>
                        <div class="col-xs-12 col-sm-6"></div>
                        <div class="col-xs-12 col-sm-6"></div>
                        <div class="col-xs-12 col-sm-6"></div>
                    </div>
                </section>
                <section class="bill">
                    <label>Contact info</label>
                    <div class="table-css">
                        <div class="tr">
                            <div class="td td-name"><span>Adults really long ticket name oh super long ($50) x2<span><hr /></div>
                            <div class="td td-price">$100.00</div>
                        </div>
                        <div class="tr">
                            <div class="td td-name"><span>Kids tickets ($25) x3<span><hr /></div>
                            <div class="td td-price">$75.00</div>
                        </div>
                        <div class="tr">
                            <div class="td td-name"><span>Dogs tickets ($10) x1<span><hr /></div>
                            <div class="td td-price">$10.00</div>
                        </div>
                    </div>
                    <ul>
                        <li>Total due:</li>
                        <li>$185.00</li>
                    </ul>
                </section>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-positive" value="Pay with credit card" data-dismiss="modal" data-target="#reminderModal" data-toggle="modal" />
            </div>
        </div>
    </div>
</div>
<!-- /#billModal -->
