<!-- .modal-bullettin -->
<div class="modal fade" id="modal-bulletin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-settings modal-crop modal-bullettin">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <span class="icon-bulletin"></span>
                <h4 class="modal-title">post a message</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <legend>post an update or special information about your event. the update will show up in the right side column.</legend>
                    <input class="form-control" type="text" value="" placeholder="event update title" />
                    <div class="text-right">
                        <a title="" href="#" class="link-edit">edit</a>
                    </div>
                    <textarea class="form-control txt-bulletin" cols="" rows="" placeholder="add a 140 word maximum update about the event."></textarea>
                     <div class="text-right">
                        <input class="btn-orange btn-save" type="button" value="save" />
                    </div>
                    <div class="settings-image">
                        <p><strong>event photo gallery:</strong></p>
                        <p>upload up to 10 images to create your photo gallery.</p>
                        <div class="clearfix">
                            <div class="col-right">
                                <input type="button" value="upload image" class="btn-orange btn-upload" />
                                <p>3mb max file size</p>
                                <p><a title="" href="#">remove image</a></p>
                            </div>
                            <div class="col-left">
                                <div class="crop-section"></div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-section">
                        <input class="btn-orange btn-post" type="button" value="post" />
                    </div>
                    <footer>
                        <h3>send your bulletin messate via email too!</h3>
                        <p>send your bulletin message to all your current attendees of the event.</p>
                        <a class="btn-orange btn-settings" href="#" title="" data-target="#modal-email" data-toggle="modal">
email the message<span class="icon icon-next"></span>
</a>
                    </footer>
                </fieldset>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-bullettin -->
