<!-- .modal-confirmed -->
<div id="modal-change-services" class="modal fade" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-welcome modal-change-services">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 class="modal-title">add classes or services</h3>
                <p>in order to set special pricing for an event, you must add at least one class or service, assign an employee to the service and set available hours.</p>
            </div>
            <div class="modal-body">
                <dl class="social-icons clearfix">
                    <dt><button type="button" class="btn-orange btn-start" data-dismiss="modal">Ok, got it!</button></dt>
                </dl>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-confirmed -->
