<!-- #changePassModal -->
<div id="changePassModal" class="modal fade modal-m" role="dialog" aria-labelledby="changePassModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-change-password">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="changePassModalLabel" class="modal-title">Change password</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="placeholder-custom">
                                <div class="placeholder">New password<span class="required">&lowast;</span></div>
                                <input type="password" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="placeholder-custom">
                                <div class="placeholder">Re-enter password<span class="required">&lowast;</span></div>
                                <input type="password" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p>* Password minumum 6 characters</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-positive">change password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /#changePassModal -->
