<!-- #modal-checkout -->
<div id="modal-checkout-term" class="modal fade" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-checkout modal-checkout-term">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">cancellation and refund policy</h4>
            </div>
            <div class="modal-body">
                <div class="checkout-term-section">
                    <div id="checkout-term" class="scroller-wrapper">
                        <div class="scroll-bar">
                            <p>Last Updated: September 9, 2012</p>
                            <p><strong>cancellation policy:</strong></p>
                            <p>This User Agreement (the "Agreement") and the policies referred to herein contain the complete terms and conditions that apply to your use of the appointment services (the "Services") being offered at the URL:<a title="" href="http://www.kuyam.com">http://www.kuyam.com</a> and all affiliated web sites owned and operated solely by Kuyam (collectively, the "Website"). As used in this Agreement, "Kuyam" refers to Kuyam Companies, Inc. and any of its subsidiaries, and "User" or "you" refers to you. USE OF THE SERVICES AND THE WEBSITE CONSTITUTES KNOWING ACCEPTANCE AND ACKNOWLEDGEMENT OF THIS USER AGREEMENT, KUYAM'S PRIVACY POLICY, KUYAM'S SERVICES LISTINGS, AND KUYAM'S TERMS AND CONDITIONS.</p>
                            <p>Kuyam may modify this Agreement's terms and conditions at any time without notice. Continued use of the Services and the Kuyam Website after a change in this Agreement, a change in the Privacy Policy, a change in the Services Listings, or after implementation of anv other new policy constitues acceptance of such change or</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn-orange btn-settings"><span class="icon icon-back"></span> back</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /#modal-checkout -->
