<!-- .modal-confirm -->
<div id="modal-confirm" class="modal fade" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <header class="section-header">
                    <img alt="" src="content/images/assets/icon_check_2.png" />
                    <h2>booking confirmed!</h2>
                </header>
                <p>we'll be sending you an email with confirmation of purchase.</p>
                <div class="booking-details">
                    <h3>Amy's Hair Salon</h3>
                    <p>beauty tips with Laura<br /> Tuesday Sept, 26th at 10:00am<br /> 60min</p>
                </div>
                <!-- .ticket-calendar -->
                <div class="ticket-calendar">
                    <div class="ticket-back">
                        <h4>share this event</h4>
                    </div>
                    <ul class="link-share clearfix">
                        <li><a target="_blank" href="#" title=""><img alt="" src="content/images/assets/icons_social/Twitter_2.png" /></a></li>
                        <li><a target="_blank" href="#" title=""><img alt="" src="content/images/assets/icons_social/Facebook_2.png" /></a></li>
                        <li><a target="_blank" href="#" title=""><img alt="" src="content/images/assets/icons_social/Email_share.png" /></a></li>
                        <li><a target="_blank" href="#" title=""><img alt="" src="content/images/assets/icons_social/Share_link.png" /></a></li>
                    </ul>
                    <div class="ticket-back">
                        <h4>add to calendar</h4>
                    </div>
                    <div class="ticket-method ticket-method-calendar">
                       <a title="" href="#" class="btn-dark-green btn-method1 btn-google-calendar">Google calendar</a>
                    </div>
                    <div class="ticket-method ticket-method-calendar">
                        <a title="" href="#" class="btn-brown btn-method1 btn-apple-calendar">Apple calendar</a>
                    </div>
                    <div class="ticket-method ticket-method-calendar">
                        <a title="" href="#" class="btn-light-blue btn-method1 btn-facebook-calendar">Facebook calendar</a>
                    </div>
                    <input class="btn-orange" type="button" value="done" data-dismiss="modal" />
                </div>
                <!-- /.ticket-calendar -->

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-confirm -->
