<!-- .modal-confirmation -->
<div class="modal fade" id="modal-confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-upcomming modal-confirmation">
        <div class="modal-content">
            <div class="modal-header" style="background-image:url(content/images/assets/Dollarphotoclub_71684155.jpg);">
                <button type="button" class="close" data-dismiss="modal"></button>
                <div class="bg-black-50">
                    <h3>
                        you're confirmed for the event!
                        <strong>thank you!</strong>
                    </h3>
                </div>
            </div>
            <div class="modal-body">
                <h2>share the event</h2>
                <p>help get the word out that you are participating. please share the event with your friends and followers!</p>

                <dl class="social-icons clearfix">
                    <dd><a title="" href="https://twitter.com/beautifyla"><img alt="" src="content/images/assets/icons_social/Twitter_share_2.png"></a></dd>
                    <dd><a title="" href="https://www.facebook.com/BeautifyLA"><img alt="" src="content/images/assets/icons_social/Facebook_share_2.png"></a></dd>
                    <dd><a title="" href="#"><img alt="" src="content/images/assets/icons_social/email_share_2.png"></a></dd>
                    <dd><a title="" href="#"><img alt="" src="content/images/assets/icons_social/Share_link_2.png"></a></dd>
                </dl>

                <div class="addtocalendar addtocalendar-confirmation"></div>
            </div>
            <div class="modal-footer">
                <input class="btn-orange btn-done" type="button" value="done" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-confirmation -->
