<!-- #congratsModal -->
<div id="congratsModal" class="modal fade" role="dialog" aria-labelledby="congratsModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-congrats">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="congratsModalLabel" class="modal-title">Request confirmed</h4>
            </div>
            <div class="modal-body">
                <div class="icon icon-reminder"></div>
                <p>Congrats! Your ticket will be<br />emailed to you shortly.</p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-positive" value="Close" />
            </div>
        </div>
    </div>
</div>
<!-- /#congratsModal -->
