<!-- #cropBannerModal -->
<div id="cropBannerModal" class="modal fade" role="dialog" aria-labelledby="cropBannerModalLabel"
    data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-crop-banner">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="cropBannerModalLabel" class="modal-title">Company banner</h4>
                <!--<p>
                    <a class="change" title="" href=""><span>Change</span></a>
                    <input type="file" class="hide" />
                </p>-->
            </div>
            <div class="modal-body">
                <div id="croppieBanner" class="croppie-section">
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-negative" data-dismiss="modal" type="button">cancel</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-positive" data-dismiss="modal" type="button">save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#cropBannerModal -->
