<!-- .modal-dashboard -->
<div class="modal fade" id="modal-dashboard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-welcome modal-dashboard">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 class="modal-title">event dashboard</h3>
                <h4>in the events dashboard you can modify current and upcoming events, make bulletin posts for each event and even request new events!</h4>
            </div>
            <div class="modal-body">
                <dl class="social-icons clearfix">
                    <dd><img alt="" src="content/images/assets/image_launch.png" /></dd>
                    <dt>1 new event waiting for confirmation</dt>
                    <dt><button type="button" class="btn-orange btn-start" data-dismiss="modal">go!</button></dt>
                </dl>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-dashboard -->
