<!-- .modal-email -->
<div id="modal-email" class="modal fade" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-welcome modal-email">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 class="modal-title">confirm your email message</h3>
                <h4>if you confirm, you will be sending the bulletin message to all attendees of the event.</h4>
                <p>are you sure you want to send?</p>
                <button type="button" class="btn-orange btn-settings btn-back" data-dismiss="modal"><span class="icon icon-back"></span> back</button>
                <button type="button" class="btn-orange btn-settings btn-confirm" data-toggle="modal" data-target="#modal-sending">confirm and send</button>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-email -->
