<!-- .modal-gallery -->
<div id="modal-gallery" class="modal fade" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-gallery">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <!-- slide-feature -->
                <div class="slide-feature">
                    <div id="carousel-view" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-view" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-view" data-slide-to="1"></li>
                            <li data-target="#carousel-view" data-slide-to="2"></li>
                            <li data-target="#carousel-view" data-slide-to="3"></li>
                            <li data-target="#carousel-view" data-slide-to="4"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="carousel-title">gallery</div>
                                <div class="carousel-image" style="background-image:url(content/images/assets/slide_nails.jpg);"></div>
                                <div class="carousel-caption">
                                    This is a photo album from our last Beautify LA event!
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-title">gallery</div>
                                <div class="carousel-image" style="background-image:url(content/images/assets/slide_nails.jpg);"></div>
                                <div class="carousel-caption">
                                    This is a photo album from our last Beautify LA event!
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-title">gallery</div>
                                <div class="carousel-image" style="background-image:url(content/images/assets/slide_nails.jpg);"></div>
                                <div class="carousel-caption">
                                    This is a photo album from our last Beautify LA event!
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-title">gallery</div>
                                <div class="carousel-image" style="background-image:url(content/images/assets/slide_nails.jpg);"></div>
                                <div class="carousel-caption">
                                    This is a photo album from our last Beautify LA event!
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-title">gallery</div>
                                <div class="carousel-image" style="background-image:url(content/images/assets/slide_nails.jpg);"></div>
                                <div class="carousel-caption">
                                    This is a photo album from our last Beautify LA event!
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-view" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-view" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <!-- /slide-feature -->

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-gallery -->
