<!-- .modal-confirm -->
<div class="modal fade" id="modal-get-back" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-confirm modal-booked-yet">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <header class="section-header">
                    <img alt="" src="content/images/assets/icon_check_2.png" />
                    <h2>we'll get back to you</h2>
                </header>
                <p>thanks for providing your available times! a Beautify LA representative will check with the company for availability and book the appointment for you if possible.</p>
                <!-- .ticket-calendar -->
                <div class="ticket-calendar">
                    <div class="ticket-back">
                        <h4>share this event</h4>
                    </div>
                    <ul class="link-share clearfix">
                        <li><a target="_blank" href="#" title=""><img alt="" src="content/images/assets/icons_social/Twitter_2.png" /></a></li>
                        <li><a target="_blank" href="#" title=""><img alt="" src="content/images/assets/icons_social/Facebook_2.png" /></a></li>
                        <li><a target="_blank" href="#" title=""><img alt="" src="content/images/assets/icons_social/Email_share.png" /></a></li>
                        <li><a target="_blank" href="#" title=""><img alt="" src="content/images/assets/icons_social/Share_link.png" /></a></li>
                    </ul>

                    <input class="btn-orange" type="button" value="done" data-dismiss="modal" />
                </div>
                <!-- /.ticket-calendar -->

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-get-back -->
