<!-- .modal-hey -->
<div class="modal fade" id="modal-hey" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-geo-location">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 class="modal-title">Hey! It looks like you are in New York.</h3>
                <h4>Your area is not supported yet, but we can send you an email as soon as we reach your area.</h4>
            </div>
            <div class="modal-body">
                <fieldset class="register-form clearfix">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" value="Enter your email" onfocus="if (this.value == 'Enter your email') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Enter your email'; }" class="form-control txt_Email" />
                            <input type="button" value="Send" class="input-group-addon btn_Join" />
                        </div>
                    </div>
                </fieldset>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-hey -->
