<!-- .modal-login -->
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-form modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 class="modal-title">welcome to Beautify LA events!</h3>
                <p>if you have been approved you will be sent an email with login info. You can manage and modify your event details from your events dashboard.</p>
            </div>
            <div class="modal-body">
                <a title="" href="#" class="btn-blue btn-facebook">login with facebook</a>
                <div class="form-or">
                    <hr />
                    <span>or</span>
                </div>
                <fieldset>
                    <input class="form-control" type="text" onblur="if (this.value == '') { this.value = 'email'; }" onfocus="if (this.value == 'email') { this.value = ''; }" value="email" />
                    <input class="form-control" type="text" onblur="if (this.value == '') { this.value = 'password'; }" onfocus="if (this.value == 'password') { this.value = ''; }" value="password" />
                    <div class="text-right link-form"><a data-dismiss="modal" class="link-forgot" title="forgot password?" href="#" data-target="#modal-forgot-pass" data-toggle="modal">forgot password?</a></div>
                    <button type="button" class="btn-orange btn-form btn-login">login</button>
                </fieldset>
            </div>
            <div class="modal-footer">
                <hr />
                <div class="text-right link-form"><span>don't have an account?</span> <a data-dismiss="modal" class="link-create" title="create account now" href="#" data-target="#modal-sign-up" data-toggle="modal">create account now</a></div>
             </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-login -->
