<!-- .modal-offerings -->
<div class="modal fade" id="modal-offerings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-settings modal-offerings">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 class="modal-title">company services</h3>
            </div>
            <div class="modal-body">

                <!-- #offering-1 -->
                <fieldset id="offering-1">
                    <div class="table-css table-steps">
                        <div class="table-row">
                            <div class="table-cell col-img">
                                <img src="content/images/assets/image_step1.png" alt="">
                            </div>
                            <div class="table-cell col-text">
                                <h2>add/edit services</h2>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label>choose appointment type:</label><br />
                        <select class="selectpicker-settings select-l">
                            <option>service</option>
                            <option>class</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <label>choose class type:</label><br />
                        <select class="selectpicker-settings select-l">
                            <option>pilates</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <label>choose specific class:</label><br />
                        <select class="selectpicker-settings select-l">
                            <option>dance</option>
                        </select>
                    </div>
                    <div class="form-row clearfix">
                        <div class="offering-col">
                            <label>original price: <span class="error">*</span></label><br />
                            <input class="form-control txt-s" type="text" />
                        </div>
                        <div class="offering-col">
                            <label>service duration: <span class="error">*</span></label><br />
                            <select class="selectpicker-settings select-s">
                                <option>1 hour</option>
                            </select>
                        </div>
                        <div class="offering-col">
                            <label>max people per class: <span class="error">*</span></label><br />
                            <select class="selectpicker-settings select-s">
                                <option>10</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row clearfix">
                        <div class="offering-col">
                            <label>class start date: <span class="error">*</span></label><br />
                            <input class="form-control txt-s" type="text" />
                        </div>
                        <div class="offering-col">
                            <label>class end date: <span class="error">*</span></label><br />
                            <input class="form-control txt-s" type="text" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label>short description of service: <span class="error">*</span></label><br />
                        <textarea class="form-control" cols="" rows=""></textarea>
                    </div>
                    <div class="form-btn">
                        <button class="btn-orange btn-settings btn-200"><span class="icon icon-add"></span> add service</button>
                    </div>
                    <div class="list-header clearfix">
                        <label>your services</label>
                        <div class="offering-col relative">
                            <input id="cb-all" class="cb-style" type="checkbox">
                            <label class="label-style" for="cb-all">select all</label>
                        </div>
                        <div class="delete-section relative">

                            <a title="" href="#" class="popover-delete">delete selected</a>

                            <!-- .popover -->
                            <div class="popover bottom popover-confirm">
                                <div class="arrow"></div>
                                <h3 id="popover-bottom" class="popover-title">
                                    are you sure?
                                    <a class="btn-settings btn-popover" href="#">
                                        <span class="icon icon-yes"></span>
                                    </a>
                                    <a class="btn-settings btn-popover" href="#">
                                        <span class="icon icon-no"></span>
                                    </a>
                                </h3>
                            </div>
                            <!-- .popover -->

                        </div>
                    </div>
                    <div class="list-categories">
                        <div id="list-your-services" class="scroller-wrapper">
                            <div class="scroll-bar">
                                <div class="list">
                                    <div class="relative">
                                        <input id="cb-1" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-1">nutrition bootcamp, 2 hour, $200, 5 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-2" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-2">hot yoga, 30 min, $20, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-3" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-3">belly dance, 50 min, $80, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-4" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-4">square dance, 45 min, $35, 8 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-5" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-5">break dance, 1 hour, $55, 30 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-6" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-6">hot yoga, 30 min, $20, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-7" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-7">hot yoga, 30 min, $20, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-1" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-1">nutrition bootcamp, 2 hour, $200, 5 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-2" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-2">hot yoga, 30 min, $20, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-3" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-3">belly dance, 50 min, $80, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-4" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-4">square dance, 45 min, $35, 8 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-5" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-5">break dance, 1 hour, $55, 30 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-6" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-6">hot yoga, 30 min, $20, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-7" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-7">hot yoga, 30 min, $20, 15 people</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <button data-dismiss="modal" class="btn-orange btn-settings">close</button>
                        <button slideCurrent="offering-1" slideNext="offering-2" class="btn-orange btn-settings">next <span class="icon icon-next"></span></button>
                    </footer>
                </fieldset>
                <!-- /#offering-1 -->

                <!-- #offering-2 -->
                <fieldset id="offering-2" class="hide">
                    <div class="table-css table-steps">
                        <div class="table-row">
                            <div class="table-cell col-img">
                                <img src="content/images/assets/image_step2.png" alt="">
                            </div>
                            <div class="table-cell col-text">
                                <h2>add/edit your employees and tag their services</h2>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label>choose employee</label><br />
                        <select class="selectpicker-settings select-l">
                            <option>Joe</option>
                        </select>
                    </div>
                    <div class="form-row relative">
                        <hr />
                        <span class="span-or">or</span>
                    </div>
                    <div class="form-row">
                        <label>add employee</label><br />
                        <input class="form-control txt-l" type="text" />
                    </div>
                    <div class="list-header clearfix">
                        <label>select services that the employee offers <span class="error">*</span></label>
                        <div class="offering-col relative">
                            <input id="cb-all" class="cb-style" type="checkbox">
                            <label class="label-style" for="cb-all">select all</label>
                        </div>
                    </div>
                    <div class="list-categories">
                        <div id="list-offering-services" class="scroller-wrapper">
                            <div class="scroll-bar">
                                <div class="list">
                                    <div class="relative">
                                        <input id="cb-1" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-1">nutrition bootcamp, 2 hour, $200, 5 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-2" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-2">hot yoga, 30 min, $20, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-3" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-3">belly dance, 50 min, $80, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-4" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-4">square dance, 45 min, $35, 8 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-5" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-5">break dance, 1 hour, $55, 30 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-6" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-6">hot yoga, 30 min, $20, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-7" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-7">hot yoga, 30 min, $20, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-1" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-1">nutrition bootcamp, 2 hour, $200, 5 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-2" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-2">hot yoga, 30 min, $20, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-3" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-3">belly dance, 50 min, $80, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-4" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-4">square dance, 45 min, $35, 8 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-5" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-5">break dance, 1 hour, $55, 30 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-6" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-6">hot yoga, 30 min, $20, 15 people</label>
                                    </div>
                                    <div class="relative">
                                        <input id="cb-7" class="cb-style" type="checkbox">
                                        <label class="label-style" for="cb-7">hot yoga, 30 min, $20, 15 people</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-btn">
                        <button class="btn-orange btn-settings"><span class="icon icon-add"></span> add</button>
                    </div>
                    <footer>
                        <button slideCurrent="offering-2" slideNext="offering-1" class="btn-orange btn-settings"><span class="icon icon-back"></span> back</button>
                        <button slideCurrent="offering-2" slideNext="offering-3" class="btn-orange btn-settings btn-disable">next <span class="icon icon-next"></span></button>
                    </footer>
                </fieldset>
                <!-- /#offering-2 -->

                <!-- #offering-3 -->
                <fieldset id="offering-3" class="hide">
                    <div class="table-css table-steps">
                        <div class="table-row">
                            <div class="table-cell col-img">
                                <img src="content/images/assets/image_step3.png" alt="">
                            </div>
                            <div class="table-cell col-text">
                                <h2>list/edit hours for each employee</h2>
                            </div>
                        </div>
                    </div>

                    <!-- /#time-service -->
                    <div id="time-service" class="time-section time-service hide">
                        <div class="form-row">
                            <label>choose employee/instructor</label><br />
                            <select class="selectpicker-settings select-l">
                                <option>service</option>
                                <option>class</option>
                            </select>
                        </div>
                        <label>fill in available hours for employee/instructor</label>

                        <!-- .list-hours -->
                        <div class="list-hours">

                            <!-- .hour-item -->
                            <div class="hour-item">
                                <label><span>Monday</span> <a title="" href="#">remove</a></label>
                                <!-- .hour-item-sub -->
                                <div class="hour-item-sub clearfix">

                                    <!-- .list-label -->
                                    <div class="list-label clearfix">
                                        <div class="shift">
                                            <label class="label-time"><span class="shift-section">shift 1</span><br /> start time<span class="error">*</span></label>
                                            <label class="label-time"><span class="shift-section">shift 1</span><br /> end time<span class="error">*</span></label>
                                        </div>
                                        <div class="shift">
                                            <label class="label-time"><span class="shift-section">shift 2</span><br /> start time</label>
                                            <label class="label-time"><span class="shift-section">shift 2</span><br /> end time</label>
                                        </div>
                                    </div>
                                    <!-- /.list-label -->

                                    <!-- .hour-item-row -->
                                    <div class="hour-item-row clearfix">
                                        <div class="shift">
                                            <div>
                                                <select class="selectpicker-settings select-xs">
                                                    <option>9:30am</option>
                                                </select>
                                            </div>
                                            <div>
                                                <select class="selectpicker-settings select-xs">
                                                    <option>9:30am</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="shift">
                                            <div>
                                                <select class="selectpicker-settings select-xs">
                                                    <option>9:30am</option>
                                                </select>
                                            </div>
                                            <div>
                                                <select class="selectpicker-settings select-xs">
                                                    <option>9:30am</option>
                                                </select>
                                            </div>
                                            <div class="relative">
                                                <a class="btn-settings btn-delete popover-delete" href="#" title="">
                                                <span class="icon icon-delete"></span>
                                                </a>
                                                <div class="popover bottom popover-confirm">
                                                    <div class="arrow"></div>
                                                    <h3 id="popover-bottom" class="popover-title">
                                                        delete this item?
                                                        <a class="btn-settings btn-popover" href="#">
                                                        <span class="icon icon-yes"></span>
                                                        </a>
                                                        <a class="btn-settings btn-popover" href="#">
                                                        <span class="icon icon-no"></span>
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .hour-item-row -->

                                    <!-- .hour-item-row -->
                                    <div class="hour-item-row clearfix">
                                        <div class="shift">
                                            <div>
                                                <select class="selectpicker-settings select-xs">
                                                    <option>9:30am</option>
                                                </select>
                                            </div>
                                            <div>
                                                <select class="selectpicker-settings select-xs">
                                                    <option>9:30am</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="shift">
                                            <div>
                                                <select class="selectpicker-settings select-xs">
                                                    <option>9:30am</option>
                                                </select>
                                            </div>
                                            <div>
                                                <select class="selectpicker-settings select-xs">
                                                    <option>9:30am</option>
                                                </select>
                                            </div>
                                            <div class="relative">
                                                <a class="btn-settings btn-delete popover-delete" href="#" title="">
                                                <span class="icon icon-delete"></span>
                                                </a>
                                                <div class="popover bottom popover-confirm">
                                                    <div class="arrow"></div>
                                                    <h3 id="popover-bottom" class="popover-title">
                                                        delete this item?
                                                        <a class="btn-settings btn-popover" href="#">
                                                        <span class="icon icon-yes"></span>
                                                        </a>
                                                        <a class="btn-settings btn-popover" href="#">
                                                        <span class="icon icon-no"></span>
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .hour-item-row -->

                                </div>
                                <!-- /.hour-item-sub -->

                            </div>
                            <!-- /.hour-item -->

                            <!-- .hour-item -->
                            <div class="hour-item">
                                <label><span>Tuesday</span> <a title="" href="#"><span class="icon icon-add"></span> add hours</a></label>
                            </div>
                            <!-- /.hour-item -->

                            <!-- .hour-item -->
                            <div class="hour-item">
                                <label><span>Wednesday</span> <a title="" href="#"><span class="icon icon-add"></span> add hours</a></label>
                            </div>
                            <!-- /.hour-item -->

                            <!-- .hour-item -->
                            <div class="hour-item">
                                <label><span>Thursday</span> <a title="" href="#"><span class="icon icon-add"></span> add hours</a></label>
                            </div>
                            <!-- /.hour-item -->

                            <!-- .hour-item -->
                            <div class="hour-item">
                                <label><span>Friday</span> <a title="" href="#"><span class="icon icon-add"></span> add hours</a></label>
                            </div>
                            <!-- /.hour-item -->

                            <!-- .hour-item -->
                            <div class="hour-item">
                                <label><span>Saturday</span> <a title="" href="#"><span class="icon icon-add"></span> add hours</a></label>
                            </div>
                            <!-- /.hour-item -->

                            <!-- .hour-item -->
                            <div class="hour-item">
                                <label><span>Sunday</span> <a title="" href="#"><span class="icon icon-add"></span> add hours</a></label>
                            </div>
                            <!-- /.hour-item -->

                        </div>
                        <!-- /.list-hours -->

                        <footer>
                            <button slideCurrent="offering-3" slideNext="offering-2" class="btn-orange btn-settings"><span class="icon icon-back"></span> back</button>
                            <button class="btn-orange btn-settings">done</button>
                        </footer>
                    </div>
                    <!-- /#time-service -->

                    <!-- #time-class -->
                    <div id="time-class"  class="time-section time-class">
                        <div class="form-row">
                            <label>select the days you offer classes and fill in the details</label><br />
                            <!-- .list-hours -->
                            <div class="list-hours">

                                <!-- .hour-item -->
                                <div class="hour-item">
                                    <label><span>Monday</span></label>
                                    <div class="list-label clearfix">
                                        <label class="label-time">start time<span class="error">*</span></label>
                                        <label class="label-class">choose class<span class="error">*</span></label>
                                        <label class="label-instructor">choose instructor<span class="error">*</span></label>
                                    </div>
                                    <!-- .hour-item-sub -->
                                    <div class="hour-item-sub clearfix">
                                        <div class="shift">
                                            <div>
                                                <select class="selectpicker-settings select-xs">
                                                    <option>9:30am</option>
                                                </select>
                                            </div>
                                            <div>
                                                <select class="selectpicker-settings select-xl">
                                                    <option>hot yoga 1 hour, $10, 25 people</option>
                                                </select>
                                            </div>
                                            <div>
                                                <select class="selectpicker-settings select-s">
                                                    <option>joe</option>
                                                </select>
                                            </div>
                                            <div class="relative delete-section">
                                                <a title="" href="#" class="btn-settings btn-delete popover-delete"><span class="icon icon-delete"></span></a>

                                                <!-- .popover -->
                                                <div class="popover bottom popover-confirm">
                                                    <div class="arrow"></div>
                                                    <h3 id="popover-bottom" class="popover-title">
                                                        delete this item?
                                                        <a class="btn-settings btn-popover" href="#">
                                                            <span class="icon icon-yes"></span>
                                                        </a>
                                                        <a class="btn-settings btn-popover" href="#">
                                                            <span class="icon icon-no"></span>
                                                        </a>
                                                    </h3>
                                                </div>
                                                <!-- .popover -->

                                            </div>
                                        </div>
                                        <div class="shift">
                                            <div>
                                                <select class="selectpicker-settings select-xs">
                                                    <option>9:30am</option>
                                                </select>
                                            </div>
                                            <div>
                                                <select class="selectpicker-settings select-xl">
                                                    <option>hot yoga 1 hour, $10, 25 people</option>
                                                </select>
                                            </div>
                                            <div>
                                                <select class="selectpicker-settings select-s">
                                                    <option>joe</option>
                                                </select>
                                            </div>
                                            <div class="relative delete-section">
                                                <a title="" href="#" class="btn-settings btn-delete popover-delete"><span class="icon icon-delete"></span></a>

                                                <!-- .popover -->
                                                <div class="popover bottom popover-confirm">
                                                    <div class="arrow"></div>
                                                    <h3 id="popover-bottom" class="popover-title">
                                                        delete this item?
                                                        <a class="btn-settings btn-popover" href="#">
                                                            <span class="icon icon-yes"></span>
                                                        </a>
                                                        <a class="btn-settings btn-popover" href="#">
                                                            <span class="icon icon-no"></span>
                                                        </a>
                                                    </h3>
                                                </div>
                                                <!-- .popover -->

                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.hour-item-sub -->

                                    <label><a title="" href="#"><span class="icon icon-add"></span> add addtional class</a></label>

                                </div>
                                <!-- /.hour-item -->

                                <!-- .hour-item -->
                                <div class="hour-item">
                                    <label><span>Tuesday</span> <a title="" href="#"><span class="icon icon-add"></span> add class</a></label>
                                </div>
                                <!-- /.hour-item -->

                                <!-- .hour-item -->
                                <div class="hour-item">
                                    <label><span>Wednesday</span> <a title="" href="#"><span class="icon icon-add"></span> add class</a></label>
                                </div>
                                <!-- /.hour-item -->

                                <!-- .hour-item -->
                                <div class="hour-item">
                                    <label><span>Thursday</span> <a title="" href="#"><span class="icon icon-add"></span> add class</a></label>
                                </div>
                                <!-- /.hour-item -->

                                <!-- .hour-item -->
                                <div class="hour-item">
                                    <label><span>Friday</span> <a title="" href="#"><span class="icon icon-add"></span> add class</a></label>
                                </div>
                                <!-- /.hour-item -->

                                <!-- .hour-item -->
                                <div class="hour-item">
                                    <label><span>Saturday</span> <a title="" href="#"><span class="icon icon-add"></span> add class</a></label>
                                </div>
                                <!-- /.hour-item -->

                                <!-- .hour-item -->
                                <div class="hour-item">
                                    <label><span>Sunday</span> <a title="" href="#"><span class="icon icon-add"></span> add class</a></label>
                                </div>
                                <!-- /.hour-item -->

                            </div>
                            <!-- /.list-hours -->
                        </div>
                        <footer>
                            <button slideCurrent="offering-3" slideNext="offering-2" class="btn-orange btn-settings"><span class="icon icon-back"></span> back</button>
                            <button class="btn-orange btn-settings">done</button>
                        </footer>
                    </div>
                    <!--/ #time-class -->

                </fieldset>
                <!-- /#offering-3 -->

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-offerings -->
