<!-- #service-package -->
<div id="modal-package" class="modal fade" role="dialog" aria-labelledby="packageModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-details modal-package">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="packageModalLabel" class="modal-title">package details</h4>
            </div>
            <div class="modal-body">
                <h3>5 massage pack</h3>
                <p>
                    $18/massage
                    <br />
                    expires 1 year after purchase
                </p>
                <h4>applies to following services:</h4>
                <p>
                    hot stone massage
                    <br />
                    deep tissue massage
                    <br />
                    swedish massage therapy
                    <br />
                    aromatherapy massage
                </p>
            </div>
            <div class="modal-footer clearfix">
                <div class="package-price"><span>$75</span></div>
                <button type="button" class="btn-orange btn-purchase">purchase</button>
             </div>
        </div>
    </div>
</div>
<!-- /#service-package -->
