<!-- #reminderModal -->
<div id="reminderModal" class="modal fade" role="dialog" aria-labelledby="reminderModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-reminder">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="reminderModalLabel" class="modal-title">checkout</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<!-- /#reminderModal -->
