<!-- #scheduleModal -->
<div id="scheduleModal" class="modal fade" role="dialog" aria-labelledby="scheduleModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-reminder">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="scheduleModalLabel" class="modal-title">Full schedule</h4>
            </div>
            <div class="modal-body">
                <header>
                    <div class="table-css">
                        <div class="tr">
                            <div class="th">Date</div>
                            <div class="th">From</div>
                            <div class="th">To</div>
                        </div>
                    </div>
                </header>
                <section>
                    <div class="table-css">
                        <div class="tr">
                            <div class="td">Wednesday, February 3rd</div>
                            <div class="td">10:00am</div>
                            <div class="td">11:00am</div>
                        </div>
                        <div class="tr">
                            <div class="td">Thursday, February 4th</div>
                            <div class="td">10:00am</div>
                            <div class="td">11:00am</div>
                        </div>
                        <div class="tr">
                            <div class="td">Friday, February 5th</div>
                            <div class="td">10:00am</div>
                            <div class="td">11:00am</div>
                        </div>
                        <div class="tr">
                            <div class="td">Saturday, February 6th</div>
                            <div class="td">10:00am</div>
                            <div class="td">11:00am</div>
                        </div>
                        <div class="tr">
                            <div class="td">Sunday, February 7th</div>
                            <div class="td">10:00am</div>
                            <div class="td">11:00am</div>
                        </div>
                        <div class="tr">
                            <div class="td">Monday, February 8th</div>
                            <div class="td">10:00am</div>
                            <div class="td">11:00am</div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<!-- /#scheduleModal -->
