<!-- #scheduleModal -->
<div id="scheduleModal" class="modal fade" role="dialog" aria-labelledby="scheduleModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-schedule">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="scheduleModalLabel" class="modal-title">Full schedule</h4>
            </div>
            <div class="modal-body">
                <header>
                    <div class="table-css">
                        <div class="tr">
                            <div class="th td-date">Date</div>
                            <div class="th td-from"><span>From</span></div>
                            <div class="th td-to"><span>To</span></div>
                        </div>
                    </div>
                </header>
                <section id="scheduleList">
                    <div class="scroll-content">
                        <div class="table-css">
                            <div class="tr">
                                <div class="td td-date">Wednesday, February 3rd</div>
                                <div class="td td-from"><span>9:00am</span></div>
                                <div class="td td-to"><span>1:00pm</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Thursday, February 4th</div>
                                <div class="td td-from"><span>12:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Friday, February 5th</div>
                                <div class="td td-from"><span>10:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Saturday, February 6th</div>
                                <div class="td td-from"><span>10:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Sunday, February 7th</div>
                                <div class="td td-from"><span>10:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Monday, February 8th</div>
                                <div class="td td-from"><span>10:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Wednesday, February 3rd</div>
                                <div class="td td-from"><span>9:00am</span></div>
                                <div class="td td-to"><span>1:00pm</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Thursday, February 4th</div>
                                <div class="td td-from"><span>12:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Friday, February 5th</div>
                                <div class="td td-from"><span>10:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Saturday, February 6th</div>
                                <div class="td td-from"><span>10:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Sunday, February 7th</div>
                                <div class="td td-from"><span>10:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Monday, February 8th</div>
                                <div class="td td-from"><span>10:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Wednesday, February 3rd</div>
                                <div class="td td-from"><span>9:00am</span></div>
                                <div class="td td-to"><span>1:00pm</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Thursday, February 4th</div>
                                <div class="td td-from"><span>12:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Friday, February 5th</div>
                                <div class="td td-from"><span>10:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Saturday, February 6th</div>
                                <div class="td td-from"><span>10:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Sunday, February 7th</div>
                                <div class="td td-from"><span>10:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                            <div class="tr">
                                <div class="td td-date">Monday, February 8th</div>
                                <div class="td td-from"><span>10:00am</span></div>
                                <div class="td td-to"><span>11:00am</span></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- /#scheduleModal -->
