<!-- .modal-sending -->
<div id="modal-sending" class="modal fade" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-welcome modal-email modal-sending">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 class="modal-title">your message is sending!</h3>
                <h4>we're in the process of emailing all your<br class="visible-sm" /> current attendees of the event.</h4>
                <button type="button" class="btn-orange btn-settings btn-done" data-dismiss="modal"> done</button>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-sending -->
