<!-- .modal-sign-up -->
<div class="modal fade" id="modal-sign-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-form modal-sign-up">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 class="modal-title">join beautify free!</h3>
                <h4>book appointments at home or<br /> on the go!</h4>
            </div>
            <div class="modal-body">
                <a title="" href="javascript:void(0);" class="btn-blue btn-facebook">sign up with facebook</a>
                <div class="form-or">
                    <hr />
                    <span>or</span>
                </div>
                <fieldset>
                    <input class="form-control" type="text" onblur="if (this.value == '') { this.value = 'first name'; }" onfocus="if (this.value == 'first name') { this.value = ''; }" value="first name" />
                    <input class="form-control" type="text" onblur="if (this.value == '') { this.value = 'last name'; }" onfocus="if (this.value == 'last name') { this.value = ''; }" value="last name" />
                    <input class="form-control" type="text" onblur="if (this.value == '') { this.value = 'email'; }" onfocus="if (this.value == 'email') { this.value = ''; }" value="email" />
                    <input class="form-control" type="text" onblur="if (this.value == '') { this.value = 'password'; }" onfocus="if (this.value == 'password') { this.value = ''; }" value="password" />
                    <button type="button" class="btn-orange btn-form btn-sign-up">sign up</button>
                </fieldset>
            </div>
            <div class="modal-footer">
                <hr />
                <div class="text-right link-form">already have an account? <a data-dismiss="modal" class="link-login" title="login" href="javascript:void(0);" data-target="#modal-login" data-toggle="modal">login</a></div>
             </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-sign-up -->
