<!-- #modal-social -->
<div id="modal-social" class="modal fade" role="dialog" aria-labelledby="socialsModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-social">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 id="socialsModalLabel" class="modal-title">Add / Edit your social media links</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li class="li-facebook active">
                        <label for="txtFacebook" class="input-custom input-url">
                            <div class="box">
                                <div class="text">https://www.facebook.com/</div>
                                <div id="txtFacebook" class="editable" contenteditable="true">pijons</div>
                            </div>
                            <span class="error">This URL is already taken</span>
                        </label>
                    </li>
                    <li class="li-twitter">
                        <label for="txtTwitter" class="input-custom input-url">
                            <div class="box">
                                <div class="text">https://www.twitter.com/</div>
                                <div id="txtTwitter" class="editable" contenteditable="true">pijons</div>
                            </div>
                            <span class="error">This URL is already taken</span>
                        </label>
                    </li>
                    <li class="li-linkedin">
                        <label for="txtLinkedin" class="input-custom input-url">
                            <div class="box">
                                <div class="text">https://www.linkedin.com/</div>
                                <div id="txtLinkedin" class="editable" contenteditable="true">pijons</div>
                            </div>
                            <span class="error">This URL is already taken</span>
                        </label>
                    </li>
                    <li class="li-instagram">
                        <label for="txtInstagram" class="input-custom input-url">
                            <div class="box">
                                <div class="text">https://www.instagram.com/</div>
                                <div id="txtInstagram" class="editable" contenteditable="true">pijons</div>
                            </div>
                            <span class="error">This URL is already taken</span>
                        </label>
                    </li>
                    <li class="li-pinterest">
                        <label for="txtPinterest" class="input-custom input-url">
                            <div class="box">
                                <div class="text">https://www.pinterest.com/</div>
                                <div id="txtPinterest" class="editable" contenteditable="true">pijons</div>
                            </div>
                            <span class="error">This URL is already taken</span>
                        </label>
                    </li>
                    <li class="li-google-plus">
                        <label for="txtGooglePlus" class="input-custom input-url">
                            <div class="box">
                                <div class="text">https://plus.google.com/</div>
                                <div id="txtGooglePlus" class="editable" contenteditable="true">pijons</div>
                            </div>
                            <span class="error">This URL is already taken</span>
                        </label>
                    </li>
                </ul>
                <input type="button" value="save" class="btn btn-positive" />
            </div>
        </div>
    </div>
</div>
<!-- /#modal-social -->
