<!-- #modal-sold-out -->
<div id="modal-sold-out" class="modal fade" role="dialog" aria-labelledby="soldOutModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-rsvp modal-sold-out">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <!-- .timer-form -->
                <div id="timer-form1" class="timer-form">
                    <header class="section-header timer-form-header">
                        <h3>Sold out</h3>
                        <p>Looks like someone else got the last spot. Join our mailing list to get updates about more upcoming events!</p>
                    </header>
                    <fieldset>
                        <div class="clearfix">
                            <div class="col-timer col-first-name">
                                <label for="txtFirstName1">
                                    first name: <span class="alert-error">*</span>
                                </label>
                                <input id="txtFirstName1" class="form-control" type="text">
                            </div>
                            <div class="col-timer col-last-name">
                                <label for="txtLastName1">
                                    first name: <span class="alert-error">*</span>
                                </label>
                                <input id="txtLastName1" class="form-control" type="text">
                            </div>
                        </div>
                        <header class="section-header timer-guest">
                            <div class="col-timer col-email">
                                <label for="txtEmail1">email:</label>
                                <input id="txtEmail1" class="form-control" type="text" />
                            </div>
                        </header>

                        <div class="btn-controls">
                            <input slideCurrent="timer-form1" slideNext="timer-form2" class="btn-orange btn-timer" type="button" value="done" />
                        </div>
                        <div class="timer-error alert-error">
                            <p>please enter required information before proceeding</p>
                        </div>
                    </fieldset>
                </div>
                <!-- /.timer-form -->

            </div>
        </div>
    </div>
</div>
<!-- /#modal-sold-out -->
