<!-- .modal-thanks -->
<div class="modal fade" id="modal-thanks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-ticket modal-thanks">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">your order has been recieved!<br /><span>thank you!</span></h4>
            </div>
            <div class="modal-body">

                <!-- .checkout-title -->
                <div class="ticket-title">
                    <h3>your've succesfully purchased tickets to:</h3>
                    <p>
                        Beautify LA: Montana Ave<br />
                        Thurs, Oct. 2nd<br />
                        Montana Ave 1401-1355<br />
                        3 tickets purchased
                    </p>
                </div>
                <!-- /.checkout-title -->

                <!-- .checkout-info -->
                <div class="ticket-info">
                    <div class="checkout-row">
                        <h4>your tickets have been sent to...</h4>
                        <p>kourosh@kuyam.com</p>
                    </div>
                </div>
                <!-- /.checkout-info -->

                <div class="row">
                    <div class="col-xs-12 col-sm-offset-2 col-sm-8">

                        <!-- .ticket-calendar -->
                        <div class="ticket-calendar">
                            <div class="ticket-back">
                                add this appointment to my...
                            </div>
                            <div class="ticket-method ticket-method-calendar">
                               <input class="btn-dark-green btn-method btn-google-calendar" type="button" value="google calendar" />
                            </div>
                            <div class="ticket-method ticket-method-calendar">
                                <input class="btn-brown btn-method btn-apple-calendar" type="button" value="apple calendar" />
                            </div>
                            <div class="ticket-method ticket-method-calendar">
                                <input class="btn-light-blue btn-method btn-facebook-calendar" type="button" value="facebook calendar" />
                            </div>
                            <div class="ticket-back">
                                share this event to my...
                            </div>
                            <ul class="link-share clearfix">
                                <li><a target="_blank" href="#" title="Twitter"><img alt="" src="content/images/assets/icons_social/Twitter_2.png" /></a></li>
                                <li><a target="_blank" href="#" title="Facebook"><img alt="" src="content/images/assets/icons_social/Facebook_2.png" /></a></li>
                                <li><a target="_blank" href="#" title="Google Plus"><img alt="" src="content/images/assets/icons_social/Google_Plus_2.png" /></a></li>
                                <li><a target="_blank" href="#" title="Email"><img alt="" src="content/images/assets/icons_social/Github_Shape_2.png" /></a></li>
                            </ul>
                            <div class="ticket-back">
                                <a class="link-back" title="" href="javascript:void(0);">back to event page</a>
                            </div>
                        </div>
                        <!-- /.ticket-calendar -->

                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-thanks -->
