<!-- .modal-upcomming -->
<div id="modal-upcomming" class="modal fade" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-upcomming">
        <div class="modal-content">
            <div class="modal-header" style="background-image:url(content/images/assets/Dollarphotoclub_71684155.jpg);">
                <button type="button" class="close" data-dismiss="modal"></button>
                <div class="bg-black-50">
                    <h3>
                        be a part of the next big event!
                        <strong>starts April 30th</strong>
                    </h3>
                </div>
            </div>
            <div class="modal-body">
                <h2>here are your offers from the last event</h2>
                <p>take a look at the offers from your last event. you can confirm your participation, or customize you offering. at this time there's no cost for participation.</p>
                <div class="offers-list">
                    <div class="table-css">
                        <div class="table-row">
                            <div class="table-cell col-num">
                                <span>1</span>
                            </div>
                            <div class="table-cell">
                                shampoo with blowout 50% off - $15
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell col-num">
                                <span>2</span>
                            </div>
                            <div class="table-cell">
                                manicure/pedicure 50% off - $20
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell col-num">
                                <span>3</span>
                            </div>
                            <div class="table-cell">
                                (class) beauty tips 10% off - $90
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="btn-orange btn-change" type="button" value="change the offers" />
                <input class="btn-orange btn-confirm" data-dismiss="modal" data-toggle="modal" data-target="#modal-confirmation" type="button" value="confirm my spot" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal-upcomming -->
