<div id="updateModal" class="modal fade modal-m" role="dialog" aria-labelledby="updateModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-update">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <!--<h4 id="updateModalLabel" class="modal-title">Do you want to save the changes?</h4>-->
            </div>
            <div class="modal-body">
                <p>Do you want to save the changes?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-negative" data-dismiss="modal">no</button>
                <button class="btn btn-positive">yes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /#changePassModal -->
