<!-- #modal-welcome -->
<div id="modal-welcome" class="modal fade" role="dialog" aria-labelledby="welcomeModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-welcome">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h3 id="welcomeModalLabel" class="modal-title">welcome to Beautify LA!</h3>
                <h4>before we can have fun setting up events we must first ask you to update and confirm some general information first in the dashboard settings.</h4>
            </div>
            <div class="modal-body">
                <dl class="social-icons clearfix">
                    <dd><img alt="" src="content/images/assets/image_business.png" /></dd>
                    <dd><img alt="" src="content/images/assets/image_contact.png" /></dd>
                    <dd><img alt="" src="content/images/assets/image_payment.png" /></dd>
                    <dt>3 easy steps to help you launch your event!</dt>
                    <dt><button type="button" class="btn-orange btn-start" data-dismiss="modal">get started!</button></dt>
                </dl>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- /#modal-welcome -->
