{% extends 'master/coming-soon.html' %}

{% block title %}Beautify LA - Home{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block namepage %}coming-soon-page{% endblock %}

{% block main %}
<h1>eventacy<sup>TM</sup></h1>
<h5>by invitation only</h5>
{% endblock %}

{% block modal %}{% endblock %}

{% block scriptLibs %}{% endblock %}

{% block script %}
<script type="text/javascript" src="content/js/pages/ui-coming-soon.js"></script>
{% endblock %}

