.past-list{
    header{
        h2{
            font-size: 31px;
            font-family: $primary;
            line-height: 57px;
            margin: 0 0 18px;
        }
    }

    .scroll-content {
        max-height: 225px;
        overflow-y: auto;
    }

    .item{
        border-bottom: 1px solid rgba(51, 51, 51, .3);
        margin-top: 15px;
        padding-bottom: 16px;

        &:first-child{
            margin-top:0;
        }

        h3{
            font-size: $h5;
            font-family: $primary;
            line-height: 18px;
            color: #343434;
            margin:0 0 11px;

            a{
                color: #343434;
                text-decoration: none;
                /*display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;*/
            }
        }

        footer{
            time{
                font-size: $s14;
                line-height: 20px;
                font-family: $primary;
                color: #2c2c2c;
                float: left;
            }

            a{
                font-size: $s14;
                line-height: 20px;
                font-family: $primary;
                color: #9f9f9f;
                text-decoration: underline;
                float: right;
            }
        }
    }
}

.detech-devices .scroll-content {
    overflow-y: scroll;
}

/*.on-nicescroll {
    .past-list {
        .wrap-dropdown-menu-inner {
            max-height: 225px;
            padding-right: 16px;
            position: relative;
        }
    }
}*/
