.article-list{overflow:hidden;}
.article-block{margin:30px 0 0;border:1px solid #bababa;}
.article-img{display:block;height:340px;background:rgba(0, 0, 0, 0.5) center center no-repeat;background-size:cover;position:relative;}
.article-caption{display:block;background-color:rgba(0, 0, 0, 0.5);position:absolute;right:0;bottom:0;left:0;padding:0 15px;}
.article-caption .section-header{background:url(images/assets/icon_arrow_right_white.png) no-repeat right center;margin:0;}
.article-caption .section-header h3{line-height:70px;font-family:ralewayextrabold, sans-serif;color:#fff;text-align:right;padding-right:60px;}
.article-intro{padding:15px;font:18px/22px ralewaymedium, sans-serif;}
.article-intro .section-header{margin:0 0 10px;}
.article-intro .section-header h3,
.article-intro .section-header h3 a{color:#333;text-decoration:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.article-intro p{margin:0 0 10px;}
.article-intro p a{text-decoration:none;color:#333}
.article-intro q{color:#ABABAB;}
.article-intro q:before{content:'';}
.article-intro q:after{content:'';}
.article-intro q a{color:#ababab;}
.article-intro q strong{font-family:ralewaysemibold, sans-serif;}

.article-ads{}
.article-ads .ads-block{margin:20px 0 0;}
