
.slide-feature{overflow:hidden;position:relative;}
#carousel-desktop{height:449px;overflow:hidden;}
#carousel-desktop .carousel-inner > .item{height:449px;}
#carousel-mobile .carousel-inner > .item{height:517px;}

@media (max-width:979px){
    #carousel-desktop{height:320px;}
    #carousel-desktop .carousel-inner > .item{height:320px;}
}
