{% extends './master/main-logged.html' %}

{% block title %}Kuyam - Cancelled Appointments{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block banner %}{% endblock %}

{% block main %}
<section class="appointments-section">
    {% include "./content/pages/appointment/nav.html" %}
    <div class="container">
        {% include "./content/pages/appointment/list-cancelled.html" %}
    </div>
</section>
{% endblock %}

{% block modal %}
{% include "./content/modals/notes.html" %}
{% include "./content/modals/classes.html" %}
{% include "./content/modals/services.html" %}
{% endblock %}

{% block script %}<script type="text/javascript" src="http://localhost:3000/content/js/pages/ui-appointment.js"></script>
{% endblock %}

