{% extends './master/main.html' %}

{% block title %}Kuyam - Book Details{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block css %}
<link type="text/css" rel="Stylesheet" href="http://localhost:3000/content/libs/tooltipster.css" />
{% endblock %}

{% block banner %}

{% include "./content/pages/book-details/banner.html" %}

{% endblock %}

{% block main %}
<div class="book-detail-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="appointment">
                        <ul id="appointmentTabs" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services</a></li>
                            <li role="presentation"><a href="#classes" aria-controls="classes" role="tab" data-toggle="tab">Classes</a></li>
                        </ul>
                        <div class="book-option clearfix">
                            {% include "./content/pages/book-details/what.html" %}

                            {% include "./content/pages/book-details/who.html" %}
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="services">
                                {% include "./content/pages/book-details/services.html" %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="classes">
                                {% include "./content/pages/book-details/classes.html" %}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="views">
                        {% include "./content/pages/book-details/views.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="packages">
                        {% include "./content/pages/book-details/packages.html" %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="photos">
                        {% include "./content/pages/book-details/photos.html" %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% include "./content/pages/book-details/info.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}
{% include "./content/modals/classes.html" %}
{% include "./content/modals/services.html" %}
{% include "./content/modals/packages.html" %}
{% include "./content/modals/checkout.html" %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCqVwY4a4mDTyOVzJY0S0nASARDb90i2pk&sensor=true"></script>
<script type="text/javascript" src="http://localhost:3000/content/js/libs/jquery.tooltipster.min.js"></script>
<script type="text/javascript" src="http://localhost:3000/content/js/pages/ui-book-details.js"></script>
{% endblock %}

