{% extends './master/main.html' %}

{% block title %}Kuyam - How It Work{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block banner %}
<img class="hidden-xs" alt="" src="http://localhost:3000/content/images/ui/pages/how-it-works/intro_banner.png" />
{% endblock %}

{% block main %}
<!-- .useful-content -->
<section class="useful-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="useful-col col-discover">
                    <div class="useful-frame">
                        <img class="hidden-xs" alt="" src="http://localhost:3000/content/images/ui/pages/how-it-works/image_discover.png" />
                        <img class="hidden-sm hidden-md hidden-lg" alt="" src="http://localhost:3000/content/images/ui/pages/how-it-works/image_discover_1.png" />
                    </div>
                    <h3>explore businesses</h3>
                    <p>discover great deals and learn how to pamper yourself all with kuyam</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="useful-col col-book">
                    <div class="useful-frame">
                        <img class="hidden-xs" alt="" src="http://localhost:3000/content/images/ui/pages/how-it-works/image_book.png" />
                        <img class="hidden-sm hidden-md hidden-lg" alt="" src="http://localhost:3000/content/images/ui/pages/how-it-works/image_book_1.png" />
                    </div>
                    <h3>booking made easy</h3>
                    <p>let kuyam schedule for you and manage all of your appointments!</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="useful-col col-relax">
                    <div class="useful-frame">
                        <img class="hidden-xs" alt="" src="http://localhost:3000/content/images/ui/pages/how-it-works/image_relax.png" />
                        <img class="hidden-sm hidden-md hidden-lg" alt="" src="http://localhost:3000/content/images/ui/pages/how-it-works/image_relax_1.png" />
                    </div>
                    <h3>enjoy life stress free</h3>
                    <p>kuyam will automatically remind you of upcoming appointments. Just relax!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .useful-content -->

<!-- .how-it-works-content -->
<section class="how-it-works-content">
    <div class="container">
        <header class="section-header">
            <h2>how it works</h2>
        </header>
        <div id="tabs-how-it-works">
            <ul>
                <li><a href="#tabs-1">user</a></li>
                <li><a href="#tabs-2">business</a></li>
            </ul>
            <div id="tabs-1">

                <!-- .user-content -->
                <div  class="user-content">

                    <!-- .howboxcontent -->
                    <div class="visible-md visible-lg">
                        <div id="user-content" class="howboxcontent">
                            <ul>
                                <li class="tabs tab1 active">
                                    <div class="headtab headtab1"><span>join kuyam</span></div>
                                    <div class="contenttab">
                                        <div class="slidecontent">
                                            <div class="slidetext">
                                                <p>explore and connecting with local businesses is easier than ever before! so get there and discover what your community has to offer.</p>
                                            </div>
                                            <div class="slidearrow clearfix">
                                                <a id="arrow1" href="javascript:void(0);" class="arrow" title=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tabs tab2">
                                    <div class="headtab headtab2"><span>search</span></div>
                                    <div class="contenttab">
                                        <div class="slidecontent">
                                            <div class="slidetext">
                                                <p>start browsing your community. select a category or search by company name to find the perfect pamper for you.</p>
                                            </div>
                                            <div class="slidearrow clearfix">
                                                <a id="arrow2" href="javascript:void(0);" class="arrow" title=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tabs tab3">
                                    <div class="headtab headtab3"><span>schedule</span></div>
                                    <div class="contenttab">
                                        <div class="slidecontent slidecontentthrive">
                                            <div class="slidetext slidetextthrive">
                                                <p>pick the day and time that works for you -- we'll take care of the rest. no phone calls necessary. if the company is using kuyam autoscheduling - you can view their availabilities and book immediately.</p>
                                            </div>
                                            <div class="slidearrow clearfix"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.howboxcontent -->

                    <div id="accordion-user" class="hidden-md hidden-lg">
                        <h3>join kuyam</h3>
                        <div>
                            <p>explore and connecting with local businesses is easier than ever before! so get there and discover what your community has to offer.</p>
                            <p>&nbsp;</p>
                            <a title="" href="javascript:void(0);" id="accordion-user-2" class="icon-down"></a>
                        </div>
                        <h3>search</h3>
                        <div>
                            <p>start browsing your community. select a category or search by company name to find the perfect pamper for you.</p>
                            <p>&nbsp;</p>
                            <a title="" href="javascript:void(0);" id="accordion-user-3" class="icon-down"></a>
                        </div>
                        <h3>schedule</h3>
                        <div>
                            <p>pick the day and time that works for you -- we'll take care of the rest. no phone calls necessary. if the company is using kuyam autoscheduling - you can view their availabilities and book immediately.</p>
                        </div>
                    </div>
                </div>
                <!-- /.user-content -->

            </div>
            <div id="tabs-2">

                <!-- .business-content -->
                <div class="business-content">

                    <!-- .howboxcontent -->
                    <div class="visible-md visible-lg">
                        <div id="business-content" class="howboxcontent">
                            <ul>
                                <li class="tabs tab1 active">
                                    <div class="headtab headtab1"><span>list</span></div>
                                    <div class="contenttab">
                                        <div class="slidecontent">
                                            <div class="slidetext">
                                                <h2>free listings!</h2>
                                                <p>our powerful scheduling service allows you to book appointments during and after business hours. simply add your company and availabilities to kuyam. we'll get you the clients.</p>
                                            </div>
                                            <div class="slidearrow clearfix">
                                                <a href="" class="link-sign-up float-left" title="">sign up now</a>
                                                <a id="arrow3" href="javascript:void(0);" class="arrow" title=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tabs tab2">
                                    <div class="headtab headtab2"><span>manage</span></div>
                                    <div class="contenttab">
                                        <div class="slidecontent">
                                            <div class="slidetext">
                                                <p>handling all your new and existing customers is a breeze. we help you keep your slots organized by keeping you up-to-date with notifications and a simple company dashbroad.</p>
                                            </div>
                                            <div class="slidearrow clearfix">
                                                <a id="arrow4" href="javascript:void(0);" class="arrow" title=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tabs tab3">
                                    <div class="headtab headtab3"><span>thrive</span></div>
                                    <div class="contenttab">
                                        <div class="slidecontent slidecontentthrive">
                                            <div class="slidetext slidetextthrive">
                                                <p>we're dedicated to you and your happy customers! so let us help you schedule while you focus on what you do best: taking care of clients.</p>
                                            </div>
                                            <div class="slidearrow clearfix">
                                                <a href="" class="link-sign-up" title="">sign up now</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.howboxcontent -->

                    <div id="accordion-business" class="hidden-md hidden-lg">
                        <h3>list</h3>
                        <div>
                            <h2>free listings!</h2>
                            <p>our powerful scheduling service allows you to book appointments during and after business hours. simply add your company and availabilities to kuyam. we'll get you the clients.</p>
                            <p><a title="" href="register.html">sign up now</a></p>
                            <a title="" href="javascript:void(0);" id="accordion-business-2" class="icon-down"></a>
                        </div>
                        <h3>manage</h3>
                        <div>
                            <p>handling all your new and existing customers is a breeze. we help you keep your slots organized by keeping you up-to-date with notifications and a simple company dashbroad.</p>
                            <p>&nbsp;</p>
                            <a title="" href="javascript:void(0);" id="accordion-business-3" class="icon-down"></a>
                        </div>
                        <h3>thrive</h3>
                        <div>
                            <p>we're dedicated to you and your happy customers! so let us help you schedule while you focus on what you do best: taking care of clients.</p>
                             <p><a title="" href="register.html">sign up now</a></p>
                        </div>
                    </div>
                </div>
                <!-- /.business-content -->

                <!-- /.business-details -->
                <div class="business-details">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <header class="section-header">
                                <h4>
                                    free listings.<br />
                                    small Appointment Free per appointmnet booked.
                                </h4>
                            </header>
                            <p>
                                5.0% plus $0.99<br />
                                per booked appointment<br />
                                we cap our Appointment Free at $9.95 per booked<br class="visible-lg" /> appointment through kuyam.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <header class="section-header">
                                <h4>
                                    third party payment<br />
                                    processing fee
                                </h4>
                            </header>
                            <p>
                                paypal: 2.9% of appointment<br />
                                value + $0.30 per transaction
                            </p>
                        </div>
                    </div>
                 </div>
                 <!-- /.business-details -->

            </div>
        </div>
    </div>
</section>
<!-- /.how-it-works-content -->

<!-- .lifestyle-content -->
<section class="lifestyle-content">
    <div class="container">
        <header class="section-header">
            <h2>what's a lifestyle business?</h2>
        </header>
        <div class="row">
            <div class="col-xs-6 lifestyle-block">
                <div class="lifestyle-type">beauty</div>
                <div class="lifestyle-frame" style="background-image:url(http://localhost:3000/content/images/ui/pages/how-it-works/image_beauty.jpg);">
                    <img class="img-frame beauty-frame-1" alt="" src="http://localhost:3000/content/images/ui/pages/how-it-works/image_beauty_1.png" />
                    <img class="img-frame beauty-frame-2" alt="" src="http://localhost:3000/content/images/ui/pages/how-it-works/image_beauty_2.png" />
                    <img class="img-frame beauty-frame-3 hidden-xs" alt="" src="http://localhost:3000/content/images/ui/pages/how-it-works/image_beauty_3.png" />
                </div>
            </div>
            <div class="col-xs-6 lifestyle-block">
                <div class="lifestyle-type">fitness</div>
                <div class="lifestyle-frame" style="background-image:url(http://localhost:3000/content/images/ui/pages/how-it-works/image_fitness.jpg);">
                    <img class="img-frame fitness-frame-1" alt="" src="http://localhost:3000/content/images/ui/pages/how-it-works/image_fitness_1.png" />
                    <img class="img-frame fitness-frame-2" alt="" src="http://localhost:3000/content/images/ui/pages/how-it-works/image_fitness_2.png" />
                </div>
            </div>
        </div>
        <p>at kuyam, we take pride in supporting the best businesses in industries that are all about you, businesses that make you and your community feel happy and healthy. in turn, we help those businesses find new customers and deepen their relationships with existing ones.</p>
    </div>
</section>
<!-- /.lifestyle-content -->

<!-- /.about-content -->
<section class="about-content">
    <div class="container">
        <header class="section-header">
            <h2>about kuyam</h2>
        </header>
        <p>founded in 2011 by Kourosh Gohar, Tony Rhoton, and Todd Zebert, what started as a man who simply wanted to get his hair cut has evolved into a fresh online scheduling platform: kuyam.</p>
        <p>with kuyam, you can easily discover and schedule appointments with your favorite beauty or fitness service providers. kuyam is also a hub to discover local non-profits.</p>
        <p>our office is in Los Angeles where we're building the first kuyam community, the team believes in an organic, friendly and collaberative company environment which celebrates the core idea of kuyam, which in Chumash means, "a meeting place where we can come together."</p>
        <p class="text-center on-device">
            <a title="" href="register.html" class="btn-green btn-try">try it free!</a>
        </p>
    </div>
</section>
<!-- /.about-content -->
{% endblock %}

{% block script %}
<script type="text/javascript" src="http://localhost:3000/content/js/pages/ui-how.js"></script>
{% endblock %}

