<footer class="site-footer">  
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">    
                <p>Copyright © 2014 Kuyam Companies, Inc. All rights reserved. Patent pending.</p>
            </div>
            <div class="col-md-4 hidden-xs">
                <ul class="link-socials clearfix"> 
                    <li><a target="_blank" href="https://twitter.com/beautifyla" title=""><img alt="" src="../../content/images/assets/icons_social/Twitter_share_small.png" /></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/BeautifyLA" title=""><img alt="" src="../../content/images/assets/icons_social/Facebook_share_small.png" /></a></li>
                    <li><a target="_blank" href="https://plus.google.com/b/110749984355670134973/110749984355670134973/posts" title=""><img alt="Google Plus" src="../../content/images/assets/icons_social/Google_Plus_share_small.png" /></a></li>
                    <li><a target="_blank" href="http://pinterest.com/kuyam/" title=""><img alt="" src="../../content/images/assets/icons_social/Pinterest_share_small.png" /></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCxQN7WyQsSc57qxcAIeZEXg" title=""><img alt="" src="../../content/images/assets/icons_social/Youtube_share_small.png" /></a></li>
                </ul>
            </div>
        </div>
    </div>        
</footer>