<div id="site-header" class="site-header bg-black">
    <div class="container">
        <a class="logo" href="home.html" title="">
            <img class="hidden-xs" src="content/images/assets/bla-logo_registered_trademark_header.png" alt="" />
            <img class="visible-xs" src="content/images/assets/mobile/Mobile_bla-logo_registered_trademark_header.png" alt="" />
        </a>
        <button class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="clear visible-xs"></div>
        <section class="area-section">
            <select id="select-area" class="selectpicker select-area select-scroll">
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
            </select>
        </section>
        <section class="region-section">
            <select id="select-region" class="selectpicker select-region select-scroll">
                <option value="">Entire region</option>
                <option>Australia</option>
                <option>Austria</option>
                <option>Belgium</option>
                <option>Brazil</option>
                <option>Canada</option>
                <option>Denmark</option>
                <option>Finland</option>
                <option>France</option>
                <option>Germany</option>
                <option>Greece</option>
                <option>Ireland</option>
                <option>Israel</option>
                <option>Italy</option>
                <option>Japan</option>
                <option>Luxembourg</option>
                <option>Mexico</option>
                <option>Netherlands</option>
                <option>Norway</option>
                <option>Poland</option>
                <option>Portugal</option>
                <option>Russia</option>
                <option>Spain</option>
                <option>Sweden</option>
                <option>Switzerland</option>
                <option>Turkey</option>
                <option>United Kingdom</option>
                <option>United States</option>
            </select>
        </section>
        <div class="clear visible-xs visible-sm"></div>

        <!-- .navbar-collapse -->
         <div class="collapse navbar-collapse menuList" id="bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-right nav-main">
                <li class="li-blog"><a href="lifestyle-blog.html" title="">Blog</a></li>
                <li class="li-chat"><a href="#" title="">Chat</a></li>
                <li class="li-register"><a href="#" title="" data-target="#modal-sign-up" data-toggle="modal">SIGN UP</a> / <a href="#" title="" data-target="#modal-login" data-toggle="modal">LOGIN</a></li>
                <li class="li-create"><a href="#" title="" data-target="#modal-sign-up" data-toggle="modal">CREATE YOUR EVENT</a></li>
                <!--<li class="li-account hidden-xs dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi, Kourosh</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="#" title="sign out" class="link-sign-out">sign out</a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div>
