<div id="site-header" class="site-header bg-black">
    <div class="container">
        <a class="logo" href="home.html" title="">
            <img class="hidden-xs" src="content/images/assets/bla-logo_registered_trademark_header.png" alt="" />
            <img class="visible-xs" src="content/images/assets/mobile/Mobile_bla-logo_registered_trademark_header.png" alt="" />
        </a>
        <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <dl class="social-icons hidden-xs on-desktop clearfix">
            <dt>join the community</dt>
            <dd><a title="" href="https://twitter.com/beautifyla"><img alt="" src="content/images/assets/icons_social/Twitter_share_small.png" /></a></dd>
            <dd><a title="" href="https://www.facebook.com/BeautifyLA"><img alt="" src="content/images/assets/icons_social/Facebook_share_small.png" /></a></dd>
            <dd><a title="" href="https://plus.google.com/b/110749984355670134973/110749984355670134973/posts"><img alt="" src="content/images/assets/icons_social/Google_Plus_share_small.png" /></a></dd>
            <dd><a title="" href="http://pinterest.com/kuyam/"><img alt="" src="content/images/assets/icons_social/Pinterest_share_small.png" /></a></dd>
            <dd><a title="" href="https://www.youtube.com/channel/UCxQN7WyQsSc57qxcAIeZEXg"><img alt="" src="content/images/assets/icons_social/Youtube_share_small.png" /></a></dd>
        </dl>
        <section class="area-section">
            <select id="select-area" class="selectpicker select-area select-scroll">
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
                <option value="">LA</option>
                <option data-subtext="(CA)" value="">OC</option>
                <option value="">SD</option>
                <option data-subtext="(NJ)" value="">OC</option>
            </select>
        </section>
        <section class="region-section">
            <select id="select-region" class="selectpicker select-region select-scroll">
                <option value="">Entire region</option>
                <option>Australia</option>
                <option>Austria</option>
                <option>Belgium</option>
                <option>Brazil</option>
                <option>Canada</option>
                <option>Denmark</option>
                <option>Finland</option>
                <option>France</option>
                <option>Germany</option>
                <option>Greece</option>
                <option>Ireland</option>
                <option>Israel</option>
                <option>Italy</option>
                <option>Japan</option>
                <option>Luxembourg</option>
                <option>Mexico</option>
                <option>Netherlands</option>
                <option>Norway</option>
                <option>Poland</option>
                <option>Portugal</option>
                <option>Russia</option>
                <option>Spain</option>
                <option>Sweden</option>
                <option>Switzerland</option>
                <option>Turkey</option>
                <option>United Kingdom</option>
                <option>United States</option>
            </select>
        </section>
        <div class="clear"></div>

        <!-- .navbar-collapse -->
         <div class="collapse navbar-collapse menuList" id="bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-right nav-main">
                <li><a href="lifestyle-blog.html" title="">lifestyle blog<span class="on-desktop hidden-xs"></span></a></li>
                <li><a href="#" title="" data-target="#modal-login" data-toggle="modal">login</a></li>
                <li><a href="#" title="" data-target="#modal-sign-up" data-toggle="modal">sign up</a></li>
                <li class="visible-xs"><a href="#" title="">sign out</a></li>
                <li class="link-help"><a href="#"><img alt="" src="content/images/assets/image_help.png" /></a></li>
                <li class="hidden-xs"><a class="link-account link-account-user" href="#" title=""><span class="icon-user"></span>hi, Kourosh<span class="icon-down"></span></a></li>
            </ul>

            <div id="nav-account" class="nav-account">
                <dl class="container clearfix">
                    <dt class="text-right"><a href="#" title="sign out" class="link-sign-out">sign out</a></dt>
                </dl>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div>
