<div id="site-header" class="site-header bg-black">
    <div class="container">
        <h1>Kourosh Soccer Club</h1>
        <div class="clear visible-xs visible-sm"></div>

        <!-- .navbar-collapse -->
         <div class="collapse navbar-collapse menuList" id="bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-right nav-main">
                <li class="li-account hidden-xs dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi Kourosh</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="#" title="Dashboard" class="link-sign-out">Dashboard</a></li>
                        <li><a href="#" title="Settings" class="link-sign-out">Settings</a></li>
                        <li><a href="#" title="Log out" class="link-sign-out">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div>
