<div id="site-header" class="site-header bg-black">
    <div class="container">
        <a class="logo" href="/" title="">
            <img class="hidden-xs" src="/content/images/assets/bla-logo_registered_trademark_header.png" alt="">
            <img class="visible-xs" src="/content/images/assets/mobile/Mobile_bla-logo_registered_trademark_header.png" alt="">
        </a>
        <div class="clear"></div>
        <div class="collapse navbar-collapse menu-list" id="bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-right nav-main">

                <li><a href="/Blog" title="">lifestyle blog<span class="on-desktop hidden-xs"></span></a></li>

                <li class="link-help"><a class="btnLiveChat off" href="javascript:void(0);"><img alt="" src="/content/images/assets/image_help.png"></a></li>


                <li><a href="/eventrequest" title="create an event">create an event</a> </li>

            </ul>

            <div id="nav-account" class="nav-account">
                <dl class="container clearfix">
                    <dt class="text-right"><a class="link-sign-out" href="/Account/LogOut?returnUrl=%2Fevent%2FTest">sign out</a> </dt>
                </dl>
            </div>
        </div>
    </div>
</div>
