/* start vuho edit*/

.company-image-gallery{
	font-size: 16px;
}

.company-image-gallery .form-label{
	font-size: 1.125em;
}

.company-image-gallery .cb-label{
	font-size: 0.875em !important;
}

.company-image-gallery .photo-box {
	background-color: #fafafa;
	padding: 0px;
	width: 17%;
	float: left;
	margin: 10px 20px 20px 10px;
}
.company-image-gallery .photo-frame{
	height:128px;
	background:center center no-repeat;
	background-size:cover;
}

.company-image-gallery .photo-box .btn-add-cart {
	display: block;
	width: 100%;
	color: #ffffff;
	background-color: #b4b4b4;
	line-height: 30px;
	font-size: 1em;
}

.company-image-gallery .photo-box a {
	font-size: .8em !important;
	color: #292929;
	text-decoration: underline;
	margin: 0 auto;
	text-align: center;
	width: auto;
	display: block;
}

.company-image-gallery .btn-upload-image {
	background-color: #fafafa;
	background-image: url(../images/icon_upload_gray.png);
	background-size: 48px auto;
	text-decoration:none;
	color:#292929;
	min-height: 235px;
	display: block;
	background-repeat: no-repeat;
	background-position: center 60px;
	text-align: center;
	padding-top: 120px;
	font-family: ralewaysemibold, sans-serif;
	cursor: pointer;
}

.company-image-gallery div[class*="col-"], .company-image-gallery form div[class*="col-"] {
	padding: 0 !important;
}

.company-image-gallery .photo-box .checkbox-group {
	padding: 10px;
}

.company-image-gallery .photo-box label {
	font-size: 1em 
}

.purchase-stock-photos-section {
	margin: 50px 0;
}

.purchase-stock-photos-section .show-result {
	margin-bottom: 10px !important;
}

.purchase-stock-photos-section .btn-add-cart {
	background-color: #b4b4b4;
	color: #ffffff;
	line-height: 30px;
	margin-top: 15px;
	padding: 0 30px;
	font-size: 0.938em;
}

.purchase-stock-photos-section .btn-confirm-purchase {
	background-color: #292929;
	color: #ffffff;
	line-height: 30px;
	margin-top: 15px;
	padding: 0 30px;
	font-size: 0.938em;
	
}

.purchase-stock-photos-section ul {
	list-style: none;
	padding: 0;
	margin: 0px;
	font-size: .9em;
}

.purchase-stock-photos-section .your-cart {
	background-color: #fafafa;
	padding: 15px;
	display: inline-block;
	width: 100%;
}

.purchase-stock-photos-section .list-photo-thumbnails li {
	float: left;
	margin-right: 10px;
	width: 85px;
	text-align:center;
}
.purchase-stock-photos-section .list-photo-thumbnails  img{
	max-height:59px;	
}
.purchase-stock-photos-section .list-photo-thumbnails .active img{
	border: 3px solid #292929;
}

.purchase-stock-photos-section .photo-detail {
	margin-left: 15px;
	
}

.purchase-stock-photos-section .photo-detail label{
	font-size: 1em;
}

.purchase-stock-photos-section .photo-sceenshot {
	margin-bottom: 25px !important;
	width: 	255px;
}


/* =============================================================================
   .txt-search
   ========================================================================== */

.txt-search {
	background-image: url(../images/icon_search_black.png);
	background-repeat: no-repeat;
	background-position: 6px 10px;
	background-size: 19px auto;
	padding-left: 30px;
}


/* =============================================================================
   .txt-cart
   ========================================================================== */

.txt-cart {
	background-image: url(../images/icon_cart_black.png);
	background-repeat: no-repeat;
	background-position: 0px 4px;
	background-size: 14px auto;
	padding-left: 20px;
}

@media (max-width: 1023px) {
	.company-image-gallery .photo-box {
		width: 28%;
	}
}

@media (min-width: 1024px) and (max-width: 1279px) {
	.company-image-gallery .photo-box {
		width: 20%;
	}
}


/* end vuho edit*/