/* =============================================================================
   Calendar page
   ========================================================================== */
.calendar-page{
    position: relative;
}

.calendar-select-staff{
    position: absolute;
    top: 9px;
    left: 15px;
}
.calendar-select-staff .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 184px;
}
.calendar-select-staff .bootstrap-select.btn-group .btn .filter-option{
	font: .875em/20px ralewaysemibold, sans-serif;
	color: #292929;
}
.calendar-select-staff .bootstrap-select .bs-searchbox{
	height: 0;
}
.calendar-select-staff .bootstrap-select .dropdown-menu.inner{
	width: 180px;
}
.calendar-select-staff .bootstrap-select .dropdown-menu > li > a{
	font-family: ralewaymedium, sans-serif;
	font-size: .875em;
	color: #292929;
}
.calendar-select-staff .bootstrap-select .bootstrap-scroll{
	max-height: 170px;
}

.calendar-select-status{
    margin-left: -12px;
}
.calendar-select-status .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 104px;
}
.calendar-select-status .btn-default.disabled .caret{
	display: none;
}

.calendar-schedule .btn-add,
.calendar-schedule .btn-add:active,
.calendar-schedule .btn-add:visited{
	width: 100%;
	height: 40px;
	background: #fff;
	border: 2px dashed #959595;
	color: #959595;
	text-decoration: underline;
}
.calendar-schedule .btn-add:hover{
	background: #242424;
	border-color: #242424;
	color: #fff;
	text-decoration: none;
}

.calendar-header{
    text-align: center;
	position: relative;
	margin-right: 215px;
	margin-left: 215px;
}
.calendar-header > div{
	display: inline-block;
	position: relative;
	margin: 10px 0;
	padding: 0 34px;
}
.calendar-header .calendar-controls{
	position: absolute;
	display: inline-block;
	width: 34px;
	height: 34px;
}
.calendar-header .calendar-controls .icon{
	margin-top: 11px;
}
.calendar-header .calendar-next{
	right: 0;
}
.calendar-header .calendar-pre{
	left: 0;
}
.calendar-header .calendar-title{
	line-height: 34px;
}
.calendar-header .btn-today{
	background: #fff;
	padding: 5px 10px;
	border: 2px solid #bc347c;
	color: #bc347c;
	position: absolute;
	left: -100%;
}
.calendar-header .btn-today[disabled]{
	border-color: #bababa;
	color: #bababa;
}
.calendar-header .btn-add{
	padding-left: 20px;
	padding-right: 20px;
	width: 75px;
	position: absolute;
	top: 7px;
	right: 15px;
}

.calendar-slide{
	display: none;
}
.calendar-slide .calendar-date-detials{
	text-align: center;
	color: #bc347c;
	padding:10px 15px;
}

.calendar-day-title{
    display: -webkit-flex;
    display: flex;
}
.calendar-date-title{
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border-left: 1px solid transparent;
}
.calendar-date-title div{
	padding: 5px 0;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
    text-align: center;
	cursor: pointer;
}
.calendar-date-title.active div{
	background: #bc347c;
	border-color: #bc347c;
	color: #fff;
	margin-right: -1px;
	margin-left: -1px;
}

.calendar-days-wrap{
    display: -webkit-flex;
    display: flex;
}

.calendar-date{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-left: 1px solid #e3e3e3;
}
.calendar-date.active .calendar-day{
	border-color: #bc347c;
}

.calendar-day{
    height: 100%;
    padding: 3px;
    position: relative;
    z-index: 2;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    margin-right: -1px;
    margin-left: -1px;
}

.calendar-details,
.calendar-details:hover,
.calendar-details:focus{
	font-family: ralewaysemibold, sans-serif;
	color: #292929;
	text-decoration: underline;
	font-size:.8125em;
	display: none;
}

.calendar-block
{
    padding: 15px;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 3px;
    color: #292929;
	position: relative;
}
.calendar-block .icon-user{
	margin-bottom: -3px;
	margin-right: 5px;
}
.calendar-block p{
	margin: 0;
}
.calendar-block p.calendar-user,
.calendar-block p.calendar-with{
	font-size: .875em;
	font-family: ralewaybold, sans-serif;
}
.calendar-block p.calendar-time{
	font-size: .8125em;
	font-family: ralewaybold, sans-serif;
}
.calendar-block p.calendar-type{
	font-size: .75em;
	font-family: ralewaysemibold, sans-serif;
}
.calendar-block .calendar-control{
	text-align: right;
}
.calendar-block > .calendar-details{
	position: absolute;
	bottom: 35px;
	right: 15px;
}
.calendar-block .bootstrap-select.btn-group .btn .filter-option{
	font: .6875em/20px ralewaybold, sans-serif;
}
.calendar-block .bootstrap-select.btn-group.open .btn .filter-option{
	font-family: ralewaysemibold, sans-serif;
}
.calendar-block .bootstrap-select.btn-group .dropdown-menu.inner{
	text-transform: uppercase;
	font-size: .6875em;
	font-family: ralewaysemibold, sans-serif;
}

.block-confirmed{
	border-color: #9eca35;
}

.block-cancelled{
	border-color: #ca4026;
}
.block-cancelled .btn-default{
	color: #ca4026;
}
.block-cancelled .bootstrap-select .caret{
	background-image: url(../images/icon_next_red.png);
}
.block-cancelled .bootstrap-select.open .caret{
	background-image: url(../images/icon_next_black.png);
}

.block-pending{
	border-color: #ffca2c;
}

.block-blocker{
	border-color: #737373;
}
.block-blocker .calendar-control{
	margin-top: -5px;
}
.block-blocker .calendar-details{
	margin-left: 10px;
	top: -2px;
	position: relative;
}

.block-class{
	border-color: #737373;
	padding-bottom: 0;
}
.block-class ul{
	margin: 15px -15px 0;
	padding: 0;
	list-style: none;
	background: #f5f5f5;
}
.block-class ul li{
	float: left;
	width: 33.33%;
	text-align: center;
	padding: 10px 5px;
}
.block-class ul li:first-child{
	display: none;
}
.block-class ul li span{
	display: block;
	font-family: ralewaysemibold, sans-serif;
}
.block-class ul li .calendar-num-title{
	font-size: .8125em;
}
.block-class ul li .calendar-number{
	font-size: .875em;
}
.block-class .calendar-attendee{
	display: block;
	text-align: center;
	padding: 5px 15px;
	text-decoration: underline;
	color: #292929;
	font-family: ralewaysemibold, sans-serif;
	font-size: .9375em;
}

.calendar-block.block-past{
	border-color: #f0f0f0;
	background: #f0f0f0;
	color: #797979;
}
.calendar-block.block-past .calendar-attendee{
	color: #797979;
}

/* =============================================================================
   settings page
   ========================================================================== */
.settings-page{
	padding: 70px 0;
}
.settings-page a{
	text-decoration: underline;
	color: #292929;
} 

/* =============================================================================
   modals
   ========================================================================== */
.modal-cancel-calendar h5{
	font-size: 1.125em;
	font-family: ralewaysemibold, sans-serif;
	text-align: center;
	margin: 5px 0 30px;
}
.modal-cancel-calendar h5 a{
	color: #ae422c;
	text-decoration: underline;
}

/* =============================================================================
   .week-list
   ========================================================================== */
.week-list{
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #000;
	height: 40px;
	display: -webkit-flex;
    display: flex;
}
.week-list li{
	-webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
	border-left: 1px solid #000;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
.week-list li:first-child{
	border-left: 0 none;
}
.week-list li.active{
	background: #989898;
	color: #fff;
}

/* =============================================================================
   .txt-date
   ========================================================================== */
.txt-date{
	background-image: url(../images/icon_calendar_grey_2.png);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 30px auto;
	padding-right: 30px;
}

/* =============================================================================
   .txt-time
   ========================================================================== */
.txt-hour{
	background-image: url(../images/icon_time_grey_2.png);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 30px auto;
	padding-right: 30px;
}

/* =============================================================================
   tabs
   ========================================================================== */
.calendar-tabs{}
.calendar-tabs .nav-tabs{
	text-align: center;
	border: 0 none;
	margin-bottom: 25px;
}
.calendar-tabs .nav-tabs > li{
	float: none;
	display: inline-block;
	margin: 0 15px;
}
.calendar-tabs .nav-tabs > li .dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid #c6c6c6;
	margin-right: 10px;
	margin-bottom: -1px;
	-webkit-border-radius: 100% !important; 
	-moz-border-radius: 100% !important;
	border-radius: 100% !important;	
}
.calendar-tabs .nav-tabs > li a,
.calendar-tabs .nav-tabs > li a:hover,
.calendar-tabs .nav-tabs > li.active a,
.calendar-tabs .nav-tabs > li.active a:hover{
	border: 0 none;
	background: transparent;
	color: #292929;
	font-size: .9375em;
	padding:0;
}
.calendar-tabs .nav-tabs > li.active .dot{
	background: #292929;
	border: 1px solid #292929;
}

@media (max-width: 1023px){
	#calendarMobile{
		display: block;
	}
	
	.calendar-select-staff{
		left: 0;
		top: 0;
		width: 100%;
	}
	.calendar-select-staff .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		width: 30%;
	}
	.calendar-select-staff .bootstrap-select.open:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		width: 100%;
		margin-right: 0;
	}
	.calendar-select .bootstrap-select > .dropdown-toggle.btn-default{
		padding-top: 14px;
		padding-bottom: 14px;
	}
	.calendar-select .bootstrap-select.open > .dropdown-toggle.btn-default, 
	.calendar-select .bootstrap-select.open > .dropdown-toggle.btn-default:hover, 
	.calendar-select .bootstrap-select.open > .dropdown-toggle.btn-default:focus{
		border-color: #292929 #292929 transparent;
		background: #292929;
		color: #fff;
	}
	.calendar-select-staff .bootstrap-select.btn-group.open .bs-caret{
		display: none;
	}
	.calendar-select .bootstrap-select .dropdown-menu{
		background: #292929;
	}
	.calendar-select .bootstrap-select .dropdown-menu.open{
		border-color: transparent #292929 #292929;
	}
	.calendar-select-staff .bootstrap-select.btn-group.open .btn .filter-option,
	.bootstrap-select .popover-title,
	.calendar-select-staff .bootstrap-select .dropdown-menu > li > a{
		color: #fff;
	}
	.calendar-select-staff .bootstrap-select .dropdown-menu > li > a:hover{
		color: #292929;
	}
	
	.calendar-header .btn-today,
	.calendar-section > .calendar-day-title,
	.calendar-date,
	.calendar-date .btn-add{
		display: none;
	}
	
	.calendar-slide,
	.calendar-date.active,
	.calendar-details,
	.block-class ul li{
		display: block;
	}
	.calendar-date.active .calendar-day{
		border-color: transparent;
	}
	
	.calendar-block p.calendar-user{
		text-decoration: underline;
	}
	
	.block-class ul li{
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.block-class ul li:first-child{
		float: right;
	}
}

@media (max-width: 991px){
}

@media (max-width: 767px){
	.calendar-tabs .nav-tabs > li{
		margin: 0;
		float: left;
		width: 33.33%;
	}
	.calendar-tabs .nav-tabs > li .dot{
		display: none;
	}	 
	.calendar-tabs .nav-tabs > li a:hover, 
	.calendar-tabs .nav-tabs > li.active a, 
	.calendar-tabs .nav-tabs > li.active a:hover{
		text-decoration: underline;
		font-family:  ralewaybold, sans-serif;
	}
}
