/* =============================================================================
   Retina
   ========================================================================== */

@media only screen and (-webkit-min-device-pixel-ratio:1.25) and (min-width:320px),
only screen and ( min--moz-device-pixel-ratio:1.25) and (min-width:320px),
only screen and ( -o-min-device-pixel-ratio:1.25/1) and (min-width:320px),
only screen and ( min-device-pixel-ratio:1.25) and (min-width:320px),
only screen and ( min-resolution:120dpi) and (min-width:320px),
only screen and ( min-resolution:2dppx) and (min-width:320px) {
	.bootstrap-select.btn-group .btn .caret {
		background-image: url(../images/mobile/icon_next_black@2x.png);
	}
	.bootstrap-select.btn-group .btn.disabled .caret {
		background-image: url(../images/mobile/icon_next_grey@2x.png);
	}
	.block-cancelled .bootstrap-select.btn-group .btn .caret {
		background-image: url(../images/mobile/icon_next_red@2x.png);
	}
	.block-cancelled .bootstrap-select.btn-group.open .btn .caret {
		background-image: url(../images/mobile/icon_next_black@2x.png);
	}
	.form-select-search .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
		background-image: url(../images/icon_mark@2x.png)
	}
	.form-timepicker .glyphicon,
	.form-timepicker .glyphicon:hover {
		background-image: url(../images/icon_next_black@2x.png);
	}
	.icon-chat {
		background-image: url(../images/icon_chat@2x.png);
	}
	.active .icon-chat {
		background-image: url(../images/icon_chat_active@2x.png);
	}
	.icon-user {
		background-image: url(../images/icon_user@2x.png);
	}
	.icon-facebook {
		background-image: url(../images/icon_facebook@2x.png);
	}
	.icon-twitter {
		background-image: url(../images/icon_twitter@2x.png);
	}
	.icon-next {
		background-image: url(../images/icon_next_black@2x.png);
	}
	.disabled .icon-next {
		background-image: url(../images/icon_next_grey@2x.png);
	}
	.icon-delete {
		background-image: url(../images/icon_trash_grey@2x.png);
	}
	.disabled .icon-delete {
		background-image: url(../images/icon_trash_grey@2x.png);
	}
	.icon-pre {
		background-image: url(../images/icon_next_black@2x.png);
	}
	.disabled .icon-pre {
		background-image: url(../images/icon_next_grey@2x.png);
	}
	.icon-down {
		background-image: url(../images/icon_next_black@2x.png);
	}
	.icon-up {
		background-image: url(../images/icon_next_black@2x.png);
	}
	.icon-collapse {
		background-image: url(../images/icon_next_black@2x.png);
	}
	.icon-mark {
		background-image: url(../images/icon_mark@2x.png);
	}
	.icon-calendar {
		background-image: url(../images/icon_calendar_black@2x.png);
	}
	.icon-lock {
		background-image: url(../images/icon_mark@2x.png);
	}
	.kuyam-header .navbar-brand {
		background-image: url(../images/logo@2x.png);
	}
	.modal-terms .modal-header .close,
	.modal-terms .modal-header .close:hover {
		background-image: url(../images/icons/btn_close_black@2x.png);
	}
	.modal-terms .nav-tabs > li > a span {
		background-image: url(../images/icons/arrow_down_2@2x.png);
	}
	.modal-terms .nav-tabs > li.active > a span {
		background-image: url(../images/icons/arrow_down@2x.png);
	}
	.block-cancelled .bootstrap-select .caret {
		background-image: url(../images/icon_next_red@2x.png);
	}
	.block-cancelled .bootstrap-select.open .caret {
		background-image: url(../images/icon_next_black@2x.png);
	}
	.txt-date {
		background-image: url(../images/icon_calendar_grey_2@2x.png);
	}
	.txt-hour {
		background-image: url(../images/icon_time_grey_2@2x.png);
	}
	.txt-search {
		background-image: url(../images/icon_search_black@2x.png);
	}
	.txt-cart {
		background-image: url(../images/icon_cart_black@2x.png);
	}
	.btn-upload-image {
		background-image: url(../images/icon_upload_gray@2x.png);
	}
	.cb-mark:checked ~ .cb-label:before {
		background-image: url(../images/icon_check@2x.png);
	}
}

@media only screen and (-webkit-min-device-pixel-ratio:1.25) and (min-width:768px),
only screen and ( min--moz-device-pixel-ratio:1.25) and (min-width:768px),
only screen and ( -o-min-device-pixel-ratio:1.25/1) and (min-width:768px),
only screen and ( min-device-pixel-ratio:1.25) and (min-width:768px),
only screen and ( min-resolution:120dpi) and (min-width:768px),
only screen and ( min-resolution:2dppx) and (min-width:768px) {
	.bootstrap-select.btn-group .btn .caret {
		background-image: url(../images/icon_next_black@2x.png);
	}
	.bootstrap-select.btn-group .btn.disabled .caret {
		background-image: url(../images/icon_next_grey@2x.png);
	}
	.block-cancelled .bootstrap-select.btn-group .btn .caret {
		background-image: url(../images/icon_next_red@2x.png);
	}
	.block-cancelled .bootstrap-select.btn-group.open .btn .caret {
		background-image: url(../images/icon_next_black@2x.png);
	}
	.modal-terms .nav-tabs > li > a span {
		background-image: url(../images/icons/arrow_down_2@2x.png);
	}
	.modal-terms .nav-tabs > li.active > a span {
		background-image: url(../images/icons/arrow_down_3@2x.png);
	}
}

@media only screen and (-webkit-min-device-pixel-ratio:1.25) and (min-width:1024px),
only screen and ( min--moz-device-pixel-ratio:1.25) and (min-width:1024px),
only screen and ( -o-min-device-pixel-ratio:1.25/1) and (min-width:1024px),
only screen and ( min-device-pixel-ratio:1.25) and (min-width:1024px),
only screen and ( min-resolution:120dpi) and (min-width:1024px),
only screen and ( min-resolution:2dppx) and (min-width:1024px) {}