.site-contact {
  background: #2a2a2a;
  padding: 90px 0 70px;
  font: 14px/22px ralewaysemibold, sans-serif;
  color: #777; }

.site-contact .link-terms {
  color: #96be3d;
  position: relative;
  top: -10px;
  left: 10px; }

.site-contact .section-header {
  width: 330px; }

.site-contact .section-header h4 {
  color: #fff;
  font: 26px/30px ralewaysemibold, sans-serif;
  margin: 0 0 15px; }

.site-contact .section-header .logo {
  float: left;
  margin: 0 0 20px; }

.site-contact .section-header .logo img {
  height: 51px;
  width: auto; }

.site-contact p {
  margin: 0 0 15px; }

.site-contact .register-form .btn_Join {
  padding: 0; }

.site-contact .register-form .form-control {
  background: transparent;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  border-left: 1px solid #777;
  color: #777;
  z-index: inherit; }

.site-contact .register-form .btn-facebook {
  width: 100%;
  padding: 0; }

.site-contact .link-socials li a img {
  width: 35px; }

.site-contact .link-socials li:last-child {
  float: left; }

.site-contact .link-socials li:nth-child(5) {
  float: right; }

.site-address ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none; }

.site-address ul li {
  background: no-repeat left top;
  padding: 0 0 5px 29px;
  margin: 21px 0 0; }

.site-address ul li.icon-location {
  background-image: url(images/assets/icon_location.png); }

.site-address ul li.icon-phone {
  background-image: url(images/assets/icon_phone.png); }

.site-address ul li.icon-email {
  background-image: url(images/assets/icon_email.png);
  background-position: left 3px; }

.site-address ul li.icon-email a {
  color: #777; }

.site-address ul li.terms {
  padding: 0; }

.site-address ul li.terms a {
  color: #96be3d;
  left: 0; }

@media (max-width: 767px) {
  .site-contact {
    padding: 60px 0 40px; }
  .site-contact .section-header {
    margin: 0 0 7px;
    width: auto; }
  /*.site-contact .section-header h4{font:30px/34px ralewaysemibold, sans-serif;}*/
  .site-contact .section-header .logo {
    height: 37px;
    margin: 0 0 17px; }
  .site-contact p {
    margin: 0 0 20px; }
  .site-contact .register-form {
    margin: 0 0 20px; }
  .site-contact .register-form .form-control {
    background: #fff;
    border-top: 1px solid #2a2a2a;
    border-bottom: 1px solid #2a2a2a;
    border-left: 1px solid #2a2a2a;
    color: #2a2a2a; } }
