.kuyam-content{
    float:left;
    padding:24px 38px;
    overflow: hidden;
}
.kuyam-content .kuyam-form{
    padding: 5px 0;
}

.kuyam-content .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.0625em;
    color: #9b9b9b;
    font-weight: 400;
}
.kuyam-content .form-control::-moz-placeholder { /* Firefox 19+ */
    font-size: 1.0625em;
    color: #9b9b9b;
    font-weight: 400;
}
.kuyam-content .form-control:-ms-input-placeholder { /* IE 10+ */
    font-size: 1.0625em;
    color: #9b9b9b;
    font-weight: 400;
}
.kuyam-content .form-control:-moz-placeholder { /* Firefox 18- */
    font-size: 1.0625em;
    color: #9b9b9b;
    font-weight: 400;
}
.kuyam-content .form-label{
    margin-bottom:6px;
}
.kuyam-content .form-placeholder .form-label{
    margin-bottom: 0;
    font-size: 1.0625em;
    color: #9b9b9b;
}
.kuyam-content .row{
    margin-left: -10px;
    margin-right: -10px;
}
.kuyam-content div[class*="col-"]{
    margin-bottom: 28px;
    padding-left:10px;
    padding-right: 10px;
}
.kuyam-content header{
    padding: 3px 0;
    height: 48px;
}
.kuyam-content header a{
    font-size: $s14;
    text-decoration: none;
    color:$base;
    cursor: pointer;
}
.kuyam-content header a .icon-back{
    margin-right: 10px;
}
.kuyam-content header a strong{
    font-weight: 700;
}
.kuyam-content .legend{
    font-size:1.5em;
    font-family: Lato, sans-serif;
    font-weight: 400;
    margin-bottom:26px;
    color: #3d91ff;
}
.kuyam-content .legend:first-letter{
    text-transform:uppercase;
}
.kuyam-content .form-control{
    font-family: Lato, sans-serif;
    font-weight: 400;
}
.kuyam-content footer{
    text-align:right;
    padding:10px 0;
}
.kuyam-content footer div[class*="col-"]{
    margin-bottom: 20px;
}
.kuyam-content footer .link-delete{
    text-decoration:underline;
    font-size: .875em;
    color:#242424;
    margin-right:60px;
}
.kuyam-content footer .btn-agree{
}
.kuyam-content footer .btn-disagree{
}

@media (max-width: 1023px){
    .kuyam-content{
        padding: 0 15px;
        float: none;
    }
    .kuyam-content .kuyam-form{
        padding: 0;
    }
    .kuyam-content .legend{
        border-bottom: 1px solid #c7c7c7;
        background: #f5f5f5;
        margin-left: -15px;
        margin-right: -15px;
        color:#303030;
        font-size: $s15;
        text-align: center;
        min-height: 45px;
        line-height: 25px;
        padding: 10px;
        margin-bottom: 22px;
    }
    .kuyam-content .mobile-section-list .legend{
        margin-bottom: 0;
    }
    .kuyam-content .form-label{
        margin-bottom: 8px;
    }
    .kuyam-content div[class*="col-"]{
        margin-bottom: 16px;
    }
    .kuyam-content footer{
        padding-top: 15px;
        padding-bottom:0;
    }
    .kuyam-content footer .no-data,
    .kuyam-content footer div[class*="col-"]{
        margin-bottom: 15px;
    }
}

@media (max-width: 374px){
    .kuyam-content .legend{
        font-size: $s13;
        min-height: 40px;
        padding: 7px;
        margin-bottom: 16px;
    }
    .kuyam-content .form-label{
        margin-bottom: 5px;
    }
    .kuyam-content div[class*="col-"]{
        margin-bottom: 12px;
    }
    .kuyam-content footer{
        padding-top: 13px;
    }
    .kuyam-content footer .no-data,
    .kuyam-content footer div[class*="col-"]{
        margin-bottom: 13px;
    }
}
