.kuyam-footer {
    min-height: 65px;
    line-height: 65px;
    background: #242424;
    padding: 0 20px;
    color: #fff;
    font-size: .75em;
}

.kuyam-footer ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.kuyam-footer ul li {
    float: left;
    margin-left: 20px;
}

.kuyam-footer ul li .icon {
    margin-bottom: -3px;
}

.kuyam-footer a {
    color: #95be31;
    text-decoration: none;
}

.kuyam-footer a.link-terms{
    color: #fff;
}
@media (max-width:1023px) {
    .kuyam-footer {
        padding:0;
        min-height: 58px;
    }

    .kuyam-footer .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .kuyam-footer p{
        font-size: .85em;
        margin: 0;
        text-align: left;
    }

    .kuyam-footer ul {
        float: right;
    }

    .kuyam-footer ul li {
        float: left;
        display: inline-block;
        margin: 0 0 0 20px;
    }

    .kuyam-footer ul li:last-child {
        display: none;
    }

    .kuyam-footer {
        line-height: 140%;
    }
}

@media (max-width:767px) {
    .kuyam-footer{
        min-height:46px;
    }
    .kuyam-footer .container{
        padding-top: 13px;
        padding-bottom:0;
    }
    .kuyam-footer p{
        font-size: 0.5625em;
        line-height: 9px;
    }
}
