.kuyam-header {
    background: #fff;
    border: 0 none;
    border-bottom: 1px solid #bebebe;
    margin-bottom: 0;
    height: 59px;
    min-height: 59px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    position: relative;
    z-index: 5;
}

.kuyam-header .navbar-header {
    margin-left: 0;
}

.kuyam-header .navbar-brand {
    width: 115px;
    background: url(../images/dashboard/header_logo_kuyam.png) center center no-repeat;
    background-size: 103px auto;
    margin-left: 10px  !important;
}

.kuyam-header .navbar-nav > li > a,
.kuyam-header .navbar-nav > li > a:focus,
.kuyam-header .navbar-nav > li > a:hover {
    color: #242424;
    background: transparent;
    padding: 18px 0 16px;
    text-align: center;
}

.kuyam-header .navbar-nav > li.active{
    border-bottom: 4px solid #3891ff;
}

.kuyam-header .user-info{
    border-left: 1px solid #bebebe;
    position: relative;
    height: 58px;
    overflow: hidden;
}
.kuyam-header .user-info li{
    padding: 14px 20px 26px;
}
.kuyam-header .user-info li span.hi {
    font-size: $s13;
    font-weight: 400;
    display:block;
}
.kuyam-header .user-info li span strong{
    font-weight: 700;
}
.kuyam-header .user-info li > span.controls {
    position: relative;
    top:-9px;
    white-space: nowrap;
}
.kuyam-header .user-info span.controls a{
    font-size: $s10;
    color: $base;
    text-decoration: none;
    position: relative;
    font-weight: 400;
}
.kuyam-header .user-info span a{
    padding-left: 13px;
}
.kuyam-header .user-info span .header_icon_settings,
.kuyam-header .user-info span .header_icon_sign_out{
    width: 8px;
    height: 8px;
    position:absolute;
    display: inline-block;
    left:0;
    top:2px;
}
.kuyam-header .form-select-location{
    display: block;
    height: 58px;
}
.kuyam-header .form-select-location .bootstrap-select:before{
    position: absolute;
    background: $white;
    top:0;
    left:0;
    height: 58px;
    content: '';
    width: 100%;
    z-index: 1001;
}
.kuyam-header .form-select-location .bootstrap-select > .btn,
.kuyam-header .form-select-location .bootstrap-select > .btn:focus,
.kuyam-header .form-select-location .bootstrap-select > .btn:active,
.kuyam-header .form-select-location .bootstrap-select > .btn-default.disabled,
.kuyam-header .form-select-location .bootstrap-select > .btn-default.disabled:focus,
.kuyam-header .form-select-location .bootstrap-select > .btn-default.disabled:active,
.kuyam-header .form-select-location .bootstrap-select.open > .dropdown-toggle.btn-default,
.kuyam-header .form-select-location .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
.kuyam-header .form-select-location .bootstrap-select.open > .dropdown-toggle.btn-default:focus{
    border:0 none;
    height: 58px;
    position: relative;
    z-index: 1001;
    width: auto;
    max-width: 100%;
}
.kuyam-header .form-select-location .bootstrap-select.btn-group .btn .filter-option{
    display: inline-block;
    width: auto;
    font-weight: 700;
    color: $positive;
}
.kuyam-header .form-select-location .bootstrap-select .dropdown-menu{
    margin-top: 0;
    border-top: 0 none;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.13);
}
.kuyam-header .form-select-location .bootstrap-select.btn-group .dropdown-menu > li > a:hover,
.kuyam-header .form-select-location .bootstrap-select.btn-group .dropdown-menu > li > a:focus{
    font-weight: 700;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .kuyam-header .navbar-brand {
        width: 90%;
        background-size: 93px auto;
    }
}

@media (min-width: 1024px) {
    .kuyam-header .navbar-header {
        margin-left: -15px;
    }

    .kuyam-header .navbar-brand {
        margin: 0 auto !important;
        height: 58px;
        display: block;
        float: none;
    }

    .kuyam-header .navbar-nav > li.active > a {
        margin-left: -1px;
        margin-right: -1px;
        position: relative;
        z-index: 2;
    }

    .kuyam-header .navbar-nav > li > a span {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
    }

    .kuyam-header .navbar-right > li > a span{
        border-left: 1px solid #fff;
    }

    .kuyam-header .navbar-nav > li:first-child > a span,
    .kuyam-header .navbar-nav > li.active > a span {
        border-left-color: transparent;
    }

    .kuyam-header .navbar-nav.navbar-right > li > a span {
        border-left-color: transparent;
        border-right: 1px solid #fff;
    }

    .kuyam-header .navbar-nav.navbar-right > li:first-child > a span,
    .kuyam-header .navbar-nav.navbar-right > li.active > a span {
        border-right-color: transparent;
    }

    .kuyam-header .navbar-nav > li > a span {
    }

    .kuyam-header .navbar-right {
        margin-right: -30px;
    }

    .kuyam-header .navbar-right > li {
        width: auto !important;
    }

    .kuyam-header .navbar-right > li:last-child > a span {
        border-right-color: #fff;
    }

    .kuyam-header .navbar-right > li:first-child > a span,
    .kuyam-header .navbar-right > li.active > a span {
        border-right-color: transparent;
    }

    .kuyam-header .navbar-right > li:first-child {
        float: right;
    }
}


@media (max-width: 1023px){
    .kuyam-header {
        z-index: 9;
        height: 45px;
        min-height: 45px;
    }
    .kuyam-header .navbar-header{
        float: none;
    }

    .kuyam-header .navbar-collapse {
        display: none;
    }

    .kuyam-header .navbar-toggle{
        display: block;
        float: right;
        cursor: pointer;
        padding-top: 15px;
        padding-bottom: 14px;
    }

    .kuyam-header .navbar-brand {
        width: 103px;
        background-size: 103px auto;
        height: 45px;
    }
    .kuyam-header .navbar-brand img{
        width: 100%;
    }

    .kuyam-header .navbar-nav {
        display: none;
    }
}

@media (max-width: 374px){
    .kuyam-header {
        height: 38px;
        min-height: 38px;
    }

    .kuyam-header .navbar-toggle{
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .kuyam-header .navbar-brand{
        width: 65px;
        height: 18px;
        background-size: 65px auto;
        padding-top: 19px;
        padding-bottom: 19px;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .kuyam-header .navbar-brand {
        background-image: url(../images/dashboard/header_logo_kuyam@2x.png);
    }
}