@media (min-width: 1024px){
    .kuyam-main-content{
        display: -webkit-flex;
        display: flex;
    }
    .kuyam-main-content > div{
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}