#ml-menu .menu__wrap {
    display: none;
}

@media (max-width: 1023px) {
    #ml-menu .show-bg-fading {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 9998;
        top: 0px;
        left: 0px;
    }
    #ml-menu .icon_mobile_close_menu {
        position: fixed;
        width: 32px;
        height: 32px;
        display: none;
        background-image: url(../images/dashboard/nav/icon_mobile_close_menu.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px auto;
        content: '';
        top: 14px;
        left: 85%;
        z-index: 9999;
        cursor: pointer;
    }
    #ml-menu .menu__wrap {
        overflow-y: auto;
        display: block;
        position: fixed;
        top: 0px;
        left: -100%;
        width: 80%;
        height: 100%;
        background-color: #ffffff;
        z-index: 9999;
        -webkit-box-shadow: inset -30px 0px 60px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset -30px 0px 60px rgba(0, 0, 0, 0.05);
        box-shadow: inset -30px 0px 60px rgba(0, 0, 0, 0.05);
        -webkit-transition: all .6s;
        /* For Safari 3.1 to 6.0 */
        transition: all .6s;
    }
    #ml-menu .menu-slide-right {
        left: 0;
    }

    #ml-menu .logo img{
        display: none;
    }

    #ml-menu .logo {
        margin: 30px 0 20px 30px;
        width: 100px;
        height: 27px;
        background: url(../images/dashboard/nav/header_logo_kuyam.png) no-repeat;
        background-size: 100px auto;
        display: block;
    }
    #ml-menu li {
        list-style: none;
    }
    #ml-menu a {
        list-style: none;
        position: relative;
        font-size: 16px;
        color: #5f5f5f;
        text-decoration: none;
        position: relative;
    }
    #ml-menu .blue-item a {
        font-weight: 700 !important;
        color: #3d94ff !important;
    }
    #ml-menu .dropmenu-item-content {
        display: none;
        padding: 0px;
    }
    #ml-menu .dropmenu-item-content li {
        padding-left: 0px !important;
    }
    #ml-menu .dropmenu-item-content li a {
        font-weight: normal;
    }
    #ml-menu .dropmenu-item-content li a[data-dropdown="true"] + ul{
        margin-left: 20px;
    }
    #ml-menu .menu__level1 li {
        list-style: none;
        margin: 30px 0;
        padding-left: 50px;
    }
    #ml-menu .menu__level2 li,
    #ml-menu .menu__level3 li {
        list-style: none;
        margin: 18px 0;
        padding-left: 11% !important;
        display: block;
    }
    #ml-menu .menu__level2 li li,
    #ml-menu .menu__level3 li li{
        padding-left: 0 !important;
    }
    #ml-menu .menu__level2 a,
    #ml-menu .menu__level3 a {
        font-weight: 900;
        display: inline-block;
    }
    #ml-menu .have-icon {
        position: relative;
    }
    #ml-menu .username-item span {
        font-weight: 900;
    }
    #ml-menu .back-item {
        margin-left: -36px !important;
        margin-bottom: 30px !important;
    }
    #ml-menu li.username-item {
        margin-bottom: 30px !important;
        margin-left: -36px;
    }
    #ml-menu li.username-item a{
        font-weight: 400;
    }
    #ml-menu li.username-item span{
       font-weight: 900;
    }
    #ml-menu .icon_mobile_back:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_drop_left.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 8px auto;
        content: '';
        position: absolute;
        top: 0px;
        left: -30px;
    }
    #ml-menu .icon_mobile_dashboard:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_dashboard.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 18px auto;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_dashboard:before {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_drop_right.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 6px auto;
        content: '';
        position: absolute;
        top: 0px;
        right: -30px;
    }
    #ml-menu .icon_mobile_search:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_search.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 17px auto;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_favourites:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_favourites.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 18px auto;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_receipt:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_receipt.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 17px auto;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_appointments:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_appointments.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px auto;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_gift:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_gift.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 17px auto;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .sub_menu_icon_down:before {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_drop_down.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 14px auto;
        content: '';
        position: absolute;
        top: 0px;
        right: -30px;
    }

    #ml-menu .sub_menu_icon_up:before {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_drop_up.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 16px auto;
        content: '';
        position: absolute;
        top: 0px;
        right: -30px;
    }

    #ml-menu .icon_mobile_add:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_add.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 14px auto;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_signout:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_signout.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 12px auto;
        content: '';
        position: absolute;
        top: 1px;
        left: -34px;
    }
    #ml-menu .icon_mobile_manage:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_manage.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 19px auto;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_company:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_company.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px auto;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_calendar:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_calendar.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 14px auto;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }

    #ml-menu .badge {
            position: absolute !important;
            top: -4px;
            left: -22px;
            font-size: 10px;
            border: 1px solid #ff6060;
            text-align: center;
            width: auto;
            height: 15px;
            line-height: 13px;
            border-radius: 5px;
            background-color: #ffffff;
            color: #ff6060;
            display: block;
            padding: 0 2px;
            z-index: 1000;
    }


    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    #ml-menu .icon_mobile_close_menu {
        background-image: url(../images/dashboard/nav/icon_mobile_close_menu@2x.png);
    }

    #ml-menu .logo {
        background-image: url(../images/dashboard/nav/header_logo_kuyam@2x.png);
    }
    #ml-menu .icon_mobile_back:after {
        background-image: url(../images/dashboard/nav/icon_mobile_drop_left@2x.png);
    }
    #ml-menu .icon_mobile_dashboard:after {
        background-image: url(../images/dashboard/nav/icon_mobile_dashboard@2x.png);
    }
    #ml-menu .icon_mobile_dashboard:before {
        background-image: url(../images/dashboard/nav/icon_mobile_drop_right@2x.png);
    }
    #ml-menu .icon_mobile_search:after {
        background-image: url(../images/dashboard/nav/icon_mobile_search@2x.png);
    }
    #ml-menu .icon_mobile_favourites:after {
        background-image: url(../images/dashboard/nav/icon_mobile_favourites@2x.png);
    }
    #ml-menu .icon_mobile_receipt:after {
        background-image: url(../images/dashboard/nav/icon_mobile_receipt@2x.png);
    }
    #ml-menu .icon_mobile_appointments:after {
        background-image: url(../images/dashboard/nav/icon_mobile_appointments@2x.png);
    }
    #ml-menu .icon_mobile_gift:after {
        background-image: url(../images/dashboard/nav/icon_mobile_gift@2x.png);
    }
    #ml-menu .sub_menu_icon_down:before {
        background-image: url(../images/dashboard/nav/icon_mobile_drop_down@2x.jpg);
    }

    #ml-menu .sub_menu_icon_up:before {
        background-image: url(../images/dashboard/nav/icon_mobile_drop_up@2x.jpg);
    }

    #ml-menu .icon_mobile_add:after {
        background-image: url(../images/dashboard/nav/icon_mobile_add@2x.png);
    }
    #ml-menu .icon_mobile_signout:after {
        background-image: url(../images/dashboard/nav/icon_mobile_signout@2x.png);
    }
    #ml-menu .icon_mobile_manage:after {
        background-image: url(../images/dashboard/nav/icon_mobile_manage@2x.png);
    }
    #ml-menu .icon_mobile_company:after {
        background-image: url(../images/dashboard/nav/icon_mobile_company@2x.png);
    }
    #ml-menu .icon_mobile_calendar:after {
        background-image: url(../images/dashboard/nav/icon_mobile_calendar@2x.png);
    }
}
