.kuyam-sidebar{
    background: #f5f5f5;
    min-width: 194px;
}
.kuyam-sidebar ul{
    margin:0;
    padding:0;
    list-style:none;
}
.kuyam-sidebar ul li a{
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-transform: capitalize ;
    font-size:.8125em;
    display:block;
    padding:16px 24px 16px 45px;
    color:#242424;
    text-decoration: none;
    text-shadow:0.5px 0 0 #242424;
     position: relative;
}
.kuyam-sidebar ul li a .icon{
    display: block;
    position: absolute;
    top:0;
    bottom:0;
    left: 24px;
    width: 10px;
}
.kuyam-sidebar ul li.active a,
.kuyam-sidebar ul li a:hover{
    font-weight:700 !important;
}

@media (max-width: 768px){
    .kuyam-sidebar{
        position: absolute;
        left: -100%;
    }
}