#ml-menu .menu__wrap {
    display: none;
}

@media (max-width: 767px) {
    #ml-menu .show-bg-fading {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 9998;
        top: 0px;
        left: 0px;
    }
    #ml-menu .icon_mobile_close_menu {
        position: fixed;
        width: 32px;
        height: 32px;
        display: none;
        background-image: url(../images/dashboard/nav/icon_mobile_close_menu.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        top: 14px;
        left: 85%;
        z-index: 9999;
        cursor: pointer;
    }
    #ml-menu .menu__wrap {
        overflow-y: auto;
        display: block;
        position: fixed;
        top: 0px;
        left: -100%;
        width: 80%;
        height: 100%;
        background-color: #ffffff;
        z-index: 9999;
        -webkit-box-shadow: inset -30px 0px 60px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset -30px 0px 60px rgba(0, 0, 0, 0.05);
        box-shadow: inset -30px 0px 60px rgba(0, 0, 0, 0.05);
        -webkit-transition: all .6s;
        /* For Safari 3.1 to 6.0 */
        transition: all .6s;
    }
    #ml-menu .menu-slide-right {
        left: 0;
    }
    #ml-menu .logo {
        margin: 30px 0 20px 30px;
        width: 100px;
    }
    #ml-menu li {
        list-style: none;
    }
    #ml-menu a {
        list-style: none;
        position: relative;
        font-size: 16px;
        color: #5f5f5f;
        text-decoration: none;
        position: relative;
    }
    #ml-menu .blue-item a {
        font-weight: 700 !important;
        color: #3d94ff !important;
    }
    #ml-menu .dropmenu-item-content {
        display: none;
        padding: 0px;
    }
    #ml-menu .dropmenu-item-content li {
        padding-left: 0px !important;
    }
    #ml-menu .dropmenu-item-content li a {
        font-weight: normal;
    }
    #ml-menu .menu__level1 li {
        list-style: none;
        margin: 30px 0;
        padding-left: 50px;
    }
    #ml-menu .menu__level2 li,
    #ml-menu .menu__level3 li {
        list-style: none;
        margin: 18px 0;
        padding-left: 10% !important;
        display: block;
    }
    #ml-menu .menu__level2 a,
    #ml-menu .menu__level3 a {
        font-weight: 900;
        display: inline-block;
    }
    #ml-menu .have-icon {
        position: relative;
    }
    #ml-menu .username-item span {
        font-weight: 900;
    }
    #ml-menu .back-item {
        padding-left: 20px !important;
        margin-bottom: 30px !important;
    }
    #ml-menu .username-item {
        padding-left: 20px !important;
        margin-bottom: 30px !important;
    }
    #ml-menu .icon_mobile_back:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_drop_left.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: 0px;
        left: -30px;
    }
    #ml-menu .icon_mobile_dashboard:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_dashboard.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_dashboard:before {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_drop_right.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: 0px;
        right: -30px;
    }
    #ml-menu .icon_mobile_search:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_search.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_favourites:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_favourites.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_receipt:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_receipt.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_appointments:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_appointments.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_gift:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_gift.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .btn_sub_item:before {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_drop_down.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: 0px;
        right: -30px;
    }
    #ml-menu .icon_mobile_add:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_add.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_signout:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_signout.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: 1px;
        left: -34px;
    }
    #ml-menu .icon_mobile_manage:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_manage.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_company:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_company.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }
    #ml-menu .icon_mobile_calendar:after {
        width: 20px;
        height: 24px;
        display: block;
        background-image: url(../images/dashboard/nav/icon_mobile_calendar.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: '';
        position: absolute;
        top: -2px;
        left: -34px;
    }

    #ml-menu .badge {
            position: absolute !important;
            top: -4px;
            left: -22px;
            font-size: 10px;
            border: 1px solid #ff6060;
            text-align: center;
            width: auto;
            height: 15px;
            line-height: 13px;
            border-radius: 5px;
            background-color: #ffffff;
            color: #ff6060;
            display: block;
            padding: 0 2px;
            z-index: 1000;
    }

}