.no-data{
    text-align:center;
    width: 388px;
    margin-left: 59px;
}
.no-data p{
    margin-bottom:98px;
    font-size: 1em;
    line-height: 23px;
    color: #9b9b9b;
}
.no-data img{
    margin:57px auto 14px;
}
.no-data .btn{
    width:388px;
}
