.kuyam-sidebar{
    background: #f5f5f5;
    min-width: 194px;
}
.kuyam-sidebar ul{
    margin:17px 0;
    padding:0;
    list-style:none;
}
.kuyam-sidebar ul li{
    clear: both;
}
.kuyam-sidebar ul li a{
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size:.8125em;
    display:block;
    padding:10px 24px 10px 45px;
    color:#242424;
    text-decoration: none;
    text-shadow:0.5px 0 0 #242424;
     position: relative;
}
.kuyam-sidebar ul li a .icon{
    display: block;
    position: absolute;
    top:0;
    height: 100%;
    left: 24px;
    width: 12px;
}
.kuyam-sidebar ul li a .icon-collapse{
    left: inherit;
    right: 10px;
}
.kuyam-sidebar ul li.active a,
.kuyam-sidebar ul li a:hover{
    font-weight:700;
}

.kuyam-sidebar ul li ul.collapse,
.kuyam-sidebar ul li ul.collapsing{
    position:relative;
    background: transparent;
    border: 0 none;
    box-shadow: none;
    position: relative;
    width: 100%;
    margin:0;
    padding: 0;
}
.kuyam-sidebar ul li ul.collapsing li:last-child,
.kuyam-sidebar ul li ul.collapse li:last-child{
    padding-bottom: 20px;
}
.kuyam-sidebar ul li ul.collapsing li a,
.kuyam-sidebar ul li ul.collapse li a{
    font-weight:300;
    padding-top:4px;
    padding-bottom:0;
}

.kuyam-sidebar ul li ul.collapse li.active a,
.kuyam-sidebar ul li ul.collapse li a:hover,
.kuyam-sidebar ul li a[aria-expanded="true"]{
    font-weight:700;
}

.kuyam-sidebar ul li a[aria-expanded="true"] .icon-collapse{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.kuyam-sidebar .icon-profile{
    background-image: url(../images/dashboard/company/icon-profile.png);
    background-size: 10px auto;
}
.kuyam-sidebar .icon-gallery{
    background-image: url(../images/dashboard/company/icon-gallery.png);
    background-size: 10px auto;
}
.kuyam-sidebar .icon-payment{
    background-image: url(../images/dashboard/company/icon-payment.png);
    background-size: 10px auto;
}
.kuyam-sidebar .icon-notifications{
    background-image: url(../images/dashboard/company/icon-notifications.png);
    background-size: 9px auto;

}
.kuyam-sidebar .icon-calendars{
    background-image: url(../images/dashboard/company/icon-calendars.png);
    background-size: 8px auto;
}
.kuyam-sidebar .icon-settings{
    background-image: url(../images/dashboard/company/icon-settings.png);
    background-size: 10px auto;
}

.kuyam-sidebar .icon-client{
    background-image: url(../images/dashboard/manage/icon-client.png);
    background-size:8px auto;
}

.kuyam-sidebar .icon-service{
    background-image: url(../images/dashboard/manage/icon-service.png);
    background-size:10px auto;
}

.kuyam-sidebar .icon-class{
    background-image: url(../images/dashboard/manage/icon-class.png);
    background-size:12px auto;
}

.kuyam-sidebar .icon-staff{
    background-image: url(../images/dashboard/manage/icon-staff.png);
    background-size:12px auto;
}

.kuyam-sidebar .icon-invoice{
    background-image: url(../images/dashboard/manage/icon-invoice.png);
    background-size:7px auto;
}

.kuyam-sidebar .icon-package{
    background-image: url(../images/dashboard/manage/icon-package.png);
    background-size:10px auto;
}

.kuyam-sidebar .icon-promo{
    background-image: url(../images/dashboard/manage/icon-promo.png);
    background-size:8px auto;
}

@media (max-width: 1023px){
    .kuyam-sidebar{
        position: absolute;
        left: -100%;
        height:0;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .kuyam-sidebar .icon-profile{
        background-image: url(../images/dashboard/company/icon-profile@2x.png);
    }
    .kuyam-sidebar .icon-gallery{
        background-image: url(../images/dashboard/company/icon-gallery@2x.png);

    }
    .kuyam-sidebar .icon-payment{
        background-image: url(../images/dashboard/company/icon-payment@2x.png);
    }
    .kuyam-sidebar .icon-notifications{
        background-image: url(../images/dashboard/company/icon-notifications@2x.png);
    }
    .kuyam-sidebar .icon-calendars{
        background-image: url(../images/dashboard/company/icon-calendars@2x.png);
    }
    .kuyam-sidebar .icon-settings{
        background-image: url(../images/dashboard/company/icon-settings@2x.png);
    }

    .kuyam-sidebar .icon-client{
        background-image: url(../images/dashboard/manage/icon-client@2x.png);
    }

    .kuyam-sidebar .icon-service{
        background-image: url(../images/dashboard/manage/icon-service@2x.png);
    }

    .kuyam-sidebar .icon-class{
        background-image: url(../images/dashboard/manage/icon-class@2x.png);
    }

    .kuyam-sidebar .icon-staff{
        background-image: url(../images/dashboard/manage/icon-staff@2x.png);
    }

    .kuyam-sidebar .icon-invoice{
        background-image: url(../images/dashboard/manage/icon-invoice@2x.png);
    }

    .kuyam-sidebar .icon-package{
        background-image: url(../images/dashboard/manage/icon-package@2x.png);
    }

    .kuyam-sidebar .icon-promo{
        background-image: url(../images/dashboard/manage/icon-promo@2x.png);
    }
}