.kuyam-subnav{
    background: rgba(245, 245, 245, .5);
    overflow:hidden;
    float:left;
    min-width: 194px;
}

.subnav-content{
    position:relative;
    height:100%;
    padding-top:71px;
    padding-bottom:10px;
}
.subnav-content .search-section{
    width:100%;
    padding:14px 15px;
}
.subnav-content .search-section .form-control,
.subnav-content .search-section .form-control:focus{
    height: 28px;
    color: $positive;
    padding-right: 25px;
    font-weight: 700;
    font-style: italic;
    font-size:$p;
    border-color: rgba(36, 36, 36, .25);
    background:url(../images/dashboard/icon-search.png) right center no-repeat;
    background-size: 25px auto;
}
.subnav-content .search-section .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: 400;
    color: $base;
    opacity: 0.3;
}
.subnav-content .search-section .form-control::-moz-placeholder { /* Firefox 19+ */
    font-weight: 400;
    color: $base;
    opacity: 0.3;
}
.subnav-content .search-section .form-control:-ms-input-placeholder { /* IE 10+ */
    font-weight: 400;
    color: $base;
    opacity: 0.3;
}
.subnav-content .search-section .form-control:-moz-placeholder { /* Firefox 18- */
    font-weight: 400;
    color: $base;
    opacity: 0.3;
}
.subnav-content .add-link-section{
    width:100%;
    padding:28px 24px 0;
    left: 0;
    position: absolute;
    top: 0;
    text-align: center;
}
.subnav-content .add-link{
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #3d91ff;
    text-decoration: underline;
}
.subnav-content .add-link .prefix{
    font-size:.875em;
    position: relative;
}
.subnav-content .add-link .text{
    font-size:.875em;
}
.subnav-list{
    position: relative;
    height: 100%;
    overflow:hidden;
}
.on-nicescroll .subnav-list .wrap-dropdown-menu-inner{
    max-height: 100%;
}
.on-device .subnav-list{
    overflow-y: auto;
}
.subnav-list ul{
    margin:0;
    padding:0;
    list-style: none;
    word-wrap: break-word;
}
.subnav-ul > li {
    clear: both;
    padding-bottom: 8px;
}
.subnav-ul > li > a:before, .subnav-ul > li > a:after {
    content: "";
    display: table;
}

.subnav-ul > li > a:after {
    clear: both;
}
.subnav-ul > li > a{
    display:block;
    padding:5px 24px 0;
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-weight: 700;
    color:#242424;
    zoom: 1;
}
.subnav-ul > li > a:hover {
    background:transparent;
}
.subnav-ul[data-dropdown="false"] > li > a:hover {

     text-transform: capitalize ;
     font-weight:700 !important;
     background: transparent;
}
.subnav-ul > li > a .text{
    font-size:.8125em;
    float:left;
    display:inline-block;
    max-width:50%;
    margin-right:5px;
}
.subnav-ul > li > a .text:first-letter{
    text-transform: uppercase;
}
.subnav-ul[data-dropdown="false"] > li > a .text {
    float: none;
    max-width: 100%;
    margin-right: 0;
}
.subnav-ul > li > a .total{
    float:left;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:.6em;
    line-height:13px;
    display: inline-block;
    min-width:13px;
    height:13px;
    padding:0 3px;
    text-align:center;
    border-radius: 6px;
    background:#509cfe;
}
.subnav-ul > li > a .icon{
    float:right;
    height:22px;
}
.subnav-ul > li.open > a .icon-collapse{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.subnav-ul > li ul{
    display: none;
    clear: both;
}
.subnav-ul > li li a{
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size:.8125em;
    text-transform:capitalize;
    display:block;
    padding:0 24px 0 35px;
    color:#555;
    text-decoration: none;
}
.subnav-ul > li li a:hover {
    background:transparent;
    color: #3d91ff;
    font-weight: 700;
}
.subnav-ul > li li.active a{
    color:#3d91ff;
}
.subnav-ul[data-dropdown="false"] > li > a{
    text-transform: capitalize;
}
.subnav-ul[data-dropdown="false"] > li.active > a{
    font-family:Lato, sans-serif;
    font-weight: 700;
}
.subnav-ul[data-dropdown="false"] > li > a .text{
    float:none;
    max-width:100%;
    margin-right:0;
    font-size:.875em;
}

@media (max-width: 1023px){
    .kuyam-subnav{
        position: absolute;
        left: -100%;
        height: 0;
    }
}
