#accordion-booking{padding:15px;background:#EBF2F6;}
#accordion-booking .panel{box-shadow:none;border:0 none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
#accordion-booking .panel + .panel{margin-top:10px;}
#accordion-booking .panel-title img{width:49px;margin-right:20px;}
#accordion-booking .panel-title a{display:block;color:#fff;font-size:24px;padding:22px 15px 22px 65px;text-decoration:none;background:#f3472d;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;position:relative;}
#accordion-booking .panel-title a .offer-time{display:block;}
#accordion-booking .panel-title a .offer-sale-off{display:none;}
#accordion-booking .panel-title a.collapsed{background:#fff;color:#f3472d;}
#accordion-booking .panel-title a.collapsed .offer-time{display:none;}
#accordion-booking .panel-title a.collapsed .offer-sale-off{display:block;}
#accordion-booking .panel-default > .panel-heading{ padding:0;border:0 none;background:transparent;}
#accordion-booking .panel-default > .panel-heading .number{position:absolute;top:10px;left:10px;display:inline-block;width:49px;height:49px;border:3px solid #fff;text-align:center;line-height:38px;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;}
#accordion-booking .panel-default > .panel-heading .offer{font-family:ralewaybold, sans-serif;float:right;margin:0 0 0 20px;}
#accordion-booking .panel-default > .panel-heading .icon-down{width:22px;height:12px;display:inline-block;background:url(images/assets/arrow_up_white.png) center center no-repeat;background-size:contain;}
#accordion-booking .panel-title .collapsed .number{border:3px solid #f3472d;}
#accordion-booking .panel-title .collapsed .icon-down{background-image:url(images/assets/icon_arrow_red_down.png);}
#accordion-booking .panel-default > .panel-heading + .panel-collapse .panel-body{border:0 none;}
#accordion-booking .panel-body h2{text-align:center;font:28px/32px ralewaybold, sans-serif;color:#f3472d;}

.booking-multi{padding:15px 0 5px;}
.booking-multi > .section-header{margin-bottom:10px;}
.booking-multi #accordion-booking .panel{border:1px solid #D5D9DC;overflow:inherit;}
.booking-multi #accordion-booking .panel-default > .panel-heading .number{border-color:#333;color:#333;width:30px;height:30px;line-height:24px;border-width:2px;top:8px;}
.booking-multi #accordion-booking .panel-title a{background:#fff;color:#333;font-size:16px;font-family:ralewaybold, sans-serif;padding:15px 50px;}
.booking-multi #accordion-booking .panel-default > .panel-heading .icon-down{position:absolute;right:20px;top:18px;background-image:url(images/assets/icon-down-black.png);height:9px;width:14px;}
.booking-multi #accordion-booking .panel-default > .panel-heading .collapsed .icon-down{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
.booking-multi .panel-info{width:auto;padding-bottom:10px;}
.booking-multi .panel-info > .btn-orange{font-size:24px;font-family:bebas_neueregular, sans-serif;text-decoration:none;}
.booking-multi .price-info{font-size:16px;line-height:20px;font-family:ralewaybold, sans-serif;}
.booking-multi .price-info .table-cell{padding:10px 5px;}
.booking-multi .price-info .table-cell:first-child{padding-left:35px;}
.booking-multi .price-info .table-cell:last-child{padding-right:35px;}
.booking-multi .regular-price-row{font-size:15px;color:#333;font-family:ralewaysemibold, sans-serif;}
.booking-multi .regular-price-row .table-cell{padding-top:0;padding-bottom:20px;}
.booking-multi .new-price-row{color:#333;background:#ebf2f6;}
.booking-multi #accordion-booking .panel-title a .offer-time{display:none;}
.booking-multi #accordion-booking .panel-title a .offer-sale-off,
.booking-multi .savings-row{color:#f3472d;}
.booking-multi .savings-row .table-cell{padding-top:20px;padding-bottom:0;}
.booking-multi #accordion-booking .panel-body h2{margin:15px 0;}
.booking-multi .panel-info > .btn{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;line-height:40px;}
.booking-multi .panel-info p{font-size:12px;line-height:15px;}
.booking-multi .panel-description{margin:0 35px 15px;font-size:14px;height:44px;overflow:hidden;}
.booking-multi .panel-description.opened{height:auto;}
.booking-multi .panel-description .short-description{max-height:44px;overflow:hidden;position:relative;}
.booking-multi .panel-description .full-description,
.booking-multi .panel-description.show-full .short-description{display:none;}
.booking-multi .panel-description.show-full .full-description{display:block;}
.booking-multi .panel-description a.color-orange,
.booking-multi .panel-description a.color-orange:hover{background:#fff;text-decoration:none;color:#f3472d;position:absolute;bottom:5px;right:0;}
.booking-multi .panel-description .toggle,
.booking-multi .panel-description .toggle:hover{text-decoration:none;color:#f3472d;}

.multi-page .section-header,
.multi-page .timer-section{padding:0 !important;}
.multi-page .event-section .section-header h2{font-size:32px;font-family:ralewaybold, sans-serif;}
.multi-page .event-section .section-header h3{font-size:24px;font-family:ralewaybold, sans-serif;}
.multi-page .event-section .section-header h4{font-size:22px;font-family:ralewaybold, sans-serif;}
.multi-page .event-section .section-header h5{font-size:18px;font-family:ralewaybold, sans-serif;margin-bottom:10px;}
.multi-page .article-list .section-header h3{font-family:ralewaybold,sans-serif;font-size:24px;margin:15px 0;}
.multi-page .multi-time{text-align:right;}
.multi-page .article-list .section-header{margin:0;}
.multi-page .article-block{margin-top:15px;}
.multi-page .social-icons{background:#f1f6f9;padding:20px 0;}
.multi-page .social-icons dt{text-align:center !important;font:20px/24px ralewaysemibold,sans-serif;}
.multi-page .spot-bar .guests-going{font-size:16px;color:#f3472d;width: inherit;text-align: left;}
.multi-page .spot-bar .spots-left{font-size:16px;text-align: left;width: inherit;float: right;}
.multi-page .new-spot-event .bar-btn .btn-orange{font-size:30px;line-height:60px;}
.multi-page .new-spot-event .spot-content h2{margin-bottom:0;}
.multi-page .new-spot-event .spot-content h2 + p{margin-bottom:25px;}

@media (max-width:991px){
    .multi-page .multi-time{text-align:left;}
}
@media (max-width: 767px){
    .booking-multi #accordion-booking{padding:10px;}
    .booking-multi #accordion-booking .panel-title a{font-size:13px;}
    .booking-multi .price-info{font-size:14px;}
    .booking-multi .new-price-row .table-cell:first-child,
    .booking-multi .regular-price-row{font-size:12px;}
    .booking-multi .panel-info > .btn-orange{font-size:20px;line-height:32px;}

    .multi-page .section-header h4{font-size:16px;line-height:22px;}
    .multi-page .event-section .section-header h5{font-size:16px;line-height:20px;margin-bottom:0;}
    .multi-page .event-section .section-header h4{font-size:15px;line-height:22px;}
    .multi-page .event-section .section-header h3{font-size:15px;line-height:24px;}
    .multi-page .event-section .section-header .multi-time h5{font-size:14px;line-height:18px;}
    .multi-page .new-spot-event .spot-content h2{font-size:20px;line-height:24px;margin-bottom:5px;}
    .multi-page .new-spot-event .spot-content p{font-size:12px;line-height:16px;}
    .multi-page .social-icons{border:1px solid #d5d9dc;padding:10px 0;}
    .multi-page .social-icons dt{font-size:12px;float:left;padding:0 20px 0 10px}
    .multi-page .social-icons dd{float:left;width:inherit;margin-left:10px;}
    .multi-page .social-icons dd img{width:25px;}
    .multi-page .spot-bar .guests-going strong,
    .multi-page .spot-bar .spots-left strong,
    .multi-page .spot-bar .guests-going,
    .multi-page .spot-bar .spots-left{font-size:11px;line-height:15px;}
    .multi-page .new-spot-event .bar-btn .btn-orange{font-size:20px;line-height:30px;}
    .multi-page .new-spot-event .spot-bar{border:1px solid #d5d9dc;border-bottom:0;height:40px;padding-left: 30px;}
    .multi-page .new-spot-event .spot-bar .progress{height:6px;}

    .panel-info{width:90%;}

    #accordion-booking{padding-left:0;padding-right:0;}
    #accordion-booking .panel-title a{padding-left:52px;font-size:16px;padding:17px 10px 17px 52px;font-family:ralewaybold, sans-serif;}
    #accordion-booking .panel-default > .panel-heading .number{width:32px;height:32px;line-height:23px;margin-right:10px;}
    #accordion-booking .panel-default > .panel-heading .offer{margin-left:10px;}

    .price-info{font-size:18px;line-height:22px;}
}
