.company-settings-page {
    .carousel {
        height: 338px;

        @media (max-width:767px) {
            height: 220px;
        }

        @media (max-width:359px) {
            height: 186px;
        }
    }

    .carousel-inner {
        > .item {
            height: 338px;

            @media (max-width:767px) {
                height: 220px;
            }

            @media (max-width:359px) {
                height: 186px;
            }
        }

        &:after {
            @media (max-width: 767px) {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 48px;
                background: url(../images/ui/pages/company/settings/banner-img-bottom.png) center bottom repeat-x;
                background-size: auto 48px;
            }
        }
    }

    .header-banner {
        position: relative;
        height: 338px;
        background: #666;

        @media (max-width:767px) {
            height: 220px;
        }

        @media (max-width:359px) {
            height: 186px;
        }

        &:hover {
            .control {
                visibility: visible;
                opacity: 1;
            }
        }

        &.default {
            cursor: default;

            .carousel-inner {
                > .item {
                    background-image: none !important;
                }

                &:after {
                    display: none;
                }
            }

            .control {
                visibility: hidden;
                opacity: 0;
            }

            .upload {
                width: 217px;
                height: 51px;
                top: 50%;
                left: 50%;
                border: 1px solid rgba(255, 255, 255, .31);
                background: rgba(0, 0, 0, .24) none;
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
                text-align: center;
                margin:-25px 0 0 -108px;
                line-height: 49px;
                font-size: $s15;
                font-family: $primary;
                color: $white;
                visibility: hidden;
                opacity: 0;

                &:before {
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 14px;
                    background: url(../images/ui/pages/company/settings/icon_upload.png) center center no-repeat;
                    background-size: 16px auto;
                    margin-right: 5px;
                    position: relative;
                    bottom: -2px;

                    @media
                    only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
                    only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
                    only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
                    only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
                    only screen and (              min-resolution:120dpi)      and (min-width:320px),
                    only screen and (               min-resolution:2dppx)      and (min-width:320px){
                        background-image: url(../images/ui/pages/company/settings/icon_upload@3x.png);
                    }
                }
            }

            &:hover {
                .upload {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        .control {
            margin: -25px 0 0 -121px;
            padding: 0;
            list-style: none;
            height: 51px;
            font-size: $s15;
            font-family: $primary;
            color: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            border: 1px solid rgba(255, 255, 255, .31);
            background: rgba(0, 0, 0, .24);
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
            text-align: center;
            z-index: 3;
            visibility: hidden;
            opacity: 0;
            transition: visibility 2s, opacity 2s;

            @media (max-width: 767px) {
                height: 55px;
                display: block;
                margin-left: -81px;
            }

            li {
                float: left;
                width: 80px;
                height: 49px;
                cursor: pointer;

                @media (max-width: 767px) {
                    height: 53px;
                }

                &:hover {
                    font-weight: 700;
                }

                + li {
                    span {
                        border-left: 1px solid rgba(255, 255, 255, .5);
                    }
                }

                span {
                    display: block;
                    margin: 15px 0;
                    line-height: 19px;

                    @media (max-width: 767px) {
                        font-size: 0;
                        margin-top:15px;
                        line-height: 0;
                    }

                    &:before {
                        @media (max-width: 767px) {
                            content: '';
                            display: inline-block;
                            width: 23px;
                            height: 23px;
                            background: url(../images/ui/pages/company/settings/icon_photo.png) no-repeat;
                            background-size: 23px auto;
                        }

                        @media
                        only screen and (-webkit-min-device-pixel-ratio:1.25)      and (max-width:767px),
                        only screen and (   min--moz-device-pixel-ratio:1.25)      and (max-width:767px),
                        only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (max-width:767px),
                        only screen and (        min-device-pixel-ratio:1.25)      and (max-width:767px),
                        only screen and (              min-resolution:120dpi)      and (max-width:767px),
                        only screen and (               min-resolution:2dppx)      and (max-width:767px) {
                            background-image: url(../images/ui/pages/company/settings/icon_photo@3x.png);
                        }
                    }
                }

                &.edit {
                    span {
                        &:before {
                            background-position: 0 0;
                        }
                    }

                    @media (max-width: 767px) {
                        display: none;
                    }
                }

                &.change {
                    span {
                        &:before {
                            background-position: 0 0;
                        }

                        @media (max-width: 767px) {
                            border-left: 0 none;
                        }
                    }
                }

                &.delete {
                    span {
                        &:before {
                            background-position: 0 -23px;
                        }
                    }
                }
            }
        }

        .upload {
            position: absolute;
            z-index: 3;
            visibility: hidden;
            opacity: 0;
            transition: visibility 2s, opacity 2s;

            &:hover {
                font-weight: 700;
            }

            @media (max-width: 767px) {
                line-height: 0;
                font-size: 0;
                visibility: visible;
                opacity: 1;
                width: 45px;
                height: 33px;
                background: url(../images/ui/pages/company/settings/icon_camera.png) center center no-repeat;
                background-size: 21px auto;
                top: inherit;
                left: inherit;
                right: 0;
                bottom: 0;
                border: 0 none;
                box-shadow: none;
            }

            @media
            only screen and (-webkit-min-device-pixel-ratio:1.25)      and (max-width:767px),
            only screen and (   min--moz-device-pixel-ratio:1.25)      and (max-width:767px),
            only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (max-width:767px),
            only screen and (        min-device-pixel-ratio:1.25)      and (max-width:767px),
            only screen and (              min-resolution:120dpi)      and (max-width:767px),
            only screen and (               min-resolution:2dppx)      and (max-width:767px) {
                background-image: url(../images/ui/pages/company/settings/icon_camera@3x.png);
            }
        }
    }
}
