.company-settings-page {
    .carousel {
        height: 338px;

        @media (max-width:767px){
            height:320px;
        }
    }

    .carousel-inner{
         > .item {
            height: 338px;

            @media (max-width:767px){
                height:320px;
            }
        }
    }
}
