.company-settings-page {
    font-size: 16px;
    line-height: 150%;
    font-family: $primary;

    .main-content{
        padding:0;
    }

    .content{
        width: 715px;
        float: left;
        padding:14px 38px 20px;
        border-left: 1px solid rgba(0, 0, 0, .3);

        @media (max-width: 1269px) {
            width: calc(100% - 131px);
        }

        @media (max-width: 767px){
            border-left: 0 none;
            float: none;
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }

        &.company-connect{
            width: calc(100% - 131px);
        }

        header{
            @media (max-width: 767px){
                display: none;
            }

            h3{
                font-size: $s27;
                line-height: 34px;
                font-family: $primary;
                color: #f2472d;
                margin:0 0 17px;

                small{
                    font-style: italic;
                    font-size: 14px;
                    color: $base;
                }
            }
        }

        .section{
            padding-bottom: 5px;
        }

        .row{
            margin-left: -8px;
            margin-right: -8px;
        }

        div[class*="col-"]{
            padding-left: 8px;
            padding-right: 8px;
            margin-bottom: 18px;
        }

        .bootstrap-select {
            font-size: 16px;
            font-family: 'lato', sans-serif;

            > .btn,
            > .btn:focus,
            > .btn:active,
            > .btn:hover,
            > .btn:visited,
            &.open > .btn,
            &.open > .btn:focus,
            &.open > .btn:active,
            &.open > .btn:hover,
            &.open > .btn:visited{
                font-family: 'lato', sans-serif;
                font-size: $h5;
                min-height: 38px;
                height: 38px;
                padding-left: 15px;
                padding-right: 35px;
                border-color: $border;

               /*@media (max-width:767px){
                    padding-left: 10px;
                    padding-right: 35px;
                }*/
            }

            &.btn-group {
                .btn {
                    .caret {
                        width:21px;
                        height:15px;
                        background-image: url(images/ui/pages/company/settings/icon_select.png);
                        background-size: 21px auto;
                        margin-top: -7px;
                        right: 10px;

                        /*@media (max-width:767px){
                            width:15px;
                            background-size: 15px auto;
                            right: 10px;
                        }*/
                    }
                }
            }

            .dropdown-menu {
                font-size: 16px;

                > li {
                    font-size: $h5;

                    > a {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }

        .label-form{
            display: block;
            font-family: $primary;
            font-size: $h5;
            line-height: 25px;
            color: $base;
            margin-top: 18px;
            margin-bottom: 6px;
        }

        footer{

            @media (max-width: 767px){
                margin:0 -10px;

                &:after{
                    content:'';
                    display: block;
                    clear:both;
                }
            }

            .btn {
                width: 146px;
                height: 44px;
                border-radius: 0;
                margin-right: 16px;
                font-family: $primary;
                font-size: $h5;

                @media (max-width: 767px){
                    float: left;
                    width: calc(50% - 20px);
                    margin:0 10px;
                }
            }
        }
    }
}
