.company-settings-page {
    .payment-method{
        .method-section {
            .method{
                margin-bottom: 24px;

                @media (max-width: 767px){
                    margin-bottom: 32px;
                }

                @media (max-width: 359px){
                    margin-bottom: 22px;
                }

                + .method {
                    .section {
                        height: auto;
                    }
                }

                &:last-child{
                    margin: 0;
                }

                .radio-mark {
                    margin-bottom: 6px;

                    ~ .radio-label{
                        @media(max-width: 767px){
                            margin-bottom: 12px;
                        }

                        @media (max-width: 359px){
                            font-size: $s13;
                            margin-bottom: 8px;
                        }
                    }
                }

                .section{
                    position: relative;
                    height: 45px;

                    @media (max-width: 767px){
                        min-height: 39px;
                        height: inherit;
                    }

                    @media (max-width: 359px){
                        min-height: 33px;
                    }

                    .btn{
                        display: block;
                        width: 262px;
                        height: 46px;
                        background: center center no-repeat;
                        background-size: 262px auto;
                        padding:0;

                        @media (max-width: 767px){
                            width: 217px;
                            height: 39px;
                            background-size: 217px auto;
                        }

                        @media (max-width: 359px){
                            width: 191px;
                            height: 35px;
                            background-size: 193px auto;
                        }

                        &.btn-stripe-connect{
                            background-image: url(images/ui/pages/company/settings/btn_stripe_connect.png);
                            margin-top: 1px;

                            @media
                            only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
                            only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (              min-resolution:120dpi)      and (min-width:320px),
                            only screen and (               min-resolution:2dppx)      and (min-width:320px){
                                background-image: url(images/ui/pages/company/settings/btn_stripe_connect@3x.png);
                            }
                        }

                        &.btn-stripe-connected{
                            background-image: url(images/ui/pages/company/settings/btn_stripe_connected.png);

                            @media
                            only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
                            only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (              min-resolution:120dpi)      and (min-width:320px),
                            only screen and (               min-resolution:2dppx)      and (min-width:320px){
                                background-image: url(images/ui/pages/company/settings/btn_stripe_connected@3x.png);
                            }
                        }
                    }

                    ul{
                        margin:0;
                        padding:0;
                        list-style: none;

                        li{
                            float: left;
                            color: #ff5454;
                            font-size: $h5;
                            font-family: $primary;
                            line-height: 42px;

                            @media (max-width: 767px){
                                font-size: $s15;
                                line-height: 28px;
                                float: none;
                            }

                            @media (max-width: 359px){
                                font-size: $s13;
                                line-height: 19px;
                            }

                            + li{
                                margin-left: 24px;
                                font-size: 16px;

                                @media (max-width: 767px){
                                    margin-left: 0;
                                    margin-top: 10px;
                                }

                                @media (max-width: 359px){
                                    margin-top: 12px;
                                }
                            }

                            .btn-reconnect{
                                width: 126px;
                                height: 40px;
                                font-size: $s15;
                                font-family: $primary;
                                border-radius: 0;

                                @media (max-width: 767px){
                                    width: 100%;
                                    height: 38px;
                                    font-size: $s21;
                                }

                                @media (max-width: 359px){
                                    height: 32px;
                                    font-size: $s17;
                                }

                                &:before{
                                    content: '';
                                    display: inline-block;
                                    width: 14px;
                                    height:12px;
                                    background: url(images/ui/pages/company/settings/icon_reconnect.png) center center no-repeat;
                                    background-size: 14px auto;
                                    position: relative;
                                    top:0;
                                    margin-right: 5px;

                                    @media (max-width: 359px){
                                        top: 1px;
                                    }

                                    @media
                                    only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
                                    only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
                                    only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
                                    only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
                                    only screen and (              min-resolution:120dpi)      and (min-width:320px),
                                    only screen and (               min-resolution:2dppx)      and (min-width:320px){
                                        background-image: url(images/ui/pages/company/settings/icon_reconnect@3x.png);
                                    }
                                }
                            }
                        }
                    }

                    .row {
                        margin-top:8px;

                        @media (max-width: 359px){
                            margin-top: 11px;
                        }
                    }

                    &.disabled{
                        &:after{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            background: $rgba_white;
                            top: 0;
                            left: 0;
                        }

                    }
                }
            }
        }

        footer{
            margin-top: 12px;

            @media (max-width: 767px){
                margin-top: 22px;
            }
        }
    }
}
