.company-settings-page {
    .primary-contact{
        .private-section{
            padding-bottom: 9px;

            .row {
                .row{
                    div[class*="col-"]:last-child{
                        margin-bottom: 0;
                    }
                }
            }

            a{
                color: $positive;
                font-family: $primary;
                font-size: $s14;
                line-height: 17px;
                position: relative;
                top: -5px;
            }
        }
    }
}
