.receipt-history-section {
    min-height: 200px;
    padding-top: 30px;
}
.receipt-history-content {
    width: 812px;
    margin: 0 auto;
}
.receipt-history-section .section-header {
    border-bottom: solid 2px #c2c2c2;
    padding: 10px 0px;
    display: inline-block;
}
.receipt-history-section .receipt-total {
    display: inline-block;
    width: 38px;
    height: 38px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    background-color: #97bc47;
    color: white;
    text-align: center;
    font: 22px/38px 'Lato', sans-serif;
    font-weight: 500;
    margin: 0 0 0 10px;
}
.receipt-download {
    text-align: right;
    margin: 15px 0 0;
}
.receipt-download a {
    font-size: 15px;
    font-weight: bold;
    color: #ababab;
    text-decoration: none;
    padding-left: 15px;
}
.receipt-download a:hover {
    color: #333333;
    text-decoration: none;
}
.receipt-download .glyphicon {
    background: center center no-repeat;
    width: 24px;
    height: 26px;
    vertical-align: bottom;
}
.receipt-download .receipt-icon-download {
    background-image: url(images/icons/icon_downloadreceipt.png);
}
.receipt-download a:hover .receipt-icon-download {
    background-image: url(images/icons/icon_downloadreceipt_black.png);
}
.receipt-download .receipt-icon-print {
    background-image: url(images/icons/icon_printreceipt.png);
}
.receipt-download a:hover .receipt-icon-print {
    background-image: url(images/icons/icon_printreceipt_black.png);
}
.receipt-sort-search {
    padding-top: 20px;
}
.receipt-sort-search .receipt-sort {
    font: 16px/30px 'Lato', sans-serif;
    font-weight: 500;
}
.receipt-sort .sort-by-date,
.receipt-sort .sort-by-date-range,
.receipt-sort .receipt-select-payment {
    float: left;
}
.receipt-sort .receipt-select-payment select {
    height: 30px;
    width: 166px;
}
.receipt-sort .sort-by-date-range {
    padding-right: 40px;
    padding-left: 10px;
}
.sort-by-date-range .receipt-input-date {
    width: 80px;
    text-align: center;
    margin: 0px 10px;
    height: 30px;
}
.receipt-sort-search .search-form {
    float: right;
    width: 244px;
    border: solid 1px #ababab;
    background: url(images/icons/icon_search.png) no-repeat 10px center;
    padding: 0 10px 0 28px;
    border-radius: 0;
}
.receipt-sort-search .search-form .form-control {
    height: 28px;
    font: 16px/20px 'Lato', sans-serif;
    font-weight: 500;
    border: 0 none;
    box-shadow: none;
}
.receipt-list {
    font: 16px/20px 'Lato', sans-serif;
    font-weight: 500;
    padding-top: 20px;
}
.receipt-list .receipt-header {
    color: #ababab;
}
.receipt-list .receipt-col {
    float: left;
    padding: 5px 7px;
}
.receipt-list .receipt-date {
    width: 95px;
    text-align: right;
    padding-left: 12px;
}
.receipt-list .receipt-time {
    width: 90px;
    text-align: right;
}
.receipt-list .receipt-category {
    width: 150px;
}
.receipt-list .receipt-company-name {
    width: 300px;
}
.receipt-list .receipt-payment {
    width: 100px;
    text-align: right;
}
.receipt-list .receipt-bill {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.receipt-list .receipt-item {
    border: solid 1px #c7c7c7;
    margin-bottom: 10px;
}
.receipt-list .receipt-more {
    float: right;
    line-height: 0;
}
.receipt-list .receipt-more .receipt-dropdown {
    background: url(images/icons/icon_receipt_dropdown.png) center center no-repeat;
    width: 19px;
    height: 11px;
    display: inline-block;
    cursor: pointer;
    padding-top: 25px;
    margin: 0 10px;
}
.receipt-list .receipt-more .receipt-dropdown-up {
    background: url(images/icons/icon_receipt_dropdown_up.png) center center no-repeat;
}
.receipt-list .receipt-details {
    padding: 10px 0;
    display: none;
}
.receipt-list .receipt-details-left .receipt-col-1 {
    float: left;
    width: 185px;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}
.receipt-list .receipt-details-left .receipt-col-2 {
    float: left;
    width: 190px;
    padding: 0 0 0 14px;
}
.receipt-list .receipt-details .receipt-details-right {
    width: 290px;
    margin: 0 0 0 20px;
}
.receipt-list .receipt-details-right .receipt-col-3 {
    float: left;
    width: 185px;
}
.receipt-list .receipt-details-right .receipt-col-4 {
    float: left;
    width: 90px;
    padding: 0 0 0 14px;
    text-align: right;
}
.receipt-list .receipt-item-details .detail-item-line {
    padding-right: 5px;
}
.receipt-list .receipt-item-details .detail-item-line1 {
    height: 1px;
    background-color: #ababab;
    margin: 11px 0px;
}
.receipt-list .receipt-review {
    text-align: right;
    padding-right: 20px;
}

@media (max-width: 991px) {
    .receipt-history-section .section-header {
        border: 0 none;
        padding: 0;
    }
    .receipt-sort-search {
        padding: 0;
    }
    .receipt-history-content {
        width: 100%;
    }
    .receipt-sort .sort-by-date {
        float: none;
        margin: 15px 0;
    }
    .receipt-sort .sort-by-date-range {
        float: none;
        text-align: center;
        padding: 0;
    }
    .sort-by-date-range .receipt-input-date {
        width: 32%;
    }
    .receipt-sort .receipt-select-payment {
        float: none;
        margin: 15px 0;
    }
    .receipt-sort .receipt-select-payment select {
        width: 100%;
    }
    .receipt-sort-search .search-form {
        float: none;
        width: 100%;
    }
    .receipt-download {
        text-align: center;
    }
    .receipt-history-section .receipt-date {
        text-align: left;
    }
    .receipt-list .receipt-company-name {
        width: 70%;
    }
    .receipt-list .receipt-payment {
        float: right;
    }
    .receipt-list .receipt-time {
        width: 95px;
        text-align: left;
        padding-left: 12px;
    }
    .receipt-list .receipt-more .receipt-dropdown {
        margin: 0;
    }
    .receipt-list .receipt-details-left .receipt-col-1 {
        width: 45%;
    }
    .receipt-list .receipt-details-left .receipt-col-2 {
        width: 50%;
    }
    .receipt-list .receipt-details .receipt-details-right {
        width: auto;
        margin: 20px 35px;
    }
    .receipt-list .receipt-details-right .receipt-col-3 {
        width: 73%;
    }
    .receipt-list .receipt-details-right .receipt-col-4 {
        float: right;
        width: 25%;
    }
}

@media (max-width: 767px) {
    .sort-by-date-range .receipt-input-date {
        width: 35%;
    }
    .receipt-list .receipt-item {
        margin-left: -15px;
        margin-right: -15px;
    }
    .receipt-list .receipt-col {
        padding: 5px;
    }
    .receipt-list .receipt-date {
        width: 26%;
    }
    .receipt-list .receipt-company-name {
        width: 49%;
    }
    .receipt-list .receipt-payment {
        width: 25%;
    }
    .receipt-list .receipt-time {
        width: 26%;
    }
    .receipt-list .receipt-category {
        width: 49%;
    }
}

@media (max-width: 480px) {
    .receipt-history-section .receipt-header {
        font-size: 24px;
        line-height: 28px;
    }
    .receipt-list {
        font-size: 14px;
        line-height: 18px;
    }
}
