/* giftcard-dashboardmail */

.dashboardmail {
    padding: 17px 0 30px;
}

.dashboardmail .section-header {
    margin: 0 0 15px;
}

.dashboardmailleft div {
    margin: -10px 5px 20px;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
}

.dashboardmailright {
    font-size: 16px;
    line-height: 20px;
    color: #666666;
}

.dashboardmailright .boxamount {
    float: left;
    width: 200px;
}

.dashboardmailright .boxamount .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.dashboardmailright .boxamount .bootstrap-select > .btn {
    background: #F9FAFA;
    height: 42px;
    border: 1px solid #CBCBCB;
    font: 16px/20px 'Lato', sans-serif;
    font-weight: 500;
    padding-left: 0;
}

.dashboardmailright .boxamount .bootstrap-select.btn-group .btn .filter-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 93%;
    margin-left: 12px;
}

.dashboardmailright .boxamount .bootstrap-select.btn-group .btn .caret {
    width: 23px;
    height: 13px;
    background: url(images/icons/icon_dropdown.png) center center no-repeat;
    border: 0 none;
    margin-top: -5px;
}

.dashboardmailright .radioemail {
    float: left;
    margin: 7px 0 0 32px;
}

.dashboardmailright .radioemail input[type="radio"] {
    margin: 0 4px 0 0;
    padding: 0;
    -webkit-appearance: radio;
}

.dashboardmailright .radiomail {
    float: left;
    margin: 7px 0 0 42px;
}

.dashboardmailright .radiomail input[type="radio"] {
    margin: 0 5px 0 0;
    padding: 0;
    -webkit-appearance: radio;
}

.dashboardmailright .btnpurchase {
    float: right;
    background: #27AAE1; /*url(images/btnpurchase.png) no-repeat;*/
    color:#ffffff;
    width: 188px;
    height: 32px;
    padding: 0;
    margin: 0 0 2px;
    border: 0 none;
}

.boxdashboardmailright {
    padding: 17px 0 9px;
}

.boxdashboardmailright .boxcenter {
    border: 1px solid #CBCBCB;
    background: #F9FAFA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.boxdashboardmailright .boxcenter .labelblock {
    display: block;
    margin-bottom: 4px;
}

.boxdashboardmailright .boxcenter .arangedate {
    float: right;
    color: #29ABE2;
    margin-right: 6px;
}

.boxdashboardmailright .boxcenter .cbpremium-list {
    padding: 13px 0 20px;
}

.boxdashboardmailright .boxcenter .cbpremium {
    float: left;
    margin-right: 20px;
}

.boxdashboardmailright .boxcenter .shippcost {
    font-weight: bold;
    color: #000000;
    margin: 11px 6px 19px;
}

.boxdashboardmailright .boxcenter input[type="text"] {
    color: #666666;
    height: 41px;
    border: 1px solid #999999;
    padding: 0 8px;
    margin: 0 0 6px;
    font: 16px/41px Arial, Helvetica, sans-serif;
}

.boxdashboardmailright .boxcenter input[type="text"].watermark {
    color: #B3B3B3;
}

.boxdashboardmailright .boxcenter .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.boxdashboardmailright .boxcenter input.txtlarge {
    width: 46%;
}

.boxdashboardmailright .boxcenter input.txtmedium {
    width: 25%;
    margin-left: 1%;
}

.boxdashboardmailright .boxcenter input[type="radio"] {
    margin: 0 3px 0 0;
    padding: 0;
    -webkit-appearance: radio;
}

.boxdashboardmailright .boxcenter textarea {
    resize: none;
    height: 120px;
    margin: -1px 0 7px;
    padding: 10px;
    border: 1px solid #999999;
    color: #666666;
}

.boxdashboardmailright .boxcenter .textassurance {
    padding: 4px;
    font-size: 14px;
    line-height: 18px;
}


/* GiftCardReceipt */

.GiftCardReceipt {
    padding: 26px 33px 26px 32px;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
}

.GiftCardReceipt .imgpurchased {
    text-align: center;
}

.GiftCardReceipt .receiptid {
    padding: 27px 0 5px;
}

.GiftCardReceipt .receiptid strong {
    margin-right: 5px;
}

.GiftCardReceipt .receiptid span {}

.GiftCardReceipt .receipttable {
    border: 1px solid #000000;
    padding-top: 14px;
    padding-right: 14px;
    padding-bottom: 13px;
    padding-left: 18px;
    margin-top: 2px;
}

.GiftCardReceipt .receipttable table {
    width: 100%;
}

.GiftCardReceipt .receipttable table th {
    padding-bottom: 9px;
    text-align: left;
    font-weight: normal;
}

.GiftCardReceipt .receipttable table th span {
    display: block;
    border-bottom: 1px solid #000000;
    padding-bottom: 12px;
}

.GiftCardReceipt .receipttable table td {
    vertical-align: top;
}

.GiftCardReceipt .receipttable table .odd td {
    padding-bottom: 18px;
}

.GiftCardReceipt .receipttable table .even td {
    padding-bottom: 14px;
}

.GiftCardReceipt .receipttable table .even td span {
    display: block;
    padding-left: 73px;
}

.GiftCardReceipt .receipttable table .receipttotal td {
    padding-bottom: 6px;
}

.GiftCardReceipt .receipttable table .receiptpaid td {
    border-top: 1px solid #000000;
    padding: 8px 0 5px;
}

.GiftCardReceipt .receiptcopy {
    padding: 18px 2px;
}

.requiresGiftCard {
    color: #ff0000;
    font-size: 12px;
}

.watermarkgiftcard {
    position: relative;
}

.watermarkgiftcard textarea {
    position: relative;
    z-index: 2;
    background: transparent;
}

.watermarkgiftcard .watermark {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    color: #B3B3B3;
    z-index: 1;
    display: block;
    background: #ffffff;
    height: 120px;
    padding: 11px;
}


/* giftcard-myaccountbalance */

.accountbalance {
    margin: 20px 0;
}

.accountbalance .boxsuccess {
    min-height: 44px;
    background: #fdf690;
    border: 1px solid #d9d9d9;
    color: #666666;
    font-style: italic;
    font-size: 16px;
    line-height: 44px;
    padding: 0 16px;
    margin: 0 0 4px;
}

.accountbalanceleft {
    position: relative;
}

.accountbalanceleft #amountValue {
    display: block;
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    text-align: center;
    font: 44px/44px 'Lato', sans-serif;
    font-weight: 800;
    color: #ffffff;
}

.accountbalanceright {
    margin: 24px 0 0;
}

.accountbalanceright .boxcenter {
    border: 1px solid #CBCBCB;
    background: #F9FAFA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.accountbalanceright .boxcenter .form-control {
    margin: 5px 0 8px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.accountbalanceright .boxcenter .btnredeem {
    float: right;
    background: url(../images/btnredeem.png) no-repeat;
    width: 188px;
    height: 32px;
    padding: 0;
    margin: 0 2px 2px 0;
    border: 0 none;
}

@media (min-width:768px) and (max-width:979px) {
    .desktop.ipad {
        display: none !important;
    }
    .iphone.ipad {
        display: block !important;
    }
    .rslides_tabs {
        display: none;
    }
}

@media (max-width:362px) {
    .useful-frame img {
        width: 100%;
    }
}

@media (max-width:320px) {}

.detech-devices .on-device {
    display: block !important;
}

.detech-devices .on-desktop {
    display: none !important;
}

textarea {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
}


/* scaffolding */

/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-menu {
    text-align: right;
}

.twitter-typeahead {
    width: 100%;
}

.a-fuzzy-suggestion {
    color: #c74124 !important;
    text-decoration: underline !important;
}

td ul {
    margin-top: 10px;
}

.hidden-mobile {
    display: inline-block !important;
}

.visible-mobile {
    display: none !important;
}

.kuyam-footer-fixed .kuyam-footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
