.useful-content {
    margin: -180px 0 0;
}

.useful-col .useful-frame {
    text-align: center;
}

.useful-frame img {
    width: auto;
}

.useful-col h3 {
    font: 28px/32px 'Lato', sans-serif;
    font-weight: 800;
    color: #96be3d;
    margin: 40px 0 10px;
}

.useful-col p {
    font: 22px/26px 'Lato', sans-serif;
    font-weight: 500;
    margin: 0 0 30px;
}
.how-it-works-content {}

.how-it-works-content p {
    font: 22px/26px 'Lato', sans-serif;
    font-weight: 500;
    margin: 0 0 30px;
}

.how-it-works-content .section-header {
    padding: 0 0 22px;
}

.how-it-works-content .section-header h2 {
    color: #333333;
}

.how-it-works-content .ui-tabs {
    background: none transparent;
    border: 0 none;
    padding: 0;
}

.how-it-works-content .ui-tabs .ui-tabs-nav {
    background: none transparent;
    border: 0 none;
    padding: 0;
    margin: 0 -15px 30px;
}

.how-it-works-content .ui-tabs .ui-tabs-nav li {
    width: 50%;
    background: none transparent;
    padding: 0 15px;
    margin: 0;
    border: 0 none;
}

.how-it-works-content .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    display: block;
    float: none;
    padding: 0;
    border: 1px solid #ABABAB;
    text-align: center;
    font: 22px/48px 'Lato', sans-serif;
    font-weight: 500;
    color: #ABABAB;
}

.how-it-works-content .ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor {
    background: #96be3d;
    border: 1px solid #96be3d;
    color: #ffffff;
}

.how-it-works-content .ui-tabs-panel {
    padding: 0;
}

.howboxcontent {
    z-index: 1;
    position: relative;
}

.howboxcontent ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.howboxcontent ul li {
    height: 275px;
}

.howboxcontent ul li.tabs {
    width: 64px;
    float: left;
    margin-left: 11px;
    overflow: hidden;
}

.howboxcontent ul li.tabs:first-child {
    margin: 0;
}

.howboxcontent ul li.tabs .headtab {
    float: left;
    width: 64px;
    height: 275px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ababab;
    cursor: pointer;
}

.howboxcontent ul li.tabs .headtab span {
    width: 275px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: -106px;
    bottom: 124px;
    font: 28px/64px 'Lato', sans-serif;
    font-weight: 500;
}

.howboxcontent ul li.tabs .headtab1 span {}

.howboxcontent ul li.tabs .headtab2 span {}

.howboxcontent ul li.tabs .headtab3 span {}

.howboxcontent ul li .contenttab {
    float: left;
    width: 716px;
    height: 275px;
    border: 1px solid #ababab;
    border-left: 0 none;
}

.howboxcontent ul li .contenttab .slidecontent {
    padding: 25px 15px;
    font: 22px/26px 'Lato', sans-serif;
    font-weight: 500;
}

.howboxcontent ul li .contenttab .slidecontent h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.howboxcontent ul li .contenttab .slidecontent .slidetext {
    min-height: 158px;
    max-height: 158px;
    border: 1px solid #ffffff;
}

.howboxcontent ul li.active {
    width: 780px;
}

.howboxcontent ul li.active .headtab {
    background: #ABD85C;
    border: 1px solid #ABD85C;
    color: #ffffff;
}

.howboxcontent ul li .slidecontent .slidearrow {
    text-align: right;
}

.howboxcontent ul li .slidecontent .slidearrow .arrow {
    display: inline-block;
    width: 67px;
    height: 67px;
    background: url(images/icons/icon_arrow_right.png) no-repeat;
    text-decoration: none;
}

.howboxcontent ul li .slidecontent .slidearrow .link-sign-up {
    float: left;
    display: inline-block;
    font: 26px/67px 'Lato', sans-serif;
    font-weight: 500;
    color: #ABD85C;
}

.howboxcontent ul li .slidecontent .slidearrow a:hover {
    text-decoration: none;
}

.how-it-works-content .ui-accordion .ui-accordion-header {
    background: none #DFDFDF;
    border: 0 none;
    padding: 0;
    font: 28px/65px 'Lato', sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 15px 0 0;
}

.how-it-works-content .ui-accordion .ui-state-active {
    background: none #96be3d;
    border: 0 none;
    color: #ffffff;
}

.how-it-works-content .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    display: none;
}

.how-it-works-content .ui-accordion .ui-accordion-content {
    background: none transparent;
    padding: 15px;
    border: 0 none;
    position: relative;
}

.how-it-works-content .ui-accordion .ui-accordion-content h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.how-it-works-content .ui-accordion .ui-accordion-content a {
    color: #96be3d;
}

.how-it-works-content .ui-accordion .ui-accordion-content .icon-down {
    width: 67px;
    height: 67px;
    background: url(images/icons/icon_arrow_down.png) no-repeat;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.business-details {}

.business-details .section-header {
    padding: 30px 0 15px;
}

.business-details p {
    font: 18px/22px 'Lato', sans-serif;
    font-weight: 500;
    margin: 0;
}

.lifestyle-content {}

.lifestyle-content .section-header {
    margin: 50px 0 0;
    padding: 50px 0 22px;
    border-top: 2px solid #ABABAB;
}

.lifestyle-content .section-header h2 {
    color: #333333;
}

.lifestyle-content p {
    font: 22px/26px 'Lato', sans-serif;
    font-weight: 500;
    margin: 0 0 30px;
}

.lifestyle-block {}

.lifestyle-type {
    background: #96be3d;
    height: 55px;
    text-align: center;
    font: 28px/55px 'Lato', sans-serif;
    font-weight: 800;
    color: #ffffff;
}

.lifestyle-frame {
    position: relative;
    margin-bottom: 30px;
    height: 300px;
    background: right top no-repeat;
    background-size: cover;
}

.lifestyle-frame .img-frame {
    width: auto;
    position: absolute;
}

.lifestyle-frame .beauty-frame-1 {
    top: -35px;
    left: -5px;
}

.lifestyle-frame .beauty-frame-2 {
    bottom: -15px;
    left: 65px;
}

.lifestyle-frame .beauty-frame-3 {
    right: -12px;
    bottom: -25px;
}

.lifestyle-frame .fitness-frame-1 {
    top: -20px;
    left: 15px;
}

.lifestyle-frame .fitness-frame-2 {
    right: 0;
    bottom: -15px;
}

.about-content {}

.about-content .section-header {
    margin: 30px 0;
}

.about-content .section-header h2 {
    color: #333333;
}

.about-content p {
    font: 22px/26px 'Lato', sans-serif;
    font-weight: 500;
    margin: 0 0 30px;
}

.about-content .btn-try {
    display: inline-block;
    width: auto;
    padding: 0 100px;
    font: 18px/42px 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 767px) {
        .useful-content {
        margin: 0;
        padding: 18px 0 15px;
        text-align: center;
    }
    .useful-col h3 {
        font-size: 24px;
        line-height: 28px;
        margin: 10px 0;
    }
    .useful-col p {
        margin: 0 0 10px;
    }
    .lifestyle-block {
        padding: 0;
    }
    .lifestyle-type {
        background: transparent;
        height: 55px;
        text-align: center;
        font-size: 21px;
        line-height: 55px;
        color: #85b127;
    }
    .lifestyle-frame {
        height: 250px;
    }
    .lifestyle-frame .beauty-frame-1 {
        top: -25px;
        right: 5px;
        left: auto;
    }
    .lifestyle-frame .beauty-frame-2 {
        bottom: -30px;
        left: 40px;
    }
    .lifestyle-frame .fitness-frame-1 {
        width: 90px;
        top: auto;
        right: 10px;
        bottom: -15px;
        left: auto;
    }
    .lifestyle-frame .fitness-frame-2 {
        width: 65px;
        top: auto;
        bottom: 85px;
        left: 10px;
    }
    .dashboardmailright .boxamount {
        float: none;
        width: 100%;
    }
    .boxdashboardmailright .boxcenter input.txtlarge {
        width: 100%;
    }
    .boxdashboardmailright .boxcenter input.txtmedium {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .useful-col p,
    .how-it-works-content p,
    .lifestyle-content p,
    .about-content p {
        font-size: 16px;
        line-height: 20px;
    }
}