<div class="kuyam-footer">
    <!-- .site-contact -->
    <section id="contact" class="site-contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 ">
                    <div class="site-address">
                        <ul>
                            <li><a class="logo" title="" href="#">
                            <img alt="" src="../../content/images/icons_2016/footer_logo_kuyam.png" />
                            </a></li>
                            <li class="contact-text">We love hearing your questions and feedback.<br/>Send us an email or give us a call!</li>
                            <li class="icon-location">1901 Avenue of the Stars, Suite 1900<br /> Los Angeles, CA 90067</li>
                            <li class="icon-phone">(310) 461-15151</li>
                            <li class="icon-email"><a title="info@kuyam.com" href="mailto:info@kuyam.com">info@kuyam.com</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /.site-contact -->

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <p>Copyright © 2014 Kuyam Companies, Inc.<br/>All rights reserved. Patent pending.</p>
                </div>
                <div class="col-xs-4">
                    <ul class="link-socials clearfix">
                        <li><a target="_blank" href="#" title="Comment"><span class="footer_icon_comment off "></span></a></li>
                        <li><a target="_blank" href="https://twitter.com/mykuyam" title="Twitter"><img alt="" src="../../content/images/icons_2016/footer_icon_facebook.png" /></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/mykuyam" title="Facebook"><img alt="" src="../../content/images/icons_2016/footer_icon_twitter.png" /></a></li>
                        <li class="hidden-xs"><p><a class="link-terms" href="#tabTerms" title="">Terms of use</a> and <a class="link-terms" href="#tabPrivacy" title="">privacy</a></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>