<!-- .site-header -->
<header class="site-header navbar navbar-static-top bs-docs-nav navbar-fixed-top">
    <div class="container">

        <!-- .navbar-header -->
        <div class="navbar-header">
            <div class="navbar-toggle collapsed" data-target="#bs-navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <a title="" href="#" class="account-user on-device">hi, Kourosh!</a>
            <a class="logo" title="" href="http://localhost:3000/sprints/sprint69/home.html"><img alt="" src="http://localhost:3000/content/images/icons_2016/header_logo_kuyam@2x.png" /></a>

        </div>
        <!-- /.navbar-header -->

        <!-- .search-form -->
        <div class="search-form ">

            <fieldset>
                <span class="icon-list"></span>
                <input class="form-control" type="text" value="Search for a business" onfocus="if (this.value == 'Search for a business') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Search for a business'; }" />
                <input type="button" class="btn-search" value=" " />
            </fieldset>
        </div>
        <!-- /.search-form -->

        <div class="clear on-desktop"></div>

        <!-- .navbar-collapse -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-right ">
                <li><a href="http://localhost:3000/sprints/sprint69/blog.html" title="lifestyle blog">Lifestyle blog</a></li>
                <li class=""><a href="http://localhost:3000/sprints/sprint69/how-it-works.html" title="how it works">How it works</a></li>
                <li class="have-icon">
                    <a class="link-account link-account-user" href="javascript:void(0);" title="">Hi <div class="username-header">Kourosh G.</div><span class="icon-down"></span></a>
                </li>
            </ul>

            <div id="nav-account" class="nav-account">
                <dl class="container clearfix">
                    <dt class="text-left">
                        <a href="http://localhost:3000/sprints/sprint69/favorites.html" title="Favourites"><span class="header_icon_favourites"></span>Favourites</a>
                        <a href="http://localhost:3000/sprints/sprint69/receipt.html" title="Receipt history"><span class="header_icon_receipt_history"></span>Receipt history</a>
                        <a href="http://localhost:3000/sprints/sprint68/appointments.html" title="Appointment" class="have-icon"><span class="header_icon_appointments"></span>Appointments<div class="badge">13</div></a>
                        <a href="#" title="Gift cards" ><span class="header_icon_gift_cards"></span>Gift cards</a>
                    </dt>
                    <dt class="text-right">
                        <a href="http://localhost:3000/sprints/sprint69/receipt.html" title="Sign out" data-toggle="modal" data-target="#signOutModal"><span class="header_icon_log_out"></span>Log out</a>
                        <a href="#" title="Settings"><span class="header_icon_settings"></span>Settings</a>
                        <a href="http://localhost:3000/sprints/sprint68/settings.html" title="Company dashboard" class="hidden"><span class="header_icon_company_dashboard"></span>Company dashboard</a>
                        <a href="#" title="Company dashboard" class="green-new-company"><span class="header_icon_new_company"></span>+ Add my company</a>
                    </dt>
                </dl>
            </div>
        </div>
        <!-- /.navbar-collapse -->

    </div>
</header>
<!-- /.site-header -->