<div id="ml-menu">
    <div class="icon_mobile_close_menu"></div>
    <div class="menu__wrap">
         <a class="logo" title="" href="home.html"><img alt="" src="../../content/images/icons_2016/header_logo_kuyam@2x.png" /></a>
            <ul class="menu__level1 hidden">
                <li class="menu__item"><a href="#">Lifestyle blog</a></li>
                <li class="menu__item"><a href="../../sprints/sprint69/how-it-works.html">How it works</a></li>
                <li class="menu__item blue-item"><a href="../../sprints/sprint69/login.html">Login</a></li>
                <li class="menu__item blue-item"><a href="../../sprints/sprint69/register.html">Signup</a></li>
            </ul>

            <ul class="menu__level2">
                <li class="menu__item username-item"><a href="#">Hi <span>Vubin</span></a></li>
                <li class="menu__item location-item"><a href="#" class="have-icon btn_sub_item">78 Brewery St.</a>

                    <ul class="dropmenu-item-content">
                        <li class="menu__item hide"><a href="#"><span>78 Brewery St.</span></a></li>
                        <li class="menu__item"><a href="#">Location 2</a></li>
                        <li class="menu__item"><a href="#">Location 3</a></li>
                        <li class="menu__item"><a href="#">Location 4</a></li>
                        <li class="menu__item"><a href="#">Location 5</a></li>
                        <li class="menu__item"><a href="#">Location 6</a></li>
                        <li class="menu__item"><a href="#">Location 7</a></li>
                        <li class="menu__item"><a href="#">Location 8</a></li>
                        <li class="menu__item"><a href="#">Location 9</a></li>
                        <li class="menu__item"><a href="#">Location 10</a></li>
                        <li class="menu__item"><a href="#">Location 11</a></li>
                        <li class="menu__item"><a href="#">Location 12</a></li>
                    </ul>

                </li>
                <li class="menu__item"><a href="#" class="have-icon icon_mobile_dashboard btn_menu_dashboard">Company dashboard</a></li>
                <li class="menu__item"><a href="#" class="have-icon icon_mobile_search">Search</a></li>
                <li class="menu__item"><a href="favorites.html" class="have-icon icon_mobile_favourites">Favourites</a></li>
                <li class="menu__item"><a href="receipt.html" class="have-icon icon_mobile_receipt">Receipt history</a></li>
                <li class="menu__item"><a href="#" class="have-icon icon_mobile_appointments btn_sub_item">Appointments<div class="badge">13</div></a>

                    <ul class="dropmenu-item-content">
                        <li class="menu__item"><a href="../../sprints/sprint69/appointments.html">All</a></li>
                        <li class="menu__item"><a href="../../sprints/sprint69/appointments-confirmed.html">Confirmed</a></li>
                        <li class="menu__item"><a href="../../sprints/sprint69/appointments-proposed.html">Proposed</a></li>
                        <li class="menu__item"><a href="../../sprints/sprint69/appointments-pending.html">Pending</a></li>
                        <li class="menu__item"><a href="../../sprints/sprint69/appointments-cancelled.html">Cancelled</a></li>
                    </ul>

                </li>
                <li class="menu__item"><a href="#" class="have-icon icon_mobile_gift btn_sub_item">Gift cards</a>

                    <ul class="dropmenu-item-content">
                        <li class="menu__item"><a href="#">Buy gift card</a></li>
                        <li class="menu__item"><a href="#">Balance</a></li>
                    </ul>

                </li>
                <li class="menu__item"><a href="#">Lifestyle blog</a></li>
                <li class="menu__item"><a href="../../sprints/sprint69/how-it-works.html">How it works</a></li>
                <li class="menu__item "><a href="../../sprints/sprint69/settings.html">Settings</a></li>
                <li class="menu__item "><a href="#" class="have-icon icon_mobile_add">Add a company</a></li>
                <li class="menu__item"><a href="#" class="have-icon icon_mobile_signout">Signout</a></li>
            </ul>


            <!-- Submenu 1 -->
            <ul class="menu__level3">
                <li class="menu__item back-item"><a href="#" class="have-icon icon_mobile_back btn_menu_back" >Back</a></li>
                <li class="menu__item"><a href="#"  class="have-icon icon_mobile_manage btn_sub_item">Manage</a>

                    <ul class="dropmenu-item-content">
                        <li class="menu__item"><a href="#">Staff</a></li>
                        <li class="menu__item"><a href="#">Services</a></li>
                        <li class="menu__item"><a href="#">Classes</a></li>
                    <li class="menu__item"><a href="#">Packages</a></li>
                    <li class="menu__item"><a href="#">Clients</a></li>
                    <li class="menu__item"><a href="#">Invoices</a></li>
                    <li class="menu__item"><a href="#">Promo codes</a></li>
                </ul>

            </li>
            <li class="menu__item"><a href="#" class="have-icon icon_mobile_company  btn_sub_item">Company</a>

                <ul class="dropmenu-item-content">
                    <li class="menu__item">
                        <a href="#" class="btn_sub_item" data-dropdown="true">Profile</a>
                        <ul class="dropmenu-item-content">
                            <li class="menu__item"><a href="#">Basic info</a></li>
                            <li class="menu__item"><a href="#logobanner">Profile photos</a></li>
                            <li class="menu__item"><a href="#workinghours">Working hours</a></li>
                            <li class="menu__item"><a title="" href="company-about.html"><span class="text">About your company</span></a></li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="btn_sub_item" data-dropdown="true">Image gallery</a>
                        <ul class="dropmenu-item-content">
                            <li class="menu__item"><a href="#">My images</a></li>
                            <li class="menu__item"><a href="#">Purchase photo</a></li>
                        </ul>
                    </li>
                    <li class="menu__item"><a href="#">Payments &amp; booking</a></li>
                    <li class="menu__item"><a href="#">Notifications</a></li>
                    <li class="menu__item"><a href="#">Settings</a></li>
                </ul>

            </li>
            <li class="menu__item"><a href="#" class="have-icon icon_mobile_calendar">Calendar</a></li>
            <li class="menu__item"><a href="#" class="have-icon icon_mobile_signout" data-toggle="modal" data-target="#signOutModal">Signout</a></li>
        </ul>

    </div>
    <div class="bg-fading"></div>
</div>