<div class="leftadmin">
    <h2 class="adminleftmn">
        admin menu
    </h2>
    <ul>
        <!-- common -->
        <strong>Common</strong>
        <hr style="margin-top: 0; margin-bottom: 0;">
        <li><a href="#">users list</a> </li>
        <li><a href="#">user roles list</a> </li>
        <li><a href="#">companies list</a> </li>
        <li><a href="#">bcc admin (sms &amp; email)</a> </li>
        <li><a href="#">locked users list</a> </li>
        <li><a href="#">categories &amp; services list</a> </li>
        <!-- /common -->
        <!-- Kuyam -->
        <br>
        <strong>Kuyam</strong>
        <hr style="margin-top: 0; margin-bottom: 0;">
        <li><a href="../../sprints/admin/owned-comp.html">owned company</a></li>
        <li><a href="../../sprints/admin/category.html">homepage category</a></li>
        <li><a href="#">edit featured companies</a></li>
        <li><a href="#">getty image purchase overview</a> </li>
        <li><a href="#">blog categories</a></li>
        <li><a href="#">sms verification codes list</a> </li>
        <li><a href="#">appointment status</a> </li>
        <li><a href="#">appointment feedback</a></li>
        <li><a href="#">gift card orders</a> </li>
        <li><a href="#">promo codes </a> </li>
        <li><a href="#">promo codes report</a> </li>
        <li><a href="#">appointment requests</a> </li>
        <li><a href="#">proposed appointments</a> </li>
        <li><a href="#">landing page</a> </li>
        <!-- /Kuyam -->
        <!-- Beautify -->
        <br>
        <strong>Beautify</strong>
        <hr style="margin-top: 0; margin-bottom: 0;">
        <li><a href="#">Thursdays events</a> </li>
        <li><a href="#">single company event</a></li>
        <li><a href="#">event request</a></li>
        <li><a href="#">simplified Booking</a></li>
        <li><a href="#">area/Region</a></li>
        <!-- /Beautify -->
        <br>
        <strong>Obsolete</strong>
        <hr style="margin-top: 0; margin-bottom: 0;">
        <li>zipcodes list</li>
        <li>newsletter for companies</li>
        <li>newsletter for users</li>
        <li>hotels list</li>
        <li>hotel codes list</li>
        <li>chat to schedule</li>
    </ul>
    <br />
</div>