/* header */
.social-icons {
    float:right;
    margin:13px 0;
    padding:0;
    text-align:right;

    dt {
        padding:10px 0;
        color:#fff;
        font:26px/30px ralewaysemibold, sans-serif;
    }

    dd {
        display:inline-block;
        margin:0 0 0 7px;

        img {
            width: 35px;
        }
    }
}

/* footer */
.link-socials {
    margin:0;
    padding:0;
    list-style:none;

    li{
        float:left;
        width:23%;
        text-align:center;

        a {
        img {
                width:auto;
            }
        }

        &:first-child {
            width:15%;
            text-align:left;
        }

        &:last-child {
            width:15%;
            float:right;text-align:right;
        }
    }
}
