.manage-staff .kuyam-form{
    width: 664px;
}
.manage-staff .kuyam-form .working-section{
    width: 520px;
}
/*.manage-staff .kuyam-form.working-form footer .btn-neutral{
    width: 136px;
    margin-right: 22px;
}
.manage-staff .kuyam-form footer .btn-agree{
    width: 217px;
}*/

.manage-staff .kuyam-form footer{
    text-align: left;
    padding: 30px 0;
}

@media (max-width: 1199px){
    .manage-staff .kuyam-form form{
        width: auto;
    }
}

@media (min-width: 1024px){
    .manage-staff .kuyam-main-content{
        min-height: 708px !important;
    }
}

@media (max-width: 1023px){
    .manage-staff .kuyam-form footer{
        padding-top: 15px;
        padding-bottom: 0;
    }
}

@media (max-width: 767px){
    .manage-staff .kuyam-form .working-section{
        width: auto;
    }
}

@media (max-width: 374px){
    .manage-staff .kuyam-form footer{
        padding-top: 13px;
    }
}