.manage-staff .kuyam-form{
    width: 664px;
}
.manage-staff .kuyam-form .working-section{
    width: 520px;
}
/*.manage-staff .kuyam-form.working-form footer .btn-neutral{
    width: 136px;
    margin-right: 22px;
}
.manage-staff .kuyam-form footer .btn-agree{
    width: 217px;
}*/

.manage-staff .kuyam-form footer{
    text-align: left;
    padding: 30px 0;
}

@media (max-width: 1023px){
    .manage-staff .kuyam-form{
        width: auto;
    }
    .manage-staff .kuyam-form footer{
        padding: 15px 0;
    }
}

@media (max-width: 767px){
    .manage-staff .kuyam-form .working-section{
        width: auto;
    }
}

@media (max-width: 374px){
    .manage-staff .kuyam-form footer{
        padding: 13px 0;
    }
}