.manage-staff form{
    width: 664px;
}
.manage-staff form .working-section{
    width: 520px;
}
/*.manage-staff form.working-form footer .btn-neutral{
    width: 136px;
    margin-right: 22px;
}
.manage-staff form.working-form footer .btn-agree{
    width: 217px;
}*/

.manage-staff form.working-form footer{
    text-align: left;
    padding: 30px 0;
}

@media (max-width: 1023px){
    .manage-staff form{
        width: auto;
    }
}
@media (max-width: 767px){
    .manage-staff form .working-section{
        width: auto;
    }
}