.manage-staff .no-data{
    text-align:center;
    width: 388px;
    margin-left: 59px;
}
.manage-staff .no-data p{
    margin-bottom:97px;
    font-size: 1em;
    line-height: 24px;
    color: #9b9b9b;
}
.manage-staff .no-data img{
    margin:78px auto 27px;
}
.manage-staff .no-data .btn{
    width:388px;
}

@media (max-width: 1023px){
    .manage-staff .no-data{
        width:100%;
        margin-left:0;
    }
    .manage-staff .mobile-section .no-data div{
        padding:20px 0;
    }
    .manage-staff .no-data img{
        margin-top:0;
    }
    .manage-staff .no-data p{
        margin-bottom:0;
    }
    .manage-staff .no-data .btn{
        width:100%;
    }
}