.btn-brown{width:100%;text-align:center;background:#6B6A6C;color:#fff;}
.btn-brown:hover{background:#ccc;color:#fff;}
.btn-brown:focus,
.btn-brown:active{background:#6B6A6C;color:#fff;}

.btn-black,
.btn-black:hover,
.btn-black:focus{text-align:center;display:block;border:1px solid #000;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#fff;margin:5px 0 0;text-decoration:none;height:25px;background-color:#3c3a3c;background-image:-webkit-gradient(linear, top, bottom, from(#252122), to(#262324));background-image:-webkit-linear-gradient(top, #252122, #262324);background-image:-moz-linear-gradient(top, #252122, #262324);background-image:-o-linear-gradient(top, #252122, #262324);background-image:linear-gradient(to bottom, #252122, #262324);text-decoration:none;}

.btn-brown-gradient,
.btn-brown-gradient:hover,
.btn-brown-gradient:focus{text-align:center;display:block;border:1px solid #636061;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#000;margin:5px 0 0;text-decoration:none;height:25px;background-color:#afb1b5;background-image:-webkit-gradient(linear, top, bottom, from(#feffff), to(#afb1b5));background-image:-webkit-linear-gradient(top, #feffff, #afb1b5);background-image:-moz-linear-gradient(top, #feffff, #afb1b5);background-image:-o-linear-gradient(top, #feffff, #afb1b5);background-image:linear-gradient(to bottom, #feffff, #afb1b5);text-decoration:none;}

.btn-white,
.btn-white:hover,
.btn-white:focus{display:inline-block;border:1px solid #fff;background-color:#fff;text-decoration:none;text-align:center;}

.btn-blue,
.btn-blue:hover,
.btn-blue:focus{display:inline-block;border:1px solid #3A5998;background-color:#3A5998;text-decoration:none;text-align:center;}

.btn-light-blue{width:100%;text-align:center;background:#536EA4;color:#fff;}
.btn-light-blue:hover{background:#ccc;color:#fff;}
.btn-light-blue:focus,
.btn-light-blue:active{background:#536EA4;color:#fff;}

.btn-orange{width:100%;text-align:center;background:#F3472D;color:#fff;}
.btn-orange:hover{background:#ccc;color:#fff;}
.btn-orange:focus,
.btn-orange:active{background:#F3472D;color:#fff;}

.btn-white-black{width:100%;text-align:center;background:#fff;color:#000;border:1px solid #000;}
.btn-white-black:hover{background:#ccc;color:#000;}
.btn-white-black:focus,
.btn-white-black:active{background:#fff;color:#000;}

.btn-green{width:100%;text-align:center;background:#96BE3D;color:#fff;}
.btn-green:hover{background:#ccc;color:#fff;}
.btn-green:focus,
.btn-green:active{background:#96BE3D;color:#fff;}

.btn-pink{width:100%;text-align:center;background:#BA337A;color:#fff;}
.btn-pink:hover{background:#ccc;color:#fff;}
.btn-pink:focus,
.btn-pink:active{background:#BA337A;color:#fff;}

.btn-dark-green{width:100%;text-align:center;background:#36A974;color:#fff;}
.btn-dark-green:hover{background:#ccc;color:#fff;}
.btn-dark-green:focus,
.btn-dark-green:active{background:#36A974;color:#fff;}

.btn-black-50{width:100%;text-align:center;background-color:rgba(0, 0, 0, 0.5);color:#fff;}
.btn-black-50:hover{background:#F3472D;color:#fff;}
.btn-black-50:focus,
.btn-black-50:active{background:#F3472D;color:#fff;}

.btn-disable,
.btn-disable:hover,
.btn-disable:active,
.btn-disable:focus,
.btn-disable:visited,
.btn_disable,
.btn_disable:hover,
.btn_disable:active,
.btn_disable:focus,
.btn_disable:visited{background:#ccc;}

/* New */
.btn-positive:hover{
    border: 2px solid $positive;
    background: $positive;
    color: $white;
    font-weight:700;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.11);
    padding:0;
}
.btn-positive,
.btn-positive:focus{
    border: 1px solid $positive;
    background: $positive;
    color: $white;
}

.btn-neutral:hover{
    border: 2px solid rgba(0, 0, 0, .58);
    background: $white;
    color: #323232;
    font-weight:700;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.11);
    padding:0;
}

.btn-neutral,
.btn-neutral:focus{
    border: 1px solid rgba(0, 0, 0, .58);
    background: $white;
    color:#323232;
}

.btn-negative:hover{
    border: 2px solid $positive;
    background: $white;
    color: $positive;
    font-weight:700;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.11);
    padding:0;
}
.btn-negative,
.btn-negative:focus{
    border: 1px solid $positive;
    background: $white;
    color: $positive;
}
