.error{
    font-size:12px;
    color:#f3472d;
}

.alert-error{color:#ff0000;}

.required{
    color: $required;
    position: relative;
    top: -5px;
}

.input-custom{
    border: 1px solid $border;
    overflow: hidden;
    border-radius: 2px;
    display: block;
    position: relative;

    .table-css {
        width: 100%;
        font-size: 20px;
        font-weight: normal;

        .td {

           &:first-child {
                padding-left: 15px;
                word-break: keep-all;
                color: #999;
                width: 197px;
                line-height: 38px;
            }
        }

        input[type="text"] {
            height: 37px;
            border: 0 none;
            padding: 0 15px 0 0;
            color: #000;
            width: 100%;
            position: relative;
            left: -1px;
        }
    }

    a {
        display: block;
        word-wrap:normal;
        word-break:normal;
        padding:0 15px 0 0;
        color: $positive;
        text-decoration: none;
        font-size: $s15;
        line-height: 38px;
        font-family: $primary;
        background: $white;
    }

    .error {
        position: absolute;
        top:0;
        left: 100%;
        padding:0 15px;
        color: $positive;
        text-decoration: none;
        font-size: $s15;
        line-height: 38px;
        font-family: $primary;
        background: $white;

        &:before{
            content:'';
            display: inline-block;
            width: 13px;
            height: 11px;
            background: $white url(images/ui/pages/company/settings/icon_error.png) center center no-repeat;
            background-size: 13px auto;
            margin-right: 5px;
        }
    }

    &.validate{
        .error{
            left: inherit;
            right: 0;
        }
    }
}

.custom-input {
    &.table-css{
        width: 100%;
        border: 1px solid $border;
        font-size: 20px;
        border-radius: 2px;
        font-weight: normal;
        overflow: hidden;

        .td {

           &:first-child {
                padding-left: 15px;
                word-break: keep-all;
                color: #999;
                width: 197px;
                line-height: 38px;
            }
        }

        input[type="text"] {
            height: 38px;
            border: 0 none;
            padding: 0 15px 0 0;
            color: #000;
            width: 100%;
        }
    }
}

.input-countdown{
    &.inner{
        position: relative;
        border: 1px solid $border;
        border-radius: 2px;
        overflow: hidden;
        height: 105px;

        .form-control {
            height: 85px;
            padding: 5px 14px;
            border: 0 none;
        }

        .text{
            display: inline-block;
            padding: 0 14px 8px;
            position: absolute;
            right: 0;
            bottom: 0;
            color: rgba(51, 51, 51, .2);
            text-shadow: 0 0 1px rgba(51, 51, 51, .2);
            font-size: $s14;
            line-height: 100%;
            font-family: $primary;
        }
    }
}

.hour-custom{
    position: relative;
    padding-left: calc(100% - 82px);

    .form-control{
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 67px);
        border-right: 0 none;
        border-radius: 2px 0 0 2px;
        text-align: center;
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
        width: 82px;
    }

    .bootstrap-select {
        > .btn,
        > .btn:focus,
        > .btn:active,
        > .btn:hover,
        > .btn:visited,
        &.open > .btn,
        &.open > .btn:focus,
        &.open > .btn:active,
        &.open > .btn:hover,
        &.open > .btn:visited{
            border-left: 0 none;
            border-radius:0 2px 2px 0;
        }
    }
}
