.settings-section {
    color: #242424;
    font-family: $primary;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    padding-top: 65px;
}
.settings-section a{
    color: $base;
    text-decoration: underline;
}

@media (max-width: 1023px) {
    .settings-section {
        padding-top: 15px;
    }
}

@media (max-width: 374px) {
    .settings-section {
        padding-top: 12px;
    }
}