{% extends 'master/main.html' %}

{% block title %}Kuyam - Index{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <dl class="col-xs-6">
            <dd>&nbsp;</dd>
            <dt>UI Sprint</dt>
            <dd>
                <a title="" href="sprints/sprint69/index.html" target="_blank">sprint 69</a>
            </dd>
            <dd>
                <a title="" href="sprints/sprint68/index.html" target="_blank">sprint 68</a>
            </dd>
            <dd>
                <a title="" href="sprints/admin/index.html" target="_blank">admin</a>
            </dd>
            <!--<dd>
                <a title="" href="sprint3/index.html" target="_blank">sprint 3</a>
            </dd>-->
        </dl>
    </div>

</div>
{% endblock %}

{% block script %}{% endblock %}

