<!DOCTYPE html>
<html>
    <head>
        <title>Kuyam - Index</title>
    </head>
    <body>
        <dl>
            <dd>&nbsp;</dd>
            <dt>UI Sprint</dt>
            <dd>
                <a title="" href="sprints/sprint69/index.html" target="_blank">sprint 69</a>
            </dd>
            <dd>
                <a title="" href="sprints/sprint68/index.html" target="_blank">sprint 68</a>
            </dd>
            <dd>
                <a title="" href="sprints/admin/index.html" target="_blank">admin</a>
            </dd>
        </dl>
    </body>
</html>


