.section-header-pink h2{color:#F3472D !important;margin:0 0 10px;}
.section-header-pink .category-list .tab-list li button{width:143px;height:42px;border:1px solid #F3472D;background:#fff;color:#F3472D;font:20px/42px ralewaymedium, sans-serif;}
.section-header-pink .category-list .tab-list li button span{display:block;margin:0 6px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.section-header-pink .tab-list li button.active{color:#fff;background:#F3472D;}

.category-list{padding:15px 0 0;}
.category-list .section-header{padding:0 0 10px;}
.category-list .category-item{margin:0 0 15px;min-height:104px;}
.category-list .category-item-img{display:block;position:relative;height:104px;background:no-repeat center center;background-size:cover;color:#fff;font-size:30px;line-height:104px;text-align:center;}
.category-list .category-item-img span{display:block;background-color:rgba(0, 0, 0, 0.5);position:absolute;top:0;right:0;bottom:0;left:0;padding:0 10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

@media (max-width:979px){
    .section-header-pink .category-list .tab-list li button{width:140px;}
}

@medida (max-width: 767px){
    .section-header-pink h2{color:#333 !important;}
    .section-header-pink .category-list .tab-list li button{width:90px;font-size:16px;}
    .section-header-pink h2{color:#f3472d !important;}

}
