.register-section{color:#fff;position:relative;padding:15px 0 5px;position:absolute;bottom:0;left:0;right:0;z-index:11;}
.register-section .section-header .back-section{float:right;margin:3px 0 0 10px;padding:0;}
.register-section .section-header .back-section a{color:#fff;}
.register-section .section-header .back-section .icon-back{background-image:url(images/assets/icon_arrow_right_white.png);}
.register-section .section-header h2{font-size:30px;line-height:34px;}
.register-section .section-header p{margin:0 0 15px;}
.register-section .register-form{}
.register-section .register-form .form-group{float:left;margin:0 25px 15px 0;}
.register-section .register-form .input-group{width:485px;}

@media (max-width: 767px){
    .register-section .section-header .back-section{float:none;}
}

@media (max-width:530px){
    .register-section .register-form .form-group{float:none;margin:0 0 15px;}
    .register-section .register-form .input-group{width:100%;}
}
