.booking-page{
    .happen-date {
        height:78px;
        text-align:right;
        position:relative;
        z-index:2;
        margin-top:48px;

        .section-header {
            width:290px;
            position:absolute;
            right:0;

            @media (max-width: 767px){
                padding:0 0 20px;
            }

            h2 {
                color:#F3472D !important;
                font:36px/40px ralewaybold, sans-serif;

                @media (max-width: 979px){
                    font-size:30px;
                    line-height:34px;
                }
            }
        }
    }
}

.main-content.book-details-page{padding:0;}
.book-details-page .social-icons{float:none;text-align:center;}
.book-details-page .social-icons dt{color:#333;font-family:ralewaybold, serif;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:left;}
.book-details-page .social-icons dt a{display:block;text-align:center;font:14px/18px ralewaymedium, sans-serif;color:#bababa;}
.book-details-page .social-icons dd{margin:0;width:18%;}

.book-detail-page .ui-tabs{border:0 none;padding:0;background:none;}
.book-detail-page .ui-tabs .ui-tabs-nav{width:930px;border:0 none;background:transparent;padding:0;position:relative;z-index:3;}
.book-detail-page .ui-tabs .ui-tabs-nav li{width:20%;padding:0;margin:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background:none #fff;border:0 none;}
.book-detail-page .ui-tabs .ui-tabs-nav .ui-tabs-anchor{display:block;float:none;height:38px;padding:0;text-align:center;font:18px/38px ralewaymedium, sans-serif;color:#999;border:1px solid #999;}
.book-detail-page .ui-tabs .ui-tabs-nav li.ui-tabs-active{background:#F3472D;border:0 none;margin:0;padding:0;}
.book-detail-page .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor{color:#fff;border:1px solid #F3472D;}
.book-detail-page .ui-tabs .ui-tabs-panel{padding:10px;min-height:300px;}

.book-detail-page .section-header{}
.book-detail-page .section-header h2{color:#333;margin:0 0 5px;}
.book-detail-page .section-header h3{font-family:ralewayextrabold, sans-serif;margin:0 0 5px;}
.book-detail-page .section-header h2 .link-favorite{float:right;font:20px/30px ralewaymedium, sans-serif;color:#999;}
.book-detail-page .section-header p{color:#333;font-size:20px;line-height:24px;}
.link-favorite{font:20px/24px ralewaymedium, sans-serif;color:#ccc;}
.link-favorite span{display:inline-block;width:22px;height:19px;background:no-repeat center bottom;margin:0 5px -3px 0;}
.link-favorite .icon-like{background-image:url(../images/assets/icon_like.png);}
.link-favorite .icon-unlike{background-image:url(../images/assets/icon_unlike.png);}

.tab-list{margin:0;padding:0;list-style:none;}
.tab-list li{float:left;margin-right:9px;margin-bottom:18px;}
.tab-list li a{display:block;color:#474747;padding:0 21px;font:16px/28px ralewaymedium, sans-serif;text-decoration:none;}
.tab-list li.active{background:#87B140;}
.tab-list li.active a{color:#fff;}

.back-section{}
.back-section a{color:#000;font:26px/30px ralewayregular, sans-serif;}
.back-section .icon-back{display:inline-block;width:30px;height:30px;background:url(../images/assets/icon_arrow_right_black.png) center center no-repeat;background-size:contain;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);margin-bottom:-6px;}
.back-section .icon-details{display:inline-block;width:31px;height:31px;background:url(../images/assets/mobile/icon_bulletin_post.png) center center no-repeat;background-size:31px auto;margin-bottom:-6px;}

.timer-page .book-tab{margin:23px 0 0;}

@media (min-width: 980px){
	.book-detail-page .container{padding-left:5px;padding-right:5px;}
    .book-detail-page .row{margin-left:-5px;margin-right:-5px;}
    .book-detail-page .col-xs-1,
    .book-detail-page .col-sm-1,
    .book-detail-page .col-md-1,
    .book-detail-page .col-lg-1,
    .book-detail-page .col-xs-2,
    .book-detail-page .col-sm-2,
    .book-detail-page .col-md-2,
    .book-detail-page .col-lg-2,
    .book-detail-page .col-xs-3,
    .book-detail-page .col-sm-3,
    .book-detail-page .col-md-3,
    .book-detail-page .col-lg-3,
    .book-detail-page .col-xs-4,
    .book-detail-page .col-sm-4,
    .book-detail-page .col-md-4,
    .book-detail-page .col-lg-4,
    .book-detail-page .col-xs-5,
    .book-detail-page .col-sm-5,
    .book-detail-page .col-md-5,
    .book-detail-page .col-lg-5,
    .book-detail-page .col-xs-6,
    .book-detail-page .col-sm-6,
    .book-detail-page .col-md-6,
    .book-detail-page .col-lg-6,
    .book-detail-page .col-xs-7,
    .book-detail-page .col-sm-7,
    .book-detail-page .col-md-7,
    .book-detail-page .col-lg-7,
    .book-detail-page .col-xs-8,
    .book-detail-page .col-sm-8,
    .book-detail-page .col-md-8,
    .book-detail-page .col-lg-8,
    .book-detail-page .col-xs-9,
    .book-detail-page .col-sm-9,
    .book-detail-page .col-md-9,
    .book-detail-page .col-lg-9,
    .book-detail-page .col-xs-10,
    .book-detail-page .col-sm-10,
    .book-detail-page .col-md-10,
    .book-detail-page .col-lg-10,
    .book-detail-page .col-xs-11,
    .book-detail-page .col-sm-11,
    .book-detail-page .col-md-11,
    .book-detail-page .col-lg-11,
    .book-detail-page .col-xs-12,
    .book-detail-page .col-sm-12,
    .book-detail-page .col-md-12,
    .book-detail-page .col-lg-12{padding-left:5px;padding-right:5px;}
}

@media (max-width:979px){
	.book-detail-page .container{padding-left:0;padding-right:0;width:100%;}
    .book-detail-page .ui-tabs .ui-tabs-nav{width:720px;}
	.ui-tabs .ui-tabs-nav li{width:25%;}
}

@media (max-width:767px){
    .book-details-page .social-icons{margin-top:0;}

	.book-detail-page{margin-left:-15px;margin-right:-15px;}
    .book-detail-page .row{margin-left:-10px;margin-right:-10px;}
    .book-detail-page .col-xs-1,
    .book-detail-page .col-sm-1,
    .book-detail-page .col-md-1,
    .book-detail-page .col-lg-1,
    .book-detail-page .col-xs-2,
    .book-detail-page .col-sm-2,
    .book-detail-page .col-md-2,
    .book-detail-page .col-lg-2,
    .book-detail-page .col-xs-3,
    .book-detail-page .col-sm-3,
    .book-detail-page .col-md-3,
    .book-detail-page .col-lg-3,
    .book-detail-page .col-xs-4,
    .book-detail-page .col-sm-4,
    .book-detail-page .col-md-4,
    .book-detail-page .col-lg-4,
    .book-detail-page .col-xs-5,
    .book-detail-page .col-sm-5,
    .book-detail-page .col-md-5,
    .book-detail-page .col-lg-5,
    .book-detail-page .col-xs-6,
    .book-detail-page .col-sm-6,
    .book-detail-page .col-md-6,
    .book-detail-page .col-lg-6,
    .book-detail-page .col-xs-7,
    .book-detail-page .col-sm-7,
    .book-detail-page .col-md-7,
    .book-detail-page .col-lg-7,
    .book-detail-page .col-xs-8,
    .book-detail-page .col-sm-8,
    .book-detail-page .col-md-8,
    .book-detail-page .col-lg-8,
    .book-detail-page .col-xs-9,
    .book-detail-page .col-sm-9,
    .book-detail-page .col-md-9,
    .book-detail-page .col-lg-9,
    .book-detail-page .col-xs-10,
    .book-detail-page .col-sm-10,
    .book-detail-page .col-md-10,
    .book-detail-page .col-lg-10,
    .book-detail-page .col-xs-11,
    .book-detail-page .col-sm-11,
    .book-detail-page .col-md-11,
    .book-detail-page .col-lg-11,
    .book-detail-page .col-xs-12,
    .book-detail-page .col-sm-12,
    .book-detail-page .col-md-12,
    .book-detail-page .col-lg-12{padding-left:10px;padding-right:10px;}

	.book-detail-page .section-header{text-align:left;padding:0;}

    .book-detail-page .ui-tabs .ui-tabs-nav{width:100%;}
    .book-detail-page .ui-tabs .ui-tabs-nav .ui-tabs-anchor{height:34px;font-size:16px;line-height:34px;}

    .book-page .book-tab{margin-left:-15px;margin-right:-15px;}

}

@media (max-width:767px){
    .book-detail-page .ui-tabs .ui-tabs-nav{width:100%;}
    .book-detail-page .ui-tabs .ui-tabs-nav .ui-tabs-anchor{height:34px;font-size:16px;line-height:34px;}

    .book-detail-page .ui-tabs .ui-tabs-nav li{width:25%;}

    .book-details-page .social-icons{margin-top:0;}

    .timer-page .book-tab > .section-header{padding-left:15px;padding-right:15px;}

}
