.photos-slide{}
.photos-slide ul{margin:0;padding:0;list-style:none;}
.photos-slide ul.photos-thumbs{background:#e6e6e6;border:1px solid #999;height:85px;margin:5px 0 0;padding:10px 20px;}
.photos-thumbs li{background:#fafafa;cursor:pointer;float:left;margin:0 9px;overflow:hidden;width:102px;}
.photos-thumbs li img{height:63px;}
.photos-thumbs .active img{border:3px solid #c1d82f;}
.photos-thumbs li .clip{height:100%;overflow:hidden;position:relative;text-align:center;vertical-align:middle;}

.photos-stage{background:#fafafa;padding:0;position:relative;text-align:center;}
.photos-stage img{height:470px;}

.photos-imgnav{opacity:1 !important;}
.photos-imgnav a{display:block;width:16px;height:84px;position:absolute;cursor:pointer;text-indent:-5000px;z-index:3;}
.photos-imgnav a.previous{background:url(images/assets/prev.png) no-repeat left 45% rgba(0, 0, 0, 0);border-right:1px solid #999;left:5px;bottom:-90px;}
.photos-imgnav a.next{background:url(images/assets/next.png) no-repeat right 45% rgba(0, 0, 0, 0);border-left:1px solid #999;right:5px;bottom:-90px;}

.photo-tab .galleria-container{border:0 none;}
.photo-tab .galleria-stage .galleria-image{background:#fafafa;height:470px;overflow:hidden;text-align:center;}
.photo-tab .galleria-stage .galleria-image img{max-width:100% !important;max-height:470px !important;}
.photo-tab .galleria-thumbnails-container{border:0 none;height:50px;}
.photo-tab .galleria-thumbnails-list{margin:0;}
.photo-tab .galleria-thumbnails .galleria-image{width:102px !important;background:#fafafa;text-align:center;margin:0 5px 0 0;}
.photo-tab .galleria-thumbnails .galleria-image img{position:inherit !important;margin:0 auto;}
.photo-tab .galleria-thumbnails .active{border:3px solid #c1d82f;}
.photo-tab .galleria-thumb-nav-left{background:url(images/assets/btn-img-left.png) transparent center center;background-size:contain;}
.photo-tab .galleria-thumb-nav-right{background:url(images/assets/btn-img-left.png) transparent center center;background-size:contain;-webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);-ms-transform:rotate(-180deg);-o-transform:rotate(-180deg);transform:rotate(-180deg);}
