{% extends 'master/main-blog.html' %}

{% block title %}Beautify LA - Blog{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block namepage %}blog-page blog-list-page{% endblock %}

{% block banner %}
<div class="relative">
    <!-- slide-feature -->
    <div class="slide-feature slide-feature-blog hidden-xs">
        <div id="carousel-desktop" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active" style="background-image:url(content/images/assets/Dollarphotoclub_71684155.jpg);">
                    <a class="item-link" title="" href="#"></a>
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="carousel-caption-content">
                                <h2>lifestyle blog</h2>
                                <p>Dating: LA's Best Inexpensive Spots For A First Date</p>
                                <q>by <strong>Theresa Heim</strong></q>
                            </div>

                            <!-- .blog-comment -->
                            <div class="blog-comment clearfix">
                                <!--<div class="blog-comment-total"><span class="icon-comment"></span> <span class="blog-comment-num">10</span></div>-->
                                <div class="blog-comment-content">You want to choose a space that provides you and your date with an experience that will enable you to observe one another under... <a class="hidden-xs" title="" href="#">click to read more</a></div>
                            </div>
                            <!-- /.blog-comment -->

                        </div>
                    </div>
                </div>
                <div class="item" style="background-image:url(content/images/assets/Dollarphotoclub_71684155.jpg);">
                    <a class="item-link" title="" href="#"></a>
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="carousel-caption-content">
                                <h2>lifestyle blog</h2>
                                <p>Dating: LA's Best Inexpensive Spots For A First Date</p>
                                <q>by <strong>Theresa Heim</strong></q>
                            </div>

                            <!-- .blog-comment -->
                            <div class="blog-comment clearfix">
                                <!--<div class="blog-comment-total"><span class="icon-comment"></span> <span class="blog-comment-num">10</span></div>-->
                                <div class="blog-comment-content">You want to choose a space that provides you and your date with an experience that will enable you to observe one another under... <a class="hidden-xs" title="" href="#">click to read more</a></div>
                            </div>
                            <!-- /.blog-comment -->

                        </div>
                    </div>
                </div>
                <div class="item" style="background-image:url(content/images/assets/Dollarphotoclub_71684155.jpg);">
                    <a class="item-link" title="" href="#"></a>
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="carousel-caption-content">
                                <h2>lifestyle blog</h2>
                                <p>Dating: LA's Best Inexpensive Spots For A First Date</p>
                                <q>by <strong>Theresa Heim</strong></q>
                            </div>

                            <!-- .blog-comment -->
                            <div class="blog-comment clearfix">
                                <!--<div class="blog-comment-total"><span class="icon-comment"></span> <span class="blog-comment-num">10</span></div>-->
                                <div class="blog-comment-content">You want to choose a space that provides you and your date with an experience that will enable you to observe one another under... <a class="hidden-xs" title="" href="#">click to read more</a></div>
                            </div>
                            <!-- /.blog-comment -->

                        </div>
                    </div>
                </div>
                <div class="item" style="background-image:url(content/images/assets/Dollarphotoclub_71684155.jpg);">
                    <a class="item-link" title="" href="#"></a>
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="carousel-caption-content">
                                <h2>lifestyle blog</h2>
                                <p>Dating: LA's Best Inexpensive Spots For A First Date</p>
                                <q>by <strong>Theresa Heim</strong></q>
                            </div>

                            <!-- .blog-comment -->
                            <div class="blog-comment clearfix">
                                <!--<div class="blog-comment-total"><span class="icon-comment"></span> <span class="blog-comment-num">10</span></div>-->
                                <div class="blog-comment-content">You want to choose a space that provides you and your date with an experience that will enable you to observe one another under... <a class="hidden-xs" title="" href="#">click to read more</a></div>
                            </div>
                            <!-- /.blog-comment -->

                        </div>
                    </div>
                </div>
                <div class="item" style="background-image:url(content/images/assets/Dollarphotoclub_71684155.jpg);">
                    <a class="item-link" title="" href="#"></a>
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="carousel-caption-content">
                                <h2>lifestyle blog</h2>
                                <p>Dating: LA's Best Inexpensive Spots For A First Date</p>
                                <q>by <strong>Theresa Heim</strong></q>
                            </div>

                            <!-- .blog-comment -->
                            <div class="blog-comment clearfix">
                                <!--<div class="blog-comment-total"><span class="icon-comment"></span> <span class="blog-comment-num">10</span></div>-->
                                <div class="blog-comment-content">You want to choose a space that provides you and your date with an experience that will enable you to observe one another under... <a class="hidden-xs" title="" href="#">click to read more</a></div>
                            </div>
                            <!-- /.blog-comment -->

                        </div>
                    </div>
                </div>
            </div>

            <!-- Indicators -->
            <div class="container">
                <div class="relative">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-desktop" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-desktop" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-desktop" data-slide-to="2" class=""></li>
                        <li data-target="#carousel-desktop" data-slide-to="3" class=""></li>
                        <li data-target="#carousel-desktop" data-slide-to="4" class=""></li>
                    </ol>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-desktop" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-desktop" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <!-- /slide-feature -->

    <!-- slide-feature -->
    <div class="slide-feature slide-feature-blog visible-xs">
        <div id="carousel-mobile" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-mobile" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-mobile" data-slide-to="1" class=""></li>
                <li data-target="#carousel-mobile" data-slide-to="2" class=""></li>
                <li data-target="#carousel-mobile" data-slide-to="3" class=""></li>
                <li data-target="#carousel-mobile" data-slide-to="4" class=""></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active" style="background-image:url(content/images/assets/mobile/Dollarphotoclub_71684155.jpg);">
                    <a class="item-link" title="" href="#"></a>
                    <div class="carousel-caption">
                        <div class="container">
                            <h2>lifestyle blog</h2>
                            <p>Dating: LA's Best Inexpensive Spots For A First Date</p>
                            <q>by <strong>Theresa Heim</strong></q>

                            <!-- .blog-comment -->
                            <div class="blog-comment clearfix">
                                <!--<div class="blog-comment-total"><span class="icon-comment"></span> <span class="blog-comment-num">10</span></div>-->
                                <div class="blog-comment-content">You want to choose a space that provides you and your date with an experience that will enable you to observe one another under... <a class="hidden-xs" title="" href="#">click to read more</a></div>
                            </div>
                            <!-- /.blog-comment -->

                        </div>
                    </div>
                </div>
                <div class="item" style="background-image:url(content/images/assets/mobile/Dollarphotoclub_71684155.jpg);">
                    <a class="item-link" title="" href="#"></a>
                    <div class="carousel-caption">
                        <div class="container">
                            <h2>lifestyle blog</h2>
                            <p>Dating: LA's Best Inexpensive Spots For A First Date</p>
                            <q>by <strong>Theresa Heim</strong></q>

                            <!-- .blog-comment -->
                            <div class="blog-comment clearfix">
                                <!--<div class="blog-comment-total"><span class="icon-comment"></span> <span class="blog-comment-num">10</span></div>-->
                                <div class="blog-comment-content">You want to choose a space that provides you and your date with an experience that will enable you to observe one another under... <a class="hidden-xs" title="" href="#">click to read more</a></div>
                            </div>
                            <!-- /.blog-comment -->

                        </div>
                    </div>
                </div>
                <div class="item" style="background-image:url(content/images/assets/mobile/Dollarphotoclub_71684155.jpg);">
                    <a class="item-link" title="" href="#"></a>
                    <div class="carousel-caption">
                        <div class="container">
                            <h2>lifestyle blog</h2>
                            <p>Dating: LA's Best Inexpensive Spots For A First Date</p>
                            <q>by <strong>Theresa Heim</strong></q>

                            <!-- .blog-comment -->
                            <div class="blog-comment clearfix">
                                <!--<div class="blog-comment-total"><span class="icon-comment"></span> <span class="blog-comment-num">10</span></div>-->
                                <div class="blog-comment-content">You want to choose a space that provides you and your date with an experience that will enable you to observe one another under... <a class="hidden-xs" title="" href="#">click to read more</a></div>
                            </div>
                            <!-- /.blog-comment -->

                        </div>
                    </div>
                </div>
                <div class="item" style="background-image:url(content/images/assets/mobile/Dollarphotoclub_71684155.jpg);">
                    <a class="item-link" title="" href="#"></a>
                    <div class="carousel-caption">
                        <div class="container">
                            <h2>lifestyle blog</h2>
                            <p>Dating: LA's Best Inexpensive Spots For A First Date</p>
                            <q>by <strong>Theresa Heim</strong></q>

                            <!-- .blog-comment -->
                            <div class="blog-comment clearfix">
                                <!--<div class="blog-comment-total"><span class="icon-comment"></span> <span class="blog-comment-num">10</span></div>-->
                                <div class="blog-comment-content">You want to choose a space that provides you and your date with an experience that will enable you to observe one another under... <a class="hidden-xs" title="" href="#">click to read more</a></div>
                            </div>
                            <!-- /.blog-comment -->

                        </div>
                    </div>
                </div>
                <div class="item" style="background-image:url(content/images/assets/mobile/Dollarphotoclub_71684155.jpg);">
                    <a class="item-link" title="" href="#"></a>
                    <div class="carousel-caption">
                        <div class="container">
                            <h2>lifestyle blog</h2>
                            <p>Dating: LA's Best Inexpensive Spots For A First Date</p>
                            <q>by <strong>Theresa Heim</strong></q>

                            <!-- .blog-comment -->
                            <div class="blog-comment clearfix">
                                <!--<div class="blog-comment-total"><span class="icon-comment"></span> <span class="blog-comment-num">10</span></div>-->
                                <div class="blog-comment-content">You want to choose a space that provides you and your date with an experience that will enable you to observe one another under... <a class="hidden-xs" title="" href="#">click to read more</a></div>
                            </div>
                            <!-- /.blog-comment -->

                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-mobile" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-mobile" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <!-- /slide-feature -->
</div>
{% endblock %}

{% block main %}
<div class="main-content clearfix">
    <!-- .blog-category -->
    <div class="blog-category">
        <div class="container">
            <ul class="blog-category-list clearfix hidden-xs">
                <li class="active"><a title="" href="#"><span>beauty</span></a></li>
                <li><a title="" href="#"><span>fitness</span></a></li>
                <li><a title="" href="#"><span>lifestyle</span></a></li>
                <li><a title="" href="#"><span>dating</span></a></li>
                <li><a title="" href="#"><span>college</span></a></li>
                <li><a title="" href="#"><span>productivity</span></a></li>
                <li><a title="" href="#"><span>non-profits</span></a></li>
            </ul>

            <div class="blog-category-select visible-xs">
                <select class="selectpicker">
                    <option>health &amp; fitness</option>
                    <option>beauty</option>
                    <option>kids</option>
                    <option>non-profits</option>
                    <option>productivity</option>
                    <option>lifestyle</option>
                    <option>outdoor</option>
                </select>
            </div>
        </div>
    </div>
    <!-- /.blog-category -->

    <div class="container">

        <!-- .blog-list -->
        <div class="blog-list clearfix">

            <!-- .blog-block -->
            <a title="" href="#" class="blog-block">
                <img alt="" src="content/images/assets/img-blog-default.png" />
                <span class="blog-caption">Top 10 Ways to Relax This Summer</span>
            </a>
            <!-- /.blog-block -->

            <!-- .blog-block -->
            <a title="" href="#" class="blog-block">
                <img alt="" src="content/images/assets/business_image.png" />
                <span class="blog-caption">Top 10 Ways to Relax This Summer</span>
            </a>
            <!-- /.blog-block -->

            <!-- .blog-block -->
            <a title="" href="#" class="blog-block">
                <img alt="" src="content/images/assets/business_image.png" />
                <span class="blog-caption">Top 10 Ways to Relax This Summer</span>
            </a>
            <!-- /.blog-block -->

            <!-- .blog-block -->
            <a title="" href="#" class="blog-block">
                <img alt="" src="content/images/assets/business_image.png" />
                <span class="blog-caption">Top 10 Ways to Relax This Summer</span>
            </a>
            <!-- /.blog-block -->

            <!-- .blog-block -->
            <a title="" href="#" class="blog-block">
                <img alt="" src="content/images/assets/business_image.png" />
                <span class="blog-caption">Top 10 Ways to Relax This Summer</span>
            </a>
            <!-- /.blog-block -->

            <!-- .blog-block -->
            <a title="" href="#" class="blog-block">
                <img alt="" src="content/images/assets/business_image.png" />
                <span class="blog-caption">Top 10 Ways to Relax This Summer</span>
            </a>
            <!-- /.blog-block -->

            <!-- .blog-block -->
            <a title="" href="#" class="blog-block">
                <img alt="" src="content/images/assets/business_image.png" />
                <span class="blog-caption">Top 10 Ways to Relax This Summer</span>
            </a>
            <!-- /.blog-block -->

            <!-- .blog-block -->
            <a title="" href="#" class="blog-block">
                <img alt="" src="content/images/assets/business_image.png" />
                <span class="blog-caption">Top 10 Ways to Relax This Summer</span>
            </a>
            <!-- /.blog-block -->

           <!-- .blog-block -->
            <a title="" href="#" class="blog-block">
                <img alt="" src="content/images/assets/business_image.png" />
                <span class="blog-caption">Top 10 Ways to Relax This Summer</span>
            </a>
            <!-- /.blog-block -->

        </div>
        <!-- /.blog-list -->
        <div class="blog-control">
            <a title="" href="#" class="btn-orange">view more</a>
        </div>
    </div>
</div>

{% endblock %}

{% block scriptLibs %}{% endblock %}

{% block script %}{% endblock %}


