{% extends './master/main-company-2-logged.html' %}

{% block title %}Beautify LA - Company Dashboard{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block namepage %}company-page company-dashboard-page{% endblock %}

{% block banner %}
{% include "content/pages/company/list/banner.html" %}
{% endblock %}

{% block main %}
<div class="main-content clearfix">
    <div class="container">
    </div>
</div>
{% endblock %}

{% block modal %}{% endblock %}

{% block script %}
<script type="text/javascript" src="content/js/pages/ui-company-dashboard.js"></script>
<script type="text/javascript" src="content/js/pages/ui-company.js"></script>
{% endblock %}

