{% extends './master/main-book.html' %}

{% block title %}Beautify LA - Event Ticket{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block namepage %}event-page event-donation-page{% endblock %}

{% block banner %}{% endblock %}

{% block main %}
{% include "content/pages/event/back.html" %}
<!-- InstanceBeginEditable name="banner" -->
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="content" -->
<!-- .main-content -->
<div class="main-content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">

                <!-- #main-affix -->
                <div id="main-affix">
                    <div class="affix-content event-section">
                        <header class="section-header">
                            <h2>3 Weeks of Cardio Tennis &amp; TRX Workout Class </h2>
                            <p>Organized by <b>Kourosh Soccer Club</b></p>
                            <div class="h2"><span>Thursday, February 2nd<br />10:00am - 11:00am</span></div>
                        </header>

                        {% include "content/pages/event/details-donation.html" %}

                        {% include "content/pages/event/rewards.html" %}

                        {% include "content/pages/event/grab-donation.html" %}

                        {% include "content/pages/event/checkout-donation-suggested.html" %}

                        {% include "content/pages/event/address.html" %}

                    </div>
                </div>
                <!-- #main-affix -->

            </div>
            <div class="col-xs-12 col-sm-4 hidden-xs">

                <!-- #nav-affix -->
                <div id="nav-affix">
                    <div class="affix-content">
                        {% include "content/pages/event/socials.html" %}

                        {% include "content/pages/event/upcoming.html" %}

                        {% include "content/pages/company/list/tweets.html" %}

                    </div>
                </div>
                <!-- /#nav-affix -->

            </div>
        </div>
    </div>
</div>
<!-- /.main-content -->
{% endblock %}

{% block modal %}
{% include "content/modals/bill.html" %}
{% include "content/modals/reminder.html" %}
{% include "content/modals/schedule.html" %}
{% endblock %}


{% block scriptLibs %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCqVwY4a4mDTyOVzJY0S0nASARDb90i2pk&sensor=true"></script>
{% endblock %}

{% block script %}
<script type="text/javascript" src="content/js/pages/ui-event.js"></script>
<script type="text/javascript" src="content/js/modals/ui-schedule.js"></script>
{% endblock %}
