{% extends './master/main-book.html' %}

{% block title %}Beautify LA - Event RSVP{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block namepage %}event-page event-rsvp-page{% endblock %}

{% block banner %}{% endblock %}

{% block main %}
<div class="back-to-home">
    <div class="container">
        <a title="" href="home.html">Back to home page</a>
    </div>
</div>
<!-- InstanceBeginEditable name="banner" -->
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="content" -->
<!-- .main-content -->
<div class="main-content book-details-page timer-page multi-page clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">

                <!-- #main-affix -->
                <div id="main-affix">
                    <div class="affix-content event-section">
                        <!-- .book-tab -->
                        <div class="book-tab">
                            <header class="section-header clearfix">
                                <div class="row">
                                    <div class="col-xs-12 col-md-8">
                                        <h5><span class="color-orange">October 2nd</span><br /><span class="color-orange">7:00am - 6:00pm</span></h5>
                                    </div>
                                </div>
                            </header>
                            <div class="new-spot-event">
                                <div class="spot-content">
                                    <h2>Tennis for every level</h2>
                                    <p>Organized by Tennis Group</p>
                                    <p>This event is going to be for a bunch of people from different level of tennis. They can be starters or advanced. The idea is for peoplr to get together and have a great time. Look forward to seeing you in person.</p>
                                    <p><strong>The first 5 people that RSVP get a set of new balls from Wilsons. <span class="color-orange">2 spots left!</span></strong></p>
                                </div>

                                <div class="hidden-xs bar-btn">
                                    <div class="spot-bar">
                                        <div class="spot-guests"></div>
                                        <div class="clearfix">
                                            <div class="spots-left"><strong>7</strong> spots left!</div>
                                            <div class="guests-going color-orange"><strong>2</strong> guests going</div>
                                        </div>
                                        <div class="progress">
                                            <span class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;">60%</span>
                                        </div>
                                    </div>
                                    <a href="#" title="" class="btn-orange">buy tickets</a>
                                </div>

                                <!-- .timer-section -->
                                <div class="timer-section">
                                    <header class="section-header">
                                        <h3>Where is this event?</h3>
                                    </header>

                                    <!-- .address-block -->
                                    <div class="address-block">
                                        <header class="section-header">
                                            <h5>ANOMO</h5>
                                            <p>1420 5th ave suite 2013<br /> Seattle, Washington 98101</p>
                                        </header>

                                        <!-- .timer-map -->
                                        <div class="timer-map">
                                            <div id="google-map"></div>
                                        </div>
                                        <!-- /.timer-map -->

                                    </div>
                                    <!-- /.address-block -->

                                </div>
                                <!-- /.timer-section -->

                                <!-- .article-list -->
                                <div class="article-list hidden-xs">
                                    <header class="section-header">
                                        <h3>Blog</h3>
                                    </header>
                                    <!-- .article-block -->
                                    <div class="article-block">
                                        <a title="" href="#" class="article-img" style="background-image:url(content/images/assets/asset_placeholder_image.png);">
                                            <!--<span class="article-caption">
                                                <header class="section-header">
                                                    <h3>read article</h3>
                                                </header>
                                            </span>-->
                                        </a>
                                        <div class="article-intro">
                                            <header class="section-header">
                                                <h3><a title="" href="#">Dating: LA's best Inexpensive Spots for a First Date</a></h3>
                                            </header>
                                            <div class="article-short-des">
                                                <p>You want to choose a space that provides you and your date with an experience that will enable you to observe one another under ordinary circumstances...</p>
                                            </div>
                                            <q>by <strong>Theresa Heim</strong></q>
                                        </div>
                                    </div>
                                    <!-- /.article-block -->

                                </div>
                                <!-- /.article-list -->

                            </div>

                        </div>
                        <!-- /.book-tab -->

                    </div>
                </div>
                <!-- #main-affix -->

            </div>
            <div class="col-xs-12 col-sm-4">

                <!-- #nav-affix -->
                <div id="nav-affix">
                    <div class="affix-content">

                        <dl class="social-icons clearfix">
                            <dt>share this event</dt>
                            <dd>
                                <a href="https://twitter.com/beautifyla" title="">
                                    <img src="content/images/assets/icons_social/Twitter _share_small.png" alt="">
                                </a>
                            </dd>
                            <dd>
                                <a href="https://www.facebook.com/BeautifyLA" title="">
                                    <img src="content/images/assets/icons_social/Facebook_share_small.png" alt="">
                                </a>
                            </dd>
                            <dd>
                                <a href="#" title="">
                                    <img src="content/images/assets/icons_social/Email_share_small.png" alt="">
                                </a>
                            </dd>
                            <dd>
                                <a href="#" title="">
                                    <img src="content/images/assets/icons_social/Share_link_small.png" alt="">
                                </a>
                            </dd>
                        </dl>

                        <div class="new-spot-event visible-xs">
                            <div class="spot-bar">
                                <div class="spot-guests"></div>
                                <div class="clearfix">
                                    <div class="spots-left"><strong>7</strong> spots left!</div>
                                    <div class="guests-going color-orange"><strong>2</strong> guests going</div>
                                </div>
                                <div class="progress">
                                    <span class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;">60%</span>
                                </div>
                            </div>
                            <div class=" bar-btn">
                                <a href="#" title="" class="btn-orange">buy tickets</a>
                            </div>
                        </div>

                        <!-- .coming-section -->
                        <div class="coming-section">
                            <div class="p10">
                                <header class="section-header section-header-white">
                                    <h4>up coming events</h4>
                                </header>

                                <!-- .comming-list -->
                                <div class="comming-event-list">

                                    <!-- .comming-event-item -->
                                    <div class="comming-event-item">
                                        <a title="" href="#">Amy's Hair Salon event</a>
                                        <time>Oct. 16th</time>
                                    </div>
                                    <!-- /.comming-event-item -->

                                    <!-- .comming-event-item -->
                                    <div class="comming-event-item">
                                        <a title="" href="#">Spooky Salon events pecial</a>
                                        <time>Oct. 31th</time>
                                    </div>
                                    <!-- /.comming-event-item -->

                                    <!-- .comming-event-item -->
                                    <div class="comming-event-item">
                                        <a title="" href="#">Spooky Salon events pecial</a>
                                        <time>Oct. 31th</time>
                                    </div>
                                    <!-- /.comming-event-item -->

                                </div>
                                <!-- /.comming-list -->

                                <header class="section-header section-header-white">
                                    <h4>bulletin:</h4>
                                </header>

                                <!-- .bulletin-list -->
                                <div class="bulletin-list">

                                    <!-- .bulletin-block -->
                                    <div class="bulletin-block">
                                        <div class="bulletin-header">
                                            <div class="bulletin-title">
                                                <span class="bulletin-icon"></span>Wednesday
                                            </div>
                                        </div>
                                        <div class="bulletin-content">
                                            Come in on Wednesday and get a free Starbucks<sup>TM</sup> coffee worth $4.95!
                                        </div>
                                    </div>
                                    <!-- /.bulletin-block -->

                                    <!-- .bulletin-block -->
                                    <div class="bulletin-block">
                                        <div class="bulletin-header">
                                            <div class="bulletin-title">
                                                <span class="bulletin-icon"></span>Thursday
                                            </div>
                                        </div>
                                        <div class="bulletin-content">
                                            Come in on Thursday and get a free pair of shades!
                                        </div>
                                    </div>
                                    <!-- /.bulletin-block -->

                                    <!-- .bulletin-block -->
                                    <div class="bulletin-block bulletin_gallery">
                                        <div class="bulletin-header">
                                            <div class="bulletin-title">
                                                <span class="bulletin-icon"></span>event pics
                                            </div>
                                        </div>
                                        <div class="bulletin-content">
                                            <a class="" title="" data-target="#modal-gallery" data-toggle="modal" href="#" style="background-image:url(content/images/assets/canon_drive.jpg);">
                                                <span class="bulletin-caption"><span>view gallery</span></span>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- /.bulletin-block -->

                                    <!-- .bulletin-block -->
                                    <div class="bulletin-block">
                                        <div class="bulletin-header">
                                            <div class="bulletin-title">
                                                <span class="bulletin-icon"></span>update
                                            </div>
                                        </div>
                                        <div class="bulletin-content">
                                            Friday is going to be craqzy! we have new lollipop flavored nail polish available! Check it out at <a title="" href="#">www.flavorpolish.com</a>
                                        </div>
                                    </div>
                                    <!-- /.bulletin-block -->

                                    <!-- .bulletin-block -->
                                    <div class="bulletin-block">
                                        <div class="bulletin-header">
                                            <div class="bulletin-title">
                                                <span class="bulletin-icon"></span>Thursday
                                            </div>
                                        </div>
                                        <div class="bulletin-content">
                                            Come in on Thursday and get a free pair of shades!
                                        </div>
                                    </div>
                                    <!-- /.bulletin-block -->

                                </div>
                                <!-- /.bulletin-list -->

                                <a class="view-more" href="#" title="">
                                    view more <span class="icon-angle-down"></span>
                                </a>
                            </div>

                            <!-- .article-ads -->
                            <div class="article-ads visible-xs">
                                <div class="ads-block">
                                    <a title="" href="#">
                                        <img alt="" src="content/images/assets/asset_placeholder_flyer.png" />
                                    </a>
                                </div>
                            </div>
                            <!-- .article-ads -->

                            <!-- .article-list -->
                            <div class="article-list visible-xs">

                                <!-- .article-block -->
                                <div class="article-block">
                                    <a title="" href="#" class="article-img" style="background-image:url(content/images/assets/asset_placeholder_image.png);">
                                        <!--<span class="article-caption">
                                            <header class="section-header">
                                                <h3>read article</h3>
                                            </header>
                                        </span>-->
                                    </a>
                                    <div class="article-intro">
                                        <header class="section-header">
                                            <h3><a title="" href="#">Dating: LA's best Inexpensive Spots for a First Date</a></h3>
                                        </header>
                                        <div class="article-short-des">
                                            <p>You want to choose a space that provides you and your date with an experience that will enable you to observe one another under ordinary circumstances...</p>
                                        </div>
                                        <q>by <strong>Theresa Heim</strong></q>
                                    </div>
                                </div>
                                <!-- /.article-block -->

                            </div>
                            <!-- /.article-list -->

                            <!-- .back-section -->
                            <div class="back-section visible-xs">
                                <a href="#" title="">
                                    <span class="icon-back"></span>
                                    Back to event
                                </a>
                            </div>
                            <!-- /.back-section -->

                        </div>
                        <!-- /.coming-section -->

                        {% include "content/pages/company/list/tweets.html" %}

                    </div>
                </div>
                <!-- /#nav-affix -->

            </div>
        </div>
    </div>
</div>
<!-- /.main-content -->
{% endblock %}

{% block modal %}
{% include "content/modals/rsvp.html" %}
{% include "content/modals/sold-out.html" %}
{% include "content/modals/gallery.html" %}
{% endblock %}


{% block scriptLibs %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCqVwY4a4mDTyOVzJY0S0nASARDb90i2pk&sensor=true"></script>{% endblock %}

{% block script %}
<script type="text/javascript" src="content/js/pages/ui-event.js"></script>
{% endblock %}
