{% extends 'master/main.html' %}

{% block title %}Beautify LA - Home{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block banner %}{% endblock %}

{% block main %}
<div class="main-content">
    <div class="container">
        <dl>
            <dd>&nbsp;</dd>
            <dt>UI Sprint</dt>
            <dd>
                <a title="" href="author.html" target="_blank">author</a>
            </dd>
            <dd>
                <a title="" href="blog.html" target="_blank">blog</a>
            </dd>
            <dd>
                <a title="" href="blog-details.html" target="_blank">blog-details</a>
            </dd>
            <dd>
                <a title="" href="booking.html" target="_blank">booking</a>
            </dd>
            <dd>
                <a title="" href="company-dashboard.html" target="_blank">company dashboard</a>
            </dd>
            <dd>
                <a title="" href="company-list.html" target="_blank">company list</a>
            </dd>
            <dd>
                <a title="" href="company-list-2.html" target="_blank">company list 2</a>
            </dd>
            <dd>
                <a title="" href="company-offer.html" target="_blank">company offer</a>
            </dd>
            <dd>
                <a title="" href="company-settings.html" target="_blank">company settings</a>
            </dd>
            <dd>
                <a title="" href="confirm.html" target="_blank">confirm</a>
            </dd>
            <dd>
                <a title="" href="event-rsvp.html" target="_blank">event rsvp</a>
            </dd>
            <dd>
                <a title="" href="event-special.html" target="_blank">event special</a>
            </dd>
            <dd>
                <a title="" href="event-ticket.html" target="_blank">event ticket</a>
            </dd>
            <dd>
                <a title="" href="forgot-after.html" target="_blank">forgot after</a>
            </dd>
            <dd>
                <a title="" href="forgot.html" target="_blank">forgot</a>
            </dd>
            <dd>
                <a title="" href="home-logged.html" target="_blank">home logged</a>
            </dd>
            <dd>
                <a title="" href="home-no-event.html" target="_blank">home no event</a>
            </dd>
            <dd>
                <a title="" href="home.html" target="_blank">home</a>
            </dd>
            <dd>
                <a title="" href="login.html" target="_blank">login</a>
            </dd>
            <dd>
                <a title="" href="settings-event-dashboard.html" target="_blank">settings evnet dashboard</a>
            </dd>
            <dd>
                <a title="" href="settings-event-guest.html" target="_blank">settings event guest</a>
            </dd>
            <dd>
                <a title="" href="settings-event-rsvp-1.html" target="_blank">settings event rsvp 1</a>
            </dd>
            <dd>
                <a title="" href="settings-event-rsvp-2.html" target="_blank">settings event rsvp 2</a>
            </dd>
            <dd>
                <a title="" href="settings-event-special-1.html" target="_blank">settings event special 1</a>
            </dd>
            <dd>
                <a title="" href="settings-event-special-2.html" target="_blank">settings event special 2</a>
            </dd>
        </dl>
    </div>
</div>
{% endblock %}

{% block scriptLibs %}

{% endblock %}

{% block script %}{% endblock %}


