{% extends 'master/main-blog.html' %}

{% block title %}Beautify LA - Login{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block namepage %}login-page{% endblock %}

{% block banner %}{% endblock %}

{% block main %}
<div class="main-content login-page clearfix">
    <div class="container">
        <!-- .modal-login -->
        <div class="modal-form modal-login">
            <div class="modal-header">
                <h3 class="modal-title">Login</h3>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" placeholder="Email" />
                <input class="form-control" type="text" placeholder="Password" />
                <button type="button" class="btn-orange btn-form btn-login" data-toggle="modal" data-target="#modal-welcome">login</button>
            </div>
            <div class="modal-footer clearfix">
                <a title="" href="forgot-password.html">Forgot Password?</a>
                <div class="cb-custom">
                    <input class="cb-mark" id="cbTwitter" type="checkbox" name="share" value="1" checked="">
                    <label class="cb-label" for="cbTwitter">Remember me</label>
                </div>
            </div>
        </div><!-- /.modal -->
        <!-- /.modal-login -->

    </div>
</div>

{% endblock %}

{% block scriptLibs %}{% endblock %}

{% block script %}
<script type="text/javascript">
    function ptLogin() {
        var pt = ($(window).innerHeight() - $('.site-header').height() - $('.login-page .modal-login').height()) / 2;
        var $mainContent = $('.login-page .main-content');
        if(!isView.mobile()) {
            if (pt > 0) {
                $('.login-page .main-content').css({'padding-top': pt - 10, 'padding-bottom': pt});
            } else {
                $('.login-page .main-content').css({'padding-top': 0, 'padding-bottom': 10});
            }
        }
    }
    $(document).ready(function(){
        ptLogin()

        monitorResize(function(){
            if(isView.mobile()) {
                $('.login-page .main-content').css({'padding-top': 0, 'padding-bottom': 0});
                return;
            }
            ptLogin();
        });

    });
</script>
{% endblock %}


