{% extends 'master/main.html' %}

{% block title %}Beautify LA - Home{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block namepage %}{% endblock %}

{% block banner %}{% endblock %}

{% block main %}

<div class="main-content">
    <div class="container">
        <dl>
            <dd>&nbsp;</dd>
            <dt>UI Sprint</dt>
            <dd>
                <a href="#" title="" data-target="#modal-access" data-toggle="modal">access</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-alert" data-toggle="modal">alert</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-avatar" data-toggle="modal">avatar</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-banner" data-toggle="modal">banner</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-booked" data-toggle="modal">booked</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-booked-yet" data-toggle="modal"" target="_blank">booked yet</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-bulletin" data-toggle="modal">bulletin</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-change-services" data-toggle="modal">change services</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-checkout" data-toggle="modal">checkout</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-checkout-term" data-toggle="modal">checkout term</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-class" data-toggle="modal">class</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-confirm" data-toggle="modal">confirm</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-confirmation" data-toggle="modal">confirmation</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-confirmed" data-toggle="modal">confirmed</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-create" data-toggle="modal">create</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-dashboard" data-toggle="modal">dashboard</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-delete" data-toggle="modal">delete</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-email" data-toggle="modal">email</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-forgot-pass" data-toggle="modal">forgot pass</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-gallery" data-toggle="modal">gallery</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-get-back" data-toggle="modal">get back</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-hey" data-toggle="modal">hey</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-login" data-toggle="modal"" target="_blank">login</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-notify" data-toggle="modal">notify</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-offerings" data-toggle="modal">offerings</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-package" data-toggle="modal">package</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-rsvp" data-toggle="modal">rsvp</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-sending" data-toggle="modal">sending</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-service" data-toggle="modal">service</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-sign-up" data-toggle="modal">sign up</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-social" data-toggle="modal">social</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-sold-out" data-toggle="modal">sold out</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-terms-privacy" data-toggle="modal">terms privacy</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-thanks" data-toggle="modal">thanks</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-thank-you" data-toggle="modal">thank you</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-ticket" data-toggle="modal">ticket</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-upcomming" data-toggle="modal">upcomming</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-welcome" data-toggle="modal">welcome</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-change-password" data-toggle="modal">change password</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#modal-create-category" data-toggle="modal">create category</a>
            </dd>
            <dd>
                <a href="#" title="" data-target="#cropBannerModal" data-toggle="modal">crop banner</a>
            </dd>
        </dl>
    </div>
</div>
{% endblock %}

{% block modal %}
{% include "content/modals/access.html" %}
{% include "content/modals/alert.html" %}
{% include "content/modals/avatar.html" %}
{% include "content/modals/banner.html" %}
{% include "content/modals/booked.html" %}
{% include "content/modals/booked-yet.html" %}
{% include "content/modals/bulletin.html" %}
{% include "content/modals/change-services.html" %}
{% include "content/modals/checkout.html" %}
{% include "content/modals/checkout-terms.html" %}
{% include "content/modals/class.html" %}
{% include "content/modals/confirm.html" %}
{% include "content/modals/confirmation.html" %}
{% include "content/modals/confirmed.html" %}
{% include "content/modals/create.html" %}
{% include "content/modals/dashboard.html" %}
{% include "content/modals/delete.html" %}
{% include "content/modals/email.html" %}
{% include "content/modals/forgot.html" %}
{% include "content/modals/gallery.html" %}
{% include "content/modals/get-back.html" %}
{% include "content/modals/hey.html" %}
{% include "content/modals/login.html" %}
{% include "content/modals/notify.html" %}
{% include "content/modals/offerings.html" %}
{% include "content/modals/package.html" %}
{% include "content/modals/rsvp.html" %}
{% include "content/modals/sending.html" %}
{% include "content/modals/service.html" %}
{% include "content/modals/sign-up.html" %}
{% include "content/modals/socials.html" %}
{% include "content/modals/sold-out.html" %}
{% include "content/modals/terms-privacy.html" %}
{% include "content/modals/thanks.html" %}
{% include "content/modals/thank-you.html" %}
{% include "content/modals/ticket.html" %}
{% include "content/modals/upcoming.html" %}
{% include "content/modals/welcome.html" %}
{% include "content/modals/change-password.html" %}
{% include "content/modals/create-category.html" %}
{% include "content/modals/crop-banner.html" %}
{% endblock %}

{% block scriptLibs %}{% endblock %}

{% block script %}
<script type="text/javascript" src="content/js/modals/ui-access.js"></script>
<script type="text/javascript" src="content/js/modals/ui-gallery.js"></script>
<script type="text/javascript" src="content/js/modals/ui-rsvp.js"></script>
<script type="text/javascript" src="content/js/modals/ui-confirmation.js"></script>
<script type="text/javascript" src="content/js/modals/ui-ticket.js"></script>
<script type="text/javascript" src="content/js/modals/ui-checkout.js"></script>
<script type="text/javascript" src="content/js/modals/ui-checkout-terms.js"></script>
<script type="text/javascript" src="content/js/modals/ui-create.js"></script>
<script type="text/javascript" src="content/js/modals/ui-offerings.js"></script>
<script type="text/javascript" src="content/js/modals/ui-terms.js"></script>
<script type="text/javascript" src="content/js/modals/ui-banner.js"></script>
{% endblock %}


