{% extends './master/main-offer.html' %}

{% block title %}Beautify LA - Event offer{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block namepage %}offer-page{% endblock %}

{% block banner %}{% endblock %}

{% block main %}
<div class="main-content clearfix">
    <div class="container">
        <a class="back-to-top hidden-xs" title="" href="#site-header">Top</a>
        <div class="row">
            <div class="col-xs-12 col-sm-8">

                <!-- #main-affix -->
                <div id="main-affix">
                    <div class="affix-content event-section multi-section">
                        <header class="section-header">
                            <h4><span class="color-orange">Oct. 2nd</span></h4>
                            <h2>Greater LA event</h2>
                        </header>

                        <div class="row filter-setion clearfix">
                            <div class="col-xs-12 col-sm-6">
                                <select id="select-city" class="selectpicker select-city select-full">
                                    <option value="">select location</option>
                                    <option value="">Los Angeles</option>
                                    <option value="">US</option>
                                    <option value="">Canadar</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <select id="select-category" class="selectpicker select-category select-full">
                                    <option value="">select category</option>
                                    <option value="">massage</option>
                                </select>
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    $('#select-category, #select-city').selectpicker();
                                });
                            </script>
                        </div>

                        <!-- .event-new-list -->
                        <div class="event-list clearfix">

                            <header class="section-header">
                                <h4>Nails</h4>
                            </header>

                            <!-- .new-spot -->
                            <div class="new-spot offer-spot">
                                <div class="clearfix">
                                    <div class="spot-left">
                                        <a title="" href="#" class="spot-img" style="background-image:url(content/images/assets/sunset_plaza.jpg);"></a>
                                        <dl class="social-icons clearfix">
                                            <dt>Share</dt>
                                            <dd>
                                                <a href="https://twitter.com/beautifyla" title="">
                                                    <img src="content/images/assets/icons_social/Twitter _share_small.png" alt="">
                                                </a>
                                            </dd>
                                            <dd>
                                                <a href="https://www.facebook.com/BeautifyLA" title="">
                                                    <img src="content/images/assets/icons_social/Facebook_share_small.png" alt="">
                                                </a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="spot-right spot-right-header">
                                        <div class="spot-content">
                                            <h2><a title="" href="#">Tennis for every level</a></h2>
                                            <p><small><strong>santa monica, ca</strong></small></p>
                                            <dl class="social-icons clearfix">
                                                <dt>Share</dt>
                                                <dd>
                                                    <a href="https://twitter.com/beautifyla" title="">
                                                        <img src="content/images/assets/icons_social/Twitter _share_small.png" alt="">
                                                    </a>
                                                </dd>
                                                <dd>
                                                    <a href="https://www.facebook.com/BeautifyLA" title="">
                                                        <img src="content/images/assets/icons_social/Facebook_share_small.png" alt="">
                                                    </a>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="spot-right spot-right-content">
                                        <div class="spot-content">
                                            <div class="section-type">
                                                <div class="section-item clearfix">
                                                    <div class="section-title"><span>1</span> Makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                               <div class="section-item clearfix">
                                                    <div class="section-title"><span>2</span> Advanced makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                                <div class="section-item clearfix">
                                                    <div class="section-title"><span>3</span> Professional makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                            </div>
                                            <a title="" href="#" data-target="#modal-offer" data-toggle="modal" class="btn-orange">get the offer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.new-spot -->

                            <!-- .new-spot -->
                            <div class="new-spot offer-spot">
                                <div class="clearfix">
                                    <div class="spot-left">
                                        <a title="" href="#" class="spot-img" style="background-image:url(content/images/assets/sunset_plaza.jpg);"></a>
                                        <dl class="social-icons clearfix">
                                            <dt>Share</dt>
                                            <dd>
                                                <a href="https://twitter.com/beautifyla" title="">
                                                    <img src="content/images/assets/icons_social/Twitter _share_small.png" alt="">
                                                </a>
                                            </dd>
                                            <dd>
                                                <a href="https://www.facebook.com/BeautifyLA" title="">
                                                    <img src="content/images/assets/icons_social/Facebook_share_small.png" alt="">
                                                </a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="spot-right spot-right-header">
                                        <div class="spot-content">
                                            <h2><a title="" href="#">Tennis for every level</a></h2>
                                            <p><small><strong>santa monica, ca</strong></small></p>
                                            <dl class="social-icons clearfix">
                                                <dt>Share</dt>
                                                <dd>
                                                    <a href="https://twitter.com/beautifyla" title="">
                                                        <img src="content/images/assets/icons_social/Twitter _share_small.png" alt="">
                                                    </a>
                                                </dd>
                                                <dd>
                                                    <a href="https://www.facebook.com/BeautifyLA" title="">
                                                        <img src="content/images/assets/icons_social/Facebook_share_small.png" alt="">
                                                    </a>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="spot-right spot-right-content">
                                        <div class="spot-content">
                                            <div class="section-type">
                                                <div class="section-item clearfix">
                                                    <div class="section-title"><span>1</span> Makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                               <div class="section-item clearfix">
                                                    <div class="section-title"><span>2</span> Advanced makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                                <div class="section-item clearfix">
                                                    <div class="section-title"><span>3</span> Professional makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                            </div>
                                            <a title="" href="#" data-target="#modal-offer" data-toggle="modal" class="btn-orange">get the offer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.new-spot -->

                            <!-- .new-spot -->
                            <div class="new-spot offer-spot">
                                <div class="clearfix">
                                    <div class="spot-left">
                                        <a title="" href="#" class="spot-img" style="background-image:url(content/images/assets/sunset_plaza.jpg);"></a>
                                        <dl class="social-icons clearfix">
                                            <dt>Share</dt>
                                            <dd>
                                                <a href="https://twitter.com/beautifyla" title="">
                                                    <img src="content/images/assets/icons_social/Twitter _share_small.png" alt="">
                                                </a>
                                            </dd>
                                            <dd>
                                                <a href="https://www.facebook.com/BeautifyLA" title="">
                                                    <img src="content/images/assets/icons_social/Facebook_share_small.png" alt="">
                                                </a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="spot-right">
                                        <div class="spot-content spot-right-header">
                                            <h2><a title="" href="#">Tennis for every level</a></h2>
                                            <p><small><strong>santa monica, ca</strong></small></p>
                                            <dl class="social-icons clearfix">
                                                <dt>Share</dt>
                                                <dd>
                                                    <a href="https://twitter.com/beautifyla" title="">
                                                        <img src="content/images/assets/icons_social/Twitter _share_small.png" alt="">
                                                    </a>
                                                </dd>
                                                <dd>
                                                    <a href="https://www.facebook.com/BeautifyLA" title="">
                                                        <img src="content/images/assets/icons_social/Facebook_share_small.png" alt="">
                                                    </a>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="spot-right spot-right-content">
                                        <div class="spot-content">
                                            <div class="section-type">
                                                <div class="section-item clearfix">
                                                    <div class="section-title"><span>1</span> Makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                               <div class="section-item clearfix">
                                                    <div class="section-title"><span>2</span> Advanced makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                                <div class="section-item clearfix">
                                                    <div class="section-title"><span>3</span> Professional makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                            </div>
                                            <a title="" href="#" data-target="#modal-offer" data-toggle="modal" class="btn-orange">get the offer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.new-spot -->

                            <header class="section-header">
                                <h4>Nails</h4>
                            </header>

                            <!-- .new-spot -->
                            <div class="new-spot offer-spot">
                                <div class="clearfix">
                                    <div class="spot-left">
                                        <a title="" href="#" class="spot-img" style="background-image:url(content/images/assets/sunset_plaza.jpg);"></a>
                                        <dl class="social-icons clearfix">
                                            <dt>Share</dt>
                                            <dd>
                                                <a href="https://twitter.com/beautifyla" title="">
                                                    <img src="content/images/assets/icons_social/Twitter _share_small.png" alt="">
                                                </a>
                                            </dd>
                                            <dd>
                                                <a href="https://www.facebook.com/BeautifyLA" title="">
                                                    <img src="content/images/assets/icons_social/Facebook_share_small.png" alt="">
                                                </a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="spot-right spot-right-header">
                                        <div class="spot-content">
                                            <h2><a title="" href="#">Tennis for every level</a></h2>
                                            <p><small><strong>santa monica, ca</strong></small></p>
                                            <dl class="social-icons clearfix">
                                                <dt>Share</dt>
                                                <dd>
                                                    <a href="https://twitter.com/beautifyla" title="">
                                                        <img src="content/images/assets/icons_social/Twitter _share_small.png" alt="">
                                                    </a>
                                                </dd>
                                                <dd>
                                                    <a href="https://www.facebook.com/BeautifyLA" title="">
                                                        <img src="content/images/assets/icons_social/Facebook_share_small.png" alt="">
                                                    </a>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="spot-right spot-right-content">
                                        <div class="spot-content">
                                            <div class="section-type">
                                                <div class="section-item clearfix">
                                                    <div class="section-title"><span>1</span> Makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                               <div class="section-item clearfix">
                                                    <div class="section-title"><span>2</span> Advanced makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                                <div class="section-item clearfix">
                                                    <div class="section-title"><span>3</span> Professional makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                            </div>
                                            <a title="" href="#" data-target="#modal-offer" data-toggle="modal" class="btn-orange">get the offer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.new-spot -->

                            <!-- .new-spot -->
                            <div class="new-spot offer-spot">
                                <div class="clearfix">
                                    <div class="spot-left">
                                        <a title="" href="#" class="spot-img" style="background-image:url(content/images/assets/sunset_plaza.jpg);"></a>
                                        <dl class="social-icons clearfix">
                                            <dt>Share</dt>
                                            <dd>
                                                <a href="https://twitter.com/beautifyla" title="">
                                                    <img src="content/images/assets/icons_social/Twitter _share_small.png" alt="">
                                                </a>
                                            </dd>
                                            <dd>
                                                <a href="https://www.facebook.com/BeautifyLA" title="">
                                                    <img src="content/images/assets/icons_social/Facebook_share_small.png" alt="">
                                                </a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="spot-right spot-right-header">
                                        <div class="spot-content">
                                            <h2><a title="" href="#">Tennis for every level</a></h2>
                                            <p><small><strong>santa monica, ca</strong></small></p>
                                            <dl class="social-icons clearfix">
                                                <dt>Share</dt>
                                                <dd>
                                                    <a href="https://twitter.com/beautifyla" title="">
                                                        <img src="content/images/assets/icons_social/Twitter _share_small.png" alt="">
                                                    </a>
                                                </dd>
                                                <dd>
                                                    <a href="https://www.facebook.com/BeautifyLA" title="">
                                                        <img src="content/images/assets/icons_social/Facebook_share_small.png" alt="">
                                                    </a>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="spot-right spot-right-content">
                                        <div class="spot-content">
                                            <div class="section-type">
                                                <div class="section-item clearfix">
                                                    <div class="section-title"><span>1</span> Makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                               <div class="section-item clearfix">
                                                    <div class="section-title"><span>2</span> Advanced makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                                <div class="section-item clearfix">
                                                    <div class="section-title"><span>3</span> Professional makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                            </div>
                                            <a title="" href="#" data-target="#modal-offer" data-toggle="modal" class="btn-orange">get the offer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.new-spot -->

                            <!-- .new-spot -->
                            <div class="new-spot offer-spot">
                                <div class="clearfix">
                                    <div class="spot-left">
                                        <a title="" href="#" class="spot-img" style="background-image:url(content/images/assets/sunset_plaza.jpg);"></a>
                                        <dl class="social-icons clearfix">
                                            <dt>Share</dt>
                                            <dd>
                                                <a href="https://twitter.com/beautifyla" title="">
                                                    <img src="content/images/assets/icons_social/Twitter _share_small.png" alt="">
                                                </a>
                                            </dd>
                                            <dd>
                                                <a href="https://www.facebook.com/BeautifyLA" title="">
                                                    <img src="content/images/assets/icons_social/Facebook_share_small.png" alt="">
                                                </a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="spot-right spot-right-header">
                                        <div class="spot-content">
                                            <h2><a title="" href="#">Tennis for every level</a></h2>
                                            <p><small><strong>santa monica, ca</strong></small></p>
                                            <dl class="social-icons clearfix">
                                                <dt>Share</dt>
                                                <dd>
                                                    <a href="https://twitter.com/beautifyla" title="">
                                                        <img src="content/images/assets/icons_social/Twitter _share_small.png" alt="">
                                                    </a>
                                                </dd>
                                                <dd>
                                                    <a href="https://www.facebook.com/BeautifyLA" title="">
                                                        <img src="content/images/assets/icons_social/Facebook_share_small.png" alt="">
                                                    </a>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="spot-right spot-right-content">
                                        <div class="spot-content">
                                            <div class="section-type">
                                                <div class="section-item clearfix">
                                                    <div class="section-title"><span>1</span> Makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                               <div class="section-item clearfix">
                                                    <div class="section-title"><span>2</span> Advanced makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                                <div class="section-item clearfix">
                                                    <div class="section-title"><span>3</span> Professional makeup class</div> <div class="section-offer">10% off</div>
                                                </div>
                                            </div>
                                            <a title="" href="#" data-target="#modal-offer" data-toggle="modal" class="btn-orange">get the offer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.new-spot -->

                        </div>
                        <!-- /.event-new-list -->

                    </div>
                </div>
                <!-- /#main-affix -->

            </div>
            <div class="col-xs-12 col-sm-4">

                <!-- #nav-affix -->
                <div id="nav-affix">
                    <div class="affix-content">

                        <!-- .social_twitter -->
                        <div class="social_twitter on-desktop">
                            <a class="twitter-timeline" href="https://twitter.com/search?q=%40beautifyla+OR+%23beautifyla" data-widget-id="516673367047282688">Tweets about "@beautifyla OR #beautifyla"</a>

                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </div>
                        <!-- /.social_twitter -->

                    </div>
                </div>
                <!-- /#nav-affix -->

            </div>
        </div>
    </div>
</div>
<!-- /.main-content -->
{% endblock %}

{% block modal %}
{% include "content/modals/rsvp.html" %}
{% include "content/modals/sold-out.html" %}
{% include "content/modals/gallery.html" %}
{% endblock %}


{% block scriptLibs %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCqVwY4a4mDTyOVzJY0S0nASARDb90i2pk&sensor=true"></script>{% endblock %}

{% block script %}
<script type="text/javascript" src="content/js/pages/ui-event.js"></script>
{% endblock %}
