{% extends 'master/main-request.html' %}

{% block title %}Beautify LA - Request Event{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block namepage %}request-event-page{% endblock %}

{% block banner %}
{% include "content/pages/request/banner.html" %}
{% endblock %}

{% block main %}
<!-- .useful-content -->
<section class="intro-content">
    <div class="container">
        <header class="section-header">
            <h2>what are Beautify LA events?</h2>
            <p>does your business have a unique experience or offer they would like to share with the community?</p>
        </header>
        <p>Beautify LA started as an effort to bring the local community together. our goal is to help develop long lasting relationships between consumers and local businesses, large and small, by offering exclusive offers and unique experiences at thousands of locations. to start an event with the Beautify LA event platform you must offer something unique like and experience, or maybe an offer. we know many businesses have their own rythm so we leave the details up to you.</p>
        <div class="text-center">
            <a class="link-request" title="" href="home.html">see live events <span></span></a>
        </div>
    </div>
</section>
<!-- .useful-content -->

<!-- .how-it-works-content -->
<section class="how-event-works-content">
    <div class="container">
        <header class="section-header">
            <h2>how to start an event</h2>
            <p>request your event and we'll contact you about the details, once we create your event, help us share it!</p>
        </header>

        <!-- .business-content -->
        <div class="business-content clearfix">

            <!-- .howboxcontent -->
            <div class="visible-md visible-lg">
                <div id="business-content" class="howboxcontent">
                    <ul>
                        <li class="tabs tab1 active">
                            <div class="headtab headtab1"><span>request</span></div>
                            <div class="contenttab">
                                <div class="slidecontent">
                                    <div class="slidetext">
                                        <h2>it's totally free</h2>
                                        <p>it only takes just a minute to request a Beautify LA event. simply fill out the required contact information and pick a few dates that might works for your event. we are constantly getting new request so book yours now to ensure your desired date!</p>
                                    </div>
                                    <div class="slidearrow clearfix">
                                        <a href="#" data-target="#modal-create" data-toggle="modal" class="link-sign-up" title="">request now</a>
                                        <a id="arrow3" href="#" class="arrow" title="">what's next?</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="tabs tab2">
                            <div class="headtab headtab2"><span>we'll create it</span></div>
                            <div class="contenttab">
                                <div class="slidecontent">
                                    <div class="slidetext">
                                        <h2>give us the details</h2>
                                        <p>we'll have one repersentatives reach out to you. give us the details of what you are offering and we'll help you create your very own event page.</p>
                                    </div>
                                    <div class="slidearrow clearfix">
                                        <a href="#" data-target="#modal-create" data-toggle="modal" class="link-sign-up" title="">request now</a>
                                        <a id="arrow4" href="#" class="arrow" title="">what's next?</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="tabs tab3">
                            <div class="headtab headtab3"><span>spread the word</span></div>
                            <div class="contenttab">
                                <div class="slidecontent slidecontentthrive">
                                    <div class="slidetext slidetextthrive">
                                        <h2>invite all your clients</h2>
                                        <p>once your event goes live, we'll email all your clients with a custom email template and you can share your event page with your social media following. your event will be listed on the Beautify LA event homepage to help attract new customers!</p>
                                    </div>
                                    <div class="slidearrow clearfix">
                                        <a href="#" data-target="#modal-create" data-toggle="modal" class="link-sign-up" title="">request now</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.howboxcontent -->

            <div id="accordion-business" class="hidden-md hidden-lg">
                <h3>request</h3>
                <div>
                    <p>it only takes just a minute to request a Beautify LA event. simply fill out the required contact information and pick a few dates that might works for your event. we are constantly getting new request so book yours now to ensure your desired date!</p>
                    <p class="text-center"><a href="#" data-target="#modal-create" data-toggle="modal" class="link-sign-up" title="">request now</a></p>
                    <div class="text-center">
                        <a title="" href="#" id="accordion-business-2" class="icon-down">what's next?</a>
                    </div>
                </div>
                <h3>we'll create it</h3>
                <div>
                    <h2>give us the details</h2>
                    <p>we'll have one repersentatives reach out to you. give us the details of what you are offering and we'll help you create your very own event page.</p>
                    <p class="text-center"><a href="#" data-target="#modal-create" data-toggle="modal" class="link-sign-up" title="">request now</a></p>
                    <div class="text-center">
                        <a title="" href="#" id="accordion-business-3" class="icon-down">what's next?</a>
                    </div>
                </div>
                <h3>spread the word</h3>
                <div>
                    <h2>invite all your clients</h2>
                    <p>once your event goes live, we'll email all your clients with a custom email template and you can share your event page with your social media following. your event will be listed on the Beautify LA event homepage to help attract new customers!</p>
                     <p class="text-center"><a href="#" data-target="#modal-create" data-toggle="modal" class="link-sign-up" title="">request now</a></p>
                </div>
            </div>
        </div>
        <!-- /.business-content -->

    </div>
</section>
<!-- /.how-it-works-content -->

<!-- .lifestyle-content -->
<section class="how-event-work-form">
    <div class="container">

        <!-- .section-note -->
        <header class="section-note">
            <p>Beautify LA bookings must be made through the kuyam scheduling site and event dates are not guaranteed as ther are many businesses who now do events with Beautify LA!</p>
        </header>
        <!-- /.section-note -->

        <header class="section-header text-center">
            <h3 class="visible-xs">request for your own event now. it's quick and painless!</h3>
            <h4 class="hidden-xs">request for your own event now. it's quick and painless!</h4>
            <input type="button" data-target="#modal-create" data-toggle="modal" class="btn-orange btn-form btn-request" value="request an event" />
        </header>

    </div>
</section>
<!-- /.lifestyle-content -->
{% endblock %}

{% block modal %}
{% include "content/modals/create.html" %}
{% endblock %}

{% block scriptLibs %}{% endblock %}

{% block script %}
<script type="text/javascript" src="content/js/pages/ui-request.js"></script>
{% endblock %}


