{% extends 'master/main.html' %}

{% block title %}Beautify LA - Special Price{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block banner %}{% endblock %}

{% block main %}
<div class="main-content">
    <div class="container">
        <dl>
            <dd>&nbsp;</dd>
            <dt>UI Sprint</dt>
            <dd>
                <a title="" href="sprints/sprint69/index.html" target="_blank">sprint 69</a>
            </dd>
        </dl>
    </div>
</div>
{% endblock %}

{% block scriptLibs %}

{% endblock %}

{% block script %}{% endblock %}


