{% extends 'master/main-thanks.html' %}

{% block title %}Beautify LA - Thanks{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block main %}
<div class="desktop">
    <div id="header">
        <div class="header_bar">
            <div class="bg_black">
                <div class="Beautify_LA">
                    <div class="header clearfix">
                        <a class="logo2" href="#" title="">
                            <img class="img_100" src="resources/images/Beautify_LA_100_logo_header.png" alt="" />
                            <img class="img_80" src="resources/images/Beautify_LA_80_logo_header.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Beautify_LA">
        <div class="section">
            <div class="main_content">
                <div class="article">
                	<div class="clearfix">
                        <div class="thanks_info">
                            <div class="content_logo">
                            	<div class="content_image">
                                    <img class="img_100" src="resources/images/beautify_la_100_logo_content.png" alt="" />
                                    <img class="img_80" src="resources/images/beautify_la_80_logo_content.png" alt="" />
                                </div>
                            </div>
                            <div class="content">
                                <div class="content_bg">
                                    <div class="thanks">
                                        <ul>
                                            <li>Thank you for joining the community and helping us Beautify LA! Keep an eye out for an email from us to start booking your appointments.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_black">
        <div class="Beautify_LA">
            <div class="footer clearfix">
                <a class="logo" href="#" title="">
                    <img class="img_100" src="resources/images/Beautify_LA_100_logo_footer.png" alt="" />
                    <img class="img_80" src="resources/images/Beautify_LA_80_logo_footer.png" alt="" />
                </a>
                <span class="copyright">© 2014 kuyam companies, inc. • all rights reserved</span>
            </div>
        </div>
    </div>
</div>
<div class="iphone">
    <div id="header">
        <div class="header_bar">
            <div class="bg_black">
                <div class="Beautify_LA">
                    <header class="clearfix">
                        <a class="logo2" href="#" title="">
                            <img class="img_60" src="resources/images/Beautify_LA_60_logo_header.png" alt="" />
                            <img class="img_40" src="resources/images/Beautify_LA_40_logo_header.png" alt="" />
                            <img class="img_20" src="resources/images/Beautify_LA_20_logo_header.png" alt="" />
                        </a>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div class="Beautify_LA">
        <section>
            <div class="main_content">
                <article>
                    <div class="content_logo">
                    	<div class="logo">
                            <img class="img_60" src="resources/images/Beautify_LA_60_logo_footer.png" alt="" />
                            <img class="img_40" src="resources/images/Beautify_LA_40_logo_footer.png" alt="" />
                            <img class="img_20" src="resources/images/Beautify_LA_20_logo_footer.png" alt="" />
                        </div>
                    </div>
                    <div class="content_bg">
                    	<div class="clearfix">
                            Thank you for joining the community and helping us Beautify LA! Keep an eye out for an email from us to start booking your appointments.
                    	</div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <div class="bg_black">
        <div class="Beautify_LA">
            <footer class="clearfix">
            </footer>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptLibs %}

{% endblock %}

{% block script %}{% endblock %}


