<div class="row">
    <div class="col-xs-12 text-center">
        <div class="pagination-container hidden-xs">
            <ul>
                <li class="PagedList-skipToPrevious"><a title="" href="#"><span class="icon-prev"></span> back</a></li>
                <li><a class="active" title="" href="#">1</a></li>
                <li><a title="" href="#">2</a></li>
                <li><a title="" href="#">3</a></li>
                <li><a title="" href="#">4</a></li>
                <li><a title="" href="#">5</a></li>
                <li><a title="" href="#">6</a></li>
                <li><a title="" href="#">7</a></li>
                <li><a title="" href="#">8</a></li>
                <li><a title="" href="#">9</a></li>
                <li><a title="" href="#">10</a></li>
                <li><a title="" href="#">...</a></li>
                <li class="PagedList-skipToNext"><a title="" href="#">next <span class="icon-next"></span></a></li>
            </ul>
        </div>
        <div class="visible-xs">
            <a class="book-more" title="" href="#">tap to see more<br /> <span class="icon-angle-down"></span></a>
        </div>
    </div>
</div>