input[type="text"] {
    width: 100%;
    border: 1px solid rgb(169, 169, 169);
    padding: 0 10px;
    height: 18px;

    &.input-url {
        width: 92%;
    }
}

textarea{
    width: 100%;
    border: 1px solid rgb(169, 169, 169);
    overflow: auto;
    resize: none;
    height: 100px;
    padding: 0 10px;
}

.input-countdown {
    .text {
        display: block;
        text-align: right;
    }
}
