.chosen-select {
    .wrap-nicescroll-content {
        + .nicescroll-rails {
            div {
                background-color: #f3472d !important;
            }
        }
    }
}

.chosen-container {
    .chosen-results {
        li {
            &:hover {
                color: $positive;
            }
        }
    }
}

.chosen-container-single,
.chosen-container-multi {
    .chosen-single,
    .chosen-multiple {
        border-color: #797979;
        height: 40px;
        border-radius: 2px;
        line-height: 38px;

        @media (max-width: 767px) {
            height: 38px;
            line-height: 36px;
        }

        div {
            width: 39px;

            b {
                background-image: url(../images/ui/pages/company/settings/icon_select.png);
                background-size: 21px auto;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);

                @media
                only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
                only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
                only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
                only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
                only screen and (              min-resolution:120dpi)      and (min-width:320px),
                only screen and (               min-resolution:2dppx)      and (min-width:320px){
                    background-image: url(../images/ui/pages/company/settings/icon_select@3x.png);
                }
            }
        }
    }
}

.chosen-container-active {
    &.chosen-with-drop {
        .chosen-single,
        .chosen-multiple {
            border-radius: 2px 2px 0 0;
            border-color: #797979;
        }
    }
}

.inner_input {
    height: 40px;

    @media (max-width: 767px) {
        height: 38px;
    }
}
