.receipt-list-print .receipt-header {
    color: #ababab;
}
.receipt-list-print .receipt-col {
    float: left;
    padding: 5px 7px;
}
.receipt-list-print .receipt-date {
    width: 95px;
    text-align: right;
    padding-left: 12px;
}
.receipt-list-print .receipt-time {
    width: 90px;
    text-align: right;
}
.receipt-list-print .receipt-category {
    width: 150px;
}
.receipt-list-print .receipt-company-name {
    width: 300px;
}
.receipt-list-print .receipt-payment {
    width: 100px;
    text-align: right;
}
.receipt-list-print .receipt-bill {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.receipt-list-print .receipt-item {
    margin-bottom: 10px;
    border-top: solid 1px #c7c7c7;
}
.receipt-list-print .receipt-more {
    float: right;
    line-height: 0;
}
.receipt-list-print .receipt-details {
    padding: 10px 0;
    display: none;
}
.receipt-list-print .receipt-details-left .receipt-col-1 {
    float: left;
    width: 175px;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}
.receipt-list-print .receipt-details-left .receipt-col-2 {
    float: left;
    width: 190px;
    padding: 0 0 0 14px;
}
.receipt-list-print .receipt-details .receipt-details-right {
    width: 290px;
    margin: 0 0 0 20px;
}
.receipt-list-print .receipt-details-right .receipt-col-3 {
    float: left;
    width: 185px;
}
.receipt-list-print .receipt-details-right .receipt-col-4 {
    float: left;
    width: 90px;
    padding: 0 0 0 14px;
    text-align: right;
}
.receipt-list-print .receipt-item-details .detail-item-line {
    padding-right: 5px;
}
.receipt-list-print .receipt-item-details .detail-item-line1 {
    height: 1px;
    background-color: #ababab;
    margin: 11px 0px;
}
.receipt-list-print .receipt-review {
    text-align: right;
    padding-right: 20px;
}

@media print{
    .site-header .container,
    .site-banner,
    .kuyam-footer{
        display:none;
    }
    .site-header{
        position:relative;
        overflow: hidden;
        display:block;
        padding:7px 0.5cm;
        border-bottom: 1px solid #bebebe;
    }
    .receipt-list-print{
        padding:15px 0.5cm;
    }
}
