@media print{
    .site-header .container,
    .site-banner,
    .kuyam-footer{
        display:none;
    }
    .site-header{
        position:relative;
        overflow: hidden;
        display:block;
        padding:7px 0.5cm;
        border-bottom: 1px solid #bebebe;
    }
    .receipt-list .receipt-header{
        display: block !important;
    }
    .receipt-list{
        padding:15px 0.5cm;
    }
    .receipt-list .receipt-col {
        float: left;
        padding: 5px 7px;
    }
    .receipt-list .receipt-date {
        width: 95px;
        padding-left: 12px;
    }
    .receipt-list .receipt-time {
        width: 90px;
        text-align: right;
    }
    .receipt-list .receipt-time.hidden-xs {
        display: block !important;
    }
    .receipt-list .receipt-time.visible-xs {
        display: none !important;
    }
    .receipt-list .receipt-category {
        width: 150px;
    }
    .receipt-list .receipt-time.hidden-xs {
        display: block !important;
    }
    .receipt-list .receipt-category.visible-xs {
        display: none !important;
    }
    .receipt-list .receipt-company-name {
        width: 300px;
    }
    .receipt-list .receipt-payment {
        width: 100px;
    }
    .receipt-list .receipt-item {
        margin-left: 0;
        margin-right: 0;
        border:0 none;
        border-top: solid 1px #c7c7c7;
    }
    .receipt-list .receipt-details {
        display: block;
    }
    .receipt-list .receipt-details > .row > div[class*="col-"]{
        width: 50%;
    }
    .receipt-list .receipt-details-left .receipt-col-1 {
        width: 175px;
    }
    .receipt-list .receipt-details-left .receipt-col-2 {
        width: 190px;
    }
    .receipt-list .receipt-details .receipt-details-right {
        width: 290px;
        margin: 0 0 0 20px;
    }
    .receipt-list .receipt-details-right .receipt-col-3 {
        width: 185px;
    }
    .receipt-list .receipt-details-right .receipt-col-4 {
        float: left;
        width: 90px;
    }
    .receipt-list .receipt-review{
        display: none;
    }
}
