{% extends './master/main-logged.html' %}

{% block title %}Kuyam - Confirmed Appointments{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block banner %}{% endblock %}

{% block main %}
<section class="appointments-section">
    {% include "./content/pages/appointment/nav.html" %}
    <div class="container">
        {% include "./content/pages/appointment/list-confirmed.html" %}
    </div>
</section>
{% endblock %}

{% block modal %}
{% include "./content/modals/repeat.html" %}
{% include "./content/modals/appointment.html" %}
{% include "./content/modals/notes.html" %}
{% include "./content/modals/details.html" %}
{% endblock %}

{% block script %}{% endblock %}

