{% extends './master/main.html' %}

{% block title %}Kuyam - Confirm{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block banner %}{% endblock %}

{% block main %}
<!-- .modal-confirm -->
<div class="modal-form modal-confirm">
    <div class="modal-header">
        <h3 class="modal-title">check your mail</h3>
        <h4>we send you an email for you to reset your password. follow the link included in the email.</h4>
    </div>
    <div class="modal-footer">
        <hr />
        <div class="text-right link-form"><a class="link-login" title="" href="login.html">back to login</a></div>
     </div>
</div><!-- /.modal -->
<!-- /.modal-confirm -->
{% endblock %}

{% block script %}{% endblock %}

