{% extends './master/main.html' %}

{% block title %}Kuyam - Home{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block css %}
<link type="text/css" rel="Stylesheet" href="../../content/responsiveslides.css" />
<link type="text/css" rel="Stylesheet" href="../../content/jquery.carouFredSel.css" />
{% endblock %}

{% block banner %}

{% include "./content/pages/home/banner.html" %}

{% endblock %}

{% block main %}

{% include "./content/pages/home/list.html" %}

{% include "./content/pages/home/parallel.html" %}

{% include "./content/pages/home/ads.html" %}

{% include "./content/pages/home/newsletter.html" %}

{% endblock %}

{% block script %}
<script type="text/javascript" src="../../content/js/libs/responsiveslides.js"></script>
<script type="text/javascript" src="../../content/js/libs/jquery.carouFredSel.js"></script>
<script type="text/javascript" src="../../content/js/pages/ui-home.js"></script>
{% endblock %}

