{% extends './master/main.html' %}

{% block title %}Kuyam - How It Work{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block banner %}
<img class="hidden-xs" alt="" src="../../content/images/ui/pages/how-it-works/intro_banner.png" />
{% endblock %}

{% block main %}
{% include "./content/pages/how/intro.html" %}

{% include "./content/pages/how/how.html" %}

{% include "./content/pages/how/business.html" %}

{% include "./content/pages/how/about.html" %}

{% endblock %}

{% block script %}
<script type="text/javascript" src="../../content/js/pages/ui-how.js"></script>
{% endblock %}

