{% extends './master/main.html' %}

{% block title %}Kuyam - Spint 69{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <dl class="col-xs-12 col-md-4">
            <dd>&nbsp;</dd>
            <dt>Page</dt>
            <!--<dd>
                <a title="" href="appointments-empty.html" target="_blank">empty appointment</a>
            </dd>
            <dd>
                <a title="" href="appointments.html" target="_blank">appointments</a>
            </dd>
            <dd>
                <a title="" href="appointments-confirmed.html" target="_blank">appointments confirmed</a>
            </dd>
            <dd>
                <a title="" href="appointments-pending.html" target="_blank">appointments pending</a>
            </dd>
            <dd>
                <a title="" href="appointments-proposed.html" target="_blank">appointments proposed</a>
            </dd>
            <dd>
                <a title="" href="appointments-cancelled.html" target="_blank">appointments cancelled</a>
            </dd>-->
            <dd>
                <a title="" href="boarding.html" target="_blank">boarding</a>
            </dd>
        </dl>
        <dl class="col-xs-12 col-md-4">
            <dd>&nbsp;</dd>
            <dt>Popup</dt>
            <dd>
                <a title="" href="popup-review-list.html" target="_blank">review list</a>
            </dd>
            <dd>
                <a title="" href="popup-error.html" target="_blank">error</a>
            </dd>
            <dd>
                <a title="" href="popup-newsletter.html" target="_blank">newsletter</a>
            </dd>
            <dd>
                <a title="" href="popup-paypal.html" target="_blank">paypal</a>
            </dd>
            <dd>
                <a title="" href="popup-welcome.html" target="_blank">welcome</a>
            </dd>
            <dd>
                <a title="" href="popup-offer.html" target="_blank">offer</a>
            </dd>
            <dd>
                <a title="" href="popup-offer-terms.html" target="_blank">offer terms</a>
            </dd>
            <dd>
                <a title="" href="popup-request.html" target="_blank">request</a>
            </dd>
            <dd>
                <a title="" href="popup-request-confirm.html" target="_blank">request confirm</a>
            </dd>
        </dl>
        <dl class="col-xs-12 col-md-4">
            <dd>&nbsp;</dd>
            <dt>mobile page</dt>
            <dd>
                <a title="" href="register.html" target="_blank">register</a>
            </dd>
            <dd>
                <a title="" href="login.html" target="_blank">login</a>
            </dd>
            <dd>
                <a title="" href="login-facebook.html" target="_blank">login facebook</a>
            </dd>
            <dd>
                <a title="" href="forgot.html" target="_blank">forgot</a>
            </dd>
            <dd>
                <a title="" href="confirm.html" target="_blank">confirm</a>
            </dd>
        </dl>
    </div>

</div>
{% endblock %}

{% block script %}{% endblock %}

