{% extends './master/main.html' %}

{% block title %}Kuyam - Request{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block banner %}{% endblock %}

{% block main %}{% endblock %}

{% block modal %}

{% include "./content/modals/request.html" %}

{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#requestModal').modal('show');
    });
</script>
{% endblock %}

