{% extends './master/main.html' %}

{% block title %}Kuyam - Receipt{% endblock %}

{% block meta %}
<meta name="description" content="2" />
<meta name="keywords" content="3" />
{% endblock %}

{% block banner %}{% endblock %}

{% block main %}

<!-- .receipt-list -->
<div class="receipt-list">

    <!-- .receipt-header -->
    <div class="receipt-header clearfix">
        <div class="receipt-col receipt-date">
            appt. date
        </div>
        <div class="receipt-col receipt-time">
            appt. time
        </div>
        <div class="receipt-col receipt-category">
            category
        </div>
        <div class="receipt-col receipt-company-name">
            company name
        </div>
        <div class="receipt-col receipt-payment">
            payment
        </div>
    </div>
    <!-- /.receipt-header -->

    <!-- .receipt-item -->
    <div class="receipt-item clearfix">

        <!-- .receipt-item-header -->
        <div class="receipt-item-header clearfix">
            <div class="receipt-col receipt-date">
                08/03/14
            </div>
            <div class="receipt-col receipt-time">
                12:00pm
            </div>
            <div class="receipt-col receipt-category">
                blowout
            </div>
            <div class="receipt-col receipt-company-name">
                Amy's Hair Salon
            </div>
            <div class="receipt-col receipt-payment receipt-bill">
                $90.00
            </div>
        </div>
        <!-- /.receipt-item-header -->

        <!-- .receipt-item-details -->
        <div class="receipt-details clearfix" style="display: block;">
            <div class="row">
                <div class="col-xs-6">
                    <div class="receipt-details-left">
                        <div class="detail-item clearfix">
                            <div class="receipt-col-1">receipt #:</div>
                            <div class="receipt-col-2">73119508</div>
                        </div>
                        <div class="detail-item clearfix">
                            <div class="receipt-col-1">purchased on:</div>
                            <div class="receipt-col-2">08/03/14</div>
                        </div>
                        <div class="detail-item clearfix">
                            <div class="receipt-col-1">status:</div>
                            <div class="receipt-col-2">confirmed</div>
                        </div>
                        <div class="detail-item clearfix">
                            <div class="receipt-col-1">payment:</div>
                            <div class="receipt-col-2">PayPal</div>
                        </div>
                        <div class="detail-item clearfix">
                            <div class="receipt-col-1">company:</div>
                            <div class="receipt-col-2">Ary's Hair Style</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="receipt-details-right">
                        <div class="detail-item clearfix">
                            <div class="receipt-col-3">deep tissue message</div>
                            <div class="receipt-col-4">$90.00</div>
                        </div>
                        <div class="detail-item clearfix">
                            <div class="receipt-col-3">hot stone</div>
                            <div class="receipt-col-4">$0.00</div>
                        </div>
                        <div class="detail-item clearfix">
                            <hr />
                        </div>
                        <div class="detail-item clearfix">
                            <div class="receipt-col-3">total amount paid</div>
                            <div class="receipt-col-4 receipt-bill">$90.00</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- .receipt-details -->

    </div>
    <!-- /.receipt-item -->

    <!-- .receipt-item -->
    <div class="receipt-item clearfix">

        <!-- .receipt-item-header -->
        <div class="receipt-item-header clearfix">
            <div class="receipt-col receipt-date">
                08/03/14
            </div>
            <div class="receipt-col receipt-time">
                12:00pm
            </div>
            <div class="receipt-col receipt-category">
                blowout
            </div>
            <div class="receipt-col receipt-company-name">
                Amy's Hair Salon
            </div>
            <div class="receipt-col receipt-payment receipt-bill">
                $90.00
            </div>
        </div>
        <!-- /.receipt-item-header -->

        <!-- .receipt-item-details -->
        <div class="receipt-details clearfix" style="display: block;">
            <div class="row">
                <div class="col-xs-6">
                    <div class="receipt-details-left">
                        <div class="detail-item clearfix">
                            <div class="receipt-col-1">receipt #:</div>
                            <div class="receipt-col-2">73119508</div>
                        </div>
                        <div class="detail-item clearfix">
                            <div class="receipt-col-1">purchased on:</div>
                            <div class="receipt-col-2">08/03/14</div>
                        </div>
                        <div class="detail-item clearfix">
                            <div class="receipt-col-1">status:</div>
                            <div class="receipt-col-2">confirmed</div>
                        </div>
                        <div class="detail-item clearfix">
                            <div class="receipt-col-1">payment:</div>
                            <div class="receipt-col-2">PayPal</div>
                        </div>
                        <div class="detail-item clearfix">
                            <div class="receipt-col-1">company:</div>
                            <div class="receipt-col-2">Ary's Hair Style</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="receipt-details-right">
                        <div class="detail-item clearfix">
                            <div class="receipt-col-3">deep tissue message</div>
                            <div class="receipt-col-4">$90.00</div>
                        </div>
                        <div class="detail-item clearfix">
                            <div class="receipt-col-3">hot stone</div>
                            <div class="receipt-col-4">$0.00</div>
                        </div>
                        <div class="detail-item clearfix">
                            <hr />
                        </div>
                        <div class="detail-item clearfix">
                            <div class="receipt-col-3">total amount paid</div>
                            <div class="receipt-col-4 receipt-bill">$90.00</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- .receipt-details -->

    </div>
    <!-- /.receipt-item -->

</div>
<!-- /.receipt-list -->

{% endblock %}

{% block script %}
<script type="text/javascript" src="../../content/js/pages/ui-receipt.js"></script>
{% endblock %}

