.event-page {
    .event-section {
        .address{
            address{
                font-size: $h5;
                line-height: 26px;
                font-family: $primary;
                color: $base;
                margin: 0 0 15px;

                b {
                    font-weight: 700;
                }

                @media (max-width: 767px){
                    font-size: 21px;
                    color: #ff4527;
                    line-height: 23px;
                }
            }

            .map{
                > div {
                    height: 276px;
                }
            }
        }
    }
}
