.event-page {
    .event-section {
        .checkout {
            border-top: 0 none;
            margin-top: 0;

            div.placeholder-custom {
                width: 220px;
                border-top: 0 none;
                border-left: 0 none;
                border-right: 0 none;
                float: left;

                @media (max-width: 767px) {
                    width: 100%;
                    float: none;
                    margin-bottom: 10px;
                }

                .form-control {
                    padding: 0 55px 0 0;
                    height: 31px;
                }

                .btn {
                    padding: 0;
                    height: 31px;
                    border: 0 none;
                    background: $white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: $positive;
                    font-size: $s15;
                    font-family: $primary;
                    margin: 0;
                    width: auto;

                    &[disabled] {
                        background: transparent;
                    }
                }
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                float: right;

                li {
                    float: left;
                    padding:0 15px;
                    font-size: $h5;
                    line-height: 31px;
                    font-family: $primary;
                    color: $base;

                    + li {
                        border-left: 1px solid rgba(44, 44, 46, .3);

                        span {
                            color: $positive;
                            font-weight: 700;
                        }
                    }
                }
            }

            .btn {
                width: 100%;
                font-size: $h5;
                font-weight: 700;
                height: 50px;
                padding: 0;
                border-radius: 0;
                clear: both;
                margin-top: 13px;
            }
        }
    }
}
