.event-page {
    .event-section {
        .details{
            border-top: 1px solid rgba(0, 0, 0, .2);
            margin-top: 19px;
            padding-top: 16px;

            .video{
                height: 320px;
                margin-bottom: 22px;
            }

            p {
                font-size: $s18;
                line-height: 22px;
                font-family: $primary;
                color: $base;
                margin: 0 0 21px;

                b {
                    font-weight: 700;
                }
            }
        }
    }
}
