.event-page {
    .event-section {
        .grab {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                float: right;

                li {
                    float: left;
                    padding:0 15px;
                    font-size: $h5;
                    line-height: 31px;
                    font-family: $primary;
                    color: $base;

                    .table-css{
                        .td {
                            button {
                                border: 0 none;
                                background: transparent url() no-repeat ;

                                &.btn-minus{

                                }

                                &.btn-add{

                                }
                            }
                        }
                    }

                    + li{
                        border-left: 1px solid rgba(44, 44, 46, .3);
                        padding-right: 0;

                        span{
                            color: $positive;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
