.event-page {
    .event-section {
        .grab {
            .item {
                background: rgba(255, 255, 255, .5);
                border: 1px solid rgba(51, 51, 51, .66);
                box-shadow: 0 5px 9px 0 rgba(32, 41, 47, 0.23);
                padding: 12px 17px 2px;

                @media (max-width: 767px) {
                    padding-left: 15px;
                    padding-right: 15px;
                    border: 1px solid rgba(51, 51, 51, .23);
                }

                @media (max-width: 359px) {
                    padding-left: 8px;
                    padding-right: 8px;
                }

                + .item {
                    margin-top: 20px;
                }

                &.sold-out {
                    ul {
                        &.footer{
                            position: relative;

                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(255, 255, 255, .5);
                            }
                        }
                    }
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    &:after {
                        content: '';
                        display: block;
                        clear: both;
                    }

                    li {
                        float: left;
                    }

                    &.header{
                        li {
                            font-size: $h5;
                            font-family: $primary;
                            font-weight: 400;
                            color: $base;

                            @media (max-width: 767px) {
                                font-size: $h6;
                            }

                            @media (max-width: 359px){
                                font-size: $p;
                            }

                            &:first-child {
                                max-width: 150px;
                            }

                            + li {
                                padding-left: 20px;
                                width: calc(100% - 150px);
                            }
                        }
                    }

                    &.footer {
                        display: inline-block;

                        @media (max-width: 767px){
                            display: block;
                        }

                        > li {
                            padding:0 0 0 15px;
                            font-size: $h5;
                            line-height: 31px;
                            font-family: $primary;
                            color: $base;

                            @media (max-width: 767px){
                                width: 40%;
                                padding: 0;
                                font-size: $h6;
                                font-weight: 700;
                            }

                            @media (max-width: 359px){
                                font-size: $p;
                            }

                            .how {
                                display: none;

                                @media (max-width: 767px){
                                    display: inline-block;
                                    float: left;
                                    margin-right: 15px;
                                    font-weight: 400;
                                }

                                @media (max-width: 359px){
                                    margin-right: 12px;
                                }
                            }

                            &:first-child {
                                @media (max-width: 767px){
                                    float: left;
                                    width: 60%;
                                }
                            }

                            + li{
                                border-left: 1px solid rgba(44, 44, 46, .3);
                                margin-left: 15px;
                                padding-right: 0;

                                @media (max-width: 767px){
                                    border-left: 0 none;
                                    margin-left: 0;
                                }

                                span{
                                    color: $positive;
                                    font-weight: 700;
                                }
                            }

                            ul{
                                font-size: 16px;

                                li {
                                    font-size: $h4;
                                    font-family: $primary;
                                    font-weight: 700;
                                    color: $base;

                                    @media (max-width: 767px){
                                        font-size: $h6;
                                    }

                                    @media (max-width: 359px){
                                        font-size: $p;
                                    }

                                    + li{
                                        padding-left: 10px;
                                    }

                                    button {
                                        border: 0 none;
                                        background: transparent no-repeat ;
                                        background-size: 24px auto;
                                        width: 24px;
                                        height: 24px;
                                        position: relative;
                                        bottom: -1px;

                                        @media (max-width: 767px){
                                            width: 18px;
                                            height: 18px;
                                            background-size: 18px auto;
                                        }

                                        @media (max-width: 359px){
                                            width: 15px;
                                            height: 15px;
                                            background-size: 15px auto;
                                        }

                                        &[disabled] {
                                            opacity: .5;
                                        }

                                        &.btn-minus{
                                            background-image: url(images/ui/pages/event/icon_minus.png);

                                            @media
                                            only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
                                            only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
                                            only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
                                            only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
                                            only screen and (              min-resolution:120dpi)      and (min-width:320px),
                                            only screen and (               min-resolution:2dppx)      and (min-width:320px){
                                                background-image: url(images/ui/pages/event/icon_minus@3x.png);
                                            }
                                        }

                                        &.btn-add{
                                            background-image: url(images/ui/pages/event/icon_add.png);

                                            @media
                                            only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
                                            only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
                                            only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
                                            only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
                                            only screen and (              min-resolution:120dpi)      and (min-width:320px),
                                            only screen and (               min-resolution:2dppx)      and (min-width:320px){
                                                background-image: url(images/ui/pages/event/icon_add@3x.png);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .progress {
                    display: block;
                    height: 5px;
                    background: transparent;
                    box-shadow: none;
                    overflow: inherit;
                    border-radius: 0;
                    margin-bottom: 30px;
                    margin-top: 12px;
                    margin-right: 15px;

                    @media (max-width:767px) {
                        height: 2px;
                    }

                    &.default {
                        .text {
                            text-align: left;
                            left: 0;
                            right: inherit;
                        }
                    }

                    .progress-bar {
                        color: transparent;
                        min-width: inherit;
                        padding: 0;
                        position: relative;
                        background: $positive;

                        .control {
                            width: 15px;
                            height: 15px;
                            border-radius: 100%;
                            border: 3px solid $positive;
                            background: $white;
                            box-shadow: 0 2px 3px 0 rgba(32, 41, 47, 0.43);
                            position: absolute;
                            top: -5px;

                            @media (max-width:767px) {
                                top: -7px;
                            }
                        }
                    }

                    .text {
                        font-size: $s11;
                        font-family: $primary;
                        color: $positive; //#484848
                        font-weight: 700;
                        position: absolute;
                        top: 6px;
                        right: 0;
                        text-align: right;
                        white-space: nowrap;

                        b {
                            font-weight: 800;
                            font-size: 14px;

                            @media (max-width: 359px){
                                font-size: 12px;
                            }
                        }
                    }
                }

                .table-css {
                    width: 100%;

                    .td {
                        vertical-align: bottom;
                        line-height: 100%;

                        p {
                            font-size: $h6;
                            font-family: $primary;
                            line-height: 20px;
                            color: $base;
                            margin: 0 0 8px;

                            @media (max-width: 359px){
                                font-size: $p;
                            }
                        }

                        + .td {
                            text-align: right;
                            width: 300px;

                            @media (max-width: 767px){
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    &.event-rsvp-page {
        .event-section {
            .grab {
                .item {
                    ul{
                        &.header {
                            li{
                                &:first-child {
                                    max-width: 100%;
                                    float: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
