.event-page {
    .event-section {
        .section-header {
            margin-bottom: 0;

            h2 {
                font-size: $s40;
                line-height: 48px;
                font-family: $primary;
                color:#3f3f3f;
                margin:0;

                @media (max-width: 767px){
                    font-size: 21px;
                    color: #ff4527;
                    line-height: 23px;
                }
            }

            > p {
                font-size: $h5;
                line-height: 26px;
                font-family: $primary;
                color: #3f3f3f;
                margin: 18px 0 0;

                b {
                    font-weight: 700;
                }

                @media (max-width: 767px){
                    line-height: 18px;
                    font-size: $s15;
                    margin-top: 14px;
                }
            }

            .h2 {
                font-size: $s29;
                line-height: 34px;
                font-family: $primary;
                color: $positive;
                margin-top: 11px;
            }
        }
    }
}
