.event-page {
    font-size: 16px;
    line-height: 150%;
    font-family: "Lato", sans-serif;

    &.event-rsvp-page {
        .main-content {
            .col-sm-8 {
                position: relative;
                z-index: 2;
            }

            .col-sm-4 {
                z-index: 1;
            }
        }
    }

    .main-content {
        padding-top:18px;
        padding-bottom: 9px;

        @media (max-width: 767px) {
            background: #fff;
            padding-top: 12px;
        }
    }

    .event-section {
        .section {
            border-top: 1px solid rgba(0, 0, 0, .2);
            margin-top: 20px;
            padding-top: 17px;
        }

        .p {
            font-size: $h5;
            line-height: 26px;
            font-family: $primary;
            color: $base;
            margin: 0 0 16px;

            b {
                font-weight: 700;
            }

            @media (max-width: 767px){
                font-size: 21px;
                line-height: 23px;
            }
        }
    }

    .link-social {
        margin: 0 0 15px;
    }

    #main-affix{
        @media (min-width: 1270px){
            width: 672px;
        }
    }

    #nav-affix{
        @media (min-width: 1270px){
            padding-left: 78px; //86px;
        }
    }

    .social_twitter {
        margin-top: 0;
    }
}
