.event-page {
    .event-section {
        .rewards {
            .item {
                padding-top: 8px;
                padding-left: 43px;
                padding-bottom: 16px;

                + .item {
                    padding-top: 23px;
                }

                p {
                    font-size: $h5;
                    font-family: $primary;
                    color: $base;
                    position: relative;
                    margin: 0 0 11px;

                    &:before {
                        content: '';
                        display: block;
                        width: 29px;
                        height: 29px;
                        background: center center no-repeat;
                        position: absolute;
                        top: -3px;
                        left: -43px;
                    }
                }

                .progress {
                    display: block;
                    height: 5px;
                    background: transparent;
                    box-shadow: none;
                    overflow: inherit;
                    border-radius: 0;
                    margin-right: 15px;

                    @media (max-width:767px) {
                        height: 2px;
                    }

                    &.default {
                        .text {
                            text-align: left;
                            left: 0;
                            right: inherit;
                        }
                    }

                    .progress-bar {
                        color: transparent;
                        min-width: inherit;
                        padding: 0;
                        position: relative;
                        background: #737373;

                        .control {
                            width: 15px;
                            height: 15px;
                            border-radius: 100%;
                            border: 3px solid #737373;
                            background: $white;
                            box-shadow: 0 2px 3px 0 rgba(32, 41, 47, 0.43);
                            position: absolute;
                            top: -5px;

                            @media (max-width:767px) {
                                top: -7px;
                            }
                        }
                    }

                    .text {
                        font-size: $s11;
                        font-family: $primary;
                        color: $positive; //#484848
                        font-weight: 700;
                        position: absolute;
                        top: 6px;
                        right: 0;
                        text-align: right;
                        white-space: nowrap;

                        b {
                            font-weight: 800;
                            font-size: 14px;
                        }
                    }
                }

                &.early-birds {
                    p {
                        &:before {
                            background-image: url(images/ui/pages/event/icon_bird.png);
                            background-size: 28px auto;

                            @media
                            only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
                            only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (              min-resolution:120dpi)      and (min-width:320px),
                            only screen and (               min-resolution:2dppx)      and (min-width:320px){
                                background-image: url(images/ui/pages/event/icon_bird@3x.png);
                            }
                        }
                    }
                }

                &.group-goal {
                    p {
                        &:before {
                            background-image: url(images/ui/pages/event/icon_group.png);
                            background-size: 29px auto;

                            @media
                            only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
                            only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
                            only screen and (              min-resolution:120dpi)      and (min-width:320px),
                            only screen and (               min-resolution:2dppx)      and (min-width:320px){
                                background-image: url(images/ui/pages/event/icon_group@3x.png);
                            }
                        }
                    }

                }
            }
        }
    }
}
