img{width:auto;}

.wrap .content{padding-top:0;color:#7b7979;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:normal;font-weight:normal;}
.wrap .content a{text-decoration:none;}

.footer .logo{width:auto;position:relative;top:0;left:0;}

.cancelpopup{height:auto;}

.boxavailablehours .chartavailhour a{height:21px;}

.rappts .leftcol .schedulefavoritearrowdown{height:22px;}

.addcategories .ui-selectmenu-status,
.companyinvoices .tophead .topday .textday,
.boxselectClassScheduler .selectday .dayofweek a{height:23px;}

.companysetup .companysetupform .formcol2 .addhourspopup .hourspopup .dayofweek a{height:24px;}

.rappts .leftcol .title{padding-top:0;height:25px;}

.companysetup .companysetupform .formcol2 .addhourspopup .daily .btndaily .btndailyadd,
.companysetup .companysetupform .formcol2 .addhourspopup .daily .btndaily .btndailycancel,
.modifypopup .contentPopup .groupSelectName .ui-selectmenu-status,
.modifypopup .contentPopup .selectMinute .ui-selectmenu-status{height:25px;}

.companyregular .sortarea .rcsortby a{height:26px;}

.rappts .rightcol .boxlist .item .coltime .cancelled{height:27px;}

.menuLeft .panelmanual .employeefavorite .schedulefavorite,
.menuLeft .panelmanual .employeefavorite .schedulefavorite:hover,
.listservices .ctxt,
.companysetup .companysetupform .formcol2 .txtcompanysetup,
.menuLeft .panelmanual .employeefavorite .chooseemployeeactive,
.companysetup .companysetupform .formcol2 .addhourspopup .fromto .txtcompanysetup,
.listservices .ctxty{height:29px;}

.rappts .leftcol .schedulefavorite,
.rappts .leftcol .schedulefavorite:hover,
.boxPrice .companyTimeSlot{height:31px !important;}

.csync .csync1 .csynccalendarlist .btncalendarlist{height:32px;}

.boxselect .selectday .dayofweek a,
.boxselect .selectday .dayofweek a:hover{height:33px;}

.viewnotespopup .contentPopup .addnote{height:37px;}

.rcdeletepopup .btndelete{height:38px;}

.companypackageform .btncreatepackage{height:47px;}

.btnarea .btnusersetting .btnusersettingcenter,
.btnarea .btnusersetting .btncheckoutcenter{height:51px;}

.selectservicepopup .contentPopup .btnbook,
.deletecompanypopup .btndeletecompany,
.cancelpopup .contentPopup .btnbook{height:52px !important;}

.colright .btnbook, .colleft .btnbook{height:53px;}

.newcompanysetup .leftcompanysetupform a{width:175px;height:59px;}

.center-thumb span{display:none;}

ul.carousel-apps li img{margin-right:0;}

.newcompanysetup .leftcompanysetupform .companyactive{width:175px;height:59px;}

.divregularclient .ccreatepkg,
.divcreatediscount .ccreatepkg,
.createpkg .ccreatepkg{height:60px;}

.listservices .listservicescol1 .formtextare,
.listservices .listservicescol1 .formtextareyelow{height:70px;}

.rcitem{padding-left:8px;height:83px;}

.listservices .newemployeebasedcol1 .leftaddnew1,
.listservices .newemployeebasedcol2 .rightaddnew1,
.listservices .newemployeebasedcol1{height:495px;}

.rightadmin{min-height:630px;}
.newcompanysetup1{height:1715px;}

#divcompanydetail .loginform{width:auto;}

.rappts .leftcol .activeoptionlist{width:41px;height:31px;}

.rappts .leftcol .optionlist,
.rappts .leftcol .optionlist:hover{width:51px;height:31px;}

.modifypopup .contentPopup .grounpInput input[type="text"]{width:72px !important;}

.rappts .leftcol .optioncalendar,
.rappts .leftcol .optioncalendar:hover{width:86px;height:31px;}

.rappts .leftcol .activeoptioncalendar,
.rappts .leftcol .activeoptioncalendar:hover{width:91px;height:31px;}

ul.carousel-apps li{width:96px;height:66px;overflow:hidden;}

.menuLeft .panelmanual .employeefavorite .favorite li a,
.menuLeft .panelmanual .employeefavorite .favorite li a:hover,
.menuLeft .panelmanual .employeefavorite .favorite li a.active{width:153px;}

.divcoloritem{width:213px;height:32px;}

.modifypopup .contentPopup .btnCurrent{width:234px;height:40px;}

.modifypopup .contentPopup .btnRequest{width:236px;height:40px;}

.companypackage .packageitem{width:238px;}

.companysetup .companysetupform .formcol2 .addhourspopup .hourspopup{width:280px;height:153px;}

.companysetupimagebox{width:620px;}

.usersettings .usersettingsboxmid,
.usersettings .newcompanysettingsboxmid{width:auto !important;}
.usersettings .redcompanysettingsboxmid{width:auto !important;background-color:#BA7587 !important;}

.ui-datepicker .ui-datepicker-title,
.ui-timepicker-div dl dt,
.ui-timepicker-div dl dd,
.ui-datepicker .ui-datepicker-buttonpane button,
.companysetup .videoyotubetitle,
.ui-selectmenu-menu li a,
.ui-selectmenu-status{font-size:14px;}

.companysetup .companysetupform .formcol2 .addhourspopup .daily label.ui-checkbox-state-checked-hover{background-position:right -1191px !important;}

.modal-terms .ui-tabs .ui-tabs-nav .ui-state-default a{float:none;display:block;padding:30px 0;text-align:center;font:24px/28px ralewayextrabold, sans-serif;color:#ABABAB;}
.modal-terms .ui-tabs .ui-tabs-nav .ui-state-active a{color:#ffffff;}

.modal-terms .ui-tabs-panel.ui-tabs-hide{display:none;}

#contentmainpage .tbldata tr td{width:auto !important;}

#packagecreatepopup{position:absolute;width:100%;top:0 !important;left:0 !important;right:0;border:0 none;background:transparent;}
#packagecreatepopup .contentPopup{width:579px;border:3px solid #c1d82f;margin:0 auto;background:#ffffff;}

.companysetup .error{height:auto;}

.reviewCrop{float:none;position:absolute;bottom:15px;right:15px;margin:0;}

/******************************* viewImagePopup **************************************/
#viewImagePopup{border:1px solid #999999;border-radius:10px 10px 10px 10px;box-shadow:2px 2px 2px;font-size:14px;margin:0 auto;padding:15px;width:620px;min-height:396px;background:#FFF;position:relative;}
#viewImagePopup #carousel_viewimage1{margin-bottom:10px;}
#viewImagePopup #carousel_viewimage1 img{max-width:420px; max-height:300px;}
#viewImagePopup #carousel_viewimage1 .caption{position:absolute;right:15px;top:20px;width:140px;color:#000;text-align:left;}
#viewImagePopup ul.carousel-apps li{background:none repeat scroll 0 0 #FFFFFF;border:3px solid #CCCCCC;color:#DDDDDD;display:inline;float:left;margin-right:12px;width:96px;height:66px;}

#viewImagePopup ul.carousel-apps li img{display:inline;width:auto;max-height:60px !important;max-width:90px !important;}

#viewImagePopup .carousel-nav .carousel-thumbs li.ad-active{border:3px solid #C1D82F;}
#viewImagePopup .carousel-gallery .carousel-nav{padding:5px 0;position:relative;width:590px;height:80px;}
#viewImagePopup .carousel-gallery .carousel-nav .carousel-thumbs{height:80px;margin:0 auto;overflow:hidden;position:relative;width:530px;}
#viewImagePopup .carousel_btnprev1{background:url("../images/prev.png") no-repeat scroll 0 27px transparent;border-right:1px solid #999999;cursor:pointer;display:block;height:80px;left:4px;width:13px;position:absolute;z-index:1;}
#viewImagePopup .carousel_btnnext1{background:url("../images/next.png") no-repeat scroll 0 27px transparent;border-left:1px solid #999999;cursor:pointer;display:block;height:80px;position:absolute;right:0;width:13px;z-index:1;}

#viewImagePopup div.carousel{clear:both; position:relative; background:none repeat scroll 0 0 #E6E6E6;border:1px solid #999999; width:590px !important;height:80px;}
#viewImagePopup ul.carousel-apps{padding-top:2px; padding-left:0px;margin:0px;}

#viewImagePopup .center-thumb{display:table-cell;text-align:center;vertical-align:middle;width:90px;height:60px;}
#viewImagePopup .center-thumb *{vertical-align:middle;}

#viewImagePopup .imgtitle{display:block;font-weight:bold;}

#viewImagePopup .btnarea .btnusersetting{text-decoration:none;float:left;}
#viewImagePopup .btnarea .btnusersetting .btnusersettingleft{float:left;display:block;background:url(../images/btnusersettings_bg.png) no-repeat left top;width:6px;height:51px;}
#viewImagePopup .btnarea .btnusersetting .btnusersettingcenter{float:left;display:block;background:url(../images/btnusersettings_bg.png) repeat-x right bottom;height:51px;color:#4D4D4D;font-size:16px;font-weight:600;text-align:center;padding:15px;}
#viewImagePopup .btnarea .btnusersetting .btnusersettingright{float:left;display:block;background:url(../images/btnusersettings_bg.png) no-repeat right top;width:6px;height:51px;}

#viewImagePopup{display:block;position:fixed;z-index:9902;}

#viewImagePopup .btnClose{background:url(images/icons/btn_close_black.png) no-repeat;display:block;width:24px;height:23px;position:absolute;right:-9px;top:-11px;background-size:contain;}

.paging a{padding:0 5px !important;-webkit-border-radius:0 !important;-moz-border-radius:0 !important;border-radius:0 !important;z-index:0 !important;}

.modal-company-type{width:350px;}
.modal-company-type .modal-header .close{position:relative;color:inherit;right:inherit;top:inherit;}
.modal-company-type p{margin:0 0 15px;}
.modal-company-type input[type="radio"]{margin:0;position:relative;bottom:-1px;}
.modal-company-type label{margin:0 20px 0 5px;}

.ui-datepicker{width:185px;}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{height:1.3em;width:1.3em;}

#ui-datepicker-div .ui-datepicker-calendar .ui-state-active{background:url("../css/themes/base/images/ui-bg_glass_65_ffffff_1x400.png") repeat-x 50% 50% #ffffff;border:1px solid #aaaaaa;color:#212121;font-weight:normal;}

.discounttab .activediscounttab{width:211px}
.discountitem{width:725px;}
.discountitem .dis3 .dis3contenttop .dis3contenttopremain{width:198px;}

.bgMainContent{position:inherit;}
.editservices .leftitem{padding:5px 0 !important;}

#cropForLogo{margin-bottom:80px;}

.img-upload{overflow:hidden;margin-bottom:20px;}
.img-upload img{max-height:274px;width:inherit;max-width:100%;cursor:pointer;}

/* Begin home-category*/
.home-category .chosen-container{
    display: block;
}
.home-category .chosen-container-single .chosen-single,
.home-category .chosen-container-multi .chosen-multiple{
    line-height: 34px;
    height: 36px;
    background:#fff;
}
.home-category .inner_input{
    height: 36px;
    line-height: 36px;
}
.home-category ul{
    margin:0;
    padding:0;
    list-style: none;
}
.home-category .ul-list > li{
    float: left;
    display: block;
    padding:3px 12px;
    height: 45px;
    border-bottom: 1px solid #E5EFF8;
    border-left: 1px solid #E5EFF8;
    line-height: 39px;
}
.home-category .ul-list > li:last-child{
    border-right: 1px solid #E5EFF8;
}
.home-category .ul-list > li > a{
    color: #621c1e;
}

.home-category .ul-list > li > a:hover{
    color: #428bca;
}
.home-category .li-category{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.home-category .li-company{
    width: 418px;
}
.home-category .li-action{
    width: 100px;
}
.home-category > .ul-list{
    border-top: 1px solid #E5EFF8;
    margin: 1em auto 0;
}
.home-category > .ul-list > li{
    background-color: #F4F9FE;
    color: #003765;
    height: 45px;
    font: bold 1.2em/39px "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
}
.home-category .ui-sortable > li{
    border:0 none;
    font-weight: 400;
    color: #353535;
}
.home-category .ui-sortable > li:nth-child(even){
    background:#F4F9FE;
}
.home-category .ui-sortable > li:nth-child(odd){
    background:#fff;
}
/* End home-category*/