.modal-add-calendar .modal-title{
    font-size: $h6;
    font-weight: 400;
}

.time-picker-custom .working-time{
	padding-bottom: 0px;
	padding-top: 28px;
}

.calendar-tabs {
}

.calendar-tabs .nav-tabs {
    text-align: center;
    border: 0 none;
    margin-bottom: 25px;
}

.calendar-tabs .nav-tabs > li {
    float: none;
    display: inline-block;
    margin: 0 15px;
}

.calendar-tabs .nav-tabs > li .dot {
    display: inline-block;
    width: 27px;
    height: 26px;
    background: url(../images/dashboard/calendar/dot.png) center top no-repeat;
    background-size: 27px auto;
    position: relative;
    margin-right: 10px;
    bottom: -8px;
}

.calendar-tabs .nav-tabs > li a,
.calendar-tabs .nav-tabs > li a:hover,
.calendar-tabs .nav-tabs > li.active a,
.calendar-tabs .nav-tabs > li.active a:hover {
    border: 0 none;
    background: transparent;
    color: #282828;
    font-size: $h6;
    padding: 0;
	font-weight: 600;
}

.calendar-tabs .nav-tabs > li.active a{
	color: $positive;
}

.calendar-tabs .nav-tabs > li.active .dot {
    background-image: url(../images/dashboard/calendar/dot-active.png);
}

@media (max-width: 767px) {
    .calendar-tabs .nav-tabs > li {
        margin: 0;
        float: left;
        width: 33.33%;
    }

        .calendar-tabs .nav-tabs > li a:hover,
        .calendar-tabs .nav-tabs > li.active a,
        .calendar-tabs .nav-tabs > li.active a:hover {
            text-decoration: underline;
            font-family: $primary;
            font-weight: 700;
        }

    .modal-dialog.block-attendee,
    .modal-dialog.block-details,
    .modal-dialog.block-personal {
        font-size: $s13;
        margin-left: auto;
        margin-right: auto;
    }

    #addCalendarModal .modal-content {
        border-color: transparent;
    }

    #addCalendarModal .modal-title {
        display: none;
    }

    #addCalendarModal .nav-tabs {
        margin-top: -30px;
    }

    #addCalendarModal .close {
        z-index: 9999;
    }
}



@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .calendar-tabs .nav-tabs > li .dot {
        background-image: url(../images/dashboard/calendar/dot@2x.png);
    }
    .calendar-tabs .nav-tabs > li.active .dot {
        background-image: url(../images/dashboard/calendar/dot-active@2x.png);
    }

}