/* =============================================================================
   modal add client
   ========================================================================== */


.modal-add-client {

	.modal-content{
		border-radius: 8px;
	}

	input[type="text"],
	input[type="email"],
	input[type="search"],
	input[type="password"],
	textarea.form-control, textarea.form-control:focus{
		font-size: $s11;
		font-weight: 400;
	}
	.modal-title {
		font-size: $s17;
		font-weight: 400;
		margin-bottom: 40px;
		margin-top: 5px;
	}
	.working-section .working-time {
		padding-bottom: 0px;
	}
	.txt-date,
	.working-section .working-time ul.clearfix > li > input[type="text"] {
		font-size: $s11;
	}
	.bootstrap-select.btn-group .btn .filter-option {
		color: #434343;
		font-size: $s11;
		margin-top: 4px;
	}
	.bootstrap-select.btn-group .btn .pull-left {
		color: #434343;
	}
	.working-section .working-time .td-from{
        padding-left: 0;
        padding-right: 0px;
        text-align: right;
    }
	.working-section .working-time .td-to {
		padding-left: 15px;
		padding-right: 0px;
	}
	div[class*="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
	.form-label {
		margin-top: 5px;
		margin-bottom: 8px;
	}
	.modal-body {
		padding-bottom: 10px;
		padding-top: 0px;
	}
	.btn-agree {
		margin-top: 15px;
	}
}



/* =============================================================================
   modal add calendar
   ========================================================================== */


.modal-add-calendar {

	.modal-content{
		border-radius: 8px;
	}


	input[type="text"],
	input[type="email"],
	input[type="search"],
	input[type="password"],
	textarea.form-control, textarea.form-control:focus {
		font-size: $s11;
		font-weight: 400;
	}
	.modal-title {
		font-size: $s17;
		font-weight: 400;
		margin-bottom: 8px;
	}
    .working-section > .form-label{
        visibility: hidden;
    }
	.working-section .working-time {
		padding-bottom: 0px;
	}
	.txt-date,
	.working-section .working-time ul.clearfix > li > input[type="text"] {
		font-size: $s11;
	}
	.bootstrap-select.btn-group .btn .filter-option {
		color: #434343;
		font-size: $s11;
		margin-top: 4px;
	}
	.bootstrap-select.btn-group .btn .pull-left {
		color: #434343;
	}
	.working-section .working-time .td-from{
        padding-left: 0;
        padding-right: 0px;
        text-align: right;
    }
	.working-section .working-time .td-to {
		padding-left: 15px;
		padding-right: 0px;
	}
	div[class*="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
	.form-label {
		margin-top: 5px;
		margin-bottom: 8px;
	}
	.modal-body {
		padding-bottom: 10px;
		padding-top: 0px;
	}
	.btn-agree {
		margin-top: 15px;
	}
}

.calendar-tabs {}

.calendar-tabs .nav-tabs {
	text-align: center;
	border: 0 none;
	margin-bottom: 20px;
}

.calendar-tabs .nav-tabs > li {
	float: none;
	display: inline-block;
	margin: 0 15px;
}

.calendar-tabs .nav-tabs > li .dot {
	display: inline-block;
	width: 27px;
	height: 26px;
	background: url(../images/dashboard/calendar/dot.png) center top no-repeat;
	background-size: 27px auto;
	position: relative;
	margin-right: 10px;
	bottom: -8px;
}

.calendar-tabs .nav-tabs > li.active a {
	font-weight: 600;
	color: #3891ff !important;
}

.calendar-tabs .nav-tabs > li a,
.calendar-tabs .nav-tabs > li a:hover,
.calendar-tabs .nav-tabs > li.active a,
.calendar-tabs .nav-tabs > li.active a:hover {
	border: 0 none;
	background: transparent;
	color: #282828;
	font-size: $s17;
	padding: 0;
    box-shadow: none;
}

.calendar-tabs .nav-tabs > li.active .dot {
	background-image: url(../images/dashboard/calendar/dot-active.png);
}

@media (max-width: 767px) {
	.calendar-tabs .nav-tabs > li {
		margin: 0;
		float: left;
		width: 33.33%;
	}
	.modal-dialog.block-attendee,
	.modal-dialog.block-details,
	.modal-dialog.block-personal {
		font-size: $s13;
		margin-left: auto;
		margin-right: auto;
	}
	#addCalendarModal .modal-content {
		border-color: transparent;
	}
	#addCalendarModal .nav-tabs {
        margin-bottom: 0;
	}
	#addCalendarModal .close {
		z-index: 9999;
	}
    .modal-add-calendar .working-section > .form-label{
        visibility: visible;
    }
}

@media (max-width: 400px){
    .calendar-tabs .nav-tabs > li {
        width: 30%;
    }
    .calendar-tabs .nav-tabs > li:first-child {
        width: 40%;
    }
    .calendar-tabs .nav-tabs > li a,
    .calendar-tabs .nav-tabs > li a:hover,
    .calendar-tabs .nav-tabs > li.active a,
    .calendar-tabs .nav-tabs > li.active a:hover{
        font-size: $p;
    }
    .calendar-tabs .nav-tabs > li .dot{
        margin-right: 5px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 320px),
only screen and ( min--moz-device-pixel-ratio: 1.25) and (min-width: 320px),
only screen and ( -o-min-device-pixel-ratio: 1.25/1) and (min-width: 320px),
only screen and ( min-device-pixel-ratio: 1.25) and (min-width: 320px),
only screen and ( min-resolution: 120dpi) and (min-width: 320px),
only screen and ( min-resolution: 2dppx) and (min-width: 320px) {
	.calendar-tabs .nav-tabs > li .dot {
		background-image: url(../images/dashboard/calendar/dot@2x.png);
	}
	.calendar-tabs .nav-tabs > li.active .dot {
		background-image: url(../images/dashboard/calendar/dot-active@2x.png);
	}
}