.modal-add-calendar {

	.modal-content{
		border-radius: 8px;
	}
	.modal-title {
		font-size: $s17;
		font-weight: 400;
		margin-bottom: 8px;
	}
    .working-section > .form-label{
        visibility: hidden;
    }
    .working-section .table-css{
        width: 100%
    }
	.working-section .working-time {
		padding-bottom: 0px;
	}
	.working-section .working-time ul.clearfix > li > input[type="text"] {
		font-size: $s17;
        font-weight: 300;
	}
    .working-section .form-select .bootstrap-select > .btn,
    .working-section .form-select .bootstrap-select > .btn:focus,
    .working-section .form-select .bootstrap-select > .btn:active,
    .working-section .form-select .bootstrap-select > .btn-default.disabled,
    .working-section .form-select .bootstrap-select > .btn-default.disabled:focus,
    .working-section .form-select .bootstrap-select > .btn-default.disabled:active,
    .working-section .form-select .bootstrap-select.open > .dropdown-toggle.btn-default,
    .working-section .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
    .working-section .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:focus{
        font-size: 16px;
        padding-top: 0;
    }
    .bootstrap-select.btn-group .btn{
        font-size: 16px;
        padding-top: 2px;
        padding-bottom:0;
        line-height: inherit;
    }
	.bootstrap-select.btn-group .btn .filter-option {
		color: #434343;
		font-size: $s17;
	}
	.bootstrap-select.btn-group .btn .pull-left {
		color: #434343;
	}
	.working-section .working-time .td-from{
        padding-left: 0;
        padding-right: 0px;
        text-align: right;
        width: 80px;
    }
	.working-section .working-time .td-to {
		padding-left: 15px;
		padding-right: 0px;
	}
	div[class*="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
	.form-label {
		margin-top: 5px;
		margin-bottom: 8px;
	}
	.modal-body {
		padding-bottom: 10px;
		padding-top: 0px;
	}
	.btn-agree {
		margin-top: 15px;
	}
    .working-section .working-time .td{
        font-size: $h5;
        font-weight: 300;
    }
    .working-section .working-time .td .time-control{
        font-size: 16px;
        padding:0;
        text-align: center;
        height: 37px;
    }
    .working-section .working-time .td .time-control input{
        font-size: var($s17);
        height: 37px;
        width: 20px;
    }
}

.calendar-tabs {}

.calendar-tabs .nav-tabs {
	text-align: center;
	border: 0 none;
	margin-bottom: 20px;
}

.calendar-tabs .nav-tabs > li {
	float: none;
	display: inline-block;
	margin: 0 15px;
}

.calendar-tabs .nav-tabs > li .dot {
	display: inline-block;
	width: 27px;
	height: 26px;
	background: url(../images/dashboard/calendar/dot.png) center top no-repeat;
	background-size: 27px auto;
	position: relative;
	margin-right: 10px;
	bottom: -8px;
}

.calendar-tabs .nav-tabs > li.active a {
	font-weight: 600;
	color: #3891ff !important;
}

.calendar-tabs .nav-tabs > li a,
.calendar-tabs .nav-tabs > li a:hover,
.calendar-tabs .nav-tabs > li.active a,
.calendar-tabs .nav-tabs > li.active a:hover {
	border: 0 none;
	background: transparent;
	color: #282828;
	font-size: $s17;
	padding: 0;
    box-shadow: none;
}

.calendar-tabs .nav-tabs > li.active .dot {
	background-image: url(../images/dashboard/calendar/dot-active.png);
}

@media (min-width: 1024px) {
    .modal-add-calendar {
        .working-section .bootstrap-select > .dropdown-toggle{
            padding-right: 20px;
        }
    }
}

@media (max-width: 1023px) {
	.calendar-tabs .nav-tabs > li {
		margin: 0;
		float: left;
		width: 33.33%;
	}
	.modal-dialog.block-attendee,
	.modal-dialog.block-details,
	.modal-dialog.block-personal {
		font-size: $s13;
		margin-left: auto;
		margin-right: auto;
	}
	#addCalendarModal .modal-content {
		border-color: transparent;
	}
	#addCalendarModal .nav-tabs {
        margin-bottom: 0;
	}
	#addCalendarModal .close {
		z-index: 9999;
	}
    .modal-add-calendar .working-section > .form-label{
        visibility: visible;
    }
    .modal-add-calendar .working-section .working-time .table-css{
        width: 100%;
    }
    .modal-add-calendar .working-section .working-time .td-from,
    .modal-add-calendar .working-section .working-time .td-to{
        width: 40px;
    }
    .modal-add-calendar .working-section .working-time .td-from + .td,
    .modal-add-calendar .working-section .working-time .td-to + .td{
        width: inherit;
    }
    .modal-add-calendar .working-section .working-time ul.clearfix{
        width: 100%;
    }
    .modal-add-calendar .working-section .working-time .td-from{
        text-align: left;
    }
    .modal-add-calendar .bootstrap-select.btn-group .btn .filter-option,
    .modal-add-calendar .working-section .working-time ul.clearfix > li > input[type="text"]{
        font-size: $s14;
    }
    .modal-add-calendar .working-section .working-time .td{
        font-size: $s15;
    }
    .modal-add-calendar .working-section .working-time .td .time-control{
        height: 31px;
    }
    .modal-add-calendar .working-section .working-time .td .time-control input{
        font-size: $s14;
        height: 31px;
    }
}

@media (max-width: 400px){
    .calendar-tabs .nav-tabs > li {
        width: 30%;
    }
    .calendar-tabs .nav-tabs > li:first-child {
        width: 40%;
    }
    .calendar-tabs .nav-tabs > li a,
    .calendar-tabs .nav-tabs > li a:hover,
    .calendar-tabs .nav-tabs > li.active a,
    .calendar-tabs .nav-tabs > li.active a:hover{
        font-size: $p;
    }
    .calendar-tabs .nav-tabs > li .dot{
        margin-right: 5px;
    }
}

@media (max-width: 374px){
    .modal-add-calendar .row{
        margin-left: -15px;
        margin-right: -15px;
    }
    .modal-add-calendar .bootstrap-select.btn-group .btn .filter-option,
    .modal-add-calendar .working-section .working-time ul.clearfix > li > input[type="text"]{
        font-size: $s11;
    }
    .modal-add-calendar .working-section .working-time .td{
        font-size: $s13;
    }
    .modal-add-calendar .working-section .bootstrap-select > .dropdown-toggle{
        padding-right: 16px;
    }
    .modal-add-calendar .working-section .form-select .bootstrap-select > .btn,
    .modal-add-calendar .working-section .form-select .bootstrap-select > .btn:focus,
    .modal-add-calendar .working-section .form-select .bootstrap-select > .btn:active,
    .modal-add-calendar .working-section .form-select .bootstrap-select > .btn-default.disabled,
    .modal-add-calendar .working-section .form-select .bootstrap-select > .btn-default.disabled:focus,
    .modal-add-calendar .working-section .form-select .bootstrap-select > .btn-default.disabled:active,
    .modal-add-calendar .working-section .form-select .bootstrap-select.open > .dropdown-toggle.btn-default,
    .modal-add-calendar .working-section .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
    .modal-add-calendar .working-section .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:focus{
        padding-left: 3px;
    }
    .modal-add-calendar .working-section .form-select .bootstrap-select div.dropdown-menu{
        margin-top: 0;
    }
    .modal-add-calendar .working-section .bootstrap-select .dropdown-menu > li > a{
        padding-left: 3px;
    }
    .modal-add-calendar .working-section .working-time .td .time-control{
        height: 26px;
    }
    .modal-add-calendar .working-section .working-time .td-from,
    .modal-add-calendar .working-section .working-time .td-to{
        width: 35px;
    }
    .modal-add-calendar .working-section .working-time .td .time-control{
        height: 26px;
    }
    .modal-add-calendar .working-section .working-time .td .time-control input{
        font-size: $s11;
        width: 14px;
        height: 26px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 320px),
only screen and ( min--moz-device-pixel-ratio: 1.25) and (min-width: 320px),
only screen and ( -o-min-device-pixel-ratio: 1.25/1) and (min-width: 320px),
only screen and ( min-device-pixel-ratio: 1.25) and (min-width: 320px),
only screen and ( min-resolution: 120dpi) and (min-width: 320px),
only screen and ( min-resolution: 2dppx) and (min-width: 320px) {
	.calendar-tabs .nav-tabs > li .dot {
		background-image: url(../images/dashboard/calendar/dot@2x.png);
	}
	.calendar-tabs .nav-tabs > li.active .dot {
		background-image: url(../images/dashboard/calendar/dot-active@2x.png);
	}
}