.modal-cancel-calendar h5 {
    font-size: $s18;
    font-family: $primary;
    font-weight: 600;
    text-align: center;
    margin: 5px 0 30px;
}

.modal-cancel-calendar h5 a {
    color: $negative;
    text-decoration: underline;
}