.modal-cancel-calendar h5 {
    font-size: $s17;
    font-family: $primary;
    font-weight: 600;
    text-align: center;
    margin: 10px 0 10px;
}

.modal-cancel-calendar h5 a {
    color: $negative;
    text-decoration: underline;
}