.modal-croppie .modal-header{
    padding-top:16px;
    padding-bottom:2px;
}
.modal-croppie .modal-body{
    padding-top:10px;
    padding-bottom:10px;
}
.modal-croppie .modal-title{
    margin-bottom:10px;
}
.modal-croppie .modal-header p{
    font-size:$s18;
}
.modal-croppie .link-upload,
.modal-croppie .link-upload:hover,
.modal-croppie .link-upload:focus{
    color:#95be31;
    text-decoration:none;
}
.modal-croppie .link-upload span{
    border-bottom:1px solid #95be31;
    line-height:100%;
}
.modal-croppie .modal-footer{
    padding-top:10px;
    padding-bottom: 29px;
    width:480px;
    margin:0 auto;
}
.modal-croppie .modal-footer .btn{
    height:47px;
}

@media (max-width: 767px){
    .modal-croppie .modal-header{
        padding-top:9px;
        padding-bottom:2px;
    }
    .modal-croppie .modal-title{
        font-size:$h6;
        margin-bottom:0;
        line-height:100%;
    }
    .modal-croppie .modal-header p{
        font-size:$p;
        margin:0;
    }
    .modal-croppie .modal-body{
        padding-top:2px;
        padding-left:10px;
        padding-right:10px;
    }
    .modal-croppie .cropit-preview-image-container{
        border-color:#bebebe;
    }
    .modal-croppie .modal-footer{
        padding:2px 10px 13px;
        width:auto;
    }
    .modal-croppie .modal-footer .btn{
        /*height:34px;*/
        font-size:$p;
    }
}