.modal-delete{
    width: 460px;
}
.modal-delete .modal-header{
    padding-top: 33px;
    padding-bottom: 15px;
}
.modal-delete .modal-title{
    font-size: $h5;
    font-weight: 300;
    line-height: 27px;
}
.modal-delete .modal-title span{
    font-weight: 700;
}
.modal-delete .modal-body{
    width: 300px;
    padding-left:0;
    padding-right: 0;
    padding-bottom: 6px;
    margin:0 auto;
}
.modal-delete .row{
    margin-left: -13px;
    margin-right: -13px;
}
.modal-delete div[class*="col-"]{
    padding-left: 13px;
    padding-right: 13px;
}
.modal-delete .btn,
.modal-delete .btn:focus{
    font-size: $s17;
}
.modal-delete .modal-footer{}