.modal-delete{
    width: 460px;
}
.modal-delete .modal-header{
    padding-top: 33px;
    padding-bottom: 15px;
}
.modal-delete .modal-title{
    font-size: $h5;
    font-weight: 300;
    line-height: 27px;
}
.modal-delete .modal-title span{
    font-weight: 700;
}
.modal-delete .modal-body{
    width: 300px;
    padding-left:0;
    padding-right: 0;
    padding-bottom: 6px;
    margin:0 auto;
}
.modal-delete .row{
    margin-left: -13px;
    margin-right: -13px;
}
.modal-delete div[class*="col-"]{
    padding-left: 13px;
    padding-right: 13px;
}
.modal-delete .btn,
.modal-delete .btn:focus{
    font-size: $s17;
}
.modal-delete .modal-footer{}

@media (max-width: 767px){
    .modal-delete{
        width: auto;
    }
    .modal-delete .modal-header{
        padding-bottom: 21px;
    }
    .modal-delete .modal-title{
        font-size: $s15;
        line-height: 21px;
    }
    .modal-delete .modal-body{
        width: 61%;
    }
    .modal-delete .row{
        margin-left: -10px;
        margin-right: -10px;
    }
    .modal-delete div[class*="col-"]{
        padding-left: 10px;
        padding-right: 10px;
    }
    .modal-delete .btn,
    .modal-delete .btn:focus{
        font-size: $s14;
        height: 30px;
    }
}

@media (max-width: 374px){
    .modal-delete .modal-header{
        padding-top: 28px;
        padding-bottom: 16px;
    }
    .modal-delete .modal-title{
        font-size: $s13;
        line-height: 18px;
    }
    .modal-delete .row{
        margin-left: -8px;
        margin-right: -8px;
    }
    .modal-delete div[class*="col-"]{
        padding-left: 8px;
        padding-right: 8px;
    }
    .modal-delete .btn,
    .modal-delete .btn:focus{
        font-size: $p;
        height: 26px;
    }
}