.modal-edit-category .form-placeholder label {
    color: #989898;
}
.modal-edit-category .twitter-typeahead {
    width: 100%;
}
.modal-edit-category .tt-menu{
    border:1px solid #000;
    border-top-color: #ddd;
    width:100%;
    top:39px !important;
    background:$white;
    max-height:136px;
    overflow: hidden;
}
.on-device .modal-edit-category .tt-menu{
    overflow-y: auto;
}
.modal-edit-category .tt-suggestion {
    padding:6px 12px;
}
.modal-edit-category .tt-suggestion:hover{
   color:$white;
   background:#95be31;
   cursor:pointer;
}

.modal-edit-category .selection-section {
    height: 335px;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

.on-device .modal-edit-category .selection-section {
    overflow-y: auto;
}

.modal-edit-category .selection-section ul {
    margin: 0;
    padding: 0;
}

    .modal-edit-category .selection-section ul li {
        display: inline-block;
        background: #f0f0f0;
        padding: 3px 7px;
        margin-bottom: 5px;
        margin-right:5px;
    }

        .modal-edit-category .selection-section ul li .selection-choice-text {
            font-size: $s14;
            font-family: $primary;
            font-weight: 400;
        }

        .modal-edit-category .selection-section ul li .selection-choice-remove {
            display: inline-block;
            width: 23px;
            margin-right: -7px;
            text-align: center;
            color: #969696;
            float: right;
            cursor: pointer;
            font-size: $s8;
            position: relative;
            bottom: -1px;
            font-family: $primary;
            font-weight: 500;
        }

            .modal-edit-category .selection-section ul li .selection-choice-remove:hover {
                color: $base;
            }