.modal-invitation{
    width: 674px;
}
.modal-invitation .form-label{
    font-size: $h6;
    font-weight: 400;
    margin-bottom: 7px;
}
.modal-invitation .form-control{
    border-radius: 2px;
    height: 148px !important;
    resize: none;
    margin-bottom: 30px;
}
.modal-invitation form div[class*="col-"]{
    margin-bottom: 0;
}
.modal-invitation ul{
    margin:0;
    padding:0;
    list-style: none;
}
.modal-invitation .modal-header{
    padding: 11px 27px 13px;
}
.modal-invitation .modal-header .modal-title{
    font-size: $s25;
    font-weight: 300;
    margin-bottom: 14px;
}
.modal-invitation .modal-header .modal-title strong{
    font-weight: 700;
}
.modal-invitation .modal-header p{
    font-size: $h6;
    line-height: 20px;
}
.modal-invitation .modal-header p strong{
    font-weight: 700;
    color:#ff6a6a;
}
.modal-invitation .modal-body{
    padding: 15px 27px 11px;
}
.modal-invitation .modal-body > ul.checkbox-list{
    margin: 10px 0 11px;
}
.modal-invitation .modal-body > ul.checkbox-list .cb-mark ~ .cb-label{
    font-size: $h6;
    padding-left: 29px;
}
.modal-invitation .modal-body > ul.checkbox-list .cb-mark ~ .cb-label:before{
    top: -1px;
    width: 22px;
    height: 22px;
    background-image: url(../images/dashboard/modals/invitation/icon-check.png);
    background-size: 22px auto;
}
.modal-invitation .modal-body > ul.checkbox-list .cb-mark:checked ~ .cb-label::before {
    background-image: url(../images/dashboard/modals/invitation/icon-checked.png);
}
.modal-invitation .modal-body .client-list{
    height: 169px;
    overflow-y: auto;
    position: relative;
}
.on-nicescroll .modal-invitation .modal-body .client-list .wrap-dropdown-menu-inner{
    max-height: 100%;
}
.on-nicescroll .modal-invitation .modal-body .client-list {
    overflow: hidden;
}
.modal-invitation .modal-body .client-list ul.checkbox-list{
    margin-left: 5px;
}
.modal-invitation .modal-body .client-list ul.checkbox-list .cb-mark ~ .cb-label{
    font-size: $s13;
    line-height: 24px;
    margin-bottom: 0;
    padding-left: 23px;
}
.modal-invitation .modal-footer{
    padding: 15px 27px;
}
.modal-invitation .modal-footer ul{
    margin-left: -9px;
    margin-right: -9px;
}
.modal-invitation .modal-footer li{
    float: left;
    padding-left: 9px;
    padding-right: 9px;
}
.modal-invitation .modal-footer .btn{
    height: 40px;
    font-size: $s17;
    width: 100%;
}
.modal-invitation .modal-footer li:first-child{
    width: 167px;
}
.modal-invitation .modal-footer li:last-child{
    width: 154px;
}

@media (min-width: 768px){
    .modal-invitation .modal-header{
        text-align: left;
    }
    .modal-invitation .modal-header .close{
        right: 14px;
    }
}

@media (max-width: 1023px){
    .modal-invitation .modal-content{
        background: transparent;
    }
    .modal-invitation .form-label{
        font-size: $s15;
        margin-bottom: 3px;
    }
    .modal-invitation .form-control{
        height: 123px !important;
        margin-bottom: 24px;
    }
    .modal-invitation .modal-header{
        padding: 18px 20px 3px;
        background: $white;
    }
    .modal-invitation .modal-header .modal-title{
        font-size: $s17;
        font-weight: 400;
        margin-bottom: 25px;
    }
    .modal-invitation .modal-header .modal-title strong{
        font-weight: 400;
    }
    .modal-invitation .modal-header p{
        font-size: $s15;
        line-height: 19px;
    }
    .modal-invitation .modal-body{
        padding-left: 20px;
        padding-right: 20px;
        background: $white;
    }
    .modal-invitation .modal-body > ul.checkbox-list{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .modal-invitation .modal-body > ul.checkbox-list li{
        float: none;
        margin-bottom: 6px;
    }
    .modal-invitation .modal-body > ul.checkbox-list .cb-mark:checked ~ .cb-label{
        font-weight: 700;
        color: $positive;
        margin-bottom: 3px;
    }
    .modal-invitation .modal-body .client-list{
        height: 218px;
    }
    .modal-invitation .modal-footer{
        padding: 19px 30px;
    }
    .modal-invitation .modal-footer ul{
        margin-left: -15px;
        margin-right: -15px;
    }
    .modal-invitation .modal-footer li{
        padding-left: 15px;
        padding-right: 15px;
    }
    .modal-invitation .modal-footer .btn{
        height: 40px;
        font-size: $s13;
        width: 100%;
        background: $positive;
        color: $white;
        border-width: 1px !important;
    }
    .modal-invitation .modal-footer li:first-child,
    .modal-invitation .modal-footer li:last-child{
        width: 50%;
    }
}

@media (max-width: 767px){
    .modal-invitation{
        width: auto;
    }
}
@media (max-width: 374px){
    .modal-invitation .form-label{
        font-size: $s13;
        margin-bottom: 0;
    }
    .modal-invitation .form-control{
        height: 106px !important;
        margin-bottom: 18px;
        font-size: $p;
    }
    .modal-invitation .modal-header{
        padding: 16px 16px 3px;
        background: $white;
    }
    .modal-invitation .modal-header .modal-title{
        font-size: $s14;
        margin-bottom: 22px;
    }
    .modal-invitation .modal-header .modal-title strong{
        font-weight: 400;
    }
    .modal-invitation .modal-header p{
        font-size: $s13;
        line-height: 16px;
    }
    .modal-invitation .modal-body{
        padding-top: 11px;
        padding-left: 16px;
        padding-right: 16px;
        background: $white;
    }
    .modal-invitation .modal-body > ul.checkbox-list{
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .modal-invitation .modal-body > ul.checkbox-list li{
        margin-bottom: 6px;
    }
    .modal-invitation .modal-body > ul.checkbox-list .cb-mark ~ .cb-label{
        margin-bottom: 3px;
        font-size: $s13;
    }
    .modal-invitation .modal-body > ul.checkbox-list .cb-mark ~ .cb-label:before{
        width: 18px;
        height: 18px;
        background-size: 18px auto;
        top: 1px;
    }
    .modal-invitation .modal-body .client-list{
        height: 209px;
    }
    .modal-invitation .modal-body .client-list ul.checkbox-list{
        margin-left: 3px;
    }
    .modal-invitation .modal-body .client-list ul.checkbox-list .cb-mark ~ .cb-label{
        font-size: $p;
        line-height: 21px;
        padding-left: 25px;
    }
    .modal-invitation .modal-footer{
        padding: 17px 26px;
    }
    .modal-invitation .modal-footer ul{
        margin-left: -13px;
        margin-right: -13px;
    }
    .modal-invitation .modal-footer li{
        padding-left: 13px;
        padding-right: 13px;
    }
    .modal-invitation .modal-footer .btn{
        height: 33px;
        font-size: $p;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .modal-invitation .modal-body > ul.checkbox-list .cb-mark ~ .cb-label:before{
        background-image: url(../images/dashboard/modals/invitation/icon-check@2x.png);
    }
    .modal-invitation .modal-body > ul.checkbox-list .cb-mark:checked ~ .cb-label::before {
        background-image: url(../images/dashboard/modals/invitation/icon-checked@2x.png);
    }
}