.modal-paypal .modal-header {
    margin-bottom: 4rem;
    margin-top: 0rem;
}
.modal-paypal .modal-header h4 {
    font-weight: 400;
    padding-bottom: 0;
    margin-top: 0.51rem;
    font-size:19px;
    color:#4a4a4a;
}
.modal-paypal .modal-body {
    padding-bottom: 2rem;
}
.modal-paypal .modal-content {
    border-radius: 12px;
}
.modal-paypal a {
    display:inline-block;
}
.modal-paypal a[name="paymentmethod"] {
    width: 111px;
}
.modal-paypal a[name="creditcardtmethod"] {
    width: 147px;
    display:inline-block;
}
.modal-paypal .table-css {
    width: 100%;
}
.modal-paypal .table-css .td{
    width: 50%;
    padding-top: 25px;
    padding-bottom: 35px;
    text-align: center;
    vertical-align: middle;
}
.modal-paypal .table-css .td:first-child{
    border-right: 1px solid #ddd;
}

@media (min-width:1024px) {
    .modal-paypal{
        width: 590px;
    }
}

@media (max-width:374px) {
    .modal-paypal a {
        width: inherit !important;
    }
}