/* =============================================================================
   modal repeat calendar
   ========================================================================== */

.modal-repeat-calendar {
	.modal-content {
		border-radius: 8px;
	}
	h5 a {
		color: #ff3838;
		text-decoration: underline;
	}
	h5 {
		font-size: $s17;
		font-family: $primary;
		font-weight: 600;
		text-align: center;
		margin: 0px 0 15px;
	}
	input[type="text"],
	input[type="email"],
	input[type="search"],
	input[type="password"],
	textarea.form-control,
	textarea.form-control:focus {
		font-size: $s11;
		font-weight: 400;
	}
	.modal-title {
		font-size: $s17;
		font-weight: 400;
		margin-bottom: 35px;
		margin-top: 10px;
	}
	.bootstrap-select.btn-group .btn .filter-option {
		color: #434343;
		font-size: $s11;
		margin-top: 4px;
	}
	.bootstrap-select.btn-group .btn .pull-left {
		color: #434343;
	}
	div[class*="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
	.form-label {
		margin-top: 5px;
		margin-bottom: 8px;
	}
	.modal-body {
		padding-bottom: 10px;
		padding-top: 0px;
	}
	.btn-agree,
	.btn-neutral {
		margin-top: 30px;
	}
}


/* =============================================================================
   modal call
   ========================================================================== */

.modal-call,
.modal-save,
.modal-success {
    width: 370px;

    @media (max-width: 767px){
        width: auto;
    }

	.modal-content {
		border-radius: 8px;
	}
	h5 a {
		color: #ff3838;
		text-decoration: underline;
	}
	h5 {
		font-size: $s17;
		font-family: $primary;
		font-weight: 600;
		text-align: center;
		margin: 0px 0 15px;
	}
	.modal-title {
		font-size: $s17;
		font-weight: 400;
		margin-bottom: 0px;
		margin-top: 10px;
	}
	.bootstrap-select.btn-group .btn .filter-option {
		color: #434343;
		font-size: $s11;
		margin-top: 4px;
	}
	.bootstrap-select.btn-group .btn .pull-left {
		color: #434343;
	}
	div[class*="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
	.form-label {
		margin-top: 5px;
		margin-bottom: 8px;
	}
	.modal-body {
		padding-bottom: 10px;
		padding-top: 0px;
	}
	.btn-agree,
	.btn-neutral,
	.btn-disagree {
		margin-top: 30px;
	}
}