.modal-review-complete{
    width: 593px;
}
.modal-review-complete .modal-header{
    padding-top: 98px;
    padding-bottom: 60px;
}
.modal-review-complete .modal-header .close{
    top: 10px;
    right: 10px;
}
.modal-review-complete .modal-header img{
    margin:0 auto 8px;
    width: 72px;
}
.modal-review-complete .modal-header .modal-title{
    font-family: $primary;
    font-weight: 300;
    font-size: $s25;
    color:#232323;
}
.modal-review-complete .modal-body{
    text-align: center;
    padding-left: 47px;
    padding-right: 42px;
}
.modal-review-complete .modal-body textarea{
    resize: none;
    box-shadow: none;
    height: 150px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: $h6;
	border-radius:4px;
    border-color: #ccc;
}
.modal-review-complete .modal-body .characters{
    color: rgba(51, 50, 50, .4);
    font-size: $s14;
    text-align: right;
    margin-top: 2px;
}
.modal-review-complete .modal-footer{
    text-align: center;
    padding-bottom: 29px;
    padding-top: 21px;
}
.modal-review-complete .modal-footer .btn{
    color: #4d4d4d;
    font-weight: 700;
    font-size: $s21;
    width: 252px;
    height: 39px;
    padding:0;
}

@media (max-width: 767px) {
    .modal-review-complete{
        width: auto;
    }
    .modal-review-complete .modal-content{
        border-radius: 0;
        border:1px solid #898989;
    }
    .modal-review-complete .modal-header{
        padding-top: 125px;
        padding-bottom: 79px;
    }
    .modal-review-complete .modal-header img{
        margin-bottom: 6px;
        width: 63px;
    }
    .modal-review-complete .modal-header .modal-title{
        font-size: $s22;
        color: #282828;
    }
    .modal-review-complete .modal-body{
        padding-left: 15px;
        padding-right: 15px;
    }
    .modal-review-complete .modal-body textarea{
        height: 97px;
        font-size: $s13;
    }
    .modal-review-complete .modal-body .characters{
        margin-top: 0;
        color: rgba(54, 53, 53, .4);
        font-size: $s13;
    }
    .modal-review-complete .modal-footer{
        padding: 18px 15px 15px;
    }
    .modal-review-complete .modal-footer .btn{
        color: #3d3d3d;
        font-size: $h6;
        height: 41px;
        width: 100%;
    }
}