.how-event-work-form{}
.how-event-work-form .section-header{padding:22px 0;}
.how-event-work-form .section-header h2{color:#333;}
.how-event-work-form .section-note{margin:20px 0;}
.how-event-work-form .section-note h2{margin:0 0 15px;}
.how-event-work-form .section-note h4{margin:0 0 15px;}
.how-event-work-form label{font:16px/20px ralewaymedium, sans-serif;font-weight:normal;}
.how-event-work-form .form-control{margin-bottom:10px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.how-event-work-form .btn-form{width:300px;border:0 none;font:24px/58px ralewaymedium, sans-serif;margin:0 0 20px;}
.how-event-work-form .section-header{padding:75px 0 110px;}
.how-event-work-form .section-header h3{margin-bottom:25px;}
.how-event-work-form .section-header h4{margin-bottom:30px;font-size:26px;line-height:30px;}

.section-note{}
.section-note h2{font:36px/40px ralewaysemibold, sans-serif;}
.section-note h3{font:30px/34px ralewaysemibold, sans-serif;}
.section-note h4{font:24px/28px ralewaysemibold, sans-serif;}
.section-note p{font:16px/20px ralewaymedium, sans-serif;}

@media (max-width: 767px){
    .how-event-work-form .section-header{padding:22px 0;}
    .how-event-work-form .btn-form{width:240px;}
}
