.manage-packages .subnav-ul > li > a{
    padding-right: 40px;
}
.manage-packages .subnav-ul > li > a .text{
    max-width: inherit;
    margin-right: 0;
    position:relative;
}
.manage-packages .subnav-ul > li > a .icon{
    position:absolute;
    right: 24px;
}
.manage-packages .subnav-ul > li > a .total{
    position:absolute;
    margin-left: 5px;
}