.package-view{
    text-align: center;
    box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    overflow: hidden;
}
.package-view .owl-carousel{
    position: relative;
}
.package-view .owl-controls{
    width: 100%;
    position:absolute;
    bottom:0;
    margin-bottom:0;
}
.package-view .owl-theme .owl-controls .owl-page span{
    background: $white;
    opacity: 1;
}
.package-view .owl-theme .owl-controls .owl-page.active span,
.package-view .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: $positive;
}
.package-view .item{
    background: center center no-repeat;
    background-size: cover;
    height: 323px;
}
.package-view .package-title{
    font-family: $primary;
    font-size: $s28;
    font-weight: 400;
}
.package-view .package-price{
    font-family: $primary;
    font-size: $s28;
    font-weight: 300;
}
.package-view .package-des{
    font-family: $primary;
    font-size: $h5;
    font-weight: 400;
}