.package-view{
    text-align: center;
    box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    overflow: hidden;
}
.package-view .owl-carousel{
    position: relative;
    margin-bottom: 20px;
}
.package-view .owl-controls{
    width: 100%;
    position:absolute;
    bottom:0;
    margin-bottom:10px;
}
.package-view .owl-theme .owl-controls .owl-page span{
    background: $white;
    opacity: 1;
}
.package-view .owl-theme .owl-controls .owl-page.active span,
.package-view .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: $positive;
}
.package-view .item{
    background: center center no-repeat;
    background-size: cover;
    height: 323px;
}
.package-view .package-title{
    font-family: $primary;
    font-size: $h4;
    font-weight: 400;
    margin-bottom: 10px;
    color: #303030;
}
.package-view .package-price{
    font-family: $primary;
    font-size: $h4;
    font-weight: 300;
    margin-bottom: 10px;
    color:#3d3d3d;
}
.package-view .package-des{
    font-family: $primary;
    font-size: $s17;
    font-weight: 400;
    margin-bottom: 20px;
    color: #303030;
}
.package-view .package-control{
    margin-bottom: 20px;
}
.package-view .package-control a{
    font-family: $primary;
    font-size: $s17;
    font-weight: 400;
    color: $positive;
    text-decoration: none;
}

@media (max-width: 1023px){
    .package-view .owl-carousel{
        margin-bottom: 15px;
    }
    .package-view .item{
        height: 190px;
    }
    .package-view .package-title,
    .package-view .package-price{
        font-size: $h6;
        margin-bottom: 5px;
    }
    .package-view .package-des{
        font-size: $p;
    }
}

@media (max-width: 374px){

}