.site-footer{background:#575757;padding:15px 0;}
.site-footer p{margin:0;font:12px/25px ralewaymedium, sans-serif;color:#c0c0c0;}
.site-footer .link-socials{line-height: 0;}
.site-footer .link-socials li{width:inherit;margin-right:20px;}
.site-footer .link-socials li:first-child{width:inherit;text-align:left;}
.site-footer .link-socials li:last-child{width:inherit;float:left;text-align:right;}
.site-footer .link-socials li a img{width:25px;}

@media (max-width:767px){
	.site-footer p{text-align:center;}
}
