.wrapper .site-footer{
    background: #262626;
    padding: 22px 0;
    font-size: 16px;
    line-height: 150%;
    font-family: $primary;

    @media (max-width: 767px){
        padding: 10px 0;
    }
}
.wrapper .site-footer p{
    margin: 0;
    font-size: $s15;
    line-height: 26px;
    font-family: 'lato', sans-serif;
    color: $white;

    @media (max-width: 767px){
        line-height: 100%;
        font-size: $s8;
        margin-top: 3px;
    }
}
.wrapper .site-footer .powered p{
    font-size: $s18;
    font-weight: 700;

    @media (max-width: 767px){
        font-size: $s13;
        line-height: 26px;
        margin-top: 0;
    }
}
