@media (min-width: 992px){
    .wrapper .site-footer .col-md-5-5{
        width: 45.8333%;
    }
    .wrapper .site-footer .col-md-6-5{
        width: 54.1667%;
    }
    .wrapper .site-footer{
        background: #262626;
        padding: 22px 0;
    }
    .wrapper .site-footer p{
        margin: 0;
        font-size: $s15;
        line-height: 26px;
        font-family: 'lato', sans-serif;
        color: $white;
    }
    .wrapper .site-footer .powered p{
        font-size: $s18;
        font-weight: 700;
    }
}
