.site-header{min-height:120px;background:#2a2a2a;}
.site-header .logo{display:block;float:left;margin:25px 0;}
.site-header .logo img{height:70px;width:auto;}

.navbar-toggle .icon-bar{background:#f3472d;}
.collapsed .icon-bar{background:#fff;}
.navbar-toggle,
.navbar-toggle:hover{background:transparent;border:0 none;margin-right:0;}
.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar
.navbar-toggle:visited .icon-bar{background:#f3472d;}

.navbar-collapse.collapse.hide{display:none !important;}
.navbar-collapse{background:#2a2a2a;}
.navbar-collapse .navbar-nav.navbar-right:last-child{margin-right:-25px;}
.navbar-collapse .navbar-nav{padding-bottom:20px;}
.navbar-collapse .navbar-nav li{vertical-align:top;padding:0 10px;}
.navbar-collapse .navbar-nav li.link-help{ display:none;}
.navbar-collapse .navbar-nav > li > a{position:relative;display:inline-block;color:#fff;font:14px/18px ralewaymedium, sans-serif;color:#fff;text-decoration:none;margin:0;padding:0 2px;}
.navbar-collapse .navbar-nav > li > a:hover{color:#f3472d;background:transparent;}
.navbar-collapse .navbar-nav > li > a:focus,
.navbar-collapse .navbar-nav > li > a:visited{background:transparent;}
.navbar-collapse .navbar-nav li.active a{color:#fff;}
.navbar-collapse .navbar-nav li.active span{display:block;height:7px;background:#f3472d;position:absolute;left:0;right:0;bottom:-21px;}

.welcome-user,
.welcome-user:hover{
    float:right;
    display:inline-block;
    padding:9px 10px;
    line-height:32px;
    color:#fff;
    text-decoration:none;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:180px;
    text-align:right;
    font-size: $s14;
}

.area-section{float:left;margin:15px 25px 0;}
.area-section select{visibility:hidden;}
.area-section .bs-searchbox{display:none;}
.area-section .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:150px;}
.area-section .btn-default:active,
.area-section .btn-default.active,
.area-section .open > .dropdown-toggle.btn-default{background:#333;color:#fff;}
.area-section .bootstrap-select .selectpicker{border:0 none;background:transparent;color:#fff;padding-right:30px;}
.area-section .btn-group.open .dropdown-toggle{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.area-section .bootstrap-select .btn:focus{outline:0 none !important;outline-offset:inherit;box-shadow:none;}
.area-section .bootstrap-select .selectpicker{min-height:72px;font:60px/60px ralewayextralight,sans-serif;color:#fff;}
.area-section .bootstrap-select.open{background:#333;}
.area-section .bootstrap-select.btn-group .btn .caret{
    background-image:url(images/assets/icon_dropdown_white.png);
    margin-top: inherit;
}
.area-section .dropdown-menu{background:#333;margin:0;padding:0;border:0 none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.area-section .bootstrap-select.btn-group .dropdown-menu.open{max-height:390px !important;width:100%;overflow:hidden;}
.area-section .bootstrap-select.btn-group .dropdown-menu.inner{min-height:none !important;max-height:none !important;}
.area-section .dropdown-menu > li{border:0 none;font-size: 16px;}
.area-section .dropdown-menu > li.selected{display:none;}
.area-section .dropdown-menu > li > a{font:50px/60px ralewayextralight,sans-serif;color:#fff;padding:6px 12px;}
.area-section .dropdown-menu > li > a small.text-muted{font-size:20px;color:#fff;}
.area-section .dropdown-menu > li > a:hover,
.area-section .dropdown-menu > li > a:focus{background:transparent;color:#f3472d;}
.area-section .bootstrap-select.btn-group .dropdown-menu > li > a:hover small.text-muted,
.area-section .bootstrap-select.btn-group .dropdown-menu > li > a:focus small.text-muted{color:#f3472d;}

.region-section{float:left;margin:31px 0 0;position:relative;}
.region-section select{visibility:hidden;}
.region-section .bs-searchbox{background:#333;border:0 none;padding:6px 12px;}
.region-section .bs-searchbox .form-control{background:#222;border-color:#363636;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;color:#fff;}
.region-section .bs-searchbox .form-control:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.region-section .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:auto;}
.region-section .btn-default:active,
.region-section .btn-default.active,
.region-section .open .dropdown-toggle.btn-default{background:#333;color:#fff;}
.region-section .bootstrap-select .btn{border:0 none;background:transparent;color:#aaa;padding-right:42px;}
.region-section .btn-group.open .dropdown-toggle{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.region-section .bootstrap-select .btn:focus{outline:0 none !important;outline-offset:inherit;box-shadow:none;}
.region-section .bootstrap-select .btn{font:20px/24px ralewaylight,sans-serif;color:#fff;}
.region-section .bootstrap-select.open{background:#333;z-index:15;}
.region-section .bootstrap-select.btn-group .btn .filter-option{width:auto;}
.region-section .bootstrap-select.btn-group .btn .caret{
    background-image:url(images/assets/icon_dropdown_white.png);
    position:relative;
    margin-left:24px;
    top:0;
    margin-top: inherit;
}
.region-section .dropdown-menu{background:#333;margin:0;padding:0;border:0 none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;min-height:auto !important;max-height:none !important;}
.region-section .bootstrap-select.btn-group .dropdown-menu.open{overflow:hidden;}
.region-section .bootstrap-select.btn-group .dropdown-menu.inner{min-height:none !important;max-height:none !important;}
.region-section .dropdown-menu li{border:0 none;}
.region-section .dropdown-menu li:first-child > a{font-family:ralewaybold,sans-serif;}
.region-section .dropdown-menu li.no-results,
.region-section .dropdown-menu li > a,
.region-section .dropdown-menu li.active > a,
.region-section .dropdown-menu li.active > a:hover,
.region-section .dropdown-menu li.active > a:focus{background:transparent;font:14px/30px ralewaylight,sans-serif;color:#fff;padding:6px 12px;}
.region-section .dropdown-menu li > a:hover,
.region-section .dropdown-menu li > a:focus,
.region-section .dropdown-menu li.selected > a,
.region-section .dropdown-menu li.selected > a:hover,
.region-section .dropdown-menu li.selected > a:focus{background:transparent;color:#f14836;}
.region-section .no-results{background:#333 !important;}
.region-section .section-scroll{max-height:462px;overflow:hidden;position:relative;}

.area-section .dropdown-menu,
.region-section .dropdown-menu{
    display:block;
    background-clip:padding-box;
    opacity:.3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter:alpha(opacity=30);

    -ms-transform-origin:top;
    -moz-transform-origin:top;
    -webkit-transform-origin:top;
    transform-origin:top;

    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-transform:scale(1, 0);
    -moz-transform:scale(1, 0);
    -ms-transform:scale(1, 0);
    transform:scale(1, 0);

    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.area-section .open > .dropdown-menu,
.region-section .open .dropdown-menu{
    -webkit-transform:scale(1, 1);
    -moz-transform:scale(1, 1);
    -ms-transform:scale(1, 1);
    transform:scale(1, 1);
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
}
.area-section .iScrollVerticalScrollbar,
.region-section .iScrollVerticalScrollbar{
    width:9px !important;
    opacity:1 !important;
    z-index:1036 !important;
}
.area-section .iScrollIndicator,
.region-section .iScrollIndicator{
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    border-radius:0 !important;
    border:#666 !important;
    background:#666 !important;
}

.link-account-user span{display:inline-block;width:24px;height:19px;background:center center no-repeat;}
.link-account-user .icon-user{background-image:url(images/assets/icon_user.png);margin:0 10px 0 0;background-size:contain;position:absolute;bottom:0;left:0;}
.link-account-user .icon-down{background-image:url(images/assets/icon_dashboard_dropdown.png);position:absolute;bottom:0;right:0;}

.nav-account{display:none;background:#2a2a2a;border-top:1px solid #979797;border-top:1px solid #979797;position:absolute;top:160px;left:0;right:0;}
.nav-account dt{color:#fff;font-size:14px;line-height:18px;}
.nav-account dl{margin-top:10px;margin-bottom:10px;}
.nav-account dt a.link-sign-out{color:#f3472d;}

@media (min-width:992px){
    .region-section .bootstrap-select.btn-group .btn .filter-option{
        max-width:150px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
}

@media (max-width:991px){
    .region-section{
        float:none;
        margin:0 -15px;
        clear:both;
    }
}

@media (max-width: 767px){
	.site-header{min-height:50px;}
    .site-header .logo{margin:12px 0;}
    .site-header .logo img{height:25px;}

    .navbar-collapse.in{margin:0 -15px;}
    .navbar-collapse .navbar-nav.navbar-right:last-child{margin:0 -15px;}
    .navbar-collapse .navbar-nav{padding:16px 14px 8px 0;margin:0 -15px;float:none;}
    .navbar-collapse .navbar-nav li{float:left;width:50%;margin:0 0 15px;}
    .navbar-collapse .navbar-nav li a{display:block;margin:0 0 0 14px;padding:12px;background:#333;border:1px solid #fff;text-align:center;}
    .navbar-collapse .navbar-nav li.link-help{float:none;width:100%;clear:both;}
    .navbar-collapse .navbar-nav li.link-help a,
    .navbar-collapse .navbar-nav li.link-help a:hover{border:0;background:transparent;text-align:left;}
    .nav-main li img{margin-top:0;}
    .navbar-collapse .navbar-nav li a:hover{background:#ccc;border:1px solid #ccc;}
    .navbar-collapse .navbar-nav li a.bg-green,
    .navbar-collapse .navbar-nav li a.bg-green:hover{background:#97BC47;color:#fff;border:1px solid #97BC47;}

    .area-section{margin:0 12px;}
    .area-section .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:90px;}
    .area-section .bootstrap-select{height:44px;overfloat:hidden;}
    .area-section .bootstrap-select.open{height:auto;}
    .area-section .bootstrap-select.btn-group .dropdown-menu.open{max-height:410px !important;width:auto;}
    .area-section .bootstrap-select .selectpicker{font-size:20px;line-height:24px;min-height:44px;}
    .area-section .dropdown-menu{position:inherit;}
    .area-section .dropdown-menu > li{float:left;width:50%;text-align:center;height:82px;}

    .region-section .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:100%;}
    .region-section .bootstrap-select .btn{font-size:16px;line-height:20px;}
    .region-section .bootstrap-select.btn-group .btn .caret{margin:inherit;position:absolute;top:45%;}
    .region-section .dropdown-menu{position:relative;max-height:400px !important;}
    .region-section .bootstrap-select{height:44px;overfloat:hidden;}
    .region-section .bootstrap-select.open{height:auto;}
    .region-section .popover-title .form-control{font-size:16px;}
    .region-section .dropdown-menu > li.no-results,
    .region-section .dropdown-menu > li > a{font-size:16px;line-height:20px;}
}

@media (max-width:480px){
    .welcome-user,
    .welcome-user:hover{padding-left:0;padding-right:0;width:22px;}
}
