/* header */
.social-icons{
    float:right;
    margin:13px 0;
    padding:0;
    text-align:right;
}
.social-icons dt{
    padding:10px 0;
    color:#fff;
    font:26px/30px ralewaysemibold, sans-serif;
}
.social-icons dd{
    display:inline-block;
    margin:0 0 0 7px;
}
.social-icons dd img{
    width: 35px;
}

/* footer */
.link-socials{
    margin:0;
    padding:0;
    list-style:none;
}
.link-socials li{
    float:left;
    width:23%;
    text-align:center;
}
.link-socials li a img{
    width:auto;
}
.link-socials li:first-child{
    width:15%;
    text-align:left;
}
.link-socials li:last-child{
    width:15%;
    float:right;text-align:right;
}
