.site-address ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-address ul li {
    background: no-repeat left top;
    margin: 10px 0 0;
    padding: 0;
    float: left;
    font-size: $s11;
}
.site-address ul li.icon-email a {
    color: #777777;
}
.site-address ul li.icon-location {
    background-image: url(images/icons_2016/footer_icon_address.png);
    background-position: left center;
    height: 28px;
    background-size: 28px auto;
}
.site-address ul li.icon-phone {
    background-image: url(images/icons_2016/footer_icon_phone.png);
    background-position: left center;
    height: 28px;
    background-size: 28px auto;
}
.site-address ul li.icon-email {
    background-image: url(images/icons_2016/footer_icon_email.png);
    background-position: left center;
    height: 28px;
    background-size: 28px auto;
}
.site-address ul li:nth-child(1) {
    width: 12%;
}
.site-address ul li:nth-child(2) {
    width: 30%;
    padding-left: 26px;
    line-height: 16px;
    color: $white;
}
.site-address ul li:nth-child(3) {
    width: 27%;
    line-height: 16px;
    padding-left: 34px;
}
.site-address ul li:nth-child(4) {
    width: 17%;
    line-height: 30px;
    padding-left: 34px;
}
.site-address ul li:nth-child(5) {
    width: 14%;
    line-height: 30px;
    padding-left: 34px;
}