.site-contact {
    background: #2a2a2a;
    padding: 20px 0 32px;
    line-height: 17px;
    font-weight: 500;
    color: #777777;
}
.site-contact .logo {
    width: 104px;
    height: 31px;
    display: inline-block;
    background: url(images/icons_2016/footer_logo_kuyam@2x.png) center center no-repeat;
    background-size: 104px auto;
}
.site-contact .logo img{
    display: none;
}
.site-contact .link-terms {
    position: relative;
    top: -10px;
    left: 10px;
    display: inline-block;
}
.site-contact .link-terms a {
    color: #96be3d;
}
.site-contact .live-chat {
    margin: 35px 0 0;
    position: relative;
}
.site-contact .live-chat .link-terms {
    position: absolute;
    top: 19px;
    left: 112px;
}

@media (max-width: 767px){
    .site-contact {
        display: none;
    }
}