.site-footer {
    height: 58px;
    background-color: #2d2d2d;
    border-top: 1px solid #424242;
    padding: 7px 0;
}
.site-footer p {
    margin: 7px 0 0;
    font-size: $p;
    line-height:14px;
    font-family:$primary;
    font-weight: 400;
    color: $white;
}
.site-footer .link-socials li p{
    line-height: 24px;
}
.site-footer .link-socials li a{
    text-decoration: none;
    color: $white;
}
.site-footer .footer_icon_comment {
    background: center center no-repeat;
    background-size: 17px auto;
    height: 16px;
    width: 18px;
    display: inline-block;
    margin-top: 7px;
}
.site-footer .footer_icon_comment.on {
    background-image: url(images/icons_2016/footer_icon_comment_on.png);
}

.site-footer .footer_icon_comment.off {
    background-image: url(images/icons_2016/footer_icon_comment_off.png);
}
.site-footer .link-socials li img {
    margin-top: 7px;
}

@media (max-width:767px) {
    .site-footer {
        height: 70px;
    }
    .site-footer p {
        text-align: left;
        line-height: 18px;
        margin-top: 10px;
    }
}

@media (max-width: 479px) {
    .site-footer {
        height: 76px;
    }
    .site-footer p {
        text-align: left;
        line-height: 18px;
        margin-top: 12px;
        font-size: $s10;

    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .site-footer .footer_icon_comment.on {
        background-image: url(images/icons_2016/footer_icon_comment_on@2x.png);
    }

    .site-footer .footer_icon_comment.off {
        background-image: url(images/icons_2016/footer_icon_comment_off@2x.png);
    }
}