.site-header {
    margin: 0;
    border: 0 none;
    background: $white;
    height: 58px;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, .15);
}
.site-header .search-form{
    margin: 10px 25px 0px 32px;
    float: left;
}
.site-header .navbar-header {
    position: relative;
}
.site-header .collapsed .icon-bar {
    background: #96B84E;
}
.site-header .logo {
    display: inline-block;
    margin: 16px 0 0;
    width: 103px;
    height: 28px;
    background: url(images/icons_2016/header_logo_kuyam@2x.png) center center no-repeat;
    background-size: 103px auto;
}
.site-header .logo img{
    display: none;
}
.site-header .account-user {
    float: right;
    font: 13px/32px 'Lato', sans-serif;
    font-weight: 400;
    color: $white;
    margin: 8px;
}
.site-header .nav-account {
    display: none;
    position: absolute;
    top: 58px;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .95);
    height: 78px;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, .15);
    border: none;
    top: 58px;
}
.site-header .username-header {
    font-weight: bold;
    display: inline-block;
}
.site-header .navbar-nav {
    margin: -30px 0 0;
}
.site-header .navbar-nav li {
    padding: 0 10px 0 20px;
}
.site-header .navbar-nav > li > a,
.site-header .navbar-nav > li > a:focus,
.site-header .navbar-nav > li > a:visited {
    color: #5f5f5f;
    position: relative;
    display: block;
    font-size: $s14;
    line-height:18px;
    font-weight: 500;
    text-decoration: none;
    margin: 0;
    padding: 0 2px;
}
.site-header .navbar-nav > li > a:hover,
.site-header .navbar-nav > li > a:focus,
.site-header .navbar-nav > li > a:visited {
    background: transparent;
}
.site-header .navbar-nav > li > a:hover {
    color: #96be3d;
}
.site-header .navbar-nav li.active a {
    color: #96be3d;
}
.site-header .link-account-user .icon-down {
    background-image: url(images/icons_2016/header_icon_dropdown.png);
    margin: 0 -10px -3px 0px;
    background-size: 15px auto;
}
.site-header .link-account-user.open .icon-down {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.site-header .header-icon-sign-out {
    background-image: url(images/icons_2016/header_icon_sign_out.png);
    width: 10px;
    height: 10px;
    display: inline-block;
    background-position: center 2px;
    background-repeat: no-repeat;
}
.site-header .header-icon-mini-settings {
    background-image: url(images/icons_2016/header_icon_mini_settings.png);
    width: 10px;
    height: 10px;
    display: inline-block;
    background-position: center 1px;
    background-repeat: no-repeat;
}
.site-header .have-icon {
    position: relative;
}
.site-header .link-sign-out {
    position: absolute !important;
    top: 16px;
    right: 0px;
    font-size: 10px;
}
.site-header .link-settings {
    position: absolute !important;
    top: 16px;
    left: 20px;
    font-size: 10px;
}
.site-header .badge {
    position: absolute !important;
    top: -5px;
    left: 43px;
    font-size: 11px;
    border: 1px solid #ff6060;
    text-align: center;
    width: auto;
    height: 20px;
    line-height: 18px;
    border-radius: 10px;
    background-color: $white;
    color: #ff6060;
    display: block;
    padding: 0 3px
}
.site-header .navbar-toggle,
.site-header .navbar-toggle:hover{
    background: transparent;
    border: 0 none;
    -webkit-appearance: none;
}
.site-header .navbar-collapse {
    background: #2a2a2a;
}
.site-header .navbar-nav .link-account-user {
    min-width: 100px;
}
.site-header .link-account-user span {
    display: inline-block;
    width: 19px;
    height: 17px;
    background: center center no-repeat;
}
.site-header .navbar-toggle,
.site-header .navbar-toggle:hover {
    background: transparent;
    border: 0 none;
    cursor:pointer;
    margin:0;
    padding: 15px;
}
.site-header .navbar-toggle .icon-bar,
.site-header .navbar-toggle:hover .icon-bar,
.site-header .navbar-toggle:focus .icon-bar
.site-header .navbar-toggle:visited .icon-bar {
    background: #96B84E;
}
.detech-devices .site-header {
    height: 50px;
}
.detech-devices .site-header .container {
    width: 100%;
}
.detech-devices .site-header .navbar-header {
    float: none;
    margin-left: -15px;
    margin-right: -15px;
}
.detech-devices .site-header .logo {
    width: 117px;
    margin: 8px 0 0 15px;
}
.detech-devices .site-header .navbar-toggle {
    display: block;
    float: right;
}
.detech-devices .site-header .navbar-collapse {
    height: 1px;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}
.detech-devices .site-header .navbar-collapse.in {
    height: auto;
    overflow-y: auto;
}
.detech-devices .site-header .collapsing {
    height: 0;
    overflow: hidden;
}
.detech-devices .site-header .navbar-nav {
    padding: 16px 0 8px;
    margin: 0;
    float: none !important;
}
.detech-devices .site-header .navbar-nav li {
    float: left;
    margin: 0 0 15px;
    padding: 0 10px;
    width: 50%;
}
.detech-devices .site-header .navbar-nav li a {
    background: #333333;
    border: 1px solid $white;
    margin: 0;
    padding: 12px;
    text-align: center;
}
.detech-devices .site-header .navbar-nav li a.bg-green,
.detech-devices .site-header .navbar-nav li a.bg-green:hover {
    background: #97BC47;
    color: $white;
    border: 1px solid #97BC47;
}
.detech-devices .site-header .nav-account {
    border: 0 none;
    display: block;
    left: inherit;
    position: inherit;
    right: inherit;
    top: inherit;
}
.detech-devices .site-header .nav-account dd {
    padding: 15px 0;
}
.detech-devices .link-img a {
    width: auto;
    display: block;
}

@media (max-width:979px) {
    .site-header .company-info {
        width: 550px;
    }
    .site-header .company-info h1 {
        font-size: 32px;
    }
    .site-header .company-info ul,
    .site-header .company-info address {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .detech-devices .site-header .navbar-collapse.collapse {
        height: 1px !important;
        overflow: hidden !important;
    }
    .detech-devices .site-header .navbar-collapse.in {
        height: auto !important;
        overflow-y: auto !important;
    }
    .detech-devices .site-header .navbar-nav {
        padding-left: 15px;
        padding-right: 30px;
    }
}

@media (max-width:767px) {
    .site-header {
        min-height: 43px;
        height: 43px;
    }
    .site-header .search-form{
        display: none;
    }
    .site-header .logo {
        width: 103px;
        margin: 8px 0 0 15px;
    }
    .site-header .logo {
        margin: 7px 0 0 15px;
    }
    .site-header .navbar-collapse,
    .site-header .navbar-collapse.in {
        display: none;
    }
}

@media (max-width:374px) {
    .site-header {
        min-height: 40px;
        height: 40px;
    }
    .site-header .logo{
        width: 65px;
        background-size: 65px auto;
    }
    .site-header .navbar-toggle,
    .site-header .navbar-toggle:hover{
        padding-top: 13px;
        padding-bottom: 13px;
    }
}