.nav-account {
    display: none;
    position: absolute;
    top: 122px;
    right: 0;
    left: 0;
    background: #2a2a2a;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
}

.nav-account dl {
    padding: 15px 0;
}

.nav-account dt {
    font: 14px/18px 'Lato', sans-serif;
    font-weight: 500;
    color: #979797;
}

.nav-account dt a {
    color: $white;
    margin: 0 15px;
}

.nav-account dt a.link-sign-out {
    color: #96be3d;
}

.nav-account dt a.link-account {
    color: #979797;
}

.nav-account dd {
    float: left;
    width: 33.33%;
    padding: 15px;
    text-align: center;
    position: relative;
}

.nav-account dd a {
    display: block;
    font: 28px/32px 'Lato', sans-serif;
    font-weight: 800;
    color: #ABABAB;
    text-decoration: none;
}

.nav-account .active a,
.nav-account dd a:hover {
    color: $white;
}

.nav-account dd a span {
    display: inline-block;
    width: 34px;
    height: 32px;
    background: center center no-repeat;
    margin: 0 15px -5px 0;
    position: relative;
}

.nav-account .icon-favorites {
    background-image: url(images/icons/icon_favorite_dashboard_unactive.png);
}

.nav-account .icon-appointments {
    background-image: url(images/icons/icon_appointment_dashboard_unactive.png);
}

.nav-account .icon-receipt {
    background-image: url(images/icons/icon_receipthistory_dashboard_unactive.png);
}

.nav-account .icon-down {
    display: block;
    width: 100%;
    background-image: url(images/icons/arrow_down_2.png);
    margin: 5px 0 0;
}

.nav-account .new-items {
    width: auto;
    border: 2px solid $white;
    background: #97BC47;
    font: 16px/32px 'Lato', sans-serif;
    font-weight: 700;
    color: $white;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    padding: 0 10px;
    position: absolute;
    top: -50%;
    left: -70%;
}

.nav-account a:hover .icon-favorites,
.nav-account .active .icon-favorites {
    background-image: url(images/icons/icon_favorite_dashboard_active.png);
}

.nav-account a:hover .icon-appointments,
.nav-account .active .icon-appointments {
    background-image: url(images/icons/icon_appointment_dashboard_active.png);
}

.nav-account a:hover .icon-receipt,
.nav-account .active .icon-receipt {
    background-image: url(images/icons/icon_receipthistory_dashboard_active.png);
}

.nav-account a:hover .icon-down,
.nav-account .active .icon-down {
    background-image: url(images/icons/arrow_down_3.png);
}
.nav-account dt:nth-child(1) {
    float: left;
}

.nav-account dt:nth-child(2) {
    float: right;
}

.nav-account dt:nth-child(1) a {
    float: left;
    color: #414141;
    font-size: 12px;
    padding: 0 5px;
}

.nav-account dt:nth-child(2) a {
    float: right;
    color: #414141;
    font-size: 12px;
    padding: 0 5px;
}

.nav-account .header_icon_favourites {
    width: 40px;
    height: 30px;
    display: block;
    background-image: url(images/icons_2016/header_icon_favourites.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px auto;
    margin: 0 auto 5px;
}

.nav-account .header_icon_receipt_history {
    width: 40px;
    height: 30px;
    display: block;
    background-image: url(images/icons_2016/header_icon_receipt_history.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 26px auto;
    margin: 0 auto 5px;
}

.nav-account .header_icon_appointments {
    width: 40px;
    height: 30px;
    display: block;
    background-image: url(images/icons_2016/header_icon_appointments.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px auto;
    margin: 0 auto 5px;
}

.nav-account .header_icon_gift_cards {
    width: 40px;
    height: 30px;
    display: block;
    background-image: url(images/icons_2016/header_icon_gift_cards.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 38px auto;
    margin: 0 auto 5px;
}

.nav-account .header_icon_company_dashboard {
    width: 40px;
    height: 30px;
    display: block;
    background-image: url(images/icons_2016/header_icon_company_dashboard.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 29px auto;
    margin: 0 auto 5px;
}
.nav-account .header_icon_new_company {
    width: 40px;
    height: 32px;
    display: block;
    background-image: url(images/icons_2016/header_icon_new_company.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 34px auto;
    margin: 0 auto 5px;
}

.nav-account .header_icon_settings {
    width: 40px;
    height: 32px;
    display: block;
    background-image: url(images/icons_2016/icon_settings.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 28px auto;
    margin: 0 auto 5px;
}

.nav-account .header_icon_log_out {
    width: 40px;
    height: 32px;
    display: block;
    background-image: url(images/icons_2016/icon_out.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 27px auto;
    margin: 0 auto 5px;
}