.search-form .btnLiveChat {
    float: left;
}

.search-form fieldset {
    width: 320px;
    float: left;
    padding: 0 73px 0 28px;
    margin: 5px 0 0 25px;
    position: relative;
    height: 34px;
}

.search-form fieldset .form-control {
    background: transparent;
    border: 0 none;
    font-size: $s14;
    line-height:18px;
    font-family: $primary;
    font-weight: 500;
    color: #8c8c8c;
    box-shadow: none;
    font-style: italic;
}

.search-form fieldset .form-control:hover,
.search-form fieldset .form-control:focus {
    box-shadow: none;
}

.search-form fieldset .btn-search {
    background: #96BE3D;
    height: 34px;
    width: 73px;
    border: 0 none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: $s14;
    line-height:17px;
    font-family: $primary;
    font-weight: 500;
    color: $black;
}

.search-form .tt-menu {
    width: calc(100% + 50px);
    left: -1px !important;
    padding:0;
}
.search-form .tt-menu .tt-dataset{
    max-height: 300px;
    overflow-y: auto;
}

.search-form pre {
    max-width: 100%;
}

.search-form #scrollable-dropdown-menu .tt-menu {
    max-height: 160px;
}

@media (min-width: 768px) and (max-width: 980px) {
    .search-form .tt-menu{
        width: calc(100% + 27px);
    }
}