.section-header h1 {
    font: 32px/36px 'Lato', sans-serif;
    font-weight: 800;
    color: #555555;
}
.section-header h2 {
    font: 32px/35px 'Lato', sans-serif;
    font-weight: 700;
    color: #333232;
}
.section-header h3 {
    font: 24px/30px 'Lato', sans-serif;
    font-weight: 600;
    color: #333333;
}
.section-header h4 {
    font: 18px/22px 'Lato', sans-serif;
    font-weight: 600;
    color: #333333;
}
.section-header p {
    font: 22px/26px 'Lato', sans-serif;
    font-weight: 500;
    color: #555555;
}

@media (max-width: 767px) {
    .section-header {
        position: relative;
    }
    .section-header h2{
        line-height: 27px;
    }

    .section-header .select-custom-box{
        display: inline-block;
        position:relative;
        line-height: 0;
    }
    .section-header .select-custom-box h2{
        float: left;
        font-size: 20px;
        margin-bottom: -5px;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .section-header h2 {
        font-size: 20px;
        line-height: 22px;
    }
    .section-header h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .section-header p {
        font-size: 14px;
        line-height: 18px;
    }
    .section-header .select-custom-box h2{
        font-size: 15px;
    }
}