

.section-header {}

.section-header h1 {
    font: 32px/36px 'Lato', sans-serif;
    font-weight: 800;
    color: #555555;
}

.section-header h2 {
    font: 28px/32px 'Lato', sans-serif;
    font-weight: 800;
    color: #555555;
}

.section-header h2 .arrow_down {
    display: inline-block;
    width: 34px;
    height: 32px;
    background: url(images/icons/arrow_down.png) no-repeat;
    margin: 0 0 -5px;
}

.section-header h3 {
    font: 24px/30px 'Lato', sans-serif;
    font-weight: 600;
    color: #333333;
}

.section-header h4 {
    font: 18px/22px 'Lato', sans-serif;
    font-weight: 600;
    color: #333333;
}

.section-header p {
    font: 22px/26px 'Lato', sans-serif;
    font-weight: 500;
    color: #555555;
}
.section-header h2 {
    color: #333232;
    line-height: 35px;
}

.section-header h2 {
    font-size: 32px;
}

@media (max-width: 767px) {
    .section-header h2 .arrow_down {
        display: none;
    }
    .section-header h2{

        line-height: 27px  !important;
    }
}

@media (max-width: 480px) {
    .section-header {}
    .section-header h2 {
        font-size: 24px;
        line-height: 28px;
    }
    .section-header h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .section-header p {
        font-size: 14px;
        line-height: 18px;
    }
}