#slide_feature.rslides li {
    height: 406px;
    background: no-repeat center center;
    background-size: cover;
    margin: 0;
}

@media (max-width: 767px){
    #slide_feature.rslides li {
        height: 282px;
    }
}

@media (max-width: 374px){
    #slide_feature.rslides li.banner-massage {}
    #slide_feature.rslides li.banner-pilates {
        background-size: 150% 100%;
    }
    #slide_feature.rslides li.banner-yoga {}
    #slide_feature.rslides li{
        height: 240px;
    }
}