.link-socials {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link-socials li {
    float: left;
    width: 23%;
    margin: 11px 0 0 0;
    text-align: center;
}

.link-socials li a {
    display: inline-block;
    width: 25px;
    margin: 0 8px;
}

.link-socials li img,
.link-socials li a {
    width: auto !important;
}

.link-socials li:first-child {
    width: 15%;
    text-align: left;
}

.link-socials li:first-child a {
    margin-left: 0;
}

.link-socials li:nth-child(1) {
    width: 10% !important;
    margin-top: 7px;
}

.link-socials li:nth-child(2) {
    width: 15% !important;
    margin-top: 7px;
}

.link-socials li:nth-child(3) {
    width: 15% !important;
    margin-top: 7px;
}

.link-socials li:nth-child(4) {
    width: 60% !important;
    text-align: right;
    margin-top: 7px;
}

.link-socials li:nth-child(4) p {
    margin-top: 0px;
}

.link-socials li:nth-child(4) a {
    margin: 0;
    text-decoration: none;
}

.link-socials li:nth-child(4) a:hover {
    color: #96BE3D;
}

@media (max-width: 767px) {
    .link-socials li {
        margin: 12px 15px 0 0;
    }
}

@media (max-width: 479px) {
    .link-socials {
        margin-top: 8px;
    }
}