.manage-promos form{
    width: 664px;
}
.manage-promos .radio-custom{
    float: left;
    width: 34px;
}
.manage-promos .radio-mark ~ .radio-label::before{
    top: -5px;
}
.manage-promos .input-currency{
    float: left;
    width: calc(100% - 34px);
}

@media (max-width: 1023px){
    .manage-promos form{
        width: auto;
    }
}