.manage-promos form{
    width: 664px;
}
.manage-promos .form-timepicker{
    display: block;
}
.manage-promos .radio-custom{
    float: left;
    width: 34px;
}
.manage-promos .radio-mark ~ .radio-label::before{
    top: -5px;
}
.manage-promos .input-currency{
    float: left;
    width: calc(100% - 34px);
}
.manage-promos .kuyam-content div[class*="col-"] div[class*="col-"]{
    margin-bottom: 0;
}

@media (max-width: 1023px){
    .manage-promos form{
        width: auto;
    }
    .manage-promos .form-time ul.clearfix > li > input[type="text"],
    .manage-promos .form-time .form-select .bootstrap-select > .btn,
    .manage-promos .form-time .form-select .bootstrap-select > .btn:focus,
    .manage-promos .form-time .form-select .bootstrap-select > .btn:active,
    .manage-promos .form-time .form-select .bootstrap-select > .btn-default.disabled,
    .manage-promos .form-time .form-select .bootstrap-select > .btn-default.disabled:focus,
    .manage-promos .form-time .form-select .bootstrap-select > .btn-default.disabled:active,
    .manage-promos .form-time .form-select .bootstrap-select.open > .dropdown-toggle.btn-default,
    .manage-promos .form-time .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
    .manage-promos .form-time .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:focus{
        height: 38px;
    }
}

@media (max-width: 374px){
    .manage-promos .form-time ul.clearfix{
        height: 33px;
    }
    .manage-promos .form-time ul.clearfix > li > input[type="text"],
    .manage-promos .form-time .form-select .bootstrap-select > .btn,
    .manage-promos .form-time .form-select .bootstrap-select > .btn:focus,
    .manage-promos .form-time .form-select .bootstrap-select > .btn:active,
    .manage-promos .form-time .form-select .bootstrap-select > .btn-default.disabled,
    .manage-promos .form-time .form-select .bootstrap-select > .btn-default.disabled:focus,
    .manage-promos .form-time .form-select .bootstrap-select > .btn-default.disabled:active,
    .manage-promos .form-time .form-select .bootstrap-select.open > .dropdown-toggle.btn-default,
    .manage-promos .form-time .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
    .manage-promos .form-time .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:focus{
        height: 32px;
    }
}