.manage-promos .no-data{
    text-align:center;
    width: 388px;
    margin-left: 59px;
}
.manage-promos .no-data p{
    margin-bottom:97px;
    font-size: 1em;
    line-height: 24px;
    color: #9b9b9b;
}
.manage-promos .no-data img{
    margin:96px auto 24px;
}
.manage-promos .no-data .btn{
    width:388px;
}