.choosen-tooltip{
    border-width: 1px;
    border-color: rgba(0, 0, 0, .18);
    box-shadow: none;
    width: 138px;
	border-top:0 none;
}
.choosen-tooltip .tooltipster-content {
	padding-left:0;
	padding-right:0;
}
.choosen-tooltip .wrap-dropdown-menu-inner{
	margin-right:14px;
}
.choosen-tooltip ul{
    margin:0;
    padding:0;
    list-style: none;
    font-size: $p;
    line-height: 18px;
    color: #3d3d3d;
    text-align: left;
}
.choosen-tooltip ul li{
    padding:5px 6px 5px 10px;
}
.choosen-tooltip .tooltipster-arrow{
	display:none;
}
/*.choosen-tooltip .tooltipster-arrow-bottom span,
.choosen-tooltip .tooltipster-arrow-bottom-right span,
.choosen-tooltip .tooltipster-arrow-bottom-left span{
    border-bottom-width: 12px;
    border-left-width: 15px !important;
    border-right-width: 15px !important;
    top:-12px;
}
.choosen-tooltip .tooltipster-arrow-bottom .tooltipster-arrow-border,
.choosen-tooltip .tooltipster-arrow-bottom-right .tooltipster-arrow-border,
.choosen-tooltip .tooltipster-arrow-bottom-left .tooltipster-arrow-border{
    top:-12px;
}*/
.choosen-tooltip .choosen-list{
    max-height: 140px;
    overflow-y: auto;
}
.on-nicescroll .choosen-tooltip .choosen-list{
    overflow: hidden;
}
.on-nicescroll .choosen-tooltip .wrap-dropdown-menu-inner{
    max-height: 140px;
}