.event-new{height:212px;position:relative;margin:30px 0 0;background:center center no-repeat;background-size:cover;text-align:center;color:#fff;}
.event-new .event-content{padding:25px;position:absolute;top:0;right:0;bottom:0;left:0;}

.event-list{}
.event-list .section-header{padding:25px 0 0;}

.event-block{height:174px;border:2px solid #c9c9c9;margin-top:20px;position:relative;}
.event-block:hover{border:2px solid #999;}
.event-block .avatar{float:left;width:170px;height:170px;margin:0 10px 0 0;overflow:hidden;}
.event-block .offer{float:right;width:105px;height:104px;margin:10px;overflow:hidden;}
.event-block .iName{margin-bottom:8px;font:18px/22px ralewaymedium, sans-serif;overflow:hidden;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.event-block .iName a{color:#333;text-decoration:none;}
.event-block .iAddress{color:#96BE3D;font:16px/20px ralewaymedium, sans-serif;margin-bottom:8px;overflow:hidden;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.event-block .shortDes{display:block;color:#777;text-align:justify;font:16px/20px ralewaymedium, sans-serif;padding:0 10px;margin-bottom:7px;}
.event-block .titles{padding:10px 10px 0;}
.group_link a{width:104px;display:inline-block;text-align:center;text-decoration:none;background:#8c8c8c;color:#fff;font:18px/40px arial, sans-serif;margin-right:3px;}
.group_link a.btn-availability{float:none;width:auto;padding-left:10px;padding-right:10px;}
.group_link a.btn-more-info{background:#96be3d;float:none;width:auto;padding-left:10px;padding-right:10px;margin-left:30px;}
.group_link a.bg-black{background:#333;}
.group_link .shortDes{display:none;color:#777;text-align:justify;font:400 14px/18px ralewayregular, sans-serif;}
.group_link .availability-time{color:#777;text-align:justify;font:400 14px/18px ralewayregular, sans-serif;}
.event-block .votes{margin-bottom:5px;min-height:24px;overflow:hidden;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.book-detials-banner{height:200px;background:center center no-repeat;background-size:cover;position:relative;}
.book-detials-banner .link-favorite{position:absolute;left:15px;bottom:15px;}
.book-detials-banner .sale{position:absolute;top:-8px;left:-8px;}
.book-detials-banner .company-info{text-align:right;position:absolute;right:15px;bottom:15px;left:50px;}
.company-info h1{font:24px/32px ralewayextrabold, sans-serif;color:#fff;}
.company-info address{font:20px/24px ralewaymedium, sans-serif;color:#88B048;margin:0;}
.company-info ul{font:16px/20px ralewaymedium, sans-serif;color:#fff;padding:0;margin:0;}
.company-info ul li{float:right;list-style-type:disc;margin:0 10px 0 20px;}
.company-info ul li:last-child{list-style-type:none;margin:0 10px 0 0;}
.company-info ul li a{color:#fff;text-decoration:none;}
.company-info ul li a:hover{color:#96be3d;}

.exclusive-section{}
.exclusive-section .section-header{margin:0 0 15px;}
.exclusive-section .section-header h2{margin:0 0 10px;}
.exclusive-section .section-header h2 span{font:20px/24px ralewaybold, sans-serif;}
.exclusive-section .section-header h3{font:20px/24px ralewaymedium, sans-serif;}

.dropdown-category{}
.dropdown-category .dropdown > a{display:block;padding:0 40px 0 10px;height:43px;border:1px solid #333;font:20px/42px ralewaymedium, sans-serif;color:#333;text-decoration:none;position:relative;}
.dropdown-category .dropdown > a .dropdown-icon{display:inline-block;width:40px;height:44px;background:url(images/assets/icon_dropdown.png) center center no-repeat;position:absolute;right:0;}
.dropdown-category .dropdown-menu{width:100%;font-size:20px;}

.event-branch{position:absolute;}
.event-branch a,
.event-branch a:hover{text-decoration:none;}

.branch-img{display:block;position:relative;background:no-repeat;background-size:contain;}
.branch-text{display:block;position:relative;color:#fff;padding:8px 0 0;}

.event-coming-soon{}
.event-coming-soon .event-branch{width:206px;top:10px;}
.event-coming-soon .branch-img{width:206px;height:61px;background-image:url(images/assets/Image_Banner.png);}
.event-coming-soon .branch-text{font:20px/24px bebas_neueregular, sans-serif;margin-top:-63px;}

.event-coming-soon .branch-early-open{right:-42px;}
.event-coming-soon .branch-early-open .branch-img{background-position:right center;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}

.event-coming-soon .branch-ticket{left:-42px;}
.event-coming-soon .branch-ticket .branch-img{background-position:right center;}

.event-coming-soon .branch-rsvp{left:-42px;}
.event-coming-soon .branch-rsvp .branch-img{background-position:right center;background-image:url(images/assets/Banner_RSVP.png);}

.event-openning{}
.event-openning .event-branch{width:202px;top:8px;left:-46px;}
.event-openning .branch-img{width:202px;height:49px;background-image:url(images/assets/image_buytickets.png);background-position:right center;}

.event-openning .branch-rsvp{top:1px;}
.event-openning .branch-rsvp .branch-img{width:206px;height:61px;background-image:url(images/assets/Banner_RSVP.png);}

.company-profile-section{}
.company-profile-section .section-header{position:relative;}
.company-profile-section .back-section{float:none;position:absolute;bottom:20px;right:0;margin:0;}
.company-profile-section .social-icons{position:absolute;right:0;bottom:25px;margin:0;}
.company-profile-section .social-icons dt{padding:0;margin:0 0 15px;font:28px/32px ralewaymedium, sans-serif;}
.company-profile-avatar{width:246px;height:246px;background:#333 center center no-repeat;background-size:cover;border:4px solid #fff;position:absolute;bottom:20px;}

.company-profile-section .section-header .back-section a{font-size:20px;font-family:ralewaybold, sans-serif;}

.single-company-profile-page .book-tab{margin:23px 0 0;}
.single-company-profile-page .section-header-pink h2{font-family:ralewayextrabold, sans-serif;}
.single-company-profile-page .happen-date{height:auto;min-height:40px;margin-top:23px;}
.single-company-profile-page .social-icons{margin-top:0;}

.request-cols{}
.request-col{float:left;width:33.33%;}
.request-col:first-child{margin-right:35px;}

.checkbox-add-gallery{font:14px/18px ralewaymedium, sans-serif;color:#f3472d;}

.step-by-step{}
.step-by-step .section-header{padding:30px 0 50px 120px;position:relative;border-bottom:2px dashed #bababa;}
.step-by-step .section-header .step-order{position:absolute;top:0;left:0;width:100px;height:100px;padding:24px 0;border:2px solid #333;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;font:20px/24px ralewaybold, sans-serif;text-align:center;}
.step-by-step.step-active .section-header .step-check{position:absolute;display:block;width:27px;height:19px;background:url(images/assets/icon_check.png) center center no-repeat;top:-10px;left:38px;}
.step-by-step .section-header h3{font-size:28px;margin:0 0 5px;}
.step-by-step .section-header h3 .alert-error{font-size:30px;line-heigth:34px;}
.step-by-step .section-header p{font:20px/24px ralewaymedium, sans-serif;margin-bottom:15px;}
.step-by-step .section-header .btn-add{width:200px;border:0 none;font:20px/44px ralewaymedium, sans-serif;}
.step-by-step .section-header .btn-link{font:20px/44px ralewaymedium, sans-serif;color:#f3472d;}
.step-by-step .section-header .btn-confirm{width:200px;border:0 none;font:20px/44px ralewaymedium, sans-serif;}
.step-by-step .section-header .btn-confirm .icon-confirm{display:inline-block;width:32px;height:32px;background:url(images/assets/icon_circle_check.png) center center no-repeat;margin-bottom:-8px;}
.step-by-step .section-header .btn-disable{background:#ccc;}

.step-by-step.step-confirm .section-header{padding-left:0;border:0 none;}
.step-by-step.step-confirm .section-header a{color:#f3472d;}

.email-section{margin-left:-120px;}
.email-section .table-css{width:100%;}
.email-section .table-cell{padding:5px;font:16px/20px ralewaymedium, sans-serif;}
.email-section .table-header .table-cell{font:20px/24px ralewaysemibold, sans-serif;}
.email-section .col-first-name{width:25%;}
.email-section .col-last-name{width:25%;}
.email-section .email-list{min-height:100px;max-height:300px;overflow-y:auto;}
.email-section .email-total{padding:10px 0;}

.email-section .form-control{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.email-section .email-footer{padding-left:120px;}
.email-section .email-footer .alert-error{display:block;font-size:16px;margin-top:10px;}

.city-filter h2{line-height:44px;}
.city-filter .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:100%;}

.group-rsvp{position:relative;line-height:38px;padding:0 114px 0 0;}
.group-rsvp p{font:14px/18px ralewaymedium, sans-serif;}
.group-rsvp p strong{font:14px/18px ralewaybold, sans-serif;}
.group-rsvp a{position:absolute;top:-1px;right:3px;}

.datepicker.dropdown-menu{z-index:99999 !important;}

.form-time-out > div{margin-bottom:20px;text-align:left;}
.form-time-out .form-control{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.form-time-out label{display:block;font:16px/20px ralewaymedium, sans-serif;}
.form-time-out .btn-timer{border:0 none;height:44px;width:145px;}

.spot-block{color:#333;}

.spot-block .spot-date{display:block;width:50px;height:50px;position:absolute;top:13px;left:13px;background:rgba(255, 255, 255, 0.8);font:18px/22px ralewaybold, sans-serif;text-align:center;color:#333;}
.spot-calendar .month{display:block;}
.spot-calendar .day{display:block;}

.spot-block .event-new{height:228px;}
.spot-block .event-content h2{padding:0 50px;margin-bottom:20px;}

.spot-block .progress{position:absolute;right:13px;bottom:13px;left:13px;}

.spot-block .goal-reached{position:absolute;right:13px;bottom:13px;left:13px;height:30px;font:16px/30px ralewayextrabold, sans-serif;color:#fff;}

.spot-block .spot-info{padding:13px;background:#F2F6F9;}
.spot-info .spot-footer{padding-top:5px;}

.spot-footer .link-rsvp{float:left;width:168px;text-align:center;font:26px/54px ralewayextrabold, sans-serif;color:#fff;text-decoration:none;}
.spot-footer .total-guest{float:left;width:105px;margin:0 20px;font:24px/36px ralewayextrabold, sans-serif;}
.spot-footer .total-guest .icon-guest{float:left;display:block;width:17px;height:36px;background:url(images/assets/guest_icon.png) no-repeat;background-size:17px auto;margin-right:10px;}
.spot-footer .total-guest .total-text{display:block;font:14px/18px ralewaymedium, sans-serif;}
.spot-footer .spot-company{float:left;width:290px;font:24px/36px ralewayextrabold, sans-serif;}
.spot-footer .spot-company .total-text{display:block;font:14px/18px ralewaymedium, sans-serif;}

.statistics-seciton{padding:23px 0 10px;text-align:center;}  
.statistics-seciton time{font:20px/36px ralewayextrabold, sans-serif;}
.statistics-seciton time span{display:block;font:20px/24px ralewaymedium, sans-serif;}

.statistics-guest{padding:10px 0;font:24px/36px ralewayextrabold, sans-serif;border-bottom:1px dashed #333;}
.statistics-guest .icon-guest{display:inline-block;width:17px;height:36px;background:url(images/assets/guest_icon.png) no-repeat;background-size:17px auto;margin:0 10px -10px 0;}
.statistics-guest .statistics-text{display:block;font:14px/18px ralewaymedium, sans-serif;}

.statistics-spot{padding:10px 0;font:24px/36px ralewayextrabold, sans-serif;}
.statistics-spot .statistics-text{display:block;font:14px/18px ralewaymedium, sans-serif;}

.event-block .progress{border:2px solid #F3472D;height:24px;margin:-3px 6px 6px 0;}
.event-block .progress-bar{line-height:22px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}

.nav-main{margin:9px -15px 0;}
.nav-main li{padding:0 10px;}
.nav-main li img{margin-top:-20px;width:auto;}
.nav-main > li > a{background:transparent;color:#fff;display:inline-block;font-size:14px;line-height:18px;position:relative;padding:0 2px;margin:0;}
.nav-main > li > a:focus,
.nav-main > li > a:visited{background:transparent;}
.nav-main > li > a:hover{background:transparent;color:#f3472d;display:inline-block;font-size:14px;line-height:18px;position:relative;padding:0 2px;margin:0;}
.nav-main > li > a.link-account,
.nav-main > li > a.link-account:hover,
.nav-main > li > a.link-account:focus, 
.nav-main > li > a.link-account:visited{background:transparent;color:#fff;display:inline-block;font-size:14px;line-height:18px;position:relative;padding:0 34px;margin:0;}

.book-page .happen-date{height:auto;min-height:40px;margin-top:23px;}
.book-page .social-icons{margin-top:0;}
.book-page .social-icons dt{font-size:20px;line-height:24px;}
.book-page .site-calendar{margin-top:30px;margin-bottom:30px;}
.book-page .slide-calendar .rslides_nav{height:20px;}
.book-page .slide-calendar .rslides_nav.next{background-image:url(images/assets/icon_arrow_nextweek.png);}
.book-page .slide-calendar .rslides_nav.next.disabled{background-image:url(images/assets/icon_arrow_nextweek_disabled.png);}
.book-page .slide-calendar .rslides_nav.prev{background-image:url(images/assets/icon_arrow_preweek.png);}
.book-page .slide-calendar .rslides_nav.prev.disabled{background-image:url(images/assets/icon_arrow_preweek_disabled.png);}

.panel-info{width:390px;margin:0 auto;padding-bottom:45px;}
.panel-info .btn{font:20px/44px ralewaybold, sans-serif;margin-bottom:15px;}
.panel-info p{font:16px/20px ralewaymedium, sans-serif;text-align:center;}
.panel-info p a{color:#f3472d;}
.price-info{width:100%;font:24px/28px ralewaybold, sans-serif;margin-bottom:20px;}
.price-info .table-cell{padding:5px;}
.price-info .table-cell:last-child{text-align:right;}
.regular-price-row{color:#A0A0A0;}
.new-price-row{color:#f3472d;}
.savings-row{color:#B43320;}
.panel-description{font:16px/20px ralewaymedium, sans-serif;}
.panel-description h3{font:24px/30px ralewaymedium, sans-serif;margin-bottom:10px;}
.booked-page .slide-calendar .rslides_nav{height:20px;}
.booked-page .slide-calendar .rslides_nav.next{background-image:url(images/assets/icon_arrow_nextweek.png);}
.booked-page .slide-calendar .rslides_nav.next.disabled{background-image:url(images/assets/icon_arrow_nextweek_disabled.png);}
.booked-page .slide-calendar .rslides_nav.prev{background-image:url(images/assets/icon_arrow_preweek.png);}
.booked-page .slide-calendar .rslides_nav.prev.disabled{background-image:url(images/assets/icon_arrow_preweek_disabled.png);}
.booked-page .skip-section{margin-top:30px;padding:30px 0 15px;border-top:2px dashed #ddd;text-align:center;}

.booked-page .skip-section a{color:#f3472d;font-size:18px;line-height:22px;text-decoration:none;}
.booked-page .skip-section .icon-next{display:inline-block;width:11px;height:17px;background:url(images/assets/icon_arrow_right_red.png) no-repeat center center;background-size:contain;position:relative;bottom:-3px;}

.service-info{margin-bottom:30px;color:#333;}
.service-info h5{font:22px/26px ralewaybold, sans-serif;}
.service-info time{display:inline-block;margin-left:20px;}

.booking-details{text-align:center;padding:0 0 20px;font:20px/24px ralewaysemibold, sans-serif;}
.booking-details h3{font:24px/28px ralewaybold, sans-serif;}

.form-ticket .form-control{display:inline-block;margin-left:10px;}

.multi-section .section-header h4{font:21px/25px ralewaybold,sans-serif;}
.multi-section .section-header h2{font:32px/36px ralewaybold,sans-serif;}
.multi-section .event-list h4{color:#333;}

@media (max-width:991px){
	.div-zip{margin-top:20px;}
}
@media (max-width:979px){
	.event-block{height:163px;}
	.event-block .avatar{width:117px;height:117px;}
	.event-block .offer{width:115px;height:115px;margin:2px 10px;}
	
	.group_link{clear:both;}
	.group_link a{width:110px;font:14px/30px arial, sans-serif;margin:0 0 5px;}
		
	.event-coming-soon .event-branch{width:160px;top:5px;}
	.event-coming-soon .branch-img{width:160px;height:47px;}
	.event-coming-soon .branch-text{font:14px/18px bebas_neueregular, sans-serif;margin-top:-52px;}
	
	.event-coming-soon .branch-early-open{right:-35px;}
	
	.event-coming-soon .branch-ticket{left:-35px;}
	
	.event-openning .event-branch{width:66px;}
	.event-openning .branch-ticket{height:66px;top:0;left:-10px;}
	.event-openning .branch-img{width:66px;height:66px;background-image:url(images/assets/mobile/image_gettickets.png);}
	
	.event-openning .branch-rsvp{height:66px;top:0;left:-10px;}
	.event-openning .branch-rsvp .branch-img{width:66px;height:66px;background-image:url(images/assets/mobile/Banner_RSVP.png);}
	
	.event-coming-soon .branch-rsvp{top:0;left:-10px;}
	.event-coming-soon .branch-rsvp .branch-img{width:66px;height:66px;background-image:url(images/assets/mobile/Banner_RSVP.png);position:absolute;left:35%;top:-7px;}
	
	.event-block .avatar{width:100px;height:100px;overflow:hidden;}
	.event-block .group_link{padding:0 0 10px 5px;}
	.site-header .company-info{width:550px;}
	.site-header .company-info h1{font-size:32px;}
	.site-header .company-info ul,
	.site-header .company-info address{font-size:14px;}
		
	.dropdown-category{margin-bottom:10px;} 
    .city-filter{margin-bottom:10px;}
	
	.group-rsvp{width:455px;line-height:28px;padding-right:120px;}
	.group-rsvp a{top:-1px;right:0;}
	
	.spot-block .event-new{height:185px;}
	.spot-block .event-content h2{margin-bottom:10px;}
	.spot-block .event-btn .btn-happen{line-height:54px;}
	
	.group-rsvp p,
	.group-rsvp p strong{line-height:14px;}	
}
@media (min-width:768px){	
	.menu-list{margin-top:-62px;}
}
@media (max-width:767px){		
	body{font:14px/18px ralewaymedium, sans-serif;}
	
	.event-new{height:142px;margin:20px -15px 0;overflow:hidden;}
	.event-new .event-content{padding:20px 0;}
	.event-content h2{font:20px/24px ralewaybold, sans-serif;margin:0 0 6px;}
	.event-content p{font:18px/22px ralewaymedium, sans-serif;margin:0 0 10px;}
	.event-btn .btn-happen{font-size:15px;line-height:42px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;padding:0 17px;}
		
	.group_link a{float:left;width:23.9%;margin:0 0.5%;}
		
	.event-branch{display:inline-block;position:relative;}
	.branch-img{position:relative;z-index:1;}
	.branch-text{position:absolute;z-index:2;}
	
	.event-coming-soon .event-branch{top:5px;}
	.event-coming-soon .branch-img{}	
	.event-coming-soon .branch-text{width:100%;}
	
	.event-coming-soon .branch-early-open{right:inherit;left:-10px;}
	.event-coming-soon .branch-early-open .branch-text{left:0;}
	
	.event-coming-soon .branch-ticket{left:inherit;right:-10px;}
	.event-coming-soon .branch-ticket .branch-text{right:0;}
	
	.event-coming-soon .branch-rsvp .branch-img{top:-62px;left:65%;}
	
	.event-openning .event-branch{}
	.event-openning .branch-ticket{top:-15px;}
	.event-openning .event-btn .btn-happen{position:relative;top:-39px;}
	
	.event-openning .branch-rsvp{top:-15px;}
	
	.request-col{width:100%;}
	
	.single-company-profile-page .book-tab .section-header{padding:0 15px;}
	.single-company-profile-page .section-header-pink h2{font-size:28px;line-height:32px;color:#f3472d !important;}
	.coming-section .section-header h4{font-size:24px;line-height:28px;}
	.single-company-profile-page .affix-content{margin-bottom:0;}
	
	.email-section .email-footer{padding:0;text-align:center;}
			
	.city-filter{margin:0;}
	.city-filter h2{margin:10px 0;}
    .city-filter .bootstrap-select.btn-group .btn .filter-option{font-family:ralewaymedium, sans-serif;}
	
	.group-rsvp{width:99.3%;padding-right:24.9%;}
	.group-rsvp a{right:-3px;}
	
	.spot-block .event-new{height:155px;}	
	.spot-block .event-btn .btn-happen{line-height:42px;}
	.spot-block .spot-date{width:35px;height:35px;font-size:12px;line-height:16px;}
	.spot-block .event-content h2{padding:0 60px;}
	.spot-block .spot-info{margin-left:-15px;margin-right:-15px;}
	
	.statistics-seciton{border-bottom:2px dotted #333;margin:0 -15px 15px;padding:0;}
	.statistics-guest{float:left;width:50%;border:0 none;font-size:32px;line-height:44px;padding:0;}
	.statistics-guest .statistics-text{font-size:20px;line-height:24px;}	
	.statistics-spot{float:left;width:50%;font-size:32px;line-height:44px;padding:0;}
	.statistics-spot .statistics-text{font-size:20px;line-height:24px;}
	
	.nav-main{float:right;margin:25px 0 5px;}
	.nav-main li{float:left;}
	.nav-account{top:100px;}
		
	/* Booked */
	.service-steps .table-steps .col-img{width:85px;}
	.service-steps h2{font-size:20px;line-height:24px;}
	
	.service-info{padding:10px;border:1px solid #999;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
	
	.single-company-profile-page .book-tab .site-calendar{margin-right:0;margin-left:0;}
	.single-company-profile-page .book-tab .service-info{margin-left:15px;margin-right:15px;}
		
	.multi-section .section-header h4{font-size:16px;line-height:20p;}
	.multi-section .section-header h2{font-size:20px;line-height:24px;}
	
}
@media (max-width:640px){
	.group_link a{width:23.8%;}
	.group-rsvp{width:98%;padding-right:24.8%;margin-left:0.5%;}
}
@media (max-width:568px){
	.event-coming-soon .event-branch{width:auto;height:36px;top:4px;}
	.event-coming-soon .event-branch a{position:absolute;}
	.event-coming-soon .branch-img{width:120px;height:36px;}	
	.event-coming-soon .branch-text{width:auto;font-size:12px;line-height:16px;margin-top:-42px;}
	
	.event-coming-soon .branch-early-open{left:-11px;}
	.event-coming-soon .branch-early-open a{left:0;}
	.event-coming-soon .branch-early-open .branch-text{left:0;text-align:left;padding-left:20px;}
	
	.event-coming-soon .branch-ticket{right:-11px;}
	.event-coming-soon .branch-ticket a{right:0;}
	.event-coming-soon .branch-ticket .branch-text{right:0;text-right:left;padding-right:20px;}
	
	.event-coming-soon .branch-rsvp .branch-img{top:-20px;left:-60px;}		
}
@media (max-width:515px){
	.event-block{height:152px;}
	.event-block .avatar{width:102px;height:102px;margin:0 5px 0 0;}
	.event-block .offer{width:101px;height:101px;margin:2px 5px;}
	.event-block .titles{padding:5px 5px 0;}
	.event-block .iName{margin-bottom:5px;}
	.event-block .iAddress{margin-bottom:5px;}
	.event-block .votes{padding:5px 0;}
	.event-block .shortDes{padding:0 5px;}
	.group_link a{font:12px/30px arial, sans-serif;}
}
@media (max-width:480px){
	.event-block{height:149px;}
	.event-block .avatar{width:107px;height:107px;}
	.event-block .offer{width:106px;height:106px;}
	.event-block .titles{padding:2px 5px 0;}
	.event-block .iName{margin-bottom:0;font:14px/18px ralewaymedium, sans-serif;}
	.event-block .iAddress{font:12px/16px ralewaymedium, sans-serif;margin-bottom:0;}
	.votes .total-review{font:10px/14px ralewayregular, sans-serif;}
	.event-block .shortDes{font:12px/16px ralewaymedium, sans-serif;}
	.event-block .shortDes-rsvp{font:11px/15px ralewaymedium, sans-serif;}
	.event-block .votes{min-height:inherit;padding:0;margin-bottom:0;}
	
	.event-block .progress{height:18px;margin-top:0;}
	.event-block .progress-bar{line-height:16px;font-size:14px;}
	
	.group-rsvp p,
	.group-rsvp p strong{font-size:12px;}	
}

@media (max-width:372px){
	.event-block{height:116px;}
	.event-block .avatar{width:67px;height:67px;}
	.event-block .offer{width:66px;height:66px;}
	
	.available-section .social-icons{width:100%;text-align:center;}
	.available-section .social-icons dt{float:none;text-align:left;}
	.available-section .item .controls .btn-control{width:100%;}
}
@media (max-width:330px){
	.event-openning .branch-ticket{left:0;}	
	.event-openning .branch-rsvp{left:0;}
}