.carousel-gallery div.carousel-section{margin-bottom:20px;margin-top:15px;}
.carousel-gallery div.carousel-actions{margin:10px 6px 0 0;color:#666;font-weight:bold;}

.carousel-gallery ul.carousel-apps li a{color:#fff;font:bold 12px verdana, sans-serif;}
.carousel-gallery ul.carousel-apps li p{color:#fff;margin-bottom:5px;font:11px/16px verdana, sans-serif;text-align:left;line-height:14px;}
.carousel-gallery ul.carousel-apps li div{text-align:left;margin-bottom:5px;}
.carousel-gallery ul.carousel-apps li div.app-item-wrapper{padding:10px;}

.carousel-gallery ul.carousel-apps li{width:100px;height:66px;border:2px solid #ddd;overflow:hidden;color:#ddd;display:inline;float:left;text-align:center;margin-left:10px;}
.carousel-gallery ul.carousel-apps li.active{border:2px solid #f3472d;}
.carousel-gallery ul.carousel-apps li img{margin-right:0;display:inline;max-height:66px !important;max-width:90px !important;}
.carousel-gallery ul.carousel-apps li .center-thumb{height:62px;display:table-cell !important;text-align:center !important;vertical-align:middle;}


.carousel-gallery div.carousel{clear:both;position:relative;background:#fff;border:1px solid #999;width:100% !important;    height:80px;}
.carousel-gallery div.carousel ul li div.image{float:left;text-align:center;}
.carousel-gallery div.carousel ul li div.info   {float:left;width:180px;}
.carousel-gallery ul.carousel-apps{padding-top:2px;padding-left:0px;margin:0px;}

.carousel-gallery div.data{margin-top:30px;}
.carousel-gallery div.data p a{padding-top:10px;}
.carousel-gallery div.data fieldset{margin:5px 0;padding:5px 0;}
.carousel-gallery div.data fieldset legend{margin-left:0px;font-weight:bold;}
.carousel-gallery div.data p label{width:100px;text-align:left;display:inline;color:#ddd;}
.carousel-gallery div.data p span{}

.carousel-gallery div.carousel div.arrow{background:url(carousel_arrows.png) no-repeat 50% 0;position:absolute;top:65px;width:20px;height:28px;cursor:pointer;}
.carousel-gallery div.carousel div.arrow.left{left:10px;background-position:0 0;}
.carousel-gallery div.carousel div.arrow.right{right:10px;background-position:-20px 0;}

.carousel-gallery .carousel-nav{padding:5px 23px;position:relative;width:100%;height:80px;}
.carousel-gallery .carousel-nav .carousel-thumbs{height:80px;margin:0 auto;overflow:hidden;position:relative;width:100%;}

.carousel-gallery .carousel_btnprev{background:url("../images/assets/icon-prev-gallery.png") no-repeat center center;border-right:1px solid #999;cursor:pointer;display:block;height:80px;top:-1px;left:0;width:23px;position:absolute;z-index:1;}
.carousel-gallery .carousel_btnnext{background:url("../images/assets/icon-next-gallery.png") no-repeat center center;border-left:1px solid #999;cursor:pointer;display:block;height:80px;top:-1px; position:absolute;right:0;width:23px;z-index:1;}


#carousel_viewimage{text-align:center;overflow:hidden;background:url(../images/assets/gallery_default.png) no-repeat center center #000;}
#carousel_viewimage.active{background-color:#fff;background-size:contain;}
#carousel_viewimage img{display:none;}
#carousel_viewimage1{margin-bottom:10px;}
#carousel_viewimage1 img{max-width:420px;max-height:300px;}
#carousel_viewimage1 .caption{position:absolute;right:15px;top:100px;width:140px;color:#000;text-align:left;}
.imgtitle{display:block;font-weight:bold;}
.carousel-nav .carousel-thumbs li a.ad-active img{border:3px solid #C1D82F;}
/******************************* END CAROUSEL **************************************/

._5yk1 {background: #fff;border: 1px solid #bdc7d8;box-sizing: border-box;cursor: text;font-size: 16px;line-height:20px;padding:10px;}
._5yk1 ._5ywc {color: #bdc1c9;}
._5yw9, ._5ywa, ._54-z {height: inherit;text-align: initial;}
._5yw9{position: relative;}
._5ywb{color: #9197a3;position: absolute;z-index: 0;}
._5ywa{background-color: rgba(255, 255, 255, 0);border-left: 0.1px solid transparent;position: relative;z-index: 1;}
._54-z{outline: medium none;white-space: pre-wrap;}
