.comming-event-list{}

.comming-event-item{font:14px/18px ralewaymedium, sans-serif;margin:0 0 10px;color:#fff;}
.comming-event-item a{font-family:ralewaybold, sans-serif;color:#fff;}
.comming-event-item time{color:#F3472D;}

.bulletin-list{}
.bulletin-guide{text-align:center;font:14px/18px ralewaymedium, sans-serif;color:#fff;}
.bulletin-guide .btn-create{border:0 none;font:20px/44px ralewaymedium, sans-serif;margin:15px 0;}
.bulletin-block{margin:0 0 10px;}
.bulletin-header{background:#F3472D;}
.bulletin-header a{text-decoration:none;}
.bulletin-header .bulletin-title{margin:0 10px;padding:7px 0;min-height:35px;font:16px/20px ralewaybold, sans-serif;color:#fff;}
.bulletin-header .bulletin-icon{float:right;display:block;width:24px;height:24px;margin-left:5px;background:url(../images/assets/icon_bulletin_post.png) center center no-repeat;background-size: 24px auto;}
.bulletin-content{background:#fff;padding:10px;font-size:14px;line-height:18px;}
.bulletin-footer{background:#fff;padding:10px;}
.bulletin-footer .btn-edit{float:right;width:50%;border:0 none;font:20px/44px ralewaymedium, sans-serif;}
.bulletin-footer time{float:left;width:50%;font:14px/22px ralewaymedium, sans-serif;}

.bulletin_gallery{}
.bulletin_gallery .bulletin-content{padding:0;}
.bulletin_gallery .bulletin-content .gallery-img{display:block;height:172px;background:center center no-repeat;background-size:cover;position:relative;}
.bulletin-caption{display:block;background:rgba(0, 0, 0, 0.5);position:absolute;right:0;bottom:0;left:0;padding:10px;font:20px/30px ralewaybold, sans-serif;color:#fff;text-align:right;}
.bulletin-caption span{padding:0 34px 0 0;background:url(../images/assets/icon_arrow_right_white.png) center right no-repeat;background-size:contain;}
