.modal-intro{
	position: absolute;
	top:0;
	width:100%;
	font-family: Lato,sans-serif;
	font-size: 2.0625em;
	font-weight: 300;
	height: 58px;
	text-align: center;
	background: #fff;
}
.modal-intro img{
	width: auto;
}

.modal-boarding{
	margin-top: 114px !important;
}
.modal-boarding .btn,
.modal-boarding .btn:hover,
.modal-boarding .btn:focus,
.modal-boarding .btn:visited,
.modal-boarding .btn:active{
	border-radius: 3px !important;
}

.modal-boarding .btn-form,
.modal-boarding .btn-form:focus {	
    font-size: 1em;
    background: #fff;
    font-family: Lato, sans-serif;
	font-weight: 400;
    width: 100%;
    height: 40px;
    border: 1px solid #242424;
    color: #242424;
}
.modal-boarding .btn-form:hover{
    color: #242424;
    background: #fff;
	border-width:2px;
	font-weight:700;
	box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.11) !important;
}

.modal-boarding .btn-agree,
.modal-boarding .btn-agree:focus {	
    border: 1px solid #3891ff;
    background: #fff;
    color: #3891ff;
}
.modal-boarding .btn-agree:hover{	
    color: #3891ff;
    background: #fff;
	font-weight:700;
	border-width:2px;
	box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.11) !important;
}

.modal-boarding .btn-neutral,
.modal-boarding .btn-neutral:focus {
	border: 1px solid #878787;
    background: #fff;
	color:#878787;
}
.modal-boarding .btn-neutral:hover{
	color:#878787;
    background: #fff;
	font-weight:700;
	border-width:2px;
	box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.11) !important;
}

.modal-boarding .btn-disagree,
.modal-boarding .btn-disagree:focus {
    border: 1px solid #ff5050;
    background: #fff;
    background: #fff;
    color: #ff5050;
}
.modal-boarding .btn-disagree:hover{
	background:#ff5050;
    color: #fff;
	font-weight:700;
	box-shadow: 0 6px 4px 0 rgba(255, 80, 80, 0.11) !important;
}

.modal-boarding .btn[disabled],
.modal-boarding .btn[disabled]:hover,
.modal-boarding .btn[disabled]:focus{
	background:#dadada;
    color: #fff;
	font-weight:700;
}

.modal-boarding .form-placeholder {
    position: relative;
}
.modal-boarding .form-placeholder .form-control {
    background: transparent none repeat scroll 0 0;
    position: relative;
    z-index: 2;
	border-radius: 0 !important;
}
.modal-boarding .form-placeholder .form-control:focus {
    background: #fff none repeat scroll 0 0;
}
.modal-boarding .form-placeholder label {
    font-family: Lato,sans-serif;
    font-weight: 300;
    left: 0;
    line-height: 40px;
    padding: 0 12px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Begin .modal-boarding-info */
.modal-boarding-info{
	width: 544px;
}
.modal-boarding-info .modal-title{
	font-size: 1.75em;
	font-weight: 300;
}
.modal-boarding-info .form-label{
	font-size: 1.0625em
}
.modal-boarding-info .form-placeholder{

}
.modal-boarding-info .form-placeholder label{
	font-size: 0.9375em;
}
/* End .modal-boarding-info */

/* Begin .modal-boarding-info */
.modal-boarding-time{
	width: 604px;
}
/* Begin .modal-boarding-time */


/* Begin .modal-boarding-profile */
.modal-boarding-time{
	width: 544px;
}
/* Begin .modal-boarding-time */

/* Begin .modal-boarding-complete */
.modal-boarding-time{
	width: 544px;
	height: 442px;
}
/* Begin .modal-boarding-complete */