.company-form .title-header-dashboard {
    font-size: 1.5em;
    color: #3d91ff;
    padding-bottom: 3rem;
}
.company-form .top-footer {
    padding-top: 2rem;
}
.company-form .breadcrumb-custom:before {
    width: 6px;
    height: 13px;
    content: url(../images/breadcrumb.png);
    margin-right: 1rem;
    position: relative;
    top: 1px;
}
.company-form .form-select .bootstrap-select > .btn {
    border-color: #979797;
}
.company-form .form-select .bootstrap-select.btn-group .btn .filter-option {
    color: #9b9b9b;
}
.company-form .breadcrumb-custom {
    font-size: 0.928em;
    color: #9b9b9b;
}
.company-form .para-breadcrumb {
    padding-bottom: 2.5rem;
}
.kuyam-content .company-form .form-control {
    border-color: #979797;
}
.kuyam-content .company-form .form-label-custom {
     font-size: 1.5em;
     color: #232323;
    font-weight: 300;
}
.kuyam-content .company-form footer {
    padding-top: 0;
}
.kuyam-content .company-form-custom footer {
    padding-top: 0px;
}
.kuyam-content .company-form .notes-text {
    padding-top: 0.4rem;
}
.kuyam-content .company-form-custom div[class*="col-"] {
    margin-bottom: 30px;
}
.kuyam-content .company-form h3 {
    font-size: 0.9em;
    font-weight: 400;
    padding-bottom: 3rem;
    color: #303030;
}
.kuyam-content .company-form i {
    font-size: 0.7em;
    color: #434343;
    font-weight: 400;
}
.kuyam-content .company-form footer p.text-center{
    padding-bottom: 4rem;
}
.kuyam-content .company-form footer a {
    color: #5ea3ff;
    font-size: 13px;
    font-weight: 600;
}
.kuyam-content .company-form footer .btn-save {
    width: 100%;
}
.contact-info-checkbox .radio-list{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}
.contact-info-checkbox .radio-mark ~ .radio-label {
    padding-left: 3.5rem;
    font-size: 0.9em;
}
.contact-info-checkbox .radio-mark:checked ~ .radio-label:before {
    background: url("../images/checked.png") no-repeat;
}
.contact-info-checkbox .radio-mark ~ .radio-label:before {
    width: 27px;
    height: 29px;
    top: -1px;
    border: none;
    background: url("../images/check.png") no-repeat;
}
.contact-info-checkbox .radio-mark:checked ~ .form-placeholder label {
    color: #434343;
}
.payment-booking-info.company-payment-form .radio-list li {
    float: none;
    margin-bottom: 1rem;
    width: 100%;
}
.payment-booking-info.company-payment-form .radio-list li i {
    font-size: 0.9em;
    padding-left: 1rem;
    color: #9b9b9b;
}
.payment-booking-info .policy-section > label {
    padding-bottom: 1rem;
}
.payment-booking-info .policy-section > p {
    font-size: 0.875em;
    color: #9b9b9b;
    padding-bottom: 1.5rem;
}
.payment-booking-info .policy-section .dl-list > div {
    text-align: left;
    border: 1px solid #999;
}
.payment-booking-info .policy-section .dl-list .dl.active .dt,
.payment-booking-info .policy-section .dl-list .dl.active .dd.time-policy {
    border-bottom: 0;
    margin: 0;
}
.payment-booking-info .policy-section .dl-list .dl.active .dd .divider-left {
    display: none;
}
.payment-booking-info .policy-section .dl-list .dl .dd span[class*="divider-"] {
    display: none;
}
.payment-booking-info .policy-section .dl-list .dl.active {
    border: none;
    margin: 0;
    height: 100%;
}
.payment-booking-info .policy-section .dl-list .dd.time-policy,
.payment-booking-info .policy-section .dl-list .dd.refund-policy{
    color: #242424;
}
.payment-booking-info .policy-section .dl-list .dl.active {
    background: #3B93FF;
    color: #ffffff;
}
.payment-booking-info .policy-section .dl-list .dl.active .btnBack {
    background: url(../images/btnBack-hover.png);
}
.payment-booking-info .policy-section .dl-list .dl.active .btnNext {
    background: url(../images/btnNext-hover.png);
}
.payment-booking-info .policy-section .dl-list .dl.active > .dt {
    background: #fff;
    color: #fff;
}
.payment-booking-info .policy-section .dl-list .dl.active .dd.time-policy,
.payment-booking-info .policy-section .dl-list .dl.active .dd.refund-policy{
    color: #fff;
}
.payment-booking-info .policy-section .dl-list .dt {
    border-bottom: 1px solid #999;
}
.payment-booking-info .policy-section .dl-list > div > span {
    display: none;
}
.payment-booking-info .policy-section .dl-list .dl {
    border: none;
    padding-top: 0;
}
.payment-booking-info .policy-section .dl-list > div:not(:last-child){
    border-right: 0;
}
.payment-booking-info .policy-section .dl-list .dd {
    padding: 25px 10px 10px;
    margin-bottom: 0px;
}
.payment-booking-info .policy-section .dl-list .dd.time-policy {
    border-bottom: 0;
}
.payment-booking-info .policy-section .dl-list > div:not(:first-child) .dd.refund-policy,
.payment-booking-info .policy-section .dl-list > div:not(:first-child) .dd.time-policy{
    text-align: center;
}
.payment-booking-info .policy-section .contact-info-checkbox .radio-mark ~ .radio-label:before {
    top: -7px;
}
.payment-booking-info .policy-section .dl-list .dt {
    padding: 3rem 10px;
    padding-top: 1.5rem;
}
.payment-booking-info .policy-section .dl-list > div .dd.refund-policy {
    padding-bottom: 3rem;
}
.payment-booking-info .policy-section {
    margin-bottom: 4rem;
}
.payment-booking-info .policy-section .contact-info-checkbox .radio-mark ~ .radio-label {
    padding-left: 5.5rem;
}
.payment-booking-info .policy-section .contact-info-checkbox .radio-mark:checked ~ .radio-label {
    color: #3B93FF;
    font-weight: 600;
}
.kuyam-content .basic-info .input-address {
    margin-bottom: 0;
}
.kuyam-content .basic-info .input-address .form-placeholder {
    margin-bottom: 1rem;
}
/* select slide*/
.select-content-slide {
    position: relative;
}
.select-content-slide ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.select-content-slide ul > li{
    display: none;
}
.select-content-slide .btnLink {
    width: 7px;
    height: 12px;
    display: block;
    text-indent: -9999px;
    position: absolute;
}
.select-content-slide .btnBack {
    background: url(../images/btnBack.png);
    top: 4px;
}
.select-content-slide .btnNext {
    background: url(../images/btnNext.png);
    top: 4px;
    right: 0;
}
/* select slide*/
@media (min-width: 768px) {
    .payment-booking-info .policy-section .dl-list > div:last-child .dd.time-policy,
    .payment-booking-info .policy-section .dl-list > div:last-child .dd.refund-policy{
        padding-left: 7rem;
        padding-right: 7rem;
    }
}