.company-account .form-label{
    font-size: $h4;
    color: $positive;
    font-weight: 400;
    margin-bottom: 16px;
}
.company-account .plan-option p{
    font-size: $s21;
    font-weight: 300;
    margin-bottom: 37px;
}
.company-account .plan-option .btn{
    margin-top: 19px;
}
.company-account .plan-option p strong{
    font-weight: 700;
}
.company-account .account-section{
    padding-top: 76px;
}
.company-account .account-section .form-label{
    margin-bottom: 21px;
}
.company-account .account-section p{
    font-size: $s15;
    color:#878787;
    margin-bottom: 19px;
}
.company-account .account-section p strong{
    font-weight: 700;
    color: $positive;
}
.company-account .account-section p b{
    font-weight: 700;
}
.company-account .account-section .btn{
    margin-top: 4px;
}
.company-account .history-section{
    padding-top: 88px;
}
.company-account .history-section .form-label{
    margin-bottom: 26px;
}
.company-account .history-section .span-field{
    color: #858585;
}
.company-account footer {
    text-align: left;
    padding-top:45px;
    padding-bottom: 13px;
}
.company-account footer p{
    font-size: $s15;
    color:#5d5d5d;
}
.company-account footer p a{
    text-decoration: none;
    font-weight: 700;
    color:#5d5d5d;
}

@media (min-width: 1024px){
    .company-account .plan-option .row{
        width: 512px;
    }
    .company-account .btn{
        width: 245px;
    }
    .company-account .history-section .table-css .td{
        border-bottom: 1px solid #f0f0f0;
    }
    .company-account .history-section .table-css .tr:last-child .td{
        border-bottom: 0 none;
    }
    .company-account .history-section .table-css .tr:nth-child(odd) .td{
        background: #fafafa;
    }
    .company-account .history-section span{
        display: block;
    }
    .company-account .history-section .span-field{
        display: none;
    }
    .company-account .history-section .span-date{
        font-size: $s14;
        line-height: 100%;
        margin-bottom: 4px;
    }
    .company-account .history-section .span-time{
        font-size: $p;
        line-height: 100%;
    }
    .company-account .history-section .td{
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 6px;
    }
    .company-account .history-section .td-date{
        width: 184px;
    }
    .company-account .history-section .td-name{
        font-size: $s14;
        vertical-align: middle;
        width: 282px;
    }
    .company-account .history-section .td-price{
        font-size: $s14;
        vertical-align: middle;
        padding-right: 15px;
        width: 106px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .company-account .mobile-section div[class*="col-"]{
        width: 100%;
    }
}

@media (max-width: 1023px){
    .company-account .form-label{
        color: $base;
        font-size: $s15;
        margin-bottom: 7px;
    }
    .company-account .plan-option p{
        font-size: $h6;
        text-align: left;
        margin-bottom: 44px;
    }
    .company-account .account-section{
        padding-top: 49px;
    }
    .company-account .account-section .form-label{
        margin-bottom: 18px;
    }
    .company-account .account-section p{
        font-size: $s18;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .company-account .account-section p span{
        display: block;
        padding-top: 13px;
    }
    .company-account .account-section img{
        width:53px;
    }
    .company-account .account-section .btn{
        margin-top: 11px;
    }
    .company-account .history-section{
        padding-top: 50px;
    }
    .company-account .history-section .form-label{
        margin-bottom: 11px;
    }
    .company-account .history-section .table-css,
    .company-account .history-section .tr,
    .company-account .history-section .td{
        display: block;
    }
    .company-account .history-section .tr{
        border: 1px solid #646464;
        padding: 8px 19px 10px;
        margin-bottom: 17px;
    }
    .company-account .history-section .span-field,
    .company-account .history-section .span-date,
    .company-account .history-section .span-time{
        font-size: $s11;
    }
    .company-account .history-section .td-name,
    .company-account .history-section .td-price{
        font-size: $s13;
    }
    .company-account footer{
        padding-top: 28px;
        padding-bottom: 40px;
    }
    .company-account footer p{
        font-size: $s13;
    }
}

@media (max-width: 374px){
    .company-account .form-label{
        font-size: $s13;
        margin-bottom: 4px;
    }
    .company-account .plan-option .radio-custom{
        margin-bottom: 22px;
    }
    .company-account .plan-option p{
        font-size: $s13;
        margin-bottom: 35px;
    }
    .company-account .plan-option .btn{
        margin-top: 13px;
    }
    .company-account .account-section{
        padding-top: 40px;
    }
    .company-account .account-section .form-label{
        margin-bottom: 14px;
    }
    .company-account .account-section p{
        font-size: $s15;
        line-height: 20px;
        margin-bottom: 19px;
    }
    .company-account .account-section p span{
        padding-top: 9px;
    }
    .company-account .account-section img{
        width:45px;
    }
    .company-account .account-section .btn{
        margin-top: 8px;
    }
    .company-account .history-section{
        padding-top: 40px;
    }
    .company-account .history-section .form-label{
        margin-bottom: 7px;
    }
    .company-account .history-section .table-css,
    .company-account .history-section .tr,
    .company-account .history-section .td{
        display: block;
    }
    .company-account .history-section .tr{
        border: 1px solid #646464;
        padding: 5px 16px 6px;
        margin-bottom: 13px;
    }
    .company-account .history-section .td{
        line-height: 20px;
    }
    .company-account .history-section .span-field,
    .company-account .history-section .span-date,
    .company-account .history-section .span-time{
        font-size: $s9;
    }
    .company-account .history-section .td-name,
    .company-account .history-section .td-price{
        font-size: $s11;
    }
    .company-account footer{
        padding-top: 24px;
        padding-bottom: 32px;
    }
    .company-account footer p{
        font-size: $s11;
    }
}