.contact-company-form .form-label {
    margin-bottom: 15px !important;
}

.contact-company-form .table-css {
    width: 100%;
}

.contact-company-form .td {
    vertical-align: middle;
    height: 60px;
    padding-bottom: 20px;
}

.contact-company-form .contact-check {
    width: 115px;
    font-family: $primary;
    font-weight: 600;
    padding-right: 10px;
}

.contact-company-form footer {
    text-align: left !important;
}

    .contact-company-form footer .btn-agree {
        margin-left: 0 !important;
    }
