.company-info .kuyam-form{
    width: 670px;
}
.company-info .kuyam-form .legend{
    margin-bottom: 34px;
}
.company-info .kuyam-form div[class*="col-"]{
    margin-bottom: 26px;
}
.company-info .kuyam-form div.col-address{
    float: right;
}
.company-info .kuyam-form div.col-address div[class*="col-"]{
    margin-bottom: 7px;
}
.company-info .kuyam-form div.col-address div.col-sm-6{
    margin-bottom: 0;
}
.company-info .kuyam-form footer{
    padding: 14px 0;
}

@media (max-width: 1023px){
    .company-info .kuyam-form{
        width: auto;
    }
    .company-info .kuyam-form div[class*="col-"]{
        margin-bottom: 22px;
    }
    .company-info .kuyam-form footer{
        padding-bottom: 0;
    }
}

@media (max-width: 767px){
    .company-info .kuyam-form div.col-address div.col-sm-6{
        margin-bottom: 7px;
    }
    .company-info .kuyam-form div.col-address div[class*="col-"]:last-child{
        margin-bottom: 0;
    }
    .company-info .kuyam-form div[class*="col-"]{
        margin-bottom: 15px;
    }
}

@media (max-width: 374px){
    .company-info .kuyam-form div[class*="col-"]{
        margin-bottom: 12px;
    }
}