.company-notifications form{
    width: 680px;
    padding: 3px 0;
}
.company-notifications form .legend{
    margin-bottom: 34px;
}
.company-notifications .cb-mark ~ .cb-label{
    font-size: $s14;
}
.company-notifications form footer{
    padding: 21px 0;
}

@media (max-width: 1023px) {
    .company-notifications form{
        width: auto;
    }
}