.company-password .kuyam-form{
    width: 680px;
    padding: 0;
}
.company-password .kuyam-form .legend{
    margin-bottom: 22px;
}
.company-password .kuyam-form div[class*="col-"]{
    margin-bottom: 26px;
}
.company-password .kuyam-form footer{
    padding: 4px 0;
}

@media (max-width: 1023px) {
    .company-password .kuyam-form{
        width: auto;
    }
    .company-password .kuyam-form div[class*="col-"]{
        margin-bottom: 15px;
    }
    .company-password .kuyam-form footer{
        padding-bottom: 0;
    }
}

@media (max-width: 374px) {
    .company-password .kuyam-form div[class*="col-"]{
        margin-bottom: 12px;
    }
}