.company-password form{
    width: 680px;
    padding: 0;
}
.company-password form .legend{
    margin-bottom: 22px;
}
.company-password form div[class*="col-"]{
    margin-bottom: 26px;
}
.company-password form footer{
    padding: 4px 0;
}

@media (max-width: 1023px) {
    .company-password form{
        width: auto;
    }
}