.company-payment-form {
}

.company-payment-form .radio-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.company-payment-form .radio-list li {
    display: block;
    float: left;
    width: 45%;
}

.company-payment-form .radio-list li:first-child {
    width: 40%;
}

.company-payment-form .radio-list small {
    display: block;
    padding-left: 25px;
    font-size: $p;
    font-family: $primary;
    font-weight: 400;
    line-height: 110%;
    position: relative;
    top: -7px;
}

.company-payment-form footer {
    text-align: left !important;
}

.company-payment-form footer .btn {
    margin-left: 0 !important;
}

.payment-section div[class*="col-"] {
    margin-bottom: 27px !important;
}

.paypal-section div[class*="col-"] {
    margin-bottom: 60px !important;
}

.payment-section .form-label {
    margin-bottom: 8px !important;
}

.method-section .form-label {
    margin-bottom: 8px !important;
}

.method-section div[class*="col-"] {
    margin-bottom: 50px !important;
}

.policy-section {
    margin-bottom: 65px;
}

.policy-section .form-label {
    margin-bottom: 6px !important;
}

.policy-section p {
    font-size: $s14;
    font-family: $primary;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 12px;
}

.policy-section .dl-list {
    display: -webkit-flex;
    display: flex;
}

.policy-section .dl-list > div {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 16.6667%;
    text-align: center;
    position: relative;
}

.policy-section .dl-list > div:first-child {
    max-width: 33.3333%;
    text-align: left;
}

.policy-section .dl-list > div > span {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    height: 41px;
    z-index: 1;
    background: #f0f0f0;
}

.policy-section .dl-list .dl {
    position: relative;
    z-index: 2;
    padding-top: 3px;
    border: 1px solid transparent;
}

.policy-section .dl-list .dt {
    padding: 13px 10px;
    font-size: $s14;
    line-height: 100%;
    height: 40px;
    font-family: $primary;
    font-weight: 600;
}

.policy-section .dl-list .dd {
    padding: 14px 10px 10px;
    font-size: $s14;
    font-family: $primary;
    font-weight: 400;
    line-height: 130%;
}

.policy-section .dl-list .dd.time-policy {
    border-bottom: 2px solid #f0f0f0;
    position: relative;
    z-index: 2;
}

.policy-section .dl-list .dd.refund-policy {
    padding-top: 18px;
    padding-bottom: 19px;
}

.policy-section .dl-list .dl .dd span[class*="divider-"] {
    border: 1px solid #f0f0f0;
    display: block;
    width: 15px;
    position: absolute;
    bottom: -2px;
}

.policy-section .dl-list .dl .dd .divider-left {
    left: -15px;
}

.policy-section .dl-list .dl .dd .divider-right {
    right: -15px;
}

.policy-section .dl-list .dl:last-child .dd .divider-right {
    display: none;
}

.policy-section .dl-list .dl.active {
    background: #fafafa;
    border: 1px solid #000;
    margin: 0 15px;
}

.policy-section .dl-list .dl.active .dt,
.policy-section .dl-list .dl.active .dd.time-policy {
    border-bottom: 2px solid $base;
    margin-left: 5px;
    margin-right: 5px;
}

.policy-section .dl-list .dl.active .dd .divider-left {
    left: -22px;
}

.policy-section .dl-list .dl.active .dd .divider-right {
    right: -22px;
    display: block;
}

.policy-section .radio-mark ~ .radio-label:before {
    top: -1px;
}

.policy-section .form-select {
    width: 108px;
    margin: -5px auto 0;
}

.policy-section .form-select .bootstrap-select > .btn,
.policy-section .form-select .bootstrap-select > .btn:focus,
.policy-section .form-select .bootstrap-select > .btn:active,
.policy-section .form-select .bootstrap-select > .btn-default.disabled,
.policy-section .form-select .bootstrap-select > .btn-default.disabled:focus,
.policy-section .form-select .bootstrap-select > .btn-default.disabled:active,
.policy-section .form-select .bootstrap-select.open > .dropdown-toggle.btn-default,
.policy-section .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:hover,
.policy-section .form-select .bootstrap-select.open > .dropdown-toggle.btn-default:focus {
    height: 31px;
}

.policy-section .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center;
    font-size: $s14;
    line-height: 120%;
}

.policy-section .bootstrap-select .dropdown-menu.inner {
    max-height: 150px !important;
}

.on-nicescroll  .policy-section .wrap-dropdown-menu-inner {
    max-height: 150px;
}

.policy-section .bootstrap-select .dropdown-menu > li > a {
    font-size: $s14;
    padding-top: 7px;
    padding-bottom: 7px;
}
