.company-payment .form-label{
    font-size: $h4;
    color: $positive;
    font-weight: 400;
    margin-bottom: 16px;
}
.company-payment .form-control{
    width: 320px;
}
.company-payment .radio-mark ~ .radio-label{
    padding-left: 35px;
    font-size: $s14;
}
.company-payment .radio-mark ~ .radio-label:before{
    top:0;
}
.company-payment .radio-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.company-payment .radio-list li {
    display: block;
    margin-top: 8px;
}
.company-payment .radio-list small {
    font-size: 100%;
    font-family: $primary;
    font-weight: 300;
    font-style: italic;
    padding-left: 10px;
    color: #9b9b9b;
}
.company-payment footer {
    text-align: left;
    padding-top:35px;
}
.company-payment footer .btn {
    width: 320px;
}
.company-payment .payment-section{
    padding: 18px 0;
}
.company-payment .payment-section div[class*="col-"] {
    margin-bottom: 27px !important;
}
.company-payment .paypal-section div[class*="col-"] {
    margin-bottom: 60px !important;
}
.company-payment .payment-section .form-label {
    margin-bottom: 8px;
}
.company-payment .method-section{
    padding: 18px 0;
}
.company-payment .method-section .form-label {
    margin-bottom: 8px;
}
.company-payment .method-section div[class*="col-"] {
    margin-bottom: 50px !important;
}

.company-payment .policy-section p {
    font-size: $s15;
    font-family: $primary;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 29px;
    color: #9b9b9b;
}

.company-payment .policy-section .dl-list {
    display: -webkit-flex;
    display: flex;
    border: 1px solid rgba(0, 0, 0, .4);
}

.company-payment .policy-section .dl-list > div {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 16.6667%;
    text-align: center;
    position: relative;
    border-left: 1px solid rgba(0, 0, 0, .4);
}

.company-payment .policy-section .dl-list > div:first-child {
    border-left: 0 none;
}

.company-payment .policy-section .dl-list > div:first-child {
    max-width: 33.3333%;
    text-align: left;
}

.company-payment .policy-section .dl-list .dl {
    position: relative;
    z-index: 2;
}

.company-payment .policy-section .dl-list .dt {
    padding: 0 10px;
    font-size: $s14;
    line-height: 41px;
    height: 40px;
    font-family: $primary;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.company-payment .policy-section .dl-list .dd {
    padding: 30px 10px 10px;
    font-size: $s14;
    font-family: $primary;
    font-weight: 400;
    line-height: 130%;
    position: relative;
    z-index: 2;
}

.company-payment .policy-section .dl-list .dd.refund-policy {
    padding-top: 14px;
    padding-bottom: 36px;
}

.company-payment .policy-section .dl-list .dl .dd span[class*="divider-"] {
    border: 1px solid #f0f0f0;
    display: block;
    width: 15px;
    position: absolute;
    bottom: -2px;
    display: none;
}

.company-payment .policy-section .dl-list .dl .dd .divider-left {
    left: -15px;
}

.company-payment .policy-section .dl-list .dl .dd .divider-right {
    right: -15px;
}

.company-payment .policy-section .dl-list .dl:last-child .dd .divider-right {
    display: none;
}

.company-payment .policy-section .dl-list .dl-item.active .dl > span{
    background: $positive;
    position: absolute;
    top:40px;
    left:0;
    bottom:0;
    width: 100%;
    z-index: 1;
}
.company-payment .policy-section .dl-list .dl-item.active .dd{
    font-weight: 700;
    color: $white;
}

.company-payment .policy-section .dl-list .dl-item.active .dt,
.company-payment .policy-section .dl-list .dl-item.active .dd.time-policy {
}
.company-payment .policy-section .radio-custom{
    font-size: 16px;
}
.company-payment .policy-section .radio-mark ~ .radio-label{
    font-size: $s14;
    font-weight: 700;
    margin-bottom: 0;
    position: relative;
    top:-2px;
}
.company-payment .policy-section .radio-mark ~ .radio-label:before {
    top: 7px;
}
.company-payment .policy-section .radio-mark:checked ~ .radio-label{
    color:$positive;
}

.company-payment .policy-section .form-select {
    width: 108px;
    margin: -5px auto 0;
}
.company-payment .carousel{
    width: 86px;
    margin: 0 auto;
}
.company-payment .carousel-inner{
    width: 50px;
    margin: 0 auto;
    text-align: center;
}
.company-payment .carousel-control{
    background:url(../images/dashboard/company/icon-carousel.png) center center no-repeat;
    background-size: 7px auto;
    opacity: 1;
}
.company-payment .dl-item.active .carousel-control{
    background-image:url(../images/dashboard/company/icon-carousel-active.png);
}
.company-payment .carousel-control.left{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.company-payment .carousel-control.right{
}
.company-payment .carousel-control.disable{
    opacity: .5px;
}

@media (min-width: 768px) and (max-width: 1023px){
    .company-payment .mobile-section div[class*="col-"]{
        width: 100%;
    }
}

@media (max-width: 1023px){
    .company-payment .form-label{
        color: $base;
        font-size: $s15;
        margin-bottom: 7px;
    }
    .company-payment .form-control{
        width: 100%;
    }
    .company-payment .radio-list li{
        margin-top: 0;
        margin-bottom: 2px;
    }
    .company-payment .radio-mark ~ .radio-label{
        font-size: $s13;
    }
    .company-payment .radio-mark ~ .radio-label::before{
        background-size: 25px auto;
        top: -2px;
    }
    .company-payment .payment-section{
        border-top: 4px solid #f5f5f5;
        border-bottom: 4px solid #f5f5f5;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 8px;
        padding: 20px 15px 17px;
    }
    .company-payment .method-section{
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 23px;
        border-bottom: 4px solid #f5f5f5;
    }
    .company-payment .policy-section p{
        font-weight: 400;
        font-size: $s13;
        line-height: 16px;
        margin-bottom: 26px;
    }
    .company-payment .policy-section .dl-list{
        display: block;
        border:0 none;
    }
    .company-payment .policy-section .dl-list > div{
        -webkit-flex: 0;
        -ms-flex: 0;
        flex: 0;
        max-width: 100%;
        border:1px solid #434343;
        margin-top: 25px;
    }
    .company-payment .policy-section .dl-list > div:nth-child(2){
        margin-top: 0;
    }
    .company-payment .policy-section .dl-list .dt{
        padding-top: 8px;
        height: 43px;
    }
    .company-payment .policy-section .dl-list .dd{
        padding-top: 0;
        padding-bottom: 0;
        height: auto !important;
        line-height: 100%;
        font-size: $s13;
        font-weight: 700;
    }
    .company-payment .policy-section .dl-list .dd span{
        color:#858585;
        font-weight: 400;
    }
    .company-payment .policy-section .dl-list .dd.refund-policy{
        padding-top: 9px;
        padding-bottom: 18px;
    }
    .company-payment .policy-section .dl-list > div.active{
        border:1px solid $positive;
        box-shadow: 0 7px 19px 0 rgba(0, 0, 0, 0.14);
    }
    .company-payment .policy-section .dl-list .dl-item.active .dd{
        color: $base;
        font-weight: 700;
    }
    .company-payment .policy-section .dl-list .dl-item.active .dl > span{
        display: none;
    }
    .company-payment .policy-section .dl-list .dt{
        text-align: left;
        border-bottom:0 none;
    }
    .company-payment .policy-section .dl-list .dd{
        text-align: left;
    }
    .company-payment .policy-section .dl-list .dd .visible-1023{
        display: inline-block;
        margin-right: 15px;
        font-weight: 400;
    }
    .company-payment .carousel{
        float:right;
    }
    .company-payment .policy-section .radio-mark ~ .radio-label{
        padding-left: 0;
        font-weight: 700;
        color: $positive;
    }
    .company-payment .policy-section .radio-mark ~ .radio-label:before{
        background: none;
    }

    .company-payment footer .btn{
        width: 100%;
    }
    .company-payment .carousel-control{
        background-size: 11px auto;
    }
    .company-payment .carousel-control.left,
    .company-payment .dl-item.active .carousel-control.left{
        background-image: url(../images/dashboard/company/mobile/icon-carousel-left.png);
    }
    .company-payment .carousel-control.right,
    .company-payment .dl-item.active .carousel-control.right{
        background-image: url(../images/dashboard/company/mobile/icon-carousel-right.png);
    }
}

@media (max-width: 374px){
    .company-payment .form-label{
        font-size: $s13;
        margin-bottom: 4px;
    }
    .company-payment .radio-mark ~ .radio-label{
        font-size: $s11;
    }
    .company-payment .radio-mark ~ .radio-label::before{
        background-size: 21px auto;
        top: -2px;
    }
    .company-payment .payment-section{
        border-top: 3px solid #f5f5f5;
        border-bottom: 3px solid #f5f5f5;
        margin-top: 9px;
        padding: 13px 15px 17px;
    }
    .company-payment .payment-section .form-label{
        margin-bottom: 3px;
    }
    .company-payment .payment-section .radio-mark ~ .radio-label{
        margin-bottom: 0;
    }
    .company-payment .method-section{
        padding-bottom: 18px;
        border-bottom: 3px solid #f5f5f5;
        padding-top: 4px;
    }
    .company-payment .method-section .form-label{
        margin-bottom: 3px;
    }
    .company-payment .method-section .radio-mark ~ .radio-label{
        margin-bottom: 0;
    }
    .company-payment .policy-section{
        padding-top: 1px;
    }
    .company-payment .policy-section .form-label{
        margin-bottom: 5px;
    }
    .company-payment .policy-section p{
        font-size: $s11;
        line-height: 14px;
        margin-bottom: 20px;
    }
    .company-payment .policy-section .dl-list > div{
        margin-top: 22px;
    }
    .company-payment .policy-section .dl-list > div:nth-child(2){
        margin-top: 0;
    }
    .company-payment .policy-section .dl-list .dt{
        padding-top: 1px;
        height: 34px;
    }
    .company-payment .policy-section .dl-list .dd{
        font-size: $s11;
    }
    .company-payment .policy-section .dl-list .dd.refund-policy{
        padding-top: 9px;
        padding-bottom: 16px;
    }
    .company-payment .policy-section .dl-list .dl-item.active .dd{
        font-weight: 700;
    }
    .company-payment .policy-section .dl-list .dt{
        border-bottom:0 none;
    }
    .company-payment .policy-section .dl-list .dd .visible-1023{
        display: inline-block;
        margin-right: 15px;
        font-weight: 400;
    }
    .company-payment .policy-section .radio-mark ~ .radio-label{
        font-size: $s13;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .company-payment .carousel-control.left,
    .company-payment .dl-item.active .carousel-control.left{
        background-image: url(../images/dashboard/company/mobile/icon-carousel-left@2x.png);
    }
    .company-payment .carousel-control.right,
    .company-payment .dl-item.active .carousel-control.right{
        background-image: url(../images/dashboard/company/mobile/icon-carousel-right@2x.png);
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:1024px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:1024px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:1024px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:1024px),
only screen and (              min-resolution:120dpi)      and (min-width:1024px),
only screen and (               min-resolution:2dppx)      and (min-width:1024px){
    .company-payment .carousel-control{
        background-image:url(../images/dashboard/company/icon-carousel@2x.png);
    }
    .company-payment .dl-item.active .carousel-control{
        background-image:url(../images/dashboard/company/icon-carousel-active@2x.png);
    }
}