.company-settings form{
    width: 680px;
    padding: 2px 0;
}
.company-settings form div[class*="col-"]{
    margin-bottom: 26px;
}
.company-settings form footer{
    padding: 24px 0;
}

@media (max-width: 1023px) {
    .company-settings form{
        width: auto;
    }
}