.company-settings .kuyam-form{
    width: 680px;
    padding: 2px 0;
}
.company-settings .kuyam-form div[class*="col-"]{
    margin-bottom: 26px;
}
.company-settings .kuyam-form footer{
    padding: 24px 0;
}

@media (max-width: 1023px) {
    .company-settings .kuyam-form{
        width: auto;
    }
}