.company-settings .kuyam-form{
    width: 680px;
    padding: 2px 0;
}
.company-settings .kuyam-form div[class*="col-"]{
    margin-bottom: 26px;
}
.company-settings .kuyam-form footer{
    padding: 24px 0;
}

@media (max-width: 1023px) {
    .company-settings .kuyam-form{
        width: auto;
        padding: 0;
    }
    .company-settings .kuyam-form footer{
        padding-top: 15px;
        padding-bottom: 0;
    }
    .company-settings .kuyam-form footer div[class*="col-"]{
        margin-bottom: 15px;
    }
}

@media (max-width: 374px) {
    .company-settings .kuyam-form footer div[class*="col-"]{
        margin-bottom: 12px;
    }
}