.company-working form{
    width: 520px;
}
.company-working form .legend{
    margin-bottom: 33px;
}
.company-working form.working-form footer{
    padding: 20px 0;
}

@media (max-width: 1023px) {
    .company-settings form{
        width: auto;
    }
}