.company-working .kuyam-form{
    width: 520px;
}
.company-working .kuyam-form .legend{
    margin-bottom: 33px;
}
.company-working .kuyam-form.working-form footer{
    padding: 20px 0;
}

@media (max-width: 1023px) {
    .company-settings .kuyam-form{
        width: auto;
    }
}