.about-section{
    position: relative;
    z-index: 1032;
}
.about-section h5{
    font-size: $s21;
    font-weight: 400;
    color: #333232;
    margin-bottom: 38px;
    font-family: $primary;
}
.about-section p{
    margin-bottom: 17px;
    color: #333232;
}
.about-section p strong,
.about-section p b{
    font-weight: 700;
}
.about-section p a{
    color: $positive;
    text-decoration: none;
    font-weight: 800;
}
.about-list{
    overflow-y: auto;
}

@media (min-width: 768px) {
    /*.about-list{
        max-height: 798px;
    }
    .on-nicescroll .about-list{
        overflow: hidden;
    }
    .on-nicescroll .about-list .wrap-dropdown-menu-inner{
        max-height: 798px;
    }
    .on-nicescroll .about-list .scroll-content{
        padding-right: 36px;
    }*/
}

@media (max-width: 767px) {
    .about-section h5{
        margin-bottom: 17px;
    }
    /*.about-list,
    .on-nicescroll .about-list .wrap-dropdown-menu-inner{
        max-height: 530px;
    }
    .on-nicescroll .about-list .scroll-content{
        padding-right: 20px;
    }*/
}
