.book-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.book-caption .avatar {
    width: 196px;
    height: 196px;
    background: #333333 center center no-repeat;
    background-size: cover;
    border: 5px solid $white;
    position: absolute;
    bottom: 32px;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.15);
}
.book-caption .info {
    padding: 0 0 20px 220px;
    width: 100%;
}
.book-caption .section-header {
    position: relative;
}
.book-caption .section-header h2 {
    max-width: 100%;
    display: block;
    color: $white;
    font-size: $s31;
    font-weight: 800;
    padding-right: 30px;
    position: relative;
    margin-bottom: 7px;
    float: left;
}
.book-caption .section-header h2 .text{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book-caption .section-header h2 .votes .icon-unlike{
    position: absolute;
    width: 27px;
    height: 24px;
    background:url(images/ui/pages/book-details/caption/icon_like.png) center top no-repeat;
    background-size: 27px auto;
    top:13px;
    right: 0;
    margin:0;
}
.book-caption .section-header h2 .votes .icon-like{
    background-position: center bottom;
}
.book-caption .votes{
    clear: both;
}
.book-caption .votes .vote-icon{
    background-size: 19px auto;
}
.book-caption .votes .gray-star{
    background-image: url(images/ui/pages/book-details/caption/icon_star_empty.png);
}
.book-caption .votes .yellow-star{
    background-image: url(images/ui/pages/book-details/caption/icon_star_full.png);
}
.book-caption .votes .total-review{
    color: $white;
    font-size: $s14;
    font-style: italic;
    font-weight: 700;
    cursor:pointer;
}
.book-caption .info ul {
    margin:0;
    padding:0;
    list-style-type: disc;
    color: $white;
}
.book-caption .info ul li{
    float: left;
    margin: 0 0 5px 15px;
    padding: 0 15px 0 0;
    font-size: $s14;
    line-height: 26px;
}
.book-caption .info ul li a{
    color: $white;
    text-decoration: underline;
}
.book-caption .info ul li:last-child{
    list-style: none;
    margin-left: 0;
}
@media (max-width: 767px) {
    .book-caption{
        bottom: -68px;
    }
    .book-caption .avatar{
        width: 143px;
        height: 143px;
        border-width: 3px;
        bottom: 9px;
    }
    .book-caption .avatar .votes .icon-unlike{
        position: absolute;
        width: 27px;
        height: 24px;
        background: url(images/ui/pages/book-details/caption/mobile/icon_like.png) center bottom no-repeat;
        background-size: 27px auto;
        top:inherit;
        bottom:0;
        right: 0;
        margin:0;
    }
    .book-caption .avatar .votes .icon-like{
        background-position:  center top;
    }
    .book-caption .info{
        padding-left: 165px;
        padding-bottom: 9px;
    }
    .book-caption .section-header h2{
        font-size: $h5;
        padding-right:0;
        margin-bottom: 5px;
    }
    .book-caption .votes .vote-icon{
        width: 16px;
        height: 17px;
        background-size: 16px auto;
    }
    .book-caption .votes .total-review{
        display: none;
    }
    .book-caption .info ul{
        display: none;
    }
}

@media (max-width: 374px) {
    .book-caption .avatar{
        width: 65px;
        height: 65px;
        border-width: 1px;
    }
    .book-caption .info{
        padding-left: 95px;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .book-caption .avatar .votes .icon-unlike{
        background-image: url(images/ui/pages/book-details/caption/icon_like@3x.png);
    }
    .book-caption .votes .gray-star{
        background-image: url(images/ui/pages/book-details/caption/icon_star_empty@3x.png);
    }
    .book-caption .votes .yellow-star{
        background-image: url(images/ui/pages/book-details/caption/icon_star_full@3x.png);
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:768px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:768px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:768px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:768px),
only screen and (              min-resolution:120dpi)      and (min-width:768px),
only screen and (               min-resolution:2dppx)      and (min-width:768px){
    .book-caption .section-header h2 .votes .icon-unlike{
        background-image: url(images/ui/pages/book-details/caption/icon_like@3x.png);
    }
}