.book-detail-page{
    padding: 40px 0 0;
}

@media (min-width: 768px) {
    .book-detail-page > .container > .row > .col-sm-8{
        width: 67.6667%;
    }
    .book-detail-page > .container > .row > .col-sm-4{
        width: 32.3333%;
    }

    .main-affix{
        width: 610px;
    }
    .main-affix .tab-content{
        margin-bottom: 59px;
    }
    .main-affix.affix{
        position: fixed;
        top: 60px;
    }
    .main-affix.affix-bottom{
        position: absolute;
    }

    .nav-affix{
        width: 290px;
    }
    .nav-affix .book-aside{
        margin-bottom: 59px;
    }
    .nav-affix.affix{
        position: fixed;
        top: 60px;
    }
    .nav-affix.affix-bottom{
        position: absolute;
    }
}

@media (max-width: 767px) {
    .book-detail-page{
        margin-top: 68px;
        padding:0 0 15px;
    }
    .book-detail-page .tab-content > .tab-pane{
        padding-top: 12px;
    }
}
