.book-detail-page{
    padding: 40px 0 59px;
}
.book-detail-page .nav-tabs{
    border:0 none;
}
.book-detail-page .nav-tabs > li{
    border-left: 1px solid #8c8c8c;
}
.book-detail-page .nav-tabs > li:first-child{
    border-left: 0 none;
}
.book-detail-page .nav-tabs > li:first-child a,
.book-detail-page .nav-tabs > li:first-child a:hover,
.book-detail-page .nav-tabs > li:first-child a:focus{
    padding-left: 0;
}
.book-detail-page .nav-tabs > li > a,
.book-detail-page .nav-tabs > li > a:hover,
.book-detail-page .nav-tabs > li > a:focus{
    padding:0 18px;
    border:0 none;
    background: transparent;
    font-size: $h6;
    line-height: 16px;
    color:#333232;
}
.book-detail-page .nav-tabs > li.active > a,
.book-detail-page .nav-tabs > li.active > a:hover,
.book-detail-page .nav-tabs > li.active > a:focus{
    border:0 none;
    color: #87b400;
    font-weight: 700;
}

@media (min-width: 768px) {
    .book-detail-page > .container > .row > .col-sm-8{
        width: 67.6667%;
    }
    .book-detail-page > .container > .row > .col-sm-4{
        width: 32.3333%;
    }
}