.book-aside{
    padding: 15px 15px 37px;
    background: #fafafa;
    border:1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    margin-top: 10px;
}
.book-aside h5{
    font-size: $h5;
    font-weight: 400;
    color: #87b400;
    position: relative;
    padding-left: 29px;
}
.book-aside h5:before{
    content: '';
    width: 29px;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: center center no-repeat;
}
.book-aside .map{
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.11);
    margin:0;
    height: 138px;
}
.book-aside .google-map{
    height: 138px;
}
.book-aside ul{
    margin:0;
    padding:0;
    list-style: none;
}
.book-aside ul li{
    font-size: $s13;
    padding-left: 29px;
}
.book-aside .info h5{
    margin-bottom: 13px;
}
.book-aside .info h5:before{
    background-image: url(images/ui/pages/book-details/icon_info@3x.png);
    background-size: 19px auto;
}
.book-aside .info ul{
    margin-top: 23px;
}
.book-aside .info ul li{
    line-height: 15px;
    color:rgba(51, 50, 50, .9);
    margin-bottom: 14px;
    padding-left: 29px;
    position: relative;
}
.book-aside .info ul li a{
    color: rgba(51, 50, 50, 0.9);
    text-decoration: none;
}
.book-aside .info ul li:before{
    content:'';
    height: 15px;
    width: 19px;
    top:0;
    left: 0;
    position: absolute;
    background: center center no-repeat;
}
.book-aside .info ul li.li-location:before{
    background-image: url(images/ui/pages/book-details/icon_location@3x.png);
    background-size: 10px auto;
}
.book-aside .info ul li.li-phone:before{
    background-image: url(images/ui/pages/book-details/icon_phone@3x.png);
    background-size: 13px auto;
}
.book-aside .info ul li.li-website:before{
    background-image: url(images/ui/pages/book-details/icon_website@3x.png);
    background-size: 13px auto;
}
.book-aside .opening{
    padding-top: 19px;
}
.book-aside .opening h5{
    margin-bottom: 9px;
}
.book-aside .opening h5:before{
    background-image: url(images/ui/pages/book-details/icon_opening@3x.png);
    background-size: 17px auto;
}
.book-aside .opening .table-css{
    line-height: 22px;
    margin-left: 29px;
}
.book-aside .opening .table-cell{
    font-size: $s13;
    color: rgba(51, 50, 50, .9);
}
.book-aside .opening .table-cell:first-child{
    padding-right: 18px;
}
.book-aside .opening .table-cell:last-child{
    padding-left: 6px;
}
.book-aside .opening .table-cell strong{
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(23, 23, 23, .9);
    font-size: 9px;
}
.book-aside .opening .table-cell i{
    color:#87b400;
    font-weight: 700;
}
.book-aside .payment{
    padding-top: 29px;
}
.book-aside .payment h5{
    margin-bottom: 6px;
}
.book-aside .payment h5:before{
    background-image: url(images/ui/pages/book-details/icon_payment@3x.png);
    background-size: 19px auto;
}
.book-aside .payment ul li{
    line-height: 22px;
    color:#333232;
}
.book-aside .policy{
    padding-top: 29px;
}
.book-aside .policy h5{
    margin-bottom: 6px;
}
.book-aside .policy h5:before{
    background-image: url(images/ui/pages/book-details/icon_policy@3x.png);
    background-size: 19px auto;
}
.book-aside .policy ul li{
    line-height: 22px;
    color:#333232;
}