.book-option{
    margin: 12px 0 10px;
    position: relative;
    z-index: 10;
}
.book-option .option-select{
    height: 44px;
    float: left;
    position: relative;
}
.book-option .option-select.disabled{
    opacity: .5;
}
.book-option .option-select.disabled:after{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
}
.book-option .option-select .dropdown .dropdown-menu{
    max-height: 175px;
    overflow-y: auto;
}
.on-nicescroll .book-option .option-select .dropdown .dropdown-menu{
    overflow-y:hidden;
}
.on-nicescroll .book-option .option-select .dropdown .dropdown-menu .wrap-dropdown-menu-inner{
    height: 175px;
}
.book-option .option-select .dropdown > a{
    padding: 8px 14px;
    display: inline-block;
    font-size: $s21;
    color:#333232;
    text-decoration: none;
    position: relative;
    max-width: 100%;
}
.book-option .option-select .dropdown > a .text{
    display: inline-block;
    max-width: calc(100% - 26px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.book-option .option-select .dropdown > a .icon{
    position: relative;
    display: inline-block;
    width: 21px;
    height: 24px;
    background-image: url(images/ui/pages/book-details/option/icon_down.png);
    background-size: 21px auto;
    margin-left: 5px;
}
.book-option .option-select .dropdown.open > a .icon{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.book-option .option-select .dropdown-menu{
    width: 100%;
    padding: 0;
    border:0 none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    font-size: 16px;
    min-width: inherit;
}
.book-option .option-select ul{
    margin:0;
    padding: 0;
    list-style: none;
}
.book-option .option-select ul li{
    padding: 5px 14px;
    border-top:1px solid #e3e3e3;
    cursor: pointer;
    font-size: $s14;
}
.book-option .option-select ul li.selected,
.book-option .option-select ul li:hover{
    color: #87b400;
    font-weight: 700;
}
.book-option .option-select ul li .table-css{
    width: 100%;
}
.book-option .option-select ul li .tr{
    cursor: pointer;
}
.book-option .option-select ul li .td{
    padding: 0 0 0 14px;
    text-align: right;
    color: rgba(0, 0, 0, .8);
}
.book-option .option-select ul li .td:first-child{
    padding: 0;
}
.book-option .option-select ul li .td-name{
    padding-left: 0;
    text-align: left;
}
.book-option .option-select ul li .td-name a{
    color: #87b400;
    text-decoration: none;
    font-style: italic;
}
.book-option .option-select ul li .td-time,
.book-option .option-select ul li .td-price{
    width: 85px;
}
.book-option .option-select ul li .td-off{
    color: $negative;
    width: 110px;
}
.book-option .option-select ul li .td-off span{
    position: relative;
    padding-left: 26px;
}
.book-option .option-select ul li .td-off span:before{
    content:'';
    width:16px;
    height: 100%;
    background: url(images/ui/pages/book-details/option/icon_offer.png) center center no-repeat;
    background-size: 16px auto;
    position: absolute;
    top:0;
    left: 0;
}
.book-option .option-select ul li .td-price del{
    color: $disabled;
    display: block;
    padding-top: 11px;
}

@media (min-width: 768px) {
    .book-option .option-select .dropdown{
        width: 100%;
    }
    .book-option .option-select .dropdown.open{
        position: absolute;
        box-shadow: 0 11px 24px 0 rgba(0, 0, 0, 0.26);
        background: $white;
    }
    .book-option .option-select .dropdown-menu{
        position: relative;
    }
    .book-option .categories-select{
        margin-left: -14px;
        width: 155px;
        z-index: 3;
    }
    .book-option .what-select{
        width: 328px;
        z-index: 2;
    }
    .book-option .what-select .dropdown.open{
        width: 472px;
    }
    .book-option .who-select{
        width: 140px;
        z-index: 1;
        float: right;
    }
    .book-option .who-select.option-width .dropdown > a{
        float: right;
    }
}

@media (max-width: 991px) {
    .book-option .option-select{
        width: 100%;
        text-align: center;
        margin:0;
    }
    .book-option .what-select .dropdown.open{
        width: 100%;
    }
}

@media (max-width: 767px) {
    .book-option{
        margin:0 -15px;
        border-bottom: 1px solid #c2c2c2;
        padding-bottom: 4px;
    }
    .book-option .option-select .dropdown > a{
        font-size: $h6;
    }
    .book-option .option-select .dropdown > a .icon{
        margin-left: 5px;
    }
    .book-option .option-select .dropdown-menu{
        box-shadow: 0 11px 24px 0 rgba(0, 0, 0, 0.26);
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (   min--moz-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (     -o-min-device-pixel-ratio:1.25/1)    and (min-width:320px),
only screen and (        min-device-pixel-ratio:1.25)      and (min-width:320px),
only screen and (              min-resolution:120dpi)      and (min-width:320px),
only screen and (               min-resolution:2dppx)      and (min-width:320px){
    .book-option .option-select .dropdown > a .icon{
        background-image: url(images/ui/pages/book-details/option/icon_down@3x.png);
    }
    .book-option .option-select ul li .td-off span:before{
        background: url(images/ui/pages/book-details/option/icon_offer@3x.png);
    }
}