.package-section h5{
    font-size: $s21;
    font-family: $primary;
    color: #333232;
    font-weight: 400;
    margin-bottom: 38px;
}
.package-list .package-block {
    margin: 0 0 28px;
    min-height: 276px;
    border: 1px solid #b6b6b6;
    text-align: center;
}
.package-list .package-block .package-img {
    height: 151px;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    background: center center no-repeat;
    background-size: cover;
}
.package-list .package-block .package-info {
    padding: 10px 10px 13px;
}
.package-list .package-info h3 {
    font-size: $s18;
    font-family: $primary;
    color: #3d3d3d;
    font-weight: 400;
    margin-bottom: 10px;
}
.package-list .package-info p {
    font-size: $s11;
    line-height: 17px;
    color: #3d3d3d;
    margin-bottom: 8px;
}
.package-list .package-info .btn {
    font-size: $s15;
    border-radius: 0;
    padding:0;
    color: #333232;
    height: 29px;
    width: 116px;
}

@media (min-width: 768px) {
    .package-list{
        height: 798px; /*975px*/
        overflow-y: auto;
    }
    .on-nicescroll .package-list{
        overflow: hidden;
    }
    .on-nicescroll .package-list .wrap-dropdown-menu-inner{
        height: 798px; /*975px*/
    }
    .on-nicescroll .package-list .scroll-content{
        padding-right: 36px;
    }
}