.photo-section h5{
    font-size: $s21;
    font-weight: 400;
    color: #333232;
    margin-bottom: 38px;
    font-family: $primary;
}
.photo-list ul{
    margin:0 -18px;
    padding:0;
    list-style: none;
}
.photo-list li{
    padding-left: 18px;
    padding-right: 18px;
    width: 50%;
    margin-top: 36px;
    position:relative;
}
.photo-list li .loading,
.photo-list li .loading > div{
    position:absolute;
}
.photo-list li:first-child,
.photo-list li:nth-child(2){
    margin-top: 0;
}
.photo-list li:nth-child(odd){
    float: left;
    clear: left;
}
.photo-list li:nth-child(even){
    float: right;
    clear: right;
}
.photo-list img{
    width: 100%;
    vertical-align: top;
    box-shadow: 0 11px 18px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
}

@media (max-width: 767px) {
    .photo-section{
        padding-top: 6px;
    }
    .photo-section h5{
        display: none;
    }
    .photo-list ul{
        margin:0;
    }
    .photo-list li{
        width: 100%;
        float: none;
        padding:0;
        margin-top: 42px;
    }
    .photo-list li:nth-child(2){
        margin-top: 42px;
    }
}
