.photo-section{}
.photo-section h5{
    font-size: $s21;
    font-weight: 400;
    color: #333232;
    margin-bottom: 38px;
    font-family: $primary;
}
.photo-list ul{
    margin:0 -18px;
    padding:0;
    list-style: none;
}
.photo-list li{
    padding-left: 18px;
    padding-right: 18px;
    width: 50%;
    margin-bottom: 36px;
}
.photo-list li:last-child{
    margin-bottom: 0;
}
.photo-list li:nth-child(odd){
    float: left;
    clear: left;
}
.photo-list li:nth-child(even){
    float: right;
    clear: right;
}
.photo-list img{
    width: 100%;
    vertical-align: top;
}

@media (min-width: 768px) {
    .photo-list{
        height: 797px;
        overflow-y: auto;
    }
    .on-nicescroll .photo-list{
        overflow: hidden;
    }
    .on-nicescroll .photo-list .wrap-dropdown-menu-inner{
        height: 797px;
    }
    .on-nicescroll .photo-list .scroll-content{
        padding-right: 36px;
    }
}

@media (max-width: 767px) {
    .photo-section{
        padding-top: 6px;
    }
    .photo-section h5{
        display: none;
    }
    .photo-list,
    .on-nicescroll .photo-list .wrap-dropdown-menu-inner{
        max-height: 530px;
    }
    .on-nicescroll .photo-list .scroll-content{
        padding-right: 20px;
    }
    .photo-list ul{
        margin:0;
    }
    .photo-list li{
        width: 100%;
        float: none;
        padding:0;
        margin-bottom: 42px;
    }
}