.book-slide .carousel-inner{
}
.book-slide .carousel-inner:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 290px;
    bottom: 76px;
    background: url(images/ui/pages/book-details/banner/bg_overlay.png) center bottom no-repeat;
    background-size: cover;
}
.book-slide .carousel-inner > .item{
    height: 337px;
    background: center center no-repeat;
    background-size: cover;
}

@media (max-width: 767px) {
    .book-slide .carousel-inner::after{
        bottom: 0;
    }
    .book-slide .carousel-inner > .item{
        height: 158px;
    }
}