.category-tooltip{
    border-width: 1px;
    border-color: rgba(0, 0, 0, .18);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.13);
    width: 138px;
}
.category-tooltip ul{
    margin:0;
    padding:0 8px;
    list-style: none;
    font-size: $p;
    line-height: 18px;
    color: #3d3d3d;
    text-align: left;
}
.category-tooltip .tooltipster-arrow-bottom span,
.category-tooltip .tooltipster-arrow-bottom-right span,
.category-tooltip .tooltipster-arrow-bottom-left span{
    border-bottom-width: 12px;
    border-left-width: 15px !important;
    border-right-width: 15px !important;
    top:-12px;
}
.category-tooltip .tooltipster-arrow-bottom .tooltipster-arrow-border,
.category-tooltip .tooltipster-arrow-bottom-right .tooltipster-arrow-border,
.category-tooltip .tooltipster-arrow-bottom-left .tooltipster-arrow-border{
    top:-12px;
}
.category-tooltip .category-list{
    max-height: 180px;
    overflow-y: auto;
}
.on-nicescroll .category-tooltip .category-list{
    overflow: hidden;
}
.on-nicescroll .category-tooltip .wrap-dropdown-menu-inner{
    max-height: 180px;
}