.lightbox{
    display: none;
    background: $rgba-black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.light-box{display:none;background:#000;position:fixed;top:0;left:0;right:0;bottom:0;opacity:0.5;filter:alpha(opacity=50);z-index:2;}

.bg-black-50 {
    background: $rgba-black;
}

.bg-white-50 {
    background: $rgba_white;
}
