.manage-client .no-data{
    text-align:center;
    width: 388px;
    margin-left: 59px;
}
.manage-client .no-data p{
    margin-bottom:87px;
    font-size: 1em;
    line-height: 24px;
    color: #9b9b9b;
}
.manage-client .no-data img{
    margin:78px auto 27px;
}
.manage-client .no-data .btn{
    width:388px;
}

@media (max-width: 1023px){
    .manage-client .no-data{
        width:100%;
        margin-left:0;
    }
    .manage-client .mobile-section .no-data div{
        padding:20px 0;
    }
    .manage-client .no-data img{
        margin-top:0;
        width: 45px;
        margin-bottom: 22px;
    }
    .manage-client .no-data p{
        margin-bottom:0;
        font-size: $s13;
        line-height: 20px;
    }
    .manage-client .no-data .btn{
        width:100%;
    }
}

@media (max-width: 374px){
    .manage-client .no-data img{
        width: 39px;
        margin-bottom: 18px;
    }
    .manage-client .no-data p{
        font-size: $s11;
        line-height: 17px;
    }
}