.modal-boarding-plan {
    width: 544px;
}
.modal-boarding-plan .modal-body {
    text-align: center;
}
.modal-boarding-plan .modal-body p {
    font-size: $s17;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 13px;
}
.modal-boarding-plan .modal-footer {
    padding: 27px 31px 26px 36px;
}
.modal-boarding-plan .plan-option{
    margin-top: 24px;
    padding-left: 18px;
    padding-right: 12px;
}

@media (min-width: 768px) {
    .modal-boarding-plan .modal-header {
        padding-top: 31px;
        padding-bottom: 0;
    }
    .modal-boarding-plan .modal-title {
        font-size: $s28;
        font-weight: 300;
        line-height: 38px;
    }
	.modal-boarding-plan .col-sm-6{
		width:50%;
	}
}

@media (max-width: 767px) {
    .modal-boarding-plan .modal-body{
        padding-top: 30px;
    }
    .modal-boarding-plan .modal-body p {
        font-size: $s13;
        line-height: 18px;
        margin-bottom: 0;
    }
    .modal-boarding-plan .modal-footer {
        padding: 5px 16px 13px;
    }
}

@media (max-width: 374px) {
    .modal-boarding-plan .modal-body{
        padding-top: 26px;
    }
    .modal-boarding-plan .modal-body p {
        font-size: $s11;
        line-height: 15px;
    }
    .modal-boarding-plan .modal-footer {
        padding: 3px 16px 12px;
    }
    .modal-boarding-plan .plan-option{
        margin-top: 22px;
    }
}
