.modal-boarding-complete {
    width: 544px;
}
.modal-boarding-complete .modal-body {
    text-align: center;
    padding-top: 117px;
    padding-bottom: 79px;
}
.modal-boarding-complete .modal-body img {
    width: 79px;
    margin: 0 auto 11px;
}
.modal-boarding-complete .modal-body p {
    font-size: 1.1875em;
    font-weight: 300;
}
.modal-boarding-complete .modal-body p span {
    color: #3b93ff;
    font-weight: 400;
}
.modal-boarding-complete .modal-footer {
    padding-bottom: 26px;
    padding-left: 32px;
    padding-right: 31px;
}

@media (max-width: 767px){
    .modal-boarding-complete .modal-intro {
        border-bottom: 1px solid #c7c7c7;
    }
    .modal-boarding-complete .modal-body {
        padding-bottom: 0;
        padding-top: 0;
        min-height: 208px;
        position: relative;
    }
    .modal-boarding-complete .modal-body > div {
        display: table;
        width: 100%;
    }
    .modal-boarding-complete .modal-body > div > div {
        display: table-row;
    }
    .modal-boarding-complete .modal-body section {
        vertical-align: middle;
        display: table-cell;
    }
    .modal-boarding-complete .modal-body img {
        width: 65px;
        margin-bottom: 6px;
    }
    .modal-boarding-complete .modal-body p {
        font-size: 1em;
    }
    .modal-boarding-complete .modal-footer {
        padding-bottom: 12px;
        height: 66px;
    }
}

@media (max-width: 374px){
    .modal-boarding-complete .modal-intro {
        border-bottom: 1px solid #c7c7c7;
    }
    .modal-boarding-complete .modal-body {
        padding-bottom: 0;
        padding-top: 0;
        min-height: 208px;
        position: relative;
    }
    .modal-boarding-complete .modal-body img {
        width: 55px;
        margin-bottom: 3px;
    }
    .modal-boarding-complete .modal-body p {
        font-size: .8125em;
    }
    .modal-boarding-complete .modal-footer {
        padding-bottom: 10px;
        height: 58px;
    }
}